<template>
    <transition name="modal-appear"
                @after-enter="$emit('after-enter')"
                @after-leave="$emit('after-leave')">
        <div v-if="visible"
             :class="$style.AsideModalWrapper">
            <VCircleButton :class="$style.close"
                           color="milk"
                           @click="$emit('close')">
                <IconClose class="frame-icon is-default" />
            </VCircleButton>

            <slot></slot>
        </div>
    </transition>
</template>

<script>
    /* components */
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconClose from '../../icons/IconClose';

    export default {
        name: 'AsideModalWrapper',

        components: {
            VCircleButton,
            IconClose
        },

        props: {
            visible: Boolean,
        },
    };
</script>

<style lang="scss" module>
    .AsideModalWrapper {
        position: absolute;
        right: 0;
        width: 48rem;
        height: 100%;
        padding: 5.6rem 5.2rem;
        background-color: $milk;
        transition: transform .3s linear;

        @include respond-to(sm) {
            left: 0;
            right: auto;
            width: 384px;
            padding: 40px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 32px 16px;
        }

        &:global(.modal-appear-enter-active) {
            transition: transform .4s;
        }

        &:global(.modal-appear-leave-active) {
            transition: transform .2s;
        }

        &:global(.modal-appear-enter),
        &:global(.modal-appear-leave-to) {
            transform: translateX(110%);

            @include respond-to(sm) {
                transform: translateX(-110%);
            }
        }
    }

    .close {
        position: fixed;
        top: 2.4rem;
        transform: translateX(-12.8rem);

        @include respond-to(sm) {
            top: 4rem;
            right: 4rem;
            transform: none;
        }

        @include respond-to(xs) {
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
        }

        &:before {
            @include respond-to(xs) {
                background-color: rgba($base-100, .4);
            }
        }
    }
</style>
