<template>
    <ModalWrapper :visible="visible"
                  :close-size="$mq === 'xs' ? 'big' : 'medium'"
                  @after-enter="$emit('after-enter')"
                  @after-leave="$emit('after-leave')"
                  @close="$emit('close')">
        <div :class="$style.container">
            <div ref="map"
                 :class="$style.map">
            </div>

            <ZoomButtons
                :class="$style.zoom"
                @zoom-in="zoomIn"
                @zoom-out="zoomOut"
            />
        </div>
    </ModalWrapper>
</template>

<script>
    import {
        initMap,
        getTileLayer,
        genHtmlMarker,
        genHtmlProjectMarker,
    } from '../../../assets/js/utils/mapUtils';

    /* components */
    import ModalWrapper from './ModalWrapper';
    import ZoomButtons from '../../common/map/ZoomButtons';

    export default {
        name: 'ContactModal',

        components: {
            ZoomButtons,
            ModalWrapper,
        },

        props: {
            visible: Boolean,

            data: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                map: undefined,
                latitude: null,
                longitude: null,
            };
        },

        computed: {
            item() {
                return this.data.contact;
            },

            link() {
                return `https://yandex.ru/maps/?rtext=~${this.longitude}%2C${this.latitude}`;
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.initMap();
            });
        },

        methods: {
            initMap() {
                this.latitude = this.item.latitude;
                this.longitude = this.item.longitude;
                this.map = initMap(this.$refs.map, {center: [this.latitude, this.longitude]});
                const tile = getTileLayer();
                tile.addTo(this.map);

                const html = genHtmlProjectMarker(this.link, this.item, this.data.colorClass);

                genHtmlMarker([this.item.latitude, this.item.longitude], html)
                    .addTo(this.map);
            },

            zoomIn() {
                this.map.zoomIn();
            },

            zoomOut() {
                this.map.zoomOut();
            },
        },
    };
</script>

<style lang="scss" module>
    .container {
        position: relative;
        height: 100%;
    }

    .map {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .zoom {
        position: absolute;
        right: 5.6rem;
        bottom: 5.6rem;
        z-index: 2;

        @include respond-to(sm) {
            right: $side-padding-tablet;
            bottom: $side-padding-tablet;
        }

        @include respond-to(sm) {
            right: $side-padding-mobile;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
</style>
