<template>
    <div :class="$style.ModalError">

        <div :class="$style.main">

            <h2 :class="$style.title">
                Ошибка
                <IconError :class="$style.icon" />
            </h2>

            <p :class="$style.subtitle">
                Произошла ошибка на стороне сервера, попробуйте еще раз.
            </p>

        </div>

        <div :class="$style.footer">

            <VButton :class="$style.btn"
                     @click="$emit('send-again')">
                Отправить еще раз
            </VButton>

        </div>

    </div>
</template>

<script>
    import IconError from '@/components/icons/IconError';
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'ModalError',

        components: {
            IconError,
            VButton,
        },
    };
</script>

<style lang="scss" module>
    .ModalError {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    .main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5.2rem 5.6rem 4rem;

        @include respond-to(sm) {
            padding: 4rem 4rem 3rem;
        }

        @include respond-to(xs) {
            padding: 2.4rem 1.6rem;
        }
    }

    .title {
        position: relative;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 124%;
        color: $base-500;
        letter-spacing: -1px;
        width: fit-content;
        margin: 0 auto 2.4rem;

        @include respond-to(sm) {
            font-size: 2.8rem;
        }

        @include respond-to(xs) {
            margin-bottom: 8px;
            font-size: 2rem;
        }
    }

    .icon {
        position: absolute;
        max-width: 72px;
        right: -45px;
        top: -29px;

        @include respond-to(xs) {
            top: -35px;
        }
    }

    .subtitle {
        font-size: 1.8rem;
        line-height: 156%;
        color: $base-300;
        margin-top: 8px;

        @include respond-to(xs) {
            font-size: 1.6rem;
        }
    }

    .footer {
        padding: 3px 5.6rem 0;

        @include respond-to(sm) {
            padding: 3px 4rem 0;
        }

        @include respond-to(xs) {
            padding: 3px 2.4rem;
        }
    }

    .btn {
        width: 100%;
        transition: all .3s;
    }
</style>
