<template>
    <div :class="$style.ModalSuccess">

        <div :class="$style.main">

            <h2 :class="$style.title">
                Успешно
                <IconSuccess :class="$style.icon" />
            </h2>

            <p :class="$style.subtitle">
                <slot name="subtitle">
                    Менеджер проконсультирует вас
                    в течении часа
                </slot>
            </p>

            <p :class="$style.text">
                <slot name="text"></slot>
            </p>

        </div>

        <div :class="$style.footer">

            <p :class="$style.timer"
               class="caption">
                Это окно автоматически закроется через <span> {{ countdown }} сек</span>
            </p>

            <VButton :class="$style.btn"
                     @click="$emit('close')">
                Закрыть
            </VButton>

        </div>

    </div>
</template>

<script>
    import IconSuccess from '@/components/icons/IconSuccess';
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'ModalSuccess',

        components: {
            IconSuccess,
            VButton,
        },

        data() {
            return {
                countdown: 10,
            };
        },

        mounted() {
            this.startCloseTimer();
        },

        methods: {
            startCloseTimer() {
                if (this.countdown >= 0) {
                    setTimeout(() => {
                        this.countdown -= 1;
                        this.startCloseTimer();
                    }, 1000);
                } else {
                    this.$emit('close');
                }
            },
        }
    };
</script>

<style lang="scss" module>
    .ModalSuccess {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    .main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5.2rem 5.6rem 4rem;

        @include respond-to(sm) {
            padding: 4rem 4rem 3rem;
        }

        @include respond-to(xs) {
            padding: 2.4rem 1.6rem;
        }
    }

    .title {
        position: relative;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 124%;
        color: $base-500;
        letter-spacing: -1px;
        width: fit-content;
        margin: 0 auto 2.4rem;

        @include respond-to(sm) {
            font-size: 2.8rem;
        }

        @include respond-to(xs) {
            margin-bottom: 8px;
            font-size: 2rem;
        }
    }

    .icon {
        position: absolute;
        max-width: 72px;
        right: -45px;
        top: -29px;

        @include respond-to(xs) {
            top: -35px;
        }
    }

    .subtitle {
        font-size: 1.8rem;
        line-height: 156%;
        color: $base-300;
        margin-top: 8px;

        @include respond-to(xs) {
            font-size: 1.6rem;
        }
    }

    .text {
        font-size: 1.6rem;
        line-height: 152%;
        color: $base-500;
        margin-top: 24px;

        @include respond-to(xs) {
            font-size: 1.4rem;
        }
    }

    .timer {
        align-self: center;
        margin-bottom: 2.4rem;
        color: $base-200;
        font-size: 12px;
        text-align: center;

        @include respond-to(xs) {
            margin-bottom: 1.6rem;
        }

        span {
            color: $secondary-300;
            transition: color .3s ease;

            &:hover {
                color: $vice;
            }
        }
    }

    .footer {
        padding: 3px 5.6rem 0;

        @include respond-to(sm) {
            padding: 3px 4rem 0;
        }

        @include respond-to(xs) {
            padding: 3px 2.4rem;
        }
    }

    .btn {
        width: 100%;
        transition: all .3s;
    }

</style>
