<template>
    <transition name="modal-appear"
                @after-enter="$emit('after-enter')"
                @after-leave="$emit('after-leave')">
        <form v-if="visible"
              :class="$style.CurtainModal"
              @submit.prevent="$emit('on-submit')">

            <transition name="fade-appear">
                <VCircleButton
                    v-if="showBackButton"
                    :class="[$style.close, $style.back]"
                    color="milk"
                    @click="$emit('go-back')">
                    <IconArrowLeft
                        :class="$style.arrow"
                        class="frame-icon is-default"
                    />
                </VCircleButton>
            </transition>

            <VCircleButton :class="$style.close"
                           color="milk"
                           @click="$emit('close')">
                <IconClose class="frame-icon is-default" />
            </VCircleButton>

            <transition name="fade-appear"
                        mode="out-in">

                <CurtainModalSuccess v-if="notification === 'success'"
                                     v-on="$listeners">

                    <template #subtitle>
                        <slot name="successSubtitle"></slot>
                    </template>

                    <template #text>
                        <slot name="successText"></slot>
                    </template>

                </CurtainModalSuccess>

                <CurtainModalError v-else-if="notification === 'error'"
                                   v-on="$listeners"
                />

                <div v-else
                     :class="$style.wrap">

                    <VScrollBox
                        :rail-color="'vice'"
                        :y-rail-position="$mq === 'sm' ? 'left': 'right'"
                        resizable>
                        <div :class="$style.main">
                            <h2 :class="$style.title">
                                <slot name="title"></slot>
                            </h2>

                            <p :class="$style.subtitle">
                                <slot name="subtitle"></slot>
                            </p>

                            <div :class="$style.content">
                                <slot name="content"></slot>
                            </div>
                        </div>
                    </VScrollBox>

                    <div :class="$style.footer">

                        <transition name="fade-appear">
                            <p v-if="label && docs.length"
                               :class="$style.policy"
                               class="caption">
                                Нажимая на кнопку, вы принимаете
                                <a :href="docs[0].file"
                                   target="_blank">
                                    политику конфиденциальности
                                </a>
                                и даете согласие на обработку персональных данных
                            </p>
                        </transition>

                        <slot name="button">
                            <VButton type="submit">
                                Отправить
                            </VButton>
                        </slot>

                    </div>

                </div>

            </transition>

        </form>
    </transition>
</template>

<script>
    import {mapGetters} from 'vuex';

    import VCircleButton from '../../ui/button/VCircleButton';
    import VButton from '../../ui/button/VButton';
    import IconClose from '../../icons/IconClose';
    import IconArrowLeft from '../../icons/IconArrowDownLong';
    import CurtainModalSuccess from '@/components/layout/modals/CurtainModalSuccess';
    import CurtainModalError from '@/components/layout/modals/CurtainModalError';
    import VScrollBox from '@/components/ui/scrollbox/VScrollBox';
    import allOffersDocument from '@/queries/allOffersDocument.graphql';

    export default {
        name: 'CurtainModal',

        components: {
            VCircleButton,
            VButton,
            IconClose,
            IconArrowLeft,
            CurtainModalSuccess,
            CurtainModalError,
            VScrollBox,
        },

        props: {
            city: {
                type: String,
                default: '',
            },

            data: {
                type: Object,
                default: () => ({}),
            },

            notification: {
                type: String,
                default: '',
            },

            back: Boolean,
            label: Boolean,
            visible: Boolean,
        },

        async fetch() {
            const res = await this.$axios.$post('/graphql/', {
                query: allOffersDocument.loc.source.body,
                variables: {
                    cities: this.city || this.activeCityId,
                },
            });

            this.docs = res.data?.allOffersDocument?.edges?.length
                ? res.data.allOffersDocument.edges.map(doc => doc.node)
                : [];
        },

        data() {
            return {
                docs: []
            };
        },

        computed: {
            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),

            showBackButton() {
                return this.back && !this.notification;
            }
        },
    };
</script>

<style lang="scss" module>
    .CurtainModal {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 48rem;
        max-width: 480px;
        padding-bottom: 5.2rem;
        background: $milk;

        @include respond-to(sm) {
            left: 0;
            width: 38.4rem;
            padding-bottom: 4rem;
        }

        @include respond-to(xs) {
            width: 100%;
            max-width: 100%;
            padding-bottom: 2.4rem;
            overflow-x: hidden;
        }

        &:global(.modal-appear-enter-active) {
            transition: transform .4s;
        }

        &:global(.modal-appear-leave-active) {
            transition: transform .2s;
        }

        &:global(.modal-appear-enter),
        &:global(.modal-appear-leave-to) {
            transform: translateX(110%);

            @include respond-to(sm) {
                transform: translateX(-110%);
            }
        }

        :global(.fade-appear-enter-active),
        :global(.fade-appear-leave-active) {
            transition: opacity .2s linear;
        }

        :global(.fade-appear-enter),
        :global(.fade-appear-leave-active) {
            opacity: 0;
        }

        :global(.c-scrollbar._vertical) {
            top: 5.2rem;
            bottom: 4rem;

            @include respond-to(sm) {
                top: 4rem;
                bottom: 3rem;
            }

            @include respond-to(xs) {
                top: 2.4rem;
                bottom: 2.4rem;
            }
        }
    }

    .wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
    }

    .close {
        position: fixed;
        top: 2.4rem;
        transform: translateX(-7.2rem);

        @include respond-to(sm) {
            top: 4rem;
            right: 4rem;
            transform: none;
        }

        @include respond-to(xs) {
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
            z-index: 1;
        }

        &:before {
            @include respond-to(xs) {
                background-color: rgba($base-100, .4);
            }
        }

        &.back {
            transform: translateX(-13.6rem);

            @include respond-to(sm) {
                transform: none;
                right: 10.4rem;
            }

            @include respond-to(xs) {
                position: fixed;
                left: 16px;
                bottom: 24px;
                top: auto;
                z-index: 5;
                width: 40px;
                height: 40px;
            }
        }
    }

    .arrow {
        transform: rotate(90deg);
    }

    .title {
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 124%;
        color: $base-500;
        letter-spacing: -1px;

        @include respond-to(sm) {
            font-size: 2.8rem;
        }

        @include respond-to(xs) {
            width: 90%;
            font-size: 2rem;
        }
    }

    .subtitle {
        font-size: 1.8rem;
        line-height: 156%;
        color: $base-300;
        margin-top: 8px;

        @include respond-to(xs) {
            font-size: 1.6rem;
        }
    }

    .main {
        padding: 5.2rem 5.6rem 4rem;

        @include respond-to(sm) {
            padding: 4rem 4rem 3rem;
        }

        @include respond-to(xs) {
            padding: 2.4rem 1.6rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 3px 5.6rem 0;
        box-shadow: inset 0 10px 12px 2px $milk, 0 -3px 30px 24px $milk;
        z-index: 1;

        @include respond-to(sm) {
            padding: 3px 4rem 0;
        }

        @include respond-to(xs) {
            padding: 3px 2.4rem;
        }
    }

    .btn {
        width: 100%;
        z-index: 5;
        transition: all .3s;
    }

    .policy {
        margin-bottom: 2.4rem;
        color: $base-200;
        font-size: 12px;

        @include respond-to(xs) {
            margin-bottom: 1.6rem;
        }

        a,
        span {
            color: $secondary-300;
            transition: color .3s ease;

            &:hover {
                color: $vice;
            }
        }
    }
</style>
