<template>
    <ModalWrapper :visible="visible"
                  :close-size="$mq === 'xs' ? 'big' : 'medium'"
                  :close-bordered="false"
                  @after-enter="$emit('after-enter')"
                  @after-leave="$emit('after-leave')"
                  @close="$emit('close')">
        <MediaGallery
            :album="album"
            :tabs="tabs"
            :start-index="data.index"
            :start-tab="activeTab"
            :display-field="data.displayField"
            :preview-field="data.previewField"
            :no-tabs="data.noTabs"
            @change-tab="onChangeTab"
        />
    </ModalWrapper>
</template>

<script>
    import ModalWrapper from './ModalWrapper';
    import MediaGallery from '../../common/MediaGallery';

    export default {
        name: 'GalleryModal',

        components: {
            MediaGallery,
            ModalWrapper
        },

        props: {
            visible: Boolean,

            data: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                activeTab: null,
            };
        },

        computed: {
            tabs() {
                if (this.data.skipTabs) {
                    return [];
                }
                return this.data.album.map(item => ({
                    description: item.description,
                    id: item.id,
                    label: item.name,
                }));
            },

            album() {
                return this.activeTab ? this.data.album.find(item => item.id === this.activeTab) : this.data.album;
            },
        },

        beforeMount() {
            if (this.data.tab) {
                this.activeTab = this.data.tab;
            } else {
                this.activeTab = this.tabs.length ? this.tabs[0].id : '';
            }
        },

        methods: {
            onChangeTab(id) {
                this.activeTab = id;
            }
        }
    };
</script>
