<template>
    <ModalWrapper :visible="visible"
                  @after-enter="$emit('after-enter')"
                  @enter="isVisibleContent = true"
                  @before-leave="isVisibleContent = false"
                  @after-leave="$emit('after-leave')"
                  @close="$emit('close')">
        <div :class="[$style.IframeModal, classList]">
            <component
                :is="tag"
                :class="$style.inner"
                :src="url"
            />
        </div>
    </ModalWrapper>
</template>

<script>
    import ModalWrapper from './ModalWrapper';

    export default {
        name: 'IframeModal',

        components: {
            ModalWrapper,
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },

            visible: Boolean,
        },

        data() {
            return {
                interval: null,
            };
        },

        computed: {
            tag() {
                return this.data?.tag
                    ? this.data.tag
                    : 'iframe';
            },

            url() {
                return this.data?.link;
            },

            classList() {
                return [
                    this.tag,
                ];
            },
        },

        watch: {
            visible(val) {
                if (val === false) {
                    this.$emit('after-leave');
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .IframeModal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 128rem;
        max-width: 1440px;
        height: 72rem;
        max-height: calc(100vh - 20rem);
        transform: translate(-50%, -50%);

        @include respond-to(sm) {
            width: 100%;
            height: 480px;
            max-height: none;
        }

        @include respond-to(xs) {
            height: 100%;
        }
    }

    .inner {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        border: none;
    }

    .close {
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: 3;
    }
</style>
