<template>
    <ModalWrapper :visible="visible"
                  :close-size="$mq === 'xs' ? 'big' : 'medium'"
                  @after-enter="$emit('after-enter')"
                  @after-leave="$emit('after-leave')"
                  @close="$emit('close')">
        <InfraMap
            :project="data.project"
            :infra="data.infra"
        />
    </ModalWrapper>
</template>

<script>
    import ModalWrapper from './ModalWrapper';
    import InfraMap from '../../pages/project-slug/infra/InfraMap';

    export default {
        name: 'InfraModal',

        components: {
            InfraMap,
            ModalWrapper,
        },

        props: {
            visible: Boolean,

            data: {
                type: Object,
                default: () => ({}),
            },
        },
    };
</script>

<style lang="scss" module>
    .InfraModal {
        //
    }
</style>
