<template>
    <transition name="form-appear"
                @after-enter="$emit('after-enter')"
                @after-leave="$emit('after-leave')">
        <div v-if="visible"
             :class="$style.InfraMobileModal">
            <div :class="$style.wrap">
                <div :class="$style.button">
                    <VCircleButton :class="$style.close"
                                   color="milk"
                                   size="small"
                                   @click="$modal.close()">
                        <IconClose class="frame-icon is-default" />
                    </VCircleButton>
                </div>
                <div :class="$style.body">
                    <VTag v-if="infra.type"
                          :color="data.colorClass ? data.colorClass : 'vice'"
                          outline
                          :class="$style.tag">
                        {{ infra.type }}
                    </VTag>

                    <div v-if="infra.name"
                         :class="$style.name"
                         v-html="infra.name">
                    </div>

                    <div v-if="infra.address"
                         :class="$style.address"
                         v-html="infra.address">
                    </div>

                    <div v-if="infra.addText"
                         :class="$style.address"
                         v-html="infra.addText">
                    </div>

                    <div v-if="infra.maininfracontentSet || completion"
                         :class="$style.info">
                        <template v-if="infra.maininfracontentSet">
                            <div v-for="item in infra.maininfracontentSet"
                                 :key="item.id"
                                 :class="$style.row">
                                <span :class="$style.label"
                                      v-html="item.name">
                                </span>
                                <span :class="$style.value"
                                      v-html="item.value">
                                </span>
                            </div>
                        </template>

                        <div v-if="completion"
                             :class="$style.row">
                            <span :class="$style.label">
                                Срок сдачи
                            </span>
                            <span :class="$style.value">
                                {{ completion }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import VCircleButton from '@/components/ui/button/VCircleButton';
    import IconClose from '@/components/icons/IconClose';
    import {prettyDate} from 'frontend/assets/js/utils/commonUtils';
    import VTag from '@/components/ui/tag/VTag';

    export default {
        components: {
            VTag,
            IconClose,
            VCircleButton,
        },

        props: {
            submited: {
                type: Boolean,
                default: false,
            },

            visible: Boolean,

            data: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            infra() {
                return this.data.infra ? this.data.infra : {};
            },

            completion() {
                if (this.infra.exploitation) {
                    const now = new Date();
                    const exploitation = new Date(this.infra.exploitation);
                    return exploitation < now ? 'сдан' : `${prettyDate(this.infra.exploitation)}`;
                }
                return '';
            },
        },

        methods: {},
    };
</script>

<style lang="scss" module>
    .InfraMobileModal {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        &:global(.form-appear-enter-active) {
            transition: transform .5s;
        }

        &:global(.form-appear-leave-active) {
            transition: transform .4s;
        }

        &:global(.form-appear-enter),
        &:global(.form-appear-leave-to) {
            transform: translateY(110%);
        }
    }

    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 258px;
        padding: 28px 24px 20px;
        border-radius: 16px;
        background-color: $body-bg;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);
        pointer-events: all;
        transition: all .2s ease-out;
    }

    .button {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close {
        border: 1px solid $base-100;
        border-radius: 50%;
    }

    .info {
        margin-top: 16px;
        border-top: 1px solid $base-100;
    }

    .tag {
        margin-bottom: 8px;
    }

    .name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.52;
        color: $base-500;
    }

    .address {
        margin-top: 4px;
        font-size: 14px;
        line-height: 1.16;
        color: $base-300;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        font-size: 14px;
        line-height: 1.46;

        &:first-of-type {
            margin-top: 16px;
        }
    }

    .value {
        font-weight: bold;
    }
</style>
