<template>
    <ModalWrapper :visible="visible"
                  :close-size="$mq === 'xs' ? 'big' : 'medium'"
                  :moved="movedCloseBtn"
                  @after-enter="$emit('after-enter')"
                  @after-leave="$emit('after-leave')"
                  @close="$emit('close')">
        <component :is="component"
                   :not-leave="notLeave"
                   :inbox-cities="cities"
                   :project-kind="projectKind"
                   :filtered-city="filteredCity"
                   @open-project="movedCloseBtn = true"
                   @close-project="movedCloseBtn = false"
        />
    </ModalWrapper>

</template>

<script>
    import Map from '../../common/projects-map/Map';
    import ModalWrapper from './ModalWrapper';

    export default {
        name: 'MapModal',

        components: {
            ModalWrapper,
        },

        props: {
            visible: Boolean,

            data: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                movedCloseBtn: false,
            };
        },

        computed: {
            component() {
                return this.data?.component ? this.data.component : Map;
            },

            cities() {
                return this.data?.cities ? this.data.cities : [];
            },

            projectKind() {
                return this.data?.projectKind ? this.data.projectKind : 'residential';
            },

            filteredCity() {
                return this.data?.filteredCity ? this.data.filteredCity : '';
            },

            notLeave() {
                return this.data?.notLeave ? this.data.notLeave : false;
            },
        },
    };
</script>

<style lang="scss" module>
    .container {
        height: 100%;
    }
</style>
