<template>
    <transition name="fade"
                @enter="$emit('enter')"
                @after-enter="$emit('after-enter')"
                @before-leave="$emit('before-leave')"
                @after-leave="$emit('after-leave')">
        <div v-if="visible"
             ref="container"
             :class="$style.ModalWrapper">
            <VCircleButton :class="[$style.close, {[$style._moved]: moved}]"
                           absolute
                           :bordered="closeBordered"
                           :color="closeColor"
                           :size="closeSize"
                           @click="$emit('close')">
                <IconClose class="frame-icon is-default" />
            </VCircleButton>
            <slot></slot>
        </div>
    </transition>
</template>

<script>
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconClose from '../../icons/IconClose';

    export default {
        name: 'ModalWrapper',

        components: {
            IconClose,
            VCircleButton,
        },

        props: {
            visible: Boolean,

            closeColor: {
                type: String,
                default: 'milk',
            },

            closeSize: {
                type: String,
                default: 'medium',
            },

            closeBordered: {
                type: Boolean,
                default: true,
            },

            moved: Boolean,
        },
    };
</script>

<style lang="scss" module>
    .ModalWrapper {
        position: relative;
        height: 100%;
    }

    .close {
        top: 5.2rem;
        right: 5.6rem;
        z-index: 10;
        will-change: transform;
        transition: transform .3s linear;
        transition-delay: 0s;

        &._moved {
            transform: translateX(-44.7rem);
            transition-delay: .05s;
        }

        @include respond-to(sm) {
            top: 40px;
            left: auto;
            right: 40px;
        }

        @include respond-to(xs) {
            top: 16px;
            right: 16px;
        }
    }
</style>
