<template>
    <transition name="form-appear"
                @after-enter="$emit('after-enter')"
                @after-leave="$emit('after-leave')">
        <div v-if="visible"
             :class="$style.OffersModal">
            <div :class="[$style.wrap, classes]">
                <div :class="$style.head">
                    <div v-if="isDetail"
                         :class="$style.prev">
                        <VCircleButton :class="$style.close"
                                       color="milk"
                                       @click="handlePrevClick">
                            <IconArrowRightLong class="is-default" />
                        </VCircleButton>
                    </div>
                    <div :class="$style.title"
                         class="subtitle3">
                        {{ title }}
                    </div>
                    <div :class="$style.close">
                        <VCircleButton :class="$style.close"
                                       color="milk"
                                       @click="$modal.close()">
                            <IconClose class="frame-icon is-default" />
                        </VCircleButton>
                    </div>
                </div>
                <div v-if="!isDetail"
                     :class="$style.list">
                    <div v-for="(offer, idx) in data.offers"
                         :key="idx"
                         :class="$style.offer"
                         @click="handleOfferClick(idx)">
                        <MortgageBank
                            :offer="offer"
                            size="large"
                        />
                    </div>
                </div>
                <div v-else
                     :class="$style.list">
                    <MortgageBankCard
                        v-for="(item, idx) in offersList"
                        :key="idx"
                        :class="$style.offer"
                        :offer="item.node"
                        :name="data.offers[selectedBank].name"
                        :image="data.offers[selectedBank].logo"
                        size="large"
                    />
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import VCircleButton from '@/components/ui/button/VCircleButton';
    import IconClose from '@/components/icons/IconClose';
    import MortgageBank from '@/components/common/mortgage/MortgageBank';
    import MortgageBankCard from '@/components/common/mortgage/MortgageOfferCard';
    import IconArrowRightLong from '@/components/icons/IconArrowRightLong';

    export default {
        components: {
            IconArrowRightLong,
            MortgageBankCard,
            MortgageBank,
            IconClose,
            VCircleButton,
        },

        props: {
            submited: {
                type: Boolean,
                default: false,
            },
            visible: Boolean,

            data: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                isDetail: false,
                selectedBank: 0,
                loading: false,
            };
        },

        computed: {
            title() {
                return this.isDetail ? this.data.offers[this.selectedBank].name : 'Ипотечные предложения';
            },

            offersList() {
                return this.data.offers[this.selectedBank].offerSet.edges;
            },

            classes() {
                return [
                    this.data?.backgroundColor ? [this.$style[`_${this.data.backgroundColor}`]] : '',
                    {
                        [this.$style._loading]: this.loading,
                    },
                ];
            },
        },

        created() {
            if (this.data?.bank || this.data?.bank === 0) {
                this.selectedBank = this.data.bank;
                this.isDetail = true;
            }
        },

        methods: {
            handleOfferClick(idx) {
                this.loading = true;
                setTimeout(() => {
                    this.selectedBank = idx;
                    this.isDetail = true;
                    this.loading = false;
                }, 300);
            },

            handlePrevClick() {
                this.loading = true;
                setTimeout(() => {
                    this.isDetail = false;
                    this.loading = false;
                }, 300);
            },
        },
    };
</script>

<style lang="scss" module>
    .OffersModal {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        &:global(.form-appear-enter-active) {
            transition: transform .8s;
        }

        &:global(.form-appear-leave-active) {
            transition: transform .4s;
        }

        &:global(.form-appear-enter),
        &:global(.form-appear-leave-to) {
            transform: translateX(110%);
        }
    }

    .wrap {
        height: 100%;
        overflow-y: auto;
        padding: 2rem $side-padding-mobile;
        background-color: $base-500;
        pointer-events: all;
        transition: all .2s ease-out;

        &._loading {
            .title,
            .offer {
                opacity: 0;
            }
        }

        &._gray {
            background-color: $base-50;

            .title {
                color: $base-500;
            }
        }
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .prev {
        width: 3.2rem;
        height: 3.2rem;

        svg {
            width: 4rem;
            height: 4rem;
            transform: rotate(180deg);
            color: $base-500;
        }
    }

    .title {
        color: $milk;
        opacity: 1;
        transition: opacity .3s ease;
    }

    .list {
        margin-top: 2.4rem;
    }

    .offer {
        height: 11.6rem;
        margin-top: .8rem;
        opacity: 1;
        transition: opacity .3s ease;

        &:first-child {
            margin-top: 0;
        }
    }
</style>
