<template>
    <CurtainModal :visible="visible"
                  :notification="notification"
                  :back="step > 1"
                  label
                  v-on="$listeners"
                  @go-back="step--"
                  @send-again="goToForm"
                  @on-submit="onButtonClick">

        <template #title>
            Оставить заявку на продажу участка
        </template>

        <template #content>

            <div :class="$style.progress">

                <ProgressBar :percent="progressWidth" />

                <div :class="$style.progressBottom">
                    <p>
                        {{ subtitleText }}
                    </p>
                    <div :class="$style.pagination">
                        <span>
                            {{ stage }}
                        </span>
                        <span class="c-base-300">/ 02</span>
                    </div>
                </div>

            </div>

            <transition name="fade"
                        mode="out-in">
                <div v-if="step === 1"
                     :key="1"
                     :class="$style.form">

                    <div :class="$style.input">
                        <VInput
                            v-model="values.name"
                            label="Имя"
                            :error="errors.name"
                            @input="errors.name = ''"
                        />
                        <FormHint v-if="errors.name"
                                  :class="$style.error">
                            {{ errors.name }}
                        </FormHint>
                    </div>

                    <div :class="$style.input">
                        <VInput
                            v-model="values.phone"
                            mask="phone"
                            label="Телефон"
                            :error="errors.phone"
                            @input="errors.phone = ''"
                        />
                        <FormHint v-if="errors.phone"
                                  :class="$style.error">
                            {{ errors.phone }}
                        </FormHint>
                    </div>

                    <div :class="$style.input">
                        <VInput
                            v-model="values.email"
                            type="email"
                            label="Email"
                            :error="errors.email"
                            @input="errors.email = ''"
                        />
                        <FormHint v-if="errors.email"
                                  :class="$style.error">
                            {{ errors.email }}
                        </FormHint>
                    </div>
                </div>

                <div v-if="step === 2"
                     :key="2"
                     :class="$style.form">

                    <div :class="$style.input">
                        <VInput
                            v-model="values.cadastralNumber"
                            label="Кадастровый номер участка"
                            :error="errors.cadastralNumber"
                            @input="errors.cadastralNumber = ''"
                        />
                        <FormHint v-if="errors.cadastralNumber"
                                  :class="$style.error">
                            {{ errors.cadastralNumber }}
                        </FormHint>
                    </div>

                    <div :class="$style.input">
                        <VInput
                            v-model="values.price"
                            numbers
                            label="Стоимость участка по вашей оценке"
                            :error="errors.price"
                            @input="errors.price = ''"
                        />
                        <FormHint v-if="errors.price"
                                  :class="$style.error">
                            {{ errors.price }}
                        </FormHint>
                    </div>

                    <div :class="$style.input">
                        <InputFile
                            ref="file"
                            multiple
                            :max-size="3000000"
                            :formats="['pdf', 'doc', 'docx', 'rar', 'jpg', 'jpeg', 'png', 'xls', 'xlsx', 'txt', 'tiff']"
                            :error="errors.documents"
                            label="Прикрепить документы"
                            @change="setFile"
                            @on-error="onFileError"
                        />
                        <FormHint v-if="errors.documents"
                                  :class="$style.error">
                            {{ errors.documents }}
                        </FormHint>
                    </div>

                    <div :class="$style.input">
                        <VInput
                            v-model="values.message"
                            label="Сопроводительное письмо"
                            :error="errors.message"
                            @input="errors.message = ''"
                        />
                        <FormHint v-if="errors.message"
                                  :class="$style.error">
                            {{ errors.message }}
                        </FormHint>
                    </div>
                </div>
            </transition>
        </template>

        <template #button>
            <VButton :class="[$style.btn, {[$style.btnShort]: step === 2}]"
                     type="submit">
                {{ buttonText }}
            </VButton>
        </template>

        <template #successSubtitle>
            Ваша заявка отправлена.
        </template>

        <template #successText>
            В ближайшее время с вами свяжется менеджер,
            чтобы обсудить дальнейшие шаги.
        </template>

    </CurtainModal>
</template>

<script>
    /* utils */
    import {cleanPhone, leadingZero} from 'frontend/assets/js/utils/commonUtils';

    /* queries */
    import saleRequest from '../../../queries/requests/saleRequest.graphql';
    import validatePhone from '../../../queries/requests/validatePhone.graphql';

    /* components */
    import CurtainModal from '@/components/layout/modals/CurtainModal';
    import VInput from '@/components/ui/input/VInput';
    import InputFile from '@/components/ui/input/InputFile';
    import FormHint from '@/components/common/form/FormHint';
    import VButton from '../../ui/button/VButton';
    import ProgressBar from '@/components/common/ProgressBar';

    export default {
        name: 'PartnersModal',

        components: {
            CurtainModal,
            VInput,
            InputFile,
            FormHint,
            VButton,
            ProgressBar,
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },

            visible: Boolean
        },

        data() {
            return {
                notification: '',
                step: 1,
                values: {
                    name: '',
                    phone: '',
                    email: '',
                    cadastralNumber: '',
                    price: '',
                    documents: [],
                    fileName: '',
                    message: '',
                },
                errors: {
                    name: '',
                    phone: '',
                    email: '',
                    cadastralNumber: '',
                    price: '',
                    documents: '',
                    message: '',
                },
            };
        },

        computed: {
            stage() {
                return leadingZero(this.step);
            },

            buttonText() {
                return this.step === 1 ? 'Продолжить' : 'Отправить';
            },

            subtitleText() {
                return this.step === 1 ? 'личная информация' : 'информация о участке';
            },

            progressWidth() {
                return this.step === 1 ? 3 : 97;
            },
        },

        methods: {
            setFile(file) {
                this.values.documents = file;
            },

            onFileError(error) {
                this.errors.documents = error;
            },

            goToForm() {
                this.notification = '';
                this.step = 1;
            },

            async onButtonClick() {
                if (this.step === 1) {
                    if (await this.validateForm1()) {
                        this.step = 2;
                    }
                } else {
                    this.handleFormSubmit();
                }
            },

            async handleFormSubmit() {
                try {
                    if (!this.validateForm2()) {
                        return;
                    }

                    const inputObj = {
                        input: {
                            name: this.values.name,
                            phone: cleanPhone(this.values.phone),
                            email: this.values.email,
                            cadastralNumber: this.values.cadastralNumber,
                            price: this.values.price === '' ? null : this.values.price.replace(/\s/g, ''),
                            message: this.values.message,
                        }
                    };

                    const body = new FormData();
                    body.append('query', saleRequest.loc.source.body);
                    body.append('variables', JSON.stringify(inputObj));

                    [...this.values.documents].forEach(file => {
                        body.append('documents', file);
                    });

                    const res = await this.$axios.$post('/graphql/', body);

                    if (res.data.saleRequest.errors) {
                        res.data.saleRequest.errors.forEach(er => {
                            this.errors[er.field] = er.messages[0];
                        });
                    } else {
                        this.notification = 'success';
                        this.$yandexMetrika.reachGoal('lead-sale-land');
                    }
                } catch (e) {
                    this.notification = 'error';
                }
            },

            async validateForm1() {
                let isValidated = true;
                const cleanedPhone = cleanPhone(this.values.phone);

                for (const [key, value] of Object.entries(this.values)) {
                    switch (key) {
                        case 'name':
                            if (!value) {
                                this.errors.name = 'Поле имени не может быть пустым';
                                isValidated = false;
                            }

                            break;

                        case 'phone':
                            if (!cleanedPhone) {
                                this.errors.phone = 'Поле телефона не может быть пустым';
                                isValidated = false;
                            } else {
                                try {
                                    const res = await this.$axios.$post('/graphql/', {
                                        query: validatePhone.loc.source.body,
                                        variables: {
                                            phone: cleanedPhone,
                                        },
                                    });

                                    if (!res.data.validatePhone.ok) {
                                        this.errors.phone = 'Введите корректный номер телефона.';
                                        isValidated = false;
                                    }
                                } catch (e) {
                                    console.log(e);
                                }
                            }
                            break;
                        case 'email':
                            if (!value) {
                                this.errors.email = 'Поле эл. почты не может быть пустым';
                                isValidated = false;
                            }

                            if (!/^\S+@\S+$/.test(value)) {
                                this.errors.email = 'Эл. почта введена неверно';
                                isValidated = false;
                            }

                            break;
                    }
                }

                return isValidated;
            },

            validateForm2() {
                let isValidated = true;

                for (const [key, value] of Object.entries(this.values)) {
                    switch (key) {
                        case 'cadastralNumber':
                            if (!value) {
                                this.errors.cadastralNumber = 'Поле номера участка не может быть пустым';
                                isValidated = false;
                            }

                            break;

                        case 'documents':
                            if (!this.$refs.file.validate()) {
                                isValidated = false;
                            }

                            break;
                    }
                }

                return isValidated;
            },
        }
    };
</script>

<style lang="scss" module>
    .progress {
        margin-top: 4rem;

        @include respond-to(xs) {
            margin-top: 1.6rem;
        }
    }

    .btn {
        width: 100%;
        z-index: 5;
        transition: all .3s;
    }

    .btnShort {
        @include respond-to(xs) {
            width: calc(100% - 52px);
        }
    }

    .progressBottom {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 146%;
        color: $base-500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .form {
        margin-top: 3.6rem;

        @include respond-to(sm) {
            margin-top: 2rem;
        }
    }

    .input {
        position: relative;
        margin-bottom: 4rem;

        @include respond-to(sm) {
            margin-bottom: 2rem;
        }
    }

    .error {
        font-weight: 500;
        font-size: 1.2rem;
    }

</style>
