<template>
    <AsideModalWrapper :visible="visible"
                       @after-enter="$emit('after-enter')"
                       @after-leave="$emit('after-leave')"
                       @close="$emit('close')">
        <transition name="fade"
                    mode="out-in">
            <div v-if="state === 'form'"
                 :key="'form'"
                 :class="$style.body">
                <h5 v-if="data.title"
                    :class="$style.title"
                    class="title h4">
                    {{ data.title }}
                </h5>

                <p v-if="data.subtitle"
                   :class="$style.subtitle"
                   class="p1">
                    {{ data.subtitle }}
                </p>

                <component
                    :is="data.form"
                    :id="data.id"
                    :doc="doc.file"
                    :data="data.obj ? data.obj : null"
                    @change-state="handleChangeState"
                />
            </div>

            <div v-else
                 :key="'result'"
                 :class="$style.result">
                <div :class="$style.center">
                    <div :class="$style.resultTitle"
                         class="title h4">
                        <span>
                            {{ state === 'error' ? 'Ошибка' : 'Успешно' }}
                        </span>

                        <IconError
                            v-if="state === 'error'"
                            :class="$style.icon"
                        />

                        <IconSuccess
                            v-else
                            :class="$style.icon"
                        />
                    </div>

                    <p :class="$style.text"
                       class="p1 text">
                        <template v-if="state === 'error'">
                            Произошла ошибка на стороне сервера, <br>
                            попробуйте еще раз.
                        </template>

                        <template v-else>
                            Менеджер проконсультирует вас <br>
                            в течении часа
                        </template>
                    </p>
                </div>

                <p :class="[$style.small, $style._textCenter]"
                   class="p4">
                    <template v-if="state !== 'error'">
                        Это окно автоматически закроется через
                        <span :class="$style.seconds">
                            0{{ seconds }} сек
                        </span>
                    </template>
                </p>

                <VButton :class="$style.button"
                         @click.prevent="handleResultButtonClick">
                    {{ state === 'error' ? 'Отправить еще раз' : 'Закрыть' }}
                </VButton>
            </div>
        </transition>
    </AsideModalWrapper>
</template>

<script>
    import {mapGetters} from 'vuex';

    /* queries */
    import allOffersDocument from '../../../queries/allOffersDocument.graphql';

    /* components */
    import AsideModalWrapper from './AsideModalWrapper';
    import VButton from '../../ui/button/VButton';
    import IconError from '../../icons/IconError';
    import IconSuccess from '../../icons/IconSuccess';

    export default {
        name: 'RequestFormModal',

        components: {
            AsideModalWrapper,
            VButton,
            IconError,
            IconSuccess,
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },

            visible: Boolean,
        },

        async fetch() {
            const res = await this.$axios.$post('/graphql/', {
                query: allOffersDocument.loc.source.body,
                variables: {
                    cities: this.data?.city || this.activeCityId,
                },
            });

            this.doc = res.data?.allOffersDocument?.edges?.length
                ? res.data.allOffersDocument.edges[0].node
                : {};
        },

        data() {
            return {
                timer: null,
                seconds: 9,
                state: 'form',
                doc: {},
            };
        },

        computed: {
            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),
        },


        methods: {
            handleResultButtonClick() {
                if (this.timer) {
                    this.resetTimer();
                }

                if (this.state === 'error') {
                    this.state = 'form';
                } else {
                    this.close();
                }
            },

            handleChangeState(state) {
                this.state = state;

                if (state === 'success') {
                    if (this.data?.yandexMetrika) {
                        this.$yandexMetrika.reachGoal(this.data.yandexMetrika);
                    }
                    this.startTimer();
                }
            },

            close() {
                this.$emit('close');
            },

            startTimer() {
                this.timer = setInterval(() => requestAnimationFrame(this.updateTimer), 1000);
            },

            resetTimer() {
                clearInterval(this.timer);
                this.seconds = 9;
            },

            updateTimer() {
                if (this.seconds > 1) {
                    this.seconds--;
                } else {
                    this.close();
                    this.resetTimer(this.timer);
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .RequestFormModal {
        //
    }

    .wrap {
        position: absolute;
        right: 0;
        width: 48rem;
        height: 100%;
        padding: 5.6rem 5.2rem;
        background-color: $milk;
        transition: transform .3s linear;

        @include respond-to(sm) {
            left: 0;
            right: auto;
            width: 384px;
            padding: 40px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 32px 16px;
        }
    }

    .body,
    .result {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .title {
        margin-bottom: .8rem;
        color: $base-500;
    }

    .subtitle {
        margin-bottom: 4rem;

        @include respond-to(md) {
            margin-bottom: 2.4rem;
        }
    }

    .small {
        min-height: 1.6rem;
        margin-bottom: 2.4rem;
        color: $base-200;

        @include respond-to(xs) {
            margin-bottom: 16px;
        }

        a {
            color: $secondary-300;
        }
    }

    .resultTitle {
        position: relative;
        display: flex;
        margin-bottom: 2.4rem;
        color: $base-500;

        @include respond-to(xs) {
            margin-bottom: 16px;
        }
    }

    .text {
        width: 38.6rem;
        font-size: 1.8rem;
    }

    .seconds {
        color: $secondary-300;
    }

    .icon {
        position: absolute;
        top: -2.5rem;
        right: -5.2rem;
        width: 8.3rem;
        height: 7.2rem;

        @include respond-to(xs) {
            top: -32px;
            right: -48px;
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        text-align: center;
    }

    ._textCenter {
        text-align: center;
    }
</style>
