<template>
    <CurtainModal :visible="visible"
                  :notification="notification"
                  label
                  v-on="$listeners"
                  @send-again="goToForm"
                  @on-submit="onButtonClick">

        <template #title>
            Отправить резюме
        </template>

        <template #content>

            <VacancyForm
                ref="form"
                @on-submit="onSubmit"
            />

        </template>

        <template #button>
            <VButton :class="$style.btn"
                     type="submit">
                Отправить
            </VButton>
        </template>

        <template #successSubtitle>
            Ваше резюме отправлено.
        </template>

        <template #successText>
            Благодарим за интерес, проявленный к вакансии.
            Отдел по набору персонала свяжется с вами
            в течение рабочего дня.
        </template>

    </CurtainModal>
</template>

<script>
    import CurtainModal from '@/components/layout/modals/CurtainModal';
    import VacancyForm from '@/components/pages/about/vacancy/VacancyForm';
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'ResumeModal',

        components: {
            CurtainModal,
            VacancyForm,
            VButton,
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },

            visible: Boolean
        },

        data() {
            return {
                notification: '',
            };
        },

        methods: {
            goToForm() {
                this.notification = '';
            },

            onButtonClick() {
                this.$refs.form.handleFormSubmit();
            },

            onSubmit(status) {
                this.notification = status;
                if (status === 'success') {
                    this.$yandexMetrika.reachGoal('resume');
                }
            },
        }
    };
</script>

<style lang="scss" module>
    .btn {
        width: 100%;
        transition: all .3s;
    }
</style>
