<template>
    <CurtainModal :class="$style.CurtainModal"
                  :visible="visible"
                  :notification="notification"
                  :back="step > 1"
                  :label="step === 2"
                  v-on="$listeners"
                  @go-back="step--"
                  @send-again="goToForm"
                  @on-submit="onButtonClick">

        <template #content>
            <transition name="fade-appear"
                        mode="out-in">

                <VacancyDescription
                    v-if="step === 1 && !data.isResumeOnly"
                    :data="data"
                />
                <div v-else>

                    <h2 :class="$style.title">
                        {{ data.isResumeOnly ? 'Отправить резюме' : 'Отклик на вакансию' }}
                    </h2>

                    <p :class="$style.subtitle">
                        {{ data.title }}
                    </p>

                    <VacancyForm
                        ref="form"
                        :data="data"
                        @on-submit="onSubmit"
                    />

                </div>

            </transition>
        </template>

        <template #button>
            <VButton :class="[$style.btn, {[$style.btnShort]: step === 2}]"
                     type="submit">
                {{ buttonText }}
            </VButton>
        </template>

        <template #successSubtitle>
            Ваше резюме отправлено.
        </template>

        <template #successText>
            Благодарим за интерес, проявленный к вакансии.
            Отдел по набору персонала свяжется с вами
            в течение рабочего дня.
        </template>

    </CurtainModal>
</template>

<script>
    import CurtainModal from '@/components/layout/modals/CurtainModal';
    import VacancyDescription from '@/components/pages/about/vacancy/VacancyDescription';
    import VacancyForm from '@/components/pages/about/vacancy/VacancyForm';
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'VacancyModal',

        components: {
            VacancyDescription,
            CurtainModal,
            VacancyForm,
            VButton,
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },

            visible: Boolean,
        },

        data() {
            return {
                notification: '',
                step: 1,
            };
        },

        computed: {
            buttonText() {
                return this.step === 1 ? 'Откликнуться' : 'Отправить';
            },
        },

        methods: {
            goToForm() {
                this.notification = '';
            },

            onButtonClick() {
                this.step === 1 ? this.step = 2 : this.$refs.form.handleFormSubmit();
            },

            onSubmit(status) {
                this.notification = status;

                if (status === 'success') {
                    this.$yandexMetrika.reachGoal('apply-job');
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .CurtainModal {
        :global(.fade-appear-enter-active),
        :global(.fade-appear-leave-active) {
            transition: opacity .2s linear;
        }

        :global(.fade-appear-enter),
        :global(.fade-appear-leave-active) {
            opacity: 0;
        }
    }

    .title {
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 124%;
        color: $base-500;
        letter-spacing: -1px;

        @include respond-to(sm) {
            font-size: 2.8rem;
        }

        @include respond-to(xs) {
            font-size: 2rem;
        }
    }

    .subtitle {
        font-size: 1.8rem;
        line-height: 156%;
        color: $base-300;
        margin-top: 8px;

        @include respond-to(xs) {
            font-size: 1.6rem;
        }
    }

    .btn {
        width: 100%;
        z-index: 5;
        transition: all .3s;
    }

    .btnShort {
        @include respond-to(xs) {
            width: calc(100% - 52px);
        }
    }

</style>
