<template>
    <transition name="fade"
                @after-leave="$emit('after-leave')">
        <div v-if="visible"
             :class="$style.VisualModal">

            <div :class="$style.body">
                <div :class="$style.controls">

                    <div :class="$style.buttons">
                        <VCircleButton ref="prev"
                                       :class="[$style.btn, $style._prev]"
                                       :bordered="$device.isMobile"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>

                        <VCircleButton ref="next"
                                       :class="[$style.btn, $style._next]"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>
                    <span v-if="$mq === 'xs'"
                          :class="$style.fractionLabel">Дом</span>

                    <div :class="$style.fractionWrapper">
                        <GalleryFraction
                            :class="$style.fraction"
                            :current="fractionCurrent"
                            :total="fractionTotal"
                        />
                        <span :class="$style.fractionLabel">домов</span>
                    </div>

                    <VCircleButton :class="[$style.btn, $style.close]"
                                   color="milk"
                                   bordered
                                   :absolute="$device.isTablet"
                                   @click="$emit('close')">
                        <IconClose class="frame-icon is-default" />
                    </VCircleButton>
                </div>

                <div :class="$style.sliderWrapper">
                    <div ref="slider"
                         :class="$style.slider"
                         class="swiper-container">
                        <div ref="container"
                             class="swiper-wrapper">
                            <div v-for="item in data.buildings"
                                 :key="item.id"
                                 class="swiper-slide"
                                 :class="$style.slide">
                                <span :class="$style.subtitle">Дом</span>
                                <h3 :class="$style.name"
                                    v-html="item.name">
                                </h3>

                                <p :class="$style.info">
                                    <span :class="$style.completion">
                                        {{ item|completion }}
                                    </span>
                                    <span :class="$style.progress">
                                        {{ item.currentLevel }}%
                                    </span>
                                </p>

                                <p :class="$style.progressWrap">
                                    <span :class="$style.progressLine"
                                          :style="{width: `${item.currentLevel}%`}">
                                    </span>
                                </p>

                                <p v-if="item.flatsCount"
                                   :class="$style.count">
                                    {{ item.flatsCount }}
                                    {{ item.flatsCount|plural(['квартира', 'квартиры', 'квартир']) }}
                                </p>
                                <p v-else
                                   :class="$style.count">
                                    нет квартир в продаже
                                </p>

                                <div v-if="item.flatsCount"
                                     :class="$style.flats">
                                    <n-link v-for="(flatType, index) in flatsMinPrice"
                                            :key="index"
                                            :to="flatType.url"
                                            :class="$style.item">
                                        <span :class="$style.label">
                                            {{ flatType.label }}
                                        </span>
                                        <span :class="$style.value">
                                            от {{ flatType.price }} &#8381;
                                        </span>
                                        <IconArrowRight
                                            class="frame-icon"
                                            :class="$style.icon"
                                        />
                                    </n-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <transition name="fade"
                            appear>
                    <VButton v-if="activeBuildingFlatsCount"
                             :class="$style.link"
                             :link="link">
                        Подобрать квартиру в доме
                    </VButton>
                </transition>
            </div>
        </div>
    </transition>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {
        prettyCompletion,
        splitThousands,
        roundToMillions,
    } from '../../../assets/js/utils/commonUtils';

    /* components */
    import IconClose from '../../icons/IconClose';
    import VButton from '../../ui/button/VButton';
    import IconArrowRight from '../../icons/IconArrowRight';
    import GalleryFraction from '../../common/gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';

    export default {
        name: 'VisualModal',

        components: {
            VCircleButton,
            GalleryFraction,
            IconArrowRight,
            VButton,
            IconClose,
        },

        filters: {
            completion(val) {
                const year = val.builtYear;
                const quarter = val.readyQuarter;
                return prettyCompletion(quarter, year, 'Ключи в ');
            },
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },

            visible: Boolean,
        },

        data() {
            return {
                activeIndex: 0,
                slider: null,
            };
        },

        computed: {
            link() {
                return `/flats/?building=${this.activeBuildingId}`;
            },

            flatsMinPrice() {
                const flats = [];
                if (this.data?.buildings[this.activeIndex]?.flats0MinPrice) {
                    flats.push({
                        price: this.$device.isTablet ?
                            splitThousands(this.data?.buildings[this.activeIndex]?.flats0MinPrice)
                            :
                            `${roundToMillions(this.data?.buildings[this.activeIndex]?.flats0MinPrice)} млн`,
                        label: 'Студии',
                        url: '/flats/?rooms=0',
                    });
                }
                if (this.data?.buildings[this.activeIndex]?.flats1MinPrice) {
                    flats.push({
                        price: this.$device.isTablet ?
                            splitThousands(this.data?.buildings[this.activeIndex]?.flats1MinPrice)
                            :
                            `${roundToMillions(this.data?.buildings[this.activeIndex]?.flats1MinPrice)} млн`,
                        label: '1-комнатные',
                        url: '/flats/?rooms=1',
                    });
                }
                if (this.data?.buildings[this.activeIndex]?.flats2MinPrice) {
                    flats.push({
                        price: this.$device.isTablet ?
                            splitThousands(this.data?.buildings[this.activeIndex]?.flats2MinPrice)
                            :
                            `${roundToMillions(this.data?.buildings[this.activeIndex]?.flats2MinPrice)} млн`,
                        label: '2-комнатные',
                        url: '/flats/?rooms=2',
                    });
                }
                if (this.data?.buildings[this.activeIndex]?.flats3MinPrice) {
                    flats.push({
                        price: this.$device.isTablet ?
                            splitThousands(this.data?.buildings[this.activeIndex]?.flats3MinPrice)
                            :
                            `${roundToMillions(this.data?.buildings[this.activeIndex]?.flats3MinPrice)} млн`,
                        label: '3-комнатные',
                        url: '/flats/?rooms=3',
                    });
                }
                if (this.data?.buildings[this.activeIndex]?.flats4MinPrice) {
                    flats.push({
                        price: this.$device.isTablet ?
                            splitThousands(this.data?.buildings[this.activeIndex]?.flats4MinPrice)
                            :
                            `${roundToMillions(this.data?.buildings[this.activeIndex]?.flats4MinPrice)} млн`,
                        label: '4-комнатные',
                        url: '/flats/?rooms=4',
                    });
                }

                return flats;
            },

            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.data.buildings.length < 10 ? `0${this.data.buildings.length}` : `${this.data.buildings.length}`;
            },

            activeBuildingId() {
                return this.data.buildings[this.activeIndex].id;
            },

            activeBuildingFlatsCount() {
                return this.data.buildings[this.activeIndex].flatsCount;
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.initSwiper();
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[VisualModal] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 1,
                    allowTouchMove: false,
                    // loop: true,
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.activeIndex = this.data.buildings.findIndex(item => item.id === this.data.building.id);
                console.log(this.activeIndex);
                this.slider.slideTo(this.activeIndex, 0);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualModal {
        width: 100%;
        height: 100%;
    }

    .close {
        top: 4rem;
        right: 4rem;

        @include respond-to(xs) {
            position: relative;
            margin-right: 16px;
            top: auto;
            right: auto;
        }
    }

    .slide {
        padding-top: 2.4rem;

        @include respond-to(xs) {
            padding: 0;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 4rem;
        background-color: $base-50;

        @include respond-to(xs) {
            width: 100%;
            padding: 0;
            background-color: $milk;
        }
    }

    .link {
        margin-top: auto;

        @include respond-to(xs) {
            margin: auto 16px 32px;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        margin: 0 -4rem;
        padding: 0 4rem 2.4rem;
        border-bottom: 1px solid $base-100;

        @include respond-to(xs) {
            justify-content: space-between;
            margin: 0 -16px;
            padding: 16px;
            background-color: $base-50;
        }
    }

    .buttons {
        display: flex;
    }

    .btn {
        @include respond-to(xs) {
            margin-left: 16px;
        }

        &._next {
            margin-left: 1.6rem;
            transform: rotate(180deg);

            @include respond-to(xs) {
                display: none;
            }
        }

        &:global(.v-circle-button--medium) {
            @include respond-to(xs) {
                width: 42px;
                height: 42px;
            }
        }

        &:global(.is-disabled) {
            opacity: .5;
            pointer-events: none;
        }
    }

    .fractionWrapper {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 1.4rem;
        line-height: 1.16;
        color: $base-200;

        @include respond-to(xs) {
            display: none;
        }
    }

    .fractionLabel {
        margin-left: -.5rem;

        @include respond-to(xs) {
            font-size: 16px;
            line-height: 1.52;
            font-weight: 500;
        }
    }

    .sliderWrapper {
        @include respond-to(xs) {
            padding: 24px 0 16px;
            background-color: $milk;
        }
    }

    .subtitle {
        font-size: 1.2rem;
        line-height: 1.04;
        color: $base-200;

        @include respond-to(xs) {
            display: none;
        }
    }

    .name {
        margin-top: .8rem;
        color: $base-500;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 1.32;

        @include respond-to(xs) {
            margin-top: 0;
            padding: 0 16px;
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .info {
        display: flex;
        align-items: center;
        margin-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.16;

        @include respond-to(xs) {
            margin-top: 24px;
            padding: 0 16px;
        }
    }

    .completion {
        margin-right: auto;
        color: $base-500;
        font-weight: 500;

        @include respond-to(xs) {
            font-size: 14px;
        }
    }

    .progress {
        color: $base-300;
    }

    .progressWrap {
        position: relative;
        width: 100%;
        height: 4px;
        margin-top: 1.6rem;
        border-radius: 4px;
        background-color: $base-100;

        @include respond-to(xs) {
            width: auto;
            margin-top: 10px;
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    .progressLine {
        position: absolute;
        height: 100%;
        border-radius: 4px;
        background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
    }

    .count {
        margin-top: 4rem;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.52;
        color: $base-500;

        @include respond-to(xs) {
            margin-top: 28px;
            margin-bottom: 12px;
            padding: 0 16px;
            font-size: 14px;
            line-height: 1.16;
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2rem;

        @include respond-to(xs) {
            align-items: center;
            margin-bottom: 4px;
            padding-right: 2px;
            padding-left: 16px;
            padding-bottom: 4px;
            border-bottom: 1px solid $base-100;
        }
    }

    .label {
        font-size: 1.4rem;
        line-height: 1.46;
        color: $base-400;

        @include respond-to(xs) {
            color: $base-300;
        }
    }

    .value {
        flex: 1;
        text-align: right;
        font-size: 1.4rem;
        line-height: 1.46;
        font-weight: 500;
        color: $base-500;
    }

    .icon {
        display: none;

        @include respond-to(xs) {
            display: inline-flex;
            transform: rotate(180deg);
            fill: $vice;
        }
    }
</style>
