<template>
    <div>
        <TheHeader
            id="scroll-header"
            fixed
            small
        />
        <TheHeader
            id="header"
            main
        />

        <main :class="$style.main">
            <nuxt />
        </main>

        <TheFooter />

        <TheModal />

        <TheBurgerMenu v-if="isBurgerMenuVisible" />
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    /* components */
    import TheHeader from '~/components/layout/TheHeader';
    import TheFooter from '~/components/layout/TheFooter';
    import TheModal from '~/components/layout/TheModal';
    import TheBurgerMenu from '../components/layout/menu/TheBurgerMenu';

    export default {
        name: 'Default',

        components: {
            TheBurgerMenu,
            TheHeader,
            TheFooter,
            TheModal,
        },

        head() {
            return {
                title: `«Страна Девелопмент» — квартиры в новостройках от застройщика${this.currentCity ? ` в г.${this.currentCity.name}` : ''}`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `«Страна Девелопмент» — квартиры и коммерческие помещения в новостройках от застройщика${this.currentCity ? ` в г.${this.currentCity.name}` : ''}`,
                    },
                    {
                        hid: 'keywords',
                        name: 'keywords',
                        content: `страна девелопмент, застройщик, новостройки, квартиры, новые квартиры, коммерческая недвижимость${this.currentCity ? `, ${this.currentCity.name}` : ''}`,
                    },
                ],
                script: [
                    {
                        innerHTML: `
                            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                            })(window,document,'script','dataLayer','${this.currentCity?.name !== 'Москва' ? 'GTM-MR9TQWJ' : 'GTM-PB4MD35'}');
                        `,
                        async: true,
                    },
                ],
                noscript: [
                    {
                        innerHTML: `<iframe src="https://www.googletagmanager.com/ns.html?id='${this.currentCity?.name !== 'Москва' ? 'GTM-MR9TQWJ' : 'GTM-PB4MD35'}"
                                    height="0" width="0"
                                    style="display:none;visibility:hidden"></iframe>`,
                        body: true,
                    },
                ],
                __dangerouslyDisableSanitizers: ['script', 'noscript'],
            };
        },

        computed: {
            currentCity() {
                return this.$store.state.active_city;
            },

            ...mapState('header', {
                isBurgerMenuVisible: 'is_burger_menu_visible',
            }),
        },

        watch: {
            $route() {
                if (this.isBurgerMenuVisible) {
                    this.closeMenu();
                }
            },
        },

        beforeMount() {
            const script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://widget.planoplan.com/etc/multiwidget/release/static/js/main.js';
            script.onload = this.handleScriptLoad;
            document.head.appendChild(script);
        },

        methods: {
            ...mapActions({
                closeMenu: 'header/closeBurgerMenu',
                setScriptLoaded: 'planoplan/setScriptLoaded',
            }),

            handleScriptLoad() {
                this.setScriptLoaded();
            },
        },
    };
</script>

<style lang="scss" module>
    .main {
        min-height: calc(100vh - #{$footer-h});

        @include respond-to(xs) {
            min-height: 100%;
        }
    }
</style>
