<template>
    <div :class="$style.Error">

        <h1 :class="$style.title">
            {{ errorTitle }}
        </h1>

        <p :class="$style.text">
            {{ errorText }}
        </p>

        <VButton @click="handleClick">
            {{ buttonText }}
        </VButton>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import VButton from '@/components/ui/button/VButton';

    export default {

        components: {
            VButton,
        },
        layout: 'errorLayout',

        props: {
            error: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            errorTitle() {
                return this.error.statusCode === 503 ? 'Тех. работы' : this.error.statusCode;
            },

            errorText() {
                const code = this.error.statusCode;
                if (code === 404) {
                    return 'Такой страницы не существует или мы ее еще не построили...';
                } else if (code === 503) {
                    return 'Мы делаем сайт лучше, осталось немного. Попробуйте вернуться позже... ';
                }
                return 'Произошла внутренняя ошибка сервера, требуется перезагрузка...';
            },

            buttonText() {
                return this.error.statusCode === 404 ? 'Открыть меню' : 'Перезагрузить';
            },
        },

        methods: {
            ...mapActions('header', {
                openMenu: 'openBurgerMenu',
            }),

            handleClick() {
                this.error.statusCode === 404 ? this.openMenu() : window.location.href = '/';
            },
        },

    };
</script>

<style lang="scss" module>
    .Error {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        @include respond-to(xs) {
            padding: 0 16px;
        }
    }

    .title {
        color: $base-500;
        font-size: 8rem;
        line-height: 112%;
        font-weight: 500;

        @include respond-to(xs) {
            font-size: 4.8rem;
        }
    }

    .text {
        max-width: 31rem;
        margin-top: 1.6rem;
        margin-bottom: 4rem;
        text-align: center;
        color: $base-500;
        line-height: 152%;
    }

</style>
