<template>
    <div :class="$style.ErrorLayout">
        <TheHeader />

        <nuxt />

        <TheBurgerMenu v-if="isBurgerMenuVisible" />
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import TheHeader from '../components/layout/TheHeader';
    import TheBurgerMenu from '@/components/layout/menu/TheBurgerMenu';

    export default {
        components: {
            TheBurgerMenu,
            TheHeader,
        },

        computed: {
            ...mapState('header', {
                isBurgerMenuVisible: 'is_burger_menu_visible',
            }),
        },

        beforeDestroy() {
            this.closeMenu();
        },

        methods: {
            ...mapActions('header', {
                closeMenu: 'closeBurgerMenu',
            }),
        },
    };
</script>

<style lang="scss" module>
    .ErrorLayout {
        height: 100vh;
        padding-top: $header-h;

        @include respond-to(sm) {
            padding-top: $header-h-tablet;
        }

        @include respond-to(xs) {
            padding-top: $header-h-mobile;
        }
    }
</style>
