<template>
    <div>
        <main :class="$style.main">
            <nuxt />
        </main>
    </div>
</template>

<script>
    export default {
        name: 'Pdf',
    };
</script>

<style lang="scss" module>
    .pdf {
        //
    }
</style>
