<template>
    <div :class="$style.FlatPage"
         class="page-top">
        <FlatHero
            ref="hero"
            :lot="lot"
        />

        <FlatHeader :lot="lot" />

        <!--<ActionBlock-->
        <!--v-if="parkingLink"-->
        <!--:class="$style.action"-->
        <!--link-text="Подобрать машиноместо"-->
        <!--:link="parkingLink"-->
        <!--text="рядом с домом"-->
        <!--/>-->

        <Features
            v-if="features.length"
            :list="features"
            title="Особенности проекта"
        />

        <div v-if="furnishSet && furnishSet.length">
            <DecorationMobile
                v-if="$mq === 'xs'"
                :items="furnishSet"
                title="Отделка в квартире"
            />

            <Decoration
                v-else
                :items="furnishSet"
                page="lot"
            />
        </div>

        <Mortgage
            v-if="offers.length"
            :specs="mortgageSpecs"
            :facets="mortgageFacets"
            :initial-values="mortgageValues"
            :initial-count="offersCount"
            :init-offers="offers"
            :realty-id="lot.id"
            @change="updateFacets"
        />

        <ActionBlock
            v-if="offers.length"
            link-text="Все способы покупки"
            link="/purchase/mortgage/"
        />

        <Layouts
            v-if="cleanedLots.length"
            :tabs="tabs"
            :lots="cleanedLots"
            :active-tab="activeTab"
            :load-layouts="onLoadLayouts"
            title="Похожие квартиры"
            @more-click="onMoreLayoutsClick"
        />

        <Callback />
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import {convertToObject} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import globalFlat from '../../../queries/flat-id/globalFlat.graphql';
    import similarFlats from '../../../queries/flat-id/similarFlats.graphql';
    import similarFlatsSpecs from '../../../queries/flat-id/similarFlatsSpecs.graphql';
    import mortgageOffersSpecs from '../../../queries/mortgage/allOffersSpecs.graphql';
    import allBanks from '../../../queries/mortgage/allBanks.graphql';

    /* components */
    import ActionBlock from '../../../components/common/ActionBlock';
    import Decoration from '../../../components/common/decoration/Decoration';
    import Callback from '../../../components/common/callback/Callback';
    import Layouts from '../../../components/pages/project-slug/Layouts';
    import FlatHero from '../../../components/common/lot-hero/LotHero';
    import Features from '../../../components/common/features/Features';
    import Mortgage from '../../../components/common/mortgage/Mortgage';
    import DecorationMobile from '../../../components/common/decoration/DecorationMobile';
    import FlatHeader from '../../../components/pages/flat-id/FlatHeader';
    import mortgageOffersFacets from '@/queries/mortgage/allOffersFacets.graphql';

    export default {
        name: 'FlatPage',

        components: {
            FlatHeader,
            DecorationMobile,
            Mortgage,
            Features,
            FlatHero,
            Layouts,
            Callback,
            Decoration,
            ActionBlock,
        },

        async asyncData({$axios, params, error}) {
            if (!params.id) {
                return error({statusCode: 404, message: 'Лот не найден'});
            }
            try {
                const [lotRes, similarRes, similarTabsRes] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: globalFlat.loc.source.body,
                        variables: {
                            id: params.id,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: similarFlats.loc.source.body,
                        variables: {
                            id: params.id,
                            first: 7,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: similarFlatsSpecs.loc.source.body,
                        variables: {
                            id: params.id,
                        },
                    }),
                ]);

                const tabs = similarTabsRes.data?.similarFlatsSpecs?.length > 1
                    ? [{value: '', label: 'Любые'}, ...similarTabsRes.data.similarFlatsSpecs]
                    : similarTabsRes.data.similarFlatsSpecs;

                const lot = lotRes.data?.globalFlat;

                const mortgageSpecsRes = await $axios.$post('/graphql/', {
                    query: mortgageOffersSpecs.loc.source.body,
                    variables: {
                        type: 'residential',
                        city: lot.project.city?.id || null,
                    },
                });
                const specs = {...convertToObject(mortgageSpecsRes.data.allOffersSpecs)};
                const initialProgram = specs.program?.length ? specs.program[0].value : null;

                const mortgageFacetsRes = await $axios.$post('/graphql/', {
                    query: mortgageOffersFacets.loc.source.body,
                    variables: {
                        type: 'residential',
                        city: lot.project.city?.id || null,
                        program: initialProgram,
                    },
                });
                const facets = {...convertToObject(mortgageFacetsRes.data.allOffersFacets?.facets)};
                const values = {
                    // type: 'residential',
                    price: lot.price ? lot.price : facets.price?.min ? facets.price.min : null,
                    term: facets.term?.max ? facets.term.max : null,
                    deposit: facets.deposit?.min ? facets.deposit.min : null,
                    project: [lot.project.id],
                    city: lot.project.city?.id || null,
                    program: initialProgram,
                };

                const offersRes = await $axios.$post('/graphql/', {
                    query: allBanks.loc.source.body,
                    variables: {...values},
                });

                return {
                    lot: lot,
                    similarFlats: similarRes.data?.similarFlats?.edges,
                    tabs: tabs,
                    mortgageSpecs: specs,
                    mortgageFacets: facets,
                    offersCount: offersRes.data?.allBanks.totalCount,
                    offers: offersRes.data?.allBanks?.edges?.length ? offersRes.data.allBanks.edges.map(offer => offer.node) : [],
                    mortgageValues: {...values},

                    features: lot.project.projectfeatureSet,
                };
            } catch (e) {
                console.log('[FlatPage/ asyncData]:', e);
                return error({statusCode: 404, message: 'Лот не найден'});
            }
        },

        data() {
            return {
                tabs: [],
                similarFlats: [],
                first: 7,
                activeTab: '',
                mortgageSpecs: {},
                mortgageFacets: {},
                offers: [],
                offersCount: 0,
                mortgageValues: {
                    type: 'residential',
                    price: '',
                    program: '',
                    term: '',
                    deposit: '',
                    city: '',
                },

                lot: {},
                features: [],
            };
        },

        head() {
            const roomTitle = !this.lot.rooms ? 'Студия' : `${this.lot.rooms}-комнатная квартира`;
            const mortgage = this.lot.minMortgage ? ` Ипотека-онлайн от ${this.lot.minMortgage} руб/мес.` : '';

            return {
                title: `${roomTitle} ${this.lot.area}м² в проекте ${this.lot.project.name} — этаж ${this.lot.floor.number}, дом ${this.lot.building.name}`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `${roomTitle} ${this.lot.area}м²  в г. ${this.lot.project.city.name}. Купить квартиру онлайн в доме ${this.lot.building.name} в жилом районе ${this.lot.project.name}.${mortgage}`,
                    },
                ],
            };
        },

        computed: {
            cleanedLots() {
                return this.similarFlats.length ? this.similarFlats.map(item => item.node) : [];
            },

            parkingLink() {
                return this.lot.project?.id ? `/parking/?project=${this.lot.project.id}` : '';
            },

            furnishSet() {
                return this.lot.project?.furnishSet?.length ? this.lot.project.furnishSet.filter(item => item.imageSet && item.imageSet.length) : [];
            },
        },

        async mounted() {
            await this.setHeaderColor('gray');
            this.setSmallHeaderDisplay(false);
        },

        beforeDestroy() {
            this.setHeaderColor('milk');
            this.setSmallHeaderDisplay(true);
        },

        methods: {
            ...mapActions('header', [
                'setHeaderColor',
                'setSmallHeaderDisplay',
            ]),

            onMoreLayoutsClick() {
                this.$yandexMetrika.reachGoal('show-all-detail');
            },

            fetchLayouts() {
                return this.$axios.$post('/graphql/', {
                    query: similarFlats.loc.source.body,
                    variables: {
                        tab: this.activeTab,
                        id: this.$route.params.id,
                        first: this.first,
                    },
                }, {
                    progress: false,
                });
            },

            async onLoadLayouts(tab) {
                this.activeTab = tab;
                const {data} = await this.fetchLayouts();
                this.similarFlats = data.similarFlats.edges;
            },

            async updateFacets(values) {
                const mortgageFacetsRes = await this.$axios.$post('/graphql/', {
                    query: mortgageOffersFacets.loc.source.body,
                    variables: {...values},
                });

                this.facets = {...convertToObject(mortgageFacetsRes.data.allOffersFacets?.facets)};
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatPage {
        background-color: $base-50;
        overflow: hidden;
    }

    .action {
        :global {
            @include respond-to(sm) {
                .action-text {
                    flex-direction: row;

                    span:first-child {
                        margin-right: .2rem;
                    }
                }
            }
        }
    }
</style>
