<template>
    <div :class="$style.LotCardFavRestore">
        <div :class="$style.icon">
            <IconArrowBack />
        </div>
        <div :class="$style.text">
            <template v-if="$device.isDesktopOrTablet">
                Квартира удалена,<br><span>восстановить?</span>
            </template>
            <template v-else>
                <span>Восстановить?</span>
            </template>
        </div>
    </div>
</template>

<script>
    import IconArrowBack from '@/components/icons/IconArrowBack';

    export default {
        name: 'LotCardFavRestore',

        components: {
            IconArrowBack,
        },
    };
</script>

<style lang="scss" module>
    .LotCardFavRestore {
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: all $default-transition;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        color: $body-bg;
        background-color: $base-500;
        border-radius: 50%;

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
        }

        & > svg {
            width: 2.4rem;
            height: 2.4rem;

            @include respond-to(xs) {
                width: 16px;
                height: 16px;
            }
        }
    }

    .text {
        margin-top: .8rem;
        padding: 1.2rem 1.6rem;
        border-radius: 1.6rem;
        background-color: $body-bg;
        text-align: center;
        color: $base-300;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.43;
        box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .04), 0 0 .2rem rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);

        @include respond-to(xs) {
            padding: 8px 12px;
            font-size: 12px;
            line-height: 1.68;
        }

        & > span {
            color: $base-500;
        }
    }
</style>
