<template>
    <div class="gallery-progressbar"
         :class="classes">
        <div class="gallery-progressbar__fill"
             :style="styles">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'GalleryProgress',

        props: {
            inverse: Boolean,

            absolute: Boolean,

            big: Boolean,

            progress: {
                type: Number,
                default: 0,
            },
        },

        computed: {
            classes() {
                return {
                    'is-big': this.big,
                    'is-inverse': this.inverse,
                    'is-absolute': this.absolute,
                };
            },

            styles() {
                return {width: `${this.progress}%`};
            },
        },
    };
</script>

<style lang="scss">
    .gallery-progressbar {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: $base-100;

        $block: &;

        &__fill {
            position: absolute;
            bottom: 0;
            height: 1px;
            background-color: $base-500;
            transition: width .7s ease;
        }

        &.is-absolute {
            position: absolute;
        }

        &.is-big {
            #{$block}__fill {
                height: 2px;
            }
        }

        &.is-inverse {
            background-color: rgba($milk, .24);

            #{$block}__fill {
                background-color: $milk;
            }
        }
    }
</style>
