<template>
    <div :class="classes"
         class="fraction">
        <span class="fraction__current">{{ current }}</span>
        <span class="fraction__total">&thinsp;/ {{ total }}</span>
    </div>
</template>

<script>
    export default {
        name: 'GalleryFraction',

        props: {
            current: {
                type: String,
                default: '0',
            },

            total: {
                type: String,
                default: '0',
            },

            color: {
                type: String,
                default: 'default',
            },

            size: {
                type: String,
                default: 'medium',
            },

            fill: Boolean,
        },

        computed: {
            classes() {
                return [
                    [`_${this.color}`],
                    [`_${this.size}`],
                    {
                        'is-fill': this.fill,
                    },
                ];
            },
        },
    };
</script>

<style lang="scss">
    .fraction {
        flex-shrink: 0;
        display: inline-flex;
        font-weight: 500;
        transition: color $default-transition;

        .swiper-pagination-current,
        .fraction__current {
            transition: color $default-transition;
        }

        /* Sizes */
        &._normal {
            width: 5rem;
            font-size: 1.4rem;
            line-height: 1.16;

            .swiper-pagination-current,
            .fraction__current {
                width: 1.6rem;
            }
        }

        &._medium {
            width: 5.5rem;
            font-size: 1.4rem;
            line-height: 1.16;

            .swiper-pagination-current,
            .fraction__current {
                width: 1.6rem;
            }

            @include respond-to(xs) {
                width: 55px;
                font-size: 12px;
                line-height: 1.04;
            }
        }

        &._small {
            width: 4rem;
            font-size: 1rem;
            line-height: 1.46;

            .swiper-pagination-current,
            .fraction__current {
                width: 1.4rem;
            }
        }

        /* Colors */

        &._default {
            color: $base-200;

            .swiper-pagination-current,
            .fraction__current {
                color: $base-500;
            }
        }

        &._inverse {
            color: rgba($milk, .64);

            .swiper-pagination-current,
            .fraction__current {
                color: $milk;
            }
        }

        /* Modifier */

        &.is-fill {
            @include respond-to(xs) {
                justify-content: center;
                padding: 9px 8px 7px;
                box-sizing: content-box;
                background-color: #fff;
                border-radius: 28px;
            }
        }
    }
</style>
