<template>
    <div :class="[$style.SectionFloorShield, {[$style._hovered]: hovered}]"
         :style="position">
        <div :class="$style.shield">
            <span v-html="number">
            </span>
        </div>
        <VCircleButton :class="$style.hover"
                       color="vice"
                       inverse
                       absolute>
            <IconPlus class="frame-icon" />
        </VCircleButton>
    </div>
</template>

<script>
    import VCircleButton from '../../../../ui/button/VCircleButton';
    import IconPlus from '../../../../icons/IconPlus';

    export default {
        name: 'SectionFloorShield',

        components: {
            IconPlus,
            VCircleButton,
        },

        props: {
            number: {
                type: Number,
                default: 0,
            },

            point: {
                type: String,
                default: '',
            },

            hovered: Boolean,

            scaleValue: {
                type: Number,
                default: 1
            }
        },

        computed: {
            position() {
                const arr = this.point.split(',');
                return {top: `${arr[1]}%`, left: `${arr[0]}%`, transform: `scale(${this.scaleValue}) translate(-50%, -50%)`};
            },
        },
    };
</script>

<style lang="scss" module>
    .SectionFloorShield {
        position: absolute;
        left: -10000px;
        top: -100000px;

        &._hovered {
            .hover {
                opacity: 1;
            }

            .shield {
                opacity: 0;
            }
        }
    }

    .shield {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        background-color: $milk;
        font-size: 1.4rem;
        line-height: 1.16;
        color: $base-300;
        border-radius: 50%;
        transition: opacity $default-transition;
    }

    .hover {
        position: absolute;
        right: 3.3rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity $default-transition;
    }
</style>
