<template>
    <div class="genplan"
         :class="$style.VisualSection">
        <VButton v-if="projectId && buildingId"
                 :class="$style.link"
                 :link="`/flats/?project=${projectId}&building=${buildingId}`">
            Подобрать по параметрам
        </VButton>

        <div :class="$style.back">
            <VCircleButton :class="$style.btn"
                           absolute
                           color="milk"
                           @click="$emit('back', 'buildings')">
                <IconArrowRightLong class="frame-icon" />
            </VCircleButton>

            <p :class="$style.title"
               class="h3">
                <span :class="$style.name">
                    {{ buildingName }}
                </span>
                <span>Квартиры</span>
            </p>
        </div>

        <div ref="parent"
             :class="$style.wrap">
            <div :class="$style.body"
                 :style="position">
                <div :class="$style.preview"
                     :style="{backgroundImage: `url(${genplanPreview})`}">
                    <div ref="wrapper"
                         :class="[$style.imgWrap, {[$style._loaded] : isLoaded}]">

                        <img ref="image"
                             :src="genplanOrigin"
                             :class="$style.origin"
                             alt="Генплан"
                             @load="handleImageLoad">

                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             :class="$style.svg"
                             :viewBox="genplanViewbox">

                            <!-- Градиент -->
                            <linearGradient id="linear-gradient"
                                            gradient-units="objectBoundingBox">
                                <stop offset="0%"
                                      stop-color="#92278f"
                                      stop-opacity="0.72" />
                                <stop offset="58%"
                                      stop-color="#c6168d"
                                      stop-opacity="0.72" />
                                <stop offset="100%"
                                      stop-color="#ed1c24"
                                      stop-opacity="0.72" />
                            </linearGradient>

                            <VisualHover
                                v-for="floor in filteredFloors"
                                :key="floor.id"
                                :item="floor"
                                :color="colorClass"
                                @hover-polygon-enter="onHoverEnter"
                                @hover-polygon-move="onHoverMove"
                                @hover-polygon-leave="onHoverLeave"
                                @click.native="handleHoverClick(floor)"
                            />
                        </svg>

                        <SectionShield
                            v-for="section in sections"
                            :key="section.id + 1000"
                            :number="section.number"
                            :point="section.point"
                            :scale-value="scaleValue"
                            :hovered="activeItem && activeItem.section.number === section.number"
                        />

                        <template v-for="section in sections">
                            <SectionFloorShield
                                v-for="floor in section.floorSet"
                                :key="floor.id + 1000"
                                :point="floor.point"
                                :number="floor.number"
                                :scale-value="scaleValue"
                                :hovered="activeItem && activeItem.id === floor.id"
                            />
                        </template>

                        <VisualInfra
                            v-for="item in infra"
                            :key="item.id"
                            with-tooltip
                            :infra="item"
                        />
                    </div>
                </div>
            </div>
            <transition name="fade"
                        appear>
                <VisualTooltip v-if="activeItem"
                               :top="top"
                               :left="left"
                               :container-data="containerData">
                    <BuildingTooltip
                        :object="activeItem"
                        type="section"
                    />
                </VisualTooltip>
            </transition>
        </div>
    </div>
</template>

<script>
    import VButton from '../../../../ui/button/VButton';
    import VisualHover from '../VisualHover';
    import VisualTooltip from '../VisualTooltip';
    import BuildingTooltip from '../buildings/BuildingTooltip';
    import SectionShield from '../SectionShield';
    import SectionFloorShield from './SectionFloorShield';
    import VCircleButton from '../../../../ui/button/VCircleButton';
    import IconArrowRightLong from '../../../../icons/IconArrowRightLong';
    import VisualInfra from '../VisualInfra';

    export default {
        name: 'VisualSection',

        components: {
            VisualInfra,
            IconArrowRightLong,
            VCircleButton,
            SectionFloorShield,
            SectionShield,
            BuildingTooltip,
            VisualTooltip,
            VisualHover,
            VButton,
        },

        props: {
            genplanOrigin: {
                type: String,
                default: '',
            },

            genplanPreview: {
                type: String,
                default: '',
            },

            genplanWidth: {
                type: Number,
                default: 0,
            },

            genplanHeight: {
                type: Number,
                default: 0,
            },

            sections: {
                type: Array,
                default: () => [],
            },

            buildingName: {
                type: String,
                default: '',
            },

            colorClass: {
                type: String,
                default: 'vice',
            },

            infra: {
                type: Array,
                default: () => [],
            },

            projectId: {
                type: String,
                default: '',
            },

            buildingId: {
                type: String,
                default: '',
            }
        },

        data() {
            return {
                imgEl: null,
                isLoaded: false,
                containerData: {},

                activeItem: null,
                top: 0,
                left: 0,
                iw: 0,
                ih: 0,
                ww: 0,
                wh: 0,
            };
        },

        computed: {
            genplanViewbox() {
                return `0 0 ${this.iw} ${this.ih}`;
            },

            imageRatio() {
                return this.iw / this.ih;
            },

            windowRatio() {
                return this.ww / this.wh;
            },

            position() {
                if (this.isMobile) {
                    return;
                }

                const xDiff = (this.ww - (this.iw * (this.wh / this.ih))) / 2;
                const yDiff = (this.wh - (this.ih * (this.ww / this.iw))) / 2;

                return {
                    width: this.iw + 'px',
                    height: this.ih + 'px',
                    transform: this.windowRatio < this.imageRatio
                        ? `scale(${this.wh / this.ih}) translate(${xDiff}px, 0px)`
                        : `scale(${this.ww / this.iw}) translate(0px, ${yDiff}px)`,
                };
            },

            scaleValue() {
                return this.windowRatio > this.imageRatio ? this.iw / this.ww : this.ih / this.wh;
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            filteredFloors() {
                const floorHasFlats = floor => Boolean(floor.flats0MinPrice) ||
                    Boolean(floor.flats1MinPrice) ||
                    Boolean(floor.flats2MinPrice) ||
                    Boolean(floor.flats3MinPrice) ||
                    Boolean(floor.flats4MinPrice);

                const floorHasPlan = floor => Boolean(floor.plan);

                return this.sections
                    .reduce((acc, section) => [...section.floorSet, ...acc], [])
                    .filter(floor => floorHasFlats(floor) && floorHasPlan(floor));
            },
        },

        mounted() {
            this.imgEl = new Image();
            this.imgEl.addEventListener('load', this.handleImageLoad);
            this.imgEl.src = this.genplanOrigin;
            if (!this.isMobile) {
                window.addEventListener('resize', this.handleResize);
            }
        },

        beforeDestroy() {
            this.imgEl.removeEventListener('load', this.handleImageLoad);
            if (!this.isMobile) {
                window.removeEventListener('resize', this.handleResize);
            }
        },

        methods: {
            onHoverEnter(item, e) {
                this.activeItem = item;
                this.top = e.pageY;
                this.left = e.pageX;
            },

            onHoverMove({top, left}) {
                this.top = top;
                this.left = left;
            },

            onHoverLeave() {
                this.activeItem = null;
            },

            handleImageLoad() {
                const iw = this.$refs.image?.naturalWidth;
                const ih = this.$refs.image?.naturalHeight;
                const ww = this.$parent.$refs?.container?.offsetWidth;
                const wh = this.$parent.$refs?.container?.offsetHeight;

                this.iw = iw;
                this.ih = ih;
                this.ww = ww;
                this.wh = wh;

                this.$nextTick(() => {
                    this.containerData = {
                        ...this.containerData,
                        ...{
                            visualOffsetY: this.$parent?.$refs?.container?.offsetTop,
                            visualOffsetX: this.$parent?.$refs?.container?.offsetLeft,
                            visualHeight: this.$parent?.$refs?.container?.offsetHeight,
                            visualWidth: this.$parent?.$refs?.container?.offsetWidth,
                        },
                    };

                    this.isLoaded = true;
                });
            },

            handleResize() {
                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateWindowSize);
                }
            },

            updateWindowSize() {
                this.wh = this.$parent.$refs?.container.offsetHeight;
                this.ww = this.$parent.$refs?.container.offsetWidth;
                this.containerData = {
                    ...this.containerData,
                    ...{
                        visualOffsetY: this.$parent?.$refs?.container?.offsetTop,
                        visualOffsetX: this.$parent?.$refs?.container?.offsetLeft,
                        visualHeight: this.$parent?.$refs?.container?.offsetHeight,
                        visualWidth: this.$parent?.$refs?.container?.offsetWidth,
                    },
                };
                this.isTicking = false;
            },


            handleHoverClick(floor) {
                this.$emit('view-change', floor);
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualSection {
        position: relative;
        height: calc(100vh - #{$sub-header-h});
        min-height: 700px;
        overflow: hidden;

        @include portrait {
            height: 50vh;
            min-height: auto;
        }

        @include respond-to(sm) {
            height: auto;
            min-height: auto;
        }
    }

    .back {
        position: absolute;
        top: 8rem;
        left: 5.6rem;
        z-index: 2;
        padding-left: 6.4rem;
    }

    .btn {
        position: absolute;
        left: 0;
        top: 0;
        transform: perspective(0) translate3d(0, 0, 0) rotate(180deg);
    }

    .title {
        display: flex;
        flex-direction: column;

        & :first-child {
            color: $milk;
        }

        & :last-child {
            color: rgba($milk, .48);
        }
    }

    .body {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;

        @include respond-to(sm) {
            position: relative;
            width: auto;
            height: 100%;
        }
    }

    .wrap {
        position: relative;
    }

    .preview {
        display: flex;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imgWrap {
        position: relative;
        display: flex;
        width: 100%;
        opacity: 0;
        transition: opacity .4s linear;

        &._loaded {
            opacity: 1;
        }

        @include respond-to(sm) {
            width: auto;
        }
    }

    .origin {
        display: block;
        width: 100%;
        height: auto;
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .link {
        position: absolute;
        right: 5.6rem;
        top: 7.6rem;
        z-index: 2;
    }
</style>
