<template>
    <div :class="$style.CompareButtons">
        <div :class="$style.wrap">
            <template v-if="!isMobile">
                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <div class="swiper-wrapper">
                        <div v-for="(lot, idx) in lots"
                             :key="idx"
                             :class="$style.slide"
                             class="swiper-slide">
                            <VButton :class="$style.button"
                                     @click="handleClickBook(lot)">
                                Забронировать
                            </VButton>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <div :class="$style.container"
                     class="container">
                    <div v-for="n in maxCols"
                         :key="n"
                         :class="$style.lots">
                        <CompareButtonsMobile
                            :lots="lots"
                            :current-slide="currentMobileSlide"
                            :slider-number="n"
                            @click-book="handleClickBook"
                        />
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    /* utils */
    import Swiper from 'swiper/swiper-bundle.min';
    import VButton from '@/components/ui/button/VButton';
    import CompareButtonsMobile from '@/components/pages/favorites/compare/CompareButtonsMobile';

    /* components */
    import RequestFormModal from '@/components/layout/modals/RequestFormModal';
    import ReservationForm from '@/components/common/forms/BookedForm';

    export default {
        name: 'CompareButtons',

        components: {
            CompareButtonsMobile,
            VButton,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },
            currentSlide: {
                type: Number,
                default: 0,
            },
            currentMobileSlide: {
                type: Object,
                default: () => ({}),
            },
            // Количество колонок при адаптиве
            maxCols: {
                type: Number,
                default: 3,
            },
        },

        data() {
            return {
                slider: null,
            };
        },

        computed: {
            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        watch: {
            currentSlide(val) {
                if (this.slider) {
                    this.slider.slideTo(val);
                }
            },

            lots() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                    });
                }
            },

            isMobile(val) {
                if (val && this.slider) {
                    this.slider.destroy();
                    this.slider = null;
                } else if (!val && !this.slider) {
                    this.$nextTick(() => {
                        this.initSwiper();
                    });
                }
            },
        },

        mounted() {
            if (!this.isMobile) {
                this.$nextTick(() => {
                    this.initSwiper();
                });
            }
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 3,
                    allowTouchMove: false,
                    spaceBetween: 120,
                    breakpoints: {
                        1920: {
                            slidesPerView: 4,
                            spaceBetween: 160,
                        },
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.$emit('on-slide-change', this.slider.realIndex);
                });
            },

            handleClickBook(lot) {
                this.$modal.open(RequestFormModal, {
                    title: 'Заявка на бронирование',
                    subtitle: 'Проконсультируем в течение часа',
                    form: ReservationForm,
                    id: lot.id,
                    obj: {
                        projectSlug: lot.project?.slug ? this.lot.project.slug : '',
                        propertyType: lot.type,
                    },
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareButtons {
        //
    }

    .wrap {
        width: 144rem;
        margin: 0 auto;

        @include respond-to(lg) {
            width: 96.6rem;
        }

        @include respond-to(sm) {
            width: auto;
            max-width: 96.6rem;
        }
    }

    .button {
        width: 100%;

        :global(.v-button__text) {
            position: static;
        }
    }

    .container {
        display: flex;

        @include respond-to(md) {
            justify-content: center;
        }
    }

    .lots {
        @include respond-to(md) {
            padding-right: 32px;

            &:last-of-type {
                padding-right: 0;
            }
        }

        @include respond-to(xs) {
            padding-right: 16px;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
</style>
