<template>
    <div :class="$style.CompareActionSlider">
        <template v-if="!isMobile">
            <div :class="$style.container"
                 class="container">
                <div v-if="showNav"
                     :class="$style.nav">
                    <div :class="$style.btn">
                        <VCircleButton :class="$style.circle"
                                       @click="slider.slidePrev()">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>

                    <div :class="$style.btn">
                        <VCircleButton :class="$style.circle"
                                       @click="slider.slideNext()">
                            <IconArrowLeft class="frame-icon" />
                        </VCircleButton>
                    </div>
                </div>
                <div :class="$style.wrap">
                    <div ref="slider"
                         class="swiper-container">
                        <div class="swiper-wrapper">
                            <div v-for="(lot, idx) in lots"
                                 :key="idx"
                                 :class="$style.slide"
                                 class="swiper-slide">
                                <CompareLotCard
                                    :lot="lot"
                                    :realty-type="lot.type.toLowerCase()"
                                    :is-removed-from-favorites="!favorites.includes(lot.id)"
                                    no-info
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div :class="$style.container"
                 class="container">
                <div v-for="n in maxCols"
                     :key="n"
                     :class="$style.lots">
                    <CompareActionSliderMobile
                        :lots="lots"
                        :slider-number="n"
                        :current-mobile-slide="currentMobileSlide"
                        :favorites="favorites"
                        @on-slide-change="$emit('on-mobile-slide-change', $event)"
                    />
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    /* utils */
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import IconArrowLeft from '@/components/icons/IconArrowLeft';
    import VCircleButton from '@/components/ui/button/VCircleButton';
    import IconArrowRight from '@/components/icons/IconArrowRight';
    import CompareLotCard from '@/components/pages/favorites/compare/CompareLotCard';
    import CompareActionSliderMobile
        from '@/components/pages/favorites/compare/CompareActionSliderMobile';

    export default {
        name: 'CompareActionSlider',

        components: {
            CompareActionSliderMobile,
            CompareLotCard,
            IconArrowRight,
            VCircleButton,
            IconArrowLeft,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },
            currentSlide: {
                type: Number,
                default: 0,
            },
            currentMobileSlide: {
                type: Object,
                default: () => ({}),
            },
            // Количество колонок при адаптиве
            maxCols: {
                type: Number,
                default: 3,
            },
            favorites: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
            };
        },

        computed: {
            showNav() {
                let count = 3;
                if (this.$mq === 'xl') {
                    count = 4;
                }
                return this.lots.length > count;
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        watch: {
            currentSlide(val) {
                if (this.slider && !this.isMobile) {
                    if (this.slider.realIndex !== val) {
                        this.slider.slideTo(val);
                    }
                }
            },
            lots() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                    });
                }
            },

            isMobile(val) {
                if (val && this.slider) {
                    this.slider.destroy();
                    this.slider = null;
                } else if (!val && !this.slider) {
                    this.$nextTick(() => {
                        this.initSwiper();
                    });
                }
            },
        },

        mounted() {
            if (!this.isMobile) {
                this.$nextTick(() => {
                    this.initSwiper();
                });
            }
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 3,
                    allowTouchMove: false,
                    spaceBetween: 120,
                    breakpoints: {
                        1920: {
                            slidesPerView: 4,
                            spaceBetween: 160,
                        },
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.$emit('on-slide-change', this.slider.realIndex);
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareActionSlider {
        position: relative;
        height: 11rem;
        padding-top: .8rem;
        background-color: $body-bg;
        border-bottom: 1px solid $base-100;

        @include respond-to(sm) {
            height: 182px;
            padding-top: 0;
        }

        @include respond-to(xs) {
            height: 90px;
        }
    }

    .container {
        position: relative;

        @include respond-to(md) {
            display: flex;
            justify-content: center;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 2.8rem;
        width: 100%;
    }

    .btn {
        outline: none;

        &._disabled {
            opacity: .5;
            pointer-events: none;
        }
    }

    .wrap {
        width: 144rem;
        margin: 0 auto;

        @include respond-to(lg) {
            width: 96.6rem;
        }

        @include respond-to(sm) {
            width: auto;
            max-width: 96.6rem;
        }
    }

    .lots {
        @include respond-to(md) {
            padding-right: 32px;

            &:last-of-type {
                padding-right: 0;
            }
        }

        @include respond-to(xs) {
            padding-right: 16px;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
</style>
