<template>
    <div :class="$style.CompareMainSlider">
        <template v-if="!isMobile">
            <CompareRows
                :class="$style.rows"
                :count="7"
                :big-rows="[1]"
            />

            <div :class="$style.container"
                 class="container">
                <div v-intersect="onVisibilityChange"></div>
                <div v-if="showNav"
                     :class="$style.nav">
                    <div :class="$style.btn">
                        <VCircleButton :class="$style.circle"
                                       @click="slider.slidePrev()">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>

                    <div :class="$style.btn">
                        <VCircleButton :class="$style.circle"
                                       @click="slider.slideNext()">
                            <IconArrowLeft class="frame-icon" />
                        </VCircleButton>
                    </div>
                </div>
                <div :class="$style.wrap">
                    <div ref="slider"
                         class="swiper-container">
                        <div class="swiper-wrapper">
                            <div v-for="(lot, idx) in lots"
                                 :key="idx"
                                 :class="$style.slide"
                                 class="swiper-slide">
                                <CompareLotCard
                                    :lot="lot"
                                    :realty-type="lot.type.toLowerCase()"
                                    :is-current-card="currentSlide === idx"
                                    :is-removed-from-favorites="!favorites.includes(lot.id)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div v-intersect="onVisibilityChange"></div>
            <div :class="$style.container"
                 class="container">
                <div v-for="n in maxCols"
                     :key="n"
                     :class="$style.lots">
                    <CompareLotsMobile
                        :lots="lots"
                        :slider-number="n"
                        :current-mobile-slide="currentMobileSlide"
                        :favorites="favorites"
                        @on-slide-change="$emit('on-mobile-slide-change', $event)"
                    />
                </div>
            </div>
            <div :class="$style.border"></div>
        </template>
    </div>
</template>

<script>
    /* utils */
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import CompareLotCard from '@/components/pages/favorites/compare/CompareLotCard';
    import IconArrowLeft from '@/components/icons/IconArrowLeft';
    import VCircleButton from '@/components/ui/button/VCircleButton';
    import IconArrowRight from '@/components/icons/IconArrowRight';
    import CompareRows from '@/components/pages/favorites/compare/CompareRows';
    import CompareLotsMobile from '@/components/pages/favorites/compare/CompareLotsMobile';

    export default {
        name: 'CompareMainSlider',

        components: {
            CompareLotsMobile,
            CompareRows,
            IconArrowRight,
            VCircleButton,
            IconArrowLeft,
            CompareLotCard,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },
            currentSlide: {
                type: Number,
                default: 0,
            },
            currentMobileSlide: {
                type: Object,
                default: () => ({}),
            },
            // Количество колонок при адаптиве
            maxCols: {
                type: Number,
                default: 3,
            },
            favorites: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
            };
        },

        computed: {
            showNav() {
                let count = 3;
                if (this.$mq === 'xl') {
                    count = 4;
                }
                return this.lots.length > count;
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        watch: {
            currentSlide(val) {
                if (this.slider && !this.isMobile) {
                    if (this.slider.realIndex !== val) {
                        this.slider.slideTo(val);
                    }
                }
            },

            lots() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                    });
                }
            },

            isMobile(val) {
                if (val && this.slider) {
                    this.slider.destroy();
                    this.slider = null;
                } else if (!val && !this.slider) {
                    this.$nextTick(() => {
                        this.initSwiper();
                    });
                }
            },
        },

        mounted() {
            if (!this.isMobile) {
                this.$nextTick(() => {
                    this.initSwiper();
                });
            }
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 3,
                    allowTouchMove: false,
                    spaceBetween: 120,
                    breakpoints: {
                        1920: {
                            slidesPerView: 4,
                            spaceBetween: 160,
                        },
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.$emit('on-slide-change', this.slider.realIndex);
                });
            },

            onVisibilityChange(val) {
                if (val?.length) {
                    this.$emit('on-visibility-change', val[0].isIntersecting);
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareMainSlider {
        position: relative;
    }

    .rows {
        position: absolute;
        top: 37.4rem;

        @include respond-to(md) {
            display: none;
        }
    }

    .container {
        position: relative;

        @include respond-to(md) {
            display: flex;
            justify-content: center;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 12.8rem;
        width: 100%;
    }

    .btn {
        outline: none;

        &._disabled {
            opacity: .5;
            pointer-events: none;
        }
    }

    .circle {
        //
    }

    .wrap {
        width: 144rem;
        margin: 0 auto;

        @include respond-to(lg) {
            width: 96.6rem;
        }

        @include respond-to(sm) {
            width: auto;
            max-width: 96.6rem;
        }
    }

    .lots {
        @include respond-to(md) {
            padding-right: 32px;

            &:last-of-type {
                padding-right: 0;
            }
        }

        @include respond-to(xs) {
            padding-right: 16px;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    .border {
        display: none;

        @include respond-to(md) {
            display: block;
            position: absolute;
            top: 396px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $base-100;
            pointer-events: none;
        }

        @include respond-to(xs) {
            top: 240px;
        }
    }
</style>
