<template>
    <section :class="$style.CompareInfoMobile">
        <div ref="slider"
             :class="$style.slider"
             class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="(lot, idx) in lots"
                     :key="idx"
                     :class="$style.slide"
                     class="swiper-slide">
                    <component
                        :is="component"
                        :lot="lot"
                        :class="[$style.lot, {[$style._disabled]: !favorites.includes(lot.id)}]"
                    />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    /* utils */
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import InfoLocation from '@/components/pages/favorites/info/InfoLocation';
    import InfoFeatures from '@/components/pages/favorites/info/InfoFeatures';
    import InfoArea from '@/components/pages/favorites/info/InfoArea';

    export default {
        name: 'CompareInfoMobile',

        components: {
            InfoLocation,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },
            type: {
                type: String,
                default: '',
            },
            currentSlide: {
                type: Object,
                default: () => ({}),
            },
            // Количество колонок при адаптиве
            maxCols: {
                type: Number,
                default: 3,
            },
            sliderNumber: {
                type: Number,
                default: 1,
            },
            favorites: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
            };
        },

        computed: {
            component() {
                switch (this.type) {
                    case 'location':
                        return InfoLocation;
                    case 'features':
                        return InfoFeatures;
                    case 'area':
                        return InfoArea;
                }

                return InfoLocation;
            },
        },

        watch: {
            currentSlide(val) {
                if (this.slider) {
                    if (this.sliderNumber === val.slider) {
                        this.slider.slideTo(val.index);
                    }
                }
            },
            lots() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                    });
                }
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.initSwiper();
            });
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 700,
                    slidesPerView: 1,
                    allowTouchMove: false,
                    spaceBetween: 32,
                    initialSlide: this.sliderNumber - 1,
                };

                this.slider = new Swiper(this.$refs.slider, options);
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareInfoMobile {
        //
    }

    .slider {
        @include respond-to(md) {
            width: 208px;
        }

        @include respond-to(xs) {
            width: 136px;
        }
    }

    .lot {
        transition: opacity $default-transition;

        &._disabled {
            opacity: .5;
        }
    }
</style>
