<template>
    <section :class="$style.CompareSection">
        <AccordionItem :class="$style.accordion">
            <template #header>
                <h2 class="h4">
                    {{ title }}
                </h2>
            </template>
            <template #content>
                <template v-if="!isMobile">
                    <div :class="$style.container">
                        <CompareRows
                            :class="$style.rows"
                            :count="rowsCount"
                            :big-rows="bigRows"
                        />
                        <div :class="$style.wrap">
                            <div ref="slider"
                                 :class="$style.slider"
                                 class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div v-for="(lot, idx) in lots"
                                         :key="idx"
                                         :class="$style.slide"
                                         class="swiper-slide">
                                        <component
                                            :is="component"
                                            :class="[$style.lot, {[$style._disabled]: !favorites.includes(lot.id)}]"
                                            :lot="lot"
                                            :is-current-card="currentSlide === idx"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div :class="$style.container"
                         class="container">
                        <div v-for="n in maxCols"
                             :key="n"
                             :class="$style.lots">
                            <CompareInfoMobile
                                :lots="lots"
                                :max-cols="maxCols"
                                :current-slide="currentMobileSlide"
                                :type="type"
                                :slider-number="n"
                                :favorites="favorites"
                            />
                        </div>
                    </div>
                </template>
            </template>
        </AccordionItem>
    </section>
</template>

<script>
    /* utils */
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import AccordionItem from '@/components/common/AccordionItem';
    import InfoLocation from '@/components/pages/favorites/info/InfoLocation';
    import CompareRows from '@/components/pages/favorites/compare/CompareRows';
    import InfoFeatures from '@/components/pages/favorites/info/InfoFeatures';
    import InfoArea from '@/components/pages/favorites/info/InfoArea';
    import CompareInfoMobile from '@/components/pages/favorites/compare/CompareInfoMobile';

    export default {
        name: 'CompareSection',

        components: {
            CompareInfoMobile,
            CompareRows,
            InfoLocation,
            AccordionItem,
        },

        props: {
            title: {
                type: String,
                default: '',
            },
            lots: {
                type: Array,
                default: () => [],
            },
            type: {
                type: String,
                default: '',
            },
            currentSlide: {
                type: Number,
                default: 0,
            },
            currentMobileSlide: {
                type: Object,
                default: () => ({}),
            },
            rowsCount: {
                type: Number,
                default: 0,
            },
            bigRows: {
                type: Array,
                default: () => [],
            },
            // Количество колонок при адаптиве
            maxCols: {
                type: Number,
                default: 3,
            },
            favorites: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
            };
        },

        computed: {
            component() {
                switch (this.type) {
                    case 'location':
                        return InfoLocation;
                    case 'features':
                        return InfoFeatures;
                    case 'area':
                        return InfoArea;
                }

                return InfoLocation;
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        watch: {
            currentSlide(val) {
                if (this.slider) {
                    this.slider.slideTo(val);
                }
            },

            lots() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                    });
                }
            },

            isMobile(val) {
                if (val && this.slider) {
                    this.slider.destroy();
                    this.slider = null;
                } else if (!val && !this.slider) {
                    this.$nextTick(() => {
                        this.initSwiper();
                    });
                }
            },
        },

        mounted() {
            if (!this.isMobile) {
                this.$nextTick(() => {
                    this.initSwiper();
                });
            }
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 3,
                    allowTouchMove: false,
                    spaceBetween: 120,
                    breakpoints: {
                        1920: {
                            slidesPerView: 4,
                            spaceBetween: 160,
                        },
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.$emit('on-slide-change', this.slider.realIndex);
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareSection {
        //
    }

    .container {
        position: relative;

        @include respond-to(md) {
            display: flex;
            justify-content: center;
            padding-bottom: 28px;
        }
    }

    .rows {
        position: absolute;
        top: 0;

        @include respond-to(md) {
            display: none;
        }
    }

    .wrap {
        width: 144rem;
        margin: 0 auto;

        @include respond-to(lg) {
            width: 96.6rem;
        }

        @include respond-to(sm) {
            width: auto;
            max-width: 96.6rem;
        }
    }

    .lot {
        transition: opacity $default-transition;

        &._disabled {
            opacity: .5;
        }
    }

    .lots {
        @include respond-to(md) {
            padding-right: 32px;

            &:last-of-type {
                padding-right: 0;
            }
        }

        @include respond-to(xs) {
            padding-right: 16px;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
</style>
