<template>
    <div :class="$style.CompareLotsMobile">
        <div ref="slider"
             :class="$style.slider"
             class="swiper-container">
            <div :class="$style.progress">
                <div :class="$style.count">
                    {{ currentProgress }} <span>/ {{ totalSlides }}</span>
                </div>
                <div :class="$style.pagination">
                    <div ref="pagination"
                         class="swiper-pagination">
                    </div>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div v-for="(lot, idx) in lots"
                     :key="idx"
                     :class="$style.slide"
                     class="swiper-slide">
                    <CompareLotCard
                        :lot="lot"
                        :realty-type="lot.type.toLowerCase()"
                        :is-removed-from-favorites="!favorites.includes(lot.id)"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* utils */
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import CompareLotCard from '@/components/pages/favorites/compare/CompareLotCard';

    export default {
        name: 'CompareLotsMobile',

        components: {
            CompareLotCard,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },

            sliderNumber: {
                type: Number,
                default: 1,
            },

            currentMobileSlide: {
                type: Object,
                default: () => ({}),
            },

            favorites: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
                currentSlide: 0,
            };
        },

        computed: {
            currentProgress() {
                return this.currentSlide + 1 < 10 ? `0${this.currentSlide + 1}` : this.currentSlide + 1;
            },

            totalSlides() {
                return this.lots.length < 10 ? `0${this.lots.length}` : this.lots.length;
            },
        },

        watch: {
            currentMobileSlide(val) {
                if (this.slider) {
                    if (this.sliderNumber === val.slider) {
                        this.slider.slideTo(val.index);
                    }
                }
            },
            lots() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                    });
                }
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.initSwiper();
            });
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                this.currentSlide = this.sliderNumber - 1;

                const options = {
                    speed: 1000,
                    slidesPerView: 1,
                    allowTouchMove: true,
                    spaceBetween: 32,
                    initialSlide: this.currentSlide,

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'bullets',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.currentSlide = this.slider.realIndex;

                    this.$emit('on-slide-change', {
                        index: this.slider.realIndex,
                        slider: this.sliderNumber,
                    });
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareLotsMobile {
        position: relative;
    }

    .progress {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to(md) {
            padding-top: 40px;
        }

        @include respond-to(xs) {
            padding-top: 24px;
        }
    }

    .count {
        @include respond-to(md) {
            font-size: 12px;
            line-height: 1.04;
            font-weight: bold;
            color: $base-500;
        }

        & > span {
            @include respond-to(md) {
                font-weight: normal;
                color: $base-200;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;

        @include respond-to(md) {
            margin-top: 12px;
        }
    }

    .slider {
        @include respond-to(md) {
            width: 208px;
        }

        @include respond-to(xs) {
            width: 136px;
        }
    }
</style>
