<template>
    <div :class="[$style.CompareLotCard, classes]">
        <div v-if="!noInfo"
             :class="$style.wrap">
            <n-link :to="url"
                    target="_blank">
                <div :class="$style.plan"
                     :style="{backgroundImage: `url(${lotDefaultPlan})`}">
                </div>
            </n-link>
            <LotCardFavRestore
                :class="[$style.restore, {[$style._show]: isRemovedFromFavorites}]"
                @click.native="onFavoritesClick"
            />
        </div>
        <div :class="$style.article"
             class="label c-base-200"
             v-html="lotArticle">
        </div>
        <div :class="$style.header">
            <div :class="$style.title"
                 class="c-base">
                <span v-html="lotTitle">
                </span>
                <span v-if="labelIcon"
                      :class="$style.saleIcon">
                    <component
                        :is="labelIcon"
                        class="frame-icon is-default"
                    />
                </span>
            </div>
            <div :class="[$style.remove, {[$style._hide]: isRemovedFromFavorites}]"
                 @click="onFavoritesClick">
                <VCircleButton :class="$style.circle"
                               size="small">
                    <IconTrash />
                </VCircleButton>
            </div>
        </div>
        <InfoMain
            v-if="!noInfo"
            :class="$style.info"
            :lot="lot"
            :realty-type="realtyType"
        />
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    import IconTrash from '@/components/icons/IconTrash';
    import VCircleButton from '@/components/ui/button/VCircleButton';
    import InfoMain from '@/components/pages/favorites/info/InfoMain';
    import LotCardFavRestore from '@/components/common/lot-card/LotCardFavRestore';
    import IconSale from '@/components/icons/IconSale';
    import IconCar from '@/components/icons/IconCar';
    import IconFacing from '@/components/icons/IconFacing';

    export default {
        name: 'CompareLotCard',

        components: {
            LotCardFavRestore,
            InfoMain,
            VCircleButton,
            IconTrash,
            IconSale,
            IconCar,
            IconFacing
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            noInfo: Boolean,
            isRemovedFromFavorites: Boolean,
            isCurrentCard: Boolean,
        },

        computed: {
            classes() {
                return [
                    {
                        [this.$style._disabled]: this.isRemovedFromFavorites,
                        'is-current': this.isCurrentCard,
                    }
                ];
            },

            url() {
                switch (this.realtyType) {
                    case 'flat':
                        return `/flats/${this.lot.id}`;
                    case 'parking':
                        return `/parking/${this.lot.id}`;
                    default:
                        return `/commercial/${this.lot.id}`;
                }
            },

            labelIcon() {
                if (this.$device.isMobile || this.noInfo) {
                    return false;
                }

                if (this.saleValue) {
                    return 'IconSale';
                }
                if (this.lot.hasParking) {
                    return 'IconCar';
                }

                if (this.lot.facing) {
                    return 'IconFacing';
                }

                return false;
            },

            lotDefaultPlan() {
                return this.lot.plan ? this.lot.plan : '/images/flat/flat-placeholder.svg';
            },

            lotArticle() {
                return this.realtyType === 'flat' ? `id: ${this.lot.article}` : this.lot.article;
            },

            lotTitle() {
                let title;
                switch (this.realtyType) {
                    case 'flat':
                        title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-ком.`;
                        break;
                    case 'parking':
                        title = 'Паркинг';
                        break;
                    default:
                        title = 'Помещение';
                }
                title += ` ${this.lot.area ? this.lot.area.toLocaleString() : ''} м<sup>2</sup>`;

                return title;
            },

            saleValue() {
                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },
        },

        methods: {
            ...mapActions('favorites', [
                'changeFavoriteState',
            ]),

            onFavoritesClick() {
                this.changeFavoriteState(this.lot.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareLotCard {
        &._disabled {
            .plan,
            .article,
            .header,
            .info {
                opacity: .5;
            }

            .remove {
                opacity: 0;
            }
        }
    }

    .wrap {
        position: relative;
    }

    .restore {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        opacity: 0;
        transition: opacity $default-transition;
        visibility: hidden;
        pointer-events: none;

        &._show {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    .plan {
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
        margin-top: 5.2rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: opacity $default-transition;

        @include respond-to(md) {
            margin-top: 24px;
        }

        @include respond-to(xs) {
            width: 104px;
            height: 104px;
            margin-top: 16px;
        }
    }

    .article {
        min-height: 1.46rem;
        margin-top: 2.4rem;
        transition: opacity $default-transition;

        @include respond-to(md) {
            margin-top: 16px;
        }

        @include respond-to(xs) {
            margin-top: 8px;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        margin-top: .4rem;
        margin-bottom: 1.2rem;
        padding-bottom: .6rem;
        transition: opacity $default-transition;

        @include respond-to(md) {
            padding-bottom: 32px;
        }

        @include respond-to(xs) {
            position: static;
        }
    }

    .title {
        position: relative;
        margin-right: auto;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.4;

        @include respond-to(md) {
            position: static;
        }

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.16;
        }

        sup {
            top: -.6em;
            font-size: 60%;
        }
    }

    .saleIcon {
        position: absolute;
        bottom: calc(100% - .4rem);
        left: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background: linear-gradient(0deg, $vice 0%, $moxxy 57.99%, $redline 100%);

        @include respond-to(md) {
            left: auto;
            right: 44px;
        }

        @include respond-to(xs) {
            top: 0;
            bottom: auto;
            left: auto;
            right: 6px;
        }

        svg {
            width: 2.8rem;
            height: 2.8rem;
            color: $body-bg;
        }

        &:before {
            content: "";
            position: absolute;
            top: -.6rem;
            right: -.5rem;
            z-index: -1;
            width: 7.2rem;
            height: 4rem;
            box-sizing: border-box;
            border-radius: 4rem;
            transform: rotate(-30deg);
            transform-origin: 77% 50%;
            background: linear-gradient(-90deg, rgba($base-100, .64) 0%, rgba($base-100, 0) 100%);
        }
    }

    .remove {
        margin-top: -1.8rem;
        transition: opacity $default-transition;

        &._hide {
            opacity: 0;
        }

        svg {
            width: 1.8rem;
            height: 1.8rem;
            fill: $base-400;

            @include respond-to(xs) {
                width: 14px;
                height: 14px;
            }
        }

        :global(.v-circle-button--small) {
            @include respond-to(xs) {
                width: 32px;
                height: 32px;
            }
        }
    }

    .info {
        margin-top: 4.6rem;
        transition: opacity $default-transition;

        @include respond-to(md) {
            margin-bottom: 28px;
        }

        @include respond-to(xs) {
            margin-bottom: 0;
        }

        @include respond-to(xs) {
            margin-top: 6px;
        }
    }
</style>
