<template>
    <div :class="$style.CompareRows">
        <div v-for="n in count"
             :key="n"
             :class="[$style.row, {[$style._big] : isBig(n)}]">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CompareRows',

        props: {
            count: {
                type: Number,
                default: 0,
            },

            bigRows: {
                type: Array,
                default: () => [],
            },
        },

        methods: {
            isBig(n) {
                return this.bigRows.includes(n);
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareRows {
        width: 100%;
    }

    .row {
        height: 10rem;
        border-top: 1px solid $base-100;

        &._big {
            height: 12.4rem;
        }
    }
</style>
