<template>
    <div :class="$style.CompareButtonsMobile">
        <div ref="slider"
             :class="$style.slider"
             class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="(lot, idx) in lots"
                     :key="idx"
                     :class="$style.slide"
                     class="swiper-slide">
                    <VButton :class="$style.button"
                             @click="$emit('click-book', lot)">
                        Забронировать
                    </VButton>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* utils */
    import Swiper from 'swiper/swiper-bundle.min';
    import VButton from '@/components/ui/button/VButton';

    /* components */

    export default {
        name: 'CompareButtonsMobile',

        components: {
            VButton,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },
            currentSlide: {
                type: Object,
                default: () => ({}),
            },
            sliderNumber: {
                type: Number,
                default: 1,
            },
        },

        data() {
            return {
                slider: null,
            };
        },

        watch: {
            currentSlide(val) {
                if (this.slider) {
                    if (this.sliderNumber === val.slider) {
                        this.slider.slideTo(val.index);
                    }
                }
            },
            lots() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                    });
                }
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.initSwiper();
            });
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 800,
                    slidesPerView: 1,
                    allowTouchMove: false,
                    spaceBetween: 32,
                    initialSlide: this.sliderNumber - 1,
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.$emit('on-slide-change', this.slider.realIndex);
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .CompareButtonsMobile {
        //
    }

    .slider {
        @include respond-to(md) {
            width: 208px;
        }

        @include respond-to(xs) {
            width: 136px;
        }
    }

    .button {
        width: 100%;

        :global(.v-button__text) {
            position: static;
        }
    }
</style>
