<template>
    <AccordionItem :class="[$style.ContactItem, classes]"
                   button-position="top"
                   color="default"
                   :opened="reloading && isOpen ? false : null"
                   @toggle="onToggle"
                   @resize="onResize">
        <template #header>
            <div :class="$style.header">
                <div :class="$style.titleBox">
                    <span :class="$style.label"
                          class="label"
                          v-html="item.workTime">
                    </span>
                    <h2 :class="$style.title"
                        class="h4"
                        v-html="item.name">
                    </h2>
                </div>
                <div v-if="$mq !== 'xs'"
                     :class="$style.info">
                    <div :class="[$style.cell, $style._address]">
                        <span :class="$style.label"
                              class="label">
                            Адрес
                        </span>
                        <span :class="$style.value"
                              v-html="item.address">
                        </span>
                    </div>
                    <div :class="[$style.cell, $style._phone]">
                        <span :class="$style.label"
                              class="label">
                            Телефон
                        </span>
                        <a :class="$style.value"
                           class="fw-500"
                           :href="`tel: ${item.phone}`"
                           @click.stop>
                            {{ item.phone|prettyPhone }}
                        </a>

                        <button type="button"
                                :class="$style.hint"
                                class="btn-reset"
                                @click.prevent.stop="onOpenModal">
                            <span :class="$style.currentValue">
                                Заказать звонок
                            </span>

                            <span :class="$style.hoverValue">
                                Заказать звонок
                            </span>
                        </button>
                    </div>
                    <div :class="[$style.cell, $style._mail]">
                        <span :class="$style.label"
                              class="label">
                            Почта
                        </span>
                        <a :class="$style.value"
                           class="fw-500"
                           :href="`mailto: ${item.email}`"
                           @click.stop>
                            {{ item.email }}
                        </a>

                        <a :href="`mailto: ${item.email}`"
                           :class="$style.hint"
                           @click.stop>
                            <span :class="$style.currentValue">
                                Написать
                            </span>

                            <span :class="$style.hoverValue">
                                Написать
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </template>

        <template #icon>
            <IconPin class="frame-icon" />
        </template>

        <template #content>
            <div v-if="$mq !== 'xs'"
                 :class="$style.content">
                <div ref="map"
                     :class="$style.map">
                </div>

                <ZoomButtons
                    :class="$style.zoom"
                    @zoom-in="zoomIn"
                    @zoom-out="zoomOut"
                />
            </div>
            <div v-else
                 :class="$style.info">
                <div :class="[$style.cell, $style._address]">
                    <span :class="$style.label"
                          class="label">
                        Адрес
                    </span>
                    <span :class="$style.value"
                          v-html="item.address">
                    </span>
                    <span :class="$style.mobileIcon">
                        <IconPin />
                    </span>
                </div>
                <div :class="[$style.cell, $style._phone]">
                    <span :class="$style.label"
                          class="label">
                        Телефон
                    </span>
                    <a :class="$style.value"
                       class="fw-500"
                       :href="`tel: ${item.phone}`">
                        {{ item.phone|prettyPhone }}
                    </a>
                    <button type="button"
                            :class="$style.hint"
                            class="btn-reset"
                            @click.prevent.stop="onOpenModal">
                        Заказать звонок
                    </button>
                </div>
                <div :class="[$style.cell, $style._mail]">
                    <span :class="$style.label"
                          class="label">
                        Почта
                    </span>
                    <a :class="$style.value"
                       class="fw-500"
                       :href="`mailto: ${item.email}`">
                        {{ item.email }}
                    </a>
                    <a :class="$style.hint"
                       :href="`mailto: ${item.email}`">
                        Написать
                    </a>
                </div>
                <VButton :class="$style.btn"
                         color="vice"
                         rounded
                         @click="onOpenMap">
                    Показать на карте
                </VButton>
            </div>
        </template>
    </AccordionItem>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {
        initMap,
        getTileLayer,
        genHtmlMarker,
        genHtmlProjectMarker,
    } from '../../../assets/js/utils/mapUtils';


    /* components */
    import AccordionItem from '../../common/AccordionItem';
    import IconPin from '../../icons/IconPin';
    import ZoomButtons from '../../common/map/ZoomButtons';
    import VButton from '../../ui/button/VButton';
    import RequestFormModal from '../../layout/modals/RequestFormModal';
    import CallbackForm from '../../common/forms/CallbackForm';
    import ContactModal from '../../layout/modals/ContactModal';

    export default {
        name: 'ContactItem',

        components: {
            VButton,
            ZoomButtons,
            IconPin,
            AccordionItem,
        },

        props: {
            item: {
                type: Object,
                default: () => ({}),
            },

            reloading: Boolean,
        },

        data() {
            return {
                map: undefined,
                latitude: null,
                longitude: null,
                isOpen: false,
                isInitMap: false,
                mt: 0.022,
                ml: 0.0071,
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            classes() {
                return [
                    {[this.$style['_open']]: this.isOpen},
                ];
            },

            link() {
                return `https://yandex.ru/maps/?rtext=~${this.item.latitude}%2C${this.item.longitude}`;
            },
        },

        watch: {
            isOpen(val) {
                if (val && !this.isInitMap && this.$mq !== 'xs') {
                    this.initMap();
                }
            },

            reloading(val) {
                if (val && this.isInitMap) {
                    this.map.remove();
                    this.isInitMap = false;
                }
            },
        },

        methods: {
            initMap() {
                if (window.innerWidth > 991) {
                    this.latitude = this.item.latitude - this.ml;
                    this.longitude = this.item.longitude + this.mt;
                } else {
                    this.latitude = this.item.latitude;
                    this.longitude = this.item.longitude;
                }
                this.map = initMap(this.$refs.map, {center: [this.latitude, this.longitude]});
                const tile = getTileLayer();
                tile.addTo(this.map);

                const html = genHtmlProjectMarker(this.link, this.item, this.cityClass(this.item.city.color));

                genHtmlMarker([this.item.latitude, this.item.longitude], html)
                    .on('click', () => {
                        this.$yandexMetrika.reachGoal('route');
                    })
                    .addTo(this.map);
                this.isInitMap = true;
            },

            zoomIn() {
                this.map.zoomIn();
            },

            zoomOut() {
                this.map.zoomOut();
            },

            onToggle(val) {
                this.isOpen = val;
            },

            onResize() {
                if (this.isOpen) {
                    if (this.$mq === 'xs' && this.isInitMap) {
                        this.map.remove();
                        this.isInitMap = false;
                        return;
                    }

                    if (!this.isInitMap && this.$mq !== 'xs') {
                        this.initMap();
                    }
                }
            },

            onOpenMap() {
                this.$modal.open(ContactModal, {
                    contact: this.item,
                    colorClass: this.cityClass(this.item.city.color),
                });
            },

            onOpenModal() {
                this.$modal.open(RequestFormModal, {
                    title: 'Обратный звонок',
                    subtitle: 'Менеджер свяжется в ближайшее время',
                    form: CallbackForm,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ContactItem {
        &._open {
            .cell {
                .label,
                .hint {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity $default-transition;
                }

                @include respond-to(sm) {
                    margin-bottom: 0;
                }
            }
        }

        @include hover {
            &:hover {
                .cell {
                    .label,
                    .hint {
                        opacity: 1;
                        visibility: visible;
                        transition: opacity $default-transition;
                    }
                }
            }
        }
    }

    .header {
        display: flex;
        padding-right: 1.6rem;

        @include respond-to(sm) {
            flex-wrap: wrap;
            padding-right: 0;
        }
    }

    .titleBox {
        position: relative;
        padding-top: 3.2rem;
        padding-right: 1rem;
        margin-right: auto;

        @include respond-to(sm) {
            width: 100%;
            padding-top: 20px;
            padding-right: 0;
        }
    }

    .label {
        position: absolute;
        top: 0;
        left: 0;
        color: $base-200;
        white-space: nowrap;
        transition: opacity $default-transition;
    }

    .info {
        display: flex;

        @include respond-to(xs) {
            flex-wrap: wrap;
            padding: $side-padding-mobile $side-padding-mobile 24px;
        }
    }

    .cell {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 32.8rem;
        padding-top: 2.2rem;
        margin-right: 3.2rem;

        @include respond-to(lg) {
            width: 17.8rem;
        }

        @include respond-to(sm) {
            width: 230px;
            margin-top: 2.4rem;
            margin-right: 0;
            margin-bottom: -24px;
            transition: margin-bottom $default-transition;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-bottom: 0;
            margin-top: 16px;
        }

        .label {
            opacity: 0;

            @include respond-to(sm) {
                opacity: 1;
            }
        }

        &._mail {
            @include respond-to(lg) {
                width: 19.8rem;
            }

            @include respond-to(sm) {
                width: 230px;
                margin-right: -50px;
            }

            @include respond-to(xs) {
                width: 100%;
            }
        }

        &._address {
            width: 32.6rem;

            @include respond-to(lg) {
                width: 23rem;
            }

            @include respond-to(sm) {
                width: 230px;
                padding-right: 32px;
            }

            @include respond-to(xs) {
                width: 265px;
                margin-top: 0;
                padding-right: 40px;
            }
        }
    }

    .value {
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-500;
    }

    .mobileIcon {
        position: absolute;
        top: .4rem;
        right: 0;
        display: none;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgba($base-100, .4);
        color: $base-400;
        transform: translate3d(0, 0, 0);

        svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
        }

        @include respond-to(xs) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .hint {
        position: relative;
        display: inline-block;
        margin-bottom: .8rem;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity $default-transition, visibility $default-transition .26s;

        .currentValue {
            color: $secondary-500;
        }

        .hoverValue {
            color: $secondary-300;
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }

        @include respond-to(xs) {
            opacity: 1;
            visibility: visible;
        }
    }

    .currentValue {
        display: inline-block;
        transform: translateY(0) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .hoverValue {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        transform: translateY(100%) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .content {
        position: relative;
        height: 60rem;

        @include respond-to(sm) {
            height: 432px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .map {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;

        @include respond-to(xs) {
            display: none;
        }
    }

    .zoom {
        position: absolute;
        right: 5.6rem;
        bottom: 5.6rem;
        z-index: 2;

        @include respond-to(sm) {
            right: $side-padding-tablet;
            bottom: $side-padding-tablet;
        }
    }

    .btn {
        margin-top: 24px;
    }
</style>
