<template>
    <div :class="$style.CommercialInner"
         class="page-top">
        <FlatHero
            :lot="lot"
            realty-type="commercial"
        />

        <Features
            v-if="feautures.length"
            :list="feautures"
            title="Особенности проекта"
        />

        <Mortgage
            v-if="offers.length"
            title="Коммерческая ипотека"
            :specs="mortgageSpecs"
            :initial-values="mortgageValues"
            :initial-count="offersCount"
            :init-offers="offers"
            :realty-id="lot.id"
        />

        <div v-if="furnishSet && furnishSet.length">
            <DecorationMobile
                v-if="$mq === 'xs'"
                title="Отделка в помещении"
            />

            <Decoration
                v-else
                :items="lot.furnishSet"
                page="lot"
            />
        </div>

        <Layouts
            v-if="cleanedLots.length"
            title="Похожие помещения"
            realty-type="commercial"
            :lots="cleanedLots"
            :tabs="tabs"
            :active-tab="activeTab"
            :load-layouts="onLoadLayouts"
        />

        <Callback />
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import {convertToObject} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import globalCommercialSpace
        from '../../../queries/commercial-id/globalCommercialSpace.graphql';
    import similarCommercialSpaces
        from '../../../queries/commercial-id/similarCommercialSpaces.graphql';
    import similarCommercialSpacesSpecs
        from '../../../queries/commercial-id/similarCommercialSpacesSpecs.graphql';
    import mortgageOffersSpecs from '../../../queries/mortgage/allOffersSpecs.graphql';
    import allBanks from '../../../queries/mortgage/allBanks.graphql';
    import commercialAdvantages from '../../../queries/commercial-id/commercialAdvantages.graphql';

    /* components */
    import Features from '../../../components/common/features/Features';
    import Mortgage from '../../../components/common/mortgage/Mortgage';
    import Layouts from '../../../components/pages/project-slug/Layouts';
    import Callback from '../../../components/common/callback/Callback';
    import FlatHero from '../../../components/common/lot-hero/LotHero';
    import Decoration from '../../../components/common/decoration/Decoration';
    import DecorationMobile from '../../../components/common/decoration/DecorationMobile';

    export default {
        name: 'CommercialInner',

        components: {
            DecorationMobile,
            Decoration,
            FlatHero,
            Callback,
            Layouts,
            Mortgage,
            Features,
        },

        async asyncData({$axios, params, error}) {
            if (!params.id) {
                return error({statusCode: 404, message: 'Лот не найден'});
            }
            try {
                const [lotRes, similarRes, similarTabsRes] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: globalCommercialSpace.loc.source.body,
                        variables: {id: params.id},
                    }),

                    $axios.$post('/graphql/', {
                        query: similarCommercialSpaces.loc.source.body,
                        variables: {
                            id: params.id,
                            first: 7,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: similarCommercialSpacesSpecs.loc.source.body,
                        variables: {
                            id: params.id,
                        },
                    }),
                ]);


                const tabs = similarTabsRes.data?.similarCommercialSpacesSpecs?.length > 1
                    ? [{
                        value: '',
                        label: 'Любые',
                    }, ...similarTabsRes.data.similarCommercialSpacesSpecs]
                    : similarTabsRes.data.similarCommercialSpacesSpecs;

                const lot = lotRes.data?.globalCommercialSpace;

                const [advantagesRes, mortgageSpecsRes] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: commercialAdvantages.loc.source.body,
                        variables: {
                            city: lot.project.city.id,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: mortgageOffersSpecs.loc.source.body,
                        variables: {
                            type: 'commercial',
                            price: lot.price,
                            project: lot.project.id,
                        },
                    }),
                ]);

                let specs = {};
                let offersRes;
                let values;

                if (mortgageSpecsRes.data?.allOffersSpecs) {
                    specs = {...convertToObject(mortgageSpecsRes.data.allOffersSpecs)};

                    const initialProgram = specs.program?.length ? specs.program[0].value : null;

                    values = {
                        type: 'commercial',
                        price: lot.price,
                        project: lot.project.id,
                        program: initialProgram,
                        term: specs.term.max ? specs.term.max : null,
                        deposit: specs.deposit.min ? specs.deposit.min : null,
                    };

                    offersRes = await $axios.$post('/graphql/', {
                        query: allBanks.loc.source.body,
                        variables: {...values},
                    });
                }

                return {
                    lot: lot,
                    similarLots: similarRes.data?.similarCommercialSpaces?.edges,
                    tabs: tabs,
                    mortgageSpecs: specs,
                    offersCount: offersRes?.data?.allBanks?.totalCount,
                    offers: offersRes?.data?.allBanks?.edges?.length ? offersRes.data.allBanks.edges.map(offer => offer.node) : [],
                    mortgageValues: {...values},

                    feautures: advantagesRes.data?.commercialPropertyPage?.advantageSet?.length ? advantagesRes.data.commercialPropertyPage.advantageSet : [],
                };
            } catch (e) {
                console.log('[CommercialInner/ asyncData]:', e);
            }
        },

        data() {
            return {
                tabs: [],
                similarLots: [],
                first: 7,
                activeTab: '',
                mortgageSpecs: {},
                offers: [],
                offersCount: 0,
                mortgageValues: {
                    type: 'residential',
                    price: '',
                    program: '',
                    term: '',
                    deposit: '',
                    city: '',
                },

                lot: {},
                feautures: [],
            };
        },

        computed: {
            cleanedLots() {
                return this.similarLots.length ? this.similarLots.map(item => item.node) : [];
            },

            furnishSet() {
                return this.lot.furnishSet?.length ? this.lot.furnishSet.filter(item => item.imageSet && item.imageSet.length) : [];
            },
        },

        async mounted() {
            await this.setHeaderColor('gray');
        },

        beforeDestroy() {
            this.setHeaderColor('milk');
        },

        methods: {
            ...mapActions('header', [
                'setHeaderColor',
            ]),

            fetchLayouts() {
                return this.$axios.$post('/graphql/', {
                    query: similarCommercialSpaces.loc.source.body,
                    variables: {
                        tab: this.activeTab,
                        id: this.$route.params.id,
                        first: this.first,
                    },
                }, {
                    progress: false,
                });
            },

            async onLoadLayouts(tab) {
                this.activeTab = tab;
                const {data} = await this.fetchLayouts();
                this.similarLots = data.similarCommercialSpaces.edges;
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialInner {
        //
    }
</style>
