<template>
    <div :class="$style.VacancyPage">
        <AboutDescription
            :accent="page.vacancies"
            :info="page.vacanciesDescription"
            :description-accent="page.text1"
            :description="page.text2"
        />

        <VacancyAbout :page="page" />

        <!--<WatchVideoBlock-->
        <!--title="О компании"-->
        <!--:image="page.videoPreview"-->
        <!--:lead="page.videoTitle"-->
        <!--:text="page.videoDescription"-->
        <!--:video="page.video"-->
        <!--/>-->

        <VacancyList
            id="list"
            :vacancies="vacancies"
            :values="values"
            :specs="specs"
            :facets="facets"
            :loading="loading"
            @on-values-change="onValuesChange"
        />

        <Callback
            type="vacancy"
            :forms="forms"
            :select-options="selectOptions"
            bottom-image
            @open-modal="onOpenModal"
        />
    </div>
</template>

<script>
    /* utils */
    import {applyQuery} from 'frontend/assets/js/utils/queryUtils';
    import {convertToObject} from '../../../../assets/js/utils/commonUtils';
    import {mapGetters} from 'vuex';

    /* queries */
    import allVacancies from '@/queries/vacancies/allVacancies.graphql';
    import allVacanciesSpecs from '@/queries/vacancies/allVacanciesSpecs.graphql';
    import allVacanciesFacets from '@/queries/vacancies/allVacanciesFacets.graphql';
    import vacancyPage from '@/queries/vacancies/vacancyPage.graphql';

    /* components */
    import VacancyAbout from '../../../../components/pages/about/vacancy/VacancyAbout';
    import VacancyList from '../../../../components/pages/about/vacancy/VacancyList';
    // import WatchVideoBlock from '../../../../components/common/WatchVideoBlock';
    import AboutDescription from '../../../../components/pages/about/AboutDescription';
    import Callback from '../../../../components/common/callback/Callback';
    import VacancyModal from '../../../../components/layout/modals/VacancyModal';

    const defaultValues = {
        category: '',
        city: '',
        text: '',
    };

    export default {
        name: 'VacancyPage',

        components: {
            Callback,
            AboutDescription,
            // WatchVideoBlock,
            VacancyList,
            VacancyAbout,
        },

        async asyncData({$axios, store, query}) {
            try {
                const initialValues = applyQuery(defaultValues, query);

                const city = store.getters['getActiveCityId'];
                if (city) {
                    initialValues.city = city;
                }

                const [vacancyPageRes, allVacanciesRes, allVacanciesSpecsRes, allVacanciesFacetsRes] = await Promise.all([
                    // Получаем инфу по странице
                    $axios.$post('/graphql/', {
                        query: vacancyPage.loc.source.body,
                        variables: {...initialValues},
                    }),
                    // Получаем вакансии
                    $axios.$post('/graphql/', {
                        query: allVacancies.loc.source.body,
                        variables: {...initialValues},
                    }),
                    // Получаем спеки
                    $axios.$post('/graphql/', {
                        query: allVacanciesSpecs.loc.source.body,
                    }),
                    // Получаем фасеты
                    $axios.$post('/graphql/', {
                        query: allVacanciesFacets.loc.source.body,
                        variables: {...initialValues},
                    }),
                ]);

                return {
                    vacanciesRes: allVacanciesRes?.data?.allVacancies?.edges?.length ? allVacanciesRes.data.allVacancies.edges : [],
                    specs: allVacanciesSpecsRes?.data?.allVacanciesSpecs?.length ? convertToObject(allVacanciesSpecsRes.data.allVacanciesSpecs) : {},
                    facets: allVacanciesFacetsRes?.data?.allVacanciesFacets?.facets?.length ? convertToObject(allVacanciesFacetsRes.data.allVacanciesFacets.facets) : {},
                    values: initialValues,
                    page: vacancyPageRes?.data?.vacancyPage || {},
                };
            } catch (e) {
                console.log('[VacancyPage/ asyncData]:', e);
            }
        },

        data() {
            return {
                loading: false,
                vacanciesRes: [],
                specs: {},
                facets: {},
                page: {},
                textEntering: false,
                values: {...defaultValues},
                defaultValues: {...defaultValues},
                selectOptions: [
                    {
                        label: 'Отправить резюме',
                        value: 'vacancy',
                    },
                    {
                        label: 'Запись на экскурсию',
                        value: 'excursion',
                    },
                    {
                        label: 'Задать вопрос',
                        value: 'callback',
                    },
                ],
            };
        },

        head() {
            return {
                title: 'Вакансии — «Страна Девелопмент»',
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: 'Работа в «Страна Девелопмент» — возможность реализовать свой потенциал в создании уникальных проектов. Ответственная и интересная работа в сплоченной команде профессионалов.',
                    },
                    {
                        hid: 'keywords',
                        name: 'keywords',
                        content: 'вакансия, страна девелопмент, работа',
                    },
                ],
            };
        },

        computed: {
            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),

            vacancies() {
                if (!this.vacanciesRes.length) {
                    return [];
                }

                const items = {};

                this.vacanciesRes.forEach(item => {
                    const categoryId = item.node.category.id;

                    if (!items[categoryId]) {
                        items[categoryId] = {
                            id: item.node.category.id,
                            direction: item.node.category.name,
                            list: [],
                        };
                    }

                    items[categoryId].list.push(item.node);
                });

                return Object.keys(items).map(key => items[key]);
            },

            forms() {
                return this.page.form ? [{...this.page.form, ...{value: 'vacancy', id: 'vacancy'}}] : [];
            }
        },

        methods: {
            async loadVacancies() {
                if (this.loading) {
                    return;
                }
                this.loading = true;
                const start = Date.now();
                const [allVacanciesRes, allVacanciesFacetsRes] = await this.fetchVacancies();
                const stop = Date.now();
                if (stop - start < 200) {
                    setTimeout(() => {
                        this.vacanciesRes = allVacanciesRes?.data?.allVacancies?.edges?.length ? allVacanciesRes.data.allVacancies.edges : [];
                        this.facets = allVacanciesFacetsRes?.data?.allVacanciesFacets?.facets?.length ? convertToObject(allVacanciesFacetsRes.data.allVacanciesFacets.facets) : {};

                        this.$nextTick(() => {
                            this.loading = false;
                        });
                    }, 200 - (stop - start));
                } else {
                    this.vacanciesRes = allVacanciesRes?.data?.allVacancies?.edges?.length ? allVacanciesRes.data.allVacancies.edges : [];
                    this.facets = allVacanciesFacetsRes?.data?.allVacanciesFacets?.facets?.length ? convertToObject(allVacanciesFacetsRes.data.allVacanciesFacets.facets) : {};

                    this.$nextTick(() => {
                        this.loading = false;
                    });
                }
            },

            fetchVacancies() {
                return Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: allVacancies.loc.source.body,
                        variables: this.values,
                    }, {
                        progress: false,
                    }),

                    this.$axios.$post('/graphql/', {
                        query: allVacanciesFacets.loc.source.body,
                        variables: this.values,
                    }, {
                        progress: false,
                    }),
                ]);
            },

            onValuesChange(val) {
                this.values = {...this.values, ...val};

                if (!val.text) {
                    this.loadVacancies();
                } else if (!this.textEntering) {
                    // Если набирается текст, то сделать задержку на отправку запроса
                    this.textEntering = true;
                    setTimeout(() => {
                        this.loadVacancies();
                        this.textEntering = false;
                    }, 1500);
                }
            },

            onOpenModal() {
                this.$modal.open(VacancyModal, {
                    isResumeOnly: true,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .VacancyPage {
        //
    }
</style>
