<template>
    <section :class="$style.Features">
        <div :class="$style.container"
             class="container">
            <div :class="$style.header">
                <h2 :class="$style.title"
                    v-html="title">
                </h2>

                <div :class="$style.controls">
                    <GalleryFraction
                        :class="$style.fraction"
                        color="inverse"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                    />

                    <div :class="$style.pagination">
                        <div ref="pagination"
                             class="swiper-pagination swiper-pagination-progressbar is-inverse">
                        </div>
                    </div>

                    <div :class="$style.buttons">
                        <VCircleButton ref="prev"
                                       :class="[$style.controlBtn, $style._prev]"
                                       hover-color="violet"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                        <VCircleButton ref="next"
                                       :class="[$style.controlBtn, $style._next]"
                                       hover-color="violet"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>
                </div>
            </div>


            <div :class="[$style.body, classList]">
                <div :class="$style.mobileFraction">
                    <GalleryFraction
                        :current="fractionCurrent"
                        :total="fractionTotal"
                        size="small"
                    />
                </div>

                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <div class="swiper-wrapper">
                        <div v-for="(card, index) of list"
                             :key="card.id"
                             class="swiper-slide"
                             :class="$style.slide">
                            <FeatureCard
                                :index="index"
                                :card="card"
                                :image-field-name="imageFieldName"
                                :preview-field-name="previewFieldName"
                                color="milk"
                            />
                        </div>
                    </div>
                </div>

                <div :class="$style.effectWrap">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import GalleryFraction from '../gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRight from '../../icons/IconArrowRight';
    import FeatureCard from './FeatureCard';

    export default {
        name: 'Features',

        components: {
            FeatureCard,
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            list: {
                type: Array,
                default: () => [],
            },

            imageFieldName: {
                type: String,
                default: 'imageDisplay',
            },

            previewFieldName: {
                type: String,
                default: 'imagePreview',
            },
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
                flags: {
                    prevAnimation: false,
                    nextAnimation: false,
                },

                mappingObj: {
                    xs: 1,
                    sm: 2,
                    md: 3,
                    lg: 3,
                    xl: 4,
                },
            };
        },

        computed: {
            fractionCurrent() {
                const current = Math.ceil(this.activeIndex / this.mappingObj[this.$mq]) + 1;
                return current < 10 ? `0${current}` : `${current}`;
            },

            fractionTotal() {
                const current = Math.ceil(this.list.length / this.mappingObj[this.$mq]);
                return current < 10 ? `0${current}` : `${current}`;
            },

            classList() {
                return {
                    [this.$style._effect]: this.list.length > 1,
                    [this.$style._nextAnim]: this.flags.nextAnimation,
                    [this.$style._prevAnim]: this.flags.prevAnimation,
                };
            },
        },

        watch: {
            list(val) {
                if (this.slider) {
                    this.slider.destroy();
                    this.$nextTick(() => {
                        if (val.length > 1) {
                            this.initSwiper();
                        }
                    });
                    this.activeIndex = 0;
                } else if (val.length > 1) {
                    this.initSwiper();
                }
            },
        },

        mounted() {
            this.$nextTick(() => {
                if (this.list.length > 1) {
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[Features] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                let options = {
                    speed: 1000,
                    slidesPerView: 1,
                    spaceBetween: 16,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    lazy: true,

                    breakpoints: {
                        1920: {
                            slidesPerView: 4,
                            slidesPerGroup: 4,
                            spaceBetween: 48,
                        },

                        992: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 40,
                        },

                        768: {
                            slidesPerView: 2,
                            slidesPerGroup: 2,
                            spaceBetween: 24,
                        },
                    },

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },
                };

                const mobileOptions = {
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },
                    loop: true,
                };

                if (window.innerWidth < 768) {
                    options = {...options, ...mobileOptions};
                }

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });

                this.slider.on('transitionStart', () => {
                    if (!this.$device.isMobile) {
                        return;
                    }
                    if (this.activeIndex < this.slider.realIndex || (this.slider.realIndex === 0 && this.activeIndex === this.list.length - 1)) {
                        if (this.activeIndex === 0 && this.slider.realIndex === this.list.length - 1) {
                            this.flags.prevAnimation = true;
                        } else {
                            this.flags.nextAnimation = true;
                        }
                    } else {
                        this.flags.prevAnimation = true;
                    }
                });

                this.slider.on('transitionEnd', () => {
                    this.flags.nextAnimation = false;
                    this.flags.prevAnimation = false;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .Features {
        padding: 8rem 0;
        background: linear-gradient(255deg, $vice 0%, $moxxy 57.99%, $redline 100%);

        @include respond-to(sm) {
            padding: 72px 0;
            background: linear-gradient(107deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        }

        @include respond-to(xs) {
            padding: 40px 0 56px;
            background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        }
    }

    .container {
        position: relative;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .title {
        font-weight: 500;
        font-size: 4rem;
        line-height: 1.2;
        letter-spacing: -.1rem;
        color: $milk;

        @include respond-to(xs) {
            max-width: 128px;
            font-size: 20px;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond-to(sm) {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            padding: 0 $side-padding-tablet;
        }

        @include respond-to(xs) {
            position: static;
            padding: 0;
            width: auto;
        }
    }

    .fraction {
        margin-right: 2.4rem;

        @include respond-to(xs) {
            display: none;
        }
    }

    .pagination {
        width: 67.2rem;

        @include respond-to(lg) {
            width: 57.6rem;
        }

        @include respond-to(sm) {
            width: 100%;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        width: 11.2rem;
        margin-left: 2.4rem;

        @include respond-to(sm) {
            margin-left: 32px;
        }

        @include respond-to(xs) {
            width: 72px;
        }
    }

    .controlBtn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .body {
        position: relative;

        &._effect {
            &:before {
                content: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: $milk;
                overflow: hidden;

                @include respond-to(xs) {
                    content: '';
                }
            }

            .effectWrap {
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    opacity: .24;
                    will-change: transform;
                    transition: transform .4s ease;
                    z-index: -1;
                }

                &:before {
                    transform: scaleX(.945) translate(0, .8rem);
                }

                &:after {
                    transform: scaleX(.917) translate(0, 1.6rem);
                }
            }
        }

        &._nextAnim {
            .effectWrap {
                &:before {
                    animation: animFirst .5s ease-out;
                }

                &:after {
                    animation: animSecond .5s ease-out;
                }
            }
        }

        &._prevAnim {
            .effectWrap {
                &:before {
                    animation: animFirst .5s ease-out reverse;
                }

                &:after {
                    animation: animSecond .5s ease-out reverse;
                }
            }
        }

        @include respond-to(sm) {
            padding-bottom: 80px;
        }

        @include respond-to(xs) {
            padding-bottom: 0;
        }
    }

    .effectWrap {
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 0;
        display: none;
        width: 100%;
        height: calc(100% - 32px);

        @include respond-to(xs) {
            display: block;
        }
    }

    .mobileFraction {
        display: none;

        @include respond-to(xs) {
            position: absolute;
            top: 24px;
            left: 24px;
            z-index: 2;
            display: inline-flex;
        }
    }

    .slider {
        margin-top: 5rem;

        @include respond-to(sm) {
            margin: 32px -#{$side-padding-tablet} 0;
            padding: 0 128px 0 40px;
        }

        @include respond-to(xs) {
            margin: 16px -#{$side-padding-mobile} 0;
            padding: 0 $side-padding-mobile;
        }
    }

    .slide {
        display: flex;
        height: auto;
    }
</style>
