<template>
    <div class="v-tag"
         :class="classes">
        <span class="v-tag__label">
            <slot></slot>
        </span>
    </div>
</template>

<script>
    export default {
        name: 'VTag',

        props: {
            color: {
                type: String,
                default: 'default',
            },

            outline: Boolean,
        },

        computed: {
            classes() {
                return [
                    `v-tag--${this.color}`,
                    {
                        'is-outline': this.outline,
                    },
                ];
            },
        },
    };
</script>

<style lang="scss">
    .v-tag {
        display: inline-flex;
        align-items: center;
        height: 2.2rem;
        padding: 0 1.2rem;
        border-radius: .8rem;
        transition: color $default-transition, background-color $default-transition, border-color $default-transition;

        /* Colors */
        &--transparent,
        &--default {
            color: $base-500;
            background-color: $base-100;

            &.is-outline {
                background-color: transparent;
                border: 1px solid $base-100;
            }
        }

        &--white {
            color: $base-500;
            background-color: #fff;

            &.is-outline {
                background-color: transparent;
                color: #fff;
                border: 1px solid rgba(#fff, .4);
            }
        }

        &--milk {
            color: $base-500;
            background-color: $milk;

            &.is-outline {
                background-color: transparent;
                color: $milk;
                border: 1px solid rgba($milk, .4);
            }
        }

        &--gradient {
            color: $milk;
            background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        }

        &--redline {
            color: $milk;
            background-color: $redline;

            &.is-outline {
                background-color: transparent;
                color: $redline;
                border: 1px solid $primary-200;
            }
        }

        &--vice {
            color: $milk;
            background-color: $vice;

            &.is-outline {
                background-color: transparent;
                color: $vice;
                border: 1px solid $secondary-200;
            }
        }

        &--moxxy {
            color: $milk;
            background-color: $moxxy;

            &.is-outline {
                background-color: transparent;
                color: $moxxy;
                border: 1px solid $tertiary-200;
            }
        }

        /* End Colors */

        &__label {
            padding-top: .2rem;
            font-size: 1rem;
            line-height: 1;
            font-weight: 500;
            letter-spacing: .1em;
            text-transform: uppercase;
            white-space: nowrap;
            will-change: color;

            @include respond-to-min(lg) {
                padding-top: .25rem;
            }
        }
    }

</style>
