<template>
    <div :class="$style.Layouts">
        <div :class="$style.header"
             class="container">
            <h3 :class="$style.title"
                class="h3 c-base"
                v-html="title">
            </h3>
            <VTabs v-if="withTabs && tabs && tabs.length > 1"
                   :class="$style.tabs">
                <VTab v-for="tab in tabs"
                      :key="tab.value"
                      :active="activeTab === tab.value"
                      @click="onTabChange(tab.value)">
                    {{ tab.label }}
                </VTab>
            </VTabs>

            <VButton v-else-if="!withTabs"
                     :class="$style.link"
                     :link="buttonLink">
                Подобрать по параметрам
            </VButton>
        </div>

        <div :class="[$style.list, {[$style._reloading]: isReloading}]">
            <article v-for="card in displayedLots"
                     :key="card.id"
                     :class="$style.card">
                <LotCard
                    :lot="card"
                    :realty-type="realtyType"
                />
            </article>
            <div :class="[$style.card, $style._more]">
                <MoreCard :link="link"
                          @click="$emit('more-click')">
                    <template #icon>
                        <IconEyeLarge class="frame-icon is-large" />
                    </template>
                    <template #label>
                        Показать все
                    </template>
                </MoreCard>
            </div>
        </div>
    </div>
</template>

<script>
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import LotCard from '../../common/LotCard';
    import MoreCard from '../../common/MoreCard';
    import IconEyeLarge from '../../icons/IconEyeLarge';
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'Layouts',

        components: {
            VButton,
            IconEyeLarge,
            MoreCard,
            LotCard,
            VTab,
            VTabs,
        },

        props: {
            title: {
                type: String,
                default: 'Примеры планировок',
            },

            tabs: {
                type: Array,
                default: () => [],
            },

            moreLink: {
                type: String,
                default: '/flats/?rooms=',
            },

            buttonLink: {
                type: String,
                default: '',
            },

            lots: {
                type: Array,
                default: () => [],
            },

            loadLayouts: {
                type: Function,
                default: () => ({}),
            },

            activeTab: {
                type: String,
                default: '',
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            withTabs: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                isReloading: false,
                displayedLots: [],
            };
        },

        computed: {
            link() {
                return `${this.moreLink}${this.activeTab}`;
            },
        },

        watch: {
            $mq: function() {
                this.displayedLots = this.checkDisplayedLots();
            },

            lots() {
                this.displayedLots = this.checkDisplayedLots();
                this.$nextTick(() => {
                    this.isReloading = false;
                });
            },
        },

        mounted() {
            this.displayedLots = this.checkDisplayedLots();
        },

        methods: {
            onClick() {
                console.log('click');
            },
            async onTabChange(val) {
                if (this.isReloading) {
                    return;
                }
                this.isReloading = true;
                await this.loadLayouts(val);
            },

            checkDisplayedLots() {
                switch (this.$mq) {
                    case 'xl':
                        return this.lots.length < 7 ? this.lots.slice(0, 3) : this.lots;
                    case 'xs':
                        return this.lots;
                    case 'sm':
                        return this.lots.length % 2 === 1 ? this.lots : this.lots.slice(0, this.lots.length - 1);
                    default:
                        return this.lots.length < 5 ? this.lots.slice(0, 2) : this.lots.slice(0, 5);
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .Layouts {
        position: relative;
        overflow: hidden;
        background-color: $milk;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 8rem;
        padding-bottom: 8rem;

        @include respond-to(sm) {
            flex-wrap: wrap;
            padding-top: 6.4rem;
            padding-bottom: 6.4rem;
        }

        @include respond-to(xs) {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 40px;
            padding-bottom: 0;
        }
    }

    .title {
        @include respond-to(xs) {
            padding-bottom: 24px;
        }
    }

    .tabs {
        @include respond-to(sm) {
            margin-top: 24px;
        }

        @include respond-to(xs) {
            max-width: calc(100% + 32px);
            margin: 0 -16px;
        }
    }

    .link {
        width: 28.2rem;

        @include respond-to(xs) {
            width: 100%;
            margin-bottom: 24px;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: -1px;
        transition: opacity $default-transition, transform $default-transition;

        &._reloading {
            opacity: 0;
            transform: translateY(64px);
            pointer-events: none;
        }
    }

    .card {
        position: relative;
        width: 25%;
        min-height: 56rem;

        @include respond-to(lg) {
            width: 33.3333%;
        }

        &:not(._more) {
            outline: 1px solid $base-100;
        }

        @include respond-to(sm) {
            width: 50%;
            min-height: 490px;
        }

        @include respond-to(xs) {
            width: 100%;
            min-height: auto;

            &._more {
                height: 24rem;
            }
        }
    }
</style>
