<template>
    <div ref="container"
         :class="$style.ProjectVisual"
         class="genplan"
         data-anhor="visual">
        <div id="visual"
             class="anchor-project">
        </div>
        <transition name="fade"
                    mode="out-in">
            <VisualBuildings
                v-if="activeView === 'buildings'"
                :key="'buildings'"
                :genplan-origin="project.planDisplay"
                :genplan-preview="project.planPreview"
                :genplan-height="project.planSpecsHeight"
                :genplan-width="project.planSpecsWidth"
                :buildings="buildings"
                :main-infra="mainInfra"
                :infra="infra"
                :environment="environment"
                :project-id="project.id"
                :color-class="cityClass(cityColor)"
                :skip-sections="project.skipSections"
                :has-parking="project.hasParking"
                @view-change="onBuildingClick"
            />

            <VisualSection
                v-else-if="activeView === 'section'"
                :key="'section'"
                :genplan-origin="currentBuilding.planDisplay"
                :genplan-preview="currentBuilding.planPreview"
                :genplan-height="currentBuilding.planSpecsHeight"
                :genplan-width="currentBuilding.planSpecsWidth"
                :sections="sections"
                :building-name="currentBuilding.nameDisplay"
                :color-class="cityClass(cityColor)"
                :project-id="project.id"
                :building-id="currentBuilding.id"
                @back="onBackClick"
                @view-change="onFloorClick"
            />

            <VisualFlats
                v-else
                :floors="floors"
                :active-floor="currentFloor"
                :building="currentBuilding"
                @section-change="onSectionChange"
                @back="onBackClick"
            />
        </transition>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    /* queries */
    import allBuildings from '../../../queries/project-slug/visual/allBuildings.graphql';
    import allSections from '../../../queries/project-slug/visual/allSections.graphql';
    import allFloors from '../../../queries/project-slug/visual/allFloors.graphql';
    import allMainInfra from '../../../queries/project-slug/visual/allMainInfra.graphql';
    import allSubInfra from '../../../queries/project-slug/visual/allSubInfra.graphql';
    import allRoundInfra from '../../../queries/project-slug/visual/allRoundInfra.graphql';

    /* components */
    import VisualBuildings from './visual/buildings/VisualBuildings';

    export default {
        name: 'ProjectVisual',

        components: {
            VisualBuildings,
            VisualSection: () => import('./visual/section/VisualSection'),
            VisualFlats: () => import('./visual/flats/VisualFlats'),
        },

        props: {
            project: {
                type: Object,
                default: () => ({}),
            },
        },

        async fetch() {
            try {
                const [
                    buildingsRes,
                    mainInfraRes,
                    infraRes,
                    environmentRes,
                ] = await Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: allBuildings.loc.source.body,
                        variables: {
                            project: this.project.id,
                        },
                    }),

                    this.$axios.$post('/graphql/', {
                        query: allMainInfra.loc.source.body,
                        variables: {
                            project: this.project.id,
                        },
                    }),

                    this.$axios.$post('/graphql/', {
                        query: allSubInfra.loc.source.body,
                        variables: {
                            project: this.project.id,
                        },
                    }),

                    this.$axios.$post('/graphql/', {
                        query: allRoundInfra.loc.source.body,
                        variables: {
                            project: this.project.id,
                        },
                    }),
                ]);

                this.buildings = buildingsRes.data?.allBuildings?.edges ? buildingsRes.data.allBuildings.edges.map(item => item.node) : [];
                this.mainInfra = mainInfraRes.data?.allMainInfra?.edges ? mainInfraRes.data.allMainInfra.edges.map(item => item.node) : [];
                this.infra = infraRes.data?.allSubInfra?.edges ? infraRes.data.allSubInfra.edges.map(item => item.node) : [];
                this.environment = environmentRes.data?.allRoundInfra?.edges ? environmentRes.data.allRoundInfra.edges.map(item => item.node) : [];
            } catch (e) {
                console.log('fetch ProjectVisual', e);
            }
        },

        data() {
            return {
                activeView: 'buildings',
                buildings: [],
                sections: [],
                floors: [],
                mainInfra: [],
                infra: [],
                environment: [],
                currentBuilding: null,
                currentFloor: null,
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            cityColor() {
                return this.project?.city?.color ? this.project.city.color : '#92278f';
            },
        },

        methods: {
            fetchSections(buildingId) {
                return this.$axios.$post('/graphql/', {
                    query: allSections.loc.source.body,
                    variables: {
                        building: buildingId,
                    },
                }, {
                    progress: false,
                });
            },

            fetchFloors(sectionId) {
                return this.$axios.$post('/graphql/', {
                    query: allFloors.loc.source.body,
                    variables: {
                        section: sectionId,
                    },
                }, {
                    progress: false,
                });
            },

            async onBuildingClick(building) {
                this.currentBuilding = building;
                const {data} = await this.fetchSections(building.id);
                this.sections = data?.allSections?.edges ? data.allSections.edges.map(item => item.node) : [];
                this.$nextTick(() => {
                    this.activeView = 'section';
                });
            },

            async onFloorClick(floor) {
                this.currentFloor = floor;
                const {data} = await this.fetchFloors(floor.section.id);
                this.floors = data?.allFloors?.edges ? data.allFloors.edges.map(item => item.node) : [];
                this.$nextTick(() => {
                    this.activeView = 'floor';
                });
            },

            async onSectionChange(section) {
                const {data} = await this.fetchFloors(section.id);
                this.floors = data?.allFloors?.edges ? data.allFloors.edges.map(item => item.node) : [];
                this.currentFloor = this.floors.length ? {...this.floors[0]} : {};
            },

            onBackClick(view) {
                this.activeView = view;
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectVisual {
        position: relative;
    }
</style>

<style lang="scss">
    .genplan {
        position: relative;
        width: 100%;
    }
</style>
