<template>
    <div :class="[$style.ProjectMenu, {[$style._fixed]: fixed}]">
        <div :class="$style.container"
             class="container">
            <p v-if="projectName"
               :class="$style.name">
                {{ projectName }}
            </p>
            <div :class="$style.nav">
                <component :is="item.link ? 'n-link' : 'div'"
                           v-for="item in displayedLinks"
                           :key="item.hash"
                           :to="item.link ? item.link : null"
                           :class="[$style.link, {[$style._active]: activeLink === item.hash}]"
                           class="button2 c-base"
                           @click="handleLinkClick(item.hash)">
                    <span :class="$style.currentValue">
                        {{ item.name }}
                    </span>
                    <span :class="$style.hoverValue">
                        {{ item.name }}
                    </span>
                </component>

                <SubmenuPopover v-if="!isMobile">
                    <template #header>
                        <div :class="$style.more">
                            <span class="button2 c-base">
                                Еще
                            </span>
                            <button :class="$style.kebab"
                                    class="btn-reset">
                                <IconKebab
                                    :class="$style.kebabIcon"
                                    class="frame-icon is-medium"
                                />
                            </button>
                        </div>
                    </template>
                    <template #body>
                        <div :class="$style.submenu">
                            <component :is="item.link ? 'n-link' : 'div'"
                                       v-for="item in submenuLinks"
                                       :key="item.hash"
                                       :to="item.link ? item.link : null"
                                       :class="[$style.sublink, {[$style._active]: activeLink === item.hash}]"
                                       class="button2 c-base"
                                       @click="handleLinkClick(item.hash)">
                                {{ item.name }}
                            </component>
                        </div>
                    </template>
                </SubmenuPopover>
            </div>

            <div :class="$style.mobileNav">
                <span class="button2 c-base-400">
                    Навигация
                </span>
                <button :class="$style.kebab"
                        class="btn-reset"
                        @click="onOpenNav">
                    <IconKebab
                        :class="$style.kebabIcon"
                        class="frame-icon"
                    />
                </button>
            </div>

            <div :class="$style.btn">
                <VButton size="small"
                         color="vice"
                         @click.native="handleLinkClick('callback')">
                    Записаться на показ
                </VButton>
            </div>

            <VButton v-if="$mq !== 'xs'"
                     size="small"
                     :link="`/flats/?project=${projectId}`"
                     @click="onLinkClick">
                Выбрать квартиру
            </VButton>
        </div>
    </div>
</template>

<script>
    import {scrollTo} from '../../../assets/js/utils/commonUtils';

    import IconKebab from '../../icons/IconKebab';
    import VButton from '../../ui/button/VButton';
    import Navigation from '../../common/Navigation';
    import SubmenuPopover from '../../ui/popover/SubmenuPopover';

    export default {
        name: 'ProjectMenu',

        components: {
            SubmenuPopover,
            VButton,
            IconKebab,
        },

        props: {
            fixed: Boolean,

            projectName: {
                type: String,
                default: '',
            },

            projectId: {
                type: String,
                default: '',
            },

            activeLink: {
                type: String,
                default: '',
            },

            menuLinks: {
                type: Array,
                default: () => [],
            },
        },

        computed: {
            displayedLinks() {
                return this.menuLinks.length ? this.menuLinks.slice(0, 4) : [];
            },

            submenuLinks() {
                return this.menuLinks.length ? this.menuLinks.slice(4) : [];
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        methods: {
            handleLinkClick(hash) {
                if (!hash) {
                    return;
                }
                scrollTo(hash);
            },

            onOpenNav() {
                this.$modal.open(Navigation, {
                    buttonText: 'Выбрать квартиру',
                    buttonLink: `/flats/?project=${this.projectId}`,
                    links: this.menuLinks,
                });
            },

            onLinkClick() {
                this.$yandexMetrika.reachGoal('choose-apartment');
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectMenu {
        width: 100%;
        height: 6.4rem;
        background-color: $base-50;
        border-bottom: 1px solid $base-100;

        @include respond-to(sm) {
            height: 80px;
        }

        @include respond-to(xs) {
            height: 66px;
        }

        &._fixed {
            position: fixed;
            z-index: 15;
        }
    }

    .container {
        display: flex;
        align-items: center;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;

        @include respond-to(sm) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @include respond-to(xs) {
            padding-top: 17px;
            padding-bottom: 17px;
        }
    }

    .name {
        position: relative;
        display: inline-block;
        padding-right: 5.6rem;
        margin-right: 5.6rem;
        font-size: 1.8rem;
        line-height: 1.36;
        color: $base-500;
        font-weight: 500;
        white-space: nowrap;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            height: 2.4rem;
            width: 1px;
            background-color: $base-100;
            transform: translateY(-50%);

            @include respond-to(sm) {
                content: none;
            }
        }

        @include respond-to(sm) {
            padding-right: 0;
            margin-right: auto;
        }

        @include respond-to(xs) {
            font-size: 16px;
            line-height: 1.52;
        }
    }

    .nav {
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            display: none;
        }
    }

    .more {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        @include respond-to(sm) {
            display: none;
        }
    }

    .submenu {
        padding: 2.4rem;
    }

    .link {
        position: relative;
        margin-right: 3.2rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.16;
        transition: color $default-transition;
        overflow: hidden;
        cursor: pointer;

        &._active {
            .currentValue {
                color: $vice;
            }

            .hoverValue {
                color: $secondary-400;
            }
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }
    }

    .currentValue {
        display: inline-block;
        color: $base-500;
        transform: translateY(0) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .hoverValue {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: $base-200;
        transform: translateY(100%) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .sublink {
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.16;
        color: $base-500;
        white-space: nowrap;
        transition: color $default-transition;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }

        &._active {
            color: $vice;
        }

        @include hover {
            &:hover {
                color: $secondary-400;
            }
        }
    }

    .kebab {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        margin-left: .8rem;
        border-radius: 50%;
        background-color: rgba($base-100, .4);
        color: $base-500;

        svg {
            flex-shrink: 0;
        }

        @include respond-to(sm) {
            width: 40px;
            height: 40px;
            margin-left: 16px;
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .kebabIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn {
        margin-left: auto;
        margin-right: 1.6rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .mobileNav {
        display: none;

        @include respond-to(sm) {
            display: flex;
            align-items: center;
            margin-right: 24px;
            margin-left: auto;
        }

        @include respond-to(xs) {
            margin-right: 0;

            span {
                display: none;
            }
        }
    }
</style>
