<template>
    <section :class="$style.ProjectProgress"
             data-anhor="progress">
        <div id="progress"
             class="anchor-project">
        </div>
        <div v-if="list && list.length"
             :class="$style.header"
             class="container">
            <div :class="$style.wrapper">
                <h2 :class="$style.title"
                    class="h3 c-base">
                    Ход строительства
                </h2>

                <VSelect v-if="specs.length > 1"
                         :class="$style.select"
                         :value="activeDate"
                         :options="specs"
                         size="large"
                         color="vice"
                         gradient-hover
                         @input="onDateChange">
                    <IconCalendar
                        class="frame-icon"
                        :class="{'is-xsmall': $mq === 'xs'}"
                    />
                </VSelect>
            </div>

            <div v-show="isDisplayControls"
                 :class="$style.controls">
                <GalleryFraction
                    :class="$style.fraction"
                    :size="$mq === 'xs' ? 'small' : 'medium'"
                    :current="fractionCurrent"
                    :total="fractionTotal"
                />

                <!--<div :class="$style.pagination">-->
                <!--<div ref="pagination"-->
                <!--class="swiper-pagination swiper-pagination-progressbar">-->
                <!--</div>-->
                <!--</div>-->
                <div :class="$style.pagination">
                    <GalleryProgress :progress="progressWidth" />
                </div>

                <div :class="$style.buttons">
                    <VCircleButton ref="prev"
                                   :class="[$style.controlBtn, $style._prev]"
                                   size="medium-small">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                    <VCircleButton ref="next"
                                   :class="[$style.controlBtn, $style._next]"
                                   size="medium-small">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                </div>
            </div>
        </div>

        <div v-if="list && list.length"
             ref="slider"
             :class="[$style.slider, {[$style._loading]: flags.isReloading}]"
             class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="card in list"
                     :key="card.node.id"
                     class="swiper-slide"
                     :class="$style.slide">
                    <MediaCard
                        :card="card.node"
                        mobile-small
                        :with-tag="$mq !== 'xs'"
                        type="progress"
                        @card-click="onOpenGallery"
                    />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';

    /* queries */
    import allProgress from '../../../queries/project-slug/allProgress.graphql';
    import progressAlbum from '../../../queries/project-slug/progressAlbum.graphql';

    /* components */
    import GalleryFraction from '../../common/gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRight from '../../icons/IconArrowRight';
    import VSelect from '../../ui/select/VSelect';
    import IconCalendar from '../../icons/IconCalendar';
    import MediaCard from '../../common/MediaCard';
    import GalleryModal from '../../layout/modals/GalleryModal';
    import IframeModal from '../../layout/modals/IframeModal';
    import GalleryProgress from '../../common/gallery/GalleryProgress';

    export default {
        name: 'ProjectProgress',

        components: {
            GalleryProgress,
            MediaCard,
            IconCalendar,
            VSelect,
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
        },

        props: {
            projectId: {
                type: String,
                default: '',
            },

            cityColorClass: {
                type: String,
                default: '',
            },

            specs: {
                type: Array,
                default: () => [],
            },
        },

        async fetch() {
            if (!this.projectId) {
                return;
            }

            try {
                if (this.specs && this.specs.length) {
                    this.activeDate = this.specs[0].value;

                    const {data} = await this.fetchList();

                    this.list = data.allProgress?.edges?.length ? data.allProgress.edges : [];
                    this.pageInfo.after = data.allProgress.pageInfo.endCursor;
                    this.pageInfo.hasNext = data.allProgress.pageInfo.hasNextPage;
                    this.totalCount = data.allProgress?.totalCount ? data.allProgress.totalCount : 0;
                }
            } catch (e) {
                console.log('[ProjectProgress / fetch]', e);
            }
        },

        data() {
            return {
                slider: null,
                facets: [],
                activeIndex: 0,
                activeDate: '',
                pageInfo: {
                    first: 5,
                    after: null,
                    hasNext: false,
                },
                totalCount: 0,
                flags: {
                    isLoading: false,
                    isReloading: false,
                },

                list: [],

                mappingObj: {
                    xs: 1,
                    sm: 2,
                    md: 3,
                    lg: 3,
                    xl: 4,
                },
            };
        },

        computed: {
            fractionCurrent() {
                const current = Math.ceil(this.activeIndex / this.mappingObj[this.$mq]) + 1;
                return current < 10 ? `0${current}` : `${current}`;
            },

            fractionTotal() {
                const current = Math.ceil(this.totalCount / this.mappingObj[this.$mq]);
                return current < 10 ? `0${current}` : `${current}`;
            },

            progressWidth() {
                return (100 * this.fractionCurrent) / this.fractionTotal;
            },

            isDisplayControls() {
                if (this.$mq === 'xs') {
                    return this.list.length > 1;
                }

                if (this.$mq === 'sm') {
                    return this.list.length > 2;
                }

                return this.list.length > 3;
            },
        },

        watch: {
            list() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                        if (this.slider.progress > .6) {
                            this.appendList();
                        }
                    });
                } else {
                    this.$nextTick(() => {
                        if (this.list.length) {
                            this.initSwiper();
                        }
                    });
                }
            },
        },

        mounted() {
            this.$nextTick(() => {
                if (this.list.length) {
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[projectProgress] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 700,
                    slidesPerView: 1,
                    spaceBetween: 20,
                    watchSlidesProgress: true,

                    breakpoints: {
                        1920: {
                            slidesPerView: 4,
                            slidesPerGroup: 4,
                            spaceBetween: 0,
                        },

                        992: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 0,
                        },

                        768: {
                            slidesPerView: 2,
                            slidesPerGroup: 2,
                            spaceBetween: 0,
                        },
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });

                this.slider.on('progress', () => {
                    if (this.slider.progress > .6) {
                        this.appendList();
                    }
                });
            },

            resetPageInfo() {
                this.pageInfo.hasNext = true;
                this.pageInfo.after = '';
            },

            fetchList() {
                return this.$axios.$post('/graphql/', {
                    query: allProgress.loc.source.body,
                    variables: {
                        order: '-date',
                        project: this.projectId,
                        date: this.activeDate,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                        firstSlides: 4,
                    },
                }, {
                    progress: false,
                });
            },

            fetchAlbum(slug) {
                return this.$axios.$post('/graphql/', {
                    query: progressAlbum.loc.source.body,
                    variables: {
                        slug: slug,
                    },
                }, {
                    progress: false,
                });
            },

            async appendList() {
                if (!this.pageInfo.hasNext || this.flags.isLoading) {
                    return;
                }
                this.flags.isLoading = true;
                const {data} = await this.fetchList();
                this.list = this.list.concat(data.allProgress.edges);
                this.totalCount = data.allProgress?.totalCount ? data.allProgress.totalCount : 0;
                this.pageInfo.after = data.allProgress.pageInfo.endCursor;
                this.pageInfo.hasNext = data.allProgress.pageInfo.hasNextPage;
                this.$nextTick(() => {
                    this.flags.isLoading = false;
                });
            },

            async updateList() {
                this.flags.isReloading = true;
                const start = Date.now();
                const {data} = await this.fetchList();
                const stop = Date.now();

                if (stop - start < 300) {
                    setTimeout(() => {
                        this.list = data.allProgress?.edges?.length ? data.allProgress.edges : [];
                        this.totalCount = data.allProgress?.totalCount ? data.allProgress.totalCount : 0;
                        this.pageInfo.after = data.allProgress.pageInfo.endCursor;
                        this.pageInfo.hasNext = data.allProgress.pageInfo.hasNextPage;

                        this.$nextTick(() => {
                            this.flags.isReloading = false;
                        });
                    }, 300 - (stop - start));
                } else {
                    this.list = data.allProgress?.edges?.length ? data.allProgress.edges : [];
                    this.totalCount = data.allProgress?.totalCount ? data.allProgress.totalCount : 0;
                    this.pageInfo.after = data.allProgress.pageInfo.endCursor;
                    this.pageInfo.hasNext = data.allProgress.pageInfo.hasNextPage;

                    this.$nextTick(() => {
                        this.flags.isReloading = false;
                    });
                }
            },

            onDateChange(val) {
                this.activeDate = val;
                this.resetPageInfo();
                this.updateList();
            },

            async onOpenGallery(card) {
                if (card.videoUrl) {
                    this.$modal.open(IframeModal, {
                        link: card.videoUrl,
                    });

                    return;
                }

                const {data} = await this.fetchAlbum(card.slug);
                const images = data.progress?.slideSet;
                const date = card.date;
                if (!images.length) {
                    return;
                }

                let order = 1;

                const obj = images.reduce((reducer, item) => {
                    const buildingId = item.building?.id ? item.building.id : '0';
                    const buildingName = item.building?.nameDisplay ? item.building.nameDisplay : 'Общие';
                    if (!reducer[buildingId]) {
                        order += 1;
                        reducer[buildingId] = {
                            id: buildingId,
                            name: buildingName,
                            date: date,
                            imageSlideSet: [],
                            order: buildingId === '0' ? 0 : order,
                        };
                    }

                    reducer[buildingId].imageSlideSet.push(item);

                    return reducer;
                }, {});

                const albums = Object.keys(obj).map(key => obj[key]);

                this.$modal.open(GalleryModal, {
                    album: albums.sort((a, b) => a.order - b.order),
                    noTabs: albums.length === 1 && albums[0].id === '0',
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectProgress {
        position: relative;
    }

    .header {
        display: flex;
        padding-top: 8.4rem;
        padding-bottom: 8.4rem;

        @include respond-to(sm) {
            display: block;
            padding-top: 64px;
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
            padding-bottom: 16px;
        }
    }

    .wrapper {
        display: flex;

        @include respond-to(xs) {
            flex-wrap: wrap;
            padding-right: 100px;
        }
    }

    .select {
        :global .v-select__icon {
            @include respond-to(sm) {
                transform: translateY(-62%);
            }
        }
    }

    .title {
        margin-right: .4rem;
    }

    .controls {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond-to(sm) {
            margin-top: 24px;
            margin-left: 0;
        }

        @include respond-to(xs) {
            position: relative;
            margin-top: 0;
        }
    }

    .fraction {
        margin-right: 1.4rem;

        @include respond-to(xs) {
            position: absolute;
            z-index: 2;
            top: 40px;
            left: 24px;
        }
    }

    .pagination {
        width: 21.6rem;

        @include respond-to(sm) {
            width: 100%;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        margin-left: 2.4rem;

        @include respond-to(sm) {
            margin-left: 32px;
        }

        @include respond-to(xs) {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 72px;
        }
    }

    .controlBtn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }

        &._prev {
            margin-right: 1.6rem;

            @include respond-to(sm) {
                margin-right: 12px;
            }

            @include respond-to(xs) {
                margin-right: 8px;
            }
        }
    }

    .slider {
        transition: opacity $default-transition;

        &._loading {
            opacity: 0;
        }

        @include respond-to(sm) {
            padding-right: 80px;
            background-color: $base-50;
        }

        @include respond-to(xs) {
            padding: 0 16px 40px;
            background-color: transparent;
        }
    }

    .slide {
        width: 25%;
        height: 56rem;
        border-right: 1px solid $base-100;

        @include respond-to(lg) {
            width: 33.3333%;
        }

        @include respond-to(sm) {
            width: 50%;
            height: 490px;
        }

        @include respond-to(xs) {
            width: 100%;
            height: 380px;
            border: none;
        }
    }
</style>
