<template>
    <div :class="$style.ProjectSimilar">
        <div :class="$style.header"
             class="container">
            <h2 :class="$style.title"
                class="h3 c-base">
                Другие проекты
            </h2>
            <VButton v-if="$mq === 'xs' || $mq === 'sm'"
                     :class="$style.btn"
                     color="vice"
                     @click="onOpenMap">
                Смотреть все на карте
            </VButton>
        </div>
        <div :class="$style.wrapper">
            <div :class="$style.container">
                <div v-for="item in projectList"
                     :key="item.id"
                     :class="$style.card">
                    <PromoCard
                        v-if="item.type === 'promo'"
                        :card="item"
                    />
                    <ProjectCard
                        v-else
                        apply-project-class
                        :project="item"
                    />
                </div>
                <div :class="[$style.card, $style._more]">
                    <MoreCard @click="onOpenMap">
                        <template #icon>
                            <IconPinLarge class="frame-icon is-large" />
                        </template>
                        <template #label>
                            Смотреть все на карте
                        </template>
                    </MoreCard>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    /* components */
    import VButton from '../../ui/button/VButton';
    import ProjectCard from '../../common/ProjectCard';
    import MoreCard from '../../common/MoreCard';
    import IconPinLarge from '../../icons/IconPinLarge';
    import MapModal from '../../layout/modals/MapModal';
    import PromoCard from '../../common/promo/PromoCard';

    export default {
        name: 'ProjectSimilar',

        components: {
            PromoCard,
            IconPinLarge,
            MoreCard,
            ProjectCard,
            VButton,
        },

        props: {
            projects: {
                type: Array,
                default: () => [],
            },

            promo: {
                type: Array,
                default: () => [],
            },

            cityId: {
                type: String,
                default: '',
            },
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            projectList() {
                const projects = this.projects.slice(0, 3);
                let arr = projects.slice();
                switch (this.$mq) {
                    case 'xl':
                        if (projects.length % 3 !== 0) {
                            arr = [...arr, ...this.preparedPromo.slice(0, 3 - projects.length)];
                        }
                        break;
                    case 'sm':
                        if (projects.length % 2 === 1) {
                            arr = [...arr, ...this.preparedPromo.slice(0, 1)];
                        }
                        break;
                    default:
                        if (projects.length >= 2) {
                            arr = arr.slice(0, 2);
                        } else if (this.$mq !== 'xs') {
                            arr = [...arr, ...this.preparedPromo.slice(0, 1)];
                        }
                        break;
                }
                return arr;
            },

            preparedPromo() {
                return this.promo.map(item => ({
                    ...item,
                    ...{type: 'promo'},
                }));
            },
        },

        methods: {
            onOpenMap() {
                this.$modal.open(MapModal, {
                    cities: this.cities,
                    filteredCity: this.cityId,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectSimilar {
        position: relative;
    }

    .header {
        display: flex;
        align-items: center;
        padding-top: 8.6rem;
        padding-bottom: 7.7rem;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid $base-100;
        }
    }

    .btn {
        margin-left: auto;

        @include respond-to(xs) {
            width: 100%;
            margin-top: 16px;
            margin-left: 0;
        }
    }

    .container {
        display: flex;

        @include respond-to(sm) {
            flex-wrap: wrap;
        }
    }

    .card {
        width: 25%;

        &:not(._more) {
            border-right: 1px solid $base-100;

            @include respond-to(xs) {
                border-right: none;
            }
        }

        &._more {
            @include respond-to(sm) {
                display: none;
            }
        }

        @include respond-to(lg) {
            width: 33.3333%;
        }

        @include respond-to(sm) {
            width: 50%;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }

    .wrapper {
        @include respond-to(xs) {
            display: flex;
            flex-direction: column;
        }
    }
</style>
