<template>
    <section :class="[$style.ProjectHero, classes]">
        <div :class="$style.sliderWrapper">
            <div ref="slider"
                 :class="$style.slider"
                 class="swiper-container">
                <div class="swiper-wrapper">
                    <div v-for="item of slides"
                         :key="item.id"
                         class="swiper-slide"
                         :class="$style.slide">
                        <ImageLazy
                            :image="item.imageDisplay"
                            :preview="item.imagePreview"
                            is-swiper-slider
                        />
                    </div>
                </div>
            </div>
        </div>
        <div :class="[$style.footer, classes]">
            <div :class="$style.container"
                 class="container">

                <div :class="$style.pagination">
                    <div ref="pagination"
                         class="swiper-pagination is-inverse swiper-pagination-progressbar">
                    </div>
                </div>

                <!--controls-->
                <div v-if="slides && slides.length > 1"
                     :class="$style.controls">
                    <GalleryFraction
                        size="normal"
                        :class="$style.fraction"
                        :color="isHovered ? 'inverse' : 'default'"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                    />
                    <transition name="fade"
                                appear
                                @after-leave="isReloading = false">
                        <div v-if="!isReloading && activeTitle"
                             :class="$style.caption">
                            - {{ activeTitle }}
                        </div>
                    </transition>

                    <div :class="$style.buttons"
                         @mouseenter="handleControlsEnter"
                         @mouseleave="handleControlsLeave">
                        <VCircleButton ref="prev"
                                       :class="[$style.btn, $style._prev]"
                                       size="medium-small"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                        <VCircleButton ref="next"
                                       :class="[$style.btn, $style._next]"
                                       size="medium-small"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>

                    <VCircleButton v-if="$mq === 'xs'"
                                   color="milk"
                                   @click="onOpenGalley">
                        <IconScale class="frame-icon" />
                    </VCircleButton>
                </div>

                <div :class="$style.info">
                    <div :class="$style.scrollBtn">
                        <VCircleButton size="medium-small"
                                       @click="onScrollClick">
                            <IconArrowDownLong class="frame-icon is-default" />
                        </VCircleButton>
                    </div>

                    <div :class="[$style.cell, $style._location]">
                        <span v-if="project && project.city"
                              :class="$style.label">
                            {{ project.city.name }} {{ projectMetro }}
                        </span>
                        <span v-if="project && project.transport"
                              :class="[$style.value, $style.time]">
                            <span>{{ project.transportTime }} мин.</span>
                            <span :class="$style.transportIcon"
                                  class="frame-icon is-small"
                                  v-html="project.transport.iconContent">
                            </span>
                        </span>
                    </div>

                    <div :class="[$style.cell, $style._price]">
                        <span :class="$style.label">
                            Стоимость
                        </span>
                        <span :class="$style.value">
                            от {{ project.minFlatPrice|roundToMillions }} млн
                            <span class="fw-normal">&#8381;</span>
                        </span>
                    </div>

                    <div :class="[$style.cell, $style._completion]">
                        <span :class="$style.label">
                            Срок сдачи
                        </span>
                        <span :class="$style.value">
                            {{ completion }}
                        </span>
                    </div>
                </div>

                <h1 :class="$style.title"
                    v-html="project.name">
                </h1>
            </div>

            <div :class="$style.slideInfo">
                <transition name="fade"
                            appear
                            @after-leave="isReloading = false">
                    <div v-if="!isReloading"
                         :class="$style.container"
                         class="container">
                        <span class="button2 c-milk">
                            {{ activeTitle }}
                        </span>
                        <span class="button2 c-milk-opacity">
                            {{ activeSubtitle }}
                        </span>
                    </div>
                </transition>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {
        scrollTo,
        lockBody,
        unlockBody,
        prettyQuarter,
    } from '../../../assets/js/utils/commonUtils';

    /* components */
    import ImageLazy from '../../common/ImageLazy';
    import GalleryFraction from '../../common/gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowDownLong from '../../icons/IconArrowDownLong';
    import IconArrowRight from '../../icons/IconArrowRight';
    import IconScale from '../../icons/IconScale';
    import GalleryModal from '../../layout/modals/GalleryModal';

    export default {
        name: 'ProjectHero',

        components: {
            IconScale,
            IconArrowRight,
            IconArrowDownLong,
            VCircleButton,
            GalleryFraction,
            ImageLazy,
        },

        props: {
            project: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
                isHovered: false,
                isReloading: false,
            };
        },

        computed: {
            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },

            classes() {
                return {
                    [this.$style._hovered]: this.isHovered,
                };
            },

            slides() {
                return this.project?.gallerySlides ? this.project.gallerySlides : [];
            },

            activeTitle() {
                return this.slides[this.activeIndex] ? this.slides[this.activeIndex].title : '';
            },

            activeSubtitle() {
                return this.slides[this.activeIndex] ? this.slides[this.activeIndex].subtitle : '';
            },

            completion() {
                if (!this.project.deadline) {
                    return ' ';
                }
                const date = new Date(this.project.deadline);
                const year = date.getFullYear();
                let quarter = Math.ceil((date.getMonth() + 1) / 3);

                if (quarter === 0) {
                    quarter = 4;
                }
                return `${prettyQuarter(quarter)} кв. ${year}`;
            },

            projectMetro() {
                return this.project?.metro ? `/ ${this.project.metro.name}` : '';
            },
        },

        mounted() {
            this.$nextTick(() => {
                if (this.slides.length > 1) {
                    this.initSwiper();
                }
            });
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 700,
                    slidesPerView: 1,
                    loop: true,
                    allowTouchMove: true,
                    lazy: {
                        loadPrevNext: true,
                    },
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                    },

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('transitionStart', () => {
                    this.isReloading = true;
                });

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },

            onScrollClick() {
                scrollTo('about');
            },

            handleControlsEnter() {
                if (this.$device.isMobileOrTablet) {
                    return;
                }
                this.isHovered = true;
                lockBody();
            },

            handleControlsLeave() {
                if (this.$device.isMobileOrTablet) {
                    return;
                }
                this.isHovered = false;
                unlockBody();
            },

            onOpenGalley() {
                this.$modal.open(GalleryModal, {
                    album: this.slides,
                    skipTabs: true,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectHero {
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$sub-header-h} - #{$header-h});

        @include respond-to(sm) {
            height: calc(100vh - #{$header-h-tablet});
            padding-top: $sub-header-h-tablet;
        }

        @include respond-to(xs) {
            height: calc(100vh - #{$header-h-mobile});
            padding-top: $sub-header-h-mobile;
        }
    }

    .sliderWrapper {
        position: relative;
        height: 100%;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .footer {
        padding: 3.4rem 0;
        border-bottom: 1px solid $base-100;
        background-color: $base-50;
        transition: background-color $default-transition, border-color $default-transition;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            width: 100%;
            height: $header-h;
            background-color: $base-800;
            transform: translateY(-100%);
            opacity: 0;
            pointer-events: none;
            transition: opacity $default-transition;

            @include respond-to(sm) {
                content: none;
            }
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 0;
            width: 100%;
            height: 1px;
            background-color: $base-800;
            opacity: 0;
            transition: opacity $default-transition;
        }

        @include respond-to-min(sm) {
            &._hovered {
                background-color: $base-800;
                border-color: rgba($milk, .16);

                &:before,
                &:after,
                .pagination,
                .slideInfo {
                    opacity: 1;
                }

                .title {
                    color: $milk;
                }

                .info {
                    opacity: 0;
                }
            }
        }

        @include respond-to(sm) {
            padding: 0;
        }
    }

    .slideInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 6.4rem;
        padding: 2.5rem 0 2.3rem;
        background-color: $base-800;
        pointer-events: none;
        transform: translateY(100%);
        opacity: 0;
        transition: background-color $default-transition, opacity $default-transition;

        .container {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        @include respond-to(sm) {
            display: block;
        }
    }

    .pagination {
        position: absolute;
        width: 69.6rem;
        top: 50%;
        right: 20.8rem;
        transform: translateY(-50%);
        opacity: 0;
        pointer-events: none;
        transition: opacity $default-transition;
    }

    .title {
        flex-shrink: 0;
        width: 42.4rem;
        font-size: 3.2rem;
        line-height: 1.24;
        font-weight: 500;
        letter-spacing: -.1rem;
        color: $base-500;
        transition: color $default-transition;

        @include respond-to(sm) {
            display: none;
        }
    }

    .info {
        display: flex;
        align-items: center;
        margin-right: auto;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            position: relative;
            margin-right: 0;
            padding-top: 36px;
            padding-bottom: 32px;
            padding-left: 80px;
        }

        @include respond-to(xs) {
            display: block;
            padding: 14px 0 12px;
        }
    }

    .scrollBtn {
        display: none;

        @include respond-to(sm) {
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .cell {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: content-box;

        @include respond-to(xs) {
            flex-direction: row;
            justify-content: space-between;

            &:not(:last-child) {
                border-bottom: 1px solid $base-100;
            }
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            height: 2.4rem;
            width: 1px;
            background-color: $base-100;
            transform: translateY(-50%);

            @include respond-to(xs) {
                content: none;
            }
        }

        &._location {
            width: 19.5rem;
            padding-right: 5.8rem;

            @include respond-to(sm) {
                padding-right: 52px;
            }

            @include respond-to(xs) {
                width: 100%;
                padding: 12px 0;
            }
        }

        &._price {
            width: 9rem;
            padding: 0 5.4rem 0 5.8rem;

            @include respond-to(sm) {
                padding: 0 52px;
            }

            @include respond-to(xs) {
                width: 100%;
                padding: 12px 0;
            }
        }

        &._completion {
            width: 8.4rem;
            padding: 0 5.8rem;

            @include respond-to(lg) {
                content: '';
            }

            @include respond-to(sm) {
                padding: 0 52px;

                &:after {
                    content: none;
                }
            }

            @include respond-to(xs) {
                width: 100%;
                padding: 12px 0;
            }
        }
    }

    .label {
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;
        white-space: nowrap;

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .value {
        margin-top: .4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        color: $base-500;
        white-space: nowrap;

        @include respond-to(xs) {
            margin-top: 0;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .time {
        display: flex;

        @include respond-to(xs) {
            position: relative;
            padding-right: 20px;
        }
    }

    .transportIcon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
        }

        @include respond-to(xs) {
            position: absolute;
            right: 0;
            transform: translateY(-2px);
        }
    }

    .controls {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond-to(sm) {
            padding: 20px $side-padding-tablet;
            margin: 0 -40px;
            border-bottom: 1px solid $base-100;
        }

        @include respond-to(xs) {
            padding: 16px 0 12px;
            margin: -32px 0 0;
            border-bottom: none;
        }
    }

    .fraction {
        @include respond-to(xs) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        margin-left: 1.4rem;

        @include respond-to(xs) {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .btn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }

        &._prev {
            margin-right: 1.6rem;

            @include respond-to(sm) {
                margin-right: 12px;
            }

            @include respond-to(xs) {
                margin-right: 8px;
            }
        }
    }

    .caption {
        display: none;

        @include respond-to(sm) {
            display: inline-flex;
            margin-right: auto;
            font-size: 14px;
            line-height: 1.16;
            font-weight: 500;
            color: $base-500;
        }

        @include respond-to(xs) {
            display: none;
        }
    }
</style>
