<template>
    <article :class="$style.ProjectPanorama"
             data-anhor="panorama">
        <div id="panorama"
             class="anchor-project">
        </div>

        <div :class="$style.container"
             class="container">
            <header :class="$style.header">
                <div :class="$style.lead"
                     class="subtitle3"
                     v-html="project.panoramaTitle">
                </div>
                <!--                <VCircleButton color="redline"-->
                <!--                               size="medium-small"-->
                <!--                               :class="$style.icon">-->
                <!--                    <IconKebab class="frame-icon" />-->
                <!--                </VCircleButton>-->
            </header>
            <div :class="$style.content">
                <div :class="$style.image">
                    <ImageLazy
                        relative
                        :image="project.panoramaImageDisplay"
                        :preview="project.panoramaImagePreview"
                    />
                </div>
                <div :class="$style.title"
                     class="h3 c-milk"
                     v-html="project.panoramaText">
                </div>
                <VButton :class="$style.btn"
                         size="large"
                         color="milk"
                         @click="onOpenModal">
                    Открыть панораму
                </VButton>
            </div>
        </div>
    </article>
</template>

<script>
    // import VCircleButton from '../../ui/button/VCircleButton';
    // import IconKebab from '../../icons/IconKebab';
    import ImageLazy from '../../common/ImageLazy';
    import VButton from '../../ui/button/VButton';
    import IframeModal from '../../layout/modals/IframeModal';

    export default {
        name: 'ProjectPanorama',

        components: {
            VButton,
            ImageLazy,
            // IconKebab,
            // VCircleButton,
        },

        props: {
            project: {
                type: Object,
                default: () => ({}),
            },
        },

        methods: {
            onOpenModal() {
                this.$yandexMetrika.reachGoal('panorama');
                this.$modal.open(IframeModal, {link: this.project.panoramaLink});
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectPanorama {
        position: relative;
        background-color: $base-500;
        padding-bottom: 5.6rem;

        @include respond-to(sm) {
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-bottom: 0;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4.4rem;
        padding-bottom: 3.6rem;

        @include respond-to(sm) {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        @include respond-to(xs) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    .lead {
        color: $base-300;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12rem 0;

        @include respond-to(sm) {
            padding: 127px 0;
        }

        @include respond-to(xs) {
            padding: 136px 0;
            margin: 0 -#{$side-padding-mobile};
        }
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $base-500;
            opacity: .8;
        }
    }

    .title,
    .btn {
        position: relative;
        z-index: 2;
    }

    .title {
        max-width: 64.3rem;
        text-align: center;

        @include respond-to(sm) {
            max-width: 85%;
        }
    }

    .btn {
        width: 21.7rem;
        margin-top: 4.8rem;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            width: 75%;
            margin-top: 24px;
        }
    }

    .icon {
        pointer-events: none;
    }
</style>
