<template>
    <section v-intersect.once="{handler: showBlock}"
             class="page-top"
             :class="[$style.DocumentsPage, {[$style._loading]: loading, [$style._visible]: isVisible}]">
        <div :class="$style.head"
             class="container">
            <BlockAnimationWrapper
                :class="$style.wrapper"
                :visible="isVisible">
                <MainSelect
                    title="Документы"
                    :value="values.city"
                    :options="[{value: '', label: 'во всех городаx'}, ...specs.city]"
                    @change="onCityChange"
                />
            </BlockAnimationWrapper>
            <div :class="$style.actions">

                <FilterContainer :class="$style.cell"
                                 label="Проект">
                    <SelectFilter
                        :value="values.project"
                        :spec="[{value: '', label: 'Любой'}, ...specs.project]"
                        :facet="facets.project"
                        hide-disabled
                        preselect-facet
                        color="gray"
                        @change="onValueChange('project', $event)"
                    />
                </FilterContainer>

                <FilterContainer :class="$style.cell"
                                 label="Дом">
                    <SelectFilter
                        :value="values.building"
                        :spec="[{value: '', label: 'Любой'}, ...specs.building]"
                        :facet="facets.building"
                        hide-disabled
                        preselect-facet
                        color="gray"
                        @change="onValueChange('building', $event)"
                    />
                </FilterContainer>
            </div>
        </div>
        <div :class="[$style.list, {[$style._hide]: !documents.length}]">
            <DocumentsAccordion
                v-for="item in documents"
                :key="item.id"
                :class="$style.row"
                :title="item.building"
                :subtitle="item.project"
                :documents="item.documents"
            />
        </div>
        <div :class="[$style.empty, {[$style._hide]: documents.length}]">
            <div class="h3">
                Документы не найдены
            </div>
        </div>
        <Callback />
    </section>
</template>

<script>
    /* utils */
    import {applyQuery} from '../../assets/js/utils/queryUtils';
    import {convertToObject} from '../../assets/js/utils/commonUtils';
    import {blockAimate} from '../../assets/js/mixins/blockAnimate';
    import {checkFacets, cleanValues} from '../../assets/js/utils/realtyUtils';

    /* queries */
    import allDocuments from '@/queries/documents/allDocuments.graphql';
    import allDocumentsSpecs from '../../queries/documents/allDocumentsSpecs.graphql';
    import allDocumentsFacets from '../../queries/documents/allDocumentsFacets.graphql';

    /* components */
    import FilterContainer from '~/components/filters/FilterContainer';
    import SelectFilter from '~/components/filters/SelectFilter';
    import DocumentsAccordion from '~/components/pages/documents/DocumentsAccordion';
    import Callback from '~/components/common/callback/Callback';
    import MainSelect from '../../components/common/MainSelect';
    import BlockAnimationWrapper from '../../components/common/BlockAnimationWrapper';

    const defaultValues = {
        project: '',
        building: '',
        city: '',
    };

    export default {
        name: 'DocumentsPage',

        components: {
            BlockAnimationWrapper,
            MainSelect,
            Callback,
            DocumentsAccordion,
            SelectFilter,
            FilterContainer,
        },

        mixins: [
            blockAimate,
        ],

        async asyncData({$axios, store, query, error}) {
            try {
                const initialValues = applyQuery(defaultValues, query);

                const activeCityId = store.getters.getActiveCityId;

                const {data} = await $axios.$post('/graphql/', {
                    query: allDocumentsSpecs.loc.source.body,
                });

                const specs = {...convertToObject(data.allDocumentsSpecs)};

                if (!initialValues.city) {
                    initialValues.city = specs.city.map(item => item.value).includes(activeCityId) ? activeCityId : '';
                }

                const [documentsRes, facetsRes] = await Promise.all([

                    $axios.$post('/graphql/', {
                        query: allDocuments.loc.source.body,
                        variables: {...initialValues},
                    }),

                    $axios.$post('/graphql/', {
                        query: allDocumentsFacets.loc.source.body,
                        variables: {...initialValues},
                    }),
                ]);

                const facets = {...convertToObject(facetsRes.data.allDocumentsFacets.facets)};
                if (!documentsRes?.data?.allDocuments?.edges?.length) {
                    return error({statusCode: 404, message: 'Страница не найдена'});
                }

                return {
                    values: {...initialValues},
                    specs: specs,
                    facets: facets,
                    documentsRes: documentsRes?.data?.allDocuments?.edges?.length ? documentsRes.data.allDocuments.edges : [],
                };
            } catch (e) {
                console.log('[DocumentsPage/ asyncData]:', e);
                return error({statusCode: 404, message: 'Страница не найдена'});
            }
        },

        data() {
            return {
                specs: {},
                facets: {},
                documentsRes: [],
                loading: false,
                values: {...defaultValues},
            };
        },

        head() {
            return {
                title: 'Проектные декларации — «Страна Девелопмент»',
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: 'Здесь размещена вся необходимая документация о проектах «Страна Девелопмент» — проектные декларации, разрешения на строительство, заключения экспертиз и т.д.',
                    },
                ],
            };
        },

        computed: {
            documents() {
                return this.documentsRes.reduce((reducer, item) => {
                    if (!item.node?.building?.id || !item.node?.project?.id) {
                        return [...reducer];
                    }
                    const element = reducer.find(el => el.buildingId === item.node.building.id && el.projectId === item.node.project.id);

                    if (!element) {
                        return [...reducer, {
                            buildingId: item.node.building.id,
                            projectId: item.node.project.id,
                            building: item.node.building?.nameDisplay ? item.node.building.nameDisplay : item.node.building.name,
                            project: item.node.project.name,
                            documents: [item.node],
                        }];
                    }

                    element.documents.push(item.node);
                    return [...reducer];
                }, []);
            },
        },

        methods: {
            fetchDocuments(vars) {
                return this.$axios.$post('/graphql/', {
                    query: allDocuments.loc.source.body,
                    variables: vars,
                }, {
                    progress: false,
                });
            },

            fetchFacets(vars) {
                return this.$axios.$post('/graphql/', {
                    query: allDocumentsFacets.loc.source.body,
                    variables: vars,
                }, {
                    progress: false,
                });
            },

            async updateDocuments(vars) {
                this.loading = true;
                const start = Date.now();
                const {data} = await this.fetchDocuments(vars);
                const stop = Date.now();

                if (stop - start < 200) {
                    setTimeout(() => {
                        this.documentsRes = data.allDocuments.edges;

                        this.$nextTick(() => {
                            this.loading = false;
                        });
                    }, 200 - (stop - start));
                } else {
                    this.documentsRes = data.allDocuments.edges;

                    this.$nextTick(() => {
                        this.loading = false;
                    });
                }
            },

            async updateFacets(vars) {
                const {data} = await this.fetchFacets(vars);

                this.facets = convertToObject(data.allDocumentsFacets.facets);
            },

            onValueChange(key, value) {
                let obj = {[key]: value};
                if (key === 'project') {
                    obj = {...obj, ...{building: ''}};
                }
                this.values = {...this.values, ...obj};
                this.updateDocuments(this.values);
                this.updateFacets(this.values);
                this.updateQuery(this.values);
            },

            async onCityChange(val) {
                const vars = {...this.values, ...{city: val, project: '', building: ''}};
                this.updateDocuments(vars);
                this.updateQuery(vars);
                await this.updateFacets(vars);
                this.values = {...checkFacets(this.facets, vars)};
            },

            updateQuery(val) {
                const vars = cleanValues(val);
                this.$router.replace({
                    query: vars,
                }).catch(err => {
                    console.log(err);
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .DocumentsPage {
        &._loading {
            .list {
                opacity: 0;
            }
        }

        &._visible {
            .row,
            .title,
            .cell {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .head {
        position: relative;
        z-index: 2;
        margin-top: 8rem;
        margin-bottom: 8rem;

        @include respond-to(sm) {
            margin-top: 44px;
            margin-bottom: 40px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
            margin-bottom: 40px;
        }
    }

    .wrapper {
        position: relative;
        z-index: 1;
    }

    .actions {
        display: flex;
        margin-top: 4.8rem;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            display: block;
            margin-top: 16px;
        }
    }

    .cell {
        width: 30.2rem;
        margin-left: 4rem;
        opacity: 0;
        transform: translateY(6.4rem);
        will-change: opacity, transform;
        transition: opacity .6s $bezier .6s, transform .6s $bezier .6s;

        @include respond-to(sm) {
            width: 50%;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-top: 24px;
            margin-left: 0;
        }

        &:first-child {
            margin-left: 0;
            transition-delay: .4s;

            @include respond-to(xs) {
                margin-top: 0;
            }
        }
    }

    .list {
        background-color: $base-50;
        transition: opacity $default-transition;

        &._hide {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }

    .empty {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 8rem;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            padding-bottom: 40px;
        }

        &._hide {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }

    .row {
        opacity: 0;
        transform: translateY(6.4rem);

        @include transition-delay(5, .6);
    }
</style>
