<template>
    <div :class="[$style.PurchaseCard, {[$style._active]: isOpen}]"
         @click="handleClick">
        <div :class="$style.header">
            <span :class="$style.index"
                  class="label">
                {{ indexLabel }}
            </span>

            <h3 :class="$style.title"
                class="h5"
                v-html="card.title1">
            </h3>
            <div :class="$style.switcher">
                <VCircleButton :color="isOpen ? 'redline' : 'default'"
                               size="tiny">
                    <IconArrowRight class="frame-icon" />
                </VCircleButton>
            </div>
        </div>

        <div ref="container"
             :class="$style.container"
             :style="style">
            <div :class="$style.content"
                 v-html="card.description">
            </div>
            <span v-if="route"
                  :class="$style.mobileBtn">
                <VButton :link="route"
                         rounded>
                    {{ card.linkText }}
                </VButton>
            </span>
        </div>

        <VCircleButton :class="$style.icon"
                       hover-color="night"
                       color="redline">
            <IconPlus class="frame-icon" />
        </VCircleButton>
    </div>
</template>

<script>
    import {throttle} from '../../../assets/js/utils/commonUtils';

    /* components */
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRight from '../../icons/IconArrowRight';
    import IconPlus from '../../icons/IconPlus';
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'PurchaseCard',

        components: {
            VButton,
            IconPlus,
            IconArrowRight,
            VCircleButton,
        },

        props: {
            card: {
                type: Object,
                default: () => ({}),
            },

            index: {
                type: Number,
                default: 1,
            },
        },

        data() {
            return {
                isOpen: false,
                contentHeight: null,
                maxHeight: '',
                throttleResize: null,
            };
        },

        computed: {
            indexLabel() {
                return this.index < 10 ? `0${this.index}` : this.index;
            },

            style() {
                return this.isMobile ? {maxHeight: `${this.maxHeight}px`} : '';
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            categorySlug() {
                if (this.card?.category?.slug) {
                    return this.card.category.slug;
                }
                return '';
            },

            isActiveCategory() {
                return this.card?.category?.isActive;
            },

            route() {
                if (this.isActiveCategory) {
                    return this.categorySlug === 'mortgage'
                        ? {name: 'purchase-index-mortgage'}
                        : {name: 'purchase-index-type', params: {type: this.categorySlug}};
                }
                return '';
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.contentHeight = this.$refs.container.scrollHeight;
            });
            this.throttleResize = throttle(this.handleResize, 1000);
            window.addEventListener('resize', this.throttleResize);
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.throttleResize);
        },

        methods: {
            onToggle() {
                this.isOpen = !this.isOpen;
                if (this.isOpen) {
                    this.maxHeight = this.contentHeight;
                } else {
                    this.maxHeight = 0;
                }
            },

            handleClick() {
                if (this.isMobile) {
                    this.onToggle();
                    return;
                }

                if (!this.route) {
                    return;
                }

                this.$router.push(this.route);
            },

            handleResize() {
                this.contentHeight = this.$refs.container.scrollHeight;
            },
        },
    };
</script>

<style lang="scss" module>
    .PurchaseCard {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 28rem;
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
        border-top: 1px solid $base-100;
        cursor: pointer;

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .container {
                        opacity: 1;
                        max-height: 17rem;
                    }

                    .title {
                        color: $redline;
                    }

                    .icon {
                        opacity: 1;
                        pointer-events: auto;
                    }

                    .index {
                        opacity: 0;
                    }
                }
            }
        }

        &._active {
            .switcher {
                svg {
                    transform: rotate(90deg);
                }
            }

            .title {
                color: $redline;
            }
        }

        @include respond-to(sm) {
            height: auto;
            padding-top: 24px;
        }

        @include respond-to(xs) {
            padding: 16px 0;
        }
    }

    .header {
        display: flex;
    }

    .index {
        position: absolute;
        top: 3.2rem;
        left: 0;
        color: $base-200;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            position: static;
            margin-right: 22px;
            line-height: 1.75;
        }

        @include respond-to(xs) {
            margin-right: 34px;
            line-height: 2;
        }
    }

    .switcher {
        display: none;

        svg {
            transform: rotate(-90deg);
            transition: transform $default-transition;
        }

        @include respond-to(sm) {
            display: inline-flex;
            margin-left: auto;
        }
    }

    .title {
        color: $base-500;
        text-transform: uppercase;
        transition: color $default-transition;
    }

    .icon {
        position: absolute;
        bottom: 2.4rem;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            display: none;
            pointer-events: none;
        }
    }

    .container {
        max-height: 0;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        transition: max-height $default-transition, opacity $default-transition;

        @include respond-to(sm) {
            padding-left: 36px;
            padding-right: 138px;
            opacity: 1;
        }

        @include respond-to(xs) {
            padding-left: 48px;
            padding-right: 0;
        }
    }

    .content {
        padding-top: 1.6rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;

        @include respond-to(xs) {
            padding-top: 16px;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .mobileBtn {
        display: none;

        @include respond-to(sm) {
            display: block;
            width: 172px;
            margin-top: 32px;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-top: 24px;
            padding-bottom: 8px;
        }
    }
</style>
