<template>
    <div v-intersect.once="{handler: showBlock}"
         :class="[$style.PurchaseHeader, classes]"
         class="container">
        <BlockAnimationWrapper :class="$style.selectWrap"
                               :visible="isVisible">
            <MainSelect
                :value="city"
                :options="cities"
                value-field="id"
                label-field="name"
                title="Способы покупки"
                @change="onCityChange"
            />
        </BlockAnimationWrapper>

        <BlockAnimationWrapper :class="$style.tabsWrap"
                               :visible="isVisible && !loading">
            <VTabs :class="$style.tabs">
                <VTab v-for="tab in tabs"
                      :key="tab.id"
                      :link="tab.link ? tab.link : '#'"
                      :active="$route.path.includes(tab.slug)">
                    {{ tab.name }}
                </VTab>
            </VTabs>
        </BlockAnimationWrapper>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {blockAimate} from '../../../assets/js/mixins/blockAnimate';

    import BlockAnimationWrapper from '../BlockAnimationWrapper';
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import MainSelect from '../MainSelect';

    export default {
        name: 'PurchaseHeader',

        components: {
            BlockAnimationWrapper,
            MainSelect,
            VTab,
            VTabs,
        },

        mixins: [
            blockAimate,
        ],

        props: {
            tabs: {
                type: Array,
                default: () => [],
            },

            city: {
                type: String,
                default: '',
            },

            loading: Boolean,
        },

        computed: {
            ...mapGetters({
                activeCityId: 'getActiveCityId',
                cities: 'getActiveCities',
            }),

            classes() {
                return [
                    {
                        [this.$style['is-loading']]: this.loading,
                    },
                ];
            },
        },

        methods: {
            onCityChange(id) {
                const city = this.cities.find(item => item.id === id);
                this.$emit('change-city', city.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .PurchaseHeader {
        //
    }

    .title {
        display: flex;

        :global(.v-select--large.has-icon) {
            @include respond-to(xs) {
                padding-left: 22px;
                margin-left: 6px;
            }
        }

        :global(.v-select__icon) {
            @include respond-to(xs) {
                transform: translateY(-57%);
            }
        }
    }

    .selectWrap {
        position: relative;
        z-index: 1;
    }

    .tabsWrap {
        overflow: hidden;
        margin-top: 3.2rem;

        @include respond-to(sm) {
            margin-top: 24px;
        }

        @include respond-to(xs) {
            margin-left: -$side-padding-mobile;
            margin-right: -$side-padding-mobile;
        }
    }

    .tabs {
        min-height: 4.8rem;
        transition: transform .3s ease-in-out;

        @include respond-to(xs) {
            min-height: 40px;
        }

        :global(.v-tab__btn) {
            @include respond-to(sm) {
                padding: 0 24px;
            }

            @include respond-to(xs) {
                padding: 0 18px;
            }
        }
    }
</style>
