<template>
    <section :class="[$style.Purchase, {[$style._simple]: simple}]">
        <div :class="$style.container"
             class="container">
            <h2 :class="$style.title"
                class="subtitle3">
                Способы покупки
            </h2>

            <ul :class="$style.list">
                <li v-for="(purchase, idx) in purchases"
                    :key="purchase.id"
                    :class="$style.item">
                    <PurchaseCard
                        :card="purchase"
                        :index="idx + 1"
                    />
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex';

    /* queries */
    import allPurchaseTypes from '../../../queries/allPurchaseTypes.graphql';

    /* components */
    import PurchaseCard from './PurchaseCard';

    export default {
        name: 'Purchase',

        components: {
            PurchaseCard,
        },

        props: {
            simple: {
                type: Boolean,
                default: false,
            },
        },

        async fetch() {
            try {
                const {data} = await this.$axios.$post('/graphql/', {
                    query: allPurchaseTypes.loc.source.body,
                    variables: {
                        city: this.activeCityId,
                    },
                });

                this.purchases = data.allPurchaseTypes?.edges?.length ? data.allPurchaseTypes.edges.map(item => item.node) : [];
            } catch (e) {
                console.log('[Purchase / fetch]', e);
            }
        },

        data() {
            return {
                purchases: [],
            };
        },

        computed: {
            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),
        },
    };
</script>

<style lang="scss" module>
    .Purchase {
        background: $base-500;

        @include respond-to(sm) {
            padding: 0 $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding: 0;
        }

        &._simple {
            padding: 8rem 0;
            background: $base-50;

            @include respond-to(sm) {
                padding: 40px;
            }

            @include respond-to(xs) {
                padding: 0;
            }

            .container {
                margin-top: 0;

                @include respond-to(sm) {
                    margin-top: 0;
                }

                @include respond-to(xs) {
                    background-color: transparent;
                }
            }
        }
    }

    .container {
        position: relative;
        z-index: 2;
        margin-top: -36rem;
        padding: 8rem 5.1rem 4.8rem 5.6rem;
        background-color: #fff;

        @include respond-to(sm) {
            margin-top: -468px;
            padding: 64px $side-padding-tablet 32px;
        }

        @include respond-to(xs) {
            margin-top: 0;
            padding: 40px $side-padding-mobile 24px;
        }
    }

    .title {
        margin-bottom: 4.8rem;
        color: $base-200;

        @include respond-to(sm) {
            margin-bottom: 32px;
        }

        @include respond-to(xs) {
            margin-bottom: 16px;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2.4rem;

        @include respond-to(lg) {
            margin: 0 -1.5rem;
        }

        @include respond-to(sm) {
            flex-direction: column;
            margin: 0;
        }
    }

    .item {
        width: 33.3333%;
        padding: 0 2.4rem;

        @include respond-to(lg) {
            padding: 0 1.5rem;
        }

        @include respond-to(sm) {
            width: 100%;
            padding: 0;
        }
    }
</style>
