<template>
    <div :class="$style.CapitalPage">
        <MortgageHero
            :class="$style.hero"
            :title="page.name"
            :desc="page.description"
            :list="heroList"
            :notes="notes"
            :loading="loading"
            :yandex-metrika-event-name="yandexMetrika"
            is-capital
        />

        <Purchase simple />

        <Callback />
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';

    /* components */
    import MortgageHero from '../../../../components/pages/mortgage/MortgageHero';
    import Callback from '../../../../components/common/callback/Callback';
    import Purchase from '../../../../components/common/purchase/Purchase';

    export default {
        name: 'PagesPurchaseType',

        components: {
            Purchase,
            Callback,
            MortgageHero,
        },

        props: {
            page: {
                type: Object,
                default: () => ({}),
            },

            heroList: {
                type: Array,
                default: () => [],
            },

            notes: {
                type: Array,
                default: () => [],
            },

            loading: Boolean,
        },

        head() {
            return {
                title: `${this.metaTitle}`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `${this.metaDescription}`,
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            ...mapGetters({
                activeCityName: 'getActiveCityName',
            }),

            cityName() {
                return this.$route.query?.city ? this.cities.find(city => city.id === this.$route.query.city)?.name : this.activeCityName;
            },

            metaTitle() {
                switch (this.$route.params.type) {
                    case 'capital':
                        return `Материнский капитал от застройщика «Страна Девелопмент» в г.${this.cityName}`;
                    case 'installment':
                        return `Рассрочка от застройщика «Страна Девелопмент» в г.${this.cityName}`;
                    case 'certificates':
                        return `Покупка квартиры от «Страна Девелопмент» с использованием жилищного сертификата в г.${this.cityName}`;
                    case 'full-payment':
                        return `Покупка квартиры от «Страна Девелопмент» с использованием 100% собственных средств в г.${this.cityName}`;
                    default:
                        return `«Страна Девелопмент» — квартиры в новостройках от застройщика в г. ${this.cityName}`;
                }
            },

            metaDescription() {
                switch (this.$route.params.type) {
                    case 'capital':
                        return 'Покупка квартиры от застройщика «Страна Девелопмент» возможна с использованием материнского капитала. Материнский капитал можно использовать как часть стоимости при 100% оплате, так и как первоначальный взнос при покупке в ипотеку.';
                    case 'installment':
                        return 'Рассрочка 0% от застройщика сроком до 12 месяцев, продажа квартир в новостройках от застрощика «Страна Девелопмент»';
                    case 'certificates':
                        return 'Используйте жилищный сертификат в сочетании с собственными средствами, либо ипотечными средствами банка для покупки квартиры от застройщика «Страна Девелопмент»';
                    case 'full-payment':
                        return 'Этапы покупки квартиры в новостройке от  застройщика «Страна Девелопмент» с использованием собственных средств ';
                    default:
                        return `«Страна Девелопмент» — квартиры и коммерческие помещения в новостройках от застройщика в г. ${this.activeCityName}`;
                }
            },

            yandexMetrika() {
                switch (this.$route.params.type) {
                    case 'capital':
                        return 'lead-maternal-cap';
                    case 'installment':
                        return 'lead-installment';
                    case 'certificates':
                        return 'lead-certificates';
                    case 'full-payment':
                        return 'lead-fullpayment';
                    default:
                        return '';
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .CapitalPage {
        //
    }

    .head {
        margin-top: 8rem;

        @include respond-to(sm) {
            margin-top: 44px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }

    .hero {
        margin-top: 8rem;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 0;
        }
    }

</style>
