<template>
    <div :class="$style.ZoomButtons">
        <button type="button"
                :class="[$style.btn, $style.zoomIn]"
                class="btn-reset"
                @click="$emit('zoom-in')">
        </button>
        <button type="button"
                :class="[$style.btn, $style.zoomOut]"
                class="btn-reset"
                @click="$emit('zoom-out')">
        </button>
    </div>
</template>

<script>
    export default {
        name: 'ZoomButtons',
    };
</script>

<style lang="scss" module>
    .ZoomButtons {
        display: flex;
        flex-direction: column;
        width: 4.8rem;
        height: 9.6rem;
        background-color: $milk;
        border: 1px solid $base-100;

        @include respond-to(xs) {
            width: 40px;
            height: 80px;
        }
    }

    .btn {
        position: relative;
        width: 100%;
        height: 50%;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1rem;
            height: 2px;
            transform: translate(-50%, -50%);
            background-color: $base-500;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .zoomIn {
        border-bottom: 1px solid $base-100;
    }

    .zoomOut {
        &:after {
            content: none;
        }
    }
</style>
