<template>
    <article :class="$style.Callback">
        <div :class="[$style.container, {[$style['is-noHeader']]: noHeader}, {[$style['is-bottomImage']]: bottomImage}]"
             class="container">
            <header v-if="!noHeader"
                    :class="$style.header">
                <p :class="$style.lead"
                   class="subtitle3">
                    Посмотрите своими глазами
                </p>
                <VSelect :value="value"
                         :options="selectOptions"
                         variable-width
                         option-color="gray"
                         select-menu-position="right"
                         :disabled="selectOptions && selectOptions.length < 2"
                         @input="onValueChange"
                         @focus="isActive = true"
                         @blur="isActive = false">
                    <template #content>
                        <VCircleButton tag="span"
                                       color="redline"
                                       :hovered="isActive">
                            <IconKebab class="frame-icon" />
                        </VCircleButton>
                    </template>
                </VSelect>
            </header>

            <div :class="[$style.wrap, {[$style['_result']]: isResult}]">
                <div :class="$style.result">
                    <div :class="$style.resultTitle"
                         class="title h4">
                        <span>
                            {{ resultState === 'error' ? 'Ошибка' : 'Успешно' }}
                        </span>

                        <IconError
                            v-if="resultState === 'error'"
                            :class="$style.icon"
                        />

                        <IconSuccess
                            v-else
                            :class="$style.icon"
                        />
                    </div>

                    <p :class="$style.resultText"
                       class="p1 text">
                        <template v-if="resultState === 'error'">
                            <span>
                                Произошла ошибка на стороне сервера, <br>
                                попробуйте еще раз.
                            </span>
                        </template>

                        <template v-else>
                            <span v-if="data.resultSuccessText"
                                  v-html="data.resultSuccessText">
                            </span>

                            <span v-else>
                                Данные успешно отправлены!
                            </span>
                        </template>
                    </p>

                    <VButton v-if="resultState === 'error'"
                             :class="$style.resultButton"
                             @click.prevent="handleResultButtonClick">
                        Отправить еще раз
                    </VButton>
                </div>

                <div :class="$style.body">
                    <transition name="fade"
                                mode="out-in">
                        <div :key="value">
                            <div
                                :class="[$style.imageBox, {[$style._resume]: value === 'vacancy'}]">
                                <div v-if="image"
                                     :class="$style.image"
                                     :style="{backgroundImage: `url(${image})`}">
                                </div>
                                <div :class="$style.desc">
                                    <div v-if="data.fullName"
                                         :class="$style.name">
                                        {{ data.fullName }}
                                    </div>
                                    <div v-if="data.jobTitle"
                                         :class="$style.position">
                                        {{ data.jobTitle }}
                                    </div>
                                </div>
                            </div>

                            <h2 :class="[$style.title, {[$style._resume]: value === 'vacancy'}]"
                                class="h3 c-base"
                                v-html="data.title">
                            </h2>

                            <div v-if="data.description"
                                 :class="$style.text"
                                 v-html="data.description">
                            </div>

                            <form v-if="value !== 'vacancy'"
                                  :class="$style.form"
                                  @submit.prevent="handleSubmit">
                                <div :class="$style.input">
                                    <VInput
                                        v-model="values.name"
                                        label="Имя"
                                        :error="errors.name"
                                        @input="errors.name = ''"
                                    />
                                    <FormHint v-if="errors.name">
                                        {{ errors.name }}
                                    </FormHint>
                                </div>

                                <div :class="$style.input">
                                    <VInput
                                        v-model="values.phone"
                                        mask="phone"
                                        label="Телефон"
                                        :error="errors.phone"
                                        @input="errors.phone = ''"
                                    />
                                    <FormHint v-if="errors.phone">
                                        {{ errors.phone }}
                                    </FormHint>
                                </div>

                                <template v-if="docs.length">
                                    <p :class="$style.policy"
                                       class="caption">
                                        Нажимая на кнопку, вы принимаете
                                        <a :href="docs[0].file"
                                           target="_blank">
                                            политику конфиденциальности
                                        </a>
                                        и даете согласие на обработку персональных данных
                                    </p>
                                </template>


                                <VButton type="submit"
                                         :class="$style.btn">
                                    {{ data.buttonText }}
                                </VButton>
                            </form>

                            <div v-else
                                 :class="$style.resume">
                                <VButton :class="$style.resumeBtn"
                                         @click="$emit('open-modal')">
                                    {{ buttonText }}
                                </VButton>

                                <template v-if="docs.length">
                                    <p :class="[$style.policy, {[$style._resume] : value === 'vacancy'}]"
                                       class="caption">
                                        Нажимая на кнопку, вы принимаете
                                        <a :href="docs[0].file"
                                           target="_blank">
                                            политику конфиденциальности
                                        </a>
                                        и даете согласие на обработку персональных данных
                                    </p>
                                </template>
                            </div>

                            <div
                                v-if="$mq === 'xs' && (data.fullName || data.jobTitle) && value !== 'vacancy'"
                                :class="$style.desc">
                                <div :class="$style.image"
                                     :style="{backgroundImage: `url(${image})`}">
                                </div>
                                <div :class="$style.wrap">
                                    <div :class="$style.name">
                                        {{ data.fullName }}
                                    </div>
                                    <div :class="$style.position">
                                        {{ data.jobTitle }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';
    import {cleanPhone} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import customRequest from '../../../queries/requests/customRequest.graphql';
    import excursionRequest from '../../../queries/requests/excursionRequest.graphql';
    import purchaseHelpRequest from '../../../queries/requests/purchaseHelpRequest.graphql';
    import vacancyRequest from '../../../queries/vacancies/vacancyRequest.graphql';
    import allOffersDocument from '../../../queries/allOffersDocument.graphql';

    /* components */
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconKebab from '../../icons/IconKebab';
    import IconSuccess from '../../icons/IconSuccess';
    import IconError from '../../icons/IconError';
    import VInput from '../../ui/input/VInput';
    import VButton from '../../ui/button/VButton';
    import VSelect from '../../ui/select/VSelect';
    import FormHint from '../form/FormHint';

    export default {
        name: 'Callback',

        components: {
            VSelect,
            FormHint,
            VButton,
            VInput,
            IconKebab,
            VCircleButton,
            IconSuccess,
            IconError,
        },

        props: {
            city: {
                type: String,
                default: '',
            },

            forms: {
                type: Array,
                default: () => [],
            },

            noHeader: {
                type: Boolean,
                default: false,
            },

            projectSlug: {
                type: String,
                default: '',
            },

            propertyType: {
                type: String,
                default: '',
            },

            propertyId: {
                type: String,
                default: '',
            },

            formType: {
                type: String,
                default: '',
            },

            bottomImage: Boolean
        },

        async fetch() {
            const res = await this.$axios.$post('/graphql/', {
                query: allOffersDocument.loc.source.body,
                variables: {
                    cities: this.city || this.activeCityId,
                },
            });

            this.docs = res.data?.allOffersDocument?.edges?.length
                ? res.data.allOffersDocument.edges.map(doc => doc.node)
                : [];
        },

        data() {
            return {
                value: 'excursion',
                isForm: true,
                isActive: false,
                isResult: false,
                isValidated: true,
                resultState: 'success',
                values: {
                    name: '',
                    phone: '',
                },
                errors: {
                    phone: '',
                    name: '',
                },
                docs: [],
            };
        },

        computed: {
            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),

            ...mapState({
                globalForms: state => state.forms.forms,
            }),

            allForms() {
                return [...this.forms, ...this.globalForms];
            },

            data() {
                if (this.allForms?.length) {
                    return this.allForms.find(form => form.id === this.value) || {};
                }

                return {};
            },

            buttonText() {
                return this.data.buttonText ? this.data.buttonText : 'Заполнить короткую анкету';
            },

            selectOptions() {
                if (this.allForms?.length) {
                    return this.allForms.map(form => ({
                        label: form.name,
                        value: form.value || form.id,
                    }));
                }

                return [];
            },

            image() {
                if (this.$mq === 'xs') {
                    return this.data.imagePhone ? this.data.imagePhone : this.data.image;
                }
                return this.data.image ? this.data.image : this.data.imageDisplay ? this.data.imageDisplay : '';
            },

            yandexMetrikaEventName() {
                return this.data.yandexMetrics ? this.data.yandexMetrics : '';
            },
        },

        watch: {
            city() {
                this.$fetch();
            },
        },

        mounted() {
            if (this.selectOptions.length) {
                this.value = this.selectOptions[0].value;
            }
        },

        methods: {
            onValueChange(val) {
                this.value = val;
            },

            async handleSubmit() {
                try {
                    if (!this.validate()) {
                        return;
                    }

                    const inputObj = {
                        name: this.values.name,
                        phone: cleanPhone(this.values.phone),
                    };

                    let fieldName;
                    let res;
                    let yandexEventLabel;
                    const type = this.formType || this.value;

                    switch (type) {
                        case 'vacancy':
                            fieldName = 'vacancyRequest';
                            res = await this.$axios.$post('/graphql/', {
                                query: vacancyRequest.loc.source.body,
                                variables: {
                                    input: inputObj,
                                },
                            });
                            break;
                        case 'mortgage':
                            fieldName = 'purchaseHelpRequest';
                            yandexEventLabel = 'lead-ipoteka';
                            res = await this.$axios.$post('/graphql/', {
                                query: purchaseHelpRequest.loc.source.body,
                                variables: {
                                    input: inputObj,
                                },
                            });
                            break;
                        case 'excursion':
                            yandexEventLabel = 'excursion';
                            fieldName = 'excursionRequest';
                            res = await this.$axios.$post('/graphql/', {
                                query: excursionRequest.loc.source.body,
                                variables: {
                                    input: inputObj,
                                },
                            });
                            break;
                        default:
                            fieldName = 'customRequest';
                            if (this.yandexMetrikaEventName) {
                                yandexEventLabel = this.yandexMetrikaEventName;
                            }
                            res = await this.$axios.$post('/graphql/', {
                                query: customRequest.loc.source.body,
                                variables: {
                                    input: {
                                        ...inputObj,
                                        form: parseInt(this.value, 10),
                                        projectSlug: this.projectSlug,
                                        propertyType: this.propertyType,
                                        propertyId: this.propertyId,
                                    },
                                },
                            });
                    }

                    if (res.data[fieldName].errors) {
                        res.data[fieldName].errors.forEach(er => {
                            this.errors[er.field] = er.messages[0];
                        });
                    } else {
                        this.resultState = 'success';
                        this.isResult = true;
                        if (yandexEventLabel) {
                            this.$yandexMetrika.reachGoal(`lead-${yandexEventLabel}`);
                        }
                    }
                } catch (e) {
                    this.resultState = 'error';
                    this.isResult = true;
                    console.log(e);
                }
            },

            handleResultButtonClick() {
                this.isResult = false;
            },

            validate() {
                let isValidated = true;
                const cleanedPhone = cleanPhone(this.values.phone);

                Object.entries(this.values).forEach(([key, value]) => {
                    switch (key) {
                        case 'name':
                            if (!value) {
                                this.errors.name = 'Поле имени не может быть пустым';
                                isValidated = false;
                            }

                            break;
                        case 'phone':
                            if (!cleanedPhone) {
                                this.errors.phone = 'Поле телефона не может быть пустым';
                                isValidated = false;
                            } else if (cleanedPhone.length < 12) {
                                this.errors.phone = 'Телефон введён неверно';
                                isValidated = false;
                            }

                            break;
                    }
                });

                return isValidated;
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s $bezier-second;

    .Callback {
        background-color: $base-700;
        overflow: hidden;
    }

    .container {
        &.is-noHeader {
            @include respond-to(sm) {
                padding: 0;
            }

            .imageBox {
                @include respond-to(sm) {
                    width: 543px;
                    height: 468px;
                    right: -18px;
                    bottom: 14px;
                }
            }

            .input {
                @include respond-to(sm) {
                    &:first-child {
                        margin-bottom: 24px;

                        @include respond-to(xs) {
                            margin-bottom: 36px;
                        }
                    }
                }
            }
        }

        &.is-bottomImage {
            .image {
                @include respond-to(sm) {
                    top: auto;
                    right: auto;
                }
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;

        @include respond-to(sm) {
            padding-top: 28px;
            padding-bottom: 28px;
        }

        @include respond-to(xs) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .lead {
        color: $base-300;
    }

    .wrap {
        position: relative;
        background-color: $base-50;
        overflow: hidden;

        &._result {
            & .result {
                opacity: 1;
                pointer-events: auto;
            }

            & .body {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    .body {
        position: relative;
        padding: 8rem 63.6rem 8rem 5.6rem;
        transition: opacity $transition;

        @include respond-to(lg) {
            padding-right: 54.4rem;
        }

        @include respond-to(sm) {
            padding: 64px $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding: 32px $side-padding-mobile;
        }
    }

    .imageBox {
        position: absolute;
        right: 0;
        top: 0;
        width: 60rem;
        height: 100%;

        &._resume {
            //
        }

        @include respond-to(lg) {
            width: 50rem;
        }

        @include respond-to(sm) {
            top: auto;
            bottom: 0;
            height: 491px;
            transform: translate(11%, 0);
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .image {
        position: relative;
        height: 100%;
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;

        @include respond-to(sm) {
            right: -11rem;
            top: -11rem;
        }

        @include respond-to(xs) {
            right: 0;
            top: 0;
            width: 56px;
            height: 56px;
            margin-right: 16px;
            border-radius: 50%;
        }
    }

    .desc {
        position: absolute;
        bottom: 7rem;
        right: 3rem;

        @include respond-to(sm) {
            right: 90px;
        }

        @include respond-to(xs) {
            display: flex;
            align-items: center;
            position: static;
            margin-top: 24px;
        }
    }

    .name {
        position: relative;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 1.3;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.16;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -2rem;
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            background: linear-gradient(90deg, #92278f 0, #c6168d 57.99%, #ed1c24 100%);
            transform: translateY(-50%);

            @include respond-to(xs) {
                display: none;
            }
        }
    }

    .position {
        font-size: 1.4rem;
        line-height: 1.4;
        color: $base-300;
    }

    .title {
        position: relative;

        &._resume {
            @include respond-to(sm) {
                max-width: 300px;
            }

            @include respond-to(xs) {
                max-width: 200px;
            }
        }

        @include respond-to(xs) {
            line-height: 1.4;
        }
    }

    .text {
        position: relative;
        min-height: 4.8rem;
        margin-top: 2.4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;

        @include respond-to(lg) {
            max-width: 40.8rem;
        }

        @include respond-to(sm) {
            height: auto;
            margin-top: 20px;
        }

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .form {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-top: 4.6rem;
        padding-bottom: 6.2rem;

        @include respond-to(lg) {
            margin-top: 2.4rem;
            padding-bottom: 7.6rem;
        }

        @include respond-to(sm) {
            flex-direction: column;
            max-width: 304px;
            padding-bottom: 72px;
        }

        @include respond-to(xs) {
            max-width: none;
            margin-top: 24px;
            padding-bottom: 0;
        }
    }

    .resume {
        margin-top: 6.4rem;

        @include respond-to(sm) {
            margin-top: 136px;
        }

        @include respond-to(xs) {
            margin-top: 40px;
        }
    }

    .resumeBtn {
        width: 36.8rem;

        @include respond-to(sm) {
            width: 304px;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }

    .input {
        position: relative;
        flex-shrink: 0;
        width: 35.2rem;
        margin-right: 4rem;

        @include respond-to(lg) {
            width: 22.4rem;
        }

        @include respond-to(sm) {
            width: 100%;
            margin-right: 0;

            &:first-child {
                margin-bottom: 46px;

                @include respond-to(xs) {
                    margin-bottom: 36px;
                }
            }
        }
    }

    .btn {
        flex-shrink: 0;
        width: 32rem;
        margin-left: auto;

        @include respond-to(lg) {
            width: 18.4rem;
        }

        @include respond-to(sm) {
            width: 100%;
            margin-left: 0;
            margin-top: 44px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }

    .policy {
        position: absolute;
        left: 0;
        bottom: 0;
        color: $base-200;

        &._resume {
            position: static;
            margin-top: 4.6rem;

            @include respond-to(sm) {
                margin-top: 24px;
            }

            @include respond-to(xs) {
                margin-top: 16px;
            }
        }

        @include respond-to(lg) {
            width: 47.4rem;
        }

        @include respond-to(sm) {
            width: 245px;
        }

        @include respond-to(xs) {
            position: static;
            width: 100%;
            margin-top: 36px;
        }

        a {
            color: $secondary-300;
            transition: color .3s $bezier-second;

            @include hover {
                &:hover {
                    color: $secondary-500;
                }
            }
        }
    }

    .result {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 8rem 5.6rem 8rem 5.6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity $transition;

        @include respond-to(sm) {
            padding: 64px $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding: 32px $side-padding-mobile;
        }
    }

    .resultTitle {
        position: relative;
        text-align: center;
        margin-bottom: 2.4rem;
        color: $base-500;

        @include respond-to(sm) {
            max-width: 348px;
        }

        @include respond-to(xs) {
            max-width: 200px;
        }
    }

    .icon {
        position: absolute;
        top: -2.5rem;
        right: -5.2rem;
        width: 8.3rem;
        height: 7.2rem;

        @include respond-to(sm) {
            top: -28px;
            right: -28px;
        }

        @include respond-to(xs) {
            top: -32px;
            right: -48px;
        }
    }

    .resultText {
        text-align: center;
        color: $base-300;

        @include respond-to(xs) {
            font-size: 12px;
        }
    }

    .resultButton {
        margin-top: 4.8rem;

        @include respond-to(xs) {
            position: absolute;
            bottom: 32px;
        }
    }
</style>
