<template>
    <div :class="$style.PartnersPage">
        <AboutDescription
            :accent="partners.partners"
            :info="partners.partnersDescription"
            :description-accent="partners.text1"
            :description="partners.text2"
        />

        <div :class="$style.container">
            <div class="container">
                <div :class="$style.list">
                    <div v-for="card in partners.partnerspageblockSet"
                         :key="card.id"
                         :class="$style.card">
                        <PartnersCard :card="card" />
                    </div>
                </div>
            </div>
        </div>

        <Callback />
    </div>
</template>

<script>
    import partnersPage from '@/queries/partnersPage.graphql';

    /* components */
    import Callback from '../../../../components/common/callback/Callback';
    import PartnersCard from '../../../../components/pages/about/partners/PartnersCard';
    import AboutDescription from '../../../../components/pages/about/AboutDescription';

    export default {
        name: 'PartnersPage',

        components: {
            AboutDescription,
            PartnersCard,
            Callback,
        },

        async asyncData({$axios}) {
            try {
                const partnersRes = await $axios.$post('/graphql/', {
                    query: partnersPage.loc.source.body,
                });

                return {
                    partners: partnersRes?.data?.partnersPage,
                };
            } catch (e) {
                console.log('[PartnersPage/ asyncData]:', e);
            }
        },

        data() {
            return {
                partners: {},
            };
        },

        head() {
            return {
                title: 'Информация партнерам  — «Страна Девелопмент»',
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: 'Мы дорожим нашими партнерами. Ищем профессионалов своего дела, которые помогают нам всем вместе добиваться высоких результатов.',
                    },
                    {
                        hid: 'keywords',
                        name: 'keywords',
                        content: 'разрешение на строительство, проектная декларация, дду, заключение экспертизы',
                    },
                ],
            };
        },
    };
</script>

<style lang="scss" module>
    .PartnersPage {
        //
    }

    .container {
        padding-top: 8rem;
        padding-bottom: 8rem;
        background-color: $base-50;

        @include respond-to(sm) {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        @include respond-to(xs) {
            overflow: visible;
        }
    }

    .card {
        position: relative;
        width: 50%;
        outline: 1px solid rgba($base-100, .5);

        @include respond-to(xs) {
            width: 100%;
            outline: none;

            &:not(:last-child):before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: calc(100% + 16px);
                height: 1px;
                background-color: rgba($base-100, .5);
            }
        }
    }
</style>
