<template>
    <div class="v-select-option"
         :class="classes"
         @mouseenter="onMouseEnter"
         @mouseleave="onMouseLeave "
         @click="onClick">
        <span v-if="markedOption"
              class="v-select-option__marker"
              :style="styles">
        </span>
        {{ option[labelName] }}
    </div>
</template>

<script>
    export default {
        name: 'VSelectOption',

        props: {
            option: {
                type: Object,
                required: true,
                default: () => ({
                    value: '%value%',
                    label: '%label%',
                }),
            },
            value: {
                type: [String, Number, Array],
                required: true,
            },
            labelName: {
                type: String,
                default: 'label',
            },

            valueName: {
                type: String,
                default: 'value',
            },

            color: {
                type: String,
                default: 'default',
            },
            isHighlighted: Boolean,

            markedOption: Boolean,

            hideDisabled: Boolean,
        },

        computed: {
            classes() {
                return [
                    `v-select-option--${this.color}`,
                    {

                        'is-highlighted': this.isHighlighted,
                        'is-selected': this.isSelected,
                        'is-disabled': this.option.disabled,
                        'is-hidden': this.hideDisabled,
                        'is-marked': this.markedOption,
                    },
                ];
            },

            styles() {
                return this.markedOption ? {backgroundColor: `${this.option.color}`} : '';
            },

            isSelected() {
                if (Array.isArray(this.value)) {
                    if (this.value.length) {
                        return this.value.includes(this.option[this.valueName]);
                    }
                    return this.option[this.valueName] === '';
                }
                return this.value === this.option[this.valueName];
            },
        },

        methods: {
            onClick() {
                if (this.option.disabled) {
                    return;
                }
                this.$emit('click', this.option[this.valueName]);
            },

            onMouseEnter() {
                if (this.option.disabled) {
                    return;
                }
                this.$emit('mouseenter');
            },

            onMouseLeave() {
                if (this.option.disabled) {
                    return;
                }
                this.$emit('mouseleave');
            },
        },
    };
</script>

<style lang="scss">
    .v-select-option {
        position: relative;
        padding: 1rem 1.2rem;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.52;
        user-select: none;
        white-space: nowrap;

        &.is-hidden.is-disabled {
            display: none;
        }

        &--default {
            color: $base-500;

            &.is-highlighted {
                opacity: .8;

                &:not(.is-marked) {
                    color: $vice;
                }
            }

            &.is-selected:not(.is-marked) {
                color: $vice;
                opacity: .8;
            }

            &.is-disabled {
                color: $base-300;
                pointer-events: none;
            }
        }

        &--gray {
            color: $base-300;

            &.is-highlighted {
                opacity: .8;

                &:not(.is-marked) {
                    color: $base-500;
                }
            }

            &.is-selected:not(.is-marked) {
                color: $base-500;
            }

            &.is-disabled {
                color: $base-200;
                pointer-events: none;
            }
        }

        &__marker {
            position: absolute;
            top: 50%;
            left: 1.8rem;
            width: .6rem;
            min-width: 6px;
            height: .6rem;
            min-height: 6px;
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }
</style>
