<template>
    <div v-clickoutside="onClickOutside"
         :class="classes"
         class="v-select">
        <div class="v-select__field"
             tabindex="0"
             @click.stop="toggleMenu"
             @focus="onFocus"
             @keydown.down.stop.prevent="navigateOptions('down')"
             @keydown.up.stop.prevent="navigateOptions('up')"
             @keydown.enter.prevent="onEnterPress"
             @keydown.esc="isOpened = false"
             @keydown.tab="onBlur"
             @mouseenter="inputHovering = true"
             @mouseleave="inputHovering = false">
            <span v-if="$slots.default"
                  class="v-select__icon">
                <slot></slot>
            </span>

            <div v-if="$slots.content"
                 class="v-select__field-content">
                <slot name="content"></slot>
            </div>

            <div v-else
                 class="v-select__field-content">
                <div v-if="label"
                     class="v-select__label">
                    {{ label }}
                </div>

                <div class="v-select__value">
                    <span>
                        {{ valueStr }}
                        <span v-if="selectedOptions.length > 1 && multipleGroup"
                              class="v-select__value-add">
                            + {{ selectedOptions.length - 1 }}
                        </span>
                    </span>
                    <span class="v-select__value-inner v-select__value-inner--hover">
                        {{ valueStr }}
                    </span>
                    <span class="v-select__value-inner v-select__value-inner--open">
                        {{ valueStr }}
                    </span>
                </div>

                <span class="v-select__arrow-box">
                    <svg class="v-select__arrow v-select__arrow--hover"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20">
                        <path
                            d="M10 12.5L6.464 8.964l1.18-1.178L10 10.143l2.357-2.357 1.179 1.178L10 12.5z" />
                    </svg>
                    <svg class="v-select__arrow v-select__arrow--current"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20">
                        <path
                            d="M10 12.5L6.464 8.964l1.18-1.178L10 10.143l2.357-2.357 1.179 1.178L10 12.5z" />
                    </svg>
                    <!--<svg class="v-select__arrow v-select__arrow&#45;&#45;back"-->
                    <!--xmlns="http://www.w3.org/2000/svg"-->
                    <!--viewBox="0 0 20 20">-->
                    <!--<path-->
                    <!--d="M10 12.5L6.464 8.964l1.18-1.178L10 10.143l2.357-2.357 1.179 1.178L10 12.5z" />-->
                    <!--</svg>-->
                </span>
            </div>
        </div>

        <transition name="select-menu">
            <VScrollBox v-if="isOpened"
                        :resizable="hideSelected"
                        is-absolute
                        :variable-width="variableWidth"
                        class="v-select__dropdown"
                        :class="[{'is-varible-width': variableWidth}, [`is-${selectMenuPosition}`]]"
                        @close="onClickOutside">
                <VSelectOption
                    v-for="(option, index) in optionList"
                    :key="option[valueName]"
                    :option="option"
                    :value-name="valueName"
                    :label-name="labelName"
                    :value="value"
                    :marked-option="markedOption"
                    :hide-disabled="hideDisabled"
                    :color="optionColor"
                    :is-highlighted="highlightIndex === index"
                    @mouseenter="highlightIndex = index"
                    @mouseleave="highlightIndex = -1 "
                    @click="onOptionClick"
                />
            </VScrollBox>
        </transition>

        <select v-model="lazyValue"
                class="v-select__native"
                :disabled="isDisabled"
                :name="name"
                :multiple="multiple"
                @focus="onFocus"
                @blur="onBlur"
                @change="onNativeChange">
            <option v-for="option in nativeOptions"
                    :key="option[valueName]"
                    :value="option[valueName]"
                    :disabled="option.disabled">
                {{ option[labelName] }}
            </option>
        </select>
    </div>
</template>

<script type="text/babel">

    import VScrollBox from '../scrollbox/VScrollBox';
    import VSelectOption from './VSelectOption';

    export default {
        name: 'VSelect',

        components: {
            VScrollBox,
            VSelectOption,
        },

        props: {
            variableWidth: {
                type: Boolean,
                default: false,
            },

            /**
             * Определяет классы, которые будут модифицировать размер
             */
            size: {
                type: String,
                default: 'medium',
                validator(value) {
                    return ['large', 'big', 'medium', 'small', 'xsmall'].indexOf(value) !== -1;
                },
            },
            /**
             * Определяет классы, которые будут модифицировать цвет
             */
            color: {
                type: String,
                default: 'default',
            },
            /**
             * Определяет классы, которые будут модифицировать цвет option
             */
            optionColor: {
                type: String,
                default: 'default',
            },

            gradientHover: Boolean,
            /**
             * Имя поля формы
             */
            name: {
                type: String,
                default: '',
            },
            /**
             * @param {String} Текущее значение.
             */
            value: {
                type: [String, Number, Array],
                default: '',
            },

            options: {
                type: Array,
                default: () => [],
            },

            label: {
                type: String,
                default: '',
            },

            placeholder: {
                type: String,
                default: '',
            },

            markedOption: {
                type: Boolean,
                default: false,
            },

            disabled: {
                type: Boolean,
                default: false,
            },

            bordered: {
                type: Boolean,
                default: false,
            },

            hideSelected: {
                type: Boolean,
                default: false,
            },

            multipleGroup: {
                type: Boolean,
                default: false,
            },

            multiple: {
                type: Boolean,
                default: false,
            },

            labelName: {
                type: String,
                default: 'label',
            },

            valueName: {
                type: String,
                default: 'value',
            },

            selectMenuPosition: {
                type: String,
                default: 'left',
            },

            hideDisabled: Boolean,
        },

        data() {
            return {
                lazyValue: '',
                isFocused: false,
                isOpened: false,
                highlightIndex: -1,
            };
        },

        computed: {
            classes() {
                return [
                    `v-select--${this.color}`,
                    `v-select--${this.size}`,
                    {
                        'has-placeholder': this.placeholder,
                        'has-label': this.label,
                        'has-icon': !this.icon && this.$slots.default,
                        'is-gradient-hover': this.gradientHover,
                        'is-bordered': this.bordered,
                        'is-focused': this.isFocused,
                        'is-active': this.isActive,
                        'is-opened': this.isOpened,
                        'is-disabled': this.isDisabled,
                        'has-content': this.$slots.content,
                    },
                ];
            },

            optionList() {
                if (!this.hideSelected) {
                    return this.options;
                }

                return this.options.filter(opt => {
                    if (Array.isArray(this.lazyValue)) {
                        return this.lazyValue.length
                            ? !this.lazyValue.includes(opt[this.valueName])
                            : opt.value !== '';
                    }

                    return opt[this.valueName] !== this.lazyValue;
                });
            },

            nativeOptions() {
                return this.multiple
                    ? this.options.filter(opt => opt[this.valueName] !== '')
                    : this.options;
            },

            selectedOptions() {
                return this.options.filter(opt => {
                    if (Array.isArray(this.lazyValue)) {
                        return this.lazyValue.length
                            ? this.lazyValue.includes(opt[this.valueName])
                            : opt[this.valueName] === '';
                    }
                    return this.lazyValue === opt[this.valueName];
                });
            },

            isActive() {
                let flag = false;
                if (Array.isArray(this.lazyValue)) {
                    if (this.lazyValue.length) {
                        flag = true;
                    }
                } else if (this.lazyValue !== '') {
                    flag = true;
                }

                return flag;
            },

            valueStr() {
                if (!this.selectedOptions.length) {
                    if (this.placeholder) {
                        return this.placeholder;
                    } else if (this.label) {
                        return this.label;
                    }
                    return '';
                }

                if (this.multipleGroup && this.selectedOptions.length) {
                    return this.selectedOptions[0][this.labelName];
                }

                const reducer = (acc, opt) => {
                    const name = opt.displayName ? opt.displayName : opt[this.labelName];
                    return `${acc + name}, `;
                };

                return this.selectedOptions.reduce(reducer, '').slice(0, -2);
            },

            isDisabled() {
                return this.disabled || this.options.length === 0;
            },
        },

        watch: {
            value(val) {
                if (this.multiple) {
                    if (Array.isArray(val) && val !== this.lazyValue) {
                        this.lazyValue = val;
                        this.$emit('change', val);
                    }
                } else if (val !== this.lazyValue) {
                    this.lazyValue = val;
                    this.$emit('change', val);
                }
            },
        },

        created() {
            if (this.value) {
                this.lazyValue = this.value;
            } else {
                this.lazyValue = this.multiple ? [] : '';
            }
        },

        methods: {
            navigateOptions(direction) {
                if (!this.isOpened) {
                    this.isOpened = true;
                    return;
                }
                if (direction === 'down') {
                    this.highlightIndex++;
                    if (this.highlightIndex === this.optionList.length) {
                        this.highlightIndex = 0;
                    }
                } else if (direction === 'up') {
                    this.highlightIndex--;
                    if (this.highlightIndex < 0) {
                        this.highlightIndex = this.optionList.length - 1;
                    }
                }
                const option = this.optionList[this.highlightIndex];
                if (option.disabled) {
                    this.navigateOptions(direction);
                }
            },

            toggleMenu() {
                if (this.isDisabled) {
                    return;
                }
                this.isOpened = !this.isOpened;
                this.highlightIndex = -1;
            },

            onEnterPress() {
                if (!this.isOpened) {
                    this.toggleMenu();
                } else {
                    const option = this.optionList[this.highlightIndex];
                    if (option && Object.prototype.hasOwnProperty.call(option, this.valueName)) {
                        this.onOptionClick(option[this.valueName]);
                    }
                }
            },

            onOptionClick(value) {
                if (this.value !== undefined) {
                    if (Array.isArray(this.lazyValue)) {
                        if (value === '') {
                            this.$emit('input', []);
                        } else {
                            const newValue = this.lazyValue.slice();
                            newValue.includes(value)
                                ? newValue.splice(this.lazyValue.indexOf(value), 1)
                                : newValue.push(value);
                            this.$emit('input', newValue);
                        }
                    } else {
                        if (this.lazyValue !== value) {
                            this.$emit('input', value);
                        }
                        this.isOpened = false;
                    }
                } else {
                    if (Array.isArray(this.lazyValue)) {
                        if (value === '') {
                            this.lazyValue = [];
                        } else {
                            const newValue = this.lazyValue.slice();
                            newValue.includes(value)
                                ? newValue.splice(this.lazyValue.indexOf(value), 1)
                                : newValue.push(value);
                            this.lazyValue = newValue;
                        }
                    } else {
                        if (this.lazyValue !== value) {
                            this.lazyValue = value;
                        }
                        this.isOpened = false;
                    }
                    this.$emit('change', this.lazyValue);
                }
            },

            /**
             * Метод, который обрабатывает собите focus
             */
            onFocus() {
                this.isFocused = true;
                this.$emit('focus');
            },

            /**
             * Метод, который обрабатывает собите blur
             */
            onBlur() {
                if (this.isOpened) {
                    this.isOpened = false;
                }
                this.isFocused = false;
                this.$emit('blur');
            },

            onClickOutside() {
                if (!this.isFocused) {
                    return;
                }
                this.isOpened = false;
                this.isFocused = false;
                this.$emit('blur');
            },

            onNativeChange() {
                if (this.value !== undefined) {
                    this.$nextTick(() => {
                        const newValue = this.lazyValue;
                        this.lazyValue = this.value;
                        this.$emit('input', newValue);
                    });
                } else {
                    this.$emit('change', this.lazyValue);
                }
            },
        },
    };
</script>

<style lang="scss">
    .v-select {
        position: relative;
        display: inline-block;
        transition: color $default-transition;
        cursor: pointer;

        @include hover {
            &:hover {
                &:before {
                    transform: scale(1);
                }
            }
        }

        /* Colors */
        &--default {
            color: $base-500;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $vice;
                }
            }

            .v-select__arrow-box {
                border-radius: 50%;
                background-color: rgba($base-100, .4);

                &:before {
                    content: '';
                    background-color: rgba($base-100, .8);
                }
            }
        }

        &--night {
            color: $base-500;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $vice;
                }
            }
        }

        &--milk {
            color: $milk;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $milk;
                }
            }
        }

        &--vice {
            color: $vice;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $vice;
                }
            }
        }

        &--redline {
            color: $redline;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $redline;
                }
            }
        }

        &--moxxy {
            color: $moxxy;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $moxxy;
                }
            }
        }

        &--elysium {
            color: $elysium;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $elysium;
                }
            }
        }

        &--kain {
            color: $kain;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $kain;
                }
            }
        }

        &--gray {
            color: $base-500;

            .v-select__field {
                &:before {
                    background-color: $base-100;
                }

                &:after {
                    background-color: $vice;
                }
            }

            .v-select__arrow-box {
                border-radius: 50%;
                background-color: rgba($base-100, .4);
            }
        }

        /* End Colors */

        /* Modifiers */
        &.is-bordered {
            .v-select__field {
                &:before,
                &:after {
                    content: "";
                }
            }
        }

        &.is-gradient-hover {
            .v-select__arrow-box {
                transform: translateY(-50%) rotateX(0);
                transform-style: preserve-3d;
                transition: transform .6s linear;
            }

            @include respond-ie {
                .v-select__arrow-box {
                    transform: translateY(-50%) rotate(0);
                }
            }

            @include hover {
                &:hover {
                    .v-select__value-inner--hover {
                        opacity: 1;
                    }

                    .v-select__arrow {
                        fill: $redline;

                        &--current {
                            transform: translateY(100%);
                        }

                        &--hover {
                            transform: translateY(0);
                        }
                    }

                    @include respond-ie {
                        color: $redline;

                        .v-select__icon {
                            color: $redline;
                        }
                    }
                }
            }

            @include touch {
                &.is-focused {
                    .v-select__value-inner--open {
                        opacity: 1;
                    }

                    .v-select__icon {
                        color: $redline;
                    }

                    .v-select__arrow-box {
                        transform: translateY(-50%) rotateX(180deg);
                    }

                    .v-select__arrow {
                        fill: $vice;

                        &--current {
                            transform: translateY(100%);
                        }

                        &--hover {
                            transform: translateY(0);
                        }
                    }
                }
            }

            &.is-opened {
                .v-select__value-inner--open {
                    opacity: 1;
                }

                .v-select__icon {
                    color: $redline;
                }

                .v-select__arrow-box {
                    transform: translateY(-50%) rotateX(180deg);
                }

                .v-select__arrow {
                    fill: $vice;

                    &--current {
                        transform: translateY(100%);
                    }

                    &--hover {
                        transform: translateY(0);
                    }
                }

                @include respond-ie {
                    color: $redline;

                    .v-select__arrow-box {
                        transform: translateY(-50%) rotate(180deg);
                    }

                    .v-select__arrow {
                        color: $redline;
                    }
                }
            }
        }

        /* End Modifiers */

        /* Sizes */
        &--large {
            &.has-icon {
                padding-left: 4.4rem;

                @include respond-to(xs) {
                    padding-left: 20px;
                }

                .v-select-option {
                    padding-left: 5.6rem;
                }
            }

            .v-select__value {
                padding-right: 4rem;
                font-size: 4rem;
                line-height: 1.2;
                letter-spacing: -1px;

                @include respond-to(sm) {
                    font-size: 32px;
                    line-height: 1.24;
                }

                @include respond-to(xs) {
                    padding-right: 20px;
                    font-size: 20px;
                    line-height: 1.4;
                }
            }

            .v-select__arrow-box {
                width: 4rem;
                height: 4rem;

                @include respond-to(xs) {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &--big {
            &.has-icon {
                padding-left: 2.2rem;

                @include respond-to(xs) {
                    padding-left: 24px;
                }

                .v-select-option {
                    padding-left: 3.4rem;
                }
            }

            .v-select__value,
            .v-select__dropdown {
                font-size: 1.8rem;
                line-height: 1.36;

                @include respond-to(xs) {
                    font-size: 14px;
                    line-height: 1.16;
                }
            }

            .v-select__arrow-box {
                right: -.8rem;
                width: 3rem;
                height: 3rem;

                @include respond-to(xs) {
                    right: 0;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &--medium {
            &.is-bordered {
                .v-select__field {
                    padding-bottom: 1.6rem;
                }
            }

            &.has-icon {
                padding-left: 4.4rem;

                @include respond-to(xs) {
                    padding-left: 24px;
                }

                .v-select-option {
                    padding-left: 5.6rem;
                }
            }

            .v-select__value,
            .v-select__dropdown {
                font-size: 1.6rem;
                line-height: 1.52;

                @include respond-to(xs) {
                    font-size: 14px;
                    line-height: 1.16;
                }
            }
        }

        &--small {
            &.is-bordered {
                .v-select__field {
                    padding-bottom: 1.6rem;
                }
            }

            &.has-icon {
                padding-left: 2.8rem;

                @include respond-to(xs) {
                    padding-left: 24px;
                }

                .v-select-option {
                    padding-left: 4rem;
                }
            }

            .v-select__value,
            .v-select__dropdown {
                font-size: 1.4rem;
                line-height: 1.2;
            }
        }

        &--xsmall {
            .v-select__value,
            .v-select__dropdown {
                font-size: 1.2rem;
                line-height: 1.52;
            }

            .v-select__arrow-box {
                @include respond-to(xs) {
                    right: -3px;
                }
            }
        }

        /* End Sizes */

        &.is-active,
        &.has-placeholder {
            .v-select__label {
                transform: translateY(-2.4rem) scale(.8);
            }
        }

        &.has-label {
            padding-top: 2rem;

            &:not(.is-active):not(.has-placeholder) {
                .v-select__value {
                    opacity: 0;
                }
            }
        }

        //&.is-focused {
        //    .v-select__field:after {
        //        transform: scale(1);
        //    }
        //}

        &.is-opened {
            .v-select__arrow-box {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        &.is-disabled {
            pointer-events: none;

            .v-select__field {
                opacity: .2;
                pointer-events: none;
            }

            &.has-content {
                .v-select__field {
                    opacity: 1;
                    pointer-events: none;
                }
            }
        }

        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: color .4s linear;

            @include respond-to(sm) {
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__field {
            outline: none;
            cursor: pointer;

            &:before,
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                transition: background-color $default-transition;
            }

            &:after {
                z-index: 2;
                height: 2px;
                transform: scaleX(0);
                transition: transform .3s ease, background-color $default-transition;
                transform-origin: center;
            }
        }

        &__field-content {
            position: relative;
        }

        &__value {
            position: relative;
            height: 100%;
            padding-right: 2rem;
            font-weight: 500;
            line-height: 1.28;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: color .4s linear;
        }

        &__value-inner {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            will-change: opacity;
            transition: opacity .3s linear;

            &--hover {
                opacity: 0;
                background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: $vice;
            }

            &--open {
                opacity: 0;
                background: linear-gradient(-90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: $vice;
            }
        }

        &__label {
            position: absolute;
            top: 0;
            left: 0;
            white-space: nowrap;
            transform-origin: left center;
            transition: transform .3s ease-in-out;
        }

        &__arrow-box {
            position: absolute;
            right: 0;
            top: 50%;
            width: 2rem;
            height: 2rem;
            transform: translateY(-50%) rotate(0);
            transition: transform .2s ease;
            pointer-events: none;
            overflow: hidden;

            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transform: scale(0);
                transition: transform .4s $bezier;
            }
        }

        &__arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            fill: currentColor;
            transition: fill .4s linear, transform .4s linear;

            &--current {
                transform: rotateX(0deg);
            }

            &--hover {
                transform: translateY(-100%);
            }
        }

        &__dropdown {
            position: absolute;
            top: calc(100% - 1px);
            z-index: 3;
            width: calc(100% + 4.8rem);
            max-height: 24rem;
            border-radius: 16px;
            background-color: #fff;
            opacity: 1;
            transform: translateY(0);
            box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);

            &.is-left {
                left: -2.4rem;
            }

            &.is-right {
                right: -2.4rem;
            }

            &.is-varible-width {
                width: auto;
            }

            .c-scrollbar._vertical {
                top: 16px;
                bottom: 16px;
            }

            &.select-menu-enter-active {
                transition: opacity .3s ease-in-out, transform .3s ease-in-out;
            }

            &.select-menu-leave-active {
                transition: opacity .15s ease-in-out, transform .15s ease-in-out;
            }

            &.select-menu-enter,
            &.select-menu-leave-active {
                opacity: 0;
                transform: translateY(16px);
            }

            .v-scrollbox__content {
                padding: 1rem 1.2rem;
            }
        }

        &__native {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: none;
            opacity: 0;
            width: 100%;
            height: 100%;

            @include respond-to(sm) {
                display: block;
            }
        }
    }
</style>
