<template>
    <div :class="$style.MortgageHeader"
         class="container">
        <MainSelect
            :value="city"
            :options="cities"
            value-field="id"
            label-field="name"
            title="Способы покупки"
            @change="onCityChange"
        />

        <VTabs :class="$style.tabs">
            <VTab v-for="tab in tabs"
                  :key="tab.value"
                  :link="tab.link ? tab.link : '#'"
                  :active="activeTab === `purchase-index-${tab.value}`">
                {{ tab.label }}
            </VTab>
        </VTabs>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';

    import VTabs from '@/components/ui/tabs/VTabs';
    import VTab from '@/components/ui/tabs/VTab';
    import MainSelect from '../MainSelect';

    export default {
        name: 'MortgageHeader',

        components: {
            MainSelect,
            VTab,
            VTabs,
        },

        props: {
            activeTab: {
                type: String,
                default: '',
            },

            specs: {
                type: Object,
                default: () => ({}),
            },

            city: {
                type: String,
                default: '',
            }
        },

        fetch() {
            this.values.city = Number(this.activeCityId);
        },

        data() {
            return {
                values: {},
                tabs: [
                    {
                        value: 'mortgage',
                        label: 'Ипотека',
                        link: '/purchase/mortgage/',
                    },
                    // {
                    //     value: 'military',
                    //     label: 'Военная ипотека',
                    // },
                    // {
                    //     value: 'gos',
                    //     label: 'Ипотека с гос.поддержкой',
                    // },
                    // {
                    //     value: 'installment',
                    //     label: 'Рассрочка',
                    // },
                    {
                        value: 'capital',
                        label: 'Мат.капитал',
                        link: '/purchase/capital/',
                    },
                    // {
                    //     value: 'trade-in',
                    //     label: 'Trade-in',
                    // },
                    // {
                    //     value: 'cert',
                    //     label: 'Сертификат',
                    // },
                ],
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),
        },

        methods: {
            onCityChange(id) {
                const city = this.cities.find(item => item.id === id);
                this.$emit('change-city', city.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageHeader {
        //
    }

    .title {
        display: flex;

        :global(.v-select--large.has-icon) {
            @include respond-to(xs) {
                padding-left: 22px;
                margin-left: 6px;
            }
        }

        :global(.v-select__icon) {
            @include respond-to(xs) {
                transform: translateY(-57%);
            }
        }
    }

    .tabs {
        margin-top: 3.2rem;

        @include respond-to(sm) {
            margin-top: 24px;
        }

        @include respond-to(xs) {
            margin-left: -$side-padding-mobile;
            margin-right: -$side-padding-mobile;
        }

        :global(.v-tab__btn) {
            @include respond-to(sm) {
                padding: 0 24px;
            }

            @include respond-to(xs) {
                padding: 0 18px;
            }
        }
    }
</style>
