<template>
    <div :class="$style.MortgageFilterRange">
        <div :class="$style.input">
            <InputThousands
                v-model="inputState"
                @change="onChange"
            />
        </div>

        <VSlider
            v-model="state"
            :min="specMin"
            :max="specMax"
            @input="onInput"
            @change="onChange"
        />
    </div>
</template>

<script>
    import VSlider from '../../ui/slider/VSlider';
    import InputThousands from '../../ui/input/InputThousands';

    export default {
        name: 'MortgageFilterRange',

        components: {
            InputThousands,
            VSlider,
        },

        model: {
            event: 'change',
        },

        props: {
            specMin: {
                type: [String, Number],
                default: 1,
            },

            specMax: {
                type: [String, Number],
                default: 1,
            },

            value: {
                type: [String, Number],
                default: 1,
            },
        },

        data() {
            return {
                noTransition: false,
                inputState: this.value,
                state: this.value,
                isChanged: false,
            };
        },

        watch: {
            value(newVal) {
                this.state = newVal;
            },
        },

        methods: {
            onChange(value) {
                if (value > this.specMax) {
                    this.state = this.specMax;
                } else if (value < this.specMin) {
                    this.state = this.specMin;
                } else {
                    this.state = value;
                }

                this.inputState = this.state;

                this.$emit('change', this.state);
            },

            onInput() {
                this.$emit('input', this.state);
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageFilterRange {
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 14px;
        }
    }

    .input {
        padding-bottom: 1.6rem;

        @include respond-to(xs) {
            padding-bottom: 12px;
        }
    }
</style>
