<template>
    <div :class="[$style.MortgageFilter, {[$style['show-price']]: showPrice}]">
        <div :class="$style.header">
            <h2 class="h3 c-base"
                v-html="title">
            </h2>
            <div :class="$style.offer">
                <span :class="$style.count">
                    {{ count }}
                    <template v-if="count">
                        {{ count|plural(['предложение', 'предложения', 'предложений']) }},
                    </template>
                    <template v-else>
                        предложений
                    </template>
                </span>
                <span :class="$style.payment">
                    от {{ payment|splitThousands }}
                    <span class="rub">&#8381;</span> /мес
                </span>
            </div>
        </div>

        <div :class="$style.filters">

            <FilterContainer :class="[$style.filter, $style._large]"
                             label="Программа">
                <SelectFilter
                    v-if="programSpecs"
                    :value="values.program"
                    :spec="programSpecs"
                    :facet="programFacets"
                    color="gray"
                    @change="onChange('program', $event)"
                />
            </FilterContainer>

            <FilterContainer v-if="showPrice"
                             :class="$style.filter"
                             :label="type === 'commercial' ? 'Стоимость объекта' : 'Стоимость квартиры'">
                <MortgageFilterRange
                    v-if="priceSpec"
                    :value="values.price"
                    :spec-min="priceSpec.min"
                    :spec-max="priceSpec.max"
                    @change="onChange('price', $event)"
                />
            </FilterContainer>

            <FilterContainer :class="[$style.filter, $style._term]"
                             label=" Срок, лет ">
                <MortgageFilterRange
                    v-if="termSpec"
                    :value="values.term"
                    :spec-min="termSpec.min"
                    :spec-max="termSpec.max"
                    @change="onChange('term', $event)"
                />
            </FilterContainer>

            <FilterContainer :class="$style.filter"
                             label="Первоначальный взнос, &#8381;">
                <MortgageFilterRange
                    v-if="depositSpec"
                    v-model="deposit"
                    :spec-min="depositMin"
                    :spec-max="depositMax"
                    @change="onChange('deposit')"
                    @input="onInput('deposit', $event)"
                />

                <span :class="$style.percent">
                    {{ depositValue }}%
                </span>
            </FilterContainer>
        </div>

        <div :class="$style.buttons">
            <VButton :class="$style.btn"
                     @click="onCallbackClick">
                Оставить заявку
            </VButton>

            <VButton v-if="!hideMore"
                     :class="$style.btn"
                     color="vice"
                     link="/purchase/mortgage/">
                Подробнее
            </VButton>
        </div>

        <p :class="$style.info">
            Произведенные расчеты носят приблизительный характер. Более точную информацию могут
            предоставить представители банка.
        </p>
    </div>
</template>

<script>
    import FilterContainer from '../../filters/FilterContainer';
    import SelectFilter from '../../filters/SelectFilter';
    import MortgageFilterRange from './MortgageFilterRange';
    import VButton from '../../ui/button/VButton';
    import RequestFormModal from '../../layout/modals/RequestFormModal';
    import MortgageRequestForm from '../forms/MortgageRequestForm';

    export default {
        name: 'MortgageFilter',

        components: {
            VButton,
            MortgageFilterRange,
            SelectFilter,
            FilterContainer,
        },

        props: {
            title: {
                type: String,
                default: 'Ипотека от 0,5%',
            },

            realtyId: {
                type: String,
                default: '',
            },

            type: {
                type: String,
                default: 'residential',
            },

            depositSpec: {
                type: Object,
                required: true,
                default: () => ({}),
            },

            termSpec: {
                type: Object,
                required: true,
                default: () => ({}),
            },

            programSpecs: {
                type: Array,
                required: true,
                default: () => [],
            },

            programFacets: {
                type: Array,
                required: true,
                default: () => [],
            },

            priceSpec: {
                type: Object,
                default: () => ({}),
            },

            values: {
                type: Object,
                required: true,
                default: () => ({}),
            },

            payment: {
                type: Number,
                default: 48000,
            },

            count: {
                type: Number,
                default: 0,
            },

            hideMore: {
                type: Boolean,
                default: false,
            },

            showPrice: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                deposit: Number((this.values.price * this.values.deposit / 100).toFixed(1)),
            };
        },

        computed: {
            depositMin() {
                return Math.floor((this.values.price * this.depositSpec.min) / 100);
            },

            depositMax() {
                return Math.ceil((this.values.price * this.depositSpec.max) / 100);
            },

            depositValue() {
                return Math.floor(this.deposit * 100 / this.values.price);
            },
        },

        methods: {
            onInput(name, value) {
                if (name === 'deposit') {
                    this.deposit = value;
                }
            },

            onChange(name, value) {
                if (name === 'deposit') {
                    this.$emit('change', {deposit: this.depositValue});
                } else {
                    this.$emit('change', {[name]: value});
                }
            },

            onCallbackClick() {
                let data = {
                    title: 'Заявка на ипотеку',
                    subtitle: 'Проконсультируем в течение часа',
                    form: MortgageRequestForm,
                };
                this.$yandexMetrika.reachGoal('lead-ipoteka-calc');

                if (this.realtyId) {
                    data = {...data, ...{id: this.realtyId}};
                }
                this.$modal.open(RequestFormModal, data);
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageFilter {
        width: 55.2rem;
        padding: 8rem 5.6rem 8rem calc((100% - #{$container-width-desktop-xl}) / 2);
        background-color: #fff;
        box-sizing: content-box;

        @include respond-to(lg) {
            width: 43.2rem;
            padding-left: calc((100% - #{$container-width-desktop}) / 2);
        }

        @include respond-to(sm) {
            width: 100%;
            padding: 44px $side-padding-tablet 48px;
            background-color: $milk;
            box-sizing: border-box;
        }

        @include respond-to(xs) {
            min-width: auto;
            padding: 40px $side-padding-mobile 30px;
        }

        &.show-price {
            .filter {
                position: relative;
                margin-top: 4.6rem;

                @include respond-to(sm) {
                    width: 50%;
                    padding: 0 20px;
                }

                @include respond-to(xs) {
                    width: 100%;
                    margin-top: 32px;
                    padding: 0;
                }

                &:nth-child(2) {
                    @include respond-to(sm) {
                        margin-top: 0;
                    }

                    @include respond-to(xs) {
                        margin-top: 24px;
                    }
                }

                &._large {
                    @include respond-to(sm) {
                        width: 50%;
                        margin-top: 0;
                    }

                    @include respond-to(xs) {
                        width: 100%;
                        margin-top: 24px;
                    }
                }
            }
        }
    }

    .header {
        @include respond-to(sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @include respond-to(xs) {
            display: block;
        }
    }

    .offer {
        margin-top: 1.2rem;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            margin-left: auto;
        }

        @include respond-to(xs) {
            display: block;
            margin-top: 4px;
            margin-left: 0;
            font-size: 12px;
        }
    }

    .count {
        color: rgba($base-500, .4);
    }

    .payment {
        color: $base-500;
    }

    .filters {
        @include respond-to(sm) {
            display: flex;
            flex-wrap: wrap;
            margin: 20px -20px 0;
        }

        @include respond-to(xs) {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }

    .filter {
        position: relative;
        margin-top: 4.6rem;

        @include respond-to(sm) {
            width: 50%;
            padding: 0 20px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 0;
            margin-top: 24px;
        }

        &._large {
            @include respond-to(sm) {
                margin-top: 0;
                width: 100%;
            }

            @include respond-to(xs) {
                margin-top: 24px;
            }
        }

        &._term {
            @include respond-to(sm) {
                order: 1;
            }
        }
    }

    .percent {
        position: absolute;
        right: 0;
        top: 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-200;

        @include respond-to(xs) {
            font-size: 14px;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 4.6rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .btn {
        width: 26.8rem;

        @include respond-to(lg) {
            width: 21.1rem;
        }
    }

    .info {
        margin-top: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.46;
        color: $base-300;
        opacity: .5;

        @include respond-to(sm) {
            display: none;
        }
    }
</style>
