<template>
    <div :class="[$style.MortgageOfferCard, classes]">
        <div :class="$style.image"
             :style="{backgroundImage: `url(${image})`}"></div>
        <div :class="$style.desc">
            <div :class="$style.name">
                {{ name }}
            </div>
            <div v-if="offer.program"
                 :class="$style.title">
                {{ offer.program.name }}
            </div>
            <div v-else-if="offersCount"
                 :class="$style.title">
                {{ offersCount }} предложени{{ offersCount|plural(['е', 'я', 'й']) }}
            </div>
        </div>
        <div :class="$style.rate">
            <div :class="$style.value"
                 v-html="minRate">
            </div>
            <div :class="$style.label">
                ставка
            </div>
        </div>
        <div :class="$style.term">
            <div :class="$style.value">
                до {{ offer.maxTerm }} лет
            </div>
            <div :class="$style.label">
                срок
            </div>
        </div>
        <div :class="$style.payment">
            <div :class="$style.value">
                {{ offer.payment | splitThousands }}
                <span class="rub">&#8381;</span>/мес
            </div>
            <div :class="$style.label">
                платеж
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MortgageOfferCard',

        props: {
            offer: {
                type: Object,
                default: () => ({}),
            },

            name: {
                type: String,
                default: '',
            },

            image: {
                type: String,
                default: '',
            },

            offersCount: {
                type: Number,
                default: 0,
            },

            size: {
                type: String,
                default: 'medium',
            },
        },

        computed: {
            classes() {
                return [
                    this.$style[`_${this.size}`],
                    {
                        [this.$style['is-root']]: this.offersCount,
                    },
                ];
            },

            minRate() {
                return this.offer.minRate ? `${this.offer.minRate} %` : '';
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageOfferCard {
        display: flex;
        align-items: center;
        height: 11.2rem;
        padding-left: 5.6rem;
        background-color: $body-bg;

        @include respond-to(sm) {
            height: 92px;
            padding-left: 24px;
        }

        @include respond-to(xs) {
            align-items: flex-start;
            flex-wrap: wrap;
            height: 100%;
            padding-top: 26px;
        }

        &.is-root {
            .term {
                @include respond-to(xs) {
                    display: none;
                }
            }
        }

        &._large {
            @include respond-to(xs) {
                padding-top: 18px;
                padding-left: 16px;
            }

            .desc {
                @include respond-to(xs) {
                    min-width: 64vw;
                }
            }

            .rate {
                @include respond-to(xs) {
                    order: 1;
                    margin-left: 24px;
                }
            }

            .term {
                @include respond-to(xs) {
                    order: 2;
                    display: block;
                }
            }
        }
    }

    .image {
        width: 5.6rem;
        height: 5.6rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include respond-to(sm) {
            width: 44px;
            height: 44px;
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
        }
    }

    .desc {
        width: 33rem;
        margin-left: 2rem;

        @include respond-to(lg) {
            width: 24.4rem;
        }

        @include respond-to(sm) {
            width: 208px;
            margin-left: 16px;
        }

        @include respond-to(xs) {
            width: auto;
            min-width: 64%;
            margin-left: 12px;
        }
    }

    .name {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.4;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 12px;
            line-height: 1.04;
        }
    }

    .title {
        margin-top: .4rem;
        font-size: 1rem;
        line-height: 1.46;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $vice;
    }

    .value {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 12px;
            line-height: 1.04;
        }
    }

    .label {
        font-size: 1.4rem;
        line-height: 1.46;

        @include respond-to(xs) {
            font-size: 12px;
            line-height: 1.32;
        }
    }

    .rate {
        width: 21rem;

        @include respond-to(lg) {
            width: 9.8rem;
        }

        @include respond-to(sm) {
            width: 106px;
        }

        @include respond-to(xs) {
            width: auto;
            margin-right: 24px;
        }
    }

    .term {
        width: 24rem;

        @include respond-to(lg) {
            width: 13.2rem;
        }

        @include respond-to(sm) {
            width: 144px;
        }

        @include respond-to(xs) {
            width: auto;
        }
    }

    .payment {
        //
    }

</style>
