<template>
    <section :class="[$style.Mortgage, classes]">
        <MortgageFilter
            :class="$style.filter"
            :title="lowestMortgage"
            :values="values"
            :term-spec="specs.term"
            :deposit-spec="specs.deposit"
            :program-specs="specs.program"
            :program-facets="facets.program"
            :price-spec="specs.price"
            :count="count"
            :payment="payment"
            :hide-more="hideMore"
            :show-price="showPrice"
            :realty-id="realtyId"
            :type="type"
            @change="onValuesChange"
        />

        <MortgageOffers
            :offers="offers"
            :background-color="backgroundColor"
            :show-price="showPrice"
            :reloading="isReloading || isLoading"
        />

        <div v-if="isMobile"
             :class="$style.buttons">
            <VButton :class="$style.btn"
                     @click="onCallbackClick">
                Оставить заявку
            </VButton>

            <VButton :class="$style.btn"
                     color="vice"
                     @click="showOffersModal">
                Показать {{ count }} {{ count|plural(['предложение', 'предложения', 'предложений'])
                }}
            </VButton>
        </div>
    </section>
</template>

<script>
    import allBanks from '../../../queries/mortgage/allBanks.graphql';

    /* components */
    import MortgageFilter from './MortgageFilter';
    import MortgageOffers from './MortgageOffers';
    import VButton from '@/components/ui/button/VButton';
    import MortgageRequestForm from '@/components/common/forms/MortgageRequestForm';
    import RequestFormModal from '@/components/layout/modals/RequestFormModal';

    export default {
        name: 'Mortgage',

        components: {
            VButton,
            MortgageOffers,
            MortgageFilter,
        },

        props: {
            realtyId: {
                type: String,
                default: '',
            },

            title: {
                type: String,
                default: '',
            },

            hideMore: {
                type: Boolean,
                default: false,
            },

            showPrice: {
                type: Boolean,
                default: false,
            },

            backgroundColor: {
                type: String,
                default: 'gray',
            },

            type: {
                type: String,
                default: 'residential',
            },

            specs: {
                type: Object,
                default: () => ({}),
            },

            facets: {
                type: Object,
                default: () => ({}),
            },

            initOffers: {
                type: Array,
                default: () => [],
            },

            initialCount: {
                type: Number,
                default: 0,
            },

            initialValues: {
                type: Object,
                default: () => ({}),
            },

            isStickyButtons: Boolean,
            isLoading: Boolean,
        },

        data() {
            return {
                values: {...this.initialValues},
                count: this.initialCount,
                offers: this.initOffers,
                isReloading: false,
            };
        },

        computed: {
            lowestMortgage() {
                if (this.title) {
                    return this.title;
                } else if (this.offers && this.offers.length) {
                    const minRates = this.offers.map(item => item.minRate);
                    return minRates?.length ? `Ипотека от ${Math.min(...minRates)}%` : 'Ипотека';
                }
                return '';
            },

            classes() {
                return [
                    {
                        [this.$style['is-sticky-buttons']]: this.isStickyButtons,
                    },
                    {
                        [this.$style['is-loading']]: this.isLoading,
                    },
                ];
            },

            payment() {
                if (this.offers.length < 1) {
                    return 0;
                }

                return Number(Math.min(...this.offers.map(offer => offer.payment)).toFixed(0));
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        watch: {
            initialCount(val) {
                // TODO: стоит переделать пропы и потестить в других местах
                this.count = val;
            },

            initOffers(val) {
                this.offers = val;
            },

            initialValues(val) {
                this.values = {...val};
            },
        },

        methods: {
            showOffersModal() {
                this.$modal.open('OffersModal', {
                    offers: this.offers,
                    backgroundColor: this.backgroundColor,
                });
            },

            fetchOffers() {
                return this.$axios.$post('/graphql/', {
                    query: allBanks.loc.source.body,
                    variables: {...this.values},
                }, {
                    progress: false,
                });
            },

            async onValuesChange(val) {
                this.values = {...this.values, ...val};
                this.$emit('change', this.values);
                this.isReloading = true;
                const start = Date.now();
                const {data} = await this.fetchOffers();
                const stop = Date.now();
                if (stop - start < 200) {
                    setTimeout(() => {
                        this.offers = data.allBanks?.edges?.length ? data.allBanks.edges.map(item => item.node) : [];
                        this.count = data.allBanks.totalCount;

                        this.$nextTick(() => {
                            this.isReloading = false;
                        });
                    }, 200 - (stop - start));
                } else {
                    this.offers = data.allBanks?.edges?.length ? data.allBanks.edges.map(item => item.node) : [];
                    this.count = data.allBanks.totalCount;

                    this.$nextTick(() => {
                        this.isReloading = false;
                    });
                }
            },

            onCallbackClick() {
                let data = {
                    title: 'Заявка на ипотеку',
                    subtitle: 'Проконсультируем в течение часа',
                    form: MortgageRequestForm,
                    yandexMetrika: 'lead-ipoteka-calc'
                };

                if (this.realtyId) {
                    data = {...data, ...{id: this.realtyId}};
                }
                this.$modal.open(RequestFormModal, data);
            },
        },
    };
</script>

<style lang="scss" module>
    $button-margin-top: 330px;

    .Mortgage {
        position: relative;
        display: flex;

        @include respond-to(sm) {
            flex-direction: column;
        }

        &.is-sticky-buttons {
            @include respond-to(xs) {
                padding-top: $button-margin-top;
                background-color: $base-500;
            }

            .filter {
                @include respond-to(xs) {
                    margin-top: calc(#{$button-margin-top} * -1);
                }
            }

            .buttons {
                @include respond-to(xs) {
                    position: sticky;
                    z-index: 10;
                    bottom: 0;
                    background-color: transparent;
                }
            }
        }

        &.is-loading {
            .filter {
                opacity: 0;
                transform: translate(-1rem, 0);
            }
        }
    }

    .filter {
        transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    }

    .buttons {
        @include respond-to(sm) {
            display: flex;
            align-items: center;
            height: 136px;
            padding: 0 40px;
            background-color: $body-bg;
        }

        @include respond-to(xs) {
            flex-direction: column-reverse;
            width: 100%;
            height: auto;
            padding: 24px $side-padding-mobile 40px;
            background-color: $base-50;
        }
    }

    .btn {
        @include respond-to(sm) {
            width: 50%;
            margin-left: 10px;

            @include respond-to(xs) {
                width: 100%;
                margin-left: 0;
                margin-top: 16px;
            }

            &:first-child {
                width: calc(50% - 20px);
                margin-left: 0;
                margin-right: 10px;

                @include respond-to(xs) {
                    width: 100%;
                    margin-right: 0;
                    margin-top: 16px;
                }
            }

            &:last-child {
                @include respond-to(xs) {
                    width: 100%;
                    margin-top: 0;
                    margin-left: 0;
                }
            }
        }
    }
</style>
