<template>
    <div :class="[$style.MortgageOffers, classes]">
        <div :class="$style.wrap">
            <transition name="fade"
                        appear>
                <div v-if="!reloading"
                     :class="$style.content">
                    <template v-if="$device.isDesktopOrTablet">
                        <div v-for="(offer, idx) in offers"
                             :key="idx"
                             :class="$style.offer">
                            <template v-if="offer.offerSet.edges.length > 1">
                                <AccordionItem simple
                                               :color="!backgroundColor ? 'gray' : ''"
                                               :hide-button-color="backgroundColor === 'gray' ? 'night' : 'white'"
                                               @toggle="handleToggle(idx, $event)">
                                    <template #header>
                                        <MortgageBank
                                            :offer="offer"
                                            :more="openList.indexOf(idx) === -1"
                                        />
                                    </template>
                                    <template #content>
                                        <MortgageOfferCard
                                            v-for="(item, i) in offer.offerSet.edges"
                                            :key="i"
                                            :class="$style.card"
                                            :offer="item.node"
                                            :name="offer.name"
                                            :image="offer.logo"
                                        />
                                    </template>
                                </AccordionItem>
                            </template>
                            <template v-else>
                                <MortgageOfferCard
                                    v-for="(item, i) in offer.offerSet.edges"
                                    :key="`s-${idx}-${i}`"
                                    :class="$style.card"
                                    :offer="item.node"
                                    :name="offer.name"
                                    :image="offer.logo"
                                />
                            </template>
                        </div>
                    </template>

                    <template v-else>
                        <div v-for="(offer, idx) in offers"
                             :key="idx"
                             :class="$style.offer"
                             @click="handleOfferClick(idx)">
                            <MortgageBank
                                :offer="offer"
                                :more="openList.indexOf(idx) === -1"
                            />
                        </div>
                    </template>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import MortgageBank from '@/components/common/mortgage/MortgageBank';
    import AccordionItem from '@/components/common/AccordionItem';
    import MortgageOfferCard from '@/components/common/mortgage/MortgageOfferCard';

    export default {
        name: 'MortgageOffers',

        components: {
            MortgageOfferCard,
            AccordionItem,
            MortgageBank,
        },

        props: {
            offers: {
                type: Array,
                default: () => [],
            },

            backgroundColor: {
                type: String,
                default: 'gray',
            },

            showPrice: {
                type: Boolean,
                default: false,
            },

            reloading: Boolean,
        },

        data() {
            return {
                openList: [],
            };
        },

        computed: {
            classes() {
                return [
                    this.$style[`_${this.backgroundColor}`],
                    {[this.$style['show-price']]: this.showPrice},
                ];
            },
        },

        methods: {
            handleToggle(idx, isOpen) {
                if (isOpen) {
                    this.openList.push(idx);
                } else {
                    const pos = this.openList.indexOf(idx);
                    if (pos > -1) {
                        this.openList.splice(pos, 1);
                    }
                }
            },

            handleOfferClick(idx) {
                this.$modal.open('OffersModal', {offers: this.offers, bank: idx});
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageOffers {
        flex-grow: 1;
        position: relative;
        padding: 0 calc((100% - #{$container-width-desktop-xl}) / 2) 0 5.6rem;

        @include respond-to(lg) {
            padding: 0 calc((100% - #{$container-width-desktop}) / 2) 0 5.6rem;
        }

        @include respond-to(sm) {
            padding: 0;
        }

        @include respond-to(xs) {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            z-index: 2;
            width: 100%;
            pointer-events: none;

            @include respond-to(xs) {
                display: none;
            }
        }

        &:before {
            top: 0;
            height: 5.2rem;
            background: linear-gradient(0deg, rgba($base-50, 0) 0%, $base-50 100%);
        }

        &:after {
            bottom: 0;
            height: 12rem;
            background: linear-gradient(180deg, rgba($base-50, 0) 0%, $base-50 100%);
        }

        /* colors */

        &._gray {
            background-color: $base-50;
        }

        &._night {
            background-color: $base-500;

            &:after {
                background: linear-gradient(180deg, rgba($base-500, 0) 0%, $base-500 100%);
            }

            &:before {
                background: linear-gradient(0deg, rgba($base-500, 0) 0%, $base-500 100%);
            }
        }

        /* mods */

        &.show-price {
            .wrap {
                height: 87.6rem;

                @include respond-to(sm) {
                    height: 424px;
                }

                @include respond-to(xs) {
                    height: auto;
                }
            }
        }
    }

    .wrap {
        height: 76rem;

        @include respond-to(sm) {
            height: 424px;
        }

        @include respond-to(xs) {
            height: 156px;
        }
    }

    .content {
        height: 100%;
        overflow-y: auto;
        padding: 6.2rem 0;
        scrollbar-width: none;

        @include respond-to(sm) {
            padding: 40px 0;
        }

        @include respond-to(xs) {
            display: flex;
            width: fit-content;
            overflow-x: auto;
            padding-top: 24px;
            padding-bottom: 0;
            padding-left: 16px;
            -webkit-overflow-scrolling: touch;
        }

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }

    .offer,
    .card {
        margin-top: 1.6rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .offer {
        @include respond-to(xs) {
            width: 216px;
            height: 132px;
            margin-top: 0;
            margin-right: $side-padding-mobile;
        }
    }

    .card {
        @include respond-to(sm) {
            margin-left: 40px;
            margin-right: 40px;
        }
    }
</style>
