<template>
    <div :class="[$style.MortgageBank, {[$style['has-more']]: more && offersCount > 1}]">
        <MortgageOfferCard
            :offer="offer"
            :name="offer.name"
            :image="offer.logo"
            :size="size"
            :offers-count="offersCount"
            root
        />
    </div>
</template>

<script>
    import MortgageOfferCard from '@/components/common/mortgage/MortgageOfferCard';

    export default {
        name: 'MortgageBank',

        components: {
            MortgageOfferCard,
        },

        props: {
            offer: {
                type: Object,
                default: () => ({}),
            },

            more: {
                type: Boolean,
                default: false,
            },

            size: {
                type: String,
                default: '',
            },
        },

        computed: {
            offersCount() {
                return this.offer.offerSet?.edges?.length ? this.offer.offerSet.edges.length : 0;
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageBank {
        position: relative;
        padding-bottom: 1.6rem;

        @include respond-to(xs) {
            height: 100%;
            padding-bottom: 0;
        }

        &:after {
            content: "";
            position: absolute;
            left: 1.2rem;
            bottom: .8rem;
            width: calc(100% - 2.4rem);
            height: .8rem;
            background-color: rgba($milk, .64);
            opacity: 0;
            transition: opacity $default-transition;

            @include respond-to(sm) {
                left: 8px;
                width: calc(100% - 16px);
            }

            @include respond-to(xs) {
                display: none;
            }
        }

        &:before {
            content: "";
            position: absolute;
            left: 2.2rem;
            bottom: 0;
            width: calc(100% - 4.4rem);
            height: 1.6rem;
            background-color: rgba($milk, .32);
            opacity: 0;
            transition: opacity $default-transition;

            @include respond-to(sm) {
                left: 16px;
                width: calc(100% - 32px);
            }

            @include respond-to(xs) {
                display: none;
            }
        }

        &.has-more {
            &:before,
            &:after {
                opacity: 1;
            }
        }
    }
</style>
