<template>
    <div class="v-switch"
         :class="classes"
         role="switch"
         :aria-checked="lazyValue"
         :aria-disabled="disabled">

        <span v-if="$slots.falseLabel"
              class="v-switch__label _left"
              @click="onLabelClick(false)">
            <slot name="falseLabel"></slot>
        </span>

        <div class="v-switch__field"
             tabindex="0"
             @focus="onFocus"
             @blur="onBlur"
             @click="onChange"
             @keydown.enter="onChange">

            <div class="v-switch__dot"></div>
        </div>

        <span v-if="$slots.trueLabel"
              class="v-switch__label _right"
              @click="onLabelClick(true)">
            <slot name="trueLabel"></slot>
        </span>

        <input v-if="name"
               type="hidden"
               :name="name"
               :value="lazyValue ? trueValue : falseValue">
    </div>
</template>

<script>
    export default {
        name: 'VSwitch',

        props: {
            /**
             * Имя, которое используется при отправке формы
             */
            name: {
                type: String,
                default: '',
            },
            /**
             * Текущее значение чекбокса
             */
            value: {
                type: [Array, String, Boolean, Number],
                default: undefined,
            },
            /**
             * Значение, которое используется при отправке формы, а также передается в value
             * при активации чекбокса
             */
            trueValue: {
                type: [String, Boolean],
                default: true,
            },
            falseValue: {
                type: [String, Boolean],
                default: false,
            },
            /**
             * Определяет классы, которые будут модифицировать размер
             */
            size: {
                type: String,
                default: 'medium',
                validator(value) {
                    return ['large', 'medium', 'small'].indexOf(value) !== -1;
                },
            },
            /**
             * Определяет классы, которые будут модифицировать цвет
             */
            color: {
                type: String,
                default: 'default',
            },
            /**
             * Очевидно, что это свойство отключает взаимодействие с чекбоксом
             */
            disabled: Boolean,
            reverse: Boolean,
        },

        data() {
            return {
                lazyValue: false,
                isFocused: false,
            };
        },

        computed: {
            classes() {
                return [
                    `v-switch--${this.color}`,
                    `v-switch--${this.size}`,
                    {
                        'is-disabled': this.disabled,
                        'is-checked': this.lazyValue,
                        'is-focused': this.isFocused,
                        'is-reverse': this.reverse,
                    },
                ];
            },
        },

        watch: {
            value(val) {
                const newVal = val;
                if (Array.isArray(newVal)) {
                    if (val.includes(this.trueValue)) {
                        if (this.lazyValue !== true) {
                            this.lazyValue = true;
                            this.$emit('change', val);
                        }
                    } else if (this.lazyValue !== false) {
                        this.lazyValue = false;
                        this.$emit('change', val);
                    }
                } else if (newVal === this.trueValue && this.lazyValue !== true) {
                    this.lazyValue = true;
                    this.$emit('change', newVal);
                } else if (this.lazyValue !== false) {
                    this.lazyValue = false;
                    this.$emit('change', newVal);
                }
            },
        },

        created() {
            Array.isArray(this.value)
                ? this.lazyValue = this.value.includes(this.trueValue)
                : this.lazyValue = Boolean(this.value);
        },

        methods: {
            onFocus() {
                this.isFocused = true;
            },

            onBlur() {
                this.isFocused = false;
            },

            onLabelClick(val) {
                if (this.disabled || this.lazyValue === val) {
                    return;
                }

                if (this.value !== undefined) {
                    if (Array.isArray(this.value)) {
                        const newValue = [...this.value];
                        val
                            ? newValue.push(this.trueValue)
                            : newValue.splice(newValue.indexOf(this.trueValue), 1);
                        this.$emit('input', newValue);
                    } else {
                        this.$emit('input', val ? this.trueValue : this.falseValue);
                    }
                } else {
                    this.lazyValue = val;
                    this.$emit('change', this.lazyValue);
                }
            },

            onChange() {
                if (this.disabled) {
                    return;
                }

                if (this.value !== undefined) {
                    if (Array.isArray(this.value)) {
                        const newValue = [...this.value];
                        this.lazyValue
                            ? newValue.splice(newValue.indexOf(this.trueValue), 1)
                            : newValue.push(this.trueValue);
                        this.$emit('input', newValue);
                    } else {
                        this.$emit('input', this.lazyValue ? this.falseValue : this.trueValue);
                    }
                } else {
                    this.lazyValue = !this.lazyValue;
                    this.$emit('change', this.lazyValue);
                }
            },
        },
    };
</script>

<style lang="scss">
    .v-switch {
        $medium-dot-h: 1.2rem;
        $medium-dot-w: 1.2rem;

        display: inline-flex;
        align-items: center;
        user-select: none;
        outline: none;
        cursor: pointer;

        /* Colors */
        &--default {
            .v-switch__field {
                background-color: $base-200;

                &:hover {
                    background-color: $base-300;
                }
            }

            .v-switch__dot {
                background-color: #fff;
            }

            .v-switch__label {
                &._left {
                    color: $base-500;
                }

                &._right {
                    color: $base-500;
                }
            }

            &.is-checked {
                .v-switch__field {
                    background-color: $base-500;

                    &:hover {
                        background-color: rgba($base-500, .5);
                    }
                }
            }
        }

        /* End Colors */

        /* Sizes */
        &--medium {
            .v-switch__label {
                font-size: 1.4rem;
                line-height: 1.16;
                font-weight: 500;
            }

            .v-switch__field {
                width: 2.8rem;
                height: 1.6rem;
            }

            .v-switch__dot {
                width: $medium-dot-w;
                height: $medium-dot-h;
            }

            &.is-checked {
                .v-switch__dot {
                    left: calc(100% - #{$medium-dot-w} - 3px);
                }
            }
        }

        /* End Sizes */

        /* Modificators */

        &.is-disabled {
            opacity: .5;
            cursor: not-allowed;
        }

        &.is-reverse {
            flex-direction: row-reverse;

            .v-switch__label {
                &._left {
                    margin-right: 0;
                    margin-left: 1.4rem;

                    @include respond-to(xs) {
                        margin-left: 8px;
                    }
                }

                &._right {
                    margin-left: 0;
                    margin-right: 1.4rem;

                    @include respond-to(xs) {
                        margin-right: 8px;
                    }
                }
            }
        }

        /* End Modificators */

        &__label {
            transition: color .3s ease;

            &._left {
                margin-right: 1.4rem;

                @include respond-to(xs) {
                    margin-right: 8px;
                }
            }

            &._right {
                margin-left: 1.4rem;

                @include respond-to(xs) {
                    margin-left: 8px;
                }
            }
        }

        &__field {
            position: relative;
            display: block;
            border-radius: 1rem;
            cursor: pointer;
            outline: none;
            transition: background-color .3s ease-in-out;
        }

        &__dot {
            position: absolute;
            top: 50%;
            left: 3px;
            border-radius: 50%;
            transform: translate3d(0, -50%, 0);
            transition: left .3s ease;
            will-change: left;
        }
    }
</style>
