<template>
    <div ref="container"
         class="submenu-popover">
        <div class="submenu-popover__header">
            <slot name="header"></slot>
        </div>
        <div ref="body"
             class="submenu-popover__body"
             :class="classes">
            <slot name="body"></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SubmenuPopover',

        data() {
            return {
                xPos: 'right',
                yPos: 'top',
                isTicking: false,
            };
        },

        computed: {
            classes() {
                return [
                    `_${this.xPos}`,
                    `_${this.yPos}`,
                ];
            },
        },

        mounted() {
            window.addEventListener('scroll', this.handleScroll);
            this.$nextTick(() => {
                this.checkPosition();
            });
        },

        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
        },

        methods: {
            handleScroll() {
                if (this.isTicking) {
                    return;
                }
                this.isTicking = true;
                requestAnimationFrame(() => {
                    this.checkPosition();
                });
            },

            checkPosition() {
                if (!this.$refs.container) {
                    return;
                }

                const {top} = this.$refs.container.getBoundingClientRect();
                const bodyHeight = this.$refs.body.offsetHeight;
                if (top < bodyHeight) {
                    this.yPos = 'bottom';
                } else {
                    this.yPos = 'top';
                }
                this.isTicking = false;
            },
        },
    };
</script>

<style lang="scss">
    .submenu-popover {
        position: relative;

        $block: &;

        &:hover {
            #{$block}__body {
                opacity: 1;
                visibility: visible;
                transition: opacity $default-transition, visibility .26s ease-in-out;
            }
        }

        &__body {
            position: absolute;
            z-index: 3;
            border-radius: 1.6rem;
            background-color: #fff;
            box-shadow: $box-shadow;
            opacity: 0;
            visibility: hidden;
            transition: opacity $default-transition, visibility .26s ease-in-out .3s;

            &._top {
                bottom: 0;
            }

            &._bottom {
                top: 0;
            }

            &._right {
                right: -.8rem;
                transform: translateX(100%);
            }

            &._left {
                left: -.8rem;
                transform: translateX(-100%);
            }
        }
    }
</style>
