<template>
    <div class="v-popover-item"
         :class="classList">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'VPopoverItem',

        props: {
            selected: {
                type: Boolean,
                default: false,
            },

            disabled: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            classList() {
                return {
                    'is-selected': this.selected,
                    'is-disabled': this.disabled,
                };
            },
        },
    };
</script>

<style lang="scss">
    .v-popover-item {
        padding: .6rem 2.4rem;
        margin: 0 -1.2rem;
        cursor: pointer;
        color: $base-500;
        line-height: 1.52;
        user-select: none;
        transition: color $default-transition;

        &:hover {
            background-color: rgba($vice, .6);
        }

        &.is-selected {
            color: $vice;
        }

        &.is-disabled {
            color: rgba($base-500, .2);
            pointer-events: none;
        }
    }
</style>
