<template>
    <div ref="container"
         class="v-popover"
         :class="classList">
        <div ref="top"
             class="v-popover__top"
             @click.prevent.stop="toggle($event)">
            <slot name="header"></slot>
        </div>

        <div ref="dropdown"
             class="v-popover__bottom">
            <div class="v-popover__wrapper"
                 :class="wrapperClassList"
                 :style="wrapperStyles">
                <transition name="popover"
                            @after-leave="removeFromBody">
                    <div v-if="isOpened"
                         ref="body"
                         class="v-popover__body"
                         :style="bodyStyles">
                        <slot name="body"></slot>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'VPopover',

        props: {
            value: {
                type: Boolean,
                default: false,
            },

            autoClose: {
                type: Boolean,
                default: false,
            },

            verticalAlign: {
                type: String,
                default: 'bottom',
                validator: v => [
                    'top',
                    'center',
                    'bottom',
                ].includes(v),
            },

            align: {
                type: String,
                default: 'center',
                validator: v => [
                    'left',
                    'center',
                    'right',
                ].includes(v),
            },

            parentWidth: {
                type: Boolean,
                default: false,
            },

            preventControl: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                isOpened: false,

                dropdown: {
                    domEl: null,
                    observer: null,
                    scrollListener: null,
                    width: 0,
                    posX: 0,
                    posY: 0,
                },
            };
        },

        computed: {
            classList() {
                return {
                    '_is-opened': this.isOpened,
                };
            },

            wrapperStyles() {
                return {
                    top: `${this.dropdown.posY}px`,
                    left: `${this.dropdown.posX}px`,
                };
            },

            wrapperClassList() {
                return {
                    [`_x-${this.align}`]: this.align,
                    [`_y-${this.verticalAlign}`]: this.verticalAlign,
                };
            },

            bodyStyles() {
                return {
                    width: this.parentWidth ? `${this.dropdown.width}px` : null,
                };
            },
        },

        watch: {
            value: {
                immediate: true,
                handler: function(val) {
                    val
                        ? this.open()
                        : this.close();
                },
            },

            isOpened: {
                immediate: true,
                handler: function(val) {
                    val
                        ? this.startListenScroll()
                        : this.stopListenScroll();
                },
            },
        },

        mounted() {
            this.init();
        },

        beforeDestroy() {
            this.destroy();
        },

        methods: {
            init() {
                this.addObserver();
                this.initDropdown();
            },

            destroy() {
                this.stopListenScroll();
                this.dropdown.observer.unobserve(this.$refs.container);
                this.removeFromBody();
            },

            addObserver() {
                const callback = entries => {
                    entries.forEach(entry => {
                        if (this.isOpened && !entry.isIntersecting) {
                            this.isOpened = false;
                        }
                    });
                };

                this.dropdown.observer = new IntersectionObserver(callback);
                this.dropdown.observer.observe(this.$refs.container);
            },

            startListenScroll() {
                const spyScroll = () => {
                    const {top} = this.$refs;

                    const tbr = top.getBoundingClientRect();

                    this.dropdown.posY = tbr.y + tbr.height;
                    this.dropdown.posX = tbr.x;

                    if (this.align === 'center') {
                        this.dropdown.posX += tbr.width / 2;
                    } else if (this.align === 'right') {
                        this.dropdown.posX += tbr.width;
                    }

                    if (this.verticalAlign === 'center') {
                        this.dropdown.posY = tbr.y + (tbr.height / 2);
                    } else if (this.verticalAlign === 'top') {
                        this.dropdown.posY = tbr.y;
                    }

                    this.dropdown.scrollListener = requestAnimationFrame(spyScroll);
                };

                spyScroll();
            },

            stopListenScroll() {
                if (this.dropdown.scrollListener) {
                    cancelAnimationFrame(this.dropdown.scrollListener);
                }
            },

            initDropdown() {
                this.domEl = this.$refs.dropdown;
                this.$refs.dropdown.remove();
            },

            moveToBody() {
                this.dropdown.width = this.$refs.container.offsetWidth;
                document.body.appendChild(this.domEl);
            },

            removeFromBody() {
                if (this.domEl) {
                    this.domEl.remove();
                }
            },

            onOutsideClick(event) {
                const {container, body} = this.$refs;

                const isClickInside = container.contains(event.target) || (body && body.contains(event.target));

                if (!isClickInside) {
                    this.isOpened = false;
                } else if (isClickInside && this.autoClose) {
                    this.isOpened = false;
                }

                this.emit();
            },

            toggle() {
                if (this.preventControl) {
                    return false;
                }
                this.isOpened
                    ? this.close()
                    : this.open();
            },

            open() {
                this.moveToBody();

                if (process.browser && !this.preventControl) {
                    document.addEventListener('click', this.onOutsideClick, false);
                }

                this.isOpened = true;

                this.emit();
            },

            close() {
                if (process.browser) {
                    document.removeEventListener('click', this.onOutsideClick, false);
                }

                this.isOpened = false;

                this.emit();
            },

            emit() {
                this.$emit('input', this.isOpened);
            },
        },
    };
</script>


<style lang="scss">
    .v-popover {
        user-select: none;

        $popover: &;

        &__top {
            width: 100%;
            cursor: pointer;
        }

        &__bottom {
            position: absolute;
            z-index: 10000;

            &:before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                cursor: default;
            }
        }

        &__wrapper {
            position: fixed;
            z-index: 2;

            &._x-left {
                &._y-bottom {
                    transform: translate3d(0, 0, 0);
                }

                &._y-center {
                    transform: translate3d(0, -50%, 0);
                }

                &._y-top {
                    transform: translate3d(0, -100%, 0);
                }
            }

            &._x-center {
                &._y-bottom {
                    transform: translate3d(-50%, 0, 0);
                }

                &._y-center {
                    transform: translate3d(-50%, -50%, 0);
                }

                &._y-top {
                    transform: translate3d(-50%, -100%, 0);
                }
            }

            &._x-right {
                &._y-bottom {
                    transform: translate3d(-100%, 0, 0);
                }

                &._y-center {
                    transform: translate3d(-100%, -50%, 0);
                }

                &._y-top {
                    transform: translate3d(-100%, -100%, 0);
                }
            }

            &._y-bottom {
                padding-top: 8px;
            }

            &._y-top {
                padding-bottom: 8px;
            }
        }

        &__body {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 4px 0;
            background-color: white;
            box-shadow: 0 0 1px rgba(38, 46, 50, .06), 0 2px 6px rgba(38, 46, 50, .08), 0 4px 16px rgba(38, 46, 50, .12);

            // Animation
            &.popover-enter-active,
            &.popover-leave-active {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: transform .3s ease, opacity .3s ease;
            }

            &.popover-enter,
            &.popover-leave-to {
                opacity: 0;
                transform: translate3d(0, 8px, 0);
                transition: transform .3s ease, opacity .3s ease;
            }
        }
    }

</style>
