<template>
    <div ref="controls"
         :class="[$style.LotHeroControls, $style['is-visible'], classes]">
        <div :class="$style.container">
            <div :class="$style.header">
                <p :class="$style.label"
                   class="label c-base-200">
                    {{ lot.article }}
                </p>
                <div :class="$style.info">

                    <h2 :class="$style.title"
                        class="h3 c-base"
                        v-html="flatTitle">
                    </h2>

                    <div :class="$style.price">
                        <p :class="$style.priceHeader">
                            <s v-if="saleValue"
                               :class="$style.oldPrice"
                               class="c-base-200">
                                {{ lot.originalPrice|splitThousands }} &#8381;
                            </s>

                            <span v-if="saleValue"
                                  :class="$style.saleValue">
                                - {{ saleValue|splitThousands }} &#8381;
                            </span>

                        </p>
                        <span :class="$style.priceValue">
                            {{ lot.price|splitThousands }}
                            <span class="rub">&#8381;</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div :class="$style.buttons">
            <VButton :class="[$style.btn, $style._large]"
                     @click="onBookClick">
                Забронировать
            </VButton>

            <VButton v-if="$mq !== 'xs'"
                     :class="[$style.btn, $style._large]"
                     color="vice"
                     @click="onCallbackClick">
                Позвонить
            </VButton>

            <button type="button"
                    class="btn-reset"
                    :class="$style.callback"
                    @click="onCallbackClick">
                <IconPhone class="frame-icon" />
            </button>
            <button type="button"
                    :class="$style.moreMobile"
                    class="btn-reset"
                    @click="clickMoreMob">
                <IconKebabSmall class="frame-icon is-xsmall" />
            </button>
            <div :class="[$style.wrapper, {[$style._visible]: isVisibleMore}]">
                <VHeartButton
                    :class="$style.btn"
                    :active="isInFavorite"
                    size="large"
                    @click="onFavoriteClick"
                />

                <VCircleButton :class="$style.btn"
                               link=""
                               size="large">
                    <IconPrint class="frame-icon is-medium" />
                </VCircleButton>

                <VCircleButton :class="$style.btn"
                               link=""
                               size="large"
                               @click="onShareClick">
                    <IconShare class="frame-icon is-default" />
                </VCircleButton>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    /* components */
    import VButton from '../../ui/button/VButton';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconPrint from '../../icons/IconPrint';
    import IconShare from '../../icons/IconShare';
    import IconPhone from '../../icons/IconPhone';
    import RequestFormModal from '../../layout/modals/RequestFormModal';
    import ReservationForm from '../forms/BookedForm';
    import CallbackForm from '../forms/CallbackForm';
    import IconKebabSmall from '../../icons/IconKebabSmall';
    import VHeartButton from '../../ui/button/VHeartButton';

    export default {
        name: 'LotHeroControls',

        components: {
            VHeartButton,
            IconKebabSmall,
            IconPhone,
            IconShare,
            IconPrint,
            VCircleButton,
            VButton,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },
        },

        data() {
            return {
                isDisplayHeader: false,
                isVisible: true,
                isVisibleMore: false,
            };
        },

        computed: {
            ...mapState('favorites', [
                'favorites',
            ]),

            isInFavorite() {
                return this.favorites.includes(this.lot.id);
            },

            flatTitle() {
                let title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-ком.`;
                title += ` ${this.lot.area ? this.lot.area.toLocaleString() : ''} м<sup>2</sup>`;
                return title;
            },

            saleValue() {
                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },

            classes() {
                return {
                    [this.$style['is-display-header']]: this.isDisplayHeader,
                };
            },
        },

        mounted() {
            if (window.innerWidth > 992) {
                return;
            }
            this.handleScroll();
            window.addEventListener('scroll', this.handleScroll);
        },

        beforeDestroy() {
            if (window.innerWidth > 992) {
                return;
            }

            window.removeEventListener('scroll', this.hideMoreMob);
            window.removeEventListener('scroll', this.handleScroll);
        },

        methods: {
            ...mapActions('favorites', [
                'changeFavoriteState',
            ]),

            onBookClick() {
                const yandexMetrika = this.realtyType === 'commercial' ? 'lead-bookingcomm' : 'lead-booking';
                this.$modal.open(RequestFormModal, {
                    title: 'Заявка на бронирование',
                    subtitle: 'Проконсультируем в течение часа',
                    form: ReservationForm,
                    id: this.lot.id,
                    yandexMetrika: yandexMetrika,
                    obj: {
                        projectSlug: this.lot.project?.slug ? this.lot.project.slug : '',
                        propertyType: this.lot.type,
                    },
                });
            },

            onFavoriteClick() {
                this.changeFavoriteState(this.lot.id);
            },

            onCallbackClick() {
                this.$modal.open(RequestFormModal, {
                    title: 'Обратный звонок',
                    subtitle: 'Проконсультируем в течение часа',
                    form: CallbackForm,
                    yandexMetrika: 'lead-callback',
                    id: this.lot.id,
                });
            },

            handleScroll() {
                if (!this.$parent?.$refs?.aside?.$el && this.$parent?.$refs?.container) {
                    return;
                }
                const {top} = this.$parent.$refs.aside.$el.getBoundingClientRect();
                const {bottom} = this.$parent.$refs.container.getBoundingClientRect();
                const controlsHeight = this.$refs.controls.offsetHeight;

                requestAnimationFrame(() => {
                    this.isDisplayHeader = top + controlsHeight > window.innerHeight;
                    this.isVisible = bottom > window.innerHeight;
                });
            },

            onShareClick() {
                const shareData = {
                    title: this.flatTitle,
                    url: window.location.href,
                };

                if (navigator.share !== undefined) {
                    navigator.share(shareData);
                }
            },

            clickMoreMob() {
                this.isVisibleMore = !this.isVisibleMore;

                window.addEventListener('scroll', this.hideMoreMob);
            },

            hideMoreMob() {
                this.isVisibleMore = false;
                window.removeEventListener('scroll', this.hideMoreMob);
            },
        },
    };
</script>

<style lang="scss" module>
    .LotHeroControls {
        display: none;

        @include respond-to(sm) {
            position: fixed;
            bottom: 0;
            z-index: 10;
            display: block;
            width: 100%;
            padding: $side-padding-tablet;
            border-top: 1px solid $base-100;
            background-color: $milk;
            transform: translateY(100%);
            transition: transform $default-transition;

            @include respond-to(xs) {
                padding: $side-padding-mobile;
            }
        }

        &.is-visible {
            transform: translateY(0);
        }

        &.is-display-header {
            .container {
                max-height: 88px;

                @include respond-to(xs) {
                    max-height: 64px;
                }
            }

            .header {
                opacity: 1;
                visibility: visible;
                transition: opacity $default-transition, visibility $default-transition;
            }
        }
    }

    .container {
        position: relative;
        overflow: hidden;
        max-height: 0;
        will-change: max-height;
        transition: max-height $default-transition;
    }

    .header {
        position: relative;
        width: 100%;
        padding-bottom: 18px;
        opacity: 0;
        visibility: hidden;
        transition: opacity $default-transition, visibility $default-transition .26s;

        @include respond-to(xs) {
            padding-bottom: 16px;
        }
    }

    .label {
        width: 100%;
    }

    .info {
        display: flex;
        align-items: center;

        @include respond-to(xs) {
            margin-top: 4px;
        }
    }

    .price {
        margin-left: auto;
        text-align: right;
    }

    .priceHeader {
        display: flex;
        align-items: center;
        padding-right: 1rem;

        @include respond-to(xs) {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .oldPrice {
        font-size: 1.6rem;
        line-height: 1.52;
        white-space: nowrap;

        @include respond-to(xs) {
            font-size: 10px;
        }
    }

    .saleValue {
        position: relative;
        padding: .2rem 0 0 .4rem;
        margin-left: .8rem;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
        background-color: rgba($primary-100, .56);
        color: $redline;
        font-size: 1.4rem;
        line-height: 1.6rem;

        @include respond-to(xs) {
            font-size: 10px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba($primary-100, .56);
            border-radius: .4rem;
            transform: translate(-50%, -50%) rotate(135deg);
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }

    .priceValue {
        font-size: 2.4rem;
        line-height: 1.32;
        font-weight: 500;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 20px;
            line-height: 1.4;
        }
    }

    .buttons {
        position: relative;
        display: flex;
        align-items: center;
    }

    .btn {
        &._large {
            width: 244px;

            @include respond-to(xs) {
                width: 192px;
            }
        }

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    .callback {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $secondary-100;
        color: $vice;

        @include respond-to(xs) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
    }

    .moreMobile {
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba($base-100, .4);
        color: $base-400;

        @include respond-to(xs) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
        }
    }

    .wrapper {
        display: flex;

        @include respond-to(xs) {
            position: absolute;
            right: 0;
            top: -.8rem;
            visibility: hidden;
            opacity: 0;
            transition: visibility .26s ease 26s, opacity $default-transition;
            width: 192px;
            padding: 16px;
            border-radius: 16px;
            background-color: $milk;
            box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);
            transform: translateY(-100%);

            &._visible {
                visibility: visible;
                opacity: 1;
                transition: visibility .26s ease, opacity $default-transition;
            }
        }
    }
</style>
