<template>
    <section ref="container"
             :class="$style.LotHero">
        <div :class="$style.container"
             class="container">
            <LotHeroPlans
                ref="layouts"
                :lot="lot"
                :realty-type="realtyType"
            />

            <LotHeroAside
                ref="aside"
                :lot="lot"
                :realty-type="realtyType"
            />
        </div>

        <LotHeroControls
            :lot="lot"
            :realty-type="realtyType"
        />
    </section>
</template>

<script>
    import LotHeroPlans from './plans/LotHeroPlans';
    import LotHeroAside from './LotHeroAside';
    import LotHeroControls from './LotHeroControls';

    export default {
        name: 'LotHero',

        components: {
            LotHeroControls,
            LotHeroAside,
            LotHeroPlans,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat'
            }
        },
    };
</script>

<style lang="scss" module>
    .LotHero {
        overflow: hidden;
        background-color: $base-50;
    }

    .container {
        display: flex;

        @include respond-to(sm) {
            flex-direction: column;
        }
    }
</style>
