<template>
    <div :class="$style.LotHeroAside">
        <p class="label c-base-200">
            {{ lot.article }}
        </p>

        <h1 :class="[$style.title, {[$style._small]: realtyType === 'commercial'}]"
            class="c-base">
            <span v-html="lotTitle">
            </span>
            <span v-if="labelIcon"
                  :class="$style.saleIcon">
                <component
                    :is="labelIcon"
                    class="frame-icon"
                />
            </span>
        </h1>

        <div v-if="lot.firstPayment"
             :class="$style.tag">
            <VTag outline
                  color="redline">
                <span class="fw-700">{{ lot.firstPayment|splitThousands }}&#8381;</span>
                - Первый взнос по ипотеке
            </VTag>
        </div>

        <div v-if="tags.length"
             :class="$style.scrollBox">
            <VScrollBox>
                <div :class="$style.promo">
                    <VTag v-for="(tag, i) in tags"
                          :key="i"
                          :class="$style.promoTag"
                          color="gradient">
                        {{ tag }}
                    </VTag>
                </div>
            </VScrollBox>
        </div>

        <div :class="$style.info">
            <div :class="$style.box">
                <div :class="[$style.cell, colorClass]">
                    <component :is="projectUrl ? 'n-link' : 'span'"
                               :to="projectUrl ? projectUrl : null">
                        {{ projectName }}
                    </component>
                </div>

                <div :class="$style.cell">
                    {{ buildingName }}
                </div>
            </div>
            <div :class="$style.box">
                <div :class="$style.cell">
                    {{ floorNumber }} {{ totalFloors }} этаж
                </div>

                <div :class="$style.cell">
                    {{ lot.number }} номер
                </div>
            </div>

            <div :class="$style.progress">
                <span :class="$style.completion">
                    <span v-if="realtyType === 'flat'">
                        Ключи
                    </span>

                    <span v-else>
                        Сдача
                    </span>
                    в {{ completion }}
                </span>

                <p :class="$style.progressWrap">
                    <span :class="$style.progressLine"
                          :style="{width: `${progress}%`}">
                    </span>
                </p>

                <span :class="$style.progressValue">
                    {{ progress }}%
                </span>
            </div>
        </div>

        <div :class="$style.footer">

            <div :class="$style.price">
                <p :class="$style.priceHeader">
                    <s v-if="saleValue"
                       :class="$style.oldPrice"
                       class="c-base-200">
                        {{ lot.originalPrice|splitThousands }} &#8381;
                    </s>

                    <span v-if="saleValue"
                          :class="$style.saleValue">
                        - {{ saleValue|splitThousands }} &#8381;
                    </span>
                </p>
                <div :class="$style.priceInner">
                    <div :class="$style.priceWrap">
                        <transition name="fade-fast"
                                    mode="out-in">
                            <span :key="currentPrice"
                                  :class="$style.priceValue">
                                {{ currentPrice|splitThousands }}
                                <span class="rub">&#8381;</span>
                            </span>
                        </transition>
                    </div>

                    <VSwitch v-if="lot.furnishPrice"
                             v-model="facing"
                             :reverse="$device.isMobile"
                             :class="$style.switch">
                        <template #trueLabel>
                            С отделкой
                        </template>
                    </VSwitch>
                </div>
            </div>

            <div :class="$style.controls">
                <VButton :class="$style.bookBtn"
                         @click="onBookClick">
                    Забронировать
                </VButton>

                <VHeartButton
                    :class="$style.favorite"
                    :active="isInFavorite"
                    size="large"
                    @click="onFavoriteClick"
                />

                <VButton :class="$style.callbackBtn"
                         color="vice"
                         @click="onCallbackClick">
                    Позвоните мне
                </VButton>

                <VCircleButton :class="$style.print"
                               :href="`/pdf/flat/print/${$route.params.id}/?format=a4`"
                               blank
                               size="large"
                               @click="onPdfClick">
                    <IconPrint class="frame-icon is-medium" />
                </VCircleButton>

                <div :class="$style.shareWrapper">
                    <transition name="fade"
                                appear>
                        <ShareTooltip
                            v-if="isVisibleTooltip"
                            :url="originURL"
                        />
                    </transition>
                    <VCircleButton :class="$style.share"
                                   link=""
                                   size="large"
                                   @click="onShareClick">
                        <IconShare class="frame-icon is-default" />
                    </VCircleButton>
                </div>
            </div>

            <div v-if="lot.minMortgage"
                 :class="[$style.mortgage, $style._vice]">
                <p :class="$style.banks">
                    <span v-if="lot.bankLogo1"
                          :class="$style.bankLogo"
                          :style="{backgroundImage: `url(${lot.bankLogo1})`}">
                    </span>
                    <span v-if="lot.bankLogo2"
                          :class="$style.bankLogo"
                          :style="{backgroundImage: `url(${lot.bankLogo2})`}">
                    </span>
                </p>
                <p :class="$style.mortgageText">
                    <span>В ипотеку</span>
                    <span :class="$style.mortgageValue">
                        от {{ lot.minMortgage|splitThousands }}
                        <span class="rub">&#8381;</span>/мес
                    </span>
                </p>

                <IconArrowLeft
                    class="frame-icon"
                    :class="$style.mortgageArrow"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapGetters, mapActions} from 'vuex';
    import {prettyCompletion, monthByNumber} from '../../../assets/js/utils/commonUtils';

    /* components */
    import VTag from '../../ui/tag/VTag';
    import VSwitch from '../../ui/switch/VSwitch';
    import VButton from '../../ui/button/VButton';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconPrint from '../../icons/IconPrint';
    import IconShare from '../../icons/IconShare';
    import IconArrowLeft from '../../icons/IconArrowLeft';
    import VScrollBox from '../../ui/scrollbox/VScrollBox';
    import RequestFormModal from '../../layout/modals/RequestFormModal';
    import CallbackForm from '../forms/CallbackForm';
    import ReservationForm from '../forms/BookedForm';
    import ShareTooltip from '../ShareTooltip';
    import IconFacing from '../../icons/IconFacing';
    import IconCar from '../../icons/IconCar';
    import IconSale from '../../icons/IconSale';
    import VHeartButton from '../../ui/button/VHeartButton';

    export default {
        name: 'LotHeroAside',

        components: {
            VHeartButton,
            IconSale,
            IconCar,
            IconFacing,
            ShareTooltip,
            VScrollBox,
            IconArrowLeft,
            IconShare,
            IconPrint,
            VCircleButton,
            VButton,
            VSwitch,
            VTag,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },
        },

        data() {
            return {
                originURL: null,
                isVisibleTooltip: false,
                facing: false,
                firstBank: '/images/project/sber.svg',
                secondBank: '/images/project/vtb.svg',
            };
        },

        computed: {
            ...mapState('favorites', [
                'favorites',
            ]),

            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            isInFavorite() {
                return this.favorites.includes(this.lot.id);
            },

            projectName() {
                return this.lot.project?.name ? this.lot.project.name : '';
            },

            projectUrl() {
                return this.lot.project?.slug ? `/projects/${this.lot.project.slug}` : '';
            },

            buildingName() {
                return this.lot.building?.nameDisplay ? this.lot.building.nameDisplay : '';
            },

            floorNumber() {
                return this.lot.floor?.number ? this.lot.floor.number : '';
            },

            totalFloors() {
                return this.lot?.buildingTotalFloor ? `/ ${this.lot.buildingTotalFloor}` : '';
            },

            completion() {
                return this.lot.building?.readyQuarter && this.lot.building?.builtYear ? prettyCompletion(this.lot.building.readyQuarter, this.lot.building.builtYear) : '';
            },

            progress() {
                return this.lot.building?.currentLevel ? this.lot.building.currentLevel : 0;
            },

            lotDefaultPlan() {
                return this.lot.plan ? this.lot.plan : '/images/flat/flat-placeholder.svg';
            },

            lotTitle() {
                let title;
                switch (this.realtyType) {
                    case 'flat':
                        title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-ком.`;
                        break;
                    case 'parking':
                        title = 'Паркинг';
                        break;
                    default:
                        title = 'Помещение';
                }
                title += ` ${this.lot.area ? this.lot.area.toLocaleString() : ''} м<sup>2</sup>`;

                return title;
            },

            saleValue() {
                if (this.lot.originalPrice === null) {
                    return null;
                }

                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },

            currentPrice() {
                return this.facing ? this.lot.furnishPrice : this.lot.price;
            },

            colorClass() {
                return this.lot.project?.city?.color ? [this.$style[`_${this.cityClass(this.lot.project.city?.color)}`]] : [this.$style['_vice']];
            },


            promoEnd() {
                if (!this.lot.promoEnd) {
                    return '';
                }
                const now = new Date();
                const promo = new Date(this.lot.promoEnd);
                return now.toISOString() < this.lot.promoEnd
                    ? `акция до ${promo.getDate()} ${monthByNumber(promo.getMonth(), 'short')}`
                    : '';
            },

            labelIcon() {
                if (this.saleValue) {
                    return 'IconSale';
                }
                if (this.lot.hasParking) {
                    return 'IconCar';
                }

                if (this.lot.facing) {
                    return 'IconFacing';
                }

                return false;
            },

            tags() {
                const tags = [];
                if (this.lot.hasParking) {
                    tags.push('Паркинг в подарок');
                }
                if (this.lot.facing) {
                    tags.push('Отделка в подарок');
                }

                if (this.promoEnd && this.saleValue) {
                    tags.push(this.promoEnd);
                }
                return tags;
            },
        },

        mounted() {
            this.originURL = window.location.href;
        },

        methods: {
            ...mapActions('favorites', [
                'changeFavoriteState',
            ]),

            onBookClick() {
                const yandexMetrika = this.realtyType === 'commercial' ? 'lead-bookingcomm' : 'lead-booking';
                this.$modal.open(RequestFormModal, {
                    title: 'Заявка на бронирование',
                    subtitle: 'Проконсультируем в течение часа',
                    form: ReservationForm,
                    yandexMetrika: yandexMetrika,
                    id: this.lot.id,
                    obj: {
                        projectSlug: this.lot.project?.slug ? this.lot.project.slug : '',
                        propertyType: this.lot.type,
                    },
                });
            },

            onFavoriteClick() {
                this.changeFavoriteState(this.lot.id);
            },

            onCallbackClick() {
                this.$modal.open(RequestFormModal, {
                    title: 'Обратный звонок',
                    subtitle: 'Проконсультируем в течение часа',
                    form: CallbackForm,
                    yandexMetrika: 'lead-callback',
                    id: this.lot.id,
                });
            },

            onShareClick() {
                if (this.$device.isDesktop) {
                    this.isVisibleTooltip = !this.isVisibleTooltip;
                } else {
                    const shareData = {
                        title: this.lotTitle,
                        url: window.location.href,
                    };

                    if (navigator.share !== undefined) {
                        navigator.share(shareData);
                    }
                }
            },

            onPdfClick() {
                this.$yandexMetrika.reachGoal('pdf');
            }
        },
    };
</script>

<style lang="scss" module>
    .LotHeroAside {
        flex-shrink: 0;
        width: 36rem;
        padding: 5.7rem 0 5.7rem 5.6rem;
        border-left: 1px solid $base-100;

        @include respond-to(sm) {
            width: auto;
            padding: $side-padding-tablet;
            margin: 0 -#{$side-padding-tablet};
            border-left: none;
            border-top: 1px solid $base-100;
        }

        @include respond-to(xs) {
            padding: 24px $side-padding-mobile 40px;
            margin: 0 -#{$side-padding-mobile};
        }
    }

    .title {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin-top: .8rem;
        font-size: 4rem;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -.1rem;

        @include respond-to(sm) {
            font-size: 32px;
            line-height: 1.24;
        }

        sup {
            top: -.6em;
            font-size: 60%;
        }

        @include respond-to(xs) {
            display: block;
            margin-top: 4px;
            font-size: 20px;
            line-height: 1.4;
        }

        &._small {
            @include respond-to-min(md) {
                font-size: 3.2rem;
                line-height: 1.24;
                white-space: nowrap;
            }
        }
    }

    .saleIcon {
        position: absolute;
        bottom: calc(100% - .4rem);
        left: calc(100% - .4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: linear-gradient(0deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        color: $milk;

        @include respond-to(sm) {
            bottom: calc(100% - 1.2rem);
            left: calc(100% + 1.2rem);
        }

        @include respond-to(xs) {
            left: auto;
            right: 0;
            bottom: auto;
            top: 0;
            width: 32px;
            height: 32px;
            transform: translateY(-50%);
        }

        &:before {
            content: '';
            position: absolute;
            top: -.8rem;
            right: -.8rem;
            z-index: -1;
            width: 12rem;
            height: 6rem;
            box-sizing: border-box;
            border-radius: 4rem;
            transform: rotate(-30deg);
            transform-origin: 77% 50%;
            background: linear-gradient(-90deg, rgba($base-100, .64) 0%, rgba($base-100, 0) 100%);

            @include respond-to(xs) {
                content: none;
            }
        }
    }

    .tag {
        margin-top: .8rem;

        @include respond-to(xs) {
            margin-top: 32px;
        }
    }

    .scrollBox {
        margin-top: .4rem;
        margin-right: calc(((100% * 4) - #{$container-width-desktop}) / 2);

        @include respond-to(sm) {
            margin-right: -40px;
        }

        @include respond-to(xs) {
            margin-right: -16px;
        }
    }

    .promo {
        display: flex;
    }

    .promoTag {
        flex-shrink: 0;
        margin-right: .4rem;
    }

    .info {
        margin-top: 3rem;

        @include respond-to(sm) {
            display: flex;
            align-items: flex-start;
            width: 518px;
            margin-top: 40px;
        }

        @include respond-to(xs) {
            flex-direction: column;
            width: 100%;
            margin-top: 24px;
        }
    }

    .box {
        margin-bottom: 2.4rem;

        @include respond-to(sm) {
            width: 190px;
            margin-bottom: 0;
        }

        @include respond-to(xs) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    .cell {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.16;
        font-weight: 500;
        color: $base-500;

        &:first-child {
            margin-bottom: 2.4rem;

            @include respond-to(sm) {
                margin-bottom: 12px;
            }

            @include respond-to(xs) {
                margin-bottom: 0;
            }
        }

        &._vice {
            color: $vice;
        }

        &._redline {
            color: $redline;
        }

        &._moxxy {
            color: $moxxy;
        }
    }

    .progress {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.16;
        font-weight: 500;
        color: $base-500;

        @include respond-to(sm) {
            flex-wrap: wrap;
            width: 132px;
            white-space: nowrap;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }

    .progressWrap {
        position: relative;
        width: 11.2rem;
        height: 4px;
        margin-left: 1.6rem;
        border-radius: 4px;
        background-color: $base-100;

        @include respond-to(sm) {
            order: 1;
            width: 96px;
            margin-left: 8px;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-left: 0;
        }
    }

    .progressLine {
        position: absolute;
        height: 100%;
        border-radius: 4px;
        background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
    }

    .progressValue {
        margin-left: 1.6rem;

        @include respond-to(sm) {
            margin-left: 0;
        }

        @include respond-to(xs) {
            margin-left: auto;
            margin-bottom: 12px;
        }
    }

    .footer {
        @include respond-to(sm) {
            display: flex;
            align-items: center;
            margin-top: 40px;
        }

        @include respond-to(xs) {
            display: block;
            margin-top: 32px;
        }
    }

    .price {
        margin-top: 3.2rem;

        @include respond-to(sm) {
            margin-top: 0;
        }
    }

    .priceHeader {
        display: flex;
        align-items: center;
    }

    .oldPrice {
        position: relative;
        font-size: 1.6rem;
        line-height: 1;
        padding-top: .2rem;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: translate3d(0, -50%, 0);
        }
    }

    .saleValue {
        position: relative;
        padding: .2rem 0 0 .4rem;
        margin-left: .8rem;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
        background-color: rgba($primary-100, .56);
        color: $redline;
        font-size: 1.4rem;
        line-height: 1.6rem;

        &:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba($primary-100, .56);
            border-radius: .4rem;
            transform: translate(-50%, -50%) rotate(135deg);
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }

    .priceInner {
        display: flex;
        align-items: center;
        height: 2.6rem;

        @include respond-to(xs) {
            justify-content: space-between;
        }
    }

    .priceWrap {
        display: flex;
        position: relative;
        height: 100%;
        line-height: 1.32;
        flex: 1;
    }

    .priceValue {
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.32;
        font-weight: 500;
        color: $base-500;
    }

    .switch {
        height: 100%;
        margin-left: 1.8rem;

        :global(.v-switch__label) {
            line-height: normal;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .bookBtn {
        width: 23.9rem;
        margin-bottom: 1.2rem;
    }

    .callbackBtn {
        width: 17.6rem;
    }

    .favorite {
        margin-left: .7rem;
        margin-bottom: 1.2rem;
    }

    .shareWrapper {
        position: relative;
        z-index: 2;
    }

    .print,
    .share {
        margin-left: .7rem;
    }

    .mortgage {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 3.2rem;

        @include respond-to(sm) {
            margin-top: 0;
            margin-left: 70px;
        }

        @include respond-to(xs) {
            margin-left: 0;
            margin-top: 8px;
            padding-top: 16px;
            border-top: 1px solid $base-100;
        }

        &._vice {
            color: $vice;

            .mortgageValue {
                color: $vice;
            }
        }

        &._redline {
            color: $redline;

            .mortgageValue {
                color: $redline;
            }
        }

        &._moxxy {
            color: $moxxy;

            .mortgageValue {
                color: $moxxy;
            }
        }
    }

    .completion {
        @include respond-to(sm) {
            margin-bottom: 12px;
        }
    }

    .banks {
        display: flex;
        margin-right: 1.2rem;
        margin-left: -.4rem;
    }

    .bankLogo {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        border: .4rem solid $base-50;
        background-color: $base-50;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        backface-visibility: hidden;

        @include respond-to(xs) {
            width: 36px;
            height: 36px;
        }

        &:first-child {
            position: relative;
            z-index: 2;
            margin-right: -2.4rem;

            @include respond-to(xs) {
                margin-right: -12px;
            }
        }
    }

    .mortgageArrow {
        flex-shrink: 0;

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(xs) {
            display: inline-flex;
            margin-left: auto;
        }
    }

    .mortgageText {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.52;
        color: $base-500;

        @include respond-to(xs) {
            display: flex;
            flex-direction: column;
        }
    }
</style>
