<template>
    <section :class="$style.ProjectsPage"
             class="page-top">
        <div :class="$style.header"
             class="container">
            <MainSelect
                :class="$style.wrapper"
                :value="values.city"
                title="Проекты"
                :options="[{value: '', label: 'во всех городаx'}, ...specs.city]"
                @change="onValuesChange({city: $event})"
            />

            <VTabs :class="$style.tabs"
                   :rounded="$mq === 'xs'">
                <VTab :class="$style.tab"
                      :disabled="!facets.countResidential"
                      :active="values.kind === 'residential'"
                      @click="onValuesChange({kind: 'residential'})">
                    <span :class="$style.tabValue">
                        Жилые
                        <span v-if="facets.countResidential"
                              :class="$style.count">
                            {{ facets.countResidential }}
                        </span>
                    </span>
                </VTab>
                <VTab :class="$style.tab"
                      :disabled="!facets.countCommercial"
                      :active="values.kind === 'commercial'"
                      @click="onValuesChange({kind: 'commercial'})">
                    <span :class="$style.tabValue">
                        Коммерческие
                        <span v-if="facets.countCommercial && values.city"
                              :class="$style.count">
                            {{ facets.countCommercial }}
                        </span>
                    </span>
                </VTab>
            </VTabs>
        </div>
        <div :class="$style.body">
            <div v-if="list.length"
                 :class="[$style.content, {[$style._reloading]: isReloading}]">
                <div v-for="item in list"
                     :key="item.id"
                     :class="[$style.card, {[$style._more]: item.type === 'more'}]">
                    <MoreCard v-if="item.type === 'more'"
                              :class="$style.more"
                              @click="onMoreClick">
                        <template #icon>
                            <component
                                :is="currentKind === 'residential' || !values.city ? 'IconPinLarge' : 'IconCommercial'"
                                class="frame-icon is-large"
                            />
                        </template>
                        <template #label>
                            <span v-if="currentKind === 'residential' || !values.city">
                                Смотреть на карте
                            </span>
                            <span v-else>
                                Открыть страницу города
                            </span>
                        </template>
                    </MoreCard>
                    <PromoCard
                        v-else-if="item.type === 'promo'"
                        :card="item"
                    />

                    <CommercialCityCard
                        v-else-if="item.type === 'city'"
                        :city="item"
                    />

                    <ProjectCard
                        v-else
                        :project="item"
                        apply-project-class
                        :kind="currentKind"
                    />
                </div>
            </div>
        </div>
        <Callback />
    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import {convertToObject} from '../../assets/js/utils/commonUtils';
    import {applyQuery} from '../../assets/js/utils/queryUtils';

    /* queries */
    import allGlobalProjects from '../../queries/projects/allGlobalProjects.graphql';
    import allProjectsFacets from '../../queries/projects/allProjectsFacets.graphql';
    import allGlobalProjectsSpecs from '../../queries/projects/allGlobalProjectsSpecs.graphql';
    import allPromo from '../../queries/projects/allPromo.graphql';

    /* components */
    import IconPinLarge from '../../components/icons/IconPinLarge';
    import VTabs from '../../components/ui/tabs/VTabs';
    import VTab from '../../components/ui/tabs/VTab';
    import ProjectCard from '../../components/common/ProjectCard';
    import MoreCard from '../../components/common/MoreCard';
    import Callback from '../../components/common/callback/Callback';
    import PromoCard from '../../components/common/promo/PromoCard';
    import MapModal from '../../components/layout/modals/MapModal';
    import CommercialCityCard from '@/components/pages/commercial/CommercialCityCard';
    import MainSelect from '../../components/common/MainSelect';
    import IconCommercial from '../../components/icons/IconCommercial';

    const defaultValues = {
        kind: 'residential',
        city: '',
    };

    export default {
        name: 'ProjectsPage',

        components: {
            IconCommercial,
            MainSelect,
            CommercialCityCard,
            PromoCard,
            Callback,
            MoreCard,
            ProjectCard,
            VTab,
            VTabs,
            IconPinLarge,
        },

        async asyncData({$axios, store, query}) {
            try {
                const initialValues = applyQuery(defaultValues, query);

                const activeCityId = store.getters.getActiveCityId;
                const specsRes = await $axios.$post('/graphql/', {
                    query: allGlobalProjectsSpecs.loc.source.body,
                });

                const specs = {...convertToObject(specsRes.data.allGlobalProjectsSpecs)};
                let projects;

                if (initialValues.city === 'all' && initialValues.kind === 'commercial') {
                    initialValues.city = '';
                    projects = store.state.cities
                        .map(city => ({...city, type: 'city'}))
                        .filter(city => city.isCommercial);
                } else {
                    if (!initialValues.city) {
                        initialValues.city = specs.city.map(item => item.value).includes(activeCityId) ? activeCityId : '';
                    } else if (initialValues.city === 'all') {
                        initialValues.city = '';
                    }

                    const {data} = await $axios.$post('/graphql/', {
                        query: allGlobalProjects.loc.source.body,
                        variables: {
                            city: initialValues.city ? initialValues.city : null,
                            kind: initialValues.kind,
                        },
                    });

                    projects = data?.allGlobalProjects?.edges?.length
                        ? data.allGlobalProjects.edges.map(item => item.node)
                        : [];
                }


                const [allProjectsFacetsRes, allPromoRes] = await Promise.all([

                    $axios.$post('/graphql/', {
                        query: allProjectsFacets.loc.source.body,
                        variables: {
                            city: initialValues.city ? initialValues.city : null,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allPromo.loc.source.body,
                        variables: {
                            ...{
                                type: ['action'],
                                first: 3,
                            },
                            ...initialValues,
                        },
                    }),
                ]);

                return {
                    specs: specs,
                    projects: projects,
                    facets: allProjectsFacetsRes?.data?.allGlobalProjectsFacets
                        ? allProjectsFacetsRes.data.allGlobalProjectsFacets
                        : {},
                    promo: allPromoRes?.data?.allNews.edges.length
                        ? allPromoRes.data.allNews.edges.map(item => item.node)
                        : [],

                    values: {...initialValues},
                    currentKind: initialValues.kind,
                };
            } catch (e) {
                console.log('ProjectPage/async', e);
            }
        },

        data() {
            return {
                isReloading: true,
                currentKind: 'residential',

                list: [],
                projects: [],
                facets: {},
                specs: {},
                promo: [],
                city: [],
                values: {...defaultValues},

                // карта
                mapCities: [],
            };
        },

        head() {
            return {
                title: `Проекты «Страна Девелопмент»${this.currentCity ? ` в г.${this.currentCity.name} ` : ''}— квартиры в ЖК`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `Каталог проектов «Страна Девелопмент». Квартиры в новостройках от застройщика${this.currentCity ? ` в г.${this.currentCity.name}` : ''}. Цены на официальном сайте.`,
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            preparedPromo() {
                return this.promo.map(item => ({
                    ...item,
                    ...{type: 'promo'},
                }));
            },

            firstPromo() {
                return {...this.promo[0], ...{type: 'promo'}};
            },

            vars() {
                return this.values.city ? this.values : {city: 'all', kind: this.values.kind};
            },

            currentCity() {
                return this.$store.state.active_city;
            },
        },

        watch: {
            $mq: function() {
                this.prepareContent();
            },
        },

        async mounted() {
            await this.prepareContent();
            this.$nextTick(() => {
                this.isReloading = false;
            });
        },

        methods: {
            prepareContent() {
                this.list = this.projects.slice();
                let moreIndex = 1;

                switch (this.$mq) {
                    case 'xs':
                        moreIndex = 0;
                        break;
                    case 'sm':
                        if (this.projects.length % 2 === 0) {
                            this.list.push(this.firstPromo);
                        }
                        break;
                    case 'xl':
                        moreIndex = 3;
                        if (this.projects.length % 4 === 0) {
                            this.addPromo(3);
                        } else if (this.projects.length !== 3) {
                            if (this.projects.length % 2 === 0) {
                                this.addPromo(1);
                            } else {
                                this.addPromo(2);
                            }
                        }
                        break;
                    default:
                        moreIndex = 2;
                        if (this.projects.length === 1) {
                            this.list.push(this.firstPromo);
                            break;
                        }
                        if (this.projects.length % 3 === 0) {
                            this.addPromo(2);
                        } else if (this.projects.length !== 2 && (this.projects.length - 1) % 2 !== 0) {
                            this.addPromo(1);
                        }
                        break;
                }

                this.list.splice(moreIndex, 0, {type: 'more', id: 'more'});
            },

            addPromo(promoCount) {
                const count = promoCount < this.promo.length ? promoCount : this.promo.length;
                if (this.promo.length) {
                    for (let i = 0; i < count; i++) {
                        this.list.splice(Math.random() * 10, 0, this.preparedPromo[i]);
                    }
                }
            },

            async updatePromo() {
                try {
                    const {data} = await this.$axios.$post('/graphql/', {
                        query: allPromo.loc.source.body,
                        variables: {
                            ...{
                                type: ['action'],
                                first: 3,
                            },
                            ...this.values,
                        },
                    }, {
                        progress: false,
                    });

                    this.promo = data?.allNews.edges.length ? data.allNews.edges.map(item => item.node) : [];
                } catch (e) {
                    console.warn('projects/updatePromo: Не удалось получить промо акции');
                }
            },

            async updateProjects() {
                this.isReloading = true;
                const start = Date.now();
                const data = await this.fetchProjects();
                const stop = Date.now();

                if (stop - start < 400) {
                    setTimeout(() => {
                        this.projects = data;

                        this.$nextTick(() => {
                            this.prepareContent();
                            this.currentKind = this.values.kind;
                            this.isReloading = false;
                        });
                    }, 400 - (stop - start));
                } else {
                    this.projects = data;

                    this.$nextTick(() => {
                        this.prepareContent();
                        this.currentKind = this.values.kind;
                        this.isReloading = false;
                    });
                }
            },

            onValuesChange(val) {
                this.values = {...this.values, ...val};
                if (val.city || val.city === '') {
                    this.updatePromo();
                }
                this.updateProjects();
                this.fetchFacets({
                    city: this.values.city ? this.values.city : null,
                });
                this.updateQuery();
            },

            onMoreClick() {
                if (this.values.kind === 'commercial' && Boolean(this.values.city)) {
                    this.$router.push({
                        name: 'commercial',
                        query: {city: this.values.city},
                    });
                } else {
                    this.$modal.open(MapModal, {
                        cities: this.cities,
                        filteredCity: this.values.city,
                        projectKind: this.values.kind,
                    });
                }
            },

            async fetchProjects() {
                try {
                    if (this.values.kind === 'commercial' && !this.values.city) {
                        return this.cities.map(city => ({
                            ...city,
                            type: 'city',
                        })).filter(city => city.isCommercial);
                    }

                    const {data} = await this.$axios.$post('/graphql/', {
                        query: allGlobalProjects.loc.source.body,
                        variables: {
                            kind: this.values.kind,
                            city: this.values.city ? this.values.city : null,
                        },
                    }, {
                        progress: false,
                    });

                    return data.allGlobalProjects?.edges?.length
                        ? data.allGlobalProjects.edges.map(item => item.node)
                        : [];
                } catch (e) {
                    console.warn('projects/fetchProjects: Не удалось получить список проектов');
                }
            },

            async fetchFacets() {
                try {
                    const res = await this.$axios.$post('/graphql/', {
                        query: allProjectsFacets.loc.source.body,
                        variables: {
                            city: this.values.city ? this.values.city : null,
                        },
                    }, {
                        progress: false,
                    });

                    this.facets = res?.data?.allGlobalProjectsFacets ? res.data.allGlobalProjectsFacets : {};
                } catch (e) {
                    console.warn('projects/fetchFacets: Не удалось получить фасеты списка проектов');
                }
            },

            updateQuery() {
                this.$router.replace({
                    query: this.vars,
                }).catch(err => {
                    console.log(err);
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectsPage {
        //
    }

    .header {
        padding-top: 8rem;
        padding-bottom: 8rem;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            display: block;
            padding-top: 24px;
            padding-bottom: 0;
        }
    }

    .wrapper {
        margin-bottom: 3.2rem;

        @include respond-to(xs) {
            margin-bottom: 24px;
        }
    }

    .tabs {
        @include respond-to(xs) {
            margin: 0 -#{$side-padding-mobile};
        }
    }

    .tab {
        &:global(._active) {
            .count {
                border-color: $base-300;
            }
        }
    }

    .tabValue {
        position: relative;
        line-height: 1;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -1px;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 1px solid $base-100;
            transform: translate3d(0, -55%, 0);
        }
    }

    .count {
        position: relative;
        display: inline-block;
        width: 2rem;
        text-align: center;
        vertical-align: middle;
        transition: background-color $default-transition;
    }

    .body {
        overflow: hidden;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        margin: -1px;
        transition: opacity $default-transition, transform $default-transition;

        &._reloading {
            opacity: 0;
            transform: translateY(64px);
            pointer-events: none;
        }
    }

    .card {
        position: relative;
        display: flex;
        width: 25%;
        min-height: 56rem;
        border-right: 1px solid $base-100;

        &:not(._more) {
            outline: 1px solid $base-100;
        }

        @include respond-to(lg) {
            width: 33.333333%;
        }

        @include respond-to(sm) {
            width: 50%;
            min-height: 49rem;
        }

        @include respond-to(xs) {
            width: 100%;
            min-height: 256px;
            border-right: none;

            &._more {
                position: relative;

                @include aspect-ratio(320, 256);
            }
        }
    }

    .more {
        @include respond-to(xs) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
</style>
