<template>
    <section :class="[$style.NewsInner, classes]"
             class="page-top">
        <div :class="$style.container"
             class="container">
            <div :class="$style.backWrapper">
                <VBackLink
                    link="/mass-media/?type=news"
                    :is-back="isDisplayBack"
                    :class="$style.back"
                />
            </div>

            <div :class="$style.content"
                 class="container-small">
                <CardTags
                    v-if="card.projects && card.projects.length"
                    :class="$style.tags"
                    :tags="card.projects"
                    :click-more="true"
                    outline
                />
                <h1 class="h3">
                    <span :class="$style.accent"
                          v-html="card.accent">
                    </span>
                    <span :class="$style.intro"
                          class="c-base"
                          v-html="card.intro">
                    </span>
                </h1>

                <p v-if="date"
                   :class="$style.date"
                   class="p3">
                    {{ date }}
                </p>

                <div v-if="card.imageDisplay"
                     :class="$style.image">
                    <ImageLazy
                        :image="card.imageDisplay"
                        :preview="card.imagePreview"
                        absolute
                    />
                </div>

                <div v-if="card.subtitle"
                     :class="$style.subtitle"
                     v-html="card.subtitle">
                </div>

                <div v-if="card.text"
                     :class="$style.description"
                     v-html="card.text">
                </div>

                <Share
                    :class="$style.share"
                    :full-url="fullURL"
                    :title="card.title"
                />
            </div>
        </div>

        <article v-if="card.anotherNews.length"
                 :class="$style.otherPromo">
            <h2 :class="$style.title"
                class="container">
                Другие новости
            </h2>
            <div :class="$style.list">
                <div :class="$style.card">
                    <FormCard
                        type="subscribe"
                    />
                </div>
                <div v-for="item in card.anotherNews"
                     :key="item.id"
                     :class="$style.card">
                    <MediaCard
                        :card="item"
                        type="news"
                        is-link
                    />
                </div>
            </div>
        </article>

        <Callback />
    </section>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {monthByNumber} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import newsPage from '../../../queries/news/newsPage.graphql';

    /* components */
    import CardTags from '../../../components/common/CardTags';
    import VBackLink from '../../../components/ui/link/VBackLink';
    import ImageLazy from '../../../components/common/ImageLazy';
    import Share from '../../../components/common/Share';
    import MediaCard from '../../../components/common/MediaCard';
    import FormCard from '../../../components/common/form/FormCard';
    import Callback from '../../../components/common/callback/Callback';

    export default {
        name: 'NewsInner',

        components: {
            Callback,
            FormCard,
            MediaCard,
            Share,
            ImageLazy,
            VBackLink,
            CardTags,
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.isDisplayBack = Boolean(from.name);
            });
        },

        async asyncData({app, params}) {
            const newsPageRes = await app.$axios.$post('/graphql/', {
                query: newsPage.loc.source.body,
                variables: {
                    slug: params.slug
                }
            });

            return {
                card: newsPageRes?.data?.news,
            };
        },

        data() {
            return {
                isDisplayBack: false,
                originURL: null,
                card: {},
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            classes() {
                return this.$style[`_${this.cityClass()}`];
            },

            date() {
                if (this.card.date || this.card.start) {
                    const date = new Date(this.card.date || this.card.start);
                    return `${date.getDate()} ${monthByNumber(date.getMonth(), 'case')} ${date.getFullYear()}`;
                }

                return null;
            },

            fullURL() {
                return this.originURL ? `${this.originURL}${this.card.slug}` : '';
            },
        },

        mounted() {
            this.setHeaderColor('gray');
            this.originURL = location.origin;
        },

        beforeDestroy() {
            this.setHeaderColor('milk');
        },

        methods: {
            ...mapActions('header', [
                'setHeaderColor',
            ]),
        },
    };
</script>

<style lang="scss" module>
    .NewsInner {
        background-color: $base-50;

        &._vice {
            .accent {
                color: $vice;
            }

            .intro {
                display: inline;

                & > span {
                    color: $vice;
                }
            }
        }

        &._redline {
            .accent {
                color: $redline;
            }

            .intro {
                display: inline;

                & > span {
                    color: $redline;
                }
            }
        }

        &._moxxy {
            .accent {
                color: $moxxy;
            }

            .intro {
                display: inline;

                & > span {
                    color: $moxxy;
                }
            }
        }
    }

    .container {
        position: relative;
    }

    .backWrapper {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;

        @include respond-to(sm) {
            left: 40px;
        }

        @include respond-to(xs) {
            position: static;
            height: auto;
            margin-top: 16px;
        }
    }

    .content {
        padding-top: 8rem;
        margin-bottom: 8rem;

        @include respond-to(sm) {
            padding-top: 40px;
            margin-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 12px;
            margin-bottom: 40px;
        }
    }

    .tags {
        margin-bottom: 4rem;

        @include respond-to(sm) {
            margin-bottom: 24px;
        }

        @include respond-to(xs) {
            margin-bottom: 12px;
        }
    }

    .accent {
        &._vice {
            color: $vice;
        }

        &._moxxy {
            color: $moxxy;
        }

        &._redline {
            color: $redline;
        }
    }

    .date {
        margin-top: 2.2rem;
        color: rgba($base-500, .64);
        text-transform: lowercase;

        @include respond-to(sm) {
            margin-top: 16px;
        }

        @include respond-to(xs) {
            margin-top: 12px;
        }
    }

    .image {
        position: relative;
        margin-top: 5.6rem;

        @include aspect-ratio(776, 432);

        @include respond-to(sm) {
            margin-top: 40px;
            margin-left: -155px;
            margin-right: -40px;

            @include aspect-ratio(768, 432);
        }

        @include respond-to(xs) {
            margin: 24px -#{$side-padding-mobile} 0;

            @include aspect-ratio(320, 200);
        }
    }

    .subtitle {
        margin-top: 5.6rem;
        font-size: 2rem;
        line-height: 1.4;
        font-weight: 500;
        color: $base-400;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 32px;
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .description {
        margin-top: 2.4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }

        p:not(:last-child) {
            margin-bottom: 1.6rem;
        }

        & ul {
            list-style: disc;
            padding-left: 4rem;
            margin-bottom: 2rem;

            & li {
                list-style: disc;
            }
        }
    }

    .share {
        margin-top: 5.6rem;

        @include respond-to(sm) {
            margin-top: 46px;
        }

        @include respond-to(xs) {
            margin-top: 32px;
        }
    }

    .title {
        padding-top: 8.6rem;
        padding-bottom: 8.2rem;
        font-size: 4rem;
        line-height: 1;
        font-weight: 500;
        letter-spacing: -.1rem;
        color: $base-500;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 32px;
            line-height: 1.24;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 20px;
            line-height: 1.4;
        }
    }

    .otherPromo {
        background-color: $milk;
    }

    .wrapper {
        overflow: hidden;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        // margin: -1px;
    }

    .card {
        position: relative;
        display: flex;
        width: 25%;
        min-height: 56rem;
        outline: 1px solid $base-100;

        @include respond-to(lg) {
            width: 33.333333%;
        }

        @include respond-to(sm) {
            width: 50%;
            min-height: 490px;
        }

        @include respond-to(xs) {
            width: 100%;
            min-height: 436px;
        }
    }
</style>
