<template>
    <section :class="[$style.Decoration, classes]">
        <div id="decoration"
             class="anchor-project">
        </div>
        <div :class="[$style.sliderWrapper, {[$style._reloading]: isReloading}]">
            <div ref="slider"
                 :class="$style.slider"
                 class="swiper-container">
                <div ref="container"
                     class="swiper-wrapper">
                    <div v-for="slide of slides"
                         :key="slide.id"
                         class="swiper-slide"
                         :class="$style.slide">
                        <DecorationSlide
                            :image="slide[displayImageField]"
                            :preview="slide[previewImageField]"
                            :points="slide.pointSet"
                            @load="isReloading = false"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div :class="$style.container"
             class="container">
            <h2 class="h3 c-milk"
                :class="$style.title">
                Отделка
            </h2>
            <div :class="$style.footer">
                <VTabs :class="$style.tabs">
                    <VTab v-for="tab in tabs"
                          :key="tab.id"
                          :class="$style.tab"
                          :active="activeId === tab.id"
                          @click="handleTabClick(tab.id)">
                        {{ tab.label }}
                    </VTab>
                </VTabs>

                <!--controls-->
                <div :class="$style.controls">
                    <GalleryFraction
                        :class="$style.fraction"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                        color="inverse"
                    />

                    <div :class="$style.pagination">
                        <div ref="pagination"
                             class="swiper-pagination is-inverse swiper-pagination-progressbar">
                        </div>
                    </div>

                    <div :class="$style.buttons">
                        <VCircleButton ref="prev"
                                       :class="[$style.controlBtn, $style._prev]"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>

                        <VCircleButton ref="next"
                                       :class="[$style.controlBtn, $style._next]"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>
                </div>

                <VButton v-if="vrLink"
                         :class="$style.btn"
                         color="milk"
                         @click="onOpenVr">
                    Открыть VR-тур
                </VButton>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import GalleryFraction from '../gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRight from '../../icons/IconArrowRight';
    import DecorationSlide from './DecorationSlide';
    import VButton from '../../ui/button/VButton';
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import IframeModal from '../../layout/modals/IframeModal';

    export default {
        name: 'Decoration',

        components: {
            VTab,
            VTabs,
            VButton,
            DecorationSlide,
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
        },

        props: {
            page: {
                type: String,
                default: '',
            },

            items: {
                type: Array,
                default: () => [],
            },

            displayImageField: {
                type: String,
                default: 'fileDisplay',
            },

            previewImageField: {
                type: String,
                default: 'filePreview',
            },
        },

        data() {
            return {
                activeId: null,
                slider: null,
                activeIndex: 0,
                isReloading: false,
            };
        },

        computed: {
            tabs() {
                return this.items.map(item => ({
                    id: item.id,
                    label: item.name,
                    value: item.imageSet?.length || '0',
                }));
            },

            slides() {
                if (this.activeId) {
                    return this.items.find(item => item.id === this.activeId)?.imageSet;
                }

                return [];
            },

            vrLink() {
                return this.activeId ? this.items.find(item => item.id === this.activeId)?.vrLink : '';
            },

            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },

            classes() {
                return {[this.$style[`_${this.page}`]]: this.page};
            },
        },

        watch: {
            slides() {
                if (this.slider) {
                    this.$nextTick(() => {
                        this.slider.update();
                        this.slider.slideTo(0, 0);
                    });
                }
            },
        },

        mounted() {
            if (this.items.length) {
                this.activeId = this.items[0]?.id;
            }

            this.$nextTick(() => {
                if (this.slides.length > 1) {
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[Decoration] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 1,
                    allowTouchMove: false,

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },

            handleTabClick(value) {
                this.isReloading = true;
                setTimeout(() => {
                    this.activeId = value;
                }, 300);
            },

            onOpenVr() {
                this.$yandexMetrika.reachGoal('VR-tour');
                this.$modal.open(IframeModal, {link: this.vrLink});
            },
        },
    };
</script>

<style lang="scss" module>
    .Decoration {
        position: relative;
        height: 100vh;
        min-height: 900px;

        @include respond-to(sm) {
            height: auto;

            @include aspect-ratio(768, 480);
        }

        &._project {
            height: calc(100vh - #{$sub-header-h});
            min-height: calc(900px - #{$sub-header-h});

            @include portrait {
                height: 50vh;
                min-height: auto;
            }

            @include respond-to(sm) {
                height: auto;
            }
        }

        &._lot {
            height: calc(100vh - #{$header-h});
            min-height: calc(900px - #{$header-h});

            @include portrait {
                height: 50vh;
                min-height: auto;
            }

            @include respond-to(sm) {
                height: auto;
            }
        }
    }

    .sliderWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s linear;

        &._reloading {
            opacity: 0;
        }

        @include respond-to(xs) {
            padding-top: 40px;
        }
    }

    .slider {
        height: 100%;
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        padding-bottom: 5.6rem;
        pointer-events: none;

        @include respond-to(sm) {
            padding-top: 48px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 88px;
            padding-bottom: 32px;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        margin-right: 4rem;
        margin-left: auto;
        pointer-events: all;

        @include respond-to(sm) {
            margin-right: 0;
            margin-left: 0;
        }

        @include respond-to(xs) {
            order: 1;
            margin-left: auto;
        }
    }

    .fraction {
        pointer-events: none;

        @include respond-to(xs) {
            display: none;
        }
    }

    .pagination {
        width: 21.2rem;
        margin-left: 2.4rem;
        pointer-events: none;

        @include respond-to(sm) {
            width: 100%;
            display: none;
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        width: 11.2rem;
        margin-left: 2.4rem;

        @include respond-to(sm) {
            margin-left: 16px;
        }

        @include respond-to(xs) {
            width: 72px;
            margin-left: 0;
        }
    }

    .controlBtn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    .btn {
        width: 20.5rem;
        pointer-events: all;

        @include respond-to(sm) {
            position: absolute;
            top: 40px;
            left: 40px;
        }

        @include respond-to(xs) {
            position: static;
            flex-shrink: 0;
            width: 200px;
        }
    }

    .tabs {
        width: 45.8rem;
        pointer-events: all;

        @include respond-to(sm) {
            margin-right: auto;
        }

        @include respond-to(xs) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
</style>
