<template>
    <div :class="$style.DecorationSlide">
        <div :class="$style.body">
            <div ref="wrapper"
                 :class="$style.wrapper"
                 :style="position">
                <div :class="$style.preview"
                     :style="previewStyle">
                    <img ref="image"
                         :src="image"
                         :class="[$style.origin, {[$style._loaded] : isLoaded}]"
                         @load="handleImageLoad">
                </div>

                <div v-for="point in cssPoints"
                     :key="point.id"
                     :class="$style.pinWrapper"
                     :style="{top: `${point.top}%`, left: `${point.left}%`, transform: `scale(${scaleValue})`}">
                    <VCircleButton :class="$style.pin"
                                   color="night-opacity"
                                   @mouseenter.native="handleMousePointHover(point.id)"
                                   @mouseleave.native="handleMousePointHover(null)">
                        <IconEye class="frame-icon" />
                    </VCircleButton>

                    <DecorationTooltip
                        :top="point.top"
                        :left="point.left"
                        :text="point.text"
                        :visible="point.id === activePointId"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconEye from '../../icons/IconEye';
    import DecorationTooltip from './DecorationTooltip';

    export default {
        name: 'DecorationSlide',

        components: {
            IconEye,
            VCircleButton,
            DecorationTooltip,
        },

        props: {
            image: {
                type: String,
                default: '',
            },

            preview: {
                type: String,
                default: '',
            },

            points: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                iw: 1,
                ih: 1,
                ww: 1,
                wh: 1,
                isLoaded: false,
                isTicking: false,
                activePointId: null,
            };
        },

        computed: {
            imageRatio() {
                return this.iw / this.ih;
            },

            windowRatio() {
                return this.ww / this.wh;
            },

            position() {
                if (this.$device.isMobile) {
                    return;
                }
                if (this.windowRatio > this.imageRatio) {
                    return {
                        width: this.iw + 'px',
                        height: this.ih + 'px',
                        transform: `scale(${this.ww / this.iw}) translate(0px, ${(this.wh - (this.ih * (this.ww / this.iw))) / 2}px)`,
                    };
                }
                return {
                    width: this.iw + 'px',
                    height: this.ih + 'px',
                    transform: `scale(${this.wh / this.ih}) translate(${(this.ww - (this.iw * this.wh / this.ih)) / 2}px, 0px)`,
                };
            },

            scaleValue() {
                return this.windowRatio > this.imageRatio ? this.iw / this.ww : this.ih / this.wh;
            },

            previewStyle() {
                return {backgroundImage: `url(${this.preview})`};
            },

            cssPoints() {
                return this.points.map(point => ({
                    id: point.id,
                    text: point.text,
                    left: point.point.split(',')[0].trim(),
                    top: point.point.split(',')[1].trim(),
                }));
            },
        },

        mounted() {
            this.imgEl = new Image();
            this.imgEl.addEventListener('load', this.handleImageLoad);
            this.imgEl.src = this.image;

            if (!this.$device.isMobile) {
                window.addEventListener('resize', this.handleResize);
            }
        },

        beforeDestroy() {
            this.imgEl.removeEventListener('load', this.handleImageLoad);

            if (!this.$device.isMobile) {
                window.removeEventListener('resize', this.handleResize);
            }
        },

        methods: {
            handleImageLoad() {
                const iw = this.$refs.image?.naturalWidth;
                const ih = this.$refs.image?.naturalHeight;
                const ww = this.$parent.$refs.container?.offsetWidth;
                const wh = this.$parent.$refs.container?.offsetHeight;

                this.iw = iw;
                this.ih = ih;
                this.ww = ww;
                this.wh = wh;

                this.$nextTick(() => {
                    this.isLoaded = true;
                    this.$emit('load');
                });
            },

            handleResize() {
                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateWindowSize);
                }
            },

            updateWindowSize() {
                this.wh = this.$parent.$refs.container.offsetHeight;
                this.ww = this.$parent.$refs.container.offsetWidth;
                this.isTicking = false;
            },

            handleMousePointHover(id) {
                this.activePointId = id;
            },
        },
    };
</script>

<style lang="scss" module>
    .DecorationSlide {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .body {
        position: relative;
        width: 100%;
        height: 100%;

        @include respond-to(xs) {
            display: flex;
            width: auto;
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

    .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;

        @include respond-to(xs) {
            position: relative;
            width: auto;
            height: 100%;
        }
    }

    .preview {
        width: auto;
        height: 100%;
    }

    .origin {
        display: block;
        opacity: 0;
        transition: opacity .26s linear;

        @include respond-to(xs) {
            width: auto;
            height: 100%;
        }

        &._loaded {
            opacity: 1;
        }
    }

    .pin {
        position: absolute;
        transform: translate(-2.4rem, -2.4rem);

        &:hover {
            &:before {
                background-color: rgba($base-500, .56);
            }
        }
    }

    .pinWrapper {
        position: absolute;
        left: -10000px;
        top: -10000px;

        &:hover {
            z-index: 2;
        }
    }
</style>
