<template>
    <div ref="tooltip"
         :style="styles"
         :class="[$style.DecorationTooltip, classes]"
         v-html="text">
    </div>
</template>

<script>
    export default {
        name: 'DecorationTooltip',

        props: {
            top: {
                type: [Number, String],
                default: 0
            },

            left: {
                type: [Number, String],
                default: 0
            },

            text: {
                type: String,
                default: '',
            },

            visible: Boolean
        },

        data() {
            return {
                topPos: 0,
            };
        },

        computed: {
            styles() {
                return {
                    transform: `${this.position} scale(${this.scale})`,
                };
            },

            classes() {
                return {
                    [this.$style['is-visible']]: this.visible,
                };
            },

            position() {
                if (!this.topPos) {
                    return;
                }

                const top = (this.topPos / 1000) * this.top * -1;
                if (this.top < 50) {
                    if (this.left < 50) {
                        return `translate(4.4rem, ${top}rem)`;
                    }

                    return `translate(-30.4rem, ${top}rem)`;
                }

                if (this.left < 50) {
                    return `translate(4.4rem, ${top}rem)`;
                }

                return `translate(-30.4rem, ${top}rem)`;
            },

            scale() {
                return this.visible ? 1 : 0.8;
            }
        },

        mounted() {
            this.topPos = this.$refs?.tooltip?.offsetHeight;
        },
    };
</script>

<style lang="scss" module>
    .DecorationTooltip {
        position: absolute;
        // left: -50%;
        width: 26.4rem;
        min-height: 9.6rem;
        padding: 2.4rem;
        color: $base-500;
        line-height: 1.52;
        border-radius: 1.6rem;
        background-color: $milk;
        box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .04), 0 0 .2rem rgba(0, 0, 0, .06), 0 0 .1rem rgba(0, 0, 0, .04);
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;

        &.is-visible {
            opacity: 1;
        }
    }
</style>
