<template>
    <AccordionItem :class="[$style.DecorationMobileItem, classes]"
                   @toggle="onToggle">
        <template #header>
            <h2 :class="$style.title"
                v-html="title">
            </h2>
        </template>
        <template #content>
            <div :class="$style.content">
                <div :class="$style.description"
                     class="text"
                     v-html="text">
                </div>
            </div>
        </template>
    </AccordionItem>
</template>

<script>
    /* components */
    import AccordionItem from '../AccordionItem';

    export default {
        name: 'DecorationMobileItem',

        components: {
            AccordionItem,
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            text: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                isOpen: false,
            };
        },

        computed: {
            classes() {
                return {[this.$style['is-open']]: this.isOpen};
            },
        },

        methods: {
            onToggle(val) {
                this.isOpen = val;
            },
        },
    };
</script>

<style lang="scss" module>
    .DecorationMobileItem {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 16px;
            top: 0;
            width: calc(100% - 32px);
            height: 1px;
            background-color: $base-100;
        }

        & :global(.accordion-item__header) {
            padding: 16px 0;
        }
    }

    .title {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.52;
        color: $base-500;
    }

    .description {
        margin-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
        color: $base-400;
    }
</style>
