<template>
    <section :class="$style.DecorationMobile">
        <div id="decoration"
             class="anchor-project">
        </div>
        <div :class="$style.header">
            <h2 :class="$style.title"
                class="c-base"
                v-html="title">
            </h2>
        </div>

        <VTabs :class="$style.tabs">
            <VTab v-for="tab in tabs"
                  :key="tab.id"
                  :class="$style.tab"
                  :active="activeTab === tab.id"
                  @click="onTabClick(tab.id)">
                {{ tab.label }}
            </VTab>
        </VTabs>

        <div ref="slider"
             :class="$style.slider"
             class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="item of slides"
                     :key="item.id"
                     class="swiper-slide"
                     :class="$style.slide">
                    <ImageLazy
                        :image="item.fileDisplay"
                        :preview="item.filePreview"
                        absolute
                    />
                </div>
            </div>
        </div>

        <div :class="$style.controls">
            <div :class="$style.buttons">
                <VCircleButton ref="prev"
                               color="milk"
                               :class="[$style.controlBtn, $style._prev]">
                    <IconArrowRight class="frame-icon" />
                </VCircleButton>

                <VCircleButton ref="next"
                               color="milk"
                               :class="[$style.controlBtn, $style._next]">
                    <IconArrowRight class="frame-icon" />
                </VCircleButton>
            </div>

            <div :class="$style.fraction">
                <GalleryFraction ref="pagination" />
            </div>

            <VCircleButton :class="$style.scaleBtn"
                           color="milk"
                           @click="handleOpenGallery">
                <IconScale class="frame-icon" />
            </VCircleButton>
        </div>

        <div :class="$style.buttonWrap">
            <VButton color="vice"
                     rounded
                     @click="onOpenVr">
                Открыть VR-тур
            </VButton>
        </div>

        <DecorationMobileItem
            v-for="item in list"
            :key="item.id"
            :title="item.title"
            :text="item.text"
        />
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {formatFraction, renderFraction} from '../../../assets/js/utils/swiperUtils';

    /* components */
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import ImageLazy from '../ImageLazy';
    import IconArrowRight from '../../icons/IconArrowRight';
    import GalleryFraction from '../gallery/GalleryFraction';
    import IconScale from '../../icons/IconScale';
    import VCircleButton from '../../ui/button/VCircleButton';
    import DecorationMobileItem from './DecorationMobileItem';
    import VButton from '../../ui/button/VButton';
    import GalleryModal from '../../layout/modals/GalleryModal';
    import IframeModal from '../../layout/modals/IframeModal';

    export default {
        name: 'DecorationMobile',

        components: {
            VCircleButton,
            IconScale,
            GalleryFraction,
            IconArrowRight,
            ImageLazy,
            VTab,
            VTabs,
            DecorationMobileItem,
            VButton,
        },

        props: {
            title: {
                type: String,
                default: 'Отделка',
            },

            items: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                activeTab: null,
                activeSlide: null,
                slider: null,
            };
        },

        computed: {
            tabs() {
                return this.items.map(item => ({
                    id: item.id,
                    label: item.name,
                    value: item.imageSet?.length || '0',
                }));
            },

            slides() {
                if (this.activeTab !== null) {
                    return this.items.find(item => item.id === this.activeTab)?.imageSet || [];
                }

                return [];
            },

            vrLink() {
                return this.activeTab ? this.items.find(item => item.id === this.activeTab)?.vrLink : '';
            },

            list() {
                if (this.activeSlide !== null) {
                    return this.slides[this.activeSlide]?.pointSet || [];
                }

                return [];
            },
        },

        watch: {
            slides() {
                this.$nextTick(() => {
                    if (this.slider) {
                        this.slider.update();
                        this.slider.slideTo(0);
                    }
                });
            },
        },

        mounted() {
            this.activeTab = this.tabs[0]?.id;
            this.activeSlide = 0;
            this.$nextTick(() => {
                if (this.slides.length) {
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[DecorationMobileItem] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 1,
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },

                    pagination: {
                        el: this.$refs.pagination?.$el || false,
                        type: 'fraction',
                        formatFractionCurrent: formatFraction,

                        formatFractionTotal: formatFraction,

                        renderFraction: renderFraction,
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeSlide = this.slider.realIndex;
                });
            },

            onTabClick(value) {
                this.activeTab = value;
            },

            handleOpenGallery() {
                this.$modal.open(GalleryModal, {
                    album: this.items,
                    index: this.activeSlide,
                    tab: this.activeTab,
                    displayField: 'fileDisplay',
                    previewField: 'filePreview',
                });
            },

            onOpenVr() {
                this.$yandexMetrika.reachGoal('VR-tour');
                this.$modal.open(IframeModal, {link: this.vrLink});
            },
        },
    };
</script>

<style lang="scss" module>
    .DecorationMobile {
        position: relative;
    }

    .header {
        padding-left: 16px;
        background-color: $base-50;
    }

    .title {
        padding: 40px 0 24px;
        border-bottom: 1px solid $base-100;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -1px;
    }

    .tabs {
        background-color: $milk;
    }

    .tab {
        & :global(.v-tab__btn) {
            border-top: 0;
            border-bottom: 0;
        }
    }

    .slide {
        @include aspect-ratio(320, 200);
    }

    .content {
        padding: 0 16px;
    }

    .controls {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -16px;
        margin-bottom: 16px;
        padding: 0 16px;
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        width: 72px;
    }

    .controlBtn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .fraction {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 4px 12px;
        border-radius: 28px;
        background-color: $milk;
        transform: translate(-50%, -50%);

        & :global(.fraction) {
            width: auto;
        }
    }

    .buttonWrap {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 24px;
    }
</style>
