<template>
    <n-link :to="`/promo/${card.slug}`"
            :target="isBlank ? '_blank' : ''"
            :class="[$style.PromoCard, classes]">
        <div v-if="card.projects && card.projects.length"
             :class="[$style.tags, {[$style._single]: hideTags}]">
            <VTag v-if="hideTags"
                  :color="color"
                  outline>
                {{ card.projects.length }}
                {{ card.projects.length|plural(['проект', 'проекта', 'проектов']) }}
            </VTag>
            <CardTags
                v-else
                :tags="card.projects"
                :color="color"
                outline
            />
        </div>

        <div v-if="card.cardImageDisplay && showImage"
             :class="$style.wrapper">
            <div :class="$style.imageBox">
                <div :class="$style.image">
                    <ImageLazy
                        :image="card.cardImageDisplay"
                        :preview="card.cardImagePreview"
                    />
                </div>
            </div>
        </div>

        <div :class="$style.description">
            <span :class="$style.accent"
                  v-html="card.coloredTitle">
            </span>
            <span :class="$style.intro"
                  v-html="card.title">
            </span>
        </div>

        <p v-if="date"
           :class="$style.date"
           class="p3">
            <span>{{ date }} /</span> {{ daysLeft }}
        </p>
    </n-link>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {monthByNumber, plural} from '../../../assets/js/utils/commonUtils';

    /* components */
    import CardTags from '../CardTags';
    import ImageLazy from '../ImageLazy';
    import VTag from '../../ui/tag/VTag';

    export default {
        name: 'PromoCard',

        components: {
            VTag,
            ImageLazy,
            CardTags,
        },

        props: {
            card: {
                type: Object,
                default: () => ({}),
            },

            hasIcon: Boolean,

            applyProjectClass: {
                type: Boolean,
                default: true,
            },

            color: {
                type: String,
                default: 'default',
            },

            size: {
                type: String,
                default: 'medium',
            },

            pluralArray: {
                type: Array,
                default: () => ['остался', 'осталось', 'осталось'],
            },

            showImage: {
                type: Boolean,
                default: true,
            },

            isBlank: Boolean,

            hideTags: Boolean,
        },

        computed: {
            classes() {
                return [
                    this.$style[`_${this.color}`],
                    this.$style[`_${this.size}`],
                    {
                        [this.$style[`_${this.cityClass(this.card.color)}`]]: this.applyProjectClass,
                    },
                ];
            },

            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            date() {
                if (!this.card.end) {
                    return '';
                }
                const date = new Date(this.card.end);
                return `до ${date.getDate()} ${monthByNumber(date.getMonth(), 'case')} ${date.getFullYear()}`;
            },

            daysLeft() {
                if (!this.card.end) {
                    return '';
                }
                const date = new Date(this.card.end);
                const now = Date.now();
                const diff = Math.ceil((Number(date) - now) / (1000 * 3600 * 24));
                if (diff <= 0) {
                    return 'акция закончилась';
                }
                return `${plural(diff, this.pluralArray)} ${diff} ${plural(diff, ['день', 'дня', 'дней'])}`;
            },
        },
    };
</script>

<style lang="scss" module>
    .PromoCard {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 5.2rem 5.6rem;
        transition: color $default-transition;

        @include respond-to(sm) {
            padding: $side-padding-tablet;
        }

        /* Colors */

        &._default {
            background-color: $base-50;
            color: $base-500;
            transition: color $default-transition, background-color $default-transition;

            .description {
                color: $base-500;
            }

            .date {
                span {
                    color: $base-300;
                }
            }

            @include respond-to-min(sm) {
                @include hover {
                    &:hover {
                        background-color: $milk;
                    }
                }
            }
        }

        &._transparent {
            color: $base-500;

            .description {
                color: $base-500;
            }

            .date {
                span {
                    color: $base-300;
                }
            }
        }

        &._white {
            color: #fff;

            .description {
                color: #fff;
            }

            .date {
                color: rgba(#fff, .88);

                span {
                    color: rgba(#fff, .64);
                }
            }
        }

        /* End Colors */

        /* project Colors */

        &._vice {
            color: $vice;

            .accent {
                color: $vice;
            }

            .intro {
                display: inline;

                & > span {
                    color: $vice;
                }
            }
        }

        &._redline {
            color: $redline;

            .accent {
                color: $redline;
            }

            .intro {
                display: inline;

                & > span {
                    color: $redline;
                }
            }
        }

        &._moxxy {
            color: $moxxy;

            .accent {
                color: $moxxy;
            }

            .intro {
                display: inline;

                & > span {
                    color: $moxxy;
                }
            }
        }

        /* End project Colors */

        /* Sizes */

        &._medium {
            @include respond-to(xs) {
                padding: 24px 16px;
            }

            .description {
                max-height: 7.2rem;
                font-size: 1.8rem;
                line-height: 1.36;

                @include respond-to(xs) {
                    font-size: 16px;
                    line-height: 1.52;
                }
            }
        }

        &._large {
            @include respond-to(xs) {
                padding: 24px;
            }

            .description {
                margin-top: 5.6rem;
                max-height: 9.3rem;
                font-size: 2.4rem;
                line-height: 1.32;

                @include respond-to(sm) {
                    max-height: 86px;
                    margin-top: 48px;
                }

                @include respond-to(xs) {
                    max-height: 72px;
                    margin-top: 38px;
                    font-size: 16px;
                    line-height: 1.52;
                }
            }

            .date {
                margin-top: auto;
                padding-top: 1.6rem;
            }
        }

        /* End Sizes */
    }

    .wrapper {
        position: absolute;
        left: 50%;
        top: 45%;
        z-index: 0;
        flex-shrink: 0;
        width: 28.6rem;
        height: 14.3rem;
        transform: translate(-50%, -55%) translateZ(0) rotate(-30deg);

        @include respond-to(sm) {
            width: 242px;
            height: 122px;
        }

        @include respond-to(xs) {
            width: 252px;
            height: 126px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 32rem;
            backface-visibility: hidden;
            transform: translateZ(0);
        }

        &:before {
            top: 1.6rem;
            left: -1rem;
            background: linear-gradient(-90deg, rgba($base-100, 0) 0%, rgba($base-100, .64) 100%);
        }

        &:after {
            bottom: 1.6rem;
            right: -1rem;
            background: linear-gradient(90deg, rgba($base-100, 0) 0%, rgba($base-100, .64) 100%);
        }
    }

    .imageBox {
        position: relative;
        z-index: 2;
        height: 100%;
        overflow: hidden;
        border-radius: 32rem;
        backface-visibility: hidden;
        transition: transform $default-transition;
    }

    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30rem;
        height: 30rem;
        transform: translate(-50%, -50%) translateZ(0) rotate(30deg);

        @include respond-to(sm) {
            width: 270px;
            height: 226px;
        }

        @include respond-to(xs) {
            width: 236px;
            height: 196px;
        }
    }

    .tags {
        position: absolute;
        top: 4.8rem;
        left: 0;
        padding: 0 5.4rem;
        pointer-events: none;

        @include respond-to(sm) {
            top: 36px;
            padding: 0 40px;
        }

        @include respond-to(xs) {
            top: 20px;
            padding: 0 24px;
        }

        &._single {
            @include respond-to(xs) {
                top: 24px;
            }
        }
    }

    .description {
        width: 100%;
        overflow: hidden;
        margin-top: auto;
        text-overflow: ellipsis;
        font-weight: 500;
        text-align: left;
        transition: color $default-transition;
        /* stylelint-disable */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* stylelint-enable */
    }

    .intro {
        display: inline;
    }

    .date {
        margin-top: 1.2rem;
        width: 100%;
        transition: color $default-transition;

        span {
            text-transform: lowercase;
            transition: color $default-transition;
        }
    }
</style>
