<template>
    <section :class="[$style.Promo, {[$style._reversed]: activeIndex % 2 === 1}]">
        <div :class="$style.header"
             class="container">
            <h2 :class="$style.title"
                class="h3">
                {{ title ? title : 'Новости Страны' }}
            </h2>

            <!--controls-->
            <div v-if="slides && slides.length > 1"
                 :class="$style.controls">
                <GalleryFraction
                    :class="$style.fraction"
                    :current="fractionCurrent"
                    :total="fractionTotal"
                    color="inverse"
                />

                <div :class="$style.pagination">
                    <div ref="pagination"
                         class="swiper-pagination is-inverse swiper-pagination-progressbar">
                    </div>
                </div>

                <div :class="$style.buttons">
                    <VCircleButton ref="prev"
                                   :class="[$style.controlBtn, $style._prev]"
                                   hover-color="pink"
                                   color="milk">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                    <VCircleButton ref="next"
                                   :class="[$style.controlBtn, $style._next]"
                                   hover-color="pink"
                                   color="milk">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                </div>
            </div>

            <VButton :class="$style.link"
                     color="milk"
                     hover-color="pink"
                     :link="link">
                Cмотреть все
            </VButton>
        </div>

        <div :class="$style.container">
            <div :class="$style.imageBox">
                <div :class="$style.image"
                     :style="{backgroundImage: `url(${image})`}">
                </div>
            </div>
            <div :class="$style.wrap">
                <div :class="$style.body">
                    <GalleryFraction
                        v-if="slides && slides.length > 1"
                        :class="$style.mobileFraction"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                        size="small"
                    />

                    <div ref="slider"
                         :class="$style.slider"
                         class="swiper-container">
                        <div class="swiper-wrapper">
                            <div v-for="(card, index) of slides"
                                 :key="card.id"
                                 class="swiper-slide"
                                 :class="$style.slide">
                                <div
                                    :class="[$style.cardInner, {[$style._prev]: index < activeIndex, [$style._active]: index === activeIndex}]"
                                    class="js-swiper-slide">
                                    <PromoSlide
                                        :card="card"
                                        :plural-array="['еще', 'еще', 'еще']"
                                        :color="index === activeIndex ? 'transparent' : 'white'"
                                        :opacity="index < activeIndex"
                                        size="large"
                                        :hide-tags="$mq === 'xs'"
                                        :show-image="false"
                                        :apply-project-class="false"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import GalleryFraction from '../gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRight from '../../icons/IconArrowRight';
    import VButton from '../../ui/button/VButton';
    import PromoSlide from './PromoSlide';

    export default {
        name: 'Promo',

        components: {
            PromoSlide,
            VButton,
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
        },

        props: {
            title: {
                type: String,
                default: 'Новости страны',
            },

            slides: {
                type: Array,
                default: () => [],
            },

            link: {
                type: String,
                default: '',
            },

            image: {
                type: String,
                default: '',
            },

            preview: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
            };
        },

        computed: {
            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },
        },

        mounted() {
            this.$nextTick(() => {
                if (this.slides.length > 1) {
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[Promo] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 600,
                    slidesPerView: 1,
                    watchSlidesProgress: true,
                    spaceBetween: 16,

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },

                    breakpoints: {
                        767: {
                            spaceBetween: 0
                        },
                    }
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },

            checkProgress() {
                const swiper = this.slider;
                for (let i = 0; i < swiper.slides.length; i++) {
                    const slideProgress = swiper.slides[i].progress;
                    const innerOffset = swiper.width;
                    const innerTranslate = slideProgress > 0 ? slideProgress * innerOffset : 0;
                    swiper.slides[i].querySelector('.js-swiper-slide').style.transform = `translateX(${innerTranslate}px)`;
                }
            },

            setTransition(swiper, transition) {
                for (let i = 0; i < swiper.slides.length; i++) {
                    swiper.slides[i].style.transition = `${transition}ms`;
                    swiper.slides[i].querySelector('.js-swiper-slide').style.transition = `${transition}ms`;
                }
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .95s ease;

    .Promo {
        position: relative;
        overflow: hidden;
        padding-top: 7.4rem;
        padding-bottom: 35.8rem;
        background: linear-gradient(106.88deg, $vice 0%, $moxxy 53.52%, $redline 92.29%);

        @include respond-to(sm) {
            padding-top: 64px;
            padding-bottom: 620px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
            padding-bottom: 120px;
            background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(323.7deg, $vice 0%, $moxxy 57.99%, $redline 100%);
            opacity: 0;
            transition: opacity .3s ease-out;
        }

        &._reversed {
            &:before {
                opacity: 1;
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
    }

    .title {
        z-index: 1;
        flex-shrink: 0;
        color: $milk;
        letter-spacing: -.02em;
        margin-right: auto;
    }

    .controls {
        z-index: 1;
        display: flex;
        align-items: center;
        margin-right: 4rem;

        @include respond-to(sm) {
            position: absolute;
            bottom: 532px;
            left: 0;
            width: 100%;
            margin-right: 0;
            padding: 0 $side-padding-tablet;
        }

        @include respond-to(xs) {
            position: static;
            padding: 0;
            width: auto;
        }
    }

    .fraction {
        margin-right: 2.4rem;

        @include respond-to(xs) {
            display: none;
        }
    }

    .mobileFraction {
        display: none;

        @include respond-to(xs) {
            position: absolute;
            top: 28px;
            right: 24px;
            z-index: 2;
            display: inline-flex;
        }
    }

    .pagination {
        width: 34.8rem;

        @include respond-to(sm) {
            width: 100%;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        width: 11.2rem;
        margin-left: 2.4rem;

        @include respond-to(sm) {
            margin-left: 32px;
        }

        @include respond-to(xs) {
            width: 72px;
        }
    }

    .controlBtn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .link {
        @include respond-to(xs) {
            position: absolute;
            bottom: 56px;
            left: 50%;
            width: calc(100% - (#{$side-padding-mobile} * 2));
            transform: translateX(-50%);
        }
    }

    .container {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        padding-left: calc((100% - #{$container-width-desktop-xl}) / 2);

        @include respond-to(lg) {
            padding-left: calc((100% - #{$container-width-desktop}) / 2);
        }

        @include respond-to(sm) {
            margin-top: 40px;
            padding: 0 $side-padding-tablet;
        }

        @include respond-to(xs) {
            margin-top: 24px;
            padding: 0 $side-padding-mobile;
        }
    }

    .imageBox {
        position: relative;
        flex-shrink: 0;
        width: 49.2rem;
        height: 45.6rem;
        margin-right: 5.3rem;

        @include respond-to(sm) {
            display: none;
        }

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 23.8rem;
            height: 45.7rem;
            background: linear-gradient(180deg, rgba(1, 28, 55, .24) 0%, rgba(1, 28, 55, .04) 100%);
            border-radius: 28.4rem;
            transform: translate(-60%, -45%) rotate(60deg);
        }
    }

    .image {
        position: relative;
        z-index: 2;
        height: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .wrap {
        width: 100%;
        overflow-x: hidden;

        @include respond-to(sm) {
            overflow-x: visible;
        }
    }

    .body {
        position: relative;
        width: 52rem;
        flex-grow: 0;
        height: 30.4rem;
        margin-bottom: 2.4rem;

        @include respond-to(sm) {
            width: 500px;
            height: 250px;
            margin-bottom: 0;
        }

        @include respond-to(xs) {
            width: 100%;
            height: 194px;
        }
    }

    .slider {
        height: 100%;
        overflow: visible;
    }

    .slide {
        display: flex;
        height: auto;
    }

    .cardInner {
        position: relative;
        display: flex;
        width: 100%;
        margin-right: 4rem;
        will-change: transform;

        @include respond-to(sm) {
            margin-right: 20px;
        }

        @include respond-to(xs) {
            margin-right: 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 48rem;
            height: 100%;
            background-color: $milk;
            transform: translate(0, -50%) scale(0);
            transition: transform .6s ease-out;

            @include respond-to(xs) {
                width: 100%;
                transform: translate(0, -50%);
            }
        }

        &._active {
            &:before {
                transform: translate(0, -50%) scale(1);
            }

            &:hover {
                &:before {
                    transition: transform .3s ease-out;
                    transform: translate(0, -50%) scale(.95);
                }
            }
        }
    }
</style>
