<template>
    <div :class="[$style.SectionShield, {[$style._hovered]: hovered}]"
         :style="position">
        <span :class="$style.icon">
            <span v-if="sectionNumber">
                {{ sectionNumber }}
            </span>
        </span>
        <span :class="$style.text">
            Секция
        </span>
    </div>
</template>

<script>
    export default {
        name: 'SectionShield',

        props: {
            point: {
                type: String,
                default: '',
            },

            number: {
                type: [Number, String],
                default: '',
            },

            hovered: Boolean,

            scaleValue: {
                type: Number,
                default: 1
            }
        },

        computed: {
            position() {
                const arr = this.point.split(',');
                return {top: `${arr[1]}%`, left: `${arr[0]}%`, transform: `scale(${this.scaleValue}) translate(-50%, -50%)`};
            },

            sectionNumber() {
                return typeof this.number === 'string' ? this.number.charAt(0) : parseInt(this.number, 10);
            }
        },
    };
</script>

<style lang="scss" module>
    .SectionShield {
        position: absolute;
        left: -10000px;
        top: -100000px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.2rem;
        padding: .4rem 1.2rem .4rem .4rem;
        background-color: $milk;
        border-radius: 1.6rem;

        &._hovered {
            .icon {
                background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
            }
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
        padding-top: .2rem;
        background-color: $base-500;
        border-radius: 50%;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
        color: $milk;
        text-align: center;
        text-transform: capitalize;
        transition: background $default-transition;
    }

    .text {
        padding-top: .2rem;
        font-size: 1.4rem;
        line-height: 1.16;
        font-weight: 500;
        color: $base-500;
    }
</style>
