<template>
    <div :class="[$style.VisualHoverPin, classList]"
         :style="position">
        <span>{{ item.rooms === 0 ? 'C' : `${item.rooms}к` }}</span>
    </div>
</template>

<script>
    export default {
        name: 'VisualHoverPin',

        props: {

            item: {
                type: Object,
                default: () => ({}),
            },

            hovered: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                position: {},
            };
        },

        computed: {
            classList() {
                return [
                    {
                        [this.$style['is-hovered']]: this.hovered,
                    },
                ];
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.setPosition();
            });
        },

        methods: {
            setPosition() {
                const plan = this.$parent.$refs.container;
                const planRect = plan.getBoundingClientRect();
                const hover = document.getElementById(this.item.id);
                const itemRect = hover.getBoundingClientRect();

                const x = itemRect.left - planRect.left;
                const y = itemRect.top - planRect.top;

                this.position = {
                    top: `${y + (itemRect.height / 2)}px`,
                    left: `${x + (itemRect.width / 2)}px`,
                };
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualHoverPin {
        position: absolute;
        left: -10000px;
        top: -10000px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: $milk;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;
        pointer-events: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .04), 0 2px 6px rgba(0, 0, 0, .04), 0 0 1px rgba(0, 0, 0, .04);
        transform: translate(-50%, -50%);
    }
</style>
