<template>
    <div ref="infra"
         :class="[$style.VisualInfra, $style[`_${classPosition}`]]"
         :style="position"
         @click="onClick">
        <div :class="$style.icon"
             :style="{color: `${infra.color}`}"
             v-html="infra.iconContent">
        </div>
        <div ref="content"
             :class="$style.body">
            <div :class="$style.content">
                <div :class="$style.box">
                    <span class="c-base"
                          v-html="infra.name">
                    </span>
                    <span class="c-base-300"
                          v-html="infra.addText">
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'VisualInfra',

        props: {
            infra: {
                type: Object,
                default: () => ({}),
            },

            scaleValue: {
                type: Number,
                default: 1,
            },
        },

        data() {
            return {
                offsetLeft: 0,
                contentWidth: 0,
                containerWidth: 0,
            };
        },

        computed: {
            position() {
                const arr = this.infra.point.split(',');
                return {
                    top: `${arr[1]}%`,
                    left: `${arr[0]}%`,
                    transform: `scale(${this.scaleValue}) translate(-50%, -50%)`,
                };
            },

            classPosition() {
                return this.containerWidth - this.offsetLeft < this.contentWidth ? 'left' : 'right';
            },
        },

        mounted() {
            this.contentWidth = this.$refs.content.offsetWidth;
            this.offsetLeft = this.$refs.infra.offsetLeft;
            this.containerWidth = this.$parent.$refs.container.offsetWidth;
        },

        methods: {
            onClick() {
                if (this.$device.isMobile) {
                    this.$modal.open('InfraMobileModal', {infra: this.infra});
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualInfra {
        position: absolute;
        z-index: 5;
        left: -10000px;
        top: -10000px;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &._right {
            .content {
                transform: translate3d(-100%, 0, 0);
            }

            .box {
                padding-left: 4.2rem;
                transform: translate3d(100%, 0, 0);
            }
        }

        &._left {
            .body {
                left: auto;
                right: 0;
            }

            .content {
                transform: translate3d(100%, 0, 0);
            }

            .box {
                padding-right: 4.2rem;
                transform: translate3d(-100%, 0, 0);
            }
        }

        &:hover {
            .body {
                visibility: visible;
                transition: visibility 0s;

                @include respond-to(xs) {
                    visibility: hidden;
                    display: none;
                }
            }

            .content {
                transform: translate3d(0, 0, 0);
            }

            .box {
                transform: translate3d(0, 0, 0);
            }

            .icon {
                &:before {
                    transform: translate(-50%, -50%) scale(2);
                }
            }
        }
    }

    .icon {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        color: $base-500;

        svg {
            position: relative;
            width: 1.4rem;
            height: 1.4rem;
            fill: $milk;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(-50%, -50%);
            transition: background-color $default-transition, transform $default-transition;
        }
    }

    .body {
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 1;
        border-radius: 16px;
        visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        transform: translateY(-50%);
        transition: visibility 0s ease .5s;
    }

    .content {
        background-color: $milk;
        overflow: hidden;
        transition: transform .5s linear;
        will-change: transform;
    }

    .box {
        padding: .7rem 1.2rem .5rem;
        font-size: 1.4rem;
        line-height: 1.46;
        font-weight: 500;
        white-space: nowrap;
        transition: transform .5s linear;
        will-change: transform;
    }
</style>
