<template>
    <g :class="[$style.VisualHover, {[$style._hovereble] : applyHover}, classes]"
       @mouseenter="handlePolygonHover"
       @mousemove="handlePolygonMove"
       @mouseleave="handlePolygonUnhover"
       @click="onClick"
       v-html="hightliting"
    />
</template>

<script>
    export default {
        name: 'VisualHover',

        props: {
            item: {
                type: Object,
                default: () => ({}),
            },

            applyHover: {
                type: Boolean,
                default: true,
            },

            kind: {
                type: String,
                default: '',
            },

            color: {
                type: String,
                default: 'vice',
            },

            hidden: Boolean,
        },

        computed: {
            hightliting() {
                return this.item.planHover;
            },

            classes() {
                return [
                    [this.kind !== 'PARKING' ? [this.$style[`_${this.color}`]] : [this.$style._blue]],
                    {
                        [this.$style._hidden]: this.hidden
                    },
                ];
            },
        },

        methods: {
            onClick() {
                this.$emit('click', this.item);
            },

            handlePolygonHover(e) {
                this.$emit('hover-polygon-enter', this.item, e);
            },

            handlePolygonMove(e) {
                if (window.matchMedia('(min-width: 1025px)').matches) {
                    this.$emit('hover-polygon-move', {top: e.pageY, left: e.pageX});
                }
            },

            handlePolygonUnhover() {
                if (window.matchMedia('(min-width: 1025px)').matches) {
                    this.$emit('hover-polygon-leave');
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualHover {
        transition: fill .3s linear, opacity .3s linear;
        cursor: pointer;

        &._vice {
            fill: rgba($vice, .32);
        }

        &._redline {
            fill: rgba($redline, .32);
        }

        &._moxxy {
            fill: rgba($moxxy, .32);
        }

        &._kain {
            fill: rgba($kain, .32);
        }

        &._elysium {
            fill: rgba($elysium, .32);
        }

        &._blue {
            fill: rgba($blue, .32);
        }

        &._hovereble {
            &:hover {
                fill: url(#linear-gradient);

                &._blue {
                    fill: rgba($blue, .64);
                }
            }
        }

        &._hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
</style>
