<template>
    <div :class="$style.VisualEnvironment"
         :style="position">
        <div :class="$style.inner">
            <span :class="[$style.nameWrapper, {[$style._metro]: item.isMetro}]"
                  :style="metroColor">
                <span :class="$style.name"
                      v-html="item.name">
                </span>
            </span>

            <span :class="$style.time">
                <span :class="$style.timeValue">
                    {{ item.time }} мин.
                </span>
                <span :class="$style.icon"
                      class="frame-icon is-small"
                      v-html="item.iconContent">
                </span>
            </span>
            <span :class="$style.direction"
                  :style="directionColor">
                <IconArrowTopLong
                    class="frame-icon"
                    :style="{transform: `rotate(${item.rotation}deg)`}"
                />
            </span>
        </div>
    </div>
</template>

<script>
    import IconArrowTopLong from '../../../icons/IconArrowTopLong';

    export default {
        name: 'VisualEnvironment',

        components: {
            IconArrowTopLong,
        },

        props: {
            item: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            position() {
                const arr = this.item.point.split(',');
                return {top: `${arr[1]}%`, left: `${arr[0]}%`};
            },

            metroColor() {
                return this.item.isMetro ? {color: `${this.item.color}`} : '';
            },

            directionColor() {
                return this.item.isMetro ? {backgroundColor: `${this.item.color}`} : '';
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualEnvironment {
        position: absolute;
        z-index: 1;
        transform: translate(-50%, -50%);

        @include respond-to(sm) {
            position: static;
            margin-right: 1.6rem;
            transform: none;
        }

        @include respond-to(xs) {
            margin-right: 12px;
        }
    }

    .inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .8rem 6.4rem .8rem 1.6rem;
        height: 3.2rem;
        border-radius: 16px;
        background-color: $milk;
        white-space: nowrap;

        @include respond-to(xs) {
            height: 28px;
            padding: 6px 50px 6px 12px;
        }
    }

    .nameWrapper {
        position: relative;
        padding-right: 1.2rem;
        border-right: 1px solid $base-100;
        color: $base-500;

        @include respond-to(xs) {
            padding-right: 8px;
            margin-top: 2px;
        }

        &._metro {
            padding-left: 2rem;

            &:after {
                content: '';
            }
        }

        &:after {
            position: absolute;
            left: 0;
            top: 50%;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            border: 3px solid currentColor;
            transform: translateY(-50%);
            box-sizing: border-box;
        }
    }

    .name {
        font-size: 1.4rem;
        line-height: 1.16;
        font-weight: 500;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 12px;
            line-height: 1;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
            fill: $base-500;
        }
    }

    .direction {
        position: absolute;
        right: -1px;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        background-color: $base-500;
        transform: translateY(-50%);
        color: $milk;

        @include respond-to(xs) {
            width: 40px;
            height: 40px;
        }
    }

    .time {
        padding-left: 1.2rem;
        display: flex;
        align-items: flex-end;
        font-size: 1.4rem;
        line-height: 1.16;
        font-weight: 500;
        color: $base-500;

        @include respond-to(xs) {
            padding-left: 8px;
            font-size: 12px;
            line-height: 1;
        }
    }

    .timeValue {
        margin-bottom: .2rem;
        margin-right: .4rem;
    }
</style>
