<template>
    <div ref="infra"
         :class="[$style.VisualMainInfra, $style[`_${classPosition}`]]"
         :style="styles"
         @click="onClick">
        <div :class="[$style.icon, $style[`_${colorClass}`]]"
             v-html="infra.iconContent">
        </div>
        <div ref="content"
             :class="$style.body">
            <div :class="$style.content">
                <div :class="$style.box">
                    <VTag :color="colorClass"
                          outline
                          :class="$style.tag">
                        {{ infra.type }}
                    </VTag>

                    <h2 :class="$style.name"
                        v-html="infra.name">
                    </h2>

                    <address :class="$style.address"
                             v-html="infra.address">
                    </address>

                    <div :class="$style.info">
                        <p v-for="item in infra.maininfracontentSet"
                           :key="item.id"
                           :class="$style.row">
                            <span :class="$style.label"
                                  v-html="item.name">
                            </span>
                            <span :class="$style.value"
                                  v-html="item.value">
                            </span>
                        </p>

                        <p :class="$style.row">
                            <span :class="$style.label">
                                Срок сдачи
                            </span>
                            <span :class="$style.value">
                                {{ completion }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {prettyDate} from '../../../../assets/js/utils/commonUtils';

    /* components */
    import VTag from '../../../ui/tag/VTag';

    export default {
        name: 'VisualMainInfra',

        components: {
            VTag,
        },

        props: {
            infra: {
                type: Object,
                default: () => ({}),
            },

            colorClass: {
                type: String,
                default: 'vice',
            },

            scaleValue: {
                type: Number,
                default: 1
            }
        },

        data() {
            return {
                offsetTop: 0,
                contentHeight: 0,
            };
        },

        computed: {
            styles() {
                const arr = this.infra.point.split(',');
                return {top: `${arr[1]}%`, left: `${arr[0]}%`, transform: `scale(${this.scaleValue}) translate(-50%, -50%)`};
            },

            completion() {
                const now = new Date();
                const exploitation = new Date(this.infra.exploitation);
                return exploitation < now ? 'сдан' : `${prettyDate(this.infra.exploitation)}`;
            },

            classPosition() {
                return this.offsetTop < this.contentHeight ? 'bottom' : 'top';
            },
        },

        mounted() {
            this.contentHeight = this.$refs.content.offsetHeight;
            this.offsetTop = this.$refs.infra.offsetTop;
        },

        methods: {
            onClick() {
                if (this.$device.isMobile) {
                    this.$modal.open('InfraMobileModal', {
                        infra: this.infra,
                        colorClass: this.colorClass,
                    });
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualMainInfra {
        position: absolute;
        z-index: 5;
        cursor: pointer;
        left: -10000px;
        top: -10000px;
        transform: translate(-50%, -50%);

        &._top {
            .content {
                transform: translate3d(0, 100%, 0);
            }

            .box {
                transform: translate3d(0, -100%, 0);
            }
        }

        &._bottom {
            .body {
                bottom: auto;
                top: 2.4rem;
            }

            .content {
                transform: translate3d(0, -100%, 0);
            }

            .box {
                transform: translate3d(0, 100%, 0);
            }
        }

        &:hover {
            .body {
                visibility: visible;
                transition: visibility 0s;

                @include respond-to(xs) {
                    visibility: hidden;
                    display: none;
                }
            }

            .content {
                transform: translate3d(0, 0, 0);
            }

            .box {
                transform: translate3d(0, 0, 0);
                transition-delay: 0s;
            }

            .icon {
                svg {
                    fill: $milk;
                }

                &._vice {
                    color: $vice;
                }

                &._redline {
                    color: $redline;
                }

                &._moxxy {
                    color: $moxxy;
                }

                &._elysium {
                    color: $elysium;
                }

                &._kain {
                    color: $kain;
                }

                &:before {
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }
        }
    }

    .icon {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        color: $milk;

        svg {
            position: relative;
            width: 100%;
            height: 100%;
            fill: $base-500;
            transition: fill $default-transition;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(-50%, -50%);
            transition: background-color $default-transition, transform $default-transition;
        }
    }

    .body {
        position: absolute;
        bottom: 2.4rem;
        left: 50%;
        display: flex;
        flex-direction: column;
        width: 25.8rem;
        overflow: hidden;
        backface-visibility: hidden;
        border-radius: 1.6rem;
        visibility: hidden;
        transform: translateX(-50%);
        transition: visibility 0s ease .5s;
    }

    .content {
        overflow: hidden;
        transition: transform .5s linear;
        will-change: transform;
    }

    .box {
        padding: 2.4rem 2.4rem 4rem;
        background-color: $milk;
        transition: transform .5s linear;
        will-change: transform;
    }

    .name {
        margin-top: .8rem;
        font-size: 1.8rem;
        line-height: 1.36;
        font-weight: 500;
        color: $base-500;
    }

    .address {
        margin-top: .4rem;
        margin-bottom: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.16;
        font-weight: 500;
        color: $base-300;
    }

    .info {
        padding-top: 1.6rem;
        margin: -.2rem 0;
        border-top: 1px solid $base-100;
    }

    .row {
        display: flex;
        justify-content: space-between;
        padding: .2rem 0;
    }

    .label {
        font-size: 1.4rem;
        line-height: 1.46;
        color: $base-400;
    }

    .value {
        font-size: 1.4rem;
        line-height: 1.46;
        font-weight: 500;
        color: $base-500;
        text-transform: lowercase;
    }
</style>
