<template>
    <div :class="$style.FavoritesList">
        <div :class="$style.list">
            <article v-for="card in mixedList"
                     :key="card.id"
                     :class="$style.card">
                <FormCard
                    v-if="card.type && card.type === 'form'"
                    type="help"
                />

                <LotCard
                    v-else
                    :lot="card"
                    is-favorites-page
                    :is-removed-from-favorites="!favorites.includes(card.id)"
                />
            </article>
        </div>
    </div>
</template>

<script>
    import LotCard from '@/components/common/LotCard';
    import FormCard from '@/components/common/form/FormCard';

    export default {
        name: 'FavoritesList',

        components: {
            FormCard,
            LotCard,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            favorites: {
                type: Array,
                default: () => [],
            },
        },

        computed: {
            mixedList() {
                const mixedList = [];
                this.lots.forEach((item, i) => {
                    mixedList.push(item);
                    if ((i + 1) % 5 === 0) {
                        mixedList.push({type: 'form'});
                    }
                });
                return mixedList;
            },
        },
    };
</script>

<style lang="scss" module>
    .FavoritesList {
        //
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        //margin: -1px;
        transition: opacity $default-transition, transform $default-transition;

        &._reloading {
            opacity: 0;
            transform: translateY(64px);
            pointer-events: none;
        }
    }

    .card {
        position: relative;
        width: 25%;

        @include respond-to(lg) {
            width: 33.3333%;
        }

        &:not(._more) {
            outline: 1px solid $base-100;
        }

        @include respond-to(sm) {
            width: 50%;
        }

        @include respond-to(xs) {
            width: 100%;

            &._more {
                height: 24rem;
            }
        }
    }
</style>
