<template>
    <div :class="$style.FavoritesCompare">
        <CompareMainSlider
            :lots="lots"
            :max-cols="maxCols"
            :current-slide="currentSlide"
            :current-mobile-slide="currentMobileSlide"
            :favorites="favorites"
            @on-slide-change="currentSlide = $event"
            @on-mobile-slide-change="onMobileSlideChange"
            @on-visibility-change="onVisibilityChange"
        />

        <CompareSection
            :class="$style.section"
            type="location"
            title="Расположение"
            :lots="lots"
            :current-slide="currentSlide"
            :current-mobile-slide="currentMobileSlide"
            :rows-count="6"
            :big-rows="[6]"
            :max-cols="maxCols"
            :favorites="favorites"
        />

        <CompareSection
            :class="$style.section"
            type="features"
            title="Особенности"
            :lots="lots"
            :current-slide="currentSlide"
            :current-mobile-slide="currentMobileSlide"
            :rows-count="16"
            :big-rows="[5]"
            :max-cols="maxCols"
            :favorites="favorites"
        />

        <CompareSection
            :class="$style.section"
            type="area"
            title="Площадь"
            :lots="lots"
            :current-slide="currentSlide"
            :current-mobile-slide="currentMobileSlide"
            :rows-count="4"
            :max-cols="maxCols"
            :favorites="favorites"
        />

        <div :class="$style.wrap">
            <div :class="[$style.actions, {[$style._show]: !isMainSliderVisible}]">
                <CompareActionSlider
                    :lots="lots"
                    :max-cols="maxCols"
                    :current-slide="currentSlide"
                    :current-mobile-slide="currentMobileSlide"
                    :favorites="favorites"
                    @on-slide-change="currentSlide = $event"
                    @on-mobile-slide-change="onMobileSlideChange"
                />
            </div>
            <CompareButtons
                :class="[$style.buttons, {[$style._show]: hideButtons}]"
                :lots="lots"
                :max-cols="maxCols"
                :current-slide="currentSlide"
                :current-mobile-slide="currentMobileSlide"
            />
        </div>
    </div>
</template>

<script>
    import CompareMainSlider from '@/components/pages/favorites/compare/CompareMainSlider';
    import CompareSection from '@/components/pages/favorites/compare/CompareSection';
    import CompareButtons from '@/components/pages/favorites/compare/CompareButtons';
    import CompareActionSlider from '@/components/pages/favorites/compare/CompareActionSlider';

    export default {
        name: 'FavoritesCompare',

        components: {
            CompareActionSlider,
            CompareButtons,
            CompareSection,
            CompareMainSlider,
        },

        props: {
            lots: {
                type: Array,
                default: () => [],
            },

            favorites: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                currentSlide: 0,
                currentMobileSlide: {},
                scroll: 0,
                hideButtons: true,
                isMainSliderVisible: true,
            };
        },

        computed: {
            // Количество колонок при адаптиве
            maxCols() {
                let maxCols = 3;

                if (this.$mq === 'xs') {
                    maxCols = 2;
                }

                if (this.lots.length < maxCols) {
                    return this.lots.length;
                }
                return maxCols;
            },
        },

        mounted() {
            this.scroll = window.scrollY;
            window.addEventListener('scroll', this.handleScroll);
        },

        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
        },

        methods: {
            handleScroll() {
                this.hideButtons = window.scrollY > this.scroll;

                this.scroll = window.scrollY;
            },

            onMobileSlideChange(event) {
                this.currentMobileSlide = event;
            },

            onVisibilityChange(status) {
                this.isMainSliderVisible = status;
            },
        },
    };
</script>

<style lang="scss" module>
    .FavoritesCompare {
        position: relative;
        background-color: $base-50;
        padding-bottom: 12rem;

        @include respond-to(md) {
            padding-bottom: 8.8rem;
        }

        @include respond-to(sm) {
            padding-bottom: 104px;
        }

        @include respond-to(xs) {
            padding-bottom: 72px;
        }
    }

    .section,
    .buttons {
        border-top: 1px solid $base-100;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .actions {
        position: sticky;
        top: 0;
        margin-bottom: 12rem;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-100%);
        opacity: 0;
        transition: all $default-transition;

        &._show {
            visibility: visible;
            pointer-events: all;
            transform: translateY(0);
            opacity: 1;
        }
    }

    .buttons {
        position: sticky;
        bottom: 0;
        height: 12rem;
        padding: 3.2rem 0;
        background-color: $body-bg;
        pointer-events: all;
        transition: all $default-transition;
        animation: buttons .3s ease-out;

        @include respond-to(md) {
            height: 8.8rem;
            padding: 1.6rem 0;
        }

        @include respond-to(sm) {
            height: 104px;
            padding: 24px 0;
        }

        @include respond-to(xs) {
            height: 72px;
            padding: 16px 0;
        }

        &._show {
            bottom: -12rem;

            @include respond-to(md) {
                bottom: -8.8rem;
            }

            @include respond-to(sm) {
                bottom: -104px;
            }

            @include respond-to(xs) {
                bottom: -72px;
            }
        }
    }

    @keyframes buttons {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }
</style>

<style lang="scss">
    .info {
        &__row {
            height: 10rem;

            @include respond-to(md) {
                height: 90px;
            }

            @include respond-to(xs) {
                height: auto;
                min-height: 70px;
            }

            &:first-of-type {
                @include respond-to(md) {
                    margin-top: -18px;
                }
            }

            &--big {
                height: 12.4rem;

                @include respond-to(md) {
                    height: 11.4rem;
                }

                @include respond-to(xs) {
                    height: auto;
                    min-height: 92px;
                }
            }
        }

        &__label {
            padding-top: 2.4rem;
            font-size: 1rem;
            line-height: 1.46;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $base-200;
            user-select: none;
            opacity: 0;
            transition: opacity $default-transition;

            .is-current & {
                user-select: auto;
                opacity: 1;
            }

            @include respond-to(sm) {
                opacity: 1;
                user-select: auto;
            }
        }

        &__value {
            margin-top: 1.2rem;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.56;
            color: $base-500;

            @include respond-to(xs) {
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.46;
            }

            &--big {
                font-size: 1.8rem;

                @include respond-to(xs) {
                    font-size: 16px;
                    line-height: 1.52;
                }
            }

            &--disabled {
                color: $base-200;
            }
        }

        &__oldPrice {
            display: flex;
            align-items: baseline;
            margin-bottom: .4rem;
            padding-right: 1rem;
            font-weight: normal;

            & > .p4 {
                @include respond-to(xs) {
                    font-size: 10px;
                    line-height: 1;
                }
            }
        }

        &__saleValue {
            position: relative;
            padding: .2rem 0 0 .4rem;
            margin-left: .8rem;
            border-top-left-radius: .4rem;
            border-bottom-left-radius: .4rem;
            background-color: rgba($primary-100, .56);
            color: $redline;
            font-size: 1.2rem;
            line-height: 1.6rem;

            @include respond-to(xs) {
                font-size: 10px;
                line-height: 1;
            }

            &:after {
                content: "";
                position: absolute;
                left: 100%;
                top: 50%;
                width: 1.5rem;
                height: 1.5rem;
                background: rgba($primary-100, .56);
                border-radius: .4rem;
                transform: translate(-50%, -50%) rotate(135deg);
                -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
                clip-path: polygon(0 0, 0% 100%, 100% 0);
            }
        }

        &__progress {
            display: flex;
            align-items: center;
        }

        &__bar {
            width: 11.2rem;
            margin-top: 1.2rem;
            margin-left: .8rem;
        }
    }
</style>
