<template>
    <div :class="$style.FilterResultControls">
        <div :class="$style.container"
             class="container">
            <div :class="$style.sortFilter">
                <VCircleButton :class="$style.sortIcon">
                    <IconSort :type="sortIconType" />
                </VCircleButton>
                <span :class="$style.sortLabel"
                      class="c-base">
                    Сортировать:
                </span>
                <VSelect
                    :class="$style.select"
                    :options="sortOptions"
                    :value="values.orderBy"
                    color="vice"
                    size="small"
                    variable-width
                    @input="$emit('sort-change', {orderBy: $event})"
                />
            </div>

            <div v-if="$mq === 'xs'"
                 :class="$style.mobileTabs">
                <VCircleButton :color="view === 'compare' ? 'night-dark' : 'default'"
                               @click="$emit('view-change', 'compare')">
                    <IconCompare class="frame-icon is-xsmall" />
                </VCircleButton>

                <VCircleButton :color="view === 'collection' ? 'night-dark' : 'default'"
                               @click="$emit('view-change', 'collection')">
                    <IconTile class="frame-icon is-xsmall" />
                </VCircleButton>
            </div>

            <VTabs v-else
                   :class="$style.tabs"
                   :rounded="!$device.isDesktop">
                <VTab :active="view === 'compare'"
                      @click="$emit('view-change', 'compare')">
                    Сравнение
                </VTab>
                <VTab :active="view === 'collection'"
                      @click="$emit('view-change', 'collection')">
                    Коллекция
                </VTab>
            </VTabs>

            <div :class="$style.deleteBtn"
                 @click="onClearClick">
                <span :class="$style.btnLabel"
                      class="c-base">
                    Удалить все
                </span>
                <VCircleButton>
                    <IconDelete class="frame-icon" />
                </VCircleButton>
            </div>
        </div>
    </div>
</template>

<script>
    /* components */
    import VSelect from '../../ui/select/VSelect';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconSort from '../../icons/IconSort';
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import IconTile from '../../icons/IconTile';
    import IconDelete from '../../icons/IconDelete';
    import IconCompare from '../../icons/IconCompare';
    import {mapActions} from 'vuex';

    export default {
        name: 'FilterResultControls',

        components: {
            VSelect,
            VCircleButton,
            IconSort,
            VTab,
            VTabs,
            IconTile,
            IconDelete,
            IconCompare,
        },

        props: {
            view: {
                type: String,
                default: 'collection',
            },

            values: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                sortOptions: [
                    {
                        value: '',
                        label: 'по умолчанию',
                        displayName: this.$device.isDesktopOrTablet ? 'по умолчанию' : 'Cортировать',
                    },
                    {
                        value: 'price',
                        label: 'по росту стоимости',
                        displayName: this.$device.isDesktopOrTablet ? 'по росту стоимости' : 'Cортировать',
                    },
                    {
                        value: '-price',
                        label: 'по убыванию стоимости',
                        displayName: this.$device.isDesktopOrTablet ? 'по убыванию стоимости' : 'Cортировать',
                    },
                    {
                        value: 'area',
                        label: 'по росту площади',
                        displayName: this.$device.isDesktopOrTablet ? 'по росту площади' : 'Cортировать',
                    },
                    {
                        value: '-area',
                        label: 'по убыванию площади',
                        displayName: this.$device.isDesktopOrTablet ? 'по убыванию площади' : 'Cортировать',
                    },
                ],
            };
        },

        computed: {
            sortIconType() {
                return !this.values.orderBy ? '' : /-/.test(this.values.orderBy) ? 'desc' : 'asc';
            },
        },

        methods: {
            ...mapActions('favorites', [
                'clearFavorites',
            ]),

            onClearClick() {
                this.clearFavorites();
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterResultControls {
        background-color: $base-50;
        border-bottom: 1px solid $base-100;
    }

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    .sortFilter {
        display: flex;
        align-items: center;
    }

    .sortIcon {
        pointer-events: none;

        @include respond-to(xs) {
            margin-right: 12px;
        }
    }

    .sortLabel {
        margin-right: .3rem;
        margin-left: 1.6rem;
        font-size: 1.2rem;
        line-height: 1.52;

        @include respond-to(xs) {
            display: none;
        }
    }

    .deleteBtn {
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            display: none;
        }
    }

    .tabs {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-to(sm) {
            position: static;
            margin-left: auto;
            transform: none;
        }
    }

    .btnLabel {
        margin-right: 1.6rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.16;
    }

    .mobileTabs {
        display: flex;
        justify-content: space-between;
        width: 74px;
    }
</style>
