<template>
    <form :class="$style.ReservationForm">
        <div :class="$style.inputs">
            <div :class="$style.input">
                <VInput
                    v-model="values.name"
                    :error="errors.name"
                    label="Имя"
                    @input="errors.name = ''"
                />

                <transition name="fade">
                    <FormHint v-if="errors.name">
                        {{ errors.name }}
                    </FormHint>
                </transition>
            </div>

            <div :class="$style.input">
                <VInput
                    v-model="values.phone"
                    :error="errors.phone"
                    type="tel"
                    mask="phone"
                    label="Телефон"
                    @input="errors.phone = ''"
                />

                <transition name="fade">
                    <FormHint v-if="errors.phone">
                        {{ errors.phone }}
                    </FormHint>
                </transition>
            </div>
        </div>

        <p :class="$style.small"
           class="p4">
            Нажимая на кнопку, вы принимаете
            <a :href="doc"
               target="_blank">
                политику конфиденциальности
            </a>
            и даете согласие на обработку персональных данных
        </p>

        <VButton :class="$style.button"
                 type="submit"
                 @click.prevent="handleSubmit">
            Забронировать
        </VButton>
    </form>
</template>

<script>
    import {cleanPhone} from '../../../assets/js/utils/commonUtils';

    /* components */
    import VInput from '../../ui/input/VInput';
    import FormHint from '../form/FormHint';
    import VButton from '../../ui/button/VButton';

    /* queries */
    import reservationRequest from '../../../queries/requests/reservationRequest.graphql';

    export default {
        name: 'ReservationForm',

        components: {
            VInput,
            FormHint,
            VButton,
        },

        props: {
            doc: {
                type: String,
                default: '',
            },

            id: {
                type: String,
                default: '',
            },

            data: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                values: {
                    name: '',
                    phone: '',
                },

                errors: {
                    name: '',
                    phone: '',
                },
            };
        },

        computed: {
            vars() {
                let obj = {};
                if (this.data.projectSlug) {
                    obj = {...obj, ...{projectSlug: this.data.projectSlug}};
                }
                if (this.data.propertyType) {
                    obj = {...obj, ...{propertyType: this.data.propertyType.toLowerCase()}};
                }
                return obj;
            },
        },

        methods: {
            async handleSubmit() {
                if (!this.validate()) {
                    return;
                }

                try {
                    const res = await this.$axios.$post('/graphql/', {
                        query: reservationRequest.loc.source.body,
                        variables: {
                            input: {
                                ...{name: this.values.name, phone: cleanPhone(this.values.phone)},
                                ...this.vars,
                            },
                            id: this.id,
                        },
                    });


                    if (res.data?.reservationRequest?.ok) {
                        this.$emit('change-state', 'success');
                    } else {
                        this.$emit('change-state', 'error');
                        console.warn('RequestFormModal/handleSubmit: Запрос успешен, но не удалось отправить запрос');
                    }
                } catch (e) {
                    this.$emit('change-state', 'error');
                    console.warn('RequestFormModal/handleSubmit: Не удалось отправить запрос', e);
                }
            },

            validate() {
                let isValidated = true;
                const trimmedPhone = cleanPhone(this.values.phone);

                Object.entries(this.values).forEach(([key, value]) => {
                    switch (key) {
                        case 'name':
                            if (!value) {
                                this.errors.name = 'Поле имени не может быть пустым';
                                isValidated = false;
                            }

                            break;
                        case 'phone':
                            if (!trimmedPhone) {
                                this.errors.phone = 'Поле телефона не может быть пустым';
                                isValidated = false;
                            }

                            if (trimmedPhone < 12) {
                                this.errors.phone = 'Телефон введён неверно';
                                isValidated = false;
                            }

                            break;
                    }
                });

                return isValidated;
            },
        },
    };
</script>

<style lang="scss" module>
    .ReservationForm {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .inputs {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .input {
        position: relative;
        margin-bottom: 4.4rem;
    }

    .button {
        width: 100%;
    }

    .small {
        min-height: 1.6rem;
        margin-bottom: 2.4rem;
        color: $base-200;

        @include respond-to(xs) {
            margin-bottom: 16px;
        }

        a {
            color: $secondary-300;
        }
    }
</style>
