<template>
    <form :class="$style.SubscribeForm">
        <div :class="$style.inputs">
            <div :class="$style.input">
                <VInput
                    v-model="values.name"
                    :error="errors.name"
                    label="Имя"
                    @input="errors.name = ''"
                />

                <transition name="fade">
                    <FormHint v-if="errors.name">
                        {{ errors.name }}
                    </FormHint>
                </transition>
            </div>

            <div :class="$style.input">
                <VInput
                    v-model="values.email"
                    :error="errors.email"
                    type="email"
                    label="Email"
                    @input="errors.email = ''"
                />

                <transition name="fade">
                    <FormHint v-if="errors.email">
                        {{ errors.email }}
                    </FormHint>
                </transition>
            </div>
        </div>

        <p :class="$style.small"
           class="p4">
            Нажимая на кнопку, вы принимаете
            <a :href="doc"
               target="_blank">
                политику конфиденциальности
            </a>
            и даете согласие на обработку персональных данных
        </p>

        <VButton :class="$style.button"
                 type="submit"
                 @click.prevent="handleSubmit">
            Подписаться
        </VButton>
    </form>
</template>

<script>
    /* components */
    import VInput from '../../ui/input/VInput';
    import FormHint from '../form/FormHint';
    import VButton from '../../ui/button/VButton';

    /* queries */
    import newsletterSubscription from '../../../queries/requests/newsletterSubscription.graphql';

    export default {
        name: 'SubscribeForm',

        components: {
            VInput,
            FormHint,
            VButton,
        },

        props: {
            doc: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                values: {
                    name: '',
                    email: '',
                },

                errors: {
                    name: '',
                    email: '',
                },
            };
        },

        methods: {
            async handleSubmit() {
                if (!this.validate()) {
                    return;
                }

                try {
                    const res = await this.$axios.$post('/graphql/', {
                        query: newsletterSubscription.loc.source.body,
                        variables: {
                            input: {
                                email: this.values.email,
                            },
                        },
                    });

                    if (res.data.newsletterSubscription?.errors?.length) {
                        res.data.newsletterSubscription.errors.forEach(er => {
                            this.errors[er.field] = er.messages[0];
                        });

                        return;
                    }

                    if (res.data?.newsletterSubscription?.ok) {
                        this.$emit('change-state', 'success');
                        this.$yandexMetrika.reachGoal('lead-subscription');
                    } else {
                        this.$emit('change-state', 'error');
                        console.warn('RequestFormModal/handleSubmit: Запрос успешен, но не удалось отправить запрос обратного звонка');
                    }
                } catch (e) {
                    this.$emit('change-state', 'error');
                    console.warn('RequestFormModal/handleSubmit: Не удалось отправить запрос обратного звонка', e);
                }
            },

            validate() {
                let isValidated = true;

                if (!this.values.email) {
                    this.errors.email = 'Поле эл. почты не может быть пустым';
                    isValidated = false;
                }
                const regExp = /^(([^<>()[\]\\.,;:\s@]+(\.[^<>()[\]\\.,;:\s@]+)*)|(.+))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                if (!regExp.test(this.values.email)) {
                    this.errors.email = 'Эл. почта введена неверно';
                    isValidated = false;
                }

                return isValidated;
            },
        },
    };
</script>

<style lang="scss" module>
    .SubscribeForm {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .inputs {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .input {
        position: relative;
        margin-bottom: 4.4rem;
    }

    .button {
        width: 100%;
    }

    .small {
        min-height: 1.6rem;
        margin-bottom: 2.4rem;
        color: $base-200;

        @include respond-to(xs) {
            margin-bottom: 16px;
        }

        a {
            color: $secondary-300;
        }
    }
</style>
