<template>
    <div class="v-bean-button"
         :class="classes"
         @click.capture="$emit('click')">
        <VCircleButton class="v-bean-button__inner"
                       :color="color"
                       :href="href"
                       :link="link"
                       :blank="blank"
                       :hovered="hovered"
                       size-hover
                       inverse
                       @mouseleave.native="$emit('mouseleave')"
                       @mouseenter.native="$emit('mouseenter')">
            <IconPlus class="frame-icon v-bean-button__icon v-bean-button__icon--plus" />
            <IconPlay class="frame-icon v-bean-button__icon v-bean-button__icon--play" />
        </VCircleButton>
    </div>
</template>

<script>
    import VCircleButton from './VCircleButton';
    import IconPlus from '../../icons/IconPlus';
    import IconPlay from '../../icons/IconPlay';

    export default {
        name: 'VBeanButton',

        components: {
            IconPlay,
            IconPlus,
            VCircleButton,
        },

        props: {
            color: {
                type: String,
                default: 'redline',
            },

            href: {
                type: String,
                default: '',
            },

            link: {
                type: [String, Object],
                default: '',
            },

            blank: {
                type: Boolean,
                default: false,
            },

            absolute: Boolean,
            hovered: Boolean,
        },

        computed: {
            classes() {
                return [
                    `v-bean-button--${this.color}`,
                    {
                        'is-absolute': this.absolute,
                        'is-hovered': this.hovered,
                    },
                ];
            },
        },
    };
</script>

<style lang="scss">
    $transition: .4s linear;

    .v-bean-button {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 14.4rem;
        height: 7.2rem;
        padding-right: 1.3rem;
        border-radius: 32rem;
        transform-origin: 82% 44%;
        transform: rotate(-30deg);

        $block: &;

        @include respond-to(xs) {
            width: 90px;
            height: 46px;
            padding-right: 8px;
            border-radius: 200px;
        }

        &.is-absolute {
            position: absolute;
        }

        &.is-hovered {
            #{$block}__inner {
                #{$block}__icon {
                    &--play {
                        opacity: 1;
                        transform: translate(-50%, -50%) translateZ(0);
                    }

                    &--plus {
                        opacity: 0;
                        transform: translate(50%, -50%) translateZ(0);
                    }
                }
            }
        }

        &--redline {
            background-color: $redline;
        }

        &--vice {
            background-color: $vice;
        }

        &__inner {
            position: relative;
            transform: rotate(30deg);

            @include hover {
                &:hover {
                    #{$block}__icon {
                        &--play {
                            opacity: 1;
                            transform: translate(-50%, -50%) translateZ(0);
                        }

                        &--plus {
                            opacity: 0;
                            transform: translate(50%, -50%) translateZ(0);
                        }
                    }
                }
            }
        }

        &__icon {
            position: relative;
            will-change: transform;
            transition: opacity $transition, transform $transition;

            &--play {
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                transform: translate(-100%, 0%) translateZ(0);
            }
        }
    }
</style>
