<template>
    <n-link v-if="link"
            ref="container"
            :to="link"
            class="v-button"
            :class="classes"
            :disabled="disabled"
            @click.native="onClick"
            @mouseenter.native="handleMouseListener"
            @mouseleave.native="handleMouseListener">
        <span class="v-button__hover"
              :style="transformOrigin">
        </span>

        <span v-if="$slots.leftAddon"
              class="v-button__addon is-left">
            <slot name="leftAddon"></slot>
        </span>

        <span v-if="$slots.default"
              class="v-button__text">
            <slot></slot>
        </span>

        <span v-if="$slots.rightAddon"
              class="v-button__addon is-right">
            <slot name="rightAddon"></slot>
        </span>
    </n-link>
    <component :is="component"
               v-else
               ref="container"
               v-bind="linkProperties"
               class="v-button"
               :class="classes"
               :disabled="disabled"
               :type="!link && !href ? type : null"
               @click="onClick"
               @mouseenter="handleMouseListener"
               @mouseleave="handleMouseListener">
        <span class="v-button__hover"
              :style="transformOrigin">
        </span>

        <span v-if="$slots.leftAddon"
              class="v-button__addon is-left">
            <slot name="leftAddon"></slot>
        </span>

        <span v-if="$slots.default"
              class="v-button__text">
            <slot></slot>
        </span>

        <span v-if="$slots.rightAddon"
              class="v-button__addon is-right">
            <slot name="rightAddon"></slot>
        </span>
    </component>
</template>

<script>
    export default {
        name: 'VButton',

        props: {
            /**
             * Определяет классы, которые будут модифицировать размер
             */
            size: {
                type: String,
                default: 'medium',
                validator(value) {
                    return ['large', 'medium', 'small'].indexOf(value) !== -1;
                },
            },
            /**
             * Определяет классы, которые будут модифицировать цвет
             */
            color: {
                type: String,
                default: 'default',
            },

            hoverColor: {
                type: String,
                default: '',
            },
            /**
             * Определяет как цвет будет заполнять кнопку
             */
            outline: Boolean,
            /**
             * Очевидно, что это свойство задизейблет кнопку
             */
            disabled: Boolean,
            /**
             * Если true, тогда кнопка занимает всю ширину контейнера
             */
            rounded: Boolean,

            icon: Boolean,

            absolute: Boolean,

            type: {
                type: String,
                default: 'button',
            },
            href: {
                type: String,
                default: '',
            },
            link: {
                type: [String, Object],
                default: '',
            },
            blank: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                positionX: 50,
                positionY: 50,
            };
        },

        computed: {
            component() {
                if (this.href) {
                    return 'a';
                } else if (this.link) {
                    return 'n-link';
                }
                return 'button';
            },

            linkProperties() {
                const linkProperties = {};
                if (this.link) {
                    linkProperties.to = this.link;
                } else if (this.href) {
                    linkProperties.href = this.href;
                }

                if (this.blank) {
                    linkProperties.target = '_blank';
                }
                return linkProperties;
            },

            classes() {
                return [
                    `v-button--${this.color}`,
                    `v-button--${this.size}`,
                    {
                        [`v-button--hover-${this.hoverColor}`]: this.hoverColor,
                        'is-outline': this.outline,
                        'is-disabled': this.disabled,
                        'is-rounded': this.rounded,
                        'is-absolute': this.absolute,
                        'has-right-addon': !this.icon && this.$slots.rightAddon,
                        'has-left-addon': !this.icon && this.$slots.leftAddon,
                    },
                ];
            },

            transformOrigin() {
                return {transformOrigin: `${this.positionX}% ${this.positionY}%`};
            },
        },

        methods: {
            onClick(e) {
                if (this.disabled || this.loading) {
                    return;
                }
                this.$emit('click', e);
            },

            handleMouseListener(e) {
                if (this.$device.isMobileOrTablet) {
                    return;
                }
                const container = this.$refs.container?.$el ? this.$refs.container.$el : this.$refs.container;

                if (container) {
                    const x = e.offsetX / container.offsetWidth;
                    const y = (e.offsetY + ((container.offsetWidth - container.offsetHeight) / 2)) / container.offsetWidth;
                    this.positionX = 100 * (x - .5);
                    this.positionY = 100 * (y - .5);
                }
            },
        },
    };
</script>

<style lang="scss">
    $transition: .8s $bezier;

    .v-button {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: $font-family;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;
        transition: color $transition, background-color $transition, border-color $transition;
        border-radius: 2.8rem;
        user-select: none;
        outline: none;
        overflow: hidden;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        $block: &;

        @include hover {
            &:hover {
                #{$block}__hover {
                    transform: scale(1) translate3d(-50%, -50%, 0);
                }
            }

            &:active {
                //
            }
        }

        &.is-rounded {
            width: 100%;
        }

        &.is-absolute {
            position: absolute;
        }

        /* Colors */
        &--default {
            border: $redline;
            background-color: $redline;
            color: $milk;

            &.is-disabled {
                background-color: $base-100;
                color: $base-300;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: $base-500;
            }

            &:active {
                #{$block}__hover {
                    background-color: $base-700;
                }
            }

            &.is-outline {
                border: 1px solid $redline;
                background-color: transparent;
                color: $redline;

                @include hover {
                    &:hover {
                        //
                    }

                    &:active {
                        //
                    }
                }

                &.is-disabled {
                    pointer-events: none;
                }
            }
        }

        &--inverse {
            border: $redline;
            background-color: $redline;
            color: $milk;

            &.is-disabled {
                background-color: $base-100;
                color: $base-300;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: $milk;
            }

            &:active {
                #{$block}__hover {
                    background-color: $base-50;
                }
            }

            @include hover {
                &:hover {
                    color: $base-500;
                }
            }

            &.is-outline {
                border: 1px solid $redline;
                background-color: transparent;
                color: $redline;

                @include hover {
                    &:hover {
                        //
                    }

                    &:active {
                        //
                    }
                }

                &.is-disabled {
                    pointer-events: none;
                }
            }
        }

        &--milk {
            border: $milk;
            background-color: $milk;
            color: $base-500;

            &.is-disabled {
                background-color: rgba($milk, .16);
                color: $base-200;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: rgba($base-100, .8);
            }

            &:active {
                #{$block}__hover {
                    background-color: $base-100;
                }
            }

            &#{$block}--hover-pink {
                #{$block}__hover {
                    background-color: $pink;
                }

                &:active {
                    #{$block}__hover {
                        background-color: rgba($pink, .8);
                    }
                }
            }

            &#{$block}--hover-violet {
                #{$block}__hover {
                    background-color: $violet;
                }

                &:active {
                    #{$block}__hover {
                        background-color: rgba($violet, .8);
                    }
                }
            }

            @include hover {
                &:hover {
                    color: $milk;
                }
            }
        }

        &--milk-vice {
            background-color: $milk;
            color: $vice;

            &.is-disabled {
                background-color: rgba($milk, .16);
                color: $base-200;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: $secondary-400;
            }

            &:active {
                #{$block}__hover {
                    background-color: rgba($secondary-400, .8);
                }
            }

            @include hover {
                &:hover {
                    color: $milk;
                }
            }
        }

        &--milk-redline {
            background-color: $milk;
            color: $redline;

            &.is-disabled {
                background-color: rgba($milk, .16);
                color: $base-200;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: $primary-400;
            }

            &:active {
                #{$block}__hover {
                    background-color: rgba($primary-400, .8);
                }
            }

            @include hover {
                &:hover {
                    color: $milk;
                }
            }
        }

        &--milk-moxxy {
            background-color: $milk;
            color: $moxxy;

            &.is-disabled {
                background-color: rgba($milk, .16);
                color: $base-200;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: $tertiary-400;
            }

            &:active {
                #{$block}__hover {
                    background-color: rgba($tertiary-400, .8);
                }
            }

            @include hover {
                &:hover {
                    color: $milk;
                }
            }
        }

        &--milk-elysium {
            background-color: $milk;
            color: $elysium;

            &.is-disabled {
                background-color: rgba($milk, .16);
                color: $base-200;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: $quaternary-400;
            }

            &:active {
                #{$block}__hover {
                    background-color: rgba($quaternary-400, .8);
                }
            }

            @include hover {
                &:hover {
                    color: $milk;
                }
            }
        }

        &--vice {
            border: $secondary-100;
            background-color: $secondary-100;
            color: $vice;

            &.is-disabled {
                border: $secondary-100;
                background-color: $secondary-100;
                color: $secondary-300;
                pointer-events: none;
            }

            #{$block}__hover {
                background-color: $vice;
            }

            &:active {
                #{$block}__hover {
                    background-color: $secondary-700;
                }
            }

            @include hover {
                &:hover {
                    color: $milk;

                    #{$block}__hover {
                        background-color: $vice;
                    }
                }
            }
        }

        &--trans {
            background-color: rgba($milk, .08);
            color: $milk;

            &.is-disabled {
                color: $base-200;
                pointer-events: none;
            }

            &:hover {
                #{$block}__hover {
                    background-color: rgba($milk, .24);
                }
            }

            &:active {
                #{$block}__hover {
                    background-color: rgba($milk, .24);
                }
            }
        }

        /* End colors */

        /* Sizes */
        &--large {
            height: 5.6rem;
            padding: 0 4rem;
            font-size: 1.6rem;
            line-height: 1;

            .v-button__text {
                padding-top: .3rem;
            }

            @include respond-to(xs) {
                padding: 0 44px;
            }
        }

        &--medium {
            height: 5.6rem;
            padding: 0 4rem;
            font-size: 1.6rem;
            line-height: 1;

            .v-button__text {
                padding-top: .3rem;
            }

            @include respond-to(xs) {
                height: 40px;
                padding: 0 30px;
                font-size: 14px;
            }
        }

        &--small {
            height: 3.2rem;
            padding: 0 2.4rem;
            font-size: 1.4rem;
            line-height: 1.16;

            .v-button__text {
                padding-top: .2rem;
            }

            @include respond-to(sm) {
                height: 40px;
            }
        }

        /* End Sizes */

        /* Modificators */

        /* End Modificators */

        &__hover {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            width: calc(100% + 5px);
            padding-top: 100%;
            border-radius: 20rem;
            transform: scale(0) translate3d(-50%, -50%, 0);
            backface-visibility: hidden;
            transition: transform .4s $bezier, background-color .8s $bezier, border-color .8s $bezier;
        }

        &__text {
            position: relative;
            z-index: 1;
            display: flex;
            pointer-events: none;
            transform: translateZ(0);
        }

        &__addon {
            position: relative;
            z-index: 1;
            display: flex;
            flex-shrink: 0;
            pointer-events: none;

            &.is-left {
                margin-right: 4px;
            }

            &.is-right {
                margin-left: 4px;
            }
        }
    }
</style>
