<template>
    <component :is="component"
               v-bind="linkProperties"
               class="v-circle-button"
               :class="classes"
               :disabled="disabled"
               :type="!link && !href && !tag ? type : null"
               @click="onClick">

        <span class="v-circle-button__icon">
            <slot></slot>
        </span>
    </component>
</template>

<script>
    export default {
        name: 'VCircleButton',

        props: {
            /**
             * Определяет классы, которые будут модифицировать размер
             */
            size: {
                type: String,
                default: 'medium',
            },
            /**
             * Определяет классы, которые будут модифицировать цвет
             */
            color: {
                type: String,
                default: 'default',
            },

            hoverColor: {
                type: String,
                default: '',
            },

            inverse: Boolean,
            /**
             * Определяет как цвет будет заполнять кнопку
             */
            outline: Boolean,
            /**
             * Очевидно, что это свойство задизейблет кнопку
             */
            disabled: Boolean,
            icon: Boolean,
            type: {
                type: String,
                default: 'button',
            },
            href: {
                type: String,
                default: '',
            },
            link: {
                type: [String, Object],
                default: '',
            },
            blank: {
                type: Boolean,
                default: false,
            },

            hasHover: {
                type: Boolean,
                default: true,
            },

            sizeHover: {
                type: Boolean,
                default: false,
            },

            tag: {
                type: String,
                default: '',
            },

            absolute: Boolean,
            fixed: Boolean,
            bordered: Boolean,
            hovered: Boolean,
        },

        computed: {
            component() {
                if (this.href) {
                    return 'a';
                } else if (this.link) {
                    return 'n-link';
                } else if (this.tag) {
                    return this.tag;
                }
                return 'button';
            },

            linkProperties() {
                const linkProperties = {};
                if (this.link) {
                    linkProperties.to = this.link;
                } else if (this.href) {
                    linkProperties.href = this.href;
                }

                if (this.blank) {
                    linkProperties.target = '_blank';
                }
                return linkProperties;
            },

            classes() {
                return [
                    `v-circle-button--${this.color}`,
                    `v-circle-button--${this.size}`,
                    {
                        [`v-circle-button--hover-${this.hoverColor}`]: this.hoverColor,
                        'is-outline': this.outline,
                        'is-disabled': this.disabled,
                        'is-inverse': this.inverse,
                        'is-size-hover': this.sizeHover,
                        'has-hover': this.hasHover,
                        'is-absolute': this.absolute,
                        'is-fixed': this.fixed,
                        'is-bordered': this.bordered,
                        'is-hovered': this.hovered,
                    },
                ];
            },
        },

        methods: {
            onClick(e) {
                if (this.disabled || this.loading) {
                    return;
                }
                this.$emit('click', e);
            },
        },
    };
</script>

<style lang="scss">
    .v-circle-button {
        position: relative;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .4s;
        user-select: none;
        outline: none;
        transform: perspective(0) translate3d(0, 0, 0);

        $block: &;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate3d(-50%, -50%, 0);
            box-sizing: border-box;
            transition: transform .4s $bezier, background-color .8s $bezier, border-color .8s $bezier;
        }

        &:after {
            z-index: 1;
            transform: translate3d(-50%, -50%, 0) scale(0);
        }

        &.is-absolute {
            position: absolute;
        }

        &.is-fixed {
            position: fixed;
        }

        &.is-disabled {
            pointer-events: none;
        }

        /* Colors */
        &--default {
            color: $base-400;

            &:before {
                border: rgba($base-100, .4);
                background-color: rgba($base-100, .4);
            }

            &:after {
                border: rgba($base-100, .8);
                background-color: rgba($base-100, .8);
            }

            &:active {
                &:after {
                    background-color: $base-100;
                }
            }

            &.is-disabled {
                color: $base-200;

                &:before {
                    background-color: rgba($base-100, .4);
                }
            }

            &.is-outline {
                &:before {
                    border: 1px solid $base-100;
                    background-color: transparent;
                }

                @include hover {
                    &:hover {
                        &:before {
                            background-color: rgba($base-100, .4);
                        }
                    }

                    &:active {
                        //
                    }
                }

                &.is-disabled {
                    pointer-events: none;
                }
            }
        }

        &--night {
            color: $milk;

            &:before {
                background-color: $base-500;
            }

            &:after {
                border: rgba($milk, .24);
                background-color: rgba($milk, .24);
            }

            &:active {
                &:after {
                    background-color: rgba($milk, .32);
                }
            }

            &.is-disabled {
                color: $base-200;

                &:before {
                    background-color: rgba($milk, .08);
                }
            }
        }

        &--night-dark {
            color: $milk;

            &:before {
                border: $base-500;
                background-color: $base-500;
            }

            &:after {
                border: rgba($milk, .24);
                background-color: $base-500;
            }

            &:active {
                &:after {
                    background-color: $base-500;
                }
            }
        }

        &--night-opacity {
            color: $milk;

            &:before {
                border: rgba($base-500, .32);
                background-color: rgba($base-500, .32);
            }
        }

        &--milk {
            color: $base-500;

            &:before {
                background-color: $milk;
            }

            &:after {
                background-color: $base-100;
            }

            &.is-bordered {
                &:before {
                    border: 1px solid $base-100;
                }
            }

            &.is-disabled {
                color: rgba($base-500, .6);

                &:before {
                    background-color: rgba($base-100, .8);
                }
            }

            &#{$block}--hover-pink {
                &:after {
                    background-color: $pink;
                }

                &:active {
                    &:after {
                        background-color: rgba($pink, .8);
                    }
                }
            }

            &#{$block}--hover-violet {
                &:after {
                    background-color: $violet;
                }

                &:active {
                    &:after {
                        background-color: rgba($violet, .8);
                    }
                }
            }

            &.is-inverse {
                color: $milk;

                &:before {
                    border: rgba($milk, .08);
                    background-color: rgba($milk, .08);
                }

                &:after {
                    border: rgba($milk, .24);
                    background-color: rgba($milk, .24);
                }

                &:active {
                    &:after {
                        background-color: rgba($milk, .32);
                    }
                }

                &.is-disabled {
                    color: $base-200;

                    &:before {
                        background-color: rgba($milk, .08);
                    }
                }
            }

            &:active {
                color: $milk;

                &:after {
                    background-color: $base-100;
                }
            }

            @include hover {
                &:hover {
                    color: $milk;
                }
            }

            &.is-outline {
                color: $milk;

                &:before {
                    border: 1px solid $milk;
                    background-color: transparent;
                }

                @include hover {
                    &:hover {
                        //
                    }

                    &:active {
                        //
                    }
                }
            }
        }

        &--moxxy {
            color: $milk;

            &:before {
                border: $moxxy;
                background-color: $moxxy;
            }

            &:after {
                background-color: $milk;
            }

            &:active {
                &:after {
                    background-color: transparent;
                }
            }

            &.is-disabled {
                color: $base-300;

                &:before {
                    background-color: $base-100;
                }
            }

            @include hover {
                &:hover {
                    color: $base-500;
                }
            }

            &.is-inverse {
                color: $moxxy;

                &:before {
                    border: $milk;
                    background-color: $milk;
                }
            }

            @include hover {
                &:hover {
                    //
                }

                &:active {
                    //
                }
            }
        }

        &--redline {
            color: $milk;

            &:before {
                border: $redline;
                background-color: $redline;
            }

            &:after {
                background-color: $milk;
            }

            &:active {
                &:after {
                    background-color: transparent;
                }
            }

            &.is-disabled {
                color: $base-300;

                &:before {
                    background-color: $base-100;
                }
            }

            &.is-hovered {
                color: $base-500;
            }

            @include hover {
                &:hover {
                    color: $base-500;
                }
            }

            &.is-inverse {
                color: $redline;

                &:before {
                    background-color: $milk;
                }

                &:after {
                    background-color: $base-100;
                }
            }

            &#{$block}--hover-night {
                &:after {
                    background-color: $base-500;
                }

                &:active {
                    &:after {
                        background-color: $base-700;
                    }
                }

                @include hover {
                    &:hover {
                        color: $milk;
                    }
                }

                &.is-disabled {
                    color: $base-300;

                    &:before {
                        background-color: $base-100;
                    }
                }
            }
        }

        &--vice {
            color: $milk;

            &:before {
                border: $vice;
                background-color: $vice;
            }

            &:after {
                background-color: $milk;
            }

            &:active {
                &:after {
                    background-color: transparent;
                }
            }

            &.is-disabled {
                color: $base-300;

                &:before {
                    background-color: $base-100;
                }
            }

            @include hover {
                &:hover {
                    color: $base-500;
                }
            }

            &.is-inverse {
                color: $vice;

                &:before {
                    border: $milk;
                    background-color: $milk;
                }
            }

            @include hover {
                &:hover {
                    //
                }

                &:active {
                    //
                }
            }
        }

        /* End colors */

        /* Sizes */
        &--big {
            width: 4.8rem;
            height: 4.8rem;

            @include respond-to(sm) {
                width: 64px;
                height: 64px;
            }

            @include respond-to(xs) {
                width: 40px;
                height: 40px;
            }
        }

        &--large {
            width: 5.6rem;
            height: 5.6rem;

            @include respond-to(xs) {
                width: 48px;
                height: 48px;
            }
        }

        &--medium {
            width: 4.8rem;
            height: 4.8rem;

            @include respond-to(xs) {
                width: 32px;
                height: 32px;
            }
        }

        &--medium-small {
            width: 4.8rem;
            height: 4.8rem;

            @include respond-to(sm) {
                width: 40px;
                height: 40px;
            }

            @include respond-to(xs) {
                width: 32px;
                height: 32px;
            }
        }

        &--small {
            width: 4rem;
            height: 4rem;
        }

        &--tiny {
            width: 3.2rem;
            height: 3.2rem;

            @include respond-to(xs) {
                width: 20px;
                height: 20px;
            }
        }

        &--xsmall {
            width: 2.4rem;
            height: 2.4rem;
        }

        /* End Sizes */

        /* Modificators */

        &.has-hover {
            &.is-size-hover {
                &:after {
                    content: none;
                }

                @include hover {
                    &:hover {
                        &:before {
                            transform: translate(-50%, -50%) translateZ(0) scale(1.16);
                        }
                    }
                }

                &.is-hovered {
                    &:before {
                        transform: translate(-50%, -50%) translateZ(0) scale(1.16);
                    }
                }
            }

            &.is-hovered:not(.is-size-hover) {
                &:after {
                    transform: translate(-50%, -50%) translateZ(0) scale(1.05);
                }
            }

            @include hover {
                &:hover {
                    &:after {
                        transform: translate(-50%, -50%) translateZ(0) scale(1.05);
                    }
                }
            }
        }

        /* End Modificators */

        &__icon {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transform: translate(-50%, -50%) translateZ(0);
            pointer-events: none;

            svg {
                flex-shrink: 0;
                transition: fill .4s $bezier, opacity .4s $bezier, transform .4s $bezier;
            }
        }
    }
</style>
