<template>
    <button :class="['v-heart-button', classes]"
            :absolute="absolute"
            @click.stop.prevent="$emit('click')">
        <IconFavoriteFill
            class="v-heart-button__icon frame-icon"
            :class="iconClasses"
        />

        <template v-if="isParticlesVisible">
            <span class="v-heart-button__particles">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </template>
    </button>
</template>

<script>
    import IconFavoriteFill from '../../icons/IconFavoriteFill';

    export default {
        name: 'VHeartButton',

        components: {
            IconFavoriteFill,
        },

        props: {
            active: Boolean,
            absolute: Boolean,

            size: {
                type: String,
                default: 'medium',
            },
        },

        data() {
            return {
                isParticlesVisible: false,
            };
        },

        computed: {
            classes() {
                return [
                    `v-heart-button--${this.size}`,
                    {
                        'is-active': this.active,
                        'is-absolute': this.absolute,
                        'is-particles-visible': this.isParticlesVisible,
                    },
                ];
            },

            iconClasses() {
                return {
                    'is-medium': this.size === 'medium',
                };
            },
        },

        watch: {
            active(val) {
                if (val) {
                    this.$yandexMetrika.reachGoal('favorites');
                    if (!this.isParticlesVisible) {
                        this.showParticles();
                    }
                }
            },
        },

        methods: {
            showParticles() {
                this.isParticlesVisible = true;
                setTimeout(() => {
                    this.isParticlesVisible = false;
                }, 1000);
            },
        },
    };
</script>

<style lang="scss">
    .v-heart-button {
        position: relative;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: $base-400;
        border-radius: 50%;
        user-select: none;
        cursor: pointer;
        outline: none;
        transition: color .6s $bezier;

        $block: &;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            box-sizing: border-box;
            transform: translate3d(-50%, -50%, 0);
            transition: background-color .8s $bezier, transform .4s $bezier;
        }

        &:before {
            background-color: $base-100;
            opacity: .4;
        }

        &:after {
            background-color: $base-400;
            transform: translate3d(-50%, -50%, 0) scale(0);
        }

        @include hover {
            &:hover,
            &:active {
                color: $milk;

                &:after {
                    background-color: $redline;
                    transform: translate3d(-50%, -50%, 0) scale(1.05);
                }
            }
        }

        /* size */
        &--medium {
            width: 4rem;
            height: 4rem;
        }

        &--large {
            width: 5.6rem;
            height: 5.6rem;

            @include respond-to(xs) {
                width: 48px;
                height: 48px;
            }
        }

        /* end size */

        /* mode */
        &.is-active {
            color: $redline;

            &:after {
                transform: translate3d(-50%, -50%, 0) scale(0);
            }

            @include hover {
                &:hover,
                &:active {
                    &:before {
                        background-color: $primary-100;
                    }

                    &:after {
                        color: $redline;
                    }
                }
            }
        }

        &.is-absolute {
            position: absolute;
        }

        &.is-particles-visible {
            color: $redline;

            #{$block}__icon {
                transform: scale(0);
                animation: scale-icon .5s ease-in forwards .2s;
            }
        }

        /* emd mode */

        &__icon {
            position: relative;
            z-index: 1;
        }

        &__particles {
            position: absolute;
            width: 150%;
            height: 150%;
            color: $redline;
            opacity: 0;
            transform: scale(0);
            animation: show-particles .5s ease-out forwards .4s;

            & span {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: .5rem;
                    height: .5rem;
                    opacity: .7;
                    border-radius: 50%;
                    background-color: currentColor;
                }

                &:before {
                    animation: scale-particle .5s ease-out forwards .4s;
                }

                &:after {
                    width: .15rem;
                    height: .15rem;
                    opacity: .5;
                    transform: translate(-.2rem, -.2rem);
                }
            }

            @for $i from 1 through 7 {
                & span:nth-child(#{$i}) {
                    transform: rotate($i * 50deg);
                }
            }
        }

        @keyframes show-particles {
            0% {
                opacity: 0;
                transform: scale(0);
            }

            20% {
                opacity: 1;
                transform: scale(1);
            }

            70% {
                opacity: 1;
                transform: scale(1.1);
            }

            100% {
                opacity: 0;
                transform: scale(1.2);
            }
        }

        @keyframes scale-particle {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(.5);
            }
        }

        @keyframes scale-icon {
            0% {
                opacity: 0;
                transform: scale(0);
            }

            25% {
                opacity: 1;
            }

            75% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }
    }
</style>
