<template>
    <div :class="$style.Map">
        <VSelect v-if="$mq === 'xs'"
                 :class="[$style.select, {[$style._moved]: hoveredProject}]"
                 :value="activeCity && activeCity.id ? activeCity.id : ''"
                 label-name="name"
                 value-name="id"
                 :color="activeCity && activeCity.id ? activeCity.city_class : 'night'"
                 :options="[{id: '', name: 'во всех городаx'}, ...filteredCities]"
                 @input="onOptionsChange">
            <IconPinBig
                class="frame-icon is-xsmall"
            />
        </VSelect>
        <VTabs v-else
               :class="$style.tabs">
            <VTab v-if="!filteredCity"
                  :active="activeView === 'all'"
                  @click="onChangeView('all')">
                Россия
            </VTab>
            <VTab v-for="city in filteredCities"
                  :key="city.id + 1000"
                  :active-color="city.city_class"
                  :active="activeCity && activeCity.id === city.id"
                  @click="onChangeView('city', city)">
                {{ city.name }}
            </VTab>
        </VTabs>

        <transition name="fade">
            <div v-if="activeView === 'all'"
                 :key="'all'"
                 :class="$style.boxWrapper">
                <div :class="$style.box">
                    <div ref="body"
                         :class="$style.body"
                         :style="position">
                        <div :class="$style.preview"
                             :style="{backgroundImage: `url(${mapImagePreview})`}">
                            <div ref="wrapper"
                                 :class="[$style.imageWrapper, {[$style._loaded] : isLoaded}]">
                                <img ref="image"
                                     :src="mapImageDisplay"
                                     :class="$style.origin"
                                     alt="карта"
                                     @load="handleImageLoad">

                                <MapCityPin
                                    v-for="city in cities"
                                    :key="city.id"
                                    :class="[$style.pin, {[$style._blured]: hoveredCity && hoveredCity.id !== city.id}]"
                                    :city="city"
                                    :scale-value="scaleValue"
                                    @change-view="onChangeView"
                                    @project-enter="onProjectOpen"
                                    @project-leave="onProjectClose"
                                    @city-enter="onCityEnter"
                                    @city-leave="onCityLeave"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="isMobile"
                     ref="overlay"
                     :class="[$style.overlay, {[$style._visible]: isOverlayVisible}]"
                     @click.stop="handleOverlayClick">
                    <p :class="$style.desc">
                        Используйте палец для перемещения
                    </p>
                    <IconFinger :class="$style.finger" />
                </div>
            </div>

            <div v-else
                 :key="'city'"
                 :class="$style.mapWrapper">
                <div ref="map"
                     :class="$style.map">
                </div>
                <ZoomButtons
                    :class="[$style.zoom, {[$style._moved]: hoveredProject && !isMobile}]"
                    @zoom-in="zoomIn"
                    @zoom-out="zoomOut"
                />
            </div>
        </transition>

        <MapPopup v-if="hoveredProject"
                  @click="onProjectClose">
            <component
                :is="projectKind === 'commercial' ? 'MapCommercialProjectCard' : 'MapResidentialProjectCard'"
                :not-leave="notLeave"
                :project="hoveredProject"
            />
        </MapPopup>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    import {throttle} from '../../../assets/js/utils/commonUtils';
    import {initMap, getTileLayer, genHtmlMarker} from '../../../assets/js/utils/mapUtils';

    /* components */
    import MapCityPin from './MapCityPin';
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import MapResidentialProjectCard from './MapResidentialProjectCard';
    import MapCommercialProjectCard from '../../pages/commercial/CommercialMapCard';
    import IconPinBig from '../../icons/IconPinBig';
    import ZoomButtons from '../map/ZoomButtons';
    import VSelect from '../../ui/select/VSelect';
    import MapPopup from './MapPopup';
    import IconFinger from '../../icons/IconFinger';

    let L;
    if (process.browser) {
        L = require('leaflet');
        require('leaflet.markercluster');
    }

    export default {
        name: 'Map',

        components: {
            IconFinger,
            MapCommercialProjectCard,
            MapPopup,
            IconPinBig,
            VSelect,
            ZoomButtons,
            VTab,
            VTabs,
            MapCityPin,
            MapResidentialProjectCard,
        },

        props: {
            notLeave: Boolean,

            inboxCities: {
                type: Array,
                default: () => [],
            },

            projectKind: {
                type: String,
                default: 'residential',
            },

            filteredCity: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                map: undefined,
                featureGroup: {},

                hoveredCity: null,
                activeCity: null,
                hoveredProject: null,

                activeView: 'all',
                isLoaded: false,
                isTicking: false,
                isInitMap: false,
                isOverlayVisible: true,

                preview: '',
                origin: '/images/map/map-desktop.png',
                imgEl: null,

                iw: 1,
                ih: 1,
                ww: 1,
                wh: 1,

                center: [],
                cities: [],
                projectsCluster: false,

                throttleResize: null,
            };
        },

        computed: {
            ...mapState({
                mainMap: state => state.main_map,
            }),

            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            mapImageDisplay() {
                return this.mainMap?.imageDesktopDisplay ? this.mainMap.imageDesktopDisplay : this.origin;
            },

            mapImagePreview() {
                return this.mainMap?.imageDesktopPreview ? this.mainMap.imageDesktopPreview : '';
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            filteredCities() {
                return this.projectKind === 'residential' ? this.cities.filter(item => item.hasActiveProjects) : this.cities.filter(item => item.hasActiveProjects && item.isCommercial);
            },

            imageRatio() {
                return this.iw / this.ih;
            },

            windowRatio() {
                return this.ww / this.wh;
            },

            position() {
                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return '';
                }

                if (this.windowRatio > this.imageRatio) {
                    return {
                        width: this.iw + 'px',
                        height: this.ih + 'px',
                        transform: `scale(${this.ww / this.iw}) translate(0px, ${(this.wh - (this.ih * (this.ww / this.iw))) / 2}px)`,
                    };
                }
                return {
                    width: this.iw + 'px',
                    height: this.ih + 'px',
                    transform: `scale(${this.wh / this.ih}) translate(${(this.ww - (this.iw * this.wh / this.ih)) / 2}px, 0px)`,
                };
            },

            scaleValue() {
                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return 1;
                }
                return this.windowRatio > this.imageRatio ? this.iw / this.ww : this.ih / this.wh;
            },
        },

        watch: {
            activeView(val) {
                if (val === 'all') {
                    this.$nextTick(() => {
                        if (this.$refs.overlay) {
                            this.$refs.overlay.addEventListener('touchstart', this.handleOverlayClick, false);
                        }
                    });
                } else {
                    this.isOverlayVisible = true;
                }
            },
        },

        mounted() {
            this.imgEl = new Image();
            this.imgEl.addEventListener('load', this.handleImageLoad);
            this.imgEl.src = this.mapImageDisplay;
            this.prepareCities();
            this.throttleResize = throttle(this.handleResize, 1000);
            window.addEventListener('resize', this.throttleResize);
            if (this.filteredCity) {
                this.chooseCity(this.filteredCity);
            }

            if (this.$refs.overlay) {
                this.$refs.overlay.addEventListener('touchstart', this.handleOverlayClick, false);
            }
        },

        beforeDestroy() {
            this.imgEl.removeEventListener('load', this.handleImageLoad);
            window.removeEventListener('resize', this.throttleResize);
            if (this.$refs.overlay) {
                this.$refs.overlay.removeEventListener('touchstart', this.handleOverlayClick, false);
            }
        },

        methods: {
            prepareCities() {
                this.cities = this.inboxCities.map(city => {
                    const obj = {
                        ...city,
                        city_class: this.cityClass(city.color),
                    };

                    if (city?.localCoords?.length) {
                        obj.position = city.localCoords.split(',').map(coord => Number(coord));
                    }

                    if (city?.latitude && city?.longitude) {
                        obj.center = [city.latitude, city.longitude];
                    }

                    if (city?.projectSet?.length) {
                        const projects = [];
                        const filteredProjects = city.projectSet.filter(project => this.projectKind === 'commercial' ? project.isCommercial : project.isResidential);

                        for (let i = 0; i < filteredProjects.length; i++) {
                            const project = filteredProjects[i];
                            if (project?.latitude && project?.longitude) {
                                projects.push({
                                    ...project,
                                    coords: [project.latitude, project.longitude],
                                });
                            }
                        }

                        obj.projectSet = projects.slice();
                    }

                    return obj;
                });
            },

            initMap() {
                const center = this.activeCity.center;

                if (this.isInitMap) {
                    if (Object.keys(this.projectsCluster).length) {
                        this.projectsCluster.clearLayers();
                    }
                    this.addProjectPins();
                } else {
                    this.map = initMap(this.$refs.map, {center: center});
                    const tile = getTileLayer();
                    tile.addTo(this.map);

                    this.projectsCluster = L.markerClusterGroup({
                        animateAddingMarkers: true,
                        animate: true,
                        showCoverageOnHover: false,
                        spiderfyOnMaxZoom: false,
                        disableClusteringAtZoom: 12,
                        iconCreateFunction: cluster => L.divIcon({
                            html: `<div class="infra-cluster _${this.cityClass(this.activeCity.color)}"><span>${cluster.getChildCount()}</span></div>`,
                        }),
                    });

                    this.addProjectPins();
                    this.isInitMap = true;
                }
            },

            addProjectPins() {
                this.activeCity.projectSet.forEach(project => {
                    this.projectsCluster.addLayer(this.createProjectPin(project));
                });

                this.map.addLayer(this.projectsCluster);
                this.flyTo();
            },

            createProjectPin(project) {
                const html = `
                        <div class="project-marker _${this.cityClass(this.activeCity.color)} project-marker--small ${this.notLeave ? 'not-hovered' : ''}">
                            <span class="project-marker__image"
                                  style="background-image: url(${project.imageDisplay})">
                            </span>
                            <div class="project-marker__info">
                                <span class="project-marker__label">
                                    ${project.name}
                                </span>
                                <span class="project-marker__hover-label">
                                    Открыть проект
                                </span>
                             </div>
                        </div>`;
                return genHtmlMarker(project.coords, html)
                    .on('mouseover', () => {
                        if (this.$device.isMobileOrTablet) {
                            return;
                        }

                        this.onProjectOpen(project);
                    })
                    .on('mouseout', () => {
                        if (this.$device.isMobileOrTablet) {
                            return;
                        }
                        this.onProjectClose();
                    })
                    .on('click', () => {
                        this.onProjectOpen(project, true);
                    });
            },

            flyTo() {
                this.map.flyToBounds(this.projectsCluster.getBounds(), {
                    maxZoom: 17,
                    padding: [16, 16],
                });
            },

            zoomIn() {
                this.map.zoomIn();
            },

            zoomOut() {
                this.map.zoomOut();
            },

            chooseCity(id) {
                const city = this.cities.find(item => item.id === id);
                this.onChangeView('city', city);
                this.onProjectClose();
            },

            handleImageLoad() {
                const iw = this.$refs.image?.naturalWidth;
                const ih = this.$refs.image?.naturalHeight;
                const ww = this.$parent.$refs.container?.offsetWidth;
                const wh = this.$parent.$refs.container?.offsetHeight;

                this.iw = iw;
                this.ih = ih;
                this.ww = ww;
                this.wh = wh;

                this.$nextTick(() => {
                    this.isLoaded = true;
                });
            },

            handleResize() {
                if (!this.isTicking && window.innerWidth >= 768) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateWindowSize);
                }
            },

            updateWindowSize() {
                this.wh = this.$parent.$refs.container.offsetHeight;
                this.ww = this.$parent.$refs.container.offsetWidth;
                this.isTicking = false;
            },

            onProjectOpen(project, click = false) {
                this.hoveredProject = project;

                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return;
                }

                if (click && !this.notLeave) {
                    const routeData = this.$router.resolve(`/projects/${project.slug}`);
                    window.open(routeData.href, '_blank');
                }
                this.$emit('open-project');
            },

            onProjectClose() {
                this.hoveredProject = null;
                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return;
                }
                this.$emit('close-project');
            },

            onChangeView(view, city = null) {
                this.activeView = view;
                this.activeCity = city;

                if (view === 'city') {
                    this.$nextTick(() => {
                        this.initMap();
                    });
                } else {
                    this.hoveredCity = null;
                    this.isInitMap = false;
                }
                this.$emit('view-change', view);
            },

            onCityEnter(city) {
                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return;
                }

                this.hoveredCity = city;
            },

            onCityLeave() {
                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return;
                }

                this.hoveredCity = null;
            },

            onOptionsChange(value) {
                if (value) {
                    this.chooseCity(value);
                } else {
                    this.onChangeView('all');
                }
            },

            handleOverlayClick() {
                this.isOverlayVisible = false;
                this.$refs.overlay.removeEventListener('touchstart', this.handleOverlayClick, false);
            },
        },
    };
</script>

<style lang="scss" module>
    .Map {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .mapWrapper {
        position: relative;
        height: 100%;
    }

    .preview {
        position: relative;
        height: 100%;

        @include respond-to(sm) {
            display: flex;
            width: auto;
            height: 100%;
        }
    }

    .map {
        height: 100%;
        z-index: 0;
    }

    .zoom {
        position: absolute;
        right: 5.6rem;
        bottom: 5.2rem;
        z-index: 2;
        will-change: transform;
        transition: transform .3s linear;
        transition-delay: 0s;

        &._moved {
            transform: translateX(-44.7rem);
            transition-delay: .05s;
        }

        @include respond-to(sm) {
            right: 40px;
            bottom: 40px;
        }

        @include respond-to(xs) {
            right: 16px;
            bottom: 16px;
        }
    }

    .boxWrapper {
        position: relative;
        height: 100%;
    }

    .box {
        height: 100%;

        @include respond-to(sm) {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
    }

    .body {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;

        @include respond-to(sm) {
            position: relative;
            width: auto;
            height: 100%;
        }
    }

    .imageWrapper {
        position: relative;
        display: flex;
        width: 100%;
        opacity: 0;
        transition: opacity .4s linear;

        &._loaded {
            opacity: 1;
        }

        @include respond-to(sm) {
            width: auto;
        }
    }

    .origin {
        display: block;

        @include respond-to(sm) {
            width: auto;
            height: 100%;
            max-height: 100vh;
        }
    }

    .tabs {
        position: absolute;
        top: 5.2rem;
        left: calc((100% - #{$container-width-desktop-xl}) / 2);
        z-index: 3;

        @include respond-to(lg) {
            left: calc((100% - #{$container-width-desktop}) / 2);
        }

        @include respond-to(sm) {
            top: 40px;
            left: 40px;
        }
    }

    .select {
        position: absolute;
        top: 28px;
        left: 16px;
        z-index: 5;
        will-change: transform, left;
        transition: transform $default-transition, left $default-transition;

        &._moved {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .pin {
        transition: opacity $default-transition;

        &._blured {
            opacity: .32;
            pointer-events: none;
        }
    }

    .popup {
        z-index: 4;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba($base-500, .8);
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s linear;

        @include respond-to(sm) {
            display: block;
        }

        &._visible {
            opacity: 1;
            pointer-events: all;
        }
    }

    .desc {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 180px;
        color: $milk;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -1px;

        @include respond-to(xs) {
            left: 16px;
        }
    }

    .finger {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4.8rem;
        height: 4.8rem;
        transform: translate(-50%, -50%);
    }
</style>
