<template>
    <div :class="[$style.MapCityPin, classes]"
         :style="position"
         @click.stop.prevent="handleChangeView"
         @mouseenter="handleCityEnter"
         @mouseleave="handleCityLeave">
        <div v-if="isRose"
             :class="[$style.rose, {[$style._hovereble]: isHoverebleProjects}]">
            <div v-for="project in city.projectSet"
                 :key="project.id"
                 :class="$style.projectPinWrapper">
                <div :class="[$style.projectPin, {[$style._hovered]: hoveredProject && hoveredProject.id === project.id, [$style._blured]: hoveredProject && hoveredProject.id !== project.id,[$style['not-hovered']]: notLeave}]"
                     @mouseenter="handleProjectEnter(project)"
                     @mouseleave="handleProjectLeave"
                     @click="handleProjectClick(project)">
                    <div :class="$style.labelWrapper">
                        <span :class="$style.labelName"
                              v-html="project.name">
                        </span>
                        <span :class="$style.labelOpen">
                            Открыть проект
                        </span>
                    </div>

                    <span :class="$style.projectImage"
                          :style="{backgroundImage: `url(${project.imageDisplay})`}">
                    </span>
                    <IconPlus
                        :class="$style.projectIcon"
                        class="frame-icon"
                    />
                </div>
            </div>
        </div>

        <span v-if="count && city.active"
              :class="$style.count">
            <span>
                {{ count }}
            </span>
        </span>
        <button type="button"
                class="btn-reset"
                :class="$style.btn">
            <IconPlus
                :class="[$style.icon, $style._plus]"
                class="frame-icon"
            />
            <IconArrowRightLong
                :class="[$style.icon, $style._arrow]"
                class="frame-icon"
            />
        </button>

        <span :class="$style.name"
              v-html="name">
        </span>
    </div>
</template>

<script>
    import IconPlus from '../../icons/IconPlus';
    import IconArrowRightLong from '../../icons/IconArrowRightLong';

    export default {
        name: 'MapCityPin',

        components: {
            IconArrowRightLong,
            IconPlus,
        },

        props: {
            notLeave: Boolean,

            city: {
                type: Object,
                default: () => ({}),
            },

            scaleValue: {
                type: Number,
                default: 1,
            },
        },

        data() {
            return {
                hoveredProject: null,
                isHoverebleProjects: false,
                isVisibleProjects: false,
            };
        },

        computed: {
            position() {
                if (!this.city.position) {
                    return;
                }
                return {
                    top: `${this.city.position[1]}%`,
                    left: `${this.city.position[0]}%`,
                    transform: `scale(${this.scaleValue}) translate(-50%, -50%)`,
                };
            },

            classes() {
                return [
                    [this.$style[`_${this.city.city_class}`]],
                    {
                        [this.$style['is-active']]: this.isVisibleProjects,
                        [this.$style['is-disabled']]: !this.city.hasActiveProjects || !this.count,
                    },
                ];
            },

            isRose() {
                return this.city.active && this.city.projectSet;
            },

            count() {
                return this.city.projectSet ? this.city.projectSet.length : 0;
            },

            name() {
                return this.city.hasActiveProjects ? this.city.name : `${this.city.name}<br>скоро`;
            },
        },

        watch: {
            isVisibleProjects(val) {
                this.isHoverebleProjects = val;
            },
        },

        methods: {
            handleChangeView() {
                this.$emit('change-view', 'city', this.city);
            },

            handleProjectEnter(project) {
                this.hoveredProject = project;
                this.$emit('project-enter', project);
            },

            handleProjectLeave() {
                this.hoveredProject = null;
                this.$emit('project-leave');
            },

            handleProjectClick() {
                if (!this.notLeave) {
                    // this.$router.push(`/projects/${project.slug}`);
                }
            },

            handleCityEnter() {
                if (window.innerWidth < 992) {
                    return;
                }
                if (this.isVisibleProjects) {
                    return;
                }
                this.isVisibleProjects = true;
                this.$emit('city-enter', this.city);
            },

            handleCityLeave() {
                this.isVisibleProjects = false;
                this.$emit('city-leave');
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s linear;

    .MapCityPin {
        position: absolute;
        left: -1000px;
        top: -1000px;
        z-index: 1;
        transform: translateZ(0);

        /* colors */
        &._redline {
            color: $redline;
        }

        &._moxxy {
            color: $moxxy;
        }

        &._vice {
            color: $vice;
        }

        &._kain {
            color: $kain;
        }

        &._elysium {
            color: $elysium;
        }

        /* end colors */
        &.is-active {
            .icon {
                &._arrow {
                    opacity: 1;
                    transform: translate(-50%, -50%) translateZ(0) rotate(-45deg);
                }

                &._plus {
                    opacity: 0;
                    transform: translate(50%, -50%) translateZ(0);
                }
            }

            .rose {
                opacity: 1;
            }

            .count,
            .name {
                opacity: 0;
                pointer-events: none;
            }
        }

        &.is-disabled {
            z-index: 0;
            pointer-events: none;
            color: $base-100;
        }
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        background-color: currentColor;
    }

    .icon {
        position: relative;
        color: $milk;
        will-change: transform, opacity;
        transition: opacity $transition, transform $transition;

        &._arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-100%, 0%) translateZ(0) rotate(-45deg);
        }
    }

    .count {
        position: absolute;
        right: -.8rem;
        top: -.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        border: .4rem solid $milk;
        background-color: currentColor;
        transition: opacity $transition;

        span {
            margin-top: .2rem;
            font-size: 1.2rem;
            line-height: 1.04;
            color: $milk;
        }
    }

    .name {
        position: absolute;
        bottom: -1.2rem;
        left: 50%;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        transform: translate(-50%, 100%);
        transition: opacity $transition;
    }

    .rose {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4.8rem;
        height: 4.8rem;
        transform: translate(-50%, -50%) translateZ(0);
        pointer-events: none;
        opacity: 0;
        will-change: opacity;
        transition: opacity $default-transition;

        &._hovereble {
            pointer-events: auto;
        }
    }

    .projectPinWrapper {
        position: absolute;
        bottom: 50%;
        left: 50%;
        display: flex;
        justify-content: flex-end;
        width: 8.8rem;
        height: 9.5rem;
        transform-origin: bottom center;
        transform: translate(-50%, 0) translateZ(0);

        &:first-child {
            justify-content: center;
            width: 4.8rem;
            height: 9.2rem;
            transform: translate(-50%, 0) translateZ(0);

            .labelWrapper {
                left: 50%;
                top: -1.2rem;
                transform: translate(-50%, -100%) translateZ(0);
            }

            .labelOpen {
                left: 50%;
                transform: translate(-50%, 100%) translateZ(0);
            }
        }

        &:nth-child(2) {
            transform: translate(-50%, 0) rotate(45deg) translateZ(0);

            .projectPin {
                transform: rotate(-45deg);

                &._hovered {
                    .labelOpen {
                        transform: translate(0, 0) translateZ(0);
                    }
                }
            }

            .labelWrapper {
                top: 50%;
                left: 100%;
                display: flex;
                transform: translate(2.2rem, -50%) translateZ(0);
            }

            .labelOpen {
                left: 0;
                transform: translate(0, 100%) translateZ(0);
            }
        }

        &:nth-child(3) {
            transform: translate(-50%, 0) rotate(104deg) translateZ(0);

            .projectPin {
                transform: rotate(-104deg);

                &._hovered {
                    .labelOpen {
                        transform: translate(0, 0) translateZ(0);
                    }
                }
            }

            .labelWrapper {
                top: 50%;
                left: 100%;
                transform: translate(2.2rem, -50%) translateZ(0);
            }

            .labelOpen {
                left: 0;
                transform: translate(0, 100%) translateZ(0);
            }
        }

        &:nth-child(4) {
            bottom: auto;
            top: 50%;
            left: 0;
            align-items: flex-end;
            justify-content: flex-start;
            height: 9.2rem;
            transform: translate(0, 0) translateZ(0);

            .labelWrapper {
                left: 50%;
                bottom: -1.6rem;
                transform: translate(-50%, 100%) translateZ(0);
            }

            .labelOpen {
                left: 50%;
                transform: translate(-50%, 100%) translateZ(0);
            }
        }

        &:nth-child(5) {
            bottom: auto;
            top: 50%;
            align-items: flex-end;
            justify-content: flex-start;
            transform: translate(-50%, 0) rotate(45deg) translateZ(0);
            transform-origin: top center;

            .projectPin {
                transform: rotate(-45deg);

                &._hovered {
                    .labelOpen {
                        transform: translate(0, 0) translateZ(0);
                    }
                }
            }

            .labelWrapper {
                top: 50%;
                right: 100%;
                display: flex;
                justify-content: flex-end;
                transform: translate(-2rem, -50%) translateZ(0);
            }

            .labelOpen {
                right: 0;
                transform: translate(0, 100%) translateZ(0);
            }
        }

        &:nth-child(6) {
            bottom: auto;
            top: 50%;
            align-items: flex-end;
            justify-content: flex-start;
            transform: translate(-50%, 0) rotate(104deg) translateZ(0);
            transform-origin: top center;

            .projectPin {
                transform: rotate(-104deg);

                &._hovered {
                    .labelOpen {
                        transform: translate(0, 0) translateZ(0);
                    }
                }
            }

            .labelWrapper {
                top: 50%;
                right: 100%;
                transform: translate(-1.8rem, -50%) translateZ(0);
            }

            .labelOpen {
                right: 0;
                transform: translate(0, 100%) translateZ(0);
            }
        }
    }

    .projectPin {
        position: relative;
        display: flex;
        align-items: center;
        width: 4.8rem;
        height: 4.8rem;
        border: .4rem solid currentColor;
        background-color: currentColor;
        border-radius: 50%;
        cursor: pointer;
        will-change: transform, opacity;
        transition: opacity $default-transition, transform $default-transition;

        &:not(.not-hovered) {
            &._blured {
                opacity: .32;
            }

            &._hovered {
                .projectImage {
                    opacity: 0;
                }

                .projectIcon {
                    opacity: 1;
                }

                .labelName {
                    transform: translateY(-100%) translateZ(0);
                    opacity: 0;
                }

                .labelOpen {
                    opacity: 1;
                    transform: translate(-50%, 0) translateZ(0);
                }
            }
        }
    }

    .projectImage {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        will-change: opacity;
        transition: opacity $default-transition;
        pointer-events: none;
    }

    .projectIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $milk;
        transform: translate(-50%, -50%) translateZ(0);
        opacity: 0;
        will-change: opacity;
        transition: opacity $default-transition;
        pointer-events: none;
    }

    .labelWrapper {
        position: absolute;
        min-width: 13rem;
        pointer-events: none;
        overflow: hidden;
        text-align: center;
    }

    .labelName,
    .labelOpen {
        position: relative;
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        white-space: nowrap;
        will-change: opacity, transform;
        transition: opacity $default-transition, transform $default-transition;
    }

    .labelOpen {
        position: absolute;
        top: 0;
        opacity: 0;
        will-change: opacity, transform;
        transform: translateZ(0);
        transform-origin: center;
    }
</style>
