<template>
    <transition name="map-popup"
                appear
                :duration="1000"
                @enter="handleEnter"
                @before-leave="closePopup">
        <div :class="[$style.MapPopup, classes]">
            <div :class="$style.overlay">
            </div>
            <div v-if="$mq === 'sm'"
                 :class="$style.back">
                <VCircleButton color="milk"
                               bordered
                               :size="$mq === 'xs' ? 'big' : 'medium'"
                               @click="$emit('click')">
                    <IconArrowRightLong
                        :class="$style.arrow"
                    />
                </VCircleButton>
            </div>
            <slot name="header"></slot>
            <div :class="$style.content">
                <div v-if="$mq === 'xs'"
                     :class="$style.header">
                    <VCircleButton color="milk"
                                   bordered
                                   :size="$mq === 'xs' ? 'big' : 'medium'"
                                   @click="$emit('click')">
                        <IconArrowRightLong
                            :class="$style.arrow"
                        />
                    </VCircleButton>

                    <slot name="title"></slot>
                </div>
                <div :class="$style.body">
                    <slot></slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRightLong from '../../icons/IconArrowRightLong';

    export default {
        name: 'MapPopup',

        components: {
            IconArrowRightLong,
            VCircleButton,
        },

        data() {
            return {
                visible: false,
            };
        },

        computed: {
            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            classes() {
                return {
                    [this.$style._visible]: this.visible,
                };
            },
        },

        methods: {
            closePopup() {
                this.visible = false;
                this.$emit('close');
            },

            handleEnter() {
                this.$nextTick(() => {
                    setTimeout(() => {
                        this.visible = true;
                    }, 10);
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .MapPopup {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        display: flex;
        flex-direction: column;
        height: 100%;

        &._visible {
            .overlay,
            .back {
                opacity: 1;
            }

            .content {
                transform: translate3d(0, 0, 0);
            }
        }

        &:global(.map-popup-leave-active) {
            .overlay,
            .back {
                opacity: 0;
            }

            .content {
                transform: translate3d(100%, 0, 0);

                @include respond-to(sm) {
                    transform: translate3d(-100%, 0, 0);
                }

                @include respond-to(xs) {
                    transform: translate3d(100%, 0, 0);
                }
            }
        }

        @include respond-to(sm) {
            width: 100%;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        will-change: opacity;
        transition: opacity .3s linear;

        @include respond-to(sm) {
            background-color: rgba($base-500, .88);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        will-change: transform;
        transform: translate3d(100%, 0, 0);
        transition: transform .3s linear;

        @include respond-to(sm) {
            transform: translate3d(-100%, 0, 0);
        }

        @include respond-to(xs) {
            transform: translate3d(100%, 0, 0);
        }
    }

    .header {
        display: none;
        padding: 16px;
        background-color: $base-50;
        border-bottom: 1px solid $base-100;

        @include respond-to(xs) {
            display: block;
        }
    }

    .back {
        position: absolute;
        z-index: 5;
        display: none;
        opacity: 0;
        will-change: opacity;
        transition: opacity .3s linear;

        @include respond-to(sm) {
            display: block;
            top: 40px;
            right: 104px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .arrow {
        width: 4rem;
        height: 4rem;
        fill: currentColor;
        transform: rotate(180deg);
    }

    .body {
        height: 100%;

        @include respond-to(xs) {
            overflow-y: scroll;
        }
    }
</style>
