<template>
    <div :class="[$style.MapProjectCard, classes]">
        <div :class="$style.body">
            <h2 v-if="project.name"
                :class="$style.title"
                v-html="project.name">
            </h2>

            <p v-if="project.title"
               :class="$style.subtitle"
               class="label"
               v-html="project.title">
            </p>

            <!--time-->
            <div v-if="project.city"
                 :class="$style.cell">
                <div :class="$style.label">
                    {{ cityName }} {{ metroName }}
                </div>

                <div :class="$style.value">
                    <div v-if="project.transport"
                         :class="$style.time">
                        <span>
                            {{ project.transportTime }} мин.
                        </span>

                        <div v-if="project.transport.iconContent"
                             :class="$style.icon"
                             class="frame-icon is-small"
                             v-html="project.transport.iconContent">
                        </div>

                        <div v-else
                             :class="[$style.icon, $style._background]"
                             class="frame-icon is-small"
                             :style="{backgroundImage: `url(${project.transport.icon})`}">
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="project.deadline"
                 :class="[$style.cell, $style._completion]">
                <span :class="$style.label">
                    Срок сдачи
                </span>
                <span :class="$style.value"
                      v-html="completion"></span>
            </div>

            <div v-if="project.minFlatPrice"
                 :class="[$style.cell, $style._price]">
                <span :class="$style.label">
                    Стоимость
                </span>
                <span :class="$style.value">
                    от {{ project.minFlatPrice|roundToMillions }} млн
                </span>
            </div>

            <div
                v-if="project.flatAreaRange && project.flatAreaRange.min && project.flatAreaRange.max"
                :class="[$style.cell, $style._area]">
                <span :class="$style.label">
                    Площадь
                </span>
                <span :class="$style.value">
                    {{
                        project.flatAreaRange.min ? project.flatAreaRange.min.toLocaleString() : ''
                    }}
                    -
                    {{
                        project.flatAreaRange.max ? project.flatAreaRange.max.toLocaleString() : ''
                    }}
                    м<sup>2</sup>
                </span>
            </div>

            <div v-if="project.minRateOffers"
                 :class="$style.tag">
                <VTag :color="cityColorClass">
                    ипотека {{ project.minRateOffers.toLocaleString() }}%
                </VTag>
            </div>

            <div :class="$style.list">
                <n-link v-if="project.flats0MinPrice"
                        :to="`/flats/?rooms=0&project=${projectId}`"
                        :class="$style.item">
                    <span :class="$style.label">
                        Студии
                    </span>
                    <span :class="$style.value">
                        от {{ Number(project.flats0MinPrice)|roundToMillions }} млн
                        <span class="rub">&#8381;</span>
                    </span>
                    <IconArrowLeft
                        class="frame-icon"
                        :class="$style.arrow"
                    />
                </n-link>

                <n-link v-if="project.flats1MinPrice"
                        :to="`/flats/?rooms=1&project=${projectId}`"
                        :class="$style.item">
                    <span :class="$style.label">
                        1-комнатные
                    </span>
                    <span :class="$style.value">
                        от {{ Number(project.flats1MinPrice)|roundToMillions }} млн
                        <span class="rub">&#8381;</span>
                    </span>
                    <IconArrowLeft
                        class="frame-icon"
                        :class="$style.arrow"
                    />
                </n-link>

                <n-link v-if="project.flats2MinPrice"
                        :to="`/flats/?rooms=2&project=${projectId}`"
                        :class="$style.item">
                    <span :class="$style.label">
                        2-комнатные
                    </span>
                    <span :class="$style.value">
                        от {{ Number(project.flats2MinPrice)|roundToMillions }} млн
                        <span class="rub">&#8381;</span>
                    </span>
                    <IconArrowLeft
                        class="frame-icon"
                        :class="$style.arrow"
                    />
                </n-link>

                <n-link v-if="project.flats3MinPrice"
                        :to="`/flats/?rooms=3&project=${projectId}`"
                        :class="$style.item">
                    <span :class="$style.label">
                        3-комнатные
                    </span>
                    <span :class="$style.value">
                        от {{ Number(project.flats3MinPrice)|roundToMillions }} млн
                        <span class="rub">&#8381;</span>
                    </span>
                    <IconArrowLeft
                        class="frame-icon"
                        :class="$style.arrow"
                    />
                </n-link>

                <n-link v-if="project.flats4MinPrice"
                        :to="`/flats/?rooms=4&project=${projectId}`"
                        :class="$style.item">
                    <span :class="$style.label">
                        4-комнатные
                    </span>
                    <span :class="$style.value">
                        от {{ Number(project.flats4MinPrice)|roundToMillions }} млн
                        <span class="rub">&#8381;</span>
                    </span>
                    <IconArrowLeft
                        class="frame-icon"
                        :class="$style.arrow"
                    />
                </n-link>
            </div>

            <div :class="$style.links">
                <VButton :link="`/projects/${project.slug}`"
                         color="vice"
                         rounded>
                    О проекте
                </VButton>

                <VButton :class="$style.link"
                         :link="`/flats/?project=${projectId}`"
                         rounded>
                    Выбрать квартиру
                </VButton>
            </div>

            <div v-if="project.minFlatMortgage"
                 :class="$style.mortgage">
                <p :class="$style.banks">
                    <span v-if="project.bankLogo1"
                          :class="$style.bankLogo"
                          :style="{backgroundImage: `url(${project.bankLogo1})`}">
                    </span>
                    <span v-if="project.bankLogo2"
                          :class="$style.bankLogo"
                          :style="{backgroundImage: `url(${project.bankLogo2})`}">
                    </span>
                </p>
                <p :class="[$style.value, $style._mortgage]">
                    <span>В ипотеку</span>
                    <span :class="$style.mortgageValue">
                        от {{ project.minFlatMortgage|splitThousands }}
                        <span class="rub">&#8381;</span>/мес
                    </span>
                </p>

                <IconArrowLeft
                    class="frame-icon"
                    :class="$style.mortgageArrow"
                />
            </div>
        </div>

        <div :class="$style.imageWrap">
            <img :class="$style.image"
                 :src="project.cardImage"
            >
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    /* components */
    import VTag from '../../ui/tag/VTag';
    import IconArrowLeft from '../../icons/IconArrowLeft';
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'MapProjectResidentialCard',

        components: {
            VButton,
            IconArrowLeft,
            VTag,
        },

        props: {
            notLeave: Boolean,

            project: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            classes() {
                return this.$style[`_${this.cityColorClass}`];
            },

            cityColorClass() {
                return this.cityClass(this.project.city.color);
            },

            cityName() {
                return this.project.city?.shortName ? this.project.city.shortName : this.project.city?.name ? this.project.city.name : '';
            },

            metroName() {
                return this.project.metro?.name ? `/ ${this.project.metro.name}` : '';
            },

            projectId() {
                return this.project.id ? this.project.id : '';
            },

            completion() {
                const year = new Date(this.project.deadline).getFullYear();
                const month = new Date(this.project.deadline).getMonth() + 1;
                const quarter = month >= 1 && month < 4
                    ? '&#8544;'
                    : month >= 4 && month < 6
                        ? '&#8545;'
                        : month >= 6 && month < 8
                            ? '&#8546;'
                            : '&#8547;';

                return `${quarter} кв. ${year}`;
            },
        },
    };
</script>

<style lang="scss" module>
    .MapProjectCard {
        display: flex;
        flex-direction: column;
        width: 44.7rem;
        height: 100%;
        background-color: $base-50;
        border-left: 1px solid $base-100;
        overflow: hidden;

        @include respond-to(sm) {
            width: 384px;
            height: 100%;
            border-left: none;
            border-right: 1px solid $base-100;
        }

        @include respond-to(xs) {
            width: 100%;
            height: auto;
            min-height: 100%;
            border-right: none;
            background-color: #fff;
        }

        &._vice {
            color: $vice;

            .subtitle,
            .mortgageValue {
                color: $vice;
            }
        }

        &._redline {
            color: $redline;

            .subtitle,
            .mortgageValue {
                color: $redline;
            }
        }

        &._moxxy {
            color: $moxxy;

            .subtitle,
            .mortgageValue {
                color: $moxxy;
            }
        }
    }

    .body {
        padding: 5.2rem 5.6rem 0;

        @include respond-to(sm) {
            padding: 0 40px 30px;
        }

        @include respond-to(xs) {
            padding: 0 16px 24px;
        }
    }

    .title {
        font-size: 2.4rem;
        line-height: 1.24;
        font-weight: 500;
        color: $base-500;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 22px;
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .subtitle {
        margin-top: .8rem;
        margin-bottom: 3.2rem;

        @include respond-to(xs) {
            margin-top: 4px;
            margin-bottom: 24px;
        }
    }

    .cell {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-right: 4rem;
        margin-bottom: 1.3rem;
        font-size: 1.6rem;
        line-height: 1.52;

        &._car {
            line-height: 1;

            @include respond-to(sm) {
                margin-right: -3px;
            }
        }

        &._walk {
            line-height: 1;

            @include respond-to(sm) {
                margin-right: -6px;
            }
        }

        &._area {
            display: none;

            @include respond-to(sm) {
                display: flex;
            }
        }

        &._price {
            display: none;

            @include respond-to(sm) {
                display: flex;
            }
        }

        @include respond-to(sm) {
            padding-right: 0;
            margin-bottom: 10px;

            &._completion {
                display: none;
            }
        }

        @include respond-to(xs) {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .label {
        flex-shrink: 0;
        white-space: nowrap;
        color: $base-300;
        margin-right: auto;
    }

    .value {
        flex-shrink: 0;
        color: $base-500;
        font-weight: 500;

        @include respond-to(xs) {
            font-size: 14px;

            &._mortgage {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .time {
        display: flex;

        span {
            margin-right: .4rem;
        }
    }

    .icon {
        align-self: flex-start;
        width: 2rem;
        height: 2rem;

        & svg {
            width: 100%;
            height: 100%;
        }

        &._background {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .tag {
        margin-top: 1.1rem;
        margin-bottom: 3.2rem;

        @include respond-to(sm) {
            margin-top: 14px;
            margin-bottom: 28px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    .mortgage {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 3.2rem;

        @include respond-to(sm) {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid $base-100;
        }
    }

    .banks {
        display: flex;
        margin-right: 1.6rem;
    }

    .bankLogo {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        border: .4rem solid $base-50;
        background-color: $base-50;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        backface-visibility: hidden;

        @include respond-to(xs) {
            width: 36px;
            height: 36px;
        }

        &:first-child {
            position: relative;
            z-index: 2;
            margin-right: -2.4rem;

            @include respond-to(xs) {
                margin-right: -12px;
            }
        }
    }

    .mortgageArrow {
        display: none;

        @include respond-to(xs) {
            display: block;
            margin-left: auto;
        }
    }

    .list {
        padding: 3.2rem 0;
        margin: -.6rem 0;
        border-top: 1px solid $base-100;
        border-bottom: 1px solid $base-100;

        @include respond-to(sm) {
            margin: -10px 0;
            padding: 0;
            border: none;
        }
    }

    .item {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: .6rem 0;
        font-size: 1.6rem;
        line-height: 1.52;
        transition: opacity $default-transition;

        @include hover {
            &:hover {
                opacity: .8;
            }
        }

        @include respond-to(sm) {
            align-items: center;
            padding: 10px 14px 8px 0;

            &:not(:last-child) {
                border-bottom: 1px solid $base-100;
            }
        }

        @include respond-to(xs) {
            padding-left: 16px;
            padding-right: 30px;
            margin: 0 -16px;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .arrow {
        display: none;
        position: absolute;
        right: -2rem;
        top: 50%;
        transform: translateY(-50%);

        @include respond-to(sm) {
            display: block;
        }

        @include respond-to(xs) {
            right: 3px;
        }
    }

    .imageWrap {
        position: relative;
        flex-shrink: 0;
        margin-top: auto;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 36.2rem;
            height: 36.2rem;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(13%, 26%) translateZ(0);

            @include respond-to(sm) {
                width: 263px;
                height: 263px;
                transform: translate(20%, 30%) translateZ(0);
            }

            @include respond-to(xs) {
                width: 81vw;
                height: 81vw;
                transform: translate(38%, 25%) translateZ(0);
            }
        }

        @include aspect-ratio(480, 300);

        @include respond-to(sm) {
            order: -1;
            margin-top: 0;

            @include aspect-ratio(390, 272);
        }

        @include respond-to(xs) {
            background-color: $base-50;
        }
    }

    .image {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .links {
        display: none;
        margin-top: 2.8rem;

        @include respond-to(sm) {
            display: block;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }

    .link {
        margin-top: 1.6rem;
    }
</style>
