<template>
    <div :class="$style.LotHeroPlans">
        <div :class="$style.top">
            <!--adds-->
            <div v-if="tags && tags.length"
                 :class="[$style.panel, {[$style._single]: !isDisplayFraction}]">
                <GalleryFraction
                    v-if="$mq === 'xs' && isDisplayFraction"
                    ref="pagination"
                    :class="$style.fraction"
                />
                <div ref="slider"
                     :class="[$style.panelContainer, {'swiper-container': $device.isMobile}]">
                    <div v-if="tags && tags.length"
                         :class="$style.panelWrapper"
                         class="swiper-wrapper">
                        <div v-for="item in tags"
                             :key="item.id"
                             :class="[$style.panelItem, {'swiper-slide': $device.isMobile}]">
                            <VCircleButton size="large"
                                           outline
                                           :has-hover="false">
                                <component
                                    :is="item.icon"
                                    class="frame-icon"
                                    :class="$style.icon"
                                />
                            </VCircleButton>
                            <div :class="$style.tooltip"
                                 v-html="item.label">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div :class="$style.layoutsWrapper">
                <!--miniPlan-->
                <div v-if="miniplan"
                     :class="$style.miniPlan">
                    <div :class="$style.layoutMini"
                         :style="{backgroundImage: `url(${miniplan})`}">
                    </div>
                    <svg :class="$style.svg"
                         :viewBox="`0 0 ${lot.building.miniPlanWidth} ${lot.building.miniPlanHeight}`"
                         xmlns="http://www.w3.org/2000/svg"
                         xml:space="preserve">
                        <g :class="$style.miniplanHightlighting"
                           v-html="sectionMiniplanHover" />
                    </svg>
                </div>

                <!--compass-->
                <div :class="$style.compass"
                     :style="{transform: `rotate(${azimuth}deg)`}">
                    <Compass />
                </div>

                <!--layouts-->
                <div :class="$style.layouts">
                    <transition name="fade-fast"
                                mode="out-in">
                        <!--plan-->
                        <div v-if="activeLayout === 'plan'"
                             :key="'plan'"
                             :class="[$style.box, $style._flat]">
                            <div :class="$style.plan"
                                 :style="{backgroundImage: `url(${lotDefaultPlan})`}">
                            </div>

                            <!--sun-->
                            <div v-if="realtyType === 'flat' && lot.plan"
                                 :class="$style.sunWrapper"
                                 :style="sunAzimuth">
                                <div :class="$style.sunBody"
                                     :style="sunRotating">
                                    <PlanSun :percent="sunPercents" />
                                </div>
                            </div>
                        </div>

                        <!--floor-->
                        <div v-else-if="activeLayout === 'floor'"
                             :key="'floor'"
                             :class="[$style.box, $style._floor]">
                            <div :class="$style.plan"
                                 :style="{backgroundImage: `url(${lot.floor.plan})`}">
                                <svg :class="$style.svg"
                                     :viewBox="`0 0 ${lot.floor.planWidth} ${lot.floor.planHeight}`">
                                    <g :class="[$style.flatHightlighting, hightlightingPlanClass]"
                                       v-html="lot.planHover" />
                                </svg>
                            </div>
                        </div>

                        <!--genplan-->
                        <div v-else-if="activeLayout === 'genplan'"
                             :key="'genplan'"
                             :class="[$style.box, $style._genplan]">
                            <LotHeroPlansGenplan
                                :genplan-width="lot.project.planSpecsWidth"
                                :genplan-height="lot.project.planSpecsHeight"
                                :genplan-preview="lot.project.planPreview"
                                :genplan-origin="lot.project.planDisplay"
                                :building-hover="lot.building.planHover"
                            />
                        </div>
                    </transition>
                </div>
            </div>
        </div>

        <!--tabs-->
        <div v-if="realtyType === 'flat'"
             :class="$style.controls">
            <VTabs :class="$style.tabs">
                <VTab :active="activeLayout === 'plan'"
                      @click="onTabClick('plan')">
                    Планировка
                </VTab>

                <VTab v-if="isDisplayFloorTab"
                      :active="activeLayout === 'floor'"
                      @click="onTabClick('floor')">
                    На этаже
                </VTab>

                <VTab v-if="isDisplayGenplanTab"
                      :active="activeLayout === 'genplan'"
                      @click="onTabClick('genplan')">
                    На генплане
                </VTab>

                <VTab v-if="lot.planoplan"
                      @click="onOpenVr">
                    VR
                </VTab>
            </VTabs>

            <PlanSunSlider
                v-if="lot.plan"
                :class="[$style.slider, {[$style._visible]: activeLayout === 'plan'}]"
                @change="onSunValueChange"
            />
        </div>

        <VTabs v-else
               :class="[$style.tabs, $style._single]">
            <VTab :active="activeLayout === 'plan'"
                  @click="onTabClick('plan')">
                Планировка
            </VTab>

            <VTab v-if="isDisplayFloorTab"
                  :active="activeLayout === 'floor'"
                  @click="onTabClick('floor')">
                На плане
            </VTab>
        </VTabs>
    </div>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {formatFraction, renderFraction} from '../../../../assets/js/utils/swiperUtils';

    /* components */
    import VCircleButton from '../../../ui/button/VCircleButton';
    import Compass from '../../Compass';
    import VTabs from '../../../ui/tabs/VTabs';
    import VTab from '../../../ui/tabs/VTab';
    import GalleryFraction from '../../gallery/GalleryFraction';
    import PlanSunSlider from './PlanSunSlider';
    import PlanSun from './PlanSun';
    import IconCar from '../../../icons/IconCar';
    import IconSun from '../../../icons/IconSun';
    import IconHighCeiling from '../../../icons/IconHighCeiling';
    import IconWindow from '../../../icons/IconWindow';
    import LotHeroPlansGenplan from '../../../pages/flat-id/LotHeroPlansGenplan';
    import IframeModal from '../../../layout/modals/IframeModal';

    export default {
        name: 'LotHeroPlans',

        components: {
            LotHeroPlansGenplan,
            PlanSun,
            PlanSunSlider,
            GalleryFraction,
            VTab,
            VTabs,
            Compass,
            VCircleButton,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },
        },

        data() {
            return {
                sunPercents: 0,
                slider: null,
                activeLayout: 'plan',
                roomsColor: {
                    0: 'elysium',
                    1: 'vice',
                    2: 'moxxy',
                    3: 'redline',
                    4: 'kain',
                },
            };
        },

        computed: {
            lotDefaultPlan() {
                return this.lot.plan ? this.lot.plan : '/images/flat/flat-placeholder.svg';
            },

            hightlightingPlanClass() {
                return this.lot.rooms ? [this.$style[`_${this.roomsColor[this.lot.rooms]}`]] : [this.$style._vice];
            },

            miniplan() {
                return this.lot.building?.miniPlan ? this.lot.building.miniPlan : '';
            },

            sectionMiniplanHover() {
                return this.lot.section?.miniPlanHover ? this.lot.section.miniPlanHover : '';
            },

            azimuth() {
                return this.lot.building?.compassAzimuth ? this.lot.building.compassAzimuth : 0;
            },

            sunAzimuth() {
                return `transform: translate3d(-50%, -45%, 0) rotate(${this.azimuth}deg);`;
            },

            sunRotating() {
                const angle = this.sunPercents / 100 * 180;
                return `transform: translate3d(-50%, -50%, 0) rotate(${angle}deg);`;
            },

            isDisplayFraction() {
                return this.tags && this.tags.length > 1;
            },

            isDisplayFloorTab() {
                return this.lot.floor && this.lot.floor.plan && this.lot.planHover;
            },

            isDisplayGenplanTab() {
                return this.lot.project && this.lot.project.planDisplay && this.lot.building && this.lot.building.planHover;
            },

            tags() {
                const tags = [];
                if (this.lot.hasParking) {
                    tags.push({
                        label: 'Паркинг в подарок',
                        icon: IconCar,
                    });
                }
                if (this.lot.isSunSide) {
                    tags.push({
                        label: 'Солнечная сторона',
                        icon: IconSun,
                    });
                }
                if (this.lot.hasHighCeiling) {
                    tags.push({
                        label: 'Высокие потолки',
                        icon: IconHighCeiling,
                    });
                }
                if (this.lot.hasPanoramicWindows) {
                    tags.push({
                        label: 'Панорамные окна',
                        icon: IconWindow,
                    });
                }
                return tags;
            },
        },

        mounted() {
            if (!this.$device.isMobile) {
                return;
            }
            this.$nextTick(() => {
                if (this.tags && this.tags.length > 1) {
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[LotHeroPlans] Destroy slider ', e);
            }
        },

        methods: {
            onOpenVr() {
                this.$modal.open(IframeModal, {
                    link: this.lot.planoplan,
                });
            },

            onTabClick(val) {
                this.activeLayout = val;
            },

            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 1,
                    freeMode: true,

                    pagination: {
                        el: this.$refs.pagination?.$el || false,
                        type: 'fraction',
                        formatFractionCurrent: formatFraction,

                        formatFractionTotal: formatFraction,

                        renderFraction: renderFraction,
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);
            },

            onSunValueChange(val) {
                this.sunPercents = val;
            },
        },
    };
</script>

<style lang="scss" module>
    .LotHeroPlans {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 60rem;
        max-height: calc(100vh - #{$header-h});
        padding-top: 6.6rem;
        padding-bottom: 5.2rem;

        @include respond-to(md) {
            height: auto;
        }

        @include respond-to(sm) {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 0;
            padding-bottom: 40px;
            max-height: none;
            min-height: auto;
        }

        @include respond-to(xs) {
            padding-bottom: 24px;
        }
    }

    .top {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-bottom: auto;

        @include respond-to(sm) {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 0;
            padding-top: 40px;
        }

        @include respond-to(xs) {
            padding-top: 16px;
        }
    }

    .fraction {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .panel {
        position: absolute;
        left: 0;
        top: -.8rem;
        flex-shrink: 0;
        width: 5.6rem;

        @include respond-to(sm) {
            position: relative;
            top: 0;
            width: 100%;
            margin-top: 50px;
            margin-right: 0;
        }

        @include respond-to(xs) {
            margin-top: 16px;
            padding-left: 72px;

            &._single {
                padding-left: 16px;
            }
        }
    }

    .panelContainer {
        @include respond-to(sm) {
            display: flex;
            overflow-x: auto;
            margin: 0 -40px;
            padding: 0 20px;
        }

        @include respond-to(xs) {
            margin: 0 -#{$side-padding-mobile};
            padding: 0 76px 0 0;
        }
    }

    .panelWrapper {
        flex-direction: column;

        @include respond-to(sm) {
            flex-direction: row;
        }
    }

    .panelItem {
        position: relative;
        flex-shrink: 0;
        padding: .8rem 0;

        @include hover {
            &:hover {
                .tooltip {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity $default-transition, visibility .26s ease-in-out .2s;
                }
            }
        }

        @include respond-to(sm) {
            display: flex;
            padding: 0 20px;
        }

        @include respond-to(xs) {
            padding: 0 8px;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }

    .tooltip {
        position: absolute;
        right: -1.6rem;
        top: 50%;
        padding: .8rem 1.2rem .6rem;
        border-radius: .4rem;
        background-color: rgba($base-500, .7);
        font-size: 1.4rem;
        line-height: 1.46;
        color: #fff;
        white-space: nowrap;
        transform: translate(100%, -50%) translateZ(0);
        opacity: 0;
        visibility: hidden;
        transition: opacity $default-transition, visibility .26s ease-in-out;

        @include respond-to(sm) {
            position: static;
            width: 119px;
            padding-right: 0;
            background-color: transparent;
            color: $base-500;
            white-space: normal;
            transform: none;
            opacity: 1;
            visibility: visible;
        }
    }

    .layoutsWrapper {
        position: relative;
        flex-shrink: 1;
        width: 100%;
        padding-left: 37.6rem;

        @include respond-to(lg) {
            padding-left: 15.6rem;
        }

        @include respond-to(sm) {
            padding-left: 0;
        }

        @include respond-to(xs) {
            padding-top: 64px;
        }
    }

    .layouts {
        position: relative;
        width: 60rem;
        max-height: 57vh;
        min-height: 47rem;

        @include aspect-ratio(600, 500);

        @include respond-to(sm) {
            width: 100%;
            max-height: none;
            min-height: auto;

            @include aspect-ratio(668, 458);
        }

        @include respond-to(xs) {
            @include aspect-ratio(288, 288);
        }
    }

    .box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 3.2rem;

        @include respond-to(sm) {
            padding-top: 0;
            padding-left: 72px;
            padding-right: 72px;
        }

        @include respond-to(xs) {
            padding: 0;
        }

        &._flat {
            padding-left: 5rem;
            padding-right: 5rem;

            @include respond-to(sm) {
                padding-left: 115px;
                padding-right: 115px;
            }

            @include respond-to(xs) {
                padding: 0;
            }
        }

        &._floor {
            @include respond-to(sm) {
                padding-left: 115px;
                padding-right: 115px;
            }

            @include respond-to(xs) {
                padding: 0;
            }
        }

        &._genplan {
            padding-top: 6.2rem;
            padding-bottom: 6.2rem;

            @include respond-to(sm) {
                padding: 82px 100px;
            }

            @include respond-to(xs) {
                padding: 44px 0 62px;
            }
        }
    }

    .plan {
        position: relative;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .sunWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        pointer-events: none;

        @include respond-to(sm) {
            display: none;
        }
    }

    .sunBody {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 130%;
        height: 130%;
        transform: translateZ(0) translate(-50%, -50%);
    }

    .miniPlan {
        position: absolute;
        top: 0;
        right: 5.5rem;
        width: 7.2rem;
        height: 7.2rem;

        @include respond-to(sm) {
            top: 0;
            right: auto;
            left: 0;
        }

        @include respond-to(xs) {
            width: 44px;
            height: 44px;
        }
    }

    .layoutMini {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .controls {
        display: flex;
        align-items: center;
        padding-top: 4rem;

        @include respond-to(sm) {
            padding-top: 0;
        }
    }

    .slider {
        margin-left: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity $default-transition;

        &._visible {
            opacity: 1;
            pointer-events: all;
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    .tabs {
        @include respond-to(sm) {
            margin: 0 -#{$side-padding-tablet};
            background-color: $milk;
        }

        @include respond-to(xs) {
            margin: 0 -#{$side-padding-mobile};
        }

        &._single {
            @include respond-to-min(md) {
                display: flex;
                justify-content: center;
                padding-right: 5.6rem;
            }
        }
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .miniplanHightlighting {
        fill: $base-500;
    }

    .compass {
        position: absolute;
        top: 8.8rem;
        right: 5.5rem;

        @include respond-to(sm) {
            top: auto;
            bottom: 0;
            right: auto;
            left: 0;
        }

        @include respond-to(xs) {
            top: 0;
            bottom: auto;
            left: auto;
            right: 0;
        }
    }

    .flatHightlighting {
        fill-opacity: .32;

        &._vice {
            fill: $vice;
        }

        &._redline {
            fill: $redline;
        }

        &._moxxy {
            fill: $moxxy;
        }

        &._elysium {
            fill: $elysium;
        }

        &._kain {
            fill: $kain;
        }
    }
</style>
