<template>
    <svg :class="$style.PlanSun"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 272 272">
        <g>
            <circle cx="136"
                    cy="136"
                    r="72"
                    filter="url(#filter0_f)"
                    fill="#E9BF42"
                    fill-opacity="0.24"
                    :opacity="opacityVal"
            />
        </g>
        <g opacity=".16"
           filter="url(#filter1_f)">
            <path
                d="M166.857 136c0-17.042-13.815-30.857-30.857-30.857S105.143 118.958 105.143 136s13.815 30.857 30.857 30.857 30.857-13.815 30.857-30.857z"
                fill="#E9BF42" />
        </g>
        <path
            d="M141.455 136a5.454 5.454 0 11-10.908 0 5.454 5.454 0 0110.908 0zm-15.455.909v-1.818h2.727v1.818H126zm17.273 0v-1.818H146v1.818h-2.727zm-13.701 6.805l-1.286-1.286 1.929-1.928 1.285 1.285-1.927 1.929h-.001zm12.213-12.214l-1.285-1.285 1.928-1.929 1.286 1.286-1.929 1.928zm-13.5-1.928l1.287-1.286 1.928 1.929-1.285 1.285-1.929-1.928h-.001zm12.215 12.213l1.285-1.285 1.929 1.928-1.286 1.286-1.928-1.929zM135.091 126h1.818v2.727h-1.818V126zm0 17.273h1.818V146h-1.818v-2.727z"
            fill="#E9BF42" />
        <defs>
            <filter id="filter0_f"
                    x="0"
                    y="0"
                    width="272"
                    height="272"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0"
                         result="BackgroundImageFix" />
                <feBlend in="SourceGraphic"
                         in2="BackgroundImageFix"
                         result="shape" />
                <feGaussianBlur stdDeviation="32"
                                result="effect1_foregroundBlur" />
            </filter>
            <filter id="filter1_f"
                    x="89.143"
                    y="89.143"
                    width="93.714"
                    height="93.714"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0"
                         result="BackgroundImageFix" />
                <feBlend in="SourceGraphic"
                         in2="BackgroundImageFix"
                         result="shape" />
                <feGaussianBlur stdDeviation="8"
                                result="effect1_foregroundBlur" />
            </filter>
        </defs>
    </svg>
</template>

<script>
    export default {
        name: 'PlanSun',

        props: {
            percent: {
                type: Number,
                default: 0,
            },
        },

        computed: {
            opacityVal() {
                const p = Math.round(this.percent) / 100;
                return (1 - Math.abs((p * 2) - 1)) + .3;
            },
        },
    };
</script>

<style lang="scss" module>
    .PlanSun {
        width: 27.2rem;
        height: 27.2rem;
    }
</style>
