<template>
    <div :class="$style.PlanSunSlider">
        <span class="button2 c-base-200">Утро</span>
        <div :class="$style.slider">
            <VSlider
                v-model="value"
                :min="min"
                :max="max"
                :step="20"
                :no-transition="false"
                color="night"
                tooltip="always"
                :tooltip-format="formatter"
                @input="onChange"
            />
        </div>
        <span class="button2 c-base-200">Ночь</span>
    </div>
</template>

<script>
    import VSlider from '../../../ui/slider/VSlider';

    export default {
        name: 'PlanSunSlider',

        components: {
            VSlider,
        },

        data() {
            return {
                value: 300,
                min: 300,
                max: 1140,
            };
        },

        methods: {
            onChange(val) {
                const percents = (val - this.min) / (this.max - this.min) * 100;
                this.$emit('change', percents);
            },

            formatter(val) {
                const hours = Math.floor(val / 60);
                let minutes = val % 60;

                if (minutes === 0) {
                    minutes = '00';
                }

                return `${hours}:${minutes}`;
            },
        },
    };
</script>

<style lang="scss" module>
    .PlanSunSlider {
        display: flex;
        align-items: center;
        padding-right: 5.6rem;

        @include respond-to(sm) {
            display: none;
        }

        :global .v-slider-dot__handle {
            position: relative;
            width: 4rem;
            height: 4rem;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2.4rem;
                height: 2.4rem;
                background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M15.273 12a3.273 3.273 0 11-6.546 0 3.273 3.273 0 016.546 0zM6 12.546v-1.091h1.636v1.09H6zm10.364 0v-1.091H18v1.09h-1.636zm-8.22 4.082l-.772-.771L8.529 14.7l.771.771-1.156 1.157zM15.47 9.3l-.771-.771 1.157-1.157.771.771L15.471 9.3zm-8.1-1.157l.772-.771L9.3 8.529l-.771.771-1.157-1.157zm7.329 7.328l.771-.771 1.157 1.157-.771.771-1.157-1.157zM11.455 6h1.09v1.636h-1.09V6zm0 10.364h1.09V18h-1.09v-1.636z' fill='%23FCFCFC'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: translate(-50%, -50%);
            }
        }
    }

    .slider {
        width: 26.2rem;
        margin: 0 2.4rem;
    }
</style>
