<template>
    <div :class="$style.VBackLink">
        <VCircleButton @click="onClick">
            <IconArrowRightLong class="frame-icon" />
        </VCircleButton>
    </div>
</template>

<script>
    import VCircleButton from '../button/VCircleButton';
    import IconArrowRightLong from '../../icons/IconArrowRightLong';

    export default {
        name: 'VBackLink',

        components: {
            IconArrowRightLong,
            VCircleButton,
        },

        props: {
            link: {
                type: String,
                default: null,
            },
            isBack: {
                type: Boolean,
                default: false,
            },
        },

        methods: {
            onClick() {
                if (!this.isBack && this.link) {
                    this.$router.push(this.link);
                } else {
                    this.$router.back();
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .VBackLink {
        position: sticky;
        left: 0;
        top: 30.5rem;
        z-index: 10;

        svg {
            transform: rotate(180deg);
        }

        @include respond-to(sm) {
            top: 165px;
        }
    }
</style>
