<template>
    <div :class="$style.FlatPdf">
        <PdfPage v-if="lot"
                 :list="lot"
        />
    </div>
</template>

<script>
    /* queries */
    import globalFlat from '@/queries/flat-id/globalFlat.graphql';

    /* components */
    import PdfPage from '@/components/pages/pdf/PdfPage';

    export default {
        name: 'FlatPdf',
        components: {
            PdfPage
        },

        layout: 'pdf',

        async asyncData({$axios, params, error}) {
            if (!params.id) {
                return error({statusCode: 404, message: 'Лот не найден'});
            }
            try {
                const lotRes = await $axios.$post('/graphql/', {
                    query: globalFlat.loc.source.body,
                    variables: {
                        id: params.id,
                    },
                });

                const lot = [lotRes.data?.globalFlat];

                return {
                    lot: lot,
                };
            } catch (e) {
                console.log('[FlatPdf/ asyncData]:', e);
                return error({statusCode: 404, message: 'Лот не найден'});
            }
        },

        data() {
            return {
                lot: null
            };
        }
    };
</script>

<style lang="scss" module>
    .FlatPdf {
        //
    }
</style>
