@mixin aspect-ratio($width, $height) {
    &:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    & > .aspect-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin respond-to($name, $bp: $breakpoints) {
    $max: breakpoint-max($name, $bp);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin respond-to-min($name, $bp: $breakpoints) {
    $min: breakpoint-min($name, $bp);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin respond-to-min-max($name, $bpMin: $breakpoints, $bpMax: $breakpoints) {
    @media (min-width: $bpMin) and (max-width: $bpMax) {
        @content;
    }
}

@mixin respond-to-max-height($height) {
    @media screen and (max-height: $height) {
        @content;
    }
}

@mixin font($alias, $name, $weight) {
    @font-face {
        font-family: $alias;
        src:
            url('~assets/fonts/' + $name + '.woff') format('woff'),
            url('~assets/fonts/' + $name + '.woff2') format('woff2');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin hover {
    @media (hover), (min-width: 0\0) {
        @content;
    }
}

@mixin touch {
    @media (pointer: coarse) {
        @content;
    }
}

@mixin respond-iphone5 {
    @media screen and (device-aspect-ratio: 40/71) {
        @content;
    }
}

@mixin respond-ie {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin respond-edge {
    @supports (-ms-ime-align:auto) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin transition-delay($count, $delay: 0, $defaultDelay: .15) {
    @for $i from 1 through $count {
        &:nth-child(#{$i}) {
            transition-delay: #{($i * $defaultDelay)+ $delay}s;
        }
    }
}
