/* Breakpoints: From xs to sm, from sm to md, from md to lg, after that simple desktop */
$breakpoints: (
    xs: 0,
    sm: 768px,
    md: 992px,
    lg: 1440px,
    xl: 1920px,
);

/* Colors */
$redline: #ed1c24;
$vice: #92278f;
$moxxy: #c6168d;
$elysium: #6050bd;
$kain: #1654c6;
$light-gray: #f1f2f3;
$blue: #0d69e1;
$pink: #e986ac;
$violet: #c367b2;

$milk: #fcfcfc;
$base-50: #f0f1f2;
$base-100: #ccd3da;
$base-200: #99a7b5;
$base-300: #677b8f;
$base-400: #344f6a;
$base-450: #092a4b;
$base-500: #012345;
$base-700: #011529;
$base-800: #000e1c;

$secondary-100: #e9d4e9;
$secondary-200: #d3a9d2;
$secondary-300: #be7dbc;
$secondary-400: #a852a5;
$secondary-500: #92278f;
$secondary-700: #581756;
$secondary-900: #1d081d;

$primary-100: #fbd2d3;
$primary-200: #f8a4a7;
$primary-400: #f14950;

$tertiary-100: #f4d0e8;
$tertiary-200: #edb5da;
$tertiary-400: #d145a4;

$quaternary-200: #bfb9e5;
$quaternary-400: #8073cb;

/* Defaults */
$font-family: "Mazzard", "Arial", sans-serif;
$font-size: 1.6rem;
$body-color: $base-300;
$body-bg: $milk;

/* Grid */
$header-h: 12.1rem;
$header-h-small: 6.4rem;
$header-h-tablet: 80px;
$header-h-mobile: 56px;
$sub-header-h: 6.4rem;
$sub-header-h-tablet: 80px;
$sub-header-h-mobile: 66px;
$footer-h: 47.2rem;
$footer-tablet-h: 473px;
$footer-mobile-h: 872px;
$container-width-desktop-xl: 180.8rem;
$container-width-desktop: 132.8rem;
$container-width-desktop-small: 77.6rem;

/* Spacing */
$side-padding-tablet: 40px;
$side-padding-mobile: 16px;

/* Transition */
$bezier: cubic-bezier(.25, .74, .22, .99);
$bezier-second: cubic-bezier(.25, .1, .25, 1);
$text-bezier: cubic-bezier(.4, 0, 0, 1);
$apple-cubic: cubic-bezier(.165, .84, .44, 1);
$popup-out-bezier: cubic-bezier(.47, .04, .5, -.6);
$popup-in-bezier: cubic-bezier(.25, .74, .22, .99);

$default-transition: .4s ease-in-out;
$cubic-transition: .3s $bezier;
$text-transition: .9s $text-bezier;

$box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);

/* pdf size coefficient */
$pdfSize: 1.33;
