<template>
    <div :class="$style.lot">
        <LotHeader :lot="lot"
                   :class="$style.lot_header"
        />

        <LotBottom :lot="lot"
                   :class="$style.lot_bottom"
        />
    </div>
</template>

<script>
    import LotHeader from '@/components/pages/pdf/Lot/LotHeader';
    import LotBottom from '@/components/pages/pdf/Lot/LotBottom';

    export default {
        name: 'Lot',
        components: {
            LotHeader,
            LotBottom
            //
        },


        props: {
            lot: {
                type: Object,
                default: () => ({})
            },
            realtyType: {
                type: String,
                default: 'flat'
            }
        },
    };
</script>

<style lang="scss" module>
    .lot {
        padding: 40px 0 80px;
    }
</style>
