<template>
    <div :class="$style.PdfPage">
        <div :class="$style.header">
            <n-link to="/"
                    :class="$style.logo">
                <img :class="$style.logoImage"
                     src="/assets/developer-logo.svg"
                     alt="логотип">
            </n-link>

            <div :class="$style.header_info">
                <a :class="$style.phone"
                   :href="`tel: ${phone}`">
                    <span>
                        {{ phone|prettyPhone }}
                    </span>
                </a>
                <a :class="$style.mail"
                   href="mailto:info@strana.com">
                    <span>
                        info@strana.com
                    </span>
                </a>
                <a :class="$style.website"
                   href="https://strana.com/">
                    <span>
                        strana.com
                    </span>
                </a>

            </div>
        </div>
        <div v-if="list"
             :class="$style.list">
            <Lot v-for="lot in list"
                 :key="lot.id"
                 :lot="lot"
                 :class="[$style.lot, {[$style._several]: fewLots}]"
            />
        </div>

        <div :class="$style.bottom">
            <div :class="$style.left">
                <!-- -->
            </div>
            <div :class="$style.right">
                Приведённые данные носят ознакомительный характер
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    /* components */
    import Lot from '@/components/pages/pdf/Lot.vue';

    export default {
        name: 'PdfPage',
        components: {
            Lot,
        },

        props: {
            list: {
                type: Array,
                default: () => [],
            },
        },

        computed: {
            ...mapState({
                activeCity: state => state.active_city,
            }),

            phone() {
                return this.activeCity?.phone ? this.activeCity.phone : '';
            },

            fewLots() {
                return this.list.length > 1;
            },
        },
    };
</script>

<style lang="scss" module>
    .PdfPage {
        display: flex;
        flex-direction: column;
        width: 595px * $pdfSize;
        margin: 0 auto;
        padding: 0 40px * $pdfSize;

        & * {
            -webkit-print-color-adjust: exact; //:For Chrome
            color-adjust: exact; //:For Firefox
        }
    }

    .header {
        display: flex;
        align-items: center;
        height: 84px * $pdfSize;
        border-bottom: .1rem solid $base-100;

        &_info {
            margin-left: auto;
            font-size: 10px * $pdfSize;
        }
    }

    .logo {
        position: relative;
        padding-right: 64px * $pdfSize;

        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 24px * $pdfSize;
            width: 1px;
            background-color: $base-100;
        }
    }

    .list {
        .lot {
            page-break-after: always;

            &:last-child {
                padding: 0;
                page-break-after: avoid;
            }
        }
    }

    .phone,
    .mail,
    .website {
        margin-left: 20px * $pdfSize;
        font-size: 10px * $pdfSize;
        color: $base-500;
        cursor: pointer;
    }

    .bottom {
        display: flex;
        height: 50px;
        //padding-bottom: 4rem;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        font-size: 8px * $pdfSize;
        color: $base-300;
    }
</style>
