@import "common/fonts";
@import "common/reset";
@import "common/text";
@import "common/transitions";

html {
    font-size: 10px;
    height: 100%;

    @include respond-to(lg) {
        font-size: .6944444444vw;
    }

    @include respond-to(sm) {
        font-size: 10px;
    }
}

.nuxt-progress {
    background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.container {
    max-width: $container-width-desktop-xl;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(lg) {
        max-width: $container-width-desktop;
    }

    @include respond-to(sm) {
        max-width: 100%;
        margin: 0;
        padding: 0 $side-padding-tablet;
    }

    @include respond-to(xs) {
        padding: 0 $side-padding-mobile;
    }
}

.container-small {
    max-width: $container-width-desktop-small;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(sm) {
        max-width: 100%;
        margin: 0;
        padding: 0 0 0 115px;
    }

    @include respond-to(xs) {
        padding: 0;
    }
}

.lazy-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .3s ease .1s;

    &[lazy="loaded"] {
        opacity: 1;
    }
}

.frame-icon {
    width: 4rem;
    height: 4rem;
    fill: currentColor;

    @include respond-to(xs) {
        width: 32px;
        height: 32px;
    }

    &.is-medium {
        width: 3.2rem;
        height: 3.2rem;
    }

    &.is-default {
        width: 2.4rem;
        height: 2.4rem;
    }

    &.is-small {
        width: 2rem;
        height: 2rem;
    }

    &.is-xsmall {
        width: 1.6rem;
        height: 1.6rem;
    }

    &.is-large {
        width: 16rem;
        height: 16rem;

        @include respond-to(sm) {
            width: 136px;
            height: 136px;
        }

        @include respond-to(xs) {
            width: 80px;
            height: 80px;
        }
    }
}

.btn-reset {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.page-top {
    padding-top: $header-h;

    @include respond-to(sm) {
        padding-top: $header-h-tablet;
    }

    @include respond-to(xs) {
        padding-top: $header-h-mobile;
    }
}

.anchor {
    position: absolute;
    top: 0;
}

.anchor-project {
    position: absolute;
    top: -$sub-header-h;

    @include respond-to(sm) {
        top: -$sub-header-h-tablet;
    }

    @include respond-to(xs) {
        top: -$sub-header-h-mobile;
    }
}
