<template>
    <section :class="$style.FavoritesPage"
             class="page-top">
        <div v-if="!flags.isEmpty"
             :class="$style.head"
             class="container">
            <MainSelect
                :class="$style.title"
                :value="values.city"
                title="Избранное"
                title-tag="h2"
                label-field="name"
                value-field="id"
                :options="[{id: '', name: 'во всех городаx'}, ...cities]"
                @change="handleValuesChange({city: $event})"
            />

            <BlockAnimationWrapper :class="$style.tabsWrap"
                                   :visible="!flags.isTabsLoading">
                <VTabs v-if="activeTypes.length"
                       :class="$style.tabs">
                    <VTab v-for="tab of activeTypes"
                          :key="tab.value"
                          :class="$style.tab"
                          :active="activeTab === tab.value"
                          @click="handleValuesChange({tab: tab.value})">
                        {{ tab.name }} <span :class="$style.count">{{ tab.count }}</span>
                    </VTab>
                </VTabs>
            </BlockAnimationWrapper>

            <div v-if="lots.length"
                 :class="$style.actions">
                <span v-if="!isMobile"
                      :class="[$style.actionText, $style._main]">
                    Собрать в PDF
                </span>
                <div :class="[$style.action, {[$style._disabled]: !favorites.length}]">
                    <VCircleButton :class="$style.btn"
                                   size="medium"
                                   @click="onShareClick">
                        <IconShare
                            :class="[$mq === 'xs' ? 'is-small' : 'is-default']"
                            class="frame-icon"
                        />
                    </VCircleButton>
                    <span v-if="isMobile"
                          :class="$style.actionText">
                        Поделится в PDF
                    </span>
                </div>

                <div v-if="!isMobile"
                     :class="[$style.action, {[$style._disabled]: !favorites.length}]">
                    <VCircleButton :class="$style.btn"
                                   link=""
                                   size="medium"
                                   @click="onPrintClick">
                        <IconPrint
                            :class="[$mq === 'xs' ? 'is-default' : 'is-medium']"
                            class="frame-icon"
                        />
                    </VCircleButton>
                </div>

                <div v-if="isMobile"
                     :class="$style.action"
                     @click="onClearClick">
                    <VCircleButton :class="$style.btn"
                                   link=""
                                   size="medium">
                        <IconDelete class="frame-icon" />
                    </VCircleButton>
                    <span :class="$style.actionText">Удалить все</span>
                </div>
            </div>
        </div>

        <transition name="fade">
            <FavoritesResultControls
                v-if="!flags.isEmpty && lots.length"
                :values="values"
                :view="view"
                @view-change="onViewChange"
                @sort-change="onSortChange"
            />
        </transition>

        <transition name="fade"
                    mode="out-in">
            <div v-if="flags.isEmpty"
                 :key="'empty'"
                 :class="[$style.empty, {[$style._loading]: flags.isLoading}]">
                <div :class="$style.emptyTitle"
                     class="h3">
                    В избранном пусто
                </div>

                <p :class="$style.emptyText"
                   class="p2">
                    Нажмите на 🖤, чтобы добавить квартиру, помещение
                    или машиноместо в избранное и получить доступ
                    к удобному сравнению.
                </p>

                <VButton :link="'/flats/'">
                    Выбрать квартиру
                </VButton>
            </div>

            <div v-else-if="lots.length"
                 :key="'lots'"
                 :class="$style.wrap">
                <div :class="[$style.results, {[$style._loading]: flags.isLoading}]">
                    <FavoritesCompare
                        v-if="view === 'compare'"
                        :lots="lots"
                        :favorites="favorites"
                    />

                    <FavoritesList
                        v-if="view === 'collection'"
                        :lots="lots"
                        :favorites="favorites"
                    />
                </div>
            </div>

            <div v-else
                 :key="'lots-zero'"
                 :class="$style.zero">
                <div class="h3">
                    Пока у вас нет избранного
                </div>
            </div>
        </transition>

        <Callback />
    </section>
</template>

<script>
    import {mapActions, mapGetters, mapState} from 'vuex';

    /* utils */
    import {applyQuery} from '../../assets/js/utils/queryUtils';

    /* queries */
    import allGlobalFlats from '../../queries/flats/allGlobalFlats.graphql';
    import allGlobalParkingSpaces from '../../queries/parking/allGlobalParkingSpaces.graphql';
    import allGlobalCommercialSpaces
        from '../../queries/commercial/allGlobalCommercialSpaces.graphql';
    import favoritesTypesCount from '../../queries/favorites/favoritesTypesCount.graphql';

    /* components */
    import VTabs from '../../components/ui/tabs/VTabs';
    import VTab from '../../components/ui/tabs/VTab';
    import VButton from '../../components/ui/button/VButton';
    import VCircleButton from '../../components/ui/button/VCircleButton';
    import IconPrint from '../../components/icons/IconPrint';
    import IconShare from '../../components/icons/IconShare';
    import IconDelete from '../../components/icons/IconDelete';
    import Callback from '../../components/common/callback/Callback';
    import BlockAnimationWrapper from '../../components/common/BlockAnimationWrapper';
    import FavoritesCompare from '../../components/pages/favorites/FavoritesCompare';
    import FavoritesList from '../../components/pages/favorites/FavoritesList';
    import FavoritesResultControls from '../../components/pages/favorites/FavoritesResultControls';
    import MainSelect from '../../components/common/MainSelect';

    const defaultValues = {
        city: '',
    };

    let printJS;

    if (process.browser) {
        printJS = require('print-js');
    }

    export default {
        name: 'FavoritesPage',

        components: {
            MainSelect,
            Callback,
            BlockAnimationWrapper,
            FavoritesList,
            FavoritesCompare,
            FavoritesResultControls,
            VTabs,
            VTab,
            VButton,
            VCircleButton,
            IconPrint,
            IconShare,
            IconDelete,
        },

        async asyncData({$axios, query}) {
            try {
                const initialValues = applyQuery(defaultValues, query);
                let activeTab = 'FLAT';

                const favoritesTypesCountRes = await $axios.$post('/graphql/', {
                    query: favoritesTypesCount.loc.source.body,
                });

                const specs = [
                    {
                        value: 'FLATS',
                        name: 'Квартиры',
                        count: favoritesTypesCountRes.data?.allGlobalFlats?.totalCount || 0,
                    },
                    {
                        value: 'PARKING',
                        name: 'Машиноместа',
                        count: favoritesTypesCountRes.data?.allGlobalParkingSpaces?.totalCount || 0,
                    },
                    {
                        value: 'COMMERCIAL',
                        name: 'Помещения',
                        count: favoritesTypesCountRes.data?.allGlobalCommercialSpaces?.totalCount || 0,
                    },
                ];

                const activeSpecs = specs.filter(spec => spec.count);

                let lots = [];

                if (activeSpecs.length) {
                    const type = activeSpecs[0].value;
                    let query = null;
                    let queryName = '';
                    activeTab = type;

                    switch (type) {
                        case 'PARKING':
                            query = allGlobalParkingSpaces;
                            queryName = 'allGlobalParkingSpaces';
                            break;
                        case 'COMMERCIAL':
                            query = allGlobalCommercialSpaces;
                            queryName = 'allGlobalCommercialSpaces';
                            break;
                        case 'FlATS':
                        default:
                            query = allGlobalFlats;
                            queryName = 'allGlobalFlats';
                    }

                    const res = await $axios.$post('/graphql/', {
                        query: query.loc.source.body,
                        variables: {
                            ...initialValues,
                            isFavorite: true,
                        },
                    });

                    lots = res.data[queryName].edges?.length ? res.data[queryName].edges.map(item => item.node) : [];
                }

                return {
                    typeSpecs: specs,
                    lotsRes: lots,
                    activeTab: activeTab,
                    flags: {
                        isLoading: false,
                        isTabsLoading: false,
                        // isEmpty: activeSpecs.length === 0,
                    },
                };
            } catch (e) {
                console.log('[FavoritesPage / asyncData]:', e);
            }
        },

        data() {
            return {
                activeTab: 'FLAT',
                view: 'compare',
                values: {...defaultValues},
                lotsRes: [],
                typeSpecs: [],
                flags: {
                    isLoading: false,
                    isTabsLoading: false,
                    isEmpty: false,
                },
            };
        },

        computed: {
            ...mapGetters({
                cities: 'getActiveCities',
            }),

            ...mapState('favorites', [
                'favorites',
            ]),

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            pdfLink() {
                const res = this.$router.resolve({
                    path: '/pdf/favorites/print/',
                    query: {
                        format: 'a4',
                        lots: this.lots.map(lot => lot.id),
                    },
                });

                return res.href;
            },

            lots() {
                return this.lotsRes;
            },

            activeTypes() {
                return this.typeSpecs.filter(type => type.count);
            },
        },

        mounted() {
            this.setSmallHeaderDisplay(false);
        },

        beforeDestroy() {
            this.setSmallHeaderDisplay(true);
        },

        methods: {
            ...mapActions('header', [
                'setSmallHeaderDisplay',
            ]),

            ...mapActions('favorites', [
                'clearFavorites',
            ]),

            async handleValuesChange(values) {
                const key = Object.keys(values)[0];

                if (key === 'tab') {
                    this.activeTab = values.tab;
                } else {
                    this.values = {...this.values, ...values};
                }

                if (key === 'city') {
                    await this.updateSpecs();
                }

                await this.updateItems();
            },

            async updateItems() {
                this.flags.isLoading = true;
                const start = Date.now();
                const items = await this.fetchItems();
                const stop = Date.now();

                if (stop - start < 300) {
                    setTimeout(() => {
                        this.lotsRes = items;

                        this.$nextTick(() => {
                            this.flags.isLoading = false;
                        });
                    }, 300 - (stop - start));
                } else {
                    this.lotsRes = items;

                    this.$nextTick(() => {
                        this.flags.isLoading = false;
                    });
                }
            },

            async updateSpecs() {
                this.flags.isTabsLoading = true;
                const start = Date.now();
                this.typeSpecs = await this.fetchSpecs();
                const stop = Date.now();

                if (stop - start < 300) {
                    setTimeout(() => {
                        if (this.activeTypes.length) {
                            this.activeTab = this.activeTypes.find(type => type.value === this.activeTab)?.value || this.activeTypes[0].value;
                        }

                        this.$nextTick(() => {
                            this.flags.isTabsLoading = false;
                        });
                    }, 300 - (stop - start));
                } else {
                    if (this.activeTypes.length) {
                        this.activeTab = this.activeTypes.find(type => type.value === this.activeTab)?.value || this.activeTypes[0].value;
                    }

                    this.$nextTick(() => {
                        this.flags.isTabsLoading = false;
                    });
                }
            },

            async fetchItems(type = this.activeTab) {
                let query = null;
                let queryName = '';

                switch (type) {
                    case 'PARKING':
                        query = allGlobalParkingSpaces;
                        queryName = 'allGlobalParkingSpaces';
                        break;
                    case 'COMMERCIAL':
                        query = allGlobalCommercialSpaces;
                        queryName = 'allGlobalCommercialSpaces';
                        break;
                    case 'FlATS':
                    default:
                        query = allGlobalFlats;
                        queryName = 'allGlobalFlats';
                }

                try {
                    const res = await this.$axios.$post('/graphql/', {
                        query: query.loc.source.body,
                        variables: {
                            ...this.values,
                            isFavorite: true,
                        },
                    });

                    return res.data[queryName].edges?.length ? res.data[queryName].edges.map(item => item.node) : [];
                } catch (e) {
                    console.log('[favorites/fetchItems]', e);
                }
            },

            async fetchSpecs(city = this.values.city) {
                try {
                    const res = await this.$axios.$post('/graphql/', {
                        query: favoritesTypesCount.loc.source.body,
                        variables: {
                            city: city,
                        },
                    });

                    return [
                        {
                            value: 'FLATS',
                            name: 'Квартиры',
                            count: res.data?.allGlobalFlats?.totalCount || 0,
                        },
                        {
                            value: 'PARKING',
                            name: 'Машиноместа',
                            count: res.data?.allGlobalParkingSpaces?.totalCount || 0,
                        },
                        {
                            value: 'COMMERCIAL',
                            name: 'Помещения',
                            count: res.data?.allGlobalCommercialSpaces?.totalCount || 0,
                        },
                    ];
                } catch (e) {
                    console.log('[favorites/fetchSpecs]', e);
                }
            },

            onViewChange(event) {
                this.flags.isLoading = true;
                setTimeout(() => {
                    this.view = event;
                    this.$nextTick(() => {
                        this.flags.isLoading = false;
                    });
                }, 300);
            },

            onSortChange(val) {
                this.values = {...this.values, ...val};
                this.flags.isLoading = true;

                setTimeout(() => {
                    let orderBy;
                    if (val.orderBy === 'price' || val.orderBy === 'area') {
                        orderBy = val.orderBy;
                        this.lotsRes.sort((a, b) => a[orderBy] - b[orderBy]);
                    }

                    if (val.orderBy === '-price' || val.orderBy === '-area') {
                        orderBy = val.orderBy.slice(1, val.orderBy.length);
                        this.lotsRes.sort((a, b) => b[orderBy] - a[orderBy]);
                    }

                    if (!val.orderBy.length) {
                        this.lotsRes.sort((a, b) => {
                            if (a.id < b.id) {
                                return -1;
                            }
                            if (a.id > b.id) {
                                return 1;
                            }
                            return 0;
                        });
                    }

                    this.$nextTick(() => {
                        this.flags.isLoading = false;
                    });
                }, 300);
            },

            onClearClick() {
                this.clearFavorites();
            },

            onPrintClick() {
                printJS(this.pdfLink);
            },

            onShareClick() {
                if (this.$device.isDesktop) {
                    window.open(this.pdfLink, '_blank');
                    return;
                }

                const shareData = {
                    title: 'Избранное',
                    text: 'С вами поделились избранным',
                    url: this.pdfLink,
                };

                if (navigator.share) {
                    navigator.share(shareData);
                } else {
                    window.open(this.pdfLink, '_blank');
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .FavoritesPage {
        //
    }

    .head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 8rem;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 0;
        }
    }

    .title {
        width: 100%;
        margin-bottom: 3.2rem;

        @include respond-to(sm) {
            order: 1;
            margin-bottom: 24px;
        }

        @include respond-to(xs) {
            margin-bottom: 0;
        }
    }

    .tabsWrap {
        overflow: hidden;

        @include respond-to(sm) {
            order: 3;
        }

        @include respond-to(xs) {
            margin: 0 -#{$side-padding-mobile};
        }
    }

    .tabs {
        @include respond-to(sm) {
            order: 2;
            flex-grow: 1;
        }

        @include respond-to(xs) {
            margin: 0;
        }

        :global(.v-tab__btn) {
            @include respond-to(xs) {
                padding: 0 4vw;
            }
        }
    }

    .tab {
        &:global(._active) {
            .count {
                border-color: $base-300;
            }
        }
    }

    .count {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid $base-100;
        line-height: 2.1rem;
        text-align: center;
        transition: background-color $default-transition;
    }

    .actions {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond-to(sm) {
            order: 2;
            flex-wrap: wrap;
            width: 100%;
            margin-left: 0;
            margin-bottom: 24px;
        }

        @include respond-to(xs) {
            margin-top: 1.8rem;
            margin-left: 0;
        }
    }

    .action {
        display: flex;
        align-items: center;
        transition: opacity $default-transition;

        & > a {
            display: flex;
        }

        &._disabled {
            opacity: .5;
            pointer-events: none;
        }

        &:not(:last-child) {
            margin-right: .8rem;

            @include respond-to(sm) {
                margin-right: 32px;
            }

            @include respond-to(xs) {
                margin-right: 16px;
            }
        }
    }

    .actionText {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.52;
        color: $base-200;

        @include respond-to(sm) {
            font-weight: normal;
            margin-left: 20px;
        }

        @include respond-to(xs) {
            margin-left: 12px;
            font-size: 12px;
            line-height: 1;
        }

        &._main {
            margin-right: 3.2rem;
        }
    }

    .wrap {
        background-color: $base-50;
    }

    .results {
        transition: all $default-transition;

        &._loading {
            opacity: 0;
            transform: translateY(6rem);
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 38.6rem;
        height: calc(100vh - #{$header-h});
        margin: 0 auto;
        text-align: center;
        color: $base-400;
        transition: opacity $default-transition;

        @include respond-to(md) {
            height: calc(100vh - #{$header-h-tablet});
        }

        @include respond-to(xs) {
            height: calc(100vh - #{$header-h-mobile});
            padding: 0 16px;
        }

        &._loading {
            opacity: 0;
        }
    }

    .emptyTitle {
        margin-bottom: 1.6rem;
    }

    .emptyText {
        margin-bottom: 4rem;
    }

    .emptyBtn {
        width: auto;
    }

    .zero {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10rem;
        min-height: calc(100vh - #{$header-h} - 28.8rem);

        @include respond-to(md) {
            padding-bottom: 80px;
        }

        @include respond-to(sm) {
            min-height: calc(100vh - #{$header-h-tablet} - 192px);
        }

        @include respond-to(xs) {
            min-height: calc(100vh - #{$header-h-mobile} - 92px);
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
</style>
