<template>
    <div :class="$style.HomePage">
        <HomeHero :slides="mainPage.slides" />

        <HomeFilter />

        <HomeProjects />

        <Promo
            v-if="promo.length"
            :slides="promo"
            link="/mass-media/"
            :title="mainPage.newsTitle"
            :image="mainPage.newsImage"
        />

        <Purchase />

        <Advantages
            id="advantages"
            :first-image="mainPage.ideologyVideoPreview1"
            :second-image="mainPage.ideologyVideoPreview2"
            :first-link="mainPage.ideologyVideoLink1"
            :second-link="mainPage.ideologyVideoLink2"
            :lead="mainPage.ideologyText1"
            :text="mainPage.ideologyText2"
            :button-text="ideologyButtonText"
            :button-link="ideologyButtonLink"
            :list="mainPage.ideologyCards"
            card-image-field-name="fileDisplay"
            card-preview-image-field-name="filePreview"
        />

        <Social
            v-if="instagramPost && instagramPost.length"
            title="Жизнь в Стране"
            :posts="instagramPost"
            @click-button="onClickActionButton"
        />

        <MapBlock
            :cities="mapCities"
            :map-texts="mainPage.mapTexts"
        />

        <Callback />
    </div>
</template>

<script>
    import {mapActions, mapState, mapGetters} from 'vuex';

    /* queries */
    import mainPage from '../queries/mainPage.graphql';
    import allNews from '../queries/allNews.graphql';
    import allInstagramPost from '../queries/allInstagramPost.graphql';

    /* components */
    import HomeHero from '../components/pages/home/hero/HomeHero';
    import HomeFilter from '../components/pages/home/HomeFilter';
    import HomeProjects from '../components/pages/home/HomeProjects';
    import Promo from '../components/common/promo/Promo';
    import Purchase from '../components/common/purchase/Purchase';
    import Advantages from '../components/common/advantages/Advantages';
    import Social from '../components/common/social/Social';
    import Callback from '../components/common/callback/Callback';
    import MapBlock from '../components/common/MapBlock';
    import RequestFormModal from '../components/layout/modals/RequestFormModal';
    import SubscribeForm from '../components/common/forms/SubscribeForm';

    export default {
        name: 'HomePage',

        components: {
            MapBlock,
            Callback,
            Social,
            Advantages,
            Purchase,
            Promo,
            HomeProjects,
            HomeFilter,
            HomeHero,
        },

        async asyncData({$axios, store}) {
            // TODO: allNews получать только акции и новости
            const activeCityId = store.getters.getActiveCityId;
            try {
                const [
                    mainPageRes,
                    newsRes,
                    instagramRes,
                ] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: mainPage.loc.source.body,
                    }),

                    $axios.$post('/graphql/', {
                        query: allNews.loc.source.body,
                        variables: {
                            first: 10,
                            type: ['news', 'action'],
                            projectsCity: activeCityId ? activeCityId : '',
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allInstagramPost.loc.source.body,
                        variables: {
                            first: 6,
                        },
                    }),
                ]);

                return {
                    mainPage: mainPageRes.data.mainPage,
                    promo: newsRes.data?.allNews?.edges?.length ? newsRes.data.allNews.edges.map(item => item.node) : [],
                    instagramPost: instagramRes.data?.allInstagramPost?.edges?.length ? instagramRes.data.allInstagramPost.edges.map(item => item.node) : [],
                };
            } catch (e) {
                console.log('asyncData/HomePage', e);
            }
        },

        data() {
            return {
                mainPage: {},
                promo: [],
                instagramPost: [],
                ideologyButtonText: 'Подробнее',
                ideologyButtonLink: '/about',
            };
        },

        head() {
            const cityName = this.activeCityName ? this.activeCityName : 'Москва';

            return {
                title: `«Страна Девелопмент» — квартиры в новостройках от застройщика в г. ${cityName}`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `«Страна Девелопмент» — квартиры и коммерческие помещения в новостройках от застройщика в г. ${cityName}`,
                    },
                    {
                        hid: 'keywords',
                        name: 'keywords',
                        content: `страна девелопмент, застройщик, новостройки, квартиры, новые квартиры, коммерческая недвижимость, ${cityName}`,
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                isHeaderHidden: state => state.header.is_hidden,
                isHeaderVisible: state => state.header.is_visible,
                mapCities: state => state.cities,
            }),

            ...mapGetters({
                activeCityName: 'getActiveCityName',
            }),
        },

        watch: {
            $mq: function() {
                if ((this.$mq === 'xs' || this.$mq === 'sm') && this.isHeaderHidden) {
                    this.setHeaderHidden(false);
                } else if (this.$mq !== 'xs' && this.$mq !== 'sm') {
                    this.setHeaderHidden(true);
                }
            },
        },

        beforeMount() {
            this.setHeaderColor('gray');
            if (window.innerWidth < 992) {
                return;
            }
            this.setHeaderHidden(true);
        },

        beforeDestroy() {
            this.setHeaderColor('milk');
            if (window.innerWidth < 992) {
                return;
            }
            this.setHeaderHidden(false);
        },

        methods: {
            ...mapActions('header', [
                'setHeaderHidden',
                'setHeaderColor',
            ]),

            onClickActionButton() {
                this.$modal.open(RequestFormModal, {
                    title: 'Подписка на рассылку',
                    subtitle: 'Акции, новости и многое другое',
                    form: SubscribeForm,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .HomePage {
        //
    }
</style>
