<template>
    <div :class="$style.PurchasePage"
         class="page-top">
        <PurchaseHeader
            :class="$style.head"
            :city="selectedCity"
            :tabs="activeCategories"
            :loading="flags.isLoading"
            @change-city="onChangeCity"
        />

        <n-child
            :key="$route.name"
            :page="page"
            :notes="notes"
            :hero-list="heroList"
            :loading="flags.isTypeLoading"
            :city="selectedCity"
        />
    </div>
</template>

<script>
    import {scrollTo} from '../../assets/js/utils/commonUtils';
    /* query */
    import allPurchaseTypeCategories
        from '../../queries/purchase/allPurchaseTypeCategories.graphql';
    import allPurchaseTypes from '../../queries/allPurchaseTypes.graphql';

    /* components */
    import PurchaseHeader from '../../components/common/purchase/PurchaseHeader';

    export default {
        name: 'PurchasePage',

        components: {
            PurchaseHeader,
        },

        async asyncData({$axios, query, params, store}) {
            try {
                const selectedCity = query.city || store.getters.getActiveCityId;

                const [
                    resPurchaseCategories,
                    resPurchaseType,
                ] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: allPurchaseTypeCategories.loc.source.body,
                        variables: {
                            city: selectedCity,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allPurchaseTypes.loc.source.body,
                        variables: {
                            city: selectedCity,
                            category: params.type,
                        },
                    }),
                ]);

                const categories = resPurchaseCategories?.data?.allPurchaseTypeCategories?.edges?.length
                    ? resPurchaseCategories.data.allPurchaseTypeCategories.edges.map(item => item.node)
                    : [];

                const page = resPurchaseType.data?.allPurchaseTypes?.edges?.length
                    ? resPurchaseType.data.allPurchaseTypes.edges[0].node
                    : {};
                let heroList = [];
                const notes = [];

                if (page) {
                    heroList = page?.purchasetypestepSet?.length ? page.purchasetypestepSet : [];
                    heroList.forEach(item => {
                        if (item.description) {
                            notes.push(item.description);
                        }
                    });
                }

                return {
                    selectedCity: selectedCity,
                    purchaseCategories: categories,
                    page: page,
                    notes: notes,
                    heroList: heroList,
                };
            } catch (e) {
                console.log('[PurchasePage/ asyncData]:', e);
            }
        },

        data() {
            return {
                flags: {
                    isLoading: false,
                    isTypeLoading: false,
                },
                selectedCity: null,
                purchaseCategories: [],
                page: {},
                notes: [],
                heroList: [],
            };
        },

        computed: {
            activeCategories() {
                return this.purchaseCategories.filter(cat => cat.isActive).map(cat => ({
                    ...cat,
                    link: this.generateCategoryLink(cat.slug),
                }));
            },
        },

        watch: {
            '$route.params.type'(val) {
                scrollTo();
                this.$nextTick(() => {
                    this.updateCategory({category: val});
                });
            },

            '$route.name'() {
                scrollTo();
            },
        },

        methods: {
            onChangeCity(city) {
                this.flags.isLoading = true;
                this.selectedCity = city;

                setTimeout(async () => {
                    await this.updateCategories(city);

                    if (this.purchaseCategories.find(cat => this.$route.params?.type === cat.slug) === undefined) {
                        this.$router.push({
                            name: `purchase-index-${this.purchaseCategories[0].slug}`,
                            query: {
                                city: city || null,
                            },
                        });
                    } else {
                        this.$router.push({
                            query: {
                                city: city,
                            },
                        });

                        await this.updateCategory({city: city});
                    }

                    this.flags.isLoading = false;
                }, 500);
            },

            async updateCategories(city) {
                try {
                    const resPurchaseCategories = await this.$axios.$post('/graphql/', {
                        query: allPurchaseTypeCategories.loc.source.body,
                        variables: {
                            city: city,
                        },
                    }, {
                        progress: false,
                    });

                    this.purchaseCategories = resPurchaseCategories?.data?.allPurchaseTypeCategories?.edges?.length
                        ? resPurchaseCategories.data.allPurchaseTypeCategories.edges.map(item => item.node)
                        : [];
                } catch (e) {
                    console.log('purchase/updateCategories', e);
                    this.flags.isLoading = false;
                }
            },

            async updateCategory(values) {
                this.flags.isTypeLoading = true;

                const start = Date.now();
                const res = await this.$axios.$post('/graphql/', {
                    query: allPurchaseTypes.loc.source.body,
                    variables: {
                        city: values.city || this.$route.query.city,
                        category: values.category || this.$route.params.type,
                    },
                }, {
                    progress: false,
                });
                const page = res.data?.allPurchaseTypes?.edges?.length
                    ? res.data.allPurchaseTypes.edges[0].node
                    : {};
                let heroList = [];
                const notes = [];

                if (page) {
                    heroList = page?.purchasetypestepSet?.length ? page.purchasetypestepSet : [];
                    heroList.forEach(item => {
                        if (item.description) {
                            notes.push(item.description);
                        }
                    });
                }

                const stop = Date.now();

                if (stop - start < 400) {
                    setTimeout(() => {
                        this.page = page;
                        this.heroList = heroList;
                        this.notes = notes;

                        this.$nextTick(() => {
                            this.flags.isTypeLoading = false;
                        });
                    }, 400 - (stop - start));
                } else {
                    this.page = page;
                    this.heroList = heroList;
                    this.notes = notes;

                    this.$nextTick(() => {
                        this.flags.isTypeLoading = false;
                    });
                }
            },

            generateCategoryLink(slug) {
                if (!slug) {
                    return '#';
                }

                const link = `/purchase/${slug}/`;

                if (this.$route.query?.city) {
                    return `${link}?city=${this.$route.query.city}`;
                }

                return link;
            },
        },
    };
</script>

<style lang="scss" module>
    .PurchasePage {
        //
    }

    .head {
        margin-top: 8rem;

        @include respond-to(sm) {
            margin-top: 44px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }
</style>
