<template>
    <label ref="label"
           :class="['v-checkbox', classList]"
           role="checkbox"
           :aria-checked="isChecked"
           :aria-disabled="disabled">
        <span class="v-checkbox__body">

            <span class="v-checkbox__input">
                <input v-model="computedValue"
                       class="v-checkbox__native"
                       type="checkbox"
                       :name="name"
                       :value="trueValue"
                       :true-value="trueValue"
                       :false-value="falseValue"
                       :disabled="disabled || readonly"
                       @keydown.enter.stop.prevent="$refs.label.click()"
                       @focus="onFocus"
                       @blur="onBlur">
                <svg class="v-checkbox__arrow"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 12 8">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M10.905.345a.75.75 0 010 1.06L5.28 7.03a.75.75 0 01-1.06 0L1.095 3.905a.75.75 0 011.06-1.06L4.75 5.439 9.845.345a.75.75 0 011.06 0z"
                          fill="#fff" />
                </svg>
            </span>

            <span v-if="$slots.default"
                  class="v-checkbox__label">
                <slot></slot>
            </span>

            <span v-if="hintText"
                  class="v-checkbox__hint-icon"
                  @click.prevent="onToggleHint">
                <IconHint class="frame-icon is-small" />
            </span>
            <span v-if="hintText"
                  class="v-checkbox__hint"
                  v-html="hintText">
            </span>
        </span>
    </label>
</template>

<script>
    import IconHint from '../../icons/IconHint';

    export default {
        name: 'VCheckbox',

        components: {
            IconHint,
        },

        props: {
            hintText: {
                type: String,
                default: '',
            },

            /** Имя, которое используется при отправке формы */
            name: {
                type: String,
                default: '',
            },

            /** Текущее значение чекбокса */
            value: {
                type: [Array, String, Number, Boolean],
                required: true,
            },

            /**  Значение, которое используется при отправке формы, а также передается в value при активации чекбокса */
            trueValue: {
                type: [String, Number, Boolean],
                default: 'true',
            },

            falseValue: {
                type: [String, Number, Boolean],
                default: '',
            },

            /**  Определяет классы, которые будут модифицировать размер */
            size: {
                type: String,
                default: 'medium',
            },

            /**  Определяет классы, которые будут модифицировать цвет */
            color: {
                type: String,
                default: 'default',
            },

            /**  Очевидно, что это свойство отключает взаимодействие с чекбоксом */
            disabled: Boolean,
            readonly: Boolean,
        },

        data() {
            return {
                isFocused: false,
                isVisibleHint: false,
            };
        },

        computed: {
            classList() {
                return [
                    `v-checkbox--${this.color}`,
                    `v-checkbox--${this.size}`,
                    {
                        _disabled: this.disabled,
                        _checked: this.isChecked,
                        _focused: this.isFocused,
                        '_show-hint': this.isVisibleHint,
                    },
                ];
            },

            computedValue: {
                get() {
                    return this.value;
                },

                set(value) {
                    this.$emit('input', value);
                },
            },

            isChecked() {
                if (Array.isArray(this.value)) {
                    return this.value.indexOf(this.trueValue) > -1;
                }
                return this.value === this.trueValue;
            },
        },

        methods: {
            onFocus() {
                this.isFocused = true;
            },

            onBlur() {
                this.isFocused = false;
            },

            onToggleHint() {
                if (this.$device.isDesktop) {
                    return;
                }

                this.isVisibleHint = !this.isVisibleHint;
            },
        },
    };
</script>

<style lang="scss">
    .v-checkbox {
        user-select: none;
        outline: none;
        cursor: pointer;

        /* Colors */

        &--default {
            .v-checkbox__label {
                color: $base-500;
            }

            .v-checkbox__input {
                border: 1px solid $base-100;
            }

            &:hover {
                .v-checkbox__input {
                    border-color: $secondary-200;
                    background-color: $secondary-200;
                }
            }

            &:focus {
                .v-checkbox__input {
                    border-color: $secondary-200;
                }
            }

            &._checked {
                .v-checkbox__input {
                    border-color: $secondary-500;
                    background-color: $secondary-500;
                }
            }
        }

        &--vice {
            .v-checkbox__label {
                color: $vice;
            }

            .v-checkbox__input {
                border: 1px solid $base-100;
            }

            &:hover {
                .v-checkbox__input {
                    border-color: $secondary-200;
                    background-color: $secondary-200;
                }
            }

            &:focus {
                .v-checkbox__input {
                    border-color: $secondary-200;
                }
            }

            &._checked {
                .v-checkbox__input {
                    border-color: $secondary-500;
                    background-color: $secondary-500;
                }
            }
        }

        /* End Colors */

        /* Sizes */

        &--medium {
            .v-checkbox__label {
                font-size: 1.6rem;
                line-height: 1.52;
                font-weight: 500;
                margin-left: .8rem;
            }
        }

        &--long {
            .v-checkbox__label {
                font-size: 1.6rem;
                line-height: 1.52;
                font-weight: 500;
                margin-left: 1.2rem;

                @include respond-to(xs) {
                    font-size: 14px;
                    line-height: 1.16;
                }
            }
        }

        /* End Sizes */

        /* Modificators */

        &._disabled {
            opacity: .5;
            pointer-events: none;
        }

        &._checked {
            .v-checkbox__arrow {
                opacity: 1;
            }
        }

        &._show-hint {
            .v-checkbox__hint {
                opacity: 1;
                visibility: visible;
                transition: opacity $default-transition, visibility $default-transition;
            }
        }

        /* End Modificators */

        &__body {
            position: relative;
            display: inline-flex;
        }

        &__input {
            position: relative;
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 4px;
            transition: border-color .2s ease, background-color .2s ease;
            will-change: border-color, background-color;

            @include respond-to(xs) {
                width: 16px;
                height: 16px;
            }
        }

        &__arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: opacity .2s ease;
        }

        &__native {
            display: none;
        }

        &__label {
            white-space: nowrap;
            transition: color .3s ease;
        }

        &__hint-icon {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            margin-left: 1.2rem;
            margin-right: -.8rem;
            border-radius: 50%;
            background-color: rgba($base-100, .4);
            color: $base-500;

            @include respond-to(xs) {
                margin-top: -2px;
            }

            @include hover {
                &:hover ~ .v-checkbox__hint {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity $default-transition, visibility $default-transition;
                }
            }
        }

        &__hint {
            position: absolute;
            top: -1rem;
            right: 0;
            display: inline-block;
            padding: 1.2rem;
            border-radius: 8px;
            background-color: rgba($base-500, .85);
            font-size: 1.2rem;
            line-height: 1.33;
            color: $milk;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transform: translate(50%, -100%);
            transition: opacity $default-transition, visibility $default-transition .3s;

            @include respond-to(sm) {
                transform: translate(0, -100%);
            }

            @include respond-to(xs) {
                padding: 10px;
                transform: translate(50%, -100%);
            }
        }
    }
</style>
