<template>
    <div :class="$style.CommercialFilterPage"
         class="page-top">
        <div class="container">
            <FilterHead
                title="Коммерческие помещения"
                :value="values.city"
                :specs="specs.city"
                label-field-name="label"
                value-field-name="value"
                @city-change="onValueChange"
                @open-filter="onToogleFilter"
            />
        </div>

        <CommercialFilterBlock
            :class="[$style.filter, {[$style._visible]: flags.isFilterVisible}]"
            :specs="specs"
            :facets="facets"
            :values="values"
            :count="count"
            :is-reset-active="isResetActive"
            @change="onValueChange"
            @reset="onReset"
            @close="onToogleFilter"
        />

        <FilterResultControls
            :values="values"
            :view="view"
            @sort-change="onSortChange"
            @view-change="onViewChange"
        />

        <FilterResults
            :class="[$style.list, {[$style._reloading]: flags.isReloading}]"
            :list="cleanedLots"
            :view="view"
            realty-type="commercial"
        />
    </div>
</template>

<script>
    import {applyQuery} from '../../../assets/js/utils/queryUtils';
    import {convertToObject} from '../../../assets/js/utils/commonUtils';
    import {realtyFilter} from '../../../mixins/realtyFilter';

    /* queries */
    import allGlobalCommercialSpacesSpecs
        from '../../../queries/commercial/allGlobalCommercialSpacesSpecs.graphql';
    import allGlobalCommercialSpacesFacets
        from '../../../queries/commercial/allGlobalCommercialSpacesFacets.graphql';
    import allGlobalCommercialSpaces
        from '../../../queries/commercial/allGlobalCommercialSpaces.graphql';

    /* components */
    import FilterHead from '../../../components/common/filter/FilterHead';
    import FilterResults from '../../../components/common/filter/FilterResults';
    import FilterResultControls from '../../../components/common/filter/FilterResultControls';
    import CommercialFilterBlock
        from '../../../components/pages/commercial/filter/CommercialFilterBlock';

    const defaultValues = {
        completionDate: '',
        priceMin: '',
        priceMax: '',
        areaMin: '',
        areaMax: '',
        project: [],
        orderBy: '',
        action: '',
        city: '',
        hasTenant: '',
    };

    export default {
        name: 'CommercialFilterPage',

        components: {
            CommercialFilterBlock,
            FilterResultControls,
            FilterResults,
            FilterHead,
        },

        mixins: [
            realtyFilter,
        ],

        async asyncData({$axios, query, store}) {
            try {
                let isResetActive = Boolean(Object.keys(query).length);
                const initialValues = applyQuery(defaultValues, query);
                const activeCityId = store.getters.getActiveCityId;

                if (query.city) {
                    isResetActive = query.city !== activeCityId;
                }

                const {data} = await $axios.$post('/graphql/', {
                    query: allGlobalCommercialSpacesSpecs.loc.source.body,
                });

                const specs = {...convertToObject(data.allGlobalCommercialSpacesSpecs)};

                if (!initialValues.city && specs.city) {
                    initialValues.city = specs.city.map(item => item.value).includes(activeCityId) ? activeCityId : '';
                }

                const requestVars = {};
                for (const name in initialValues) {
                    if (String(initialValues[name]).length && initialValues[name] !== null) {
                        requestVars[name] = initialValues[name];
                    }
                }

                const [facetsRes, lotsRes] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: allGlobalCommercialSpacesFacets.loc.source.body,
                        variables: requestVars,
                    }),
                    $axios.$post('/graphql/', {
                        query: allGlobalCommercialSpaces.loc.source.body,
                        variables: {
                            ...requestVars,
                            first: 16,
                        },
                    }),
                ]);

                return {
                    specs: specs,
                    facets: convertToObject(facetsRes.data.allGlobalCommercialSpacesFacets.facets),
                    values: initialValues,
                    count: facetsRes.data.allGlobalCommercialSpacesFacets.count,
                    lots: lotsRes.data.allGlobalCommercialSpaces.edges,
                    isResetActive: isResetActive,
                    pageInfo: {
                        first: 16,
                        after: lotsRes.data.allGlobalCommercialSpaces.pageInfo.endCursor,
                        hasNext: lotsRes.data.allGlobalCommercialSpaces.pageInfo.hasNextPage,
                    },
                };
            } catch (e) {
                console.log('[CommercialFilterPage/ asyncData]:', e);
            }
        },

        data() {
            return {
                facetField: 'allGlobalCommercialSpacesFacets',
                lotField: 'allGlobalCommercialSpaces',
                values: {...defaultValues},
                defaultValues: {...defaultValues},

                count: 0,
            };
        },

        methods: {
            fetchFacets() {
                return this.$axios.$post('/graphql/', {
                    query: allGlobalCommercialSpacesFacets.loc.source.body,
                    variables: this.vars,
                }, {
                    progress: false,
                });
            },

            fetchLots() {
                return this.$axios.$post('/graphql/', {
                    query: allGlobalCommercialSpaces.loc.source.body,
                    variables: {
                        ...this.vars,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                }, {
                    progress: false,
                });
            },

        },
    };
</script>

<style lang="scss" module>
    .CommercialFilterPage {
        //
    }

    .filter {
        margin-top: 1.2rem;

        @include respond-to(sm) {
            margin-top: 0;
        }

        @include respond-to(xs) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 40;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background-color: #fff;
            transform: translateY(100%);
            transition: transform $default-transition;
            -webkit-overflow-scrolling: touch;
            will-change: transform;

            &._visible {
                transform: translateY(0);
            }
        }
    }

    .list {
        transition: opacity $default-transition, transform $default-transition;

        &._reloading {
            opacity: 0;
            transform: translateY(64px);
            pointer-events: none;
        }
    }
</style>
