<template>
    <div :class="[$style.FlatHeader, classes]">
        <div :class="$style.container"
             class="container">
            <VCircleButton :class="$style.scrollBtn"
                           @click="onScrollClick">
                <IconArrowRightLong class="frame-icon" />
            </VCircleButton>

            <div :class="$style.layouts">
                <div :class="$style.plan"
                     :style="{backgroundImage: `url(${lotDefaultPlan})`}">
                </div>
            </div>

            <div :class="$style.titleWrapper">
                <h3 :class="$style.title"
                    class="subtitle1 c-base">
                    <span v-html="flatTitle">
                    </span>
                    <span v-if="lot.sale"
                          :class="$style.saleIcon"
                          v-html="lot.sale_icon">
                    </span>
                </h3>
            </div>
            <div :class="$style.project"
                 class="text fw-500 c-vice">
                {{ projectName }}
            </div>
            <div :class="$style.info"
                 class="text fw-500 c-base">
                {{ buildingName }}, {{ floorNumber }} {{ totalFloors }} эт.
            </div>
            <div :class="$style.completion"
                 class="text fw-500 c-base">
                {{ completion }}
            </div>

            <div :class="$style.price"
                 class="text fw-500 c-base">
                {{ currentPrice|splitThousands }} <span class="rub">&#8381;</span>
            </div>

            <div v-if="lot.facing && lot.furnishPrice"
                 :class="$style.switcher">
                <VSwitch v-model="facing"
                         :class="$style.switch">
                    <template #trueLabel>
                        С отделкой
                    </template>
                </VSwitch>
            </div>

            <VButton :class="$style.bookBtn"
                     @click="onBookClick">
                Забронировать
            </VButton>
            <VHeartButton
                size="large"
                :active="isInFavorite"
                @click="onFavoriteClick"
            />
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import {scrollTo, prettyCompletion} from '../../../assets/js/utils/commonUtils';

    /* components */
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRightLong from '../../icons/IconArrowRightLong';
    import VButton from '../../ui/button/VButton';
    import VSwitch from '../../ui/switch/VSwitch';
    import ReservationForm from '../../common/forms/BookedForm';
    import RequestFormModal from '../../layout/modals/RequestFormModal';
    import VHeartButton from '../../ui/button/VHeartButton';

    export default {
        name: 'FlatHeader',

        components: {
            VHeartButton,
            VSwitch,
            VButton,
            IconArrowRightLong,
            VCircleButton,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                isVisible: true,
                facing: false,
            };
        },

        computed: {
            ...mapState('favorites', [
                'favorites',
            ]),

            isInFavorite() {
                return this.favorites.includes(this.lot.id);
            },

            classes() {
                return {
                    [this.$style._visible]: this.isVisible,
                };
            },

            projectName() {
                return this.lot.project?.name ? this.lot.project.name : '';
            },

            buildingName() {
                return this.lot.building?.nameDisplay ? this.lot.building.nameDisplay : '';
            },

            floorNumber() {
                return this.lot.floor?.number ? this.lot.floor.number : '';
            },

            totalFloors() {
                return this.lot?.buildingTotalFloor ? `/ ${this.lot.buildingTotalFloor}` : '';
            },

            completion() {
                return this.lot.building?.readyQuarter && this.lot.building?.builtYear ? prettyCompletion(this.lot.building.readyQuarter, this.lot.building.builtYear) : '';
            },

            lotDefaultPlan() {
                return this.lot.plan ? this.lot.plan : '/images/flat/flat-placeholder.svg';
            },

            flatTitle() {
                let title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-ком.`;
                title += ` ${this.lot.area ? this.lot.area.toLocaleString() : ''} м<sup>2</sup>`;
                return title;
            },

            currentPrice() {
                return this.facing ? this.lot.furnishPrice : this.lot.price;
            },
        },

        mounted() {
            if (window.innerWidth <= 992) {
                return;
            }
            this.handleScroll();
            window.addEventListener('scroll', this.handleScroll);
        },

        beforeDestroy() {
            if (window.innerWidth <= 992) {
                return;
            }

            window.removeEventListener('scroll', this.handleScroll);
        },

        methods: {
            ...mapActions('favorites', [
                'changeFavoriteState',
            ]),

            handleScroll() {
                if (!this.$parent?.$refs?.hero?.$el) {
                    return;
                }
                const offset = this.$parent.$refs.hero.$el.offsetTop + this.$parent.$refs.hero.$el.offsetHeight;
                requestAnimationFrame(() => {
                    this.isVisible = offset < window.pageYOffset;
                });
            },

            onScrollClick() {
                scrollTo();
            },

            onBookClick() {
                this.$modal.open(RequestFormModal, {
                    title: 'Заявка на бронирование',
                    subtitle: 'Проконсультируем в течение часа',
                    form: ReservationForm,
                    id: this.lot.id,
                    yandexMetrika: 'lead-booking',
                    obj: {
                        projectSlug: this.lot.project?.slug ? this.lot.project.slug : '',
                        propertyType: this.lot.type,
                    },
                });
            },

            onFavoriteClick() {
                this.changeFavoriteState(this.lot.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatHeader {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 12.1rem;
        padding: 1.6rem 0;
        border-bottom: 1px solid $base-100;
        background-color: $base-50;
        transform: translateY(-100%);
        transition: transform $default-transition;

        &._visible {
            transform: translateY(0);
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    .container {
        display: flex;
        align-items: center;
    }

    .scrollBtn {
        margin-right: 4rem;

        svg {
            transform: rotate(-90deg);
        }
    }

    .layouts {
        position: relative;
        width: 8.9rem;
        height: 8.9rem;
        margin-right: 4.8rem;
    }

    .plan {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .titleWrapper {
        width: 26rem;
    }

    .title {
        position: relative;
        display: inline-block;
        padding-left: 5.6rem;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 2.4rem;
            width: 1px;
            background-color: $base-100;
            transform: translateY(-50%);
        }
    }

    .saleIcon {
        position: absolute;
        bottom: calc(100% - .4rem);
        left: calc(100% - .4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        background: linear-gradient(0deg, $vice 0%, $moxxy 57.99%, $redline 100%);

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }

        &:before {
            content: '';
            position: absolute;
            top: -.8rem;
            right: -.6rem;
            z-index: -1;
            width: 8rem;
            height: 4rem;
            box-sizing: border-box;
            border-radius: 4rem;
            transform: rotate(-30deg);
            transform-origin: 77% 50%;
            background: linear-gradient(-90deg, rgba($base-100, .64) 0%, rgba($base-100, 0) 100%);
        }
    }

    .project {
        margin-left: auto;
        margin-right: 4.8rem;
        padding-top: .4rem;

        @include respond-to(lg) {
            display: none;
        }
    }

    .info {
        flex-shrink: 0;
        padding-top: .4rem;
        text-align: right;
        white-space: nowrap;

        @include respond-to(lg) {
            width: 22.9rem;
        }
    }

    .completion {
        flex-shrink: 0;
        width: 12.4rem;
        padding-top: .4rem;
        text-align: right;
    }

    .price {
        flex-shrink: 0;
        width: 14.4rem;
        padding-top: .4rem;
        text-align: right;

        @include respond-to(lg) {
            width: 13.6rem;
        }
    }

    .switcher {
        margin-left: 1.8rem;
        padding-top: 1rem;

        @include respond-to(lg) {
            display: none;
        }
    }

    .bookBtn {
        width: 24rem;
        margin-right: .8rem;
        margin-left: 5.6rem;

        @include respond-to(lg) {
            margin-left: auto;
        }
    }
</style>
