<template>
    <div ref="container"
         :class="$style.LotHeroPlansGenplan">
        <div ref="wrapper"
             :class="$style.body"
             :style="position">
            <div :class="$style.preview"
                 :style="{backgroundImage: `url(${genplanPreview})`}">
                <div :class="[$style.imgWrap, {[$style._loaded] : isLoaded}]">

                    <img ref="image"
                         :src="genplanOrigin"
                         :class="$style.origin"
                         alt="Генплан">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         :class="$style.svg"
                         :viewBox="genplanViewbox">
                        <g ref="polygon"
                           :class="[$style.hightliting, [$style[`_${colorClass}`]]]"
                           v-html="buildingHover"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'LotHeroPlansGenplan',

        props: {
            genplanOrigin: {
                type: String,
                default: '',
            },

            genplanPreview: {
                type: String,
                default: '',
            },

            genplanWidth: {
                type: Number,
                default: 0,
            },

            genplanHeight: {
                type: Number,
                default: 0,
            },

            buildingHover: {
                type: String,
                default: '',
            },

            colorClass: {
                type: String,
                default: 'vice',
            },
        },

        data() {
            return {
                transformPercent: 0,
                isLoaded: false,
                imgEl: null,
                iw: 0,
                ih: 0,
            };
        },

        computed: {
            genplanViewbox() {
                return `0 0 ${this.iw} ${this.ih}`;
            },

            position() {
                return {transform: `translateX(-${this.transformPercent}%)`};
            },
        },

        watch: {
            transformPercent() {
                this.$nextTick(() => {
                    this.isLoaded = true;
                });
            },
        },

        mounted() {
            this.imgEl = new Image();
            this.imgEl.addEventListener('load', this.handleImageLoad);
            this.imgEl.src = this.genplanOrigin;
        },

        beforeDestroy() {
            this.imgEl.removeEventListener('load', this.handleImageLoad);
        },

        methods: {
            setPosition() {
                const containerRect = this.$refs.container.getBoundingClientRect();
                const wrapperRect = this.$refs.wrapper.getBoundingClientRect();
                const polygonRect = this.$refs.polygon.getBoundingClientRect();

                const notVisibleWidth = wrapperRect.width - containerRect.width;
                const containerCenter = containerRect.left + (containerRect.width / 2);
                const polygonCenter = polygonRect.left + (polygonRect.width / 2);
                const centerDiff = polygonCenter - containerCenter;

                if (centerDiff < 0) {
                    this.$nextTick(() => {
                        this.isLoaded = true;
                    });
                    return;
                }

                this.transformPercent = notVisibleWidth > centerDiff
                    ? centerDiff / wrapperRect.width * 100
                    : notVisibleWidth / wrapperRect.width * 100;

                this.$nextTick(() => {
                    this.isLoaded = true;
                });
            },

            handleImageLoad() {
                if (this.isLoaded) {
                    return;
                }

                this.iw = this.$refs.image?.naturalWidth;
                this.ih = this.$refs.image?.naturalHeight;

                this.$nextTick(() => {
                    this.setPosition();
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .LotHeroPlansGenplan {
        position: relative;
        display: flex;
        height: 100%;
        overflow: hidden;
        border-radius: 400px;
        backface-visibility: hidden;
        transform: translateZ(0);
    }

    .body {
        position: relative;
        height: 100%;
        width: auto;
        overflow: hidden;
        border-radius: 400px;
        backface-visibility: hidden;
        transform: translateZ(0);
    }

    .preview {
        display: flex;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imgWrap {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .4s linear;

        &._loaded {
            opacity: 1;
        }
    }

    .origin {
        display: block;
        height: 100%;
        width: auto;
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }

    .hightliting {
        &._vice {
            fill: rgba($vice, .32);
        }

        &._redline {
            fill: rgba($redline, .32);
        }

        &._moxxy {
            fill: rgba($moxxy, .32);
        }

        &._kain {
            fill: rgba($kain, .32);
        }

        &._elysium {
            fill: rgba($elysium, .32);
        }

        &._blue {
            fill: rgba($blue, .32);
        }
    }
</style>
