<template>
    <article :class="[$style.AccordionItem, classes]"
             class="accordion-item">

        <div :class="$style.header"
             class="accordion-item__header"
             @click="onToggle">
            <div :class="$style.wrapper"
                 class="container">
                <div :class="$style.title">
                    <slot name="header"></slot>
                </div>
                <div v-if="!simple"
                     :class="[$style.circle, {[$style['has-icon']]: $slots.icon}]">
                    <VCircleButton @click.stop.prevent.native="onToggle">
                        <span :class="$style.btn"></span>
                        <span :class="$style.icon">
                            <slot name="icon"></slot>
                        </span>
                    </VCircleButton>
                </div>
                <div v-if="!simple"
                     :class="$style.switcher"
                     class="switcher">
                    <VCircleButton
                        :color="isOpen && headerActiveColor ? headerActiveColor : 'default'"
                        :size="iconSize"
                        @click.stop.prevent.native="onToggle">
                        <component
                            :is="iconType === 'arrow' ? 'IconArrowRight' : 'span'"
                            class="frame-icon"
                            :class="$style.btn"
                        />
                    </VCircleButton>
                </div>
            </div>
        </div>
        <div ref="container"
             :class="$style.container"
             :style="style">
            <div :class="$style.content"
                 class="text">
                <slot name="content"></slot>
            </div>
            <div v-if="simple"
                 :class="[$style.hide, $style[`_${hideButtonColor}`]]"
                 @click="onToggle">
                Свернуть предложения
                <IconArrowLeft />
            </div>
        </div>
    </article>
</template>

<script>
    import {throttle} from '../../assets/js/utils/commonUtils';

    /* components */
    import VCircleButton from '~/components/ui/button/VCircleButton';
    import IconArrowRight from '~/components/icons/IconArrowRight';
    import IconArrowLeft from '@/components/icons/IconArrowLeft';

    export default {
        name: 'AccordionItem',

        components: {
            IconArrowLeft,
            IconArrowRight,
            VCircleButton,
        },

        props: {
            color: {
                type: String,
                default: 'default',
            },

            iconSize: {
                type: String,
                default: 'tiny',
            },

            iconType: {
                type: String,
                default: 'arrow',
            },

            headerActiveColor: {
                type: String,
                default: '',
            },

            buttonPosition: {
                type: String,
                default: 'center',
            },

            rounded: {
                type: Boolean,
                default: false,
            },

            simple: {
                type: Boolean,
                default: false,
            },

            reloading: Boolean,

            opened: {
                type: Boolean,
                default: false,
            },

            hideButtonColor: {
                type: String,
                default: 'white',
            },
        },

        data() {
            return {
                isOpen: this.opened,
                contentHeight: null,
                maxHeight: 0,
                throttleResize: null,
            };
        },

        computed: {
            style() {
                return {maxHeight: `${this.maxHeight}px`};
            },

            classes() {
                return [
                    [this.$style[`_${this.color}`]],
                    [this.$style[`_${this.headerActiveColor}`]],
                    {[this.$style._opened]: this.isOpen},
                    {[this.$style['is-simple']]: this.simple},
                    this.$style[`_${this.buttonPosition}`],
                ];
            },
        },

        watch: {
            opened(val) {
                if (val === null) {
                    return;
                }

                this.onToggle(val);
            },

            contentHeight() {
                if (this.isOpen) {
                    this.maxHeight = this.contentHeight;
                }
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.contentHeight = this.$refs.container.scrollHeight;
            });
            this.throttleResize = throttle(this.handleResize, 1000);
            window.addEventListener('resize', this.throttleResize);
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.throttleResize);
        },

        methods: {
            onToggle(val) {
                this.isOpen = typeof val === 'boolean' && val !== this.isOpen ? val : !this.isOpen;
                if (this.isOpen) {
                    this.maxHeight = this.contentHeight;
                } else {
                    this.maxHeight = 0;
                }

                this.$emit('toggle', this.isOpen);
            },

            handleResize() {
                this.contentHeight = this.$refs.container.scrollHeight;
                this.$emit('resize');
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s $bezier-second;

    .AccordionItem {
        background-color: $milk;
        transition: background-color .4s ease-in-out;

        @include hover {
            &:hover {
                .header {
                    &:before {
                        transform: scaleY(1);
                    }
                }
            }
        }

        /* colors */
        &._default {
            .header {
                &:before {
                    background-color: $base-50;
                }
            }

            &._opened {
                background-color: $base-50;
            }
        }

        &._milk {
            background-color: $base-50;

            .header {
                &:before {
                    background-color: $milk;
                }
            }

            &._opened {
                background-color: $milk;
            }
        }

        &._gray {
            .hide {
                background-color: rgba($base-200, .5);
            }
        }

        /* end colors */

        &.is-simple {
            background-color: transparent;

            &._opened {
                background-color: transparent;
            }

            .header {
                padding: 0;

                @include respond-to(sm) {
                    padding: 0;
                }

                @include respond-to(xs) {
                    padding: 0;
                }
            }

            .title {
                padding-right: 0;

                @include respond-to(xs) {
                    padding-right: 0;
                }
            }
        }

        &._opened {
            .btn {
                &:before {
                    transform: translate(-50%, -50%) rotate(0);
                }
            }

            &._redline {
                .title {
                    @include respond-to(xs) {
                        color: $redline;
                    }
                }

                .btn {
                    @include respond-to(xs) {
                        color: $milk;
                    }
                }
            }

            &._moxxy {
                .title {
                    @include respond-to(xs) {
                        color: $moxxy;
                    }
                }

                .btn {
                    @include respond-to(xs) {
                        color: $milk;
                    }
                }
            }

            &._vice {
                .title {
                    @include respond-to(xs) {
                        color: $vice;
                    }
                }

                .btn {
                    @include respond-to(xs) {
                        color: $milk;
                    }
                }
            }

            .switcher {
                svg {
                    transform: rotate(90deg);
                }
            }

            .circle {
                &.has-icon {
                    .btn {
                        opacity: 1;
                    }

                    .icon {
                        opacity: 0;
                    }
                }
            }
        }

        &._center {
            .circle {
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                @include respond-to(sm) {
                    right: 40px;
                }
            }

            .switcher {
                bottom: auto;
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                @include respond-to(sm) {
                    right: 40px;
                }

                @include respond-to(xs) {
                    right: 16px;
                }
            }
        }

        &._top {
            .circle {
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                @include respond-to(sm) {
                    top: 0;
                    right: 40px;
                    transform: none;
                }
            }
        }
    }

    .header {
        position: relative;
        padding: 6.2rem 0 5.2rem;
        cursor: pointer;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% + 1px);
            bottom: -1px;
            left: 0;
            transform: scaleY(0);
            will-change: transform;
            backface-visibility: hidden;
            transform-origin: 100% 100%;
            transition: transform $transition;
        }

        @include respond-to(sm) {
            padding: 40px 0;
        }

        @include respond-to(xs) {
            padding: 24px 0;
        }
    }

    .wrapper {
        position: relative;
    }

    .title {
        padding-right: 4.8rem;
        color: $base-500;
        transition: color $default-transition;

        @include respond-to(xs) {
            padding-right: 52px;
        }
    }

    .circle {
        position: absolute;

        @include respond-to(xs) {
            display: none;
        }

        &.has-icon {
            .btn {
                opacity: 0;

                &:before {
                    content: none;
                }
            }
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $base-400;
        transform: translate(-50%, -50%);
        transition: opacity $default-transition;
    }

    .btn {
        position: relative;
        width: 4rem;
        height: 4rem;
        color: $base-400;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1rem;
            height: 2px;
            background-color: currentColor;
            will-change: transform;
            transition: transform .3s linear;

            @include respond-to(xs) {
                width: 8px;
            }
        }

        &:after {
            transform: translate(-50%, -50%);
        }

        &:before {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .switcher {
        display: none;

        svg {
            transform: rotate(-90deg);
            transition: transform $default-transition;
        }

        :global {
            .v-circle-button__icon {
                position: absolute;
            }
        }

        @include respond-to(xs) {
            position: absolute;
            bottom: 4px;
            right: $side-padding-mobile;
            display: inline-flex;
        }
    }

    .container {
        overflow: hidden;
        max-height: 0;
        transition: max-height .3s ease-in-out;
    }

    .hide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.6rem;
        margin-top: 1.6rem;
        border-radius: 3.2rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        cursor: pointer;

        &._white {
            background-color: rgba($milk, .08);
            color: $milk;
        }

        &._night {
            background-color: rgba($base-500, .08);
            color: $base-500;
        }

        @include respond-to(sm) {
            margin-left: 40px;
            margin-right: 40px;
        }

        & > svg {
            width: 3.2rem;
            height: 3.2rem;
            transform: rotate(-90deg);
            fill: currentColor;
        }
    }
</style>
