<template>
    <div :class="$style.ActionBlock"
         @mouseenter="handleMouseEnter"
         @mouseleave="handleMouseLeave"
         @click="onClick">
        <div :class="$style.container"
             class="container">
            <p :class="$style.text"
               class="action-text">
                <component
                    :is="component"
                    v-bind="linkProperties"
                    :class="$style.link"
                    @click.prevent="onClick"
                    v-html="linkText"
                />
                <span v-html="text">
                </span>
            </p>
            <span v-if="label"
                  :class="$style.label"
                  v-html="label">
            </span>
            <VCircleButton :class="$style.arrow"
                           :link="link"
                           :href="href"
                           color="redline"
                           :inverse="isHovered"
                           :size-hover="isHovered"
                           @click.native="onClick">
                <IconArrowRightLong class="frame-icon" />
            </VCircleButton>
        </div>
    </div>
</template>

<script>
    import VCircleButton from '../ui/button/VCircleButton';
    import IconArrowRightLong from '../icons/IconArrowRightLong';

    export default {
        name: 'ActionBlock',

        components: {
            IconArrowRightLong,
            VCircleButton,
        },

        props: {
            linkText: {
                type: String,
                default: '',
            },

            text: {
                type: String,
                default: '',
            },

            label: {
                type: String,
                default: '',
            },

            link: {
                type: String,
                default: '',
            },

            href: {
                type: String,
                default: '',
            },

            blank: Boolean,

            onClick: {
                type: Function,
                default: () => ({}),
            },
        },

        data() {
            return {
                isHovered: false,
            };
        },

        computed: {
            component() {
                if (this.href) {
                    return 'a';
                } else if (this.link) {
                    return 'n-link';
                } else if (this.tag) {
                    return this.tag;
                }
                return 'span';
            },

            linkProperties() {
                const linkProperties = {};
                if (this.link) {
                    linkProperties.to = this.link;
                } else if (this.href) {
                    linkProperties.href = this.href;
                }

                if (this.blank) {
                    linkProperties.target = '_blank';
                }
                return linkProperties;
            },
        },

        methods: {
            handleMouseEnter() {
                if (this.$device.isMobileOrTablet) {
                    return;
                }

                this.isHovered = true;
            },

            handleMouseLeave() {
                if (this.$device.isMobileOrTablet) {
                    return;
                }

                this.isHovered = false;
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s $bezier-second;

    .ActionBlock {
        position: relative;
        padding-top: 4.4rem;
        padding-bottom: 4.4rem;
        background-color: $base-500;
        cursor: pointer;

        @include hover {
            &:hover {
                &:before {
                    transform: scaleY(1);
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $redline;
            transform: scaleY(0);
            transform-origin: 100% 100%;
            transition: transform $transition;
        }

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .text {
        margin-right: auto;
        font-size: 1.8rem;
        line-height: 1.36;
        font-weight: 500;
        color: rgba(#fff, .64);

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
        }

        @include respond-to(xs) {
            display: inline-block;
            padding-right: 40px;
            font-size: 1.6rem;
            line-height: 1.25;
        }
    }

    .link {
        display: inline-block;
        margin-right: 4px;
        color: #fff;
    }

    .label {
        margin-right: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.46;
        color: $milk;

        @include respond-to(xs) {
            display: none;
        }
    }
</style>
