<template>
    <div :class="$style.BlockAnimationWrapper"
         :style="overflowStyles">
        <div :class="[$style.body, {[$style._visible]: visible}]"
             :style="styles">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'BlockAnimationWrapper',

        props: {
            visible: {
                type: Boolean,
                default: false,
            },

            delay: {
                type: Number,
                default: 0,
            },
        },

        data() {
            return {
                overflow: 'hidden',
            };
        },

        computed: {
            styles() {
                return this.delay ? {transitionDelay: `${this.delay}s`} : '';
            },

            overflowStyles() {
                return {overflow: this.overflow};
            },
        },

        watch: {
            visible() {
                setTimeout(() => {
                    this.overflow = '';
                }, 300);
            },
        },
    };
</script>

<style lang="scss" module>
    .BlockAnimationWrapper {
        //
    }

    .body {
        opacity: 0;
        transform: translate3d(0, 5rem, 0);
        will-change: opacity, transform;
        transition: transform $text-transition, opacity $text-transition;

        &._visible {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
</style>
