<template>
    <div :class="$style.CardTags"
         @mouseleave="handleMouseLeave">
        <div ref="tags"
             :class="[$style.body, classes]">
            <div v-for="(tag, i) in displayedTags"
                 ref="tag"
                 :key="i"
                 :class="$style.tag">
                <VTag :color="tag.color ? tag.color : color"
                      :outline="tag.outline ? tag.outline : outline">
                    {{ tag.name ? tag.name : tag }}
                </VTag>
            </div>

            <div v-if="lastTags.length && !isShowOtherTags"
                 :class="[$style.tag, {[$style.plus]: clickMore}]"
                 @mouseenter="handleMouseEnter"
                 @click.prevent.stop="handleShowTags">
                <VTag :color="color"
                      :outline="outline">
                    +{{ lastTags.length }}
                </VTag>
            </div>
        </div>
    </div>
</template>

<script>
    import {throttle} from '../../assets/js/utils/commonUtils';

    /* components */
    import VTag from '../ui/tag/VTag';

    export default {
        name: 'CardTags',

        components: {
            VTag,
        },

        props: {
            tags: {
                type: Array,
                default: () => [],
            },

            color: {
                type: String,
                default: 'default',
            },

            displayCount: {
                type: [String, Number],
                default: null,
            },

            clickMore: Boolean,
            outline: Boolean,
            noWrap: Boolean,
        },

        data() {
            return {
                throttleResize: null,
                isShowOtherTags: true,
                count: typeof this.displayCount === 'number' ? this.displayCount : this.tags.length,
            };
        },

        computed: {
            firstTags() {
                return this.displayCount === 'all' ? this.tags : this.tags.slice(0, this.count);
            },

            lastTags() {
                return this.displayCount === 'all' ? [] : this.tags.slice(this.count);
            },

            displayedTags() {
                return this.isShowOtherTags ? this.tags : this.firstTags;
            },

            classes() {
                return {
                    [this.$style['_no-wrap']]: this.noWrap,
                };
            },
        },

        mounted() {
            this.$nextTick(() => {
                if (this.tags.length > 1) {
                    this.checkOffset();
                }
            });
            this.throttleResize = throttle(this.handleResize, 1000);
            window.addEventListener('resize', this.throttleResize);
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.throttleResize);
        },

        methods: {
            handleMouseEnter() {
                if (!this.$device.isDesktop) {
                    return;
                }
                this.isShowOtherTags = true;
            },

            handleShowTags() {
                this.isShowOtherTags = true;
            },

            handleMouseLeave() {
                if (!this.lastTags.length) {
                    return;
                }
                this.isShowOtherTags = false;
            },

            handleResize() {
                if (this.tags.length > 1) {
                    this.checkOffset();
                }
            },

            checkOffset() {
                if (!this.$refs.tags) {
                    return;
                }

                this.isShowOtherTags = true;
                const tags = Array.from(this.$refs.tag);
                if (!tags.length) {
                    return;
                }
                const containerWidth = this.$refs.tags?.offsetWidth;
                const countTagWidth = (containerWidth * 15) / 100;
                let width = 0;
                for (let i = 0; i < tags.length; i++) {
                    width += tags[i].offsetWidth;
                    if (width + countTagWidth > containerWidth) {
                        this.count = i;
                        break;
                    }
                }
                this.isShowOtherTags = false;
            },
        },
    };
</script>

<style lang="scss" module>
    .CardTags {
        width: 100%;
        pointer-events: none;
    }

    .body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -.2rem;

        &._no-wrap {
            flex-wrap: nowrap;
        }
    }

    .tag {
        padding: 0 .2rem;
    }

    .plus {
        pointer-events: all;
    }
</style>
