<template>
    <svg :class="$style.Compass"
         viewBox="0 0 82 82"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path
            d="M49.4829 23.174C56.2814 26.3627 60.9925 33.2658 61.0002 41.2721C61.0107 52.3178 52.0649 61.2806 41.0192 61.2912C29.9736 61.3017 21.0107 52.3559 21.0002 41.3103C20.9925 33.3039 25.6905 26.3919 32.4829 23.1902"
            stroke="#99A7B5" />
        <path
            d="M40.1676 18.4153C40.5662 17.8618 41.3897 17.8611 41.7893 18.4137L44.1677 21.7027C44.6456 22.3636 44.1739 23.2879 43.3583 23.2886L38.6079 23.2932C37.7923 23.2939 37.3188 22.3706 37.7955 21.7087L40.1676 18.4153Z"
            fill="#012345" />
        <path
            d="M41.0464 5.86953C41.7464 5.86886 42.3799 6.03825 42.9469 6.37771C43.5205 6.71717 43.961 7.18008 44.2682 7.76645L43.1786 8.16749C42.9582 7.7877 42.6613 7.49132 42.2877 7.27834C41.9142 7.0587 41.5007 6.94909 41.0474 6.94953C40.3407 6.9502 39.7543 7.19409 39.2881 7.6812C38.8152 8.17499 38.5792 8.78188 38.5798 9.50188C38.5805 10.2219 38.8178 10.8283 39.2916 11.3212C39.7587 11.8074 40.3456 12.0502 41.0523 12.0495C41.5056 12.0491 41.9188 11.942 42.292 11.7283C42.6651 11.508 42.9615 11.2077 43.1811 10.8275L44.2715 11.2265C43.9654 11.8134 43.5258 12.2772 42.9528 12.6177C42.3865 12.9583 41.7533 13.1289 41.0533 13.1295C40.02 13.1305 39.1563 12.7847 38.4623 12.092C37.7683 11.3993 37.4208 10.5363 37.4198 9.50299C37.4189 8.46965 37.7647 7.60599 38.4574 6.912C39.15 6.218 40.013 5.87051 41.0464 5.86953Z"
            fill="#012345" />
        <path
            d="M12.2331 44.4482C11.5464 44.4489 10.9596 44.2994 10.4727 43.9999C9.99237 43.6937 9.62863 43.2674 9.38144 42.7209L10.4711 42.3099C10.7784 43.0163 11.3587 43.369 12.2121 43.3682C12.6921 43.3678 13.082 43.2641 13.3818 43.0571C13.6882 42.8435 13.8413 42.5733 13.841 42.2467C13.8407 41.9667 13.7338 41.7268 13.5203 41.527C13.3068 41.3272 13.0467 41.2274 12.74 41.2277L11.4 41.229L11.399 40.189L12.719 40.1877C12.9924 40.1875 13.2189 40.1006 13.3988 39.9271C13.5853 39.7469 13.6784 39.5302 13.6782 39.2768C13.6779 38.9768 13.541 38.7336 13.2675 38.5472C12.994 38.3608 12.6372 38.2678 12.1972 38.2682C11.3772 38.269 10.8142 38.6229 10.5082 39.3298L9.41782 38.9209C9.66396 38.374 10.0236 37.9503 10.4966 37.6499C10.9696 37.3427 11.5395 37.1889 12.2062 37.1882C12.9728 37.1875 13.603 37.3736 14.0967 37.7464C14.5904 38.1193 14.8375 38.5924 14.8381 39.1657C14.8387 39.8124 14.5558 40.3193 13.9895 40.6865C14.303 40.8662 14.5499 41.1027 14.7302 41.3958C14.9105 41.689 15.0008 42.0089 15.0011 42.3556C15.0017 42.9689 14.7422 43.4691 14.2225 43.8563C13.6962 44.2501 13.0331 44.4474 12.2331 44.4482Z"
            fill="#99A7B5" />
        <path
            d="M70.2332 44.2631L66.6832 44.2664L66.6765 37.2664L70.0265 37.2632C70.6199 37.2627 71.1167 37.4422 71.517 37.8018C71.9174 38.1481 72.1178 38.5913 72.1183 39.1313C72.1189 39.7179 71.8727 40.1982 71.3797 40.572C71.7065 40.745 71.9634 40.9847 72.1504 41.2912C72.3373 41.591 72.431 41.921 72.4313 42.281C72.4319 42.8476 72.2223 43.3212 71.8027 43.7016C71.3764 44.0753 70.8532 44.2625 70.2332 44.2631ZM70.2303 41.1631L67.8003 41.1654L67.8022 43.2254L70.2322 43.2231C70.5256 43.2228 70.7721 43.1259 70.9719 42.9323C71.1718 42.7322 71.2715 42.4854 71.2712 42.1921C71.271 41.8987 71.1707 41.6555 70.9705 41.4623C70.7703 41.2625 70.5236 41.1628 70.2303 41.1631ZM70.0275 38.3032L67.7975 38.3054L67.7993 40.1254L70.0293 40.1232C70.2959 40.123 70.5158 40.0361 70.689 39.8626C70.8622 39.6891 70.9486 39.4724 70.9484 39.2124C70.9481 38.9524 70.8613 38.7358 70.6878 38.5626C70.5143 38.3894 70.2942 38.303 70.0275 38.3032Z"
            fill="#99A7B5" />
        <path
            d="M36.7123 75.0037L36.7056 68.0037L37.8256 68.0027L37.8284 70.9427L39.0484 70.9415C39.1809 70.0281 39.5768 69.291 40.2363 68.7304C40.9091 68.1564 41.7088 67.869 42.6355 67.8681C43.6688 67.8671 44.5325 68.2129 45.2265 68.9056C45.9271 69.5916 46.2779 70.4546 46.2789 71.4946C46.2799 72.5346 45.9307 73.3983 45.2314 74.0856C44.5387 74.7796 43.6757 75.1271 42.6424 75.1281C41.6891 75.129 40.8788 74.8364 40.2115 74.2504C39.5443 73.6644 39.1536 72.9081 39.0394 71.9815L37.8294 71.9827L37.8323 75.0027L36.7123 75.0037ZM40.8807 73.3198C41.3478 73.806 41.9347 74.0488 42.6414 74.0481C43.348 74.0474 43.9345 73.8035 44.4007 73.3164C44.8735 72.8226 45.1096 72.2157 45.1089 71.4957C45.1082 70.7757 44.871 70.1693 44.3972 69.6764C43.9301 69.1902 43.3432 68.9474 42.6365 68.9481C41.9298 68.9488 41.3434 69.1927 40.8772 69.6798C40.4043 70.1736 40.1682 70.7804 40.1689 71.5004C40.1696 72.2204 40.4069 72.8269 40.8807 73.3198Z"
            fill="#99A7B5" />
        <circle cx="40.9626"
                cy="41.2888"
                r="2"
                transform="rotate(7.33715 40.9626 41.2888)"
                fill="#99A7B5" />
    </svg>
</template>

<script>
    export default {
        name: 'Compass',
    };
</script>

<style lang="scss" module>
    .Compass {
        width: 8.2rem;
        height: 8.2rem;

        @include respond-to(xs) {
            width: 48px;
            height: 48px;
        }
    }
</style>
