<template>
    <svg :class="[$style.DeveloperLogo, {[$style._small]: small}]"
         viewBox="0 0 168 20"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.13 10.625C2.297 10.625 0 8.247 0 5.312 0 2.378 2.297 0 5.13 0h29.496v4.375H5.771c-.354 0-.641.42-.641.937 0 .518.287.938.641.938h28.855v4.375H5.13zm76.305-5.313c0 2.935-2.297 5.313-5.13 5.313H53.221V6.25h22.443c.354 0 .641-.42.641-.938 0-.517-.287-.937-.64-.937H51.297v6.25h-4.489V0h29.496c2.833 0 5.13 2.378 5.13 5.313zm6.412 5.313c-2.833 0-5.13-2.378-5.13-5.313 0-2.934 2.297-5.312 5.13-5.312h29.497v10.625h-4.489v-6.25H88.488c-.354 0-.64.42-.64.937 0 .518.286.938.64.938h22.443v4.375H87.847zm45.527-5.313c0 2.935 2.297 5.313 5.13 5.313h23.084V6.25h-22.443c-.354 0-.641-.42-.641-.938 0-.517.287-.937.641-.937h24.366v6.25H168V0h-29.496c-2.833 0-5.13 2.378-5.13 5.313zm-90.412-.937h2.565V0h-9.619v4.375h2.565v6.25h4.489v-6.25zm80.794 6.25V7.5h3.847v3.125h4.489V0h-4.489v3.125h-3.847V0h-4.489v10.625h4.489z"
              fill="#677B8F" />
        <path
            d="M112.247 18.916V20h-.675v-1.699h.522c.347-.11.521-.663.521-1.659v-2.188h3.275v3.847h.729V20h-.662v-1.084h-3.71zm.696-.615h2.279V15.07h-1.939v1.547c0 .749-.113 1.31-.34 1.685zM117.761 14.454h3.275v.615h-2.607v1.282h2.266v.615h-2.266v1.335h2.641v.615h-3.309v-4.462zM124.583 18.916h-2.279v-4.462h2.152c.379 0 .693.113.942.337.254.225.381.507.381.846 0 .38-.16.688-.481.926.214.106.381.255.502.45.124.193.187.407.187.64 0 .357-.134.66-.401.906-.268.238-.602.357-1.003.357zm0-2.003h-1.611v1.388h1.611a.693.693 0 00.508-.198.658.658 0 00.207-.496.658.658 0 00-.207-.495.693.693 0 00-.508-.199zm-.127-1.844h-1.484v1.23h1.484a.599.599 0 00.635-.615.577.577 0 00-.18-.436.622.622 0 00-.455-.179zM127.277 14.454h3.275v.615h-2.606v1.282h2.266v.615h-2.266v1.335h2.64v.615h-3.309v-4.462zM131.626 18.916h-.174v-.615h.174a.505.505 0 00.361-.125c.227-.207.341-.725.341-1.554v-2.168h3.255v4.462h-.668v-3.847h-1.919v1.553c0 1.53-.456 2.294-1.37 2.294zM136.888 16.689c0-.662.223-1.212.668-1.653.446-.44 1.001-.661 1.665-.661.664 0 1.218.22 1.664.661.45.445.675.996.675 1.653 0 .652-.225 1.2-.675 1.645-.446.441-1 .661-1.664.661-.664 0-1.219-.22-1.665-.66-.445-.441-.668-.99-.668-1.646zm.688 0c0 .475.156.874.468 1.196.316.317.709.476 1.177.476.463 0 .853-.159 1.169-.476a1.65 1.65 0 00.475-1.197c0-.476-.158-.874-.475-1.196a1.562 1.562 0 00-1.169-.483c-.473 0-.865.161-1.177.483-.312.313-.468.712-.468 1.197zM143.525 15.069v3.847h-.668v-4.462h3.87v4.462h-.668v-3.847h-2.534zM148.858 18.916h-.668v-4.462h.668l1.751 3.047 1.752-3.047h.668v4.462h-.668v-3.2l-1.531 2.658h-.441l-1.531-2.664v3.206zM154.488 14.454h3.276v.615h-2.607v1.282h2.266v.615h-2.266v1.335h2.64v.615h-3.309v-4.462zM159.699 18.916h-.668v-4.462h.668v1.897h2.534v-1.897h.668v4.462h-.668v-1.95h-2.534v1.95zM165.7 15.069h-1.631v-.615H168v.615h-1.631v3.847h-.669v-3.847z"
            fill="#677B8F" />
    </svg>
</template>

<script>
    export default {
        name: 'DeveloperLogo',

        props: {
            gray: Boolean,
            small: Boolean,
        },
    };
</script>

<style lang="scss" module>
    .DeveloperLogo {
        width: 16.8rem;
        height: 2rem;

        @include respond-to(sm) {
            width: 172px;
            height: 23px;
        }

        @include respond-to(xs) {
            width: 120px;
            height: 16px;
        }

        &._small {
            width: 15.1rem;
            height: 1.8rem;

            @include respond-to(sm) {
                width: 115px;
                height: 15px;
            }

            @include respond-to(xs) {
                width: 120px;
                height: 16px;
            }
        }
    }
</style>
