<template>
    <div :class="$style.InfoCard">

        <div :class="$style.content">
            <p :class="$style.label"
               class="label"
               v-html="label">
            </p>
            <h3 :class="$style.title"
                class="c-base"
                v-html="title">
            </h3>
            <div :class="$style.description"
                 v-html="description">
            </div>
            <VButton v-if="link"
                     :class="$style.link"
                     :link="link"
                     rounded>
                {{ buttonText }}
            </VButton>

        </div>
        <div :class="$style.image">
            <ImageLazy :image="image" />
        </div>
    </div>
</template>

<script>
    import ImageLazy from './ImageLazy';
    import VButton from '../ui/button/VButton';

    export default {
        name: 'InfoCard',

        components: {
            VButton,
            ImageLazy,
        },

        props: {
            label: {
                type: String,
                default: 'Советуем',
            },

            title: {
                type: String,
                default: '',
            },

            description: {
                type: String,
                default: '',
            },

            buttonText: {
                type: String,
                default: 'Подробнее',
            },

            link: {
                type: String,
                default: '',
            },

            image: {
                type: String,
                default: '',
            },

            preview: {
                type: String,
                default: '',
            },
        },
    };
</script>

<style lang="scss" module>
    .InfoCard {
        position: relative;
        min-height: 56rem;
        height: 100%;
        background-color: $milk;

        @include respond-to(xs) {
            min-height: auto;
        }
    }

    .image {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 31.6rem;

        @include respond-to(xs) {
            position: relative;
            margin-top: 24px;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5.2rem 5.6rem;

        @include respond-to(sm) {
            padding: $side-padding-tablet;
        }

        @include respond-to(xs) {
            height: auto;
            padding: 24px $side-padding-mobile 0;
        }
    }

    .label {
        margin-bottom: .8rem;

        @include respond-to(xs) {
            margin-bottom: 0;
        }
    }

    .title {
        font-size: 1.8rem;
        line-height: 1.36;
        font-weight: 500;

        @include respond-to(xs) {
            line-height: 1.56;
        }
    }

    .description {
        margin-top: 3.2rem;
        color: $base-300;
        font-size: 1.6rem;
        line-height: 1.52;

        @include respond-to(xs) {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .link {
        margin-top: auto;

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }
</style>
