<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 54 35">
        <g fill="url(#ida-gradient)">
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.334 8.422v4.472a2.923 2.923 0 00-2.4-1.198c-2.09 0-3.793 1.837-3.793 4.553 0 2.675 1.664 4.552 3.793 4.552 1.084 0 1.858-.48 2.4-1.158v.918h2.594V8.421h-2.594zm-1.78 9.823c-1.007 0-1.781-.759-1.781-1.996 0-1.198.774-1.997 1.78-1.997 1.007 0 1.781.799 1.781 1.997 0 1.238-.774 1.996-1.78 1.996zm11.342-5.35v-1.039h2.594v8.705h-2.594v-.918c-.542.679-1.316 1.158-2.4 1.158-2.13 0-3.794-1.877-3.794-4.552 0-2.716 1.703-4.553 3.794-4.553 1.045 0 1.858.48 2.4 1.198zm-3.562 3.354c0 1.238.775 1.996 1.781 1.996 1.007 0 1.78-.759 1.78-1.996 0-1.198-.773-1.997-1.78-1.997-1.006 0-1.78.799-1.78 1.997zM2.864 20.64H.27v-8.785h2.593v8.785zm50.453 7.538l.257-.085.426 2.197c-.464.36-1.587.758-2.632.758-1.626 0-3.213-.998-3.213-3.593V24.66h-1.433v-2.515h1.433v-1.797l2.593-.6v2.396h2.826v2.516h-2.826v2.636c0 .838.426 1.238 1.084 1.238.409 0 .878-.155 1.485-.355zm-6.75-.803c-.27 2.435-2.206 3.673-4.258 3.673-2.593 0-4.49-2.036-4.49-4.592 0-2.556 1.858-4.552 4.451-4.552 2.09 0 3.988 1.318 4.259 3.634h-2.671c-.194-.839-.852-1.158-1.549-1.158-1.122 0-1.78.838-1.78 2.076s.696 2.077 1.78 2.077c.697 0 1.394-.32 1.588-1.159h2.67zm-18-.919c0-2.556 1.82-4.552 4.452-4.552 2.787 0 4.645 2.276 4.413 5.111h-6.155c.116 1.358.967 1.917 1.858 1.917.697 0 1.277-.36 1.47-.998h2.672c-.58 2.156-2.361 3.074-4.18 3.074-2.71 0-4.53-1.996-4.53-4.552zm6.116-1.038c-.193-.839-.735-1.438-1.664-1.438-.93 0-1.51.6-1.704 1.438h3.368zm-6.89 9.384h-2.594V22.105h2.594v12.698zm-12.194-8.345c0-2.636 1.974-4.553 4.413-4.553s4.413 1.917 4.413 4.553c0 2.635-1.935 4.552-4.413 4.552-2.477 0-4.413-1.957-4.413-4.552zm6.194 0c0-1.198-.774-1.997-1.78-1.997-1.046 0-1.782.799-1.782 1.997 0 1.238.775 1.996 1.781 1.996 1.007 0 1.78-.759 1.78-1.996zm-9.291-2.995c.503-1.079 1.355-1.558 2.439-1.558.193 0 .348.04.464.08v2.756c-.155-.04-.27-.04-.503-.04-1.2 0-2.4.359-2.4 2.356v3.753H9.908v-8.705h2.594v1.358zm-9.6-.36c.542-.719 1.316-1.198 2.4-1.198 2.13 0 3.794 1.877 3.755 4.592 0 2.676-1.626 4.553-3.794 4.553-1.084 0-1.858-.48-2.4-1.158v4.872H.27v-12.66h2.632v1zm0 3.355c0 1.238.774 1.996 1.78 1.996 1.007 0 1.781-.759 1.781-1.996 0-1.198-.774-1.997-1.78-1.997-1.007 0-1.781.799-1.781 1.997z" />
            <path
                d="M24.89 19.51c0-.88.697-1.518 1.587-1.518.929 0 1.587.639 1.587 1.517 0 .919-.658 1.558-1.587 1.558-.89 0-1.587-.64-1.587-1.558z" />
            <g class="coma">
                <path
                    d="M0 9.517C0 8.64.697 8 1.587 8c.93 0 1.587.639 1.587 1.517 0 .919-.658 1.558-1.587 1.558-.89 0-1.587-.64-1.587-1.558z" />
            </g>
        </g>
        <defs>
            <linearGradient id="ida-gradient"
                            x1="-3.213"
                            y1="32.044"
                            x2="53.899"
                            y2="14.974"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#92278F"
                      class="stop stop__vice" />
                <stop offset=".58"
                      stop-color="#C6168D"
                      class="stop stop__moxxy" />
                <stop offset="1"
                      stop-color="#ED1C24"
                      class="stop stop__redline" />
            </linearGradient>
        </defs>
    </svg>
</template>

<script>
    export default {
        name: 'LogoIdaGradient',
    };
</script>

<style lang="scss">
    $color-time: 2.2s;

    .stop {
        &__vice {
            animation: colors-vice $color-time linear infinite forwards;
        }

        &__moxxy {
            animation: colors-moxxy $color-time linear infinite forwards;
        }

        &__redline {
            animation: colors-redline $color-time linear infinite forwards;
        }
    }

    @keyframes colors-vice {
        from,
        to {
            stop-color: $vice;
        }

        33% {
            stop-color: $redline;
        }

        66% {
            stop-color: $moxxy;
        }
    }

    @keyframes colors-moxxy {
        from,
        to {
            stop-color: $moxxy;
        }

        33% {
            stop-color: $vice;
        }

        66% {
            stop-color: $redline;
        }
    }

    @keyframes colors-redline {
        from,
        to {
            stop-color: $redline;
        }

        33% {
            stop-color: $moxxy;
        }

        66% {
            stop-color: $vice;
        }
    }
</style>
