<template>
    <component :is="realtyType === 'parking' ? 'div' : 'n-link'"
               :to="realtyType === 'parking' ? null : url"
               target="_blank"
               :class="[$style.LotCard, {[$style._disabled]: isRemovedFromFavorites}]"
               @click="onClick">
        <p class="label c-base-200"
           v-html="lotArticle">
        </p>

        <div :class="$style.header">
            <h3 :class="$style.title"
                class="subtitle1 c-base">
                <span v-html="lotTitle">
                </span>
                <span v-if="labelIcon"
                      :class="$style.saleIcon">
                    <component
                        :is="labelIcon"
                        class="frame-icon is-default"
                    />
                </span>
            </h3>
        </div>

        <div :class="[$style.cell, $style._price]"
             class="c-base">
            <div :class="$style.row">
                {{ lot.price|splitThousands }} <span class="rub">&#8381;</span>
            </div>

            <div v-if="saleValue"
                 :class="$style.oldPrice">
                <s class="c-base-200"
                   :class="$style.oldPriceValue">
                    {{ lot.originalPrice|splitThousands }} &#8381;
                </s>
                <span :class="$style.saleValue">
                    - {{ saleValue|splitThousands }} &#8381;
                </span>
            </div>
        </div>

        <div :class="[$style.info, $style._complex]">
            <span :class="$style.label">
                Жилой комплекс
            </span>
            <span :class="$style.cell"
                  class="c-vice"
                  v-html="projectName">
            </span>
        </div>
        <div :class="[$style.info, $style._building]">
            <span :class="$style.label">
                <template v-if="realtyType === 'parking'">ГП</template>
                <template v-else>Дом</template>
                и этаж
            </span>
            <span :class="$style.cell"
                  class="c-base">
                {{ buildingName }}, {{ floorNumber }} эт.
            </span>
        </div>
        <div :class="[$style.info, $style._completion]">
            <span :class="$style.label">
                Срок сдачи
            </span>
            <span :class="$style.cell"
                  class="c-base">
                {{ completion }}
            </span>
        </div>

        <div :class="$style.layouts">
            <div :class="$style.tags">
                <div :class="$style.tagsBody">
                    <div :class="$style.tag">
                        <VTag v-if="lot.firstPayment"
                              outline
                              color="redline">
                            <span
                                class="fw-700">
                                {{ lot.firstPayment|splitThousands }}&#8381;
                            </span>
                            - Первый взнос
                        </VTag>
                    </div>

                    <CardTags
                        v-if="tags && tags.length"
                        :class="$style.tagsList"
                        :tags="tags"
                        outline
                    />

                    <!--<div v-for="(tag, i) in displayedTags"-->
                    <!--:key="i"-->
                    <!--:class="$style.tag">-->
                    <!--<VTag :color="tag.color ? tag.color : 'default'"-->
                    <!--outline>-->
                    <!--{{ tag.name ? tag.name : tag }}-->
                    <!--</VTag>-->
                    <!--</div>-->

                    <!--<div v-if="lastTags.length"-->
                    <!--:class="$style.tag">-->
                    <!--<VTag outline>-->
                    <!--+{{ lastTags.length }}-->
                    <!--</VTag>-->
                    <!--</div>-->
                </div>

                <VHeartButton
                    v-if="!isFavoritesPage"
                    :class="[$style.favorite, {[$style._visible]: isInFavorite}, {[$style._hide]: isRemovedFromFavorites}]"
                    :active="isInFavorite"
                    absolute
                    @click="onFavoritesClick"
                />

                <VCircleButton
                    v-else
                    :class="[$style.favorite, {[$style._visible]: isInFavorite}, {[$style._hide]: isRemovedFromFavorites}]"
                    size="small"
                    absolute
                    @click.stop.prevent="onFavoritesClick">
                    <IconTrash
                        :class="$style.trash"
                    />
                </VCircleButton>
            </div>

            <!--<CardTags-->
            <!--v-if="tags && tags.length"-->
            <!--:class="$style.tags"-->
            <!--:tags="tags"-->
            <!--outline-->
            <!--/>-->
            <div :class="$style.layoutsWrapper">
                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <div ref="wrapper"
                         class="swiper-wrapper"
                         :class="$style.swiperWrapper">
                        <div class="swiper-slide"
                             :class="[$style.slide, slideClass, {[$style._active]: activeSlideIndex === 0}]"
                             @mouseenter="handleMouseEvent(0)">
                            <ImageLazy
                                :class="$style.image"
                                :image="lotDefaultPlan"
                                contain
                                :absolute="$device.isDesktop"
                            />
                        </div>
                        <div v-if="lot.planoplan"
                             class="swiper-slide"
                             :class="[$style.slide, slideClass, {[$style._active]: activeSlideIndex === 1}]"
                             @mouseenter="handleMouseEvent(1)"
                             @mouseleave="handleMouseEvent(0)">
                            <PlanoplanWidget
                                :class="$style.image"
                                :link="lot.planoplan"
                                :init-widget="activeSlideIndex === 1"
                            />
                        </div>
                        <div v-if="isDisplayFloor"
                             class="swiper-slide"
                             :class="[$style.slide, slideClass, {[$style._active]: activeSlideIndex === 2}]"
                             @mouseenter="handleMouseEvent(2)"
                             @mouseleave="handleMouseEvent(0)">
                            <div :class="[$style.image, $style._plan]"
                                 :style="{backgroundImage: `url(${lot.floor.plan})`}">
                                <svg :class="$style.svg"
                                     :viewBox="`0 0 ${lot.floor.planWidth} ${lot.floor.planHeight}`">
                                    <g :class="[$style.flatHightlighting, hightlightingPlanClass]"
                                       v-html="lot.planHover" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <LotCardFavRestore
                    :class="[$style.restore, {[$style._show]: isRemovedFromFavorites}]"
                    @click.native.prevent="onFavoritesClick"
                />
            </div>

            <div ref="pagination"
                 :class="$style.pagination"
                 class="swiper-pagination">
            </div>
        </div>
    </component>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {prettyCompletion, monthByNumber} from '../../assets/js/utils/commonUtils';
    import {mapActions, mapState} from 'vuex';

    /* components */
    import CardTags from './CardTags';
    import VCircleButton from '../ui/button/VCircleButton';
    import VHeartButton from '../ui/button/VHeartButton';
    import IconFavoriteFill from '../icons/IconFavoriteFill';
    import ImageLazy from './ImageLazy';
    import VTag from '../ui/tag/VTag';
    import IconTrash from '../icons/IconTrash';
    import LotCardFavRestore from './lot-card/LotCardFavRestore';
    import IconSale from '../icons/IconSale';
    import IconCar from '../icons/IconCar';
    import IconFacing from '../icons/IconFacing';
    import PlanoplanWidget from './PlanoplanWidget';

    export default {
        name: 'LotCard',

        components: {
            PlanoplanWidget,
            IconFacing,
            IconCar,
            IconSale,
            LotCardFavRestore,
            IconTrash,
            VTag,
            ImageLazy,
            IconFavoriteFill,
            VHeartButton,
            VCircleButton,
            CardTags,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            isFavoritesPage: {
                type: Boolean,
                default: false,
            },

            isRemovedFromFavorites: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                slider: null,
                activeSlideIndex: 0,
                roomsColor: {
                    0: 'elysium',
                    1: 'vice',
                    2: 'moxxy',
                    3: 'redline',
                    4: 'kain',
                },
            };
        },

        computed: {
            ...mapState('favorites', [
                'favorites',
            ]),

            isInFavorite() {
                return this.favorites.includes(this.lot.id);
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            url() {
                switch (this.realtyType) {
                    case 'flat':
                        return `/flats/${this.lot.id}`;
                    case 'parking':
                        return `/parking/${this.lot.id}`;
                    default:
                        return `/commercial/${this.lot.id}`;
                }
            },

            hightlightingPlanClass() {
                return this.lot.rooms ? [this.$style[`_${this.roomsColor[this.lot.rooms]}`]] : [this.$style._vice];
            },

            isDisplayFloor() {
                return this.lot.floor && this.lot.floor.plan && this.lot.planHover;
            },

            projectName() {
                return this.lot.project?.name ? this.lot.project.name : '';
            },

            buildingName() {
                return this.lot.building?.nameDisplay ? this.lot.building.nameDisplay : this.lot.building.name ? this.lot.building.name : '';
            },

            floorNumber() {
                return this.lot.floor?.number ? this.lot.floor.number : '';
            },

            completion() {
                return this.lot.building?.readyQuarter && this.lot.building?.builtYear ? prettyCompletion(this.lot.building.readyQuarter, this.lot.building.builtYear) : '';
            },

            lotDefaultPlan() {
                return this.lot.plan ? this.lot.plan : '/images/flat/flat-placeholder.svg';
            },

            lotArticle() {
                return this.realtyType === 'flat' ? `id: ${this.lot.article}` : this.lot.article;
            },

            lotTitle() {
                let title;
                switch (this.realtyType) {
                    case 'flat':
                        title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-ком.`;
                        break;
                    case 'parking':
                        title = 'Паркинг';
                        break;
                    default:
                        title = 'Помещение';
                }
                title += ` ${this.lot.area ? this.lot.area.toLocaleString() : ''} м<sup>2</sup>`;

                return title;
            },

            saleValue() {
                if (this.lot.originalPrice === null) {
                    return null;
                }

                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },

            tags() {
                const tags = [];
                if (this.lot.hasParking) {
                    tags.push({
                        name: 'Паркинг в подарок',
                        color: 'gradient',
                    });
                }
                if (this.lot.promoEnd) {
                    const date = new Date(this.lot.promoEnd);
                    const now = Date.now();
                    const diff = Math.ceil(Number(date) - now);
                    if (diff > 0) {
                        tags.push({
                            name: `Акция до ${date.getDate()} ${monthByNumber(date.getMonth(), 'short')}.`,
                            color: 'gradient',
                        });
                    }
                }
                if (this.lot.hasView) {
                    tags.push('Видовая');
                }
                if (this.lot.hasTerrace) {
                    tags.push('С террасой');
                }
                if (this.lot.hasHighCeiling) {
                    tags.push('Высокие потолки');
                }
                if (this.lot.isDuplex) {
                    tags.push('Двухуровневая');
                }
                if (this.lot.facing) {
                    tags.push('С отделкой');
                }
                if (this.lot.hasPanoramicWindows) {
                    tags.push('Панорамные окна');
                }
                return tags;
            },

            labelIcon() {
                if (this.saleValue) {
                    return 'IconSale';
                }
                if (this.lot.hasParking) {
                    return 'IconCar';
                }

                if (this.lot.facing) {
                    return 'IconFacing';
                }

                return false;
            },

            displayedTags() {
                return this.isMobile ? this.tags.slice(0, 1) : this.tags.slice(0, 2);
            },

            lastTags() {
                return this.isMobile ? this.tags.slice(1) : this.tags.slice(2);
            },

            slideClass() {
                return {
                    [this.$style._desktop]: this.$device.isDesktop,
                    [this.$style['is-single']]: !this.isDisplayFloor,
                };
            },
        },

        mounted() {
            if (this.$device.isMobileOrTablet && this.$refs.wrapper.children?.length > 1) {
                this.$nextTick(() => {
                    this.initSwiper();
                });
            }
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            ...mapActions('favorites', [
                'changeFavoriteState',
            ]),

            initSwiper() {
                const options = {
                    speed: 700,
                    slidesPerView: 1,

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'bullets',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeSlideIndex = this.slider.realIndex;
                });
            },

            handleMouseEvent(index) {
                this.activeSlideIndex = index;
            },

            onFavoritesClick() {
                this.changeFavoriteState(this.lot.id);
            },

            onClick() {
                if (this.realtyType !== 'parking') {
                    return;
                }

                this.$emit('click', this.lot.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .LotCard {
        position: relative;
        display: block;
        height: 100%;
        padding: 5.2rem 5.6rem 1.6rem;
        background-color: $base-50;
        transition: background-color $default-transition;
        cursor: pointer;

        @include respond-to(sm) {
            padding: $side-padding-tablet $side-padding-tablet 30px;
        }

        @include respond-to(xs) {
            padding: 24px $side-padding-mobile 16px;
        }

        @include hover {
            &:hover {
                background-color: $milk;

                .favorite {
                    opacity: 1;

                    &._hide {
                        opacity: 0;
                    }
                }

                .slide._desktop:after {
                    opacity: 1;
                }
            }
        }

        &._disabled {
            .header,
            .cell,
            .info,
            .tags,
            .slider {
                opacity: .5;
            }
        }
    }

    .header {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        margin-top: .7rem;
        margin-bottom: 1.2rem;
        padding-bottom: .6rem;
        border-bottom: 1px solid $base-100;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            margin-bottom: 12px;
        }

        @include respond-to(xs) {
            padding-bottom: 7px;
            margin-bottom: 10px;
            margin-top: 0;
            border-bottom: none;
        }
    }

    .title {
        position: relative;
        margin-right: auto;

        sup {
            top: -.6em;
            font-size: 60%;
        }
    }

    .saleIcon {
        position: absolute;
        bottom: calc(100% - 1.2rem);
        left: calc(100% + .8rem);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background: linear-gradient(0deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        color: $milk;

        @include respond-to(xs) {
            top: calc((50% + 2px) * -1);
            bottom: auto;
            left: 100%;
        }

        &:before {
            content: "";
            position: absolute;
            top: -.6rem;
            right: -.5rem;
            z-index: -1;
            width: 7.2rem;
            height: 4rem;
            box-sizing: border-box;
            border-radius: 4rem;
            transform: rotate(-30deg);
            transform-origin: 77% 50%;
            background: linear-gradient(-90deg, rgba($base-100, .64) 0%, rgba($base-100, 0) 100%);
        }
    }

    .favorite {
        top: .4rem;
        right: 0;
        opacity: 0;
        transition: color .6s $bezier, opacity $default-transition;

        @include respond-to(sm) {
            opacity: 1;
        }

        &._visible {
            opacity: 1;
        }

        &._hide {
            opacity: 1;
            visibility: hidden;
        }
    }

    .trash {
        width: 1.8rem;
        height: 1.8rem;
        fill: $base-400;
    }

    .cell {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        white-space: nowrap;
        transition: opacity $default-transition;

        &._price {
            margin-bottom: 2.4rem;

            @include respond-to(xs) {
                font-size: 16px;
                line-height: 1.52;
            }
        }

        @include respond-to(sm) {
            width: auto;
        }

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.16;
        }
    }

    .oldPrice {
        display: flex;
        align-items: baseline;
        margin-bottom: .4rem;
        padding-right: 1rem;
        font-weight: normal;
    }

    .oldPriceValue {
        position: relative;
        padding-top: .2rem;
        font-size: 1.2rem;
        line-height: 1;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: translate3d(0, -50%, 0);
        }
    }

    .saleValue {
        position: relative;
        padding: .2rem 0 0 .4rem;
        margin-left: .8rem;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
        background-color: rgba($primary-100, .56);
        color: $redline;
        font-size: 1.2rem;
        line-height: 1.6rem;

        &:after {
            content: "";
            position: absolute;
            left: 100%;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba($primary-100, .56);
            border-radius: .4rem;
            transform: translate(-50%, -50%) rotate(135deg);
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }

    .info {
        display: flex;
        align-items: center;
        margin-bottom: .7rem;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 16px;
        }

        @include respond-to(xs) {
            flex-direction: row;
            align-items: center;
            margin-bottom: 6px;
        }

        &._building {
            @include respond-to(sm) {
                display: inline-flex;
                width: calc(100% - 88px);
                margin-right: auto;
            }

            @include respond-to(xs) {
                width: 100%;
            }
        }

        &._completion {
            @include respond-to(sm) {
                display: inline-flex;
                align-items: flex-end;
            }

            @include respond-to(xs) {
                width: 100%;
                align-items: flex-start;
            }
        }
    }

    .label {
        margin-right: auto;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;
        white-space: nowrap;

        @include respond-to(sm) {
            margin-right: 0;
        }

        @include respond-to(xs) {
            margin-right: auto;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .layouts {
        position: relative;
        padding-top: 7.4rem;
        margin-top: 1.6rem;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            padding-top: 72px;
            margin-top: 8px;
        }

        @include respond-to(xs) {
            padding-top: 52px;
            margin-top: 18px;
        }
    }

    .tags {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-right: 4rem;
        transition: opacity $default-transition;
    }

    .tagsBody {
        display: flex;
        flex-wrap: wrap;
        margin: -.2rem;
    }

    .tag,
    .tagsList {
        padding: .2rem;
    }

    .layoutsWrapper {
        position: relative;
        width: 100%;

        @include aspect-ratio(368, 230);

        @include respond-to(sm) {
            margin-bottom: 0;
            margin-top: auto;
        }

        @include respond-to(xs) {
            margin-top: 16px;

            @include aspect-ratio(288, 288);
        }
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding-bottom: 1.6rem;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            padding-bottom: 0;
        }
    }

    .swiperWrapper {
        @include respond-to(sm) {
            padding-bottom: 20px;
            box-sizing: border-box;
        }

        @include respond-to(xs) {
            padding-bottom: 18px;
        }
    }

    .slide {
        &._desktop {
            flex-shrink: 1;
            display: flex;
            flex-direction: column-reverse;
            position: static;

            &:after {
                content: "";
                position: relative;
                width: calc(100% - 8px);
                height: 1px;
                background-color: $base-200;
                opacity: 0;
                transform: translateY(1.6rem) translateZ(0);
                transition: background-color $default-transition, opacity $default-transition;
            }

            .image {
                position: absolute;
                opacity: 0;
            }

            &._active {
                &:after {
                    background-color: $redline;
                }

                .image {
                    opacity: 1;
                }
            }

            &.is-single {
                &:after {
                    content: none;
                }
            }
        }

        @include hover {
            &:hover {
                .image {
                    opacity: 1;
                }
            }
        }
    }

    .image {
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity $default-transition;
        pointer-events: none;

        &._plan {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .flatHightlighting {
        fill-opacity: .32;

        &._vice {
            fill: $vice;
        }

        &._redline {
            fill: $redline;
        }

        &._moxxy {
            fill: $moxxy;
        }

        &._elysium {
            fill: $elysium;
        }

        &._kain {
            fill: $kain;
        }
    }

    .restore {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        opacity: 0;
        transition: opacity $default-transition;
        visibility: hidden;
        pointer-events: none;

        &._show {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    .pagination {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .row {
        margin-right: auto;
    }
</style>
