<template>
    <component :is="isMobile ? 'div' : 'n-link'"
               :to="!isMobile ? url : null"
               target="_blank"
               :class="[$style.LotRow, {[$style._opened]: isOpen}]"
               @click="handleCardClick">
        <div :class="$style.container"
             class="container">
            <CardTags
                v-if="$mq!== 'xs' && tags.length"
                :class="$style.tags"
                :tags="tags"
                :display-count="tagDisplayCount"
                outline
                no-wrap
            />
            <VTag v-if="$mq !== 'xs' && lot.firstPayment"
                  :class="$style.tag"
                  outline
                  color="redline">
                <span class="fw-700">{{ lot.firstPayment|splitThousands }}&#8381;</span>
                - Первый взнос
            </VTag>

            <!--plan-->
            <div :class="[$style.cell, $style._plan]">
                <div :class="$style.planBox">
                    <div :class="[$style.plan, {[$style._single]: !lot.plan_with_furniture} ]"
                         :style="{backgroundImage: `url(${lotDefaultPlan})`}">
                    </div>
                    <div v-if="lot.plan_with_furniture"
                         :class="[$style.plan, $style._furniture]"
                         :style="{backgroundImage: `url(${lot.plan_with_furniture})`}">
                    </div>
                </div>

                <VCircleButton v-if="$mq === 'xs'"
                               :class="$style.btn">
                    <IconMinus class="frame-icon is-small" />
                </VCircleButton>
            </div>

            <!--title-->
            <div :class="[$style.cell, $style._title]">
                <p v-if="lot.article"
                   :class="$style.article"
                   class="label c-base-200">
                    id: {{ lot.article }}
                </p>
                <h3 :class="$style.title"
                    class="c-base">
                    <span v-html="lotTitle">
                    </span>
                    <span v-if="labelIcon"
                          :class="$style.saleIcon">
                        <component
                            :is="labelIcon"
                            class="frame-icon is-default"
                        />
                    </span>
                </h3>
            </div>

            <!--_project-->
            <div :class="[$style.cell, $style._project]"
                 class="c-vice"
                 v-html="projectName">
            </div>

            <!--_building-->
            <div :class="[$style.cell, $style._building]"
                 class="c-base">
                {{ buildingName }}
            </div>

            <!--_floor-->
            <div :class="[$style.cell, $style._floor]"
                 class="c-base">
                {{ floorNumber }}
                <span v-if="totalFloors">
                    / {{ totalFloors }}
                </span>
            </div>

            <!--_completion-->
            <div :class="[$style.cell, $style._completion]"
                 class="c-base">
                {{ completion }}
            </div>

            <!--_area-->
            <div :class="[$style.cell, $style._area]"
                 class="c-base"
                 v-html="lotArea">
            </div>

            <!--_price-->
            <div :class="[$style.cell, $style._price]"
                 class="c-base">
                <div v-if="saleValue"
                     :class="$style.oldPrice">
                    <s :class="$style.oldPriceValue"
                       class="c-base-200">
                        {{ lot.originalPrice|splitThousands }} &#8381;
                    </s>
                    <span :class="$style.saleValue">
                        - {{ saleValue|splitThousands }}
                        <span class="rub">&#8381;</span>
                    </span>
                </div>
                {{ lot.price|splitThousands }}
                <span class="rub">&#8381;</span>

            </div>

            <!--favorite-->
            <VHeartButton
                v-if="$mq !== 'xs'"
                :class="[$style.favorite]"
                :active="isInFavorite"
                @click="onFavoritesClick"
            />
        </div>

        <!--mobileContent-->
        <div ref="container"
             :class="$style.mobileContent"
             class="container"
             :style="style">
            <div :class="$style.body">
                <VTag v-if="lot.firstPayment"
                      :class="$style.mobileTag"
                      outline
                      color="redline">
                    <span class="fw-700">{{ lot.firstPayment|splitThousands }}&#8381;</span>
                    - Первый взнос
                </VTag>

                <CardTags
                    v-if="$mq === 'xs' && tags.length"
                    :class="$style.mobileTags"
                    :tags="tags"
                    outline
                />

                <VHeartButton
                    v-if="$mq === 'xs'"
                    :class="[$style.favorite]"
                    :active="isInFavorite"
                    absolute
                    @click="onFavoritesClick"
                />

                <div :class="$style.sliderWrapper">
                    <div ref="slider"
                         :class="$style.slider"
                         class="swiper-container">
                        <div ref="wrapper"
                             class="swiper-wrapper"
                             :class="$style.swiperWrapper">
                            <div class="swiper-slide"
                                 :class="$style.slide">
                                <ImageLazy
                                    :class="$style.image"
                                    :image="lotDefaultPlan"
                                    absolute
                                    contain
                                />
                            </div>

                            <!--3d-->
                            <div v-if="lot.planoplan"
                                 class="swiper-slide"
                                 :class="$style.slide">
                                <PlanoplanWidget
                                    :class="$style.PlanoplanWidget"
                                    :link="lot.planoplan"
                                />
                            </div>

                            <!--floor-->
                            <div v-if="isDisplayFloor"
                                 class="swiper-slide"
                                 :class="$style.slide">
                                <ImageLazy
                                    :class="$style.image"
                                    :image="lot.floor.plan"
                                    contain
                                    absolute
                                />
                                <svg :class="$style.svg"
                                     :viewBox="`0 0 ${lot.floor.planWidth} ${lot.floor.planHeight}`">
                                    <g :class="[$style.flatHightlighting, hightlightingPlanClass]"
                                       v-html="lot.planHover" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div ref="pagination"
                         :class="$style.pagination"
                         class="swiper-pagination">
                    </div>
                </div>

                <div :class="$style.mobileInfo">
                    <div :class="$style.box">
                        <div :class="$style.label">
                            <template v-if="realtyType === 'parking'">
                                ГП
                            </template>
                            <template v-else>
                                Дом
                            </template>
                        </div>
                        <div :class="$style.value">
                            {{ buildingName }}
                        </div>
                    </div>

                    <div :class="$style.box">
                        <div :class="$style.label">
                            Этаж
                        </div>
                        <div :class="$style.value">
                            {{ floorNumber }} / {{ totalFloors }}
                        </div>
                    </div>

                    <div :class="$style.box">
                        <div :class="$style.label">
                            Cрок сдачи
                        </div>
                        <div :class="$style.value">
                            {{ completion }}
                        </div>
                    </div>

                    <div :class="$style.box">
                        <div :class="$style.label">
                            Площадь
                        </div>
                        <div :class="$style.value"
                             v-html="lotArea">
                        </div>
                    </div>

                    <VButton :class="$style.link"
                             :link="realtyType !== 'parking' ? url : ''"
                             rounded
                             @click="onMoreClick">
                        Подробнее
                    </VButton>
                </div>
            </div>
        </div>
    </component>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import Swiper from 'swiper/swiper-bundle.min';
    import {prettyCompletion, throttle, monthByNumber} from '../../assets/js/utils/commonUtils';

    /* components */
    import VCircleButton from '../ui/button/VCircleButton';
    import CardTags from './CardTags';
    import VTag from '../ui/tag/VTag';
    import ImageLazy from './ImageLazy';
    import VButton from '../ui/button/VButton';
    import IconMinus from '../icons/IconMinus';
    import IconSale from '../icons/IconSale';
    import IconCar from '../icons/IconCar';
    import IconFacing from '../icons/IconFacing';
    import VHeartButton from '../ui/button/VHeartButton';
    import PlanoplanWidget from './PlanoplanWidget';

    export default {
        name: 'FlatRow',

        components: {
            PlanoplanWidget,
            IconFacing,
            IconCar,
            IconSale,
            IconMinus,
            VButton,
            ImageLazy,
            VTag,
            CardTags,
            VCircleButton,
            VHeartButton,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },
        },

        data() {
            return {
                isOpen: false,
                contentHeight: null,
                maxHeight: 0,
                throttleResize: null,
                tagDisplayCount: 1,
                roomsColor: {
                    0: 'elysium',
                    1: 'vice',
                    2: 'moxxy',
                    3: 'redline',
                    4: 'kain',
                },
            };
        },

        computed: {
            ...mapState('favorites', [
                'favorites',
            ]),

            isInFavorite() {
                return this.favorites.includes(this.lot.id);
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            style() {
                return {maxHeight: `${this.maxHeight}px`};
            },

            url() {
                switch (this.realtyType) {
                    case 'flat':
                        return `/flats/${this.lot.id}`;
                    case 'parking':
                        return `/parking/${this.lot.id}`;
                    default:
                        return `/commercial/${this.lot.id}`;
                }
            },

            isDisplayFloor() {
                return this.lot.floor && this.lot.floor.plan && this.lot.planHover;
            },

            hightlightingPlanClass() {
                return this.lot.rooms ? [this.$style[`_${this.roomsColor[this.lot.rooms]}`]] : [this.$style._vice];
            },

            labelIcon() {
                if (this.saleValue) {
                    return 'IconSale';
                }
                if (this.lot.hasParking) {
                    return 'IconCar';
                }

                if (this.lot.facing) {
                    return 'IconFacing';
                }

                return false;
            },

            saleValue() {
                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },

            projectName() {
                return this.lot.project?.name ? this.lot.project.name : '';
            },

            buildingName() {
                return this.lot.building?.nameDisplay ? this.lot.building.nameDisplay : this.lot.building.name ? this.lot.building.name : '';
            },

            floorNumber() {
                return this.lot.floor?.number ? this.lot.floor.number : '';
            },

            totalFloors() {
                return this.lot.buildingTotalFloor ? this.lot.buildingTotalFloor : '';
            },

            completion() {
                return this.lot.building?.readyQuarter && this.lot.building?.builtYear ? prettyCompletion(this.lot.building.readyQuarter, this.lot.building.builtYear) : '';
            },

            lotDefaultPlan() {
                return this.lot.plan ? this.lot.plan : '/images/flat/flat-placeholder.svg';
            },

            lotTitle() {
                let title;
                switch (this.realtyType) {
                    case 'flat':
                        if (this.$device.isMobile) {
                            title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-ком.`;
                        } else {
                            title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-комнатная`;
                        }
                        break;
                    case 'parking':
                        title = 'Паркинг';
                        break;
                    default:
                        title = 'Помещение';
                }

                if (this.$device.isMobile) {
                    title += `/ ${this.lot.area.toLocaleString()} м<sup>2</sup>/ ${this.lot.floor.number} эт.`;
                }
                return title;
            },

            lotArea() {
                return this.lot.area ? `${this.lot.area.toLocaleString()} м<sup>2</sup>` : '';
            },

            tags() {
                const tags = [];
                if (this.lot.hasParking) {
                    tags.push({
                        name: 'Паркинг в подарок',
                        color: 'gradient',
                    });
                }
                if (this.lot.promoEnd) {
                    const date = new Date(this.lot.promoEnd);
                    const now = Date.now();
                    const diff = Math.ceil(Number(date) - now);
                    if (diff > 0) {
                        tags.push({
                            name: `Акция до ${date.getDate()} ${monthByNumber(date.getMonth(), 'short')}.`,
                            color: 'gradient',
                        });
                    }
                }
                if (this.lot.hasView) {
                    tags.push('Видовая');
                }
                if (this.lot.hasTerrace) {
                    tags.push('С террасой');
                }
                if (this.lot.hasHighCeiling) {
                    tags.push('Высокие потолки');
                }
                if (this.lot.isDuplex) {
                    tags.push('Двухуровневая');
                }
                if (this.lot.facing) {
                    tags.push('С отделкой');
                }
                if (this.lot.hasPanoramicWindows) {
                    tags.push('Панорамные окна');
                }
                return tags;
            },
        },

        watch: {
            contentHeight() {
                if (this.isOpen) {
                    this.maxHeight = this.contentHeight;
                }
            },
        },

        mounted() {
            this.contentHeight = this.$refs.container.scrollHeight;
            this.throttleResize = throttle(this.handleResize, 1000);
            window.addEventListener('resize', this.throttleResize);
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
            window.removeEventListener('resize', this.throttleResize);
        },

        methods: {
            ...mapActions('favorites', [
                'changeFavoriteState',
            ]),

            handleResize() {
                this.$nextTick(() => {
                    this.contentHeight = this.$refs.container.scrollHeight;
                });
            },

            handleCardClick() {
                if (this.isMobile) {
                    this.isOpen = !this.isOpen;

                    if (this.isOpen) {
                        this.maxHeight = this.contentHeight;
                    } else {
                        this.maxHeight = 0;
                    }

                    if (!this.slider && this.$refs.wrapper.children?.length > 1) {
                        this.$nextTick(() => {
                            this.initSwiper();
                        });
                    }
                } else if (this.realtyType === 'parking') {
                    this.$emit('click', this.lot.id);
                }
            },

            initSwiper() {
                const options = {
                    speed: 700,
                    slidesPerView: 1,

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'bullets',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);
            },

            onFavoritesClick() {
                this.changeFavoriteState(this.lot.id);
            },

            onMoreClick() {
                if (this.realtyType !== 'parking') {
                    return;
                }

                this.$emit('click', this.lot.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .LotRow {
        display: block;
        height: 14.4rem;
        padding-bottom: 2.8rem;
        padding-top: 3.2rem;
        background-color: $base-50;
        transition: background-color $default-transition;

        @include respond-to(sm) {
            height: auto;
            padding-top: 24px;
            padding-bottom: 0;
            transition: background-color $default-transition, max-height $default-transition;
        }

        @include respond-to(xs) {
            padding-top: 20px;
        }

        &._opened {
            @include respond-to(sm) {
                background-color: $milk;

                .mobileContent {
                    max-height: 514px;
                }
            }

            @include respond-to(xs) {
                .mobileContent {
                    max-height: 434px;
                }

                .planBox {
                    opacity: 0;
                }

                .btn {
                    opacity: 1;
                }
            }
        }

        @include hover {
            &:hover {
                background-color: $milk;

                .plan {
                    &:not(._single) {
                        opacity: 0;
                    }

                    &._furniture {
                        opacity: 1;
                    }
                }

                .tags {
                    opacity: 0;
                }

                .tag {
                    opacity: 1;
                }
            }
        }
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        @include respond-to(sm) {
            flex-wrap: wrap;
            padding-bottom: 38px;
        }

        @include respond-to(xs) {
            padding-bottom: 18px;
        }
    }

    .article {
        position: absolute;
        bottom: 100%;
        margin-bottom: .7rem;

        @include respond-to(xs) {
            display: none;
        }
    }

    .title {
        position: relative;
        z-index: 1;
        display: inline-block;
        font-size: 2.4rem;
        line-height: 1.32;
        font-weight: 500;

        @include respond-to(xs) {
            font-size: 12px;
        }
    }

    .saleIcon {
        position: absolute;
        bottom: calc(100% - .4rem);
        left: calc(100% - .4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        background: linear-gradient(0deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        color: $milk;

        @include respond-to(xs) {
            bottom: -1px;
            left: calc(100% + 4px);
        }

        svg {
            width: 2rem;
            height: 2rem;
        }

        &:before {
            content: "";
            position: absolute;
            top: -.5rem;
            right: -.5rem;
            z-index: -1;
            width: 7.2rem;
            height: 3.6rem;
            box-sizing: border-box;
            border-radius: 4rem;
            transform: rotate(-30deg);
            transform-origin: 77% 50%;
            background: linear-gradient(-90deg, rgba($base-100, .64) 0%, rgba($base-100, 0) 100%);
        }
    }

    .cell {
        position: relative;
        z-index: 1;
        flex-shrink: 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        white-space: nowrap;

        @include respond-to(sm) {
            line-height: 1.56;
        }

        @include respond-to(xs) {
            font-size: 12px;
            line-height: 1.32;
        }

        &._plan {
            width: 16rem;

            @include respond-to(lg) {
                width: 12rem;
            }

            @include respond-to(sm) {
                width: 80px;
                margin-top: -6px;
            }

            @include respond-to(xs) {
                width: 48px;
                margin-top: -2px;
                margin-bottom: -2px;
            }
        }

        &._title {
            position: relative;
            width: 30.8rem;
            padding-bottom: 1rem;

            @include respond-to(lg) {
                width: 23rem;
            }

            @include respond-to(sm) {
                width: auto;
                padding-bottom: 0;
            }

            @include respond-to(xs) {
                position: absolute;
                top: 0;
                left: 64px;
            }
        }

        &._project {
            width: 30.9rem;
            padding-bottom: .5rem;

            @include respond-to(lg) {
                width: 24.2rem;
            }

            @include respond-to(sm) {
                position: absolute;
                bottom: 24px;
                left: 120px;
                width: auto;
                padding: 0;
            }

            @include respond-to(xs) {
                position: static;
                padding-top: 18px;
            }
        }

        &._building {
            width: 22.6rem;
            padding-bottom: .5rem;

            @include respond-to(lg) {
                width: 18rem;
            }

            @include respond-to(sm) {
                display: none;
            }
        }

        &._floor {
            width: 16.8rem;
            padding-bottom: .5rem;

            @include respond-to(lg) {
                width: 11rem;
            }

            @include respond-to(sm) {
                display: none;
            }
        }

        &._completion {
            width: 19.5rem;
            padding-bottom: .5rem;

            @include respond-to(lg) {
                width: 13.5rem;
            }

            @include respond-to(sm) {
                display: none;
            }
        }

        &._area {
            width: 17rem;
            padding-bottom: .5rem;

            @include respond-to(lg) {
                width: 11.7rem;
            }

            @include respond-to(sm) {
                display: none;
            }
        }

        &._price {
            width: 15.2rem;
            padding-bottom: .5rem;

            @include respond-to(sm) {
                width: auto;
                margin-left: auto;
                margin-right: 48px;
                padding: 0;
            }

            @include respond-to(xs) {
                margin-right: 0;
                line-height: 1.04;
                text-align: right;
            }
        }
    }

    .planBox {
        position: relative;
        width: 8rem;
        height: 8rem;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            width: 64px;
            height: 64px;
        }

        @include respond-to(xs) {
            width: 40px;
            height: 40px;
        }
    }

    .plan {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: opacity $default-transition;

        &._furniture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
        }
    }

    .tags {
        position: absolute;
        bottom: 0;
        left: 16rem;
        margin-right: -.2rem;
        transform: translateZ(0);
        transition: opacity $default-transition;

        @include respond-to(lg) {
            left: 12rem;
        }

        @include respond-to(sm) {
            position: relative;
            left: 0;
            width: 100%;
            margin-top: -2px;
            margin-bottom: 24px;
        }
    }

    .tag {
        position: absolute;
        bottom: 0;
        left: 16rem;
        margin-top: .8rem;
        opacity: 0;
        transform: translateZ(0);
        transition: opacity $default-transition;

        @include respond-to(lg) {
            left: 12rem;
            margin-top: .8rem;
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    .mobileTags {
        position: absolute;
        margin-top: 4px;
        padding-right: 40px;
    }

    .oldPrice {
        display: flex;
        align-items: baseline;
        position: absolute;
        bottom: 100%;
        left: 0;
        margin-bottom: .4rem;
        font-weight: normal;

        @include respond-to(sm) {
            margin-bottom: 8px;
        }

        @include respond-to(xs) {
            position: static;
            margin-right: 10px;
            margin-bottom: 4px;
        }
    }

    .oldPriceValue {
        position: relative;
        padding-top: .2rem;
        font-size: 1.2rem;
        line-height: 1;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: translate3d(0, -50%, 0);
        }

        @include respond-to(sm) {
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 36px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .saleValue {
        position: relative;
        padding: .2rem 0 0 .4rem;
        margin-left: .8rem;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
        background-color: rgba($primary-100, .56);
        color: $redline;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 500;

        @include respond-to(sm) {
            margin-left: 0;
        }

        @include respond-to(xs) {
            margin-top: -4px;
            font-size: 10px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 100%;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba($primary-100, .56);
            border-radius: .4rem;
            transform: translate(-50%, -50%) rotate(135deg);
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }

    .btn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity $default-transition;
    }

    .mobileContent {
        display: none;

        @include respond-to(sm) {
            display: block;
            overflow: hidden;
            max-height: 0;
            transition: max-height $default-transition;
        }
    }

    .body {
        position: relative;
        padding-bottom: 40px;
        padding-top: 24px;
        border-top: 1px solid $base-100;

        @include respond-to(xs) {
            padding-top: 0;
            padding-bottom: 20px;
            border-top: 0;
        }
    }

    .sliderWrapper {
        position: relative;
        width: 401px;
        padding-top: 8px;

        @include respond-to(xs) {
            width: 100%;
            padding-top: 64px;
        }
    }

    .slider {
        height: 100%;
    }

    .swiperWrapper {
        padding-bottom: 16px;
    }

    .slide {
        position: relative;

        @include aspect-ratio(288, 288);
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .flatHightlighting {
        fill-opacity: .32;

        &._vice {
            fill: $vice;
        }

        &._redline {
            fill: $redline;
        }

        &._moxxy {
            fill: $moxxy;
        }

        &._elysium {
            fill: $elysium;
        }

        &._kain {
            fill: $kain;
        }
    }

    .favorite {
        margin-left: auto;
        transform: translateY(-.2rem);

        @include respond-to(sm) {
            transform: none;
        }

        @include respond-to(xs) {
            margin: 0;
            top: 4px;
            right: 16px;
        }
    }

    .pagination {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobileInfo {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 172px;
        height: 100%;
        padding: 40px 0;

        @include respond-to(xs) {
            position: static;
            width: 100%;
            height: auto;
            padding: 0;
        }
    }

    .box {
        margin-bottom: 24px;

        @include respond-to(xs) {
            display: none;
        }
    }

    .label {
        font-size: 16px;
        line-height: 1.52;
        color: $base-300;
    }

    .value {
        font-size: 16px;
        line-height: 1.56;
        font-weight: 500;
        color: $secondary-900;
    }

    .link {
        margin-top: auto;

        @include respond-to(xs) {
            margin-top: 22px;
        }
    }

    .PlanoplanWidget {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
