<template>
    <div :class="$style.MainSelect">
        <component
            :is="titleTag"
            :class="$style.title"
            class="h3 c-base"
            v-html="title"
        />

        <VSelect :class="$style.select"
                 :value="value"
                 :options="selectOptions"
                 :label-name="labelField"
                 :value-name="valueField"
                 size="large"
                 color="vice"
                 gradient-hover
                 :hide-disabled="!commercial"
                 @input="$emit('change', $event)">
            <slot>
                <IconPinBig
                    class="frame-icon"
                    :class="{'is-xsmall': $mq === 'xs'}"
                />
            </slot>
        </VSelect>
    </div>
</template>

<script>
    import VSelect from '../ui/select/VSelect';
    import IconPinBig from '../icons/IconPinBig';

    export default {
        name: 'MainSelect',

        components: {
            IconPinBig,
            VSelect,
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            titleTag: {
                type: String,
                default: 'h1',
            },

            options: {
                type: Array,
                default: () => [],
            },

            value: {
                type: String,
                default: '',
            },

            labelField: {
                type: String,
                default: 'label',
            },

            valueField: {
                type: String,
                default: 'value',
            },

            commercial: Boolean,
            hideDisabled: Boolean,
        },

        computed: {
            selectOptions() {
                if (this.commercial) {
                    return this.options.filter(option => option.hasCommercialPage);
                }

                return this.options;
            }
        }
    };
</script>

<style lang="scss" module>
    .MainSelect {
        display: flex;
        flex-wrap: wrap;
    }

    .title {
        margin-right: .4rem;
    }

    .select {
        :global .v-select__icon {
            @include respond-to(sm) {
                transform: translateY(-62%);
            }

            @include respond-to(xs) {
                transform: translateY(-57%);
            }
        }
    }
</style>
