<template>
    <div ref="container"
         :class="$style.MapBlock">

        <div v-if="isMobile"
             :class="$style.mapMobile">
            <ImageLazy
                :image="mapImageDiplay"
                :preview="mapImagePreview"
            />
        </div>
        <Map
            v-else
            :class="$style.map"
            :not-leave="notLeave"
            :inbox-cities="cities"
            @view-change="onViewChange"
        />

        <div :class="[$style.container, {[$style._hidden]: isHiddenContent}]"
             class="container">

            <p :class="$style.label">
                Нажмите на город для просмотра проектов на карте города
            </p>

            <div :class="$style.info">
                <div :class="$style.textAnimation">
                    <p v-for="(item, index) in mapTexts"
                       :key="index"
                       :class="[$style.lead, {[$style._active]: activeIndex === index}]">
                        <span v-html="item.text">
                        </span>
                        <span :class="$style.accent"
                              v-html="item.redText">
                        </span>
                    </p>
                </div>

                <div :class="$style.btn">
                    <VButton :color="$mq === 'xs' ? 'vice' : 'default'"
                             :rounded="$mq === 'xs'"
                             @click="onOpenMap">
                        {{ $mq === 'xs' ? 'Открыть карту' : 'Подробнее' }}
                    </VButton>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    /* components */
    import Map from './projects-map/Map';
    import VButton from '../ui/button/VButton';
    import MapModal from '../layout/modals/MapModal';
    import ImageLazy from './ImageLazy';

    export default {
        name: 'MapBlock',

        components: {
            ImageLazy,
            VButton,
            Map,
        },

        props: {
            notLeave: Boolean,

            cities: {
                type: Array,
                default: () => [],
            },

            mapTexts: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                isHiddenContent: false,
                activeIndex: 0,
                mapMobile: '/images/map/map-mobile.png',
                mapTablet: '/images/map/map-tablet.png',
                animation: null,
            };
        },

        computed: {
            ...mapState({
                mainMap: state => state.main_map,
            }),

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            mapImageDiplay() {
                return this.$mq === 'xs' ? this.mapImageMobileDisplay : this.mapImageTabletDisplay;
            },

            mapImagePreview() {
                return this.$mq === 'xs' ? this.mapImageMobilePreview : this.mapImageTabletPreview;
            },

            mapImageMobileDisplay() {
                return this.mainMap?.imagePhoneDisplay ? this.mainMap.imagePhoneDisplay : this.mapMobile;
            },

            mapImageMobilePreview() {
                return this.mainMap?.imagePhonePreview ? this.mainMap.imagePhonePreview : '';
            },

            mapImageTabletDisplay() {
                return this.mainMap?.imageTabletDisplay ? this.mainMap.imageTabletDisplay : this.mapTablet;
            },

            mapImageTabletPreview() {
                return this.mainMap?.imageTabletPreview ? this.mainMap.imageTabletPreview : '';
            },
        },

        watch: {
            isHiddenContent(val) {
                val ? this.stopAnimation() : this.startAnimation();
            },
        },

        mounted() {
            this.startAnimation();
        },

        beforeDestroy() {
            if (this.animation) {
                clearInterval(this.animation);
            }
        },

        methods: {
            onViewChange(view) {
                this.isHiddenContent = Boolean(view !== 'all');
            },

            onOpenMap() {
                this.$modal.open(MapModal, {cities: this.cities, notLeave: this.notLeave});
            },

            startAnimation() {
                if (this.mapTexts.length && this.mapTexts.length > 1) {
                    this.animation = setInterval(() => {
                        this.activeIndex = this.activeIndex < this.mapTexts.length - 1 ? this.activeIndex + 1 : 0;
                    }, 5000);
                }
            },

            stopAnimation() {
                if (this.animation) {
                    clearInterval(this.animation);
                    this.animation = null;
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .MapBlock {
        position: relative;
        max-height: calc(100vh - #{$sub-header-h});
        min-height: 700px;

        @include aspect-ratio(1920, 900);

        @include respond-to(lg) {
            @include aspect-ratio(1440, 900);
        }

        @include portrait {
            max-height: 50vh;
            min-height: auto;
        }

        @include respond-to(sm) {
            min-height: auto;
            max-height: none;
        }

        @include respond-to(xs) {
            @include aspect-ratio(320, 480);
        }
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;

        @include respond-to(sm) {
            display: none;
        }
    }

    .mapMobile {
        display: none;

        @include respond-to(sm) {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 6.6rem;
        padding-bottom: 5.2rem;
        pointer-events: none;
        transition: opacity $default-transition;

        & > * {
            pointer-events: auto;
        }

        &._hidden {
            opacity: 0;

            & > * {
                pointer-events: none;
            }
        }

        @include respond-to(sm) {
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .label {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-200;
        text-align: right;

        @include respond-to(sm) {
            display: none;
        }
    }

    .info {
        margin-top: auto;

        @include respond-to(xs) {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-top: 0;
        }
    }

    .textAnimation {
        position: relative;
    }

    .lead {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 31.4rem;
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -.1rem;
        color: $base-500;
        opacity: 0;
        transition: opacity .6s linear;

        &._active {
            opacity: 1;
        }

        @include respond-to(sm) {
            width: 234px;
            font-size: 32px;
            line-height: 1.24;
        }

        @include respond-to(xs) {
            bottom: auto;
            top: 0;
            width: 215px;
            font-size: 28px;
            line-height: 1.28;
            font-weight: 500;
        }
    }

    .accent {
        color: $redline;
    }

    .btn {
        display: none;

        @include respond-to(sm) {
            display: block;
            margin-top: 2rem;
        }

        @include respond-to(xs) {
            margin-top: auto;
        }
    }
</style>
