<template>
    <div :class="$style.MediaGallery">
        <div :class="$style.container"
             class="container">
            <div v-if="tabs && tabs.length && !noTabs"
                 :class="$style.swither">
                <VSelect v-if="isMobile"
                         :class="$style.select"
                         :value="activeTab"
                         :options="tabs"
                         value-name="id"
                         size="big"
                         color="milk"
                         variable-width
                         @input="onTabChange">
                    <IconBuilding
                        class="frame-icon"
                        :class="[$mq === 'xs' ? 'is-small' : 'is-medium']"
                    />
                </VSelect>
                <VTabs v-else-if="tabs.length"
                       color="milk">
                    <VTab v-for="tab in tabs"
                          :key="tab.id"
                          :active="activeTab === tab.id"
                          @click="onTabChange(tab.id)">
                        {{ tab.label }}
                    </VTab>
                </VTabs>
            </div>

            <div :class="[$style.sliderWrapper, {[$style._reloading]: isReloading}]">
                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <div class="swiper-wrapper">
                        <div v-for="(item, index) of slides"
                             :key="`${activeTab}-${index}`"
                             class="swiper-slide"
                             :class="$style.slide">
                            <ImageLazy
                                :image="item[displayField]"
                                :preview="item[previewField]"
                                absolute
                                :is-swiper-slider="slides && slides.length > 1"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div :class="$style.footer">
                <div :class="$style.info">
                    <div :class="$style.description">
                        <transition name="fade"
                                    appear
                                    @after-leave="isSlideChanging = false">
                            <span v-if="!isSlideChanging"
                                  v-html="album.intro">
                            </span>
                        </transition>
                    </div>
                    <time v-if="date"
                          :class="$style.date">
                        {{ date }}
                    </time>
                </div>
                <transition name="fade-fast">
                    <div v-show="slides.length > 1"
                         :class="$style.controls">
                        <div :class="$style.pagination">
                            <div ref="pagination"
                                 class="swiper-pagination is-inverse is-transparent swiper-pagination-progressbar">
                            </div>
                        </div>
                        <GalleryFraction
                            size="normal"
                            :class="$style.fraction"
                            color="inverse"
                            :current="fractionCurrent"
                            :total="fractionTotal"
                        />

                        <div :class="$style.buttons">
                            <VCircleButton ref="prev"
                                           :class="[$style.btn, $style._prev]"
                                           color="milk">
                                <IconArrowRight class="frame-icon" />
                            </VCircleButton>
                            <VCircleButton ref="next"
                                           :class="[$style.btn, $style._next]"
                                           color="milk">
                                <IconArrowRight class="frame-icon" />
                            </VCircleButton>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {monthByNumber} from '../../assets/js/utils/commonUtils';

    /* components */
    import VTabs from '../ui/tabs/VTabs';
    import VTab from '../ui/tabs/VTab';
    import GalleryFraction from './gallery/GalleryFraction';
    import ImageLazy from './ImageLazy';
    import VCircleButton from '../ui/button/VCircleButton';
    import IconArrowRight from '../icons/IconArrowRight';
    import VSelect from '../ui/select/VSelect';
    import IconBuilding from '../icons/IconBuilding';

    export default {
        name: 'MediaGallery',

        components: {
            IconBuilding,
            VSelect,
            IconArrowRight,
            VCircleButton,
            ImageLazy,
            GalleryFraction,
            VTab,
            VTabs,
        },

        props: {
            tabs: {
                type: Array,
                default: () => [],
            },

            album: {
                type: [Object, Array],
                default: () => ({}),
            },

            onLoadGallery: {
                type: Function,
                default: () => ({}),
            },

            displayField: {
                type: String,
                default: 'imageDisplay',
            },

            previewField: {
                type: String,
                default: 'imagePreview',
            },

            startIndex: {
                type: [String, Number],
                default: 0,
            },

            startTab: {
                type: String,
                default: '',
            },

            noTabs: Boolean,
        },

        data() {
            return {
                activeTab: '',
                activeDescripion: '',
                activeIndex: 0,
                slider: null,
                isReloading: false,
                isSlideChanging: false,
            };
        },

        computed: {
            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },

            slides() {
                return this.album?.imageSlideSet
                    ? this.album.imageSlideSet
                    : this.album?.slideSet
                        ? this.album.slideSet
                        : this.album.imageSet
                            ? this.album.imageSet
                            : Array.isArray(this.album) && this.album.length
                                ? this.album
                                : [];
            },

            date() {
                if (this.album?.date) {
                    const date = new Date(this.album.date);
                    return `${date.getDate()} ${monthByNumber(date.getMonth(), 'case')} ${date.getFullYear()}`;
                }

                return null;
            },
        },

        watch: {
            isSlideChanging(val) {
                if (!val) {
                    this.activeDescripion = this.slides[this.activeIndex] ? this.slides[this.activeIndex].description : '';
                }
            },

            slides(val) {
                this.activeIndex = 0;

                if (this.slider) {
                    if (val.length > 1) {
                        this.$nextTick(() => {
                            this.slider.update();
                            this.slider.slideTo(0, 0);
                        });
                    } else {
                        this.slider.destroy();
                        this.slider = null;
                    }
                } else if (val.length > 1) {
                    this.$nextTick(() => {
                        this.initSwiper();
                    });
                }
            },
        },

        mounted() {
            if (this.startTab) {
                this.activeTab = this.startTab;
            } else {
                this.activeTab = this.tabs.length ? this.tabs[0].id : '';
            }

            this.activeIndex = this.startIndex || 0;

            this.$nextTick(() => {
                if (this.slides.length > 1) {
                    this.initSwiper();
                }
            });

            this.activeDescripion = this.slides[this.activeIndex]?.text ? this.slides[this.activeIndex].text : '';
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            onTabChange(val) {
                this.activeTab = val;
                this.$emit('change-tab', val);
            },

            initSwiper() {
                const options = {
                    speed: 700,
                    slidesPerView: 1,
                    initialSlide: this.startIndex || 0,
                    loop: true,
                    allowTouchMove: true,
                    lazy: {
                        loadPrevNext: true,
                    },
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                    },

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('transitionStart', () => {
                    this.isSlideChanging = true;
                });

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .MediaGallery {
        position: relative;
        height: 100%;
        background-color: $base-800;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 5.6rem;
        padding-bottom: 4.2rem;

        @include respond-to(sm) {
            padding-top: 54px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 30px;
            padding-bottom: 24px;
        }
    }

    .swither {
        @include respond-to(xs) {
            position: absolute;
            top: 30px;
            left: 16px;
        }
    }

    .select {
        &:global(.v-select) {
            padding-left: 4rem;

            @include respond-to(xs) {
                padding-left: 28px;
            }
        }
    }

    .sliderWrapper {
        max-height: 70vh;
        margin-top: auto;
        padding-left: 18.4rem;
        padding-right: 18.4rem;
        transition: opacity .3s linear;

        &._reloading {
            opacity: 0;
        }

        @include respond-to(sm) {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            max-height: none;
            margin: 0;
            padding: 0;
            transform: translateY(-50%);
        }

        @include respond-to(xs) {
            position: static;
            margin: 22vh -#{$side-padding-mobile} 0;
            transform: none;
        }
    }

    .slider {
        height: 100%;
    }

    .slide {
        position: relative;

        @include aspect-ratio(960, 596);

        @include respond-to(sm) {
            @include aspect-ratio(768, 492);
        }

        @include respond-to(xs) {
            @include aspect-ratio(320, 205);
        }
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: auto;

        @include respond-to(sm) {
            align-items: flex-end;
        }

        @include respond-to(xs) {
            flex-direction: column-reverse;
            height: 100%;
            margin-top: 16px;
        }
    }

    .info {
        display: flex;
        flex-direction: column-reverse;
        width: 50%;

        @include respond-to(sm) {
            width: 392px;
        }

        @include respond-to(xs) {
            display: block;
            width: 100%;
            margin-top: auto;
        }
    }

    .date {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.16;
        color: rgba($milk, .24);
        text-transform: lowercase;

        @include respond-to(sm) {
            font-size: 14px;
        }
    }

    .description {
        margin-top: 1.2rem;
        height: 4rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.44;
        color: $milk;

        @include respond-to(sm) {
            height: 60px;
        }

        @include respond-to(xs) {
            height: auto;
            margin-top: 0;
            margin-bottom: 12px;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond-to(xs) {
            width: 100%;
            margin-left: 0;
        }
    }

    .pagination {
        width: 33.6rem;
        margin-right: 2.4rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        margin-left: 1.4rem;

        @include respond-to(xs) {
            margin-left: 0;
            margin-right: auto;
        }

        @include respond-to(xs) {
            margin-right: 0;
            margin-left: auto;
        }
    }

    .btn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }

        &._prev {
            margin-right: 1.6rem;

            @include respond-to(sm) {
                margin-right: 12px;
            }

            @include respond-to(xs) {
                margin-right: 8px;
            }
        }
    }
</style>
