<template>
    <component :is="component"
               v-bind="linkProperties"
               :class="[$style.MediaCard, {[$style._hovered]: isHovered, [$style._mobileSmall]: mobileSmall}]"
               @click="handleCardClick">
        <transition name="fade"
                    appear>
            <div v-if="isHovered && slides.length"
                 :class="$style.slides">
                <div v-for="(slide, i) in slides"
                     :key="slide.id"
                     :class="[$style.slide, {[$style._active] : activeIndex === i}]">
                    <ImageLazy
                        :image="slide.imageDisplay"
                        :preview="slide.imagePreview"
                    />
                </div>
            </div>
        </transition>

        <CardTags
            v-if="card.projects && card.projects.length && withTag"
            :class="$style.tags"
            :tags="card.projects"
            :color="isHovered ? 'milk' : 'default'"
            outline
        />
        <div :class="$style.wrapper">
            <div :class="$style.imageBox">
                <div :class="$style.image">
                    <ImageLazy
                        :image="image"
                        :preview="preview"
                    />
                </div>
            </div>
        </div>

        <div :class="$style.controls">
            <VCircleButton v-if="isDisplayCircleBtn"
                           :class="$style.hoverBtn"
                           :color="cityColorClass"
                           :has-hover="false"
                           size="medium-small"
                           inverse
                           @mouseenter.native="handleMouseEnter"
                           @mouseleave.native="handleMouseLeave"
                           @click.native.stop="handleButtonClick">
                <component
                    :is="defaultIcon"
                    :class="[$style.icon, $style._default]"
                    class="frame-icon"
                />

                <component
                    :is="hoverIcon"
                    :class="[$style.icon, $style._hover]"
                    class="frame-icon"
                />
            </VCircleButton>

            <div v-if="type === 'progress' && slides.length > 1"
                 :class="[$style.pagination, $style[`_${cityColorClass}`]]">
                <span v-for="(slide, i) in slides"
                      :key="i"
                      :class="[$style.bullet, {[$style._active] : activeIndex === i}]">
                </span>
            </div>
        </div>

        <h3 :class="$style.description"
            class="subtitle3"
            v-html="card.title">
        </h3>

        <p :class="$style.date"
           class="p3"
           v-html="dateString">
        </p>
    </component>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {monthByNumber} from '../../assets/js/utils/commonUtils';

    /* components*/
    import ImageLazy from './ImageLazy';
    import CardTags from './CardTags';
    import VCircleButton from '../ui/button/VCircleButton';
    import IconEye from '../icons/IconEye';
    import IconPlay from '../icons/IconPlay';
    import IconArrowLeft from '../icons/IconArrowLeft';
    import IconFullScreen from '../icons/IconFullScreen';

    export default {
        name: 'MediaCard',

        components: {
            IconFullScreen,
            IconArrowLeft,
            IconPlay,
            IconEye,
            VCircleButton,
            CardTags,
            ImageLazy,
        },

        props: {
            card: {
                type: Object,
                default: () => ({}),
            },

            type: {
                type: String,
                default: '',
            },

            mobileSmall: Boolean,

            isLink: {
                type: Boolean,
                default: false,
            },

            isBlank: {
                type: Boolean,
                default: true,
            },

            withTag: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                isHovered: false,
                activeIndex: 0,
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            component() {
                return this.isLink ? 'n-link' : 'div';
            },

            linkProperties() {
                const linkProperties = {};
                if (this.isLink) {
                    if (this.isBlank) {
                        linkProperties.target = '_blank';
                    }

                    linkProperties.to = `/${this.type}/${this.card.slug}`;
                }

                return linkProperties;
            },

            cityColorClass() {
                return this.card.color ? this.cityClass(this.card.color) : 'vice';
            },

            image() {
                if (this.card.imageSlideSet?.length) {
                    return this.card.imageSlideSet[0].imageDisplay;
                }

                if (this.card.slideSet?.length) {
                    return this.card.slideSet[0].imageDisplay;
                }

                if (this.card.cardImageDisplay) {
                    return this.card.cardImageDisplay;
                }

                if (this.card.imageDisplay) {
                    return this.card.imageDisplay;
                }

                if (this.card.videoSlideSet?.length) {
                    return this.card.videoSlideSet[0].imageDisplay;
                }

                return '';
            },

            preview() {
                if (this.card.imageSlideSet?.length) {
                    return this.card.imageSlideSet[0].imagePreview;
                }

                if (this.card.videoSlideSet?.length) {
                    return this.card.videoSlideSet[0].imagePreview;
                }

                if (this.card.slideSet?.length) {
                    return this.card.slideSet[0].imagePreview;
                }

                if (this.card.cardImageDisplay) {
                    return this.card.cardImagePreview;
                }

                if (this.card.imageDisplay) {
                    return this.card.imagePreview;
                }

                return '';
            },

            dateLabel() {
                if (this.type === 'video') {
                    if (this.card.videoLength) {
                        return `${Math.ceil(this.card.videoLength / 60)} мин`;
                    }
                    return '1 видео';
                }

                if (this.card.slideSetCount) {
                    return `${this.card.slideSetCount} фото`;
                }

                if (this.card.imageSlideSet?.length) {
                    return `${this.card.imageSlideSet?.length} фото`;
                }

                return '';
            },

            date() {
                if (this.card.date) {
                    const date = new Date(this.card.date);
                    return `${date.getDate()} ${monthByNumber(date.getMonth(), 'case')} ${date.getFullYear()}`;
                }
                return '';
            },

            dateString() {
                return this.date && this.dateLabel ? `<time>${this.date}</time> / ${this.dateLabel}` : this.date ? this.date : this.dateLabel;
            },

            isDisplayCircleBtn() {
                return this.type === 'progress' || (this.type === 'video' && this.card.videoUrl);
            },

            slides() {
                if (this.type === 'video') {
                    if (this.card.cardImageDisplay) {
                        return [{
                            imageDisplay: this.card.cardImageDisplay,
                            imagePreview: this.card.cardImagePreview,
                        }];
                    }
                    if (this.card.imageDisplay) {
                        return [{
                            imageDisplay: this.card.imageDisplay,
                            imagePreview: this.card.imagePreview,
                        }];
                    }

                    if (this.card?.videoSlideSet.length) {
                        return this.card.videoSlideSet.slice(0, 4);
                    }
                }

                if (this.card.imageSlideSet?.length) {
                    return this.card.imageSlideSet.slice(0, 4);
                }

                if (this.card.slideSet?.length) {
                    return this.card.slideSet.slice(0, 4);
                }
                return [];
            },

            defaultIcon() {
                return this.type === 'progress' ? this.card.videoUrl ? IconPlay : IconEye : IconPlay;
            },

            hoverIcon() {
                return this.type === 'progress' ? IconArrowLeft : IconFullScreen;
            },
        },

        methods: {
            handleMouseEnter() {
                if (!this.$device.isDesktop) {
                    return;
                }

                this.isHovered = true;
            },

            handleMouseLeave() {
                if (!this.$device.isDesktop) {
                    return;
                }

                this.isHovered = false;
            },

            handleButtonClick() {
                if (this.type === 'progress' && this.$device.isDesktop) {
                    if (this.slides.length < 2) {
                        return;
                    }
                    this.activeIndex = this.activeIndex < this.slides.length - 1 ? this.activeIndex + 1 : 0;
                } else {
                    this.$emit('card-click', this.card, this.type);
                }
            },

            handleCardClick() {
                if (this.isLink) {
                    return;
                }

                this.$emit('card-click', this.card, this.type);
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s linear;

    .MediaCard {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 5.2rem 5.6rem;
        background-color: $base-50;
        transition: background-color $default-transition;
        cursor: pointer;

        @include hover {
            &:hover {
                background-color: $milk;

                .icon {
                    &._hover {
                        opacity: 1;
                        transform: translate(-50%, -50%) translateZ(0);
                    }

                    &._default {
                        opacity: 0;
                        transform: translate(50%, -50%) translateZ(0);
                    }
                }

                .pagination {
                    opacity: 1;
                }
            }
        }

        &._hovered {
            .description {
                color: $milk;
            }

            .date {
                color: $milk;

                span {
                    color: rgba($milk, .72);
                }
            }
        }

        @include respond-to(sm) {
            padding: $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding: 24px 16px;

            &._mobileSmall {
                .wrapper {
                    width: 210px;
                    height: 105px;
                }

                .controls {
                    display: none;
                }
            }
        }
    }

    .tags {
        position: absolute;
        top: 4.8rem;
        left: 0;
        z-index: 2;
        padding: 0 5.4rem;

        @include respond-to(sm) {
            top: 36px;
            padding: 0 $side-padding-tablet;
        }

        @include respond-to(xs) {
            top: 20px;
            padding: 0 $side-padding-mobile;
        }
    }

    .slides {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20rem;
            background: linear-gradient(0deg, $base-500 0%, rgba($base-500, 0) 100%);
            opacity: .8;
            pointer-events: none;
        }
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity $default-transition;

        &._active {
            opacity: 1;
        }
    }

    .wrapper {
        position: absolute;
        left: 50%;
        top: 45%;
        z-index: 0;
        flex-shrink: 0;
        width: 28.6rem;
        height: 14.3rem;
        transform: translate(-50%, -55%) translateZ(0) rotate(-30deg);

        @include respond-to(sm) {
            width: 242px;
            height: 122px;
        }

        @include respond-to(xs) {
            width: 252px;
            height: 126px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 32rem;
            backface-visibility: hidden;
            transform: translateZ(0);
        }

        &:before {
            top: 1.6rem;
            left: -1rem;
            background: linear-gradient(-90deg, rgba($base-100, 0) 0%, rgba($base-100, .64) 100%);
        }

        &:after {
            bottom: 1.6rem;
            right: -1rem;
            background: linear-gradient(90deg, rgba($base-100, 0) 0%, rgba($base-100, .64) 100%);
        }
    }

    .imageBox {
        position: relative;
        z-index: 2;
        height: 100%;
        overflow: hidden;
        border-radius: 32rem;
        backface-visibility: hidden;
        transition: transform $default-transition;
    }

    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30rem;
        height: 30rem;
        transform: translate(-50%, -50%) translateZ(0) rotate(30deg);

        @include respond-to(sm) {
            width: 270px;
            height: 226px;
        }

        @include respond-to(xs) {
            width: 236px;
            height: 196px;
        }
    }

    .controls {
        position: absolute;
        top: 14.6rem;
        left: 50%;
        z-index: 2;
        display: flex;
        align-items: center;
        transform: translateX(calc(-50% + 12.8rem));

        @include respond-to(sm) {
            top: 132px;
            transform: translateX(calc(-50% + 110px));
        }

        @include respond-to(xs) {
            top: 94px;
        }
    }

    .icon {
        position: relative;
        will-change: transform;
        transition: opacity $transition, transform $transition;

        &._hover {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-100%, 0%) translateZ(0);
        }
    }

    .pagination {
        position: absolute;
        top: 50%;
        left: 100%;
        display: flex;
        opacity: 0;
        transform: translate(1rem, -50%);
        transition: opacity $default-transition;

        @include respond-to(xs) {
            transform: translate(3px, -50%);
        }

        &._redline {
            color: $redline;
        }

        &._moxxy {
            color: $moxxy;
        }

        &._vice {
            color: $vice;
        }
    }

    .bullet {
        position: relative;
        width: 4px;
        height: 4px;
        margin: 0 2px;
        border-radius: 50%;
        background-color: $base-100;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(-50%, -50%) scale(0) translateZ(0);
            transition: transform $default-transition;
            will-change: transform;
        }

        &._active {
            &:before {
                transform: translate(-50%, -50%) scale(1) translateZ(0);
            }
        }
    }

    .description {
        position: relative;
        z-index: 2;
        width: 100%;
        max-height: 7.2rem;
        overflow: hidden;
        margin-top: auto;
        text-overflow: ellipsis;
        color: $base-500;
        font-weight: 500;
        transition: color $default-transition;
        /* stylelint-disable */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        /* stylelint-enable */

        &:hover {
            text-decoration: underline;
        }
    }

    .date {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-top: 1.2rem;
        color: rgba($base-500, .88);
        text-transform: lowercase;
        transition: color $default-transition;

        span {
            color: rgba($base-500, .64);
            text-transform: lowercase;
            transition: color $default-transition;
        }
    }
</style>
