<template>
    <n-link v-if="link"
            :to="link"
            :class="$style.MoreCard"
            class="btn-reset"
            @click.native="handleClick">
        <div :class="$style.icon">
            <VCircleButton :class="$style.circle"
                           tag="span"
                           color="moxxy"
                           size-hover
                           inverse>
                <IconPlus class="frame-icon" />
            </VCircleButton>
            <slot name="icon"></slot>
        </div>
        <span :class="$style.label">
            <slot name="label"></slot>
        </span>
    </n-link>
    <component :is="component"
               v-else
               v-bind="linkProperties"
               :class="$style.MoreCard"
               class="btn-reset"
               :type="!href ? type : null"
               @click="handleClick">
        <div :class="$style.icon">
            <VCircleButton :class="$style.circle"
                           tag="span"
                           color="moxxy"
                           size-hover
                           inverse>
                <IconPlus class="frame-icon" />
            </VCircleButton>
            <slot name="icon"></slot>
        </div>
        <span :class="$style.label">
            <slot name="label"></slot>
        </span>
    </component>
</template>

<script>
    import VCircleButton from '../ui/button/VCircleButton';
    import IconPlus from '../icons/IconPlus';

    export default {
        name: 'MoreCard',

        components: {
            IconPlus,
            VCircleButton,
        },

        props: {
            tag: {
                type: String,
                default: '',
            },

            type: {
                type: String,
                default: 'button',
            },

            href: {
                type: String,
                default: '',
            },

            link: {
                type: [String, Object],
                default: '',
            },

            blank: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            component() {
                if (this.href) {
                    return 'a';
                } else if (this.link) {
                    return 'n-link';
                } else if (this.tag) {
                    return this.tag;
                }
                return 'button';
            },

            linkProperties() {
                const linkProperties = {};
                if (this.link) {
                    linkProperties.to = this.link;
                } else if (this.href) {
                    linkProperties.href = this.href;
                }

                if (this.blank) {
                    linkProperties.target = '_blank';
                }
                return linkProperties;
            },
        },

        methods: {
            handleClick() {
                this.$emit('click');
            },
        },
    };
</script>

<style lang="scss" module>
    .MoreCard {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        min-height: 56rem;
        color: $milk;
        background: linear-gradient(143.7deg, $vice 0%, $moxxy 57.99%, $redline 100%);

        @include hover {
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }

        @include respond-to(sm) {
            min-height: 490px;
        }

        @include respond-to(xs) {
            min-height: 256px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(323.7deg, $vice 0%, $moxxy 57.99%, $redline 100%);
            opacity: 0;
            transition: opacity .4s linear;
        }
    }

    .icon {
        position: relative;
        z-index: 2;
        transform: translateY(-25%);

        @include respond-to(sm) {
            transform: translateY(-10%);
        }
    }

    .circle {
        position: absolute;
        top: - .8rem;
        right: - .8rem;
        transform: translate(100%, -100%) translateZ(0);

        @include respond-to(sm) {
            top: 18px;
            right: 18px;
        }

        @include respond-to(xs) {
            top: 6px;
            right: 16px;
        }
    }

    .label {
        position: absolute;
        left: 5.6rem;
        bottom: 5.1rem;
        z-index: 2;
        font-size: 1.8rem;
        line-height: 1.36;
        font-weight: 500;
        opacity: .64;

        @include respond-to(sm) {
            left: $side-padding-tablet;
            bottom: $side-padding-tablet;
            font-size: 16px;
            line-height: 1.52;
        }

        @include respond-to(xs) {
            left: $side-padding-mobile;
            bottom: 24px;
        }
    }
</style>
