<template>
    <ModalWrapper :visible="visible"
                  :close-color="$mq === 'xs' ? 'default' : 'milk'"
                  @after-enter="$emit('after-enter')"
                  @enter="isVisibleContent = true"
                  @before-leave="isVisibleContent = false"
                  @after-leave="$emit('after-leave')"
                  @close="$emit('close')">

        <transition name="left-appear">
            <div v-if="isVisibleContent"
                 :class="$style.body">
                <h2 :class="$style.title">
                    Навигация по проекту
                </h2>

                <div :class="$style.content">
                    <ul :class="$style.list">
                        <li v-for="item in data.links"
                            :key="item.name"
                            :class="$style.item">
                            <component :is="item.link ? 'n-link' : 'div'"
                                       :to="item.link ? item.link : null"
                                       :class="$style.link"
                                       @click="handleLinkClick(item.hash)">
                                <span :class="$style.label">
                                    {{ item.name }}
                                </span>

                                <IconArrowRight
                                    :class="$style.arrow"
                                    class="frame-icon"
                                />
                            </component>
                        </li>
                    </ul>

                    <div :class="$style.buttons">
                        <VButton :class="$style.btn"
                                 rounded
                                 color="vice"
                                 @click="handleLinkClick('callback')">
                            Записаться на показ
                        </VButton>

                        <VButton v-if="data.buttonLink"
                                 :class="$style.btn"
                                 :link="data.buttonLink"
                                 rounded>
                            {{ data.buttonText }}
                        </VButton>
                    </div>
                </div>
            </div>
        </transition>
    </ModalWrapper>
</template>

<script>
    import {scrollTo} from '../../assets/js/utils/commonUtils';

    /* components */
    import ModalWrapper from '../layout/modals/ModalWrapper';
    import IconArrowRight from '../icons/IconArrowRight';
    import VButton from '../ui/button/VButton';

    export default {
        name: 'Navigation',

        components: {
            VButton,
            IconArrowRight,
            ModalWrapper,
        },

        props: {
            visible: Boolean,

            data: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                isVisibleContent: false,
            };
        },

        methods: {
            handleLinkClick(hash) {
                if (!hash) {
                    return;
                }
                scrollTo(hash);
                this.$emit('close');
            },
        },
    };
</script>

<style lang="scss" module>
    .body {
        display: flex;
        flex-direction: column;
        width: 384px;
        height: 100%;
        padding: 52px $side-padding-tablet;
        background-color: $base-50;

        @include respond-to(xs) {
            width: 100%;
            padding: 20px $side-padding-mobile 16px;
            background-color: #fff;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;

        @include respond-to(xs) {
            padding: 0 $side-padding-mobile;
            margin: 0 -#{$side-padding-mobile};
            overflow-y: scroll;
        }
    }

    .title {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 1.32;
        font-weight: 500;
        color: $base-500;

        @include respond-to(xs) {
            padding: 20px $side-padding-mobile;
            margin: -20px -16px 16px;
            font-size: 16px;
            line-height: 1.52;
            background-color: $base-50;
        }
    }

    .list {
        margin: -4px 0;
    }

    .item {
        padding: 8px 0 7px;
        font-size: 16px;
        line-height: 1.52;
        font-weight: 500;
        color: $base-500;
        user-select: none;

        &:not(:last-child) {
            border-bottom: 1px solid $base-100;
        }
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
    }

    .arrow {
        color: $base-200;
        transform: translateX(20px) rotate(180deg);

        @include respond-to(xs) {
            transform: translateX(12px) rotate(180deg);
        }
    }

    .buttons {
        margin-top: auto;
    }

    .btn {
        flex-shrink: 0;

        &:last-child {
            margin-top: 16px;
        }
    }
</style>
