<template>
    <article :class="$style.PartnersGallery">
        <div :class="$style.container"
             class="container">
            <div :class="$style.aside">
                <h2 :class="$style.title">
                    <slot name="title">
                        Стратегические партнеры
                    </slot>
                </h2>
                <div v-show="isDisplayControls"
                     :class="$style.controls">
                    <div :class="$style.buttons">
                        <VCircleButton ref="prev"
                                       :class="[$style.btn, $style._prev]"
                                       :color="btnColor">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                        <VCircleButton ref="next"
                                       :class="[$style.btn, $style._next]"
                                       :color="btnColor">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>

                    <GalleryFraction
                        :class="$style.fraction"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                        size="normal"
                        fill
                    />
                </div>
            </div>
            <div :class="$style.sliderWrapper">
                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <div class="swiper-wrapper">
                        <div v-for="item in partners"
                             :key="item.id"
                             class="swiper-slide"
                             :class="$style.slide">
                            <img :class="$style.logo"
                                 :src="item.logo">
                        </div>
                    </div>
                </div>
            </div>

            <div v-show="isDisplayControls"
                 ref="pagination"
                 :class="$style.pagination"
                 class="swiper-pagination swiper-pagination-progressbar is-absolute is-big">
            </div>
        </div>
    </article>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import GalleryFraction from './gallery/GalleryFraction';
    import VCircleButton from '../ui/button/VCircleButton';
    import IconArrowRight from '../icons/IconArrowRight';

    export default {
        name: 'PartnersGallery',

        components: {
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
        },

        props: {
            partners: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
                mappingObj: {
                    xs: 4,
                    sm: 4,
                    md: 4,
                    lg: 4,
                    xl: 6,
                },
            };
        },

        computed: {
            fractionCurrent() {
                const current = Math.ceil(this.activeIndex / this.mappingObj[this.$mq]) + 1;
                return current < 10 ? `0${current}` : `${current}`;
            },

            fractionTotal() {
                const current = Math.ceil(this.partners.length / this.mappingObj[this.$mq]);
                return current < 10 ? `0${current}` : `${current}`;
            },

            btnColor() {
                return this.$mq === 'xs' || this.$mq === 'sm' ? 'milk' : 'default';
            },

            isDisplayControls() {
                return this.$mq === 'xl' ? this.partners.length > 6 : this.partners.length > 4;
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.initSwiper();
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[ParnersGallery] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 800,
                    slidesPerView: 2,
                    slidesPerGroup: 2,
                    slidesPerColumn: 2,

                    breakpoints: {
                        768: {
                            slidesPerView: 4,
                            slidesPerGroup: 4,
                            slidesPerColumn: 1,
                        },

                        1920: {
                            slidesPerView: 6,
                            slidesPerGroup: 6,
                            slidesPerColumn: 1,
                        },
                    },

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .PartnersGallery {
        padding-top: 5.2rem;
        padding-bottom: 5.2rem;
        background-color: $light-gray;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-bottom: 40px;
        }
    }

    .container {
        position: relative;
        display: flex;
        background-color: #fff;

        @include respond-to(sm) {
            flex-direction: column;
            background-color: transparent;
        }

        @include respond-to(xs) {
            padding-bottom: 48px;
        }
    }

    .aside {
        flex-shrink: 0;
        width: 45.1rem;
        padding: 5.6rem 0 5.2rem 5.6rem;

        @include respond-to(lg) {
            width: 42.4rem;
        }

        @include respond-to(sm) {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0;
            margin-bottom: 28px;
        }
    }

    .title {
        width: 14.8rem;
        margin-bottom: 5.6rem;
        font-size: 1.8rem;
        line-height: 1.36;
        font-weight: 500;
        color: $base-300;

        @include respond-to(sm) {
            width: 100%;
            margin-bottom: 0;
            margin-right: auto;
            font-size: 16px;
            line-height: 1.52;
        }
    }

    .controls {
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            flex-direction: row-reverse;
        }

        @include respond-to(xs) {
            flex-direction: row;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 $side-padding-mobile;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        margin-right: 2.4rem;

        @include respond-to(sm) {
            margin-right: 0;
            margin-left: 20px;
        }

        @include respond-to(xs) {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .btn {
        &._next {
            margin-left: 1.6rem;

            svg {
                transform: rotate(180deg);
            }

            @include respond-to(xs) {
                margin-left: 8px;
            }
        }
    }

    .sliderWrapper {
        width: calc(100% - 45.1rem);
        height: 26rem;
        background-color: #fff;

        @include respond-to(lg) {
            width: calc(100% - 42.4rem);
        }

        @include respond-to(sm) {
            position: relative;
            width: 100%;
            height: auto;

            @include aspect-ratio(668, 160);
        }

        @include respond-to(xs) {
            @include aspect-ratio(288, 160);
        }
    }

    .slider {
        height: 100%;

        @include respond-to(sm) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .slide {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 2.4rem;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 1px;
            height: calc(100% - .4rem);
            background-color: rgba($base-100, .5);

            @include respond-to(sm) {
                height: 100%;
            }

            @include respond-to(xs) {
                content: none;
            }
        }

        @include respond-to(sm) {
            padding: 0 22px;
        }

        @include respond-to(xs) {
            height: 50%;

            &:nth-child(odd) {
                border-bottom: 1px solid rgba($base-100, .5);
            }

            &:nth-child(2n - 1),
            &:nth-child(2n - 2) {
                border-right: 1px solid rgba($base-100, .5);
            }
        }
    }

    .logo {
        display: block;
        width: 100%;
        height: auto;
    }

    .pagination {
        z-index: 2;
        bottom: 0;
        left: 0;

        @include respond-to(sm) {
            display: none;
        }
    }
</style>
