<template>
    <div ref="widget"
         :class="$style.PlanoplanWidget">
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: 'PlanoplanWidget',

        props: {
            link: {
                type: String,
                default: '',
            },

            initWidget: Boolean
        },

        data() {
            return {
                widget: null,
                uid: '',
                settings: {
                    lang: 'ru',
                    width: '100%',
                    height: '100%',
                    secondaryColor: '#fff',
                    textColor: '#000',
                    el: '',
                    activeTab: 'three_quarter',
                    uid: '',
                },
            };
        },

        computed: {
            ...mapState('planoplan', {
                isScriptLoaded: 'is_script_loaded',
            }),
        },

        watch: {
            initWidget(val) {
                if (val && this.uid && !this.widget && this.isScriptLoaded) {
                    this.init();
                }
            }
        },

        mounted() {
            this.uid = this.link.trim()
                .split('/')
                .pop();
        },

        methods: {
            init() {
                this.settings = {...this.settings, ...{uid: this.uid, el: this.$refs.widget}};
                this.widget = window.Planoplan.init(this.settings);
            },
        },
    };
</script>

<style lang="scss" module>
    .PlanoplanWidget {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    /*stylelint-disable*/
    :global(body .pp-app img) {
        padding-top: 0 !important;
        border-bottom: none !important;
    }

    :global(body .pp-app) {
        background-color: transparent !important;
    }

    :global(body .pp-scene__img-wrap) {
        padding-bottom: 0 !important;
    }

    :global(body .pp-hint-container) {
        background-color: initial !important;
        /*stylelint-enable*/
    }

    :global(body .pp-hint) {
        box-shadow: 8px 8px 30px rgba(0, 0, 0, .12);
    }

    :global(body .pp-nav-arrow),
    :global(body .pp-scene-picker) {
        display: none;
    }
</style>
