<template>
    <div :class="$style.ProgressBar">
        <div :class="$style.progress"
             :style="{width: `${percent}%`}"></div>
    </div>
</template>

<script>
    export default {
        name: 'ProgressBar',

        props: {
            percent: {
                type: Number,
                default: 100,
            },
        },
    };
</script>

<style lang="scss" module>
    .ProgressBar {
        background-color: $base-100;
        border-radius: 4px;
    }

    .progress {
        height: 4px;
        background: linear-gradient(90deg, $secondary-500 0%, $moxxy 57.99%, $redline 100%);
        border-radius: 4px;
        transition: width .5s;
    }
</style>
