<template>
    <n-link :to="link"
            :class="[$style.ProjectCard, classes]">
        <div :class="$style.content">
            <h3 v-if="project.name"
                :class="$style.title"
                class="subtitle1"
                v-html="project.name">
            </h3>
            <div :class="$style.subtitle"
                 v-html="project.title">
            </div>

            <ul :class="$style.info">
                <!--time-->
                <li v-if="project.city"
                    :class="[$style.cell, $style._location]">
                    <span :class="$style.label">
                        {{ cityName }} {{ metroName }}
                    </span>

                    <div :class="$style.value">
                        <div v-if="project.transport"
                             :class="$style.time">
                            <span>{{ project.transportTime }} мин.</span>

                            <div v-if="project.transport.iconContent"
                                 :class="$style.icon"
                                 class="frame-icon is-small"
                                 v-html="project.transport.iconContent">
                            </div>

                            <div v-else
                                 :class="[$style.icon, $style._background]"
                                 class="frame-icon is-small"
                                 :style="{backgroundImage: `url(${project.transport.icon})`}">
                            </div>
                        </div>
                    </div>
                </li>

                <!--price-->
                <li v-if="minPrice"
                    :class="$style.cell">
                    <span :class="$style.label">
                        Стоимость
                    </span>
                    <span :class="$style.value">
                        от {{ minPrice|roundToMillions }} млн.
                        <span class="rub">&#8381;</span>
                    </span>
                </li>

                <!--area-->
                <li v-if="displayedArea"
                    :class="$style.cell">
                    <span :class="$style.label">
                        Площадь
                    </span>
                    <span :class="$style.value"
                          v-html="displayedArea">
                    </span>
                </li>
            </ul>

            <div :class="$style.tags">
                <div v-if="project.minRateOffers"
                     :class="$style.tag">
                    <span>
                        ипотека {{ project.minRateOffers ? project.minRateOffers.toLocaleString() : '' }}%
                    </span>
                </div>
            </div>

            <div :class="$style.imageWrap">
                <img :class="$style.image"
                     :src="project.cardImage">
            </div>

            <VButton :class="$style.btn"
                     :color="buttonColor"
                     absolute
                     @click.native.prevent="handleButtonClick">
                <span :class="$style.btnLabel">
                    <span v-if="project.flatsCount">
                        {{ project.flatsCount }} {{ project.flatsCount|plural(['квартира','квартиры','квартир']) }}
                    </span>
                    <span v-else>
                        Подробнее
                    </span>
                </span>
            </VButton>
        </div>
    </n-link>
</template>

<script>
    import {mapGetters} from 'vuex';

    import VButton from '../ui/button/VButton';

    export default {
        name: 'ProjectCard',

        components: {
            VButton,
        },

        props: {
            project: {
                type: Object,
                default: () => ({}),
            },

            kind: {
                type: String,
                default: 'residential',
            },

            applyProjectClass: Boolean,
        },

        computed: {
            ...mapGetters({
                colorClass: 'getCityClass',
            }),

            classes() {
                return this.$style[`_${this.colorClassName}`];
            },

            colorClassName() {
                if (this.applyProjectClass) {
                    return this.project?.projectColor ? this.colorClass(this.project.projectColor) : 'vice';
                }

                return this.project.city?.color ? this.colorClass(this.project.city.color) : 'vice';
            },

            cityName() {
                return this.project.city?.shortName ? this.project.city.shortName : this.project.city?.name ? this.project.city.name : '';
            },

            buttonColor() {
                return `milk-${this.colorClassName}`;
            },

            metroName() {
                return this.project.metro?.name ? `/ ${this.project.metro.name}` : '';
            },

            residentialArea() {
                if (this.project?.flatAreaRange) {
                    const range = this.project.flatAreaRange;
                    if (!range.min && !range.max) {
                        return '';
                    }

                    if (range.min && range.max) {
                        if (range.min === range.max) {
                            return `${range.min.toLocaleString()} м<sup>2</sup>`;
                        }

                        return `${range.min.toLocaleString()} - ${range.max.toLocaleString()} м<sup>2</sup>`;
                    }

                    if (range.min) {
                        return `от ${range.min.toLocaleString()} м<sup>2</sup>`;
                    }

                    if (range.max) {
                        return `до ${range.min.toLocaleString()} м<sup>2</sup>`;
                    }
                }

                return '';
            },

            commercialArea() {
                if (this.project?.commercialPropAreaRange) {
                    const range = this.project.commercialPropAreaRange;
                    if (!range.min && !range.max) {
                        return '';
                    }

                    if (range.min && range.max) {
                        if (range.min === range.max) {
                            return `${range.min.toLocaleString()} м<sup>2</sup>`;
                        }

                        return `${range.min.toLocaleString()} - ${range.max.toLocaleString()} м<sup>2</sup>`;
                    }

                    if (range.min) {
                        return `от ${range.min.toLocaleString()} м<sup>2</sup>`;
                    }

                    if (range.max) {
                        return `до ${range.min.toLocaleString()} м<sup>2</sup>`;
                    }
                }

                return '';
            },

            displayedArea() {
                return this.kind === 'commercial' ? this.commercialArea : this.residentialArea;
            },

            minPrice() {
                return this.kind === 'commercial' ? this.project.minCommercialPropPrice : this.project.minFlatPrice;
            },

            link() {
                return this.kind === 'commercial' ? `/commercial/filter/?project=${this.project.id}` : `/projects/${this.project.slug}/`;
            },
        },

        methods: {
            handleButtonClick() {
                this.kind === 'commercial'
                    ? this.$router.push({
                        name: 'commercial-filter',
                        query: {
                            project: this.project.id,
                        },
                    })
                    : this.$router.push({
                        name: 'flats',
                        query: {
                            project: this.project.id,
                        },
                    });
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s linear;

    .ProjectCard {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 56rem;
        overflow: hidden;
        padding: 5.1rem 5.6rem 0;
        background-color: $base-50;

        @include respond-to(sm) {
            min-height: 490px;
            padding: 40px 40px 0;
        }

        @include respond-to(xs) {
            min-height: 438px;
            padding: 24px $side-padding-mobile 0;
        }

        &._vice {
            color: $vice;
        }

        &._redline {
            color: $redline;
        }

        &._moxxy {
            color: $moxxy;
        }

        &._elysium {
            color: $elysium;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 36.2rem;
            height: 36.2rem;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(13%, 26%) translateZ(0);
            transition: transform $transition;

            @include respond-to(sm) {
                width: 285px;
                height: 285px;
                transform: translate(20%, 20%) translateZ(0);
            }

            @include respond-to(xs) {
                width: 81vw;
                height: 81vw;
                transform: translate(38%, 25%) translateZ(0);
            }
        }

        @include respond-to-min(md) {
            @include hover {
                &:hover {
                    .title,
                    .value {
                        color: $milk;
                    }

                    .icon {
                        &._background {
                            filter: invert(1);
                        }
                    }

                    .subtitle {
                        color: $base-50;
                    }

                    &:before {
                        transform: translate(13%, 26%) translateZ(0) scale(4.15);

                        @include respond-to(lg) {
                            transform: translate(13%, 26%) translateZ(0) scale(3.25);
                        }
                    }

                    .label {
                        color: rgba($milk, .8);
                    }

                    .tag {
                        background-color: $milk;

                        span {
                            color: currentColor;
                        }
                    }

                    .btn {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .title {
        color: $base-500;
        transition: color $transition;
    }

    .subtitle {
        margin-top: .8rem;
        margin-bottom: 3rem;
        font-size: 1rem;
        line-height: 1.46;
        font-weight: 500;
        letter-spacing: .1em;
        color: currentColor;
        text-transform: uppercase;
        will-change: color;
        transition: color $transition;

        @include respond-to(sm) {
            margin-bottom: 24px;
        }

        @include respond-to(xs) {
            margin-top: 4px;
            margin-bottom: 22px;
        }
    }

    .cell {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;

        &._location {
            @include respond-to(sm) {
                margin-right: -5px;
            }
        }

        @include respond-to(sm) {
            margin-bottom: 18px;
        }

        @include respond-to(xs) {
            margin-bottom: 14px;
        }
    }

    .label {
        width: 60%;
        font-size: 1.6rem;
        line-height: 1;
        color: $base-300;
        will-change: color;
        transition: color $transition;

        @include respond-to(sm) {
            width: 65%;
            white-space: nowrap;
        }

        @include respond-to(xs) {
            font-size: 14px;
        }
    }

    .value {
        flex-shrink: 0;
        margin-left: auto;
        font-size: 1.6rem;
        line-height: 1;
        text-align: right;
        color: $base-500;
        font-weight: 600;
        will-change: color;
        transition: color $transition;

        @include respond-to(xs) {
            font-size: 14px;
        }
    }

    .icon {
        width: 2rem;
        height: 2rem;

        & svg {
            width: 100%;
            height: 100%;
        }

        &._background {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: filter $transition;
        }
    }

    .time {
        display: flex;
        align-items: flex-end;

        span {
            margin-right: .4rem;
        }
    }

    .tags {
        display: flex;
    }

    .tag {
        display: inline-flex;
        align-items: center;
        height: 2.2rem;
        margin-top: 1.2rem;
        padding: 0 1.2rem;
        border-radius: 8px;
        background-color: currentColor;
        transition: background-color $transition;

        span {
            margin-top: .2rem;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $base-50;
            will-change: color;
            transition: color $transition;
        }
    }

    .imageWrap {
        position: relative;
        margin-left: -5.6rem;
        margin-right: -5.6rem;
        margin-top: auto;

        @include aspect-ratio(488, 290);

        @include respond-to(sm) {
            margin-left: -40px;
            margin-right: -40px;

            @include aspect-ratio(384, 230);
        }

        @include respond-to(xs) {
            margin-left: -16px;
            margin-right: -16px;
        }
    }

    .image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .btn {
        left: 0;
        bottom: 5.2rem;
        width: 17.6rem;
        opacity: 0;
        will-change: opacity;
        transition: opacity $transition;

        @include respond-to(sm) {
            pointer-events: none;
        }
    }
</style>
