<template>
    <div :class="$style.ShareTooltip">
        <div :class="$style.wrapper">
            <button type="button"
                    :class="$style.item"
                    class="btn-reset"
                    @click="handleCopyClick">
                <transition name="fade"
                            appear>
                    <div v-if="copyMsg"
                         :class="$style.copyStatus">
                        {{ copyMsg }}
                    </div>
                </transition>

                <IconCopyColored :class="$style.icon" />
                <span :class="$style.label">
                    Копировать ссылку
                </span>
            </button>
            <a :class="$style.item"
               class="btn-reset"
               :href="`http://www.facebook.com/sharer.php?s=100&p[title]=${URITitle}&p[url]=${encodeURI(url)}`"
               target="_blank"
               @click="handleLinkClick">
                <IconFbColored :class="$style.icon" />

                <span :class="$style.label">
                    Facebook
                </span>
            </a>
            <a :class="$style.item"
               class="btn-reset"
               :href="`https://www.ok.ru/dk?st.cmd=addShare&st.s=1&st._surl=${URITitle}&st.comments=${encodeURI(url)}`"
               @click="handleLinkClick">
                <IconOkColored :class="$style.icon" />

                <span :class="$style.label">
                    Одноклассники
                </span>
            </a>
            <a :class="$style.item"
               class="btn-reset"
               :href="`http://vk.com/share.php?title=${URITitle}&url=${encodeURI(url)}`"
               target="_blank"
               @click="handleLinkClick">
                <IconVkColored :class="$style.icon" />

                <span :class="$style.label">
                    ВКонтакте
                </span>
            </a>
            <a :class="$style.item"
               class="btn-reset"
               :href="`mailto:?subject=${URITitle}&body=${encodeURI(url)}`"
               @click="handleLinkClick">
                <IconMailColored :class="$style.icon" />

                <span :class="$style.label">
                    Отправить на почту
                </span>
            </a>
        </div>
    </div>
</template>

<script>
    import IconCopyColored from '../icons/share/IconCopyColored';
    import IconFbColored from '../icons/share/IconFbColored';
    import IconOkColored from '../icons/share/IconOkColored';
    import IconVkColored from '../icons/share/IconVkColored';
    import IconMailColored from '../icons/share/IconMailColored';

    export default {
        name: 'ShareTooltip',

        components: {
            IconMailColored,
            IconVkColored,
            IconOkColored,
            IconFbColored,
            IconCopyColored,
        },

        props: {
            url: {
                type: String,
                default: '',
            },

            title: {
                type: String,
                default: 'С Вами поделились ссылкой',
            },
        },

        data() {
            return {
                copyMsg: '',
            };
        },

        computed: {
            URITitle() {
                return encodeURIComponent(this.title);
            },
        },

        methods: {
            handleCopyClick() {
                const input = document.createElement('input');
                const text = this.url;

                document.body.appendChild(input);
                input.value = text;
                input.select();
                try {
                    const successful = document.execCommand('copy');
                    this.copyMsg = successful ? 'Ссылка скопирована' : 'Не удалось скопировать ссылку';
                    document.body.removeChild(input);

                    setTimeout(() => {
                        this.copyMsg = '';
                    }, 1000);
                } catch (err) {
                    console.error('Fallback: Oops, unable to copy', err);
                    this.copyMsg = 'Не удалось скопировать ссылку';
                    setTimeout(() => {
                        this.copyMsg = '';
                    }, 1000);
                }
            },

            handleLinkClick() {
                if (this.yandexMetrika) {
                    this.$yandexMetrika.reachGoal(this.yandexMetrika);
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .ShareTooltip {
        position: absolute;
        right: 0;
        top: -.8rem;
        width: 23rem;
        padding: 2.4rem;
        border-radius: 16px;
        background-color: $milk;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);
        transform: translateY(-100%);
    }

    .wrapper {
        margin: -.6rem 0;
    }

    .item {
        position: relative;
        display: flex;
        align-items: center;
        padding: .6rem 0;

        @include hover {
            &:hover {
                .label {
                    opacity: .8;
                }
            }
        }
    }

    .icon {
        width: 2.4rem;
        height: 2.4rem;
    }

    .label {
        margin-left: 1.6rem;
        white-space: nowrap;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-500;
        transition: opacity $default-transition;
    }

    .copyStatus {
        position: absolute;
        top: -.5rem;
        left: 50%;
        padding: .5rem;
        border-radius: .4rem;
        background-color: rgba($base-500, .7);
        font-size: 1.4rem;
        line-height: 1.46;
        color: #fff;
        white-space: nowrap;
        transform: translate(-50%, -100%);
    }
</style>
