<template>
    <div :class="$style.Share">
        <p :class="$style.label"
           class="button1">
            Поделитесь в соцсетях
        </p>
        <ul :class="$style.list">
            <li :class="$style.item">
                <SocialLink :href="`https://vk.com/share.php?url=${fullUrl}&title=${URITitle}`"
                            color="gray">
                    <IconVk class="frame-icon" />
                </SocialLink>
            </li>
            <li :class="$style.item">
                <SocialLink :href="`https://www.facebook.com/sharer.php?u=${fullUrl}&t=${URITitle}`"
                            color="gray">
                    <IconFacebook class="frame-icon" />
                </SocialLink>
            </li>
            <li :class="$style.item">
                <SocialLink
                    :href="`http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st._surl=${fullUrl}&st.comments=${URITitle}`"
                    color="gray">
                    <IconOk class="frame-icon" />
                </SocialLink>
            </li>
            <!--<li :class="$style.item">
                <SocialLink href=""
                            color="gray">
                    <IconInstagram class="frame-icon" />
                </SocialLink>
            </li>-->
        </ul>
    </div>
</template>

<script>
    import SocialLink from './social/SocialLink';
    import IconVk from '../icons/IconVk';
    import IconFacebook from '../icons/IconFacebook';
    import IconOk from '../icons/IconOk';
    // import IconInstagram from '../icons/IconInstagram';

    export default {
        name: 'Share',

        components: {
            // IconInstagram,
            IconOk,
            IconFacebook,
            IconVk,
            SocialLink,
        },

        props: {
            title: {
                type: String,
                default: 'С Вами поделились ссылкой',
            },

            fullUrl: {
                type: String,
                default: '',
            },
        },

        computed: {
            URITitle() {
                return encodeURIComponent(this.title);
            },
        },
    };
    </script>

<style lang="scss" module>
    .Share {
        display: flex;
        align-items: center;

        @include respond-to(xs) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .label {
        margin-right: 3.2rem;
        color: $base-400;

        @include respond-to(xs) {
            margin-right: 0;
            margin-bottom: 12px;
        }
    }

    .list {
        display: flex;
        margin: 0 -.4rem;
    }

    .item {
        padding: 0 .4rem;
    }
</style>
