<template>
    <defs>
        <linearGradient id="gradient"
                        x1="9"
                        y1="20"
                        x2="31"
                        y2="20"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="#92278F" />
            <stop offset="0.579898"
                  stop-color="#C6168D" />
            <stop offset="1"
                  stop-color="#ED1C24" />
        </linearGradient>
    </defs>
</template>

<script>
    export default {
        name: 'SvgGradient',
    };
</script>
