<template>
    <div ref="container"
         :class="$style.VideoLazy">
        <div :class="[$style.preview, {[$style._hidden]: flags.ready || flags.playing}]"
             :style="backgroundPreview">
        </div>

        <video ref="video"
               :class="$style.video"
               :poster="preview"
               :src="video"
               playsinline
               :muted="flags.muted"
               type="video/mp4">
            <source :src="video"
                    type="video/mp4">
            <source :src="video"
                    type="video/webm">
        </video>
        <div :class="$style.controls">
            <div :class="$style.top">
                <div :class="$style.playBtn">
                    <VCircleButton :color="color"
                                   inverse
                                   @click="onTogglePlaying">
                        <IconPause
                            v-if="flags.playing"
                            class="frame-icon is-default"
                        />
                        <IconPlay
                            v-else
                            class="frame-icon"
                        />
                    </VCircleButton>
                    <span v-if="flags.playing"
                          :class="$style.label"
                          class="button2">
                        Пауза
                    </span>
                    <span v-else
                          :class="$style.label"
                          class="button2">
                        Играть
                    </span>
                </div>
                <div :class="$style.soundControls">
                    <VSlider
                        :class="$style.soundSlider"
                        :value="soundValue"
                        :min="0"
                        :max="1"
                        :step="0.1"
                        color="milk"
                        size="big"
                        @change="onVolumeChange"
                    />
                    <VCircleButton :class="$style.soundBtn"
                                   :color="color"
                                   :inverse="!flags.muted"
                                   @click="onMuteClick">
                        <IconMuted
                            v-if="flags.muted"
                            class="frame-icon is-default"
                        />
                        <IconSound
                            v-else-if="soundValue < 0.5"
                            class="frame-icon is-default"
                        />
                        <IconSoundFull
                            v-else
                            class="frame-icon is-default"
                        />
                    </VCircleButton>
                </div>
                <VCircleButton :color="color"
                               inverse
                               @click="onToggleFullScreen">
                    <IconVideoFullScreen class="frame-icon is-default" />
                </VCircleButton>
            </div>

            <VSlider
                :class="$style.range"
                class="video"
                :value="progress"
                color="milk"
                :step="0.001"
                no-transition
                @change="onSetTime"
            />

            <div :class="$style.time">
                <span class="button2">
                    {{ timeElapsed }}
                </span>
                <span class="button2">
                    {{ videoDuration }}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import VCircleButton from '../ui/button/VCircleButton';
    import IconPlay from '../icons/IconPlay';
    import IconPause from '../icons/IconPause';
    import VSlider from '../ui/slider/VSlider';
    import IconMuted from '../icons/IconMuted';
    import IconSound from '../icons/IconSound';
    import IconSoundFull from '../icons/IconSoundFull';
    import IconVideoFullScreen from '../icons/IconVideoFullScreen';


    export default {
        name: 'VideoLazy',

        components: {
            IconVideoFullScreen,
            IconSound,
            IconSoundFull,
            IconMuted,
            VSlider,
            IconPause,
            IconPlay,
            VCircleButton,
        },

        props: {
            preview: {
                type: String,
                default: '',
            },

            image: {
                type: String,
                default: '',
            },

            video: {
                type: String,
                default: '',
            },

            isShowControls: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                flags: {
                    ready: false,
                    playing: false,
                    muted: true,
                    fullScreen: false,
                },

                maxTime: 0,
                currentTime: 0,
                progress: 0,
                soundValue: 0,
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            color() {
                return this.cityClass();
            },

            backgroundPreview() {
                return {backgroundImage: `url(${this.preview})`};
            },

            videoDuration() {
                const time = this.formatTime(Math.round(this.maxTime));
                return `${time.minutes}:${time.seconds}`;
            },

            timeElapsed() {
                const time = this.formatTime(Math.round(this.currentTime));
                return `${time.minutes}:${time.seconds}`;
            },
        },

        mounted() {
            window.addEventListener('resize', this.resize);
            this.$refs.video.addEventListener('loadedmetadata', this.resize);
            this.$refs.video.addEventListener('timeupdate', this.handleTimeUpdate);
        },

        beforeDestroy() {
            this.$refs.video.removeEventListener('loadedmetadata', this.resize);
            window.removeEventListener('resize', this.resize);
            this.$refs.video.addEventListener('timeupdate', this.handleTimeUpdate);
        },

        methods: {
            resize() {
                const videoAspectRatio = this.$refs.video.videoWidth / this.$refs.video.videoHeight;
                const windowAspectRatio = this.$refs.container.offsetWidth / this.$refs.container.offsetHeight;

                if (windowAspectRatio > videoAspectRatio) {
                    this.$refs.video.style.width = '100%';
                    this.$refs.video.style.height = 'auto';
                } else {
                    this.$refs.video.style.width = 'auto';
                    this.$refs.video.style.height = '100%';
                }

                if (!this.flags.ready) {
                    this.flags.ready = true;
                    this.maxTime = this.$refs.video.duration | 0;
                    this.playVideo();
                }
            },

            formatTime(timeInSeconds) {
                const result = new Date(timeInSeconds * 1000).toISOString()
                    .substr(11, 8);

                return {
                    minutes: result.substr(3, 2),
                    seconds: result.substr(6, 2),
                };
            },

            onTogglePlaying() {
                this.flags.playing ? this.stopVideo() : this.playVideo();
            },

            playVideo() {
                this.flags.playing = true;
                this.$refs.video.play();
            },

            stopVideo() {
                this.flags.playing = false;
                this.$refs.video.pause();
            },

            onVolumeChange(val) {
                this.$refs.video.muted = this.flags.muted = !val;
                this.$refs.video.volume = this.soundValue = val;
            },

            onMuteClick() {
                if (this.flags.muted) {
                    this.$refs.video.muted = this.flags.muted = false;
                    this.$refs.video.volume = this.soundValue = .5;
                } else {
                    this.$refs.video.muted = this.flags.muted = true;
                    this.$refs.video.volume = this.soundValue = 0;
                }
            },

            onToggleFullScreen() {
                if (this.flags.fullScreen) {
                    this.flags.fullScreen = false;

                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                } else {
                    this.flags.fullScreen = true;

                    if (this.$refs.container.requestFullscreen) {
                        this.$refs.container.requestFullscreen();
                    } else if (this.$refs.container.mozRequestFullScreen) {
                        this.$refs.container.mozRequestFullScreen();
                    } else if (this.$refs.container.webkitRequestFullscreen) {
                        this.$refs.container.webkitRequestFullscreen();
                    } else if (this.$refs.container.msRequestFullscreen) {
                        this.$refs.container.msRequestFullscreen();
                    }
                }
            },

            handleTimeUpdate() {
                if (!this.$refs.video) {
                    return;
                }
                this.currentTime = this.$refs.video.currentTime | 0;
                this.progress = this.$refs.video.currentTime / (this.$refs.video.duration / 100);
            },

            onSetTime(value) {
                // await this.stopVideo();
                this.progress = value;
                this.$refs.video.currentTime = (this.$refs.video.duration / 100) * value;
                this.$nextTick(() => {
                    this.playVideo();
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .VideoLazy {
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;
        transition: opacity $default-transition;

        &._hidden {
            opacity: 0;
        }
    }

    .video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
    }

    .controls {
        position: absolute;
        bottom: 5.2rem;
        left: 0;
        width: 100%;
        padding: 0 5.6rem;
    }

    .top {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;
    }

    .playBtn {
        display: flex;
        align-items: center;
    }

    .label {
        margin-left: 1.6rem;
        color: $milk;
    }

    .soundControls {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1.2rem;
    }

    .soundSlider {
        width: 6.4rem;
    }

    .soundBtn {
        margin-left: 2.4rem;
    }

    .time {
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;
        color: $milk;
    }
</style>
