<template>
    <section v-intersect.once="{handler: showBlock}"
             :class="[$style.WatchVideoBlock, {[$style._visible]: isVisible}]">
        <div :class="[$style.imageBox, {[$style._hovered]: isHovered}]">
            <ImageLazy
                :class="$style.image"
                :image="image"
                relative
            />
        </div>

        <div :class="$style.wrapper"
             class="container">
            <BlockAnimationWrapper :visible="isVisible">
                <h2 class="subtitle3 c-base-300"
                    v-html="title">
                </h2>
            </BlockAnimationWrapper>

            <div :class="$style.block"
                 @click="onOpenVideo(true)">
                <div :class="$style.blockWrapper">

                    <VBeanButton
                        :class="$style.hoverBtn"
                        color="redline"
                        absolute
                        :hovered="$mq === 'sm'"
                        @mouseenter="onHoverEnter"
                        @mouseleave="onHoverLeave"
                        @click="onOpenVideo"
                    />
                    <BlockAnimationWrapper :class="$style.leadWrapper"
                                           :visible="isVisible"
                                           :delay=".2">
                        <div :class="$style.lead"
                             v-html="lead">
                        </div>
                    </BlockAnimationWrapper>
                </div>
            </div>
            <BlockAnimationWrapper :visible="isVisible"
                                   :delay=".4">
                <div :class="$style.text"
                     v-html="text">
                </div>
            </BlockAnimationWrapper>
        </div>
    </section>
</template>

<script>
    import {blockAimate} from '../../assets/js/mixins/blockAnimate';

    /* components */
    import VBeanButton from '../ui/button/VBeanButton';
    import ImageLazy from './ImageLazy';
    import BlockAnimationWrapper from './BlockAnimationWrapper';
    import IframeModal from '../layout/modals/IframeModal';

    export default {
        name: 'WatchVideoBlock',

        components: {
            BlockAnimationWrapper,
            ImageLazy,
            VBeanButton,
        },

        mixins: [
            blockAimate,
        ],

        props: {
            title: {
                type: String,
                default: '',
            },

            text: {
                type: String,
                default: '',
            },

            lead: {
                type: String,
                default: '',
            },

            image: {
                type: String,
                default: '',
            },

            preview: {
                type: String,
                default: '',
            },

            video: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                isHovered: false,
            };
        },

        methods: {
            onHoverEnter() {
                this.isHovered = true;
            },

            onHoverLeave() {
                this.isHovered = false;
            },

            onOpenVideo(fromBlock = false) {
                if (fromBlock && !this.$device.isMobile) {
                    return;
                }

                this.$modal.open(IframeModal, {link: this.video});
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .4s linear;

    .WatchVideoBlock {
        position: relative;
        background-color: $base-500;
    }

    .wrapper {
        position: relative;
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 40px;
        }
    }

    .imageBox {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 2;
            height: 50%;
        }

        &:before {
            top: 0;
            background: linear-gradient(180deg, $base-500 0%, rgba($base-500, 0) 100%);
        }

        &:after {
            bottom: 0;
            background: linear-gradient(0deg, $base-500 0%, rgba($base-500, 0) 100%);
        }

        &._hovered {
            .image {
                opacity: .2;
            }
        }
    }

    .image {
        z-index: 1;
        height: 100%;
        opacity: 0;
        transition: opacity $transition;

        @include respond-to(sm) {
            opacity: .2;
        }

        @include respond-to(xs) {
            opacity: 0;
        }
    }

    .block {
        padding: 17.2rem 30.4rem 0;

        @include respond-to(lg) {
            padding: 10.8rem 6.4rem 0;
        }

        @include respond-to(sm) {
            padding: 36px 0 0;
        }

        @include respond-to(xs) {
            padding-top: 8px;
        }
    }

    .blockWrapper {
        position: relative;
    }

    .hoverBtn {
        top: -5.2rem;
        left: 45.6rem;

        @include respond-to(sm) {
            top: -38px;
            left: 392px;
        }

        @include respond-to(xs) {
            top: 2px;
            left: 160px;
        }
    }

    .leadWrapper {
        position: relative;
    }

    .lead {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 1.12;
        color: $milk;
        pointer-events: none;

        @include respond-to-min(md) {
            display: flex;
            flex-direction: column;

            & :nth-child(2) {
                padding-left: 26.6rem;
            }

            & :last-child {
                align-self: flex-end;
            }
        }

        @include respond-to(sm) {
            font-size: 56px;
            line-height: 1.3;
        }

        @include respond-to(xs) {
            max-width: 288px;
            font-size: 28px;
            letter-spacing: -1px;

            & :first-child {
                width: auto;
            }

            & :nth-child(2),
            & :last-child {
                display: inline;
            }
        }
    }

    .text {
        width: 28.8rem;
        margin-top: 12.4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-50;

        @include respond-to(lg) {
            margin-top: 10.8rem;
        }

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
            font-size: 14px;
            line-height: 1.46;
        }
    }
</style>
