<template>
    <section :class="[$style.PromoInner, classes]"
             class="page-top">
        <div :class="$style.container"
             class="container">
            <div :class="$style.backWrapper">
                <VBackLink link="/mass-media/?type=action"
                           :is-back="isDisplayBack"
                           :class="$style.back"
                />
            </div>

            <div :class="$style.content"
                 class="container-small">
                <CardTags
                    v-if="card.projects && card.projects.length"
                    :class="$style.tags"
                    :tags="card.projects"
                    :click-more="true"
                    outline
                />
                <h1 class="h3">
                    <span :class="$style.accent"
                          v-html="card.coloredTitle">
                    </span>
                    <span :class="$style.intro"
                          class="c-base"
                          v-html="card.intro">
                    </span>
                </h1>

                <p :class="$style.date"
                   class="p3">
                    {{ date }} / <span :class="$style.accent">{{ daysLeft }}</span>
                </p>

                <div v-if="card.imageDisplay"
                     :class="$style.image">
                    <ImageLazy
                        :image="card.imageDisplay"
                        :preview="card.imagePreview"
                        absolute
                    />
                </div>

                <div v-if="card.subtitle"
                     :class="$style.subtitle"
                     v-html="card.subtitle">
                </div>

                <div v-if="card.text"
                     :class="$style.description"
                     v-html="card.text">
                </div>

                <Share
                    :class="$style.share"
                    :full-url="fullURL"
                    :title="card.title"
                />
            </div>
        </div>

        <article v-if="promoList.length"
                 :class="$style.otherPromo">
            <h2 :class="$style.title"
                class="container">
                Другие акции
            </h2>
            <div :class="$style.wrapper">
                <div :class="$style.list">
                    <div :class="$style.card">
                        <FormCard
                            type="subscribe"
                        />
                    </div>
                    <div v-for="item in promoList"
                         :key="item.id"
                         :class="$style.card">
                        <PromoCard
                            :card="item"
                            is-blank
                        />
                    </div>
                </div>
            </div>
        </article>

        <Callback />
    </section>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import {monthByNumber, plural} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import promoPage from '../../../queries/promo/promoPage.graphql';

    /* components */
    import CardTags from '../../../components/common/CardTags';
    import VBackLink from '../../../components/ui/link/VBackLink';
    import ImageLazy from '../../../components/common/ImageLazy';
    import Share from '../../../components/common/Share';
    import PromoCard from '../../../components/common/promo/PromoCard';
    import FormCard from '../../../components/common/form/FormCard';
    import Callback from '../../../components/common/callback/Callback';

    export default {
        name: 'PromoInner',

        components: {
            Callback,
            FormCard,
            PromoCard,
            Share,
            ImageLazy,
            VBackLink,
            CardTags,
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.isDisplayBack = Boolean(from.name);
            });
        },

        async asyncData({app, params}) {
            const promoPageRes = await app.$axios.$post('/graphql/', {
                query: promoPage.loc.source.body,
                variables: {
                    slug: params.slug,
                },
            });

            return {
                card: promoPageRes?.data?.news,
                otherPromo: promoPageRes?.data?.news?.anotherNews.length ? promoPageRes.data.news.anotherNews : [],
            };
        },

        data() {
            return {
                isDisplayBack: false,
                originURL: null,
                card: {},
                otherPromo: [],
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            classes() {
                return this.$style[`_${this.cityClass()}`];
            },

            date() {
                const date = new Date(this.card.end);
                return `до ${date.getDate()} ${monthByNumber(date.getMonth(), 'case')} ${date.getFullYear()}`;
            },

            daysLeft() {
                const date = new Date(this.card.end);
                const now = Date.now();
                const diff = Math.ceil((Number(date) - now) / (1000 * 3600 * 24));
                if (diff <= 0) {
                    return 'акция закончилась';
                }
                return `еще ${diff} ${plural(diff, ['день', 'дня', 'дней'])}`;
            },

            fullURL() {
                return this.originURL ? `${this.originURL}${this.card.slug}` : '';
            },

            promoList() {
                switch (this.$mq) {
                    case 'xs':
                        return this.otherPromo.slice(0, 2);
                    case 'sm':
                        if (this.otherPromo.length % 2 !== 0) {
                            return this.otherPromo;
                        }
                        return this.otherPromo.slice(0, this.otherPromo.length - 1);
                    case 'xl':
                        return this.otherPromo.slice(0, 3);
                    default:
                        if (this.otherPromo.length % 5 !== 0) {
                            return this.otherPromo.slice(0, 2);
                        }
                        return this.otherPromo;
                }
            },
        },

        mounted() {
            this.setHeaderColor('gray');
            this.originURL = location.origin;
        },

        beforeDestroy() {
            this.setHeaderColor('milk');
        },

        methods: {
            ...mapActions('header', [
                'setHeaderColor',
            ]),
        },
    };
</script>

<style lang="scss" module>
    .PromoInner {
        background-color: $base-50;

        &._vice {
            .accent {
                color: $vice;
            }

            .intro {
                display: inline;

                & > span {
                    color: $vice;
                }
            }
        }

        &._redline {
            .accent {
                color: $redline;
            }

            .intro {
                display: inline;

                & > span {
                    color: $redline;
                }
            }
        }

        &._moxxy {
            .accent {
                color: $moxxy;
            }

            .intro {
                display: inline;

                & > span {
                    color: $moxxy;
                }
            }
        }
    }

    .container {
        position: relative;
    }

    .backWrapper {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;

        @include respond-to(sm) {
            left: 40px;
        }

        @include respond-to(xs) {
            position: static;
            height: auto;
            margin-top: 16px;
        }
    }

    .content {
        padding-top: 8rem;
        margin-bottom: 8rem;

        @include respond-to(sm) {
            padding-top: 40px;
            margin-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 12px;
            margin-bottom: 40px;
        }
    }

    .tags {
        margin-bottom: 4rem;

        @include respond-to(sm) {
            margin-bottom: 24px;
        }

        @include respond-to(xs) {
            margin-bottom: 12px;
        }
    }

    .date {
        margin-top: 2.2rem;
        color: rgba($base-500, .64);
        text-transform: lowercase;

        @include respond-to(sm) {
            margin-top: 16px;
        }

        @include respond-to(xs) {
            margin-top: 12px;
        }
    }

    .image {
        position: relative;
        margin-top: 5.6rem;

        @include aspect-ratio(776, 432);

        @include respond-to(sm) {
            margin-top: 40px;
            margin-left: -155px;
            margin-right: -40px;

            @include aspect-ratio(768, 432);
        }

        @include respond-to(xs) {
            margin: 24px -#{$side-padding-mobile} 0;

            @include aspect-ratio(320, 200);
        }
    }

    .subtitle {
        margin-top: 5.6rem;
        font-size: 2rem;
        line-height: 1.4;
        font-weight: 500;
        color: $base-400;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 32px;
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .description {
        margin-top: 2.4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }

        p:not(:last-child) {
            margin-bottom: 1.6rem;
        }

        & ul {
            list-style: disc;
            padding-left: 4rem;
            margin-bottom: 2rem;

            @include respond-to(xs) {
                padding-left: 30px;
            }

            & li {
                list-style: disc;
            }
        }
    }

    .share {
        margin-top: 5.6rem;

        @include respond-to(sm) {
            margin-top: 46px;
        }

        @include respond-to(xs) {
            margin-top: 32px;
        }
    }

    .title {
        padding-top: 8.6rem;
        padding-bottom: 8.2rem;
        font-size: 4rem;
        line-height: 1;
        font-weight: 500;
        letter-spacing: -.1rem;
        color: $base-500;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 32px;
            line-height: 1.24;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 20px;
            line-height: 1.4;
        }
    }

    .otherPromo {
        background-color: $milk;
    }

    .wrapper {
        overflow: hidden;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        //margin: -1px;
    }

    .card {
        position: relative;
        display: flex;
        width: 25%;
        min-height: 56rem;
        outline: 1px solid $base-100;

        @include respond-to(lg) {
            width: 33.333333%;
        }

        @include respond-to(sm) {
            width: 50%;
            min-height: 490px;
        }

        @include respond-to(xs) {
            width: 100%;
            min-height: 436px;
        }
    }
</style>
