<template>
    <section v-intersect.once="{handler: showBlock}"
             :class="$style.ContactsPage"
             class="page-top">
        <div :class="$style.header"
             class="container">
            <BlockAnimationWrapper :visible="isVisible">
                <MainSelect
                    :class="$style.wrapper"
                    title="Контакты"
                    label-field="name"
                    value-field="id"
                    :value="activeCityId"
                    :options="[{id: '', name: 'во всех городаx'}, ...cities]"
                    @change="onCityChange"
                />
            </BlockAnimationWrapper>

            <BlockAnimationWrapper :class="$style.socialWrapper"
                                   :visible="isVisible"
                                   :delay=".1">
                <div :class="$style.social">
                    <span :class="$style.label">
                        {{ label }}
                    </span>
                    <ul :class="$style.list">
                        <li v-for="item in social"
                            :key="item.id"
                            :class="$style.item">
                            <SocialLink
                                :href="item.link"
                                :icon="item.iconContent"
                                color="gray"
                            />
                        </li>
                    </ul>
                </div>
            </BlockAnimationWrapper>
        </div>

        <ActionBlock
            :class="$style.action"
            link-text="Напишите письмо директору,"
            text="нам важно ваше мнение"
            :on-click="onOpenModal"
        />
        <ul :class="[$style.content, {[$style._reloading]: isReloading}]">
            <li v-for="(contact, i) in list"
                :key="i"
                :class="[$style.row, {[$style._visible]: isVisible}]">
                <ContactItem
                    :item="contact"
                    :reloading="isReloading"
                />
            </li>
        </ul>

        <Callback />
    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import {blockAimate} from '../../assets/js/mixins/blockAnimate';

    /* queries */
    import allOffices from '../../queries/contacts/allOffices.graphql';

    /* components */
    import Callback from '../../components/common/callback/Callback';
    import SocialLink from '../../components/common/social/SocialLink';
    import ActionBlock from '../../components/common/ActionBlock';
    import ContactItem from '../../components/pages/contacts/ContactItem';
    import MainSelect from '../../components/common/MainSelect';
    import BlockAnimationWrapper from '../../components/common/BlockAnimationWrapper';
    import RequestFormModal from '../../components/layout/modals/RequestFormModal';
    import DirectorForm from '../../components/common/forms/DirectorForm';

    export default {
        name: 'ContactsPage',

        components: {
            BlockAnimationWrapper,
            MainSelect,
            ContactItem,
            ActionBlock,
            SocialLink,
            Callback,
        },

        mixins: [
            blockAimate,
        ],

        async asyncData({app, store}) {
            const activeCityId = store.getters.getActiveCityId;
            try {
                const {data} = await app.$axios.$post('/graphql/', {
                    query: allOffices.loc.source.body,
                    variables: {
                        city: activeCityId,
                    },
                });

                return {
                    list: data.allOffices?.edges?.length ? data.allOffices.edges.map(item => item.node) : [],
                    activeCityId: activeCityId,
                };
            } catch (e) {
                console.log('ContactsPage/ asyncData', e);
            }
        },

        data() {
            return {
                list: [],
                isReloading: false,
                activeCityId: null,
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
                social: state => state.social,
            }),

            label() {
                return this.$mq === 'xs' || this.$mq === 'sm' ? 'В соцсетях' : 'Мы в соцсетях';
            },
        },

        methods: {
            fetchContacts() {
                return this.$axios.$post('/graphql/', {
                    query: allOffices.loc.source.body,
                    variables: {
                        city: this.activeCityId,
                    },
                }, {
                    progress: false,
                });
            },

            async onCityChange(val) {
                this.activeCityId = val;
                this.isReloading = true;
                const start = Date.now();

                const {data} = await this.fetchContacts();

                const stop = Date.now();

                if (stop - start < 400) {
                    setTimeout(() => {
                        this.list = data.allOffices?.edges?.length ? data.allOffices.edges.map(item => item.node) : [];
                        this.$nextTick(() => {
                            this.isReloading = false;
                        });
                    }, 400 - (stop - start));
                } else {
                    this.list = data.allOffices?.edges?.length ? data.allOffices.edges.map(item => item.node) : [];
                    this.$nextTick(() => {
                        this.isReloading = false;
                    });
                }
            },

            onOpenModal() {
                this.$modal.open(RequestFormModal, {
                    title: 'Письмо директору',
                    subtitle: 'Нам важно ваше мнение',
                    form: DirectorForm,
                    yandexMetrika: 'lead-director'
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ContactsPage {
        //
    }

    .header {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 8rem;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            display: block;
            padding-top: 24px;
            padding-bottom: 0;
        }
    }

    .wrapper {
        @include respond-to(xs) {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    .socialWrapper {
        margin-left: auto;

        @include respond-to(xs) {
            margin-left: 0;
        }
    }

    .social {
        display: flex;
        align-items: center;
    }

    .label {
        flex-shrink: 0;
        margin-right: 3.2rem;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        color: $base-200;

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(xs) {
            display: inline-flex;
            margin-right: 30px;
            font-size: 12px;
            line-height: 1.04;
        }
    }

    .list {
        display: flex;
        margin: 0 -.4rem;
    }

    .item {
        padding: 0 .4rem;
    }

    .content {
        transition: opacity $default-transition;

        &._reloading {
            opacity: 0;
        }

        @include respond-to(xs) {
            margin-top: 24px;
            border-top: 1px solid $base-100;
        }
    }

    .row {
        opacity: 0;
        transform: translate3d(0, 5rem, 0);
        transition: tramsform $text-transition, opacity $text-transition;

        &._visible {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        @include transition-delay(15, .1);

        &:not(:last-child) {
            border-bottom: 1px solid $base-100;
        }
    }

    .action {
        @include respond-to(xs) {
            display: none;
        }
    }
</style>
