<template>
    <component :is="component"
               v-bind="linkProperties"
               :class="[$style.HeroAsideCard, classes]">
        <div :class="$style.content">
            <h2 v-if="title"
                :class="$style.title"
                v-html="title">
            </h2>
            <div v-if="subtitle"
                 :class="$style.subtitle"
                 v-html="subtitle">
            </div>

            <div v-if="image"
                 :class="$style.image"
                 :style="styles">
            </div>
            <div v-else-if="description"
                 :class="$style.description"
                 v-html="description">
            </div>
        </div>

        <VCircleButton :class="$style.btn"
                       :color="color"
                       tag="span"
                       size-hover
                       :inverse="isInverse">
            <IconPlus
                class="frame-icon"
                :class="$style.icon"
            />
        </VCircleButton>
    </component>
</template>

<script>
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconPlus from '../../../icons/IconPlus';

    export default {
        name: 'HeroAsideCard',

        components: {
            IconPlus,
            VCircleButton,
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            subtitle: {
                type: String,
                default: '',
            },

            image: {
                type: String,
                default: '',
            },

            description: {
                type: String,
                default: '',
            },

            color: {
                type: String,
                default: 'moxxy',
            },

            href: {
                type: String,
                default: '',
            },
            link: {
                type: [String, Object],
                default: '',
            },
            blank: {
                type: Boolean,
                default: false,
            },
        },


        computed: {
            isInverse() {
                return this.$device.isDesktop;
            },

            classes() {
                return [
                    [this.$style[`_${this.color}`]],
                ];
            },

            styles() {
                return this.image ? {backgroundImage: `url(${this.image})`} : '';
            },

            component() {
                if (this.href) {
                    return 'a';
                } else if (this.link) {
                    return 'n-link';
                }
                return 'article';
            },

            linkProperties() {
                const linkProperties = {};
                if (this.link) {
                    linkProperties.to = this.link;
                } else if (this.href) {
                    linkProperties.href = this.href;
                }

                if (this.blank) {
                    linkProperties.target = '_blank';
                }
                return linkProperties;
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s linear;

    .HeroAsideCard {
        position: relative;
        height: 33.33%;
        overflow: hidden;
        padding: 5rem 2.8rem 2.8rem 5.5rem;
        border-top: 1px solid $base-100;
        background-color: $base-50;
        cursor: pointer;

        @include hover {
            &:hover {
                .title {
                    color: $milk;
                }

                .subtitle {
                    color: rgba($milk, .64);
                }

                &:before {
                    transform: translate(32%, 50%) translateZ(0) scale(4);
                }

                .btn {
                    opacity: 1;
                }
            }
        }

        @include respond-to(sm) {
            width: 50%;
            height: 215px;
            padding: 40px 42px 0 $side-padding-tablet;
            border-bottom: 1px solid $base-100;
        }

        @include respond-to(xs) {
            width: 100%;
            height: 160px;
            padding: 24px $side-padding-mobile 0;
            border-bottom: 0;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 27rem;
            height: 27rem;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(32%, 50%) translateZ(0);
            transition: transform $transition;

            @include respond-to(sm) {
                width: 218px;
                height: 218px;
                transform: translate(30%, 56%) translateZ(0);
            }

            @include respond-to(xs) {
                width: 170px;
                height: 170px;
                transform: translate(20%, 50%) translateZ(0);
            }
        }

        &._moxxy {
            color: $moxxy;
        }

        &._vice {
            color: $vice;
        }
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        color: $base-500;
        will-change: color;
        transition: color $transition;

        @include respond-to(xs) {
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .subtitle {
        margin-top: .4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;
        will-change: color;
        transition: color $transition;

        @include respond-to(sm) {
            margin-top: 0;
        }

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .image {
        flex-shrink: 0;
        width: 14.1rem;
        height: 16.2rem;
        margin-left: auto;
        margin-top: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include respond-to(sm) {
            width: 134px;
            height: 154px;
            margin-right: -20px;
        }

        @include respond-to(xs) {
            margin-right: -24px;
            margin-top: -20px;
        }
    }

    .description {
        margin-top: auto;
        font-size: 5.4rem;
        line-height: 1.12;
        color: $milk;
        font-weight: 700;
        text-align: right;

        @include respond-to(lg) {
            font-size: 54px;
        }

        @include respond-to(md) {
            font-size: 5.4rem;
        }

        @include respond-to(sm) {
            margin-top: 44px;
            font-size: 52px;
            line-height: 1;
        }

        @include respond-to(xs) {
            margin-top: 20px;
        }
    }

    .btn {
        position: absolute;
        bottom: 4rem;
        left: 5.6rem;
        z-index: 2;
        opacity: 0;
        will-change: opacity;
        transition: opacity $transition;

        @include respond-to(sm) {
            left: 40px;
            opacity: 1;
        }

        @include respond-to(xs) {
            bottom: 25px;
            left: 16px;
        }
    }
</style>
