<template>
    <div :class="$style.HeroAsideLocation">
        <ul :class="$style.list">
            <li v-for="item in cities"
                :key="item.value"
                :class="$style.item">
                <button
                    :class="[$style.tab, {[$style._disabled]: !item.hasActiveProjects, [$style._active]: activeCityId === item.id}]"
                    class="btn-reset"
                    :style="[activeCityId === item.id ? {color: `${item.color}`} : '']"
                    @click.prevent="handleCityChange(item)">
                    <IconPinBig
                        :class="$style.icon"
                        class="frame-icon is-small"
                    />
                    <span :class="$style.label">
                        {{ item.name }} {{ !item.hasActiveProjects ? '/ скоро' : '' }}
                    </span>
                </button>
            </li>
        </ul>

        <n-link to="/contacts/"
                :class="$style.link"
                class="button2">
            Контакты
        </n-link>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';

    /* components */
    import IconPinBig from '../../../icons/IconPinBig';

    export default {
        name: 'HeroAsideLocation',
        components: {
            IconPinBig,
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            ...mapGetters({
                cityClass: 'getCityClass',
                activeCityId: 'getActiveCityId',
            }),
        },

        methods: {
            handleCityChange(item) {
                const domain = item.site?.domain ? item.site.domain : '';
                if (!domain) {
                    return;
                }
                window.location.href = `http://${domain}`;
            },
        },
    };
</script>

<style lang="scss" module>
    .HeroAsideLocation {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        height: 33.33%;
        padding: 4.9rem 5.6rem 5.2rem;
        background-color: $base-50;

        @include respond-to(sm) {
            display: none;
        }
    }

    .item {
        margin-bottom: 1.6rem;
    }

    .tab {
        display: inline-flex;
        align-items: center;
        height: 2rem;
        color: $base-500;
        font-size: 1.4rem;
        line-height: 1.16;
        font-weight: 500;

        &._disabled {
            color: $base-300;
            pointer-events: none;
        }

        &._active {
            .label {
                transform: translateX(0);
            }

            .icon {
                transform: scaleY(1);
            }
        }
    }

    .label {
        white-space: nowrap;
        transform: translateX(-2.4rem);
        will-change: transform;
        transition: transform $cubic-transition;
    }

    .icon {
        margin-right: .8rem;
        margin-left: -.4rem;
        margin-top: -.5rem;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        will-change: transform;
        transition: transform $cubic-transition;
    }

    .link {
        display: block;
        margin-top: auto;
        color: $base-500;
    }
</style>
