<template>
    <div :class="$style.HeroInfo">
        <div :class="$style.lead">
            <p :class="$style.title"
               v-html="title">
            </p>
            <p :class="$style.accent"
               v-html="accent">
            </p>
        </div>

        <div v-if="description"
             :class="$style.text"
             v-html="description">
        </div>

        <VButton v-if="buttonLink"
                 :class="$style.btn"
                 :link="buttonLink">
            {{ buttonText }}
        </VButton>
    </div>
</template>

<script>
    import VButton from '../../../ui/button/VButton';

    export default {
        name: 'HeroInfo',

        components: {
            VButton,
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            accent: {
                type: String,
                default: '',
            },

            description: {
                type: String,
                default: '',
            },

            buttonText: {
                type: String,
                default: 'Подробнее',
            },

            buttonLink: {
                type: String,
                default: '',
            },
        },
    };
</script>

<style lang="scss" module>
    .HeroInfo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding-left: 12rem;
        padding-top: 8rem;

        @include respond-to(sm) {
            padding-top: 4rem;
            padding-left: $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-left: $side-padding-mobile;
        }
    }

    .lead {
        max-width: 38.4rem;
        font-size: 6.4rem;
        line-height: 1.12;
        font-weight: 500;

        @include respond-to(sm) {
            max-width: 336px;
            font-size: 56px;
            line-height: 1.14;
        }

        @include respond-to(xs) {
            max-width: 200px;
            font-size: 28px;
            line-height: 1.28;
        }
    }

    .title {
        color: $base-500;
    }

    .accent {
        color: $redline;
    }

    .text {
        max-width: 36rem;
        margin-top: 2.4rem;
        font-size: 1.8rem;
        line-height: 1.56;
        color: $base-300;

        @include respond-to(sm) {
            max-width: 280px;
            margin-top: 24px;
        }

        @include respond-to(xs) {
            max-width: 168px;
            margin-top: 20px;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .btn {
        width: 17.2rem;
        margin-top: 4.8rem;

        @include respond-to(sm) {
            margin-top: 32px;
        }

        @include respond-to(xs) {
            width: 140px;
            margin-top: 24px;
        }
    }
</style>
