<template>
    <article :class="$style.HomeHero"
             class="page-top">
        <TheHeader
            :class="$style.header"
            half
            absolute
        />

        <h1 class="visuallyhidden">
            Сайт застройщика Страна Девелопмент
        </h1>

        <div :class="$style.wrapper">
            <div ref="slider"
                 :class="$style.slider"
                 class="swiper-container">
                <div class="swiper-wrapper">
                    <template v-if="slides && slides.length > 1">
                        <div v-for="item of slides"
                             :key="item.id"
                             class="swiper-slide"
                             :class="$style.slide">
                            <ImageLazy
                                :image="item[imageDisplayField]"
                                :preview="item[imagePreviewField]"
                                is-swiper-slider
                            />
                            <HeroInfo
                                :title="item.title"
                                :accent="item.accent"
                                :description="item.text"
                                :button-text="item.buttonText"
                                :button-link="item.buttonLink"
                            />
                        </div>
                    </template>

                    <template v-else-if="slides && slides.length && slides[0]">
                        <div :key="slides[0].id"
                             :class="[$style.slide, $style._active]">
                            <ImageLazy
                                :image="slides[0][imageDisplayField]"
                                :preview="slides[0][imagePreviewField]"
                            />
                            <HeroInfo
                                :title="slides[0].title"
                                :accent="slides[0].accent"
                                :description="slides[0].text"
                                :button-text="slides[0].buttonText"
                                :button-link="slides[0].buttonLink"
                            />
                        </div>
                    </template>
                </div>
            </div>

            <!--controls-->
            <div v-show="slides && slides.length > 1"
                 :class="$style.controls">
                <GalleryFraction
                    :class="$style.fraction"
                    :current="fractionCurrent"
                    :total="fractionTotal"
                />

                <div :class="$style.pagination">
                    <div ref="pagination"
                         class="swiper-pagination">
                    </div>
                </div>

                <div :class="$style.buttons">
                    <VCircleButton ref="prev"
                                   :class="[$style.btn, $style._prev]"
                                   color="milk">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                    <VCircleButton ref="next"
                                   :class="[$style.btn, $style._next]"
                                   color="milk">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                </div>
            </div>
        </div>

        <!--aside-->
        <div :class="$style.aside">
            <HeroAsideLocation :class="$style.location" />

            <HeroAsideCard
                v-if="sideBlocks && Object.keys(sideBlocks).length"
                :title="sideBlocks.sideBlockTitle1"
                :subtitle="sideBlocks.sideBlockText1"
                :image="sideBlocks.sideBlockImage1"
                :href="sideBlocks.sideBlockLink1"
                color="vice"
            />

            <HeroAsideCard
                v-if="sideBlocks && Object.keys(sideBlocks).length"
                :title="sideBlocks.sideBlockTitle2"
                :subtitle="sideBlocks.sideBlockText2"
                :description="sideBlocks.sideBlockHoverText2"
                :href="sideBlocks.sideBlockLink2"
            />
        </div>
    </article>
</template>

<script>
    import {mapState} from 'vuex';
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import ImageLazy from '../../../common/ImageLazy';
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconArrowRight from '../../../icons/IconArrowRight';
    import HeroInfo from './HeroInfo';
    import HeroAsideLocation from './HeroAsideLocation';
    import HeroAsideCard from './HeroAsideCard';
    import GalleryFraction from '../../../common/gallery/GalleryFraction';
    import TheHeader from '../../../layout/TheHeader';

    export default {
        name: 'HomeHero',

        components: {
            TheHeader,
            GalleryFraction,
            HeroAsideCard,
            HeroAsideLocation,
            HeroInfo,
            IconArrowRight,
            VCircleButton,
            ImageLazy,
        },

        props: {
            slides: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
                mappingObj: {
                    xs: 'imagePhone',
                    sm: 'imageTablet',
                    md: 'imageDesktopSmall',
                    lg: 'imageDesktopSmall',
                    xl: 'imageDesktopBig',
                },
            };
        },

        computed: {
            ...mapState({
                sideBlocks: 'side_blocks',
            }),

            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides?.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },

            imageDisplayField() {
                return `${this.mappingObj[this.$mq]}Display`;
            },

            imagePreviewField() {
                return `${this.mappingObj[this.$mq]}Preview`;
            },
        },

        mounted() {
            this.$nextTick(() => {
                if (this.slides.length > 1) {
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[HomeHero] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 1,
                    loop: true,
                    allowTouchMove: true,
                    lazy: {
                        loadPrevNext: true,
                    },
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .HomeHero {
        position: relative;
        z-index: 1;
        height: 100vh;
        min-height: 720px;
        overflow: hidden;
        padding-right: 32rem;
        background-color: $base-50;

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            padding-right: 0;
        }

        @include respond-to(xs) {
            height: auto;
            min-height: auto;
        }
    }

    .header {
        @include respond-to(sm) {
            display: none;
        }
    }

    .wrapper {
        position: relative;
        height: 100%;

        @include respond-to(xs) {
            @include aspect-ratio(320, 392);
        }
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slide {
        pointer-events: none;

        &._active,
        &:global(.swiper-slide-active) {
            pointer-events: auto;
        }
    }

    .controls {
        position: absolute;
        left: 0;
        bottom: 4.8rem;
        z-index: 2;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 5.6rem;

        @include respond-to(sm) {
            bottom: 40px;
            padding: 0 $side-padding-tablet;
        }

        @include respond-to(xs) {
            bottom: 16px;
            padding: 0 $side-padding-mobile;
        }
    }

    .fraction {
        margin-right: 2.4rem;
    }

    .pagination {
        width: 100%;

        @include respond-to(xs) {
            display: none;
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        width: 11.2rem;
        margin-left: 2.4rem;

        @include respond-to(xs) {
            display: none;
        }
    }

    .btn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .aside {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 32rem;
        height: 100%;
        border-left: 1px solid $base-100;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 1px;
            height: 100%;
            background-color: $base-100;
            transform: translate(-50%, -50%);

            @include respond-to(sm) {
                content: '';
            }

            @include respond-to(xs) {
                top: auto;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                transform: none;
            }
        }

        @include respond-to(sm) {
            position: relative;
            flex-direction: row;
            width: 100%;
            height: auto;
            border-left: none;
        }

        @include respond-to(xs) {
            flex-direction: column;
        }
    }

    .location {
        @include respond-to(sm) {
            display: none;
        }
    }
</style>
