<template>
    <div class="c-input"
         :class="classList">
        <div class="c-input__inner">
            <input ref="input"
                   class="c-input__native"
                   :aria-label="label"
                   v-bind="$attrs"
                   :value="splittedValue"
                   type="text"
                   :disabled="disabled"
                   @keydown.enter="$refs.input.blur()"
                   @input="onInput"
                   @change="onChange"
                   @focus="onFocus"
                   @blur="onBlur">
        </div>

        <span v-if="label"
              class="c-input__label">
            {{ label }}
        </span>
    </div>
</template>

<script>

    export default {
        name: 'InputThousands',

        components: {
            //
        },

        props: {
            value: {
                type: [String, Number],
                default: '',
            },

            label: {
                type: String,
                default: '',
            },

            disabled: Boolean,

            suffixIcon: {
                type: String,
                default: '',
            },

            prefixIcon: {
                type: String,
                default: '',
            },

            delimiter: {
                type: String,
                default: ' ',
            },

            decimalMark: {
                type: String,
                default: '.',
            },

            positiveOnly: {
                type: Boolean,
                default: true,
            },

            decimalCount: {
                type: Number,
                default: 2,
            },
        },

        data() {
            return {
                isFocused: false,
                splittedValue: this.splitThousands(this.value),
            };
        },

        computed: {
            classList() {
                return [
                    this.color ? `_${this.color}` : '',
                    {
                        _active: this.value,
                        _focus: this.isFocused,
                        _disabled: this.disabled,
                        _prefix: this.prefixIcon,
                        _suffix: this.suffixIcon,
                    },
                ];
            },

            cleanValue() {
                return Number(this.splittedValue.split(this.delimiter).join(''));
            },
        },

        watch: {
            value(newValue) {
                if (newValue !== this.cleanValue) {
                    this.splittedValue = this.splitThousands(newValue);
                }
            },
        },

        methods: {
            onChange() {
                // strip any leading zeros
                if (this.splittedValue.length > 1 && this.splittedValue[0] === '0') {
                    this.splittedValue = this.splitThousands(this.cleanValue.toString().replace(/^(-)?0+(?=\d)/, '$1'));
                }
                this.$nextTick(() => {
                    this.$emit('change', this.cleanValue);
                });
            },

            onFocus(e) {
                this.isFocused = true;
                this.$emit('focus', e);
            },

            onBlur(e) {
                this.isFocused = false;
                this.$emit('blur', e);
            },

            onInput(e) {
                let endPos = e.target.selectionEnd;
                const oldValue = e.target.value;
                const newValue = this.splitThousands(e.target.value);
                e.target.value = newValue;
                this.splittedValue = newValue;

                this.$nextTick(() => {
                    endPos = this.getNextCursorPosition(endPos, oldValue, newValue, this.delimiter);
                    this.setCursor(e.target, endPos);
                    this.$emit('input', this.cleanValue);
                });
            },

            splitThousands(value) {
                if (typeof value !== 'number' && typeof value !== 'string') {
                    console.warn('[CInputThousands] Wrong prop value');
                    return '';
                }

                let partDecimal = '';
                let parts;

                // strip alphabet letters
                value = value.toString();
                value = value
                    .replace(/[A-Za-z]/g, '')
                    // replace the first decimal mark with reserved placeholder
                    .replace(this.decimalMark, 'M')

                    // strip non numeric letters except minus and "M"
                    // this is to ensure prefix has been stripped
                    .replace(/[^\dM-]/g, '')

                    // replace the leading minus with reserved placeholder
                    .replace(/^-/, 'N')

                    // strip the other minus sign (if present)
                    .replace(/-/g, '')

                    // replace the minus sign (if present)
                    .replace('N', this.positiveOnly ? '' : '-')

                    // replace decimal mark
                    .replace('M', this.decimalMark);

                // strip any leading zeros
                // if (owner.stripLeadingZeroes) {
                // value = value.replace(/^(-)?0+(?=\d)/, '$1');
                // }

                const partSign = value.slice(0, 1) === '-' ? '-' : '';
                const partSignAndPrefix = partSign;
                let partInteger = value;

                if (value.indexOf(this.decimalMark) >= 0) {
                    parts = value.split(this.decimalMark);
                    partInteger = parts[0];
                    partDecimal = this.decimalMark + parts[1].slice(0, this.decimalCount);
                }
                if (partSign === '-') {
                    partInteger = partInteger.slice(1);
                }
                partInteger = partInteger.replace(/(\d)(?=(\d{3})+$)/g, '$1' + this.delimiter);

                return (
                    partSignAndPrefix +
                    partInteger.toString() +
                    (this.decimalCount > 0 ? partDecimal.toString() : '')
                );
            },

            getNextCursorPosition(prevPos, oldValue, newValue, delimiter) {
                return oldValue.length === prevPos
                    ? newValue.length
                    : prevPos + this.getPositionOffset(prevPos, oldValue, newValue, delimiter);
            },

            getPositionOffset(prevPos, oldValue, newValue, delimiter) {
                const oldRawValue = this.stripDelimiters(oldValue.slice(0, prevPos), delimiter);
                const newRawValue = this.stripDelimiters(newValue.slice(0, prevPos), delimiter);
                const lengthOffset = oldRawValue.length - newRawValue.length;
                return lengthOffset !== 0 ? lengthOffset / Math.abs(lengthOffset) : 0;
            },

            stripDelimiters(value, delimiter) {
                const delimiterRE = delimiter
                    ? new RegExp(delimiter.replace(/([.?*+^$[\]\\(){}|-])/g, '\\$1'), 'g')
                    : '';
                return value.replace(delimiterRE, '');
            },

            setCursor(el, position) {
                const setSelectionRange = () => {
                    el.setSelectionRange(position, position);
                };

                if (el === document.activeElement) {
                    setSelectionRange();
                    // Android Fix
                    setTimeout(setSelectionRange, 1);
                }
            },
        },
    };
</script>
<style lang="scss">
    .c-input {
        position: relative;
        width: 100%;
        height: 100%;

        &__inner {
            position: relative;
            height: 100%;
        }

        &__native {
            width: 100%;
            height: 100%;
            padding: 0;
            font-size: inherit;
            background-color: transparent;
            border: none;
            font-family: inherit;
            font-weight: inherit;
            color: inherit;
            transition: color .3s linear;
        }

        &__label {
            position: absolute;
            bottom: 1.8rem;
            left: 0;
            font-size: 2rem;
            font-weight: 500;
            transition: opacity .3s ease;
            pointer-events: none;
        }
    }
</style>
