<template>
    <div :class="$style.InputFile">
        <VInput
            v-model="fileName"
            :class="$style.input"
            :label="label"
            readonly
            :error="error"
            @click="clickInput"
        />
        <label>
            <input
                :class="$style.file"
                type="file"
                :multiple="multiple"
                @change="handleFileSelect($event)">
            <IconClip :class="$style.clip" />
        </label>
    </div>
</template>

<script>
    import IconClip from '../../icons/IconClip';
    import VInput from './VInput';

    export default {
        name: 'InputFile',

        components: {
            IconClip,
            VInput,
        },

        props: {
            label: {
                type: String,
                default: '',
            },

            error: {
                type: String,
                default: '',
            },

            formats: {
                type: Array,
                default: () => ['jpg', 'jpeg', 'png'],
            },

            maxSize: {
                type: Number,
                default: 10000000,
            },

            multiple: Boolean,
        },

        data() {
            return {
                files: [],
                fileName: '',
                isFileAdded: false,
            };
        },

        methods: {
            handleFileSelect(event) {
                const files = event.target.files;
                this.files = files;
                const filesNames = Array.from(files, item => item.name);
                this.fileName = filesNames.join(', ');
                this.$emit('change', files);
                this.validate();
            },

            validate() {
                let isValidated = true;

                for (const file of this.files) {
                    const pos = file.name.lastIndexOf('.');
                    const fileFormat = file.name.substr(pos + 1).toLowerCase();

                    if (!this.formats.includes(fileFormat)) {
                        this.$emit('on-error', 'Недопустимый формат файла');
                        isValidated = false;
                    } else if (file.size > this.maxSize) {
                        this.$emit('on-error', `Размер файла не должен превышать ${this.maxSize / 1000000} МБ`);
                        isValidated = false;
                    }
                }

                if (isValidated) {
                    this.$emit('on-error', '');
                }

                return isValidated;
            },

            clickInput() {
                document.querySelector(`.${this.$style.file}`).click();
            },
        }
    };
</script>

<style lang="scss" module>
    .clip {
        position: absolute;
        right: 5px;
        bottom: 18px;
        max-width: 18px;
        cursor: pointer;
    }

    .input {
        padding-right: 3.5rem;
    }

    .file {
        display: none;
    }

    .error {
        font-weight: 500;
        font-size: 1.2rem;
    }
</style>
