<template>
    <VPopover v-model="isOpened"
              auto-close
              prevent-control
              parent-width
              class="searchable-input">
        <template #header>
            <VInput
                v-model="lazyValue"
                :placeholder="placeholder"
                @input="onInput"
                @focus="onFocus"
                @blur="onBlur"
            />
        </template>
        <template #body>
            <VScrollBox class="searchable-input__body">
                <VPopoverItem v-for="(item, index) in results"
                              :key="item.id || index"
                              @click.native="onClick(item)">
                    {{ resultLabel(item) }}
                </VPopoverItem>
            </VScrollBox>
        </template>
    </VPopover>
</template>

<script>
    import VPopover from '../popover/VPopover';
    import VPopoverItem from '../popover/VPopoverItem';
    import VScrollBox from '../scrollbox/VScrollBox';
    import VInput from './VInput';

    export default {
        name: 'SearchableInput',

        components: {
            VPopoverItem,
            VScrollBox,
            VPopover,
            VInput,
        },

        props: {
            getResults: {
                type: Function,
                default: () => ({}),
            },

            resultLabel: {
                type: Function,
                default: item => item.name,
            },

            value: {
                type: [Object, String],
                default: '',
            },

            placeholder: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                lazyValue: this.value ? this.resultLabel(this.value) : '',
                isOpened: false,
                selectedFlat: this.value ? this.value : null,

                results: [],
                requestTimeout: null,
            };
        },

        watch: {
            value() {
                this.lazyValue = this.value ? this.resultLabel(this.value) : '';
            },
        },

        methods: {
            onInput(e) {
                if (!e) {
                    this.results = [];
                    this.isOpened = false;
                    return false;
                }

                clearTimeout(this.requestTimeout);

                this.requestTimeout = setTimeout(() => {
                    this.results = this.getResults();
                }, 300);
            },

            onFocus() {
                this.results.length
                    ? this.isOpened = true
                    : this.isOpened = false;
            },

            onBlur() {
                if (this.results.length === 1) {
                    this.onClick(this.results[0]);
                }

                this.isOpened = false;
            },

            onClick(item) {
                this.selectedFlat = item;
                this.lazyValue = this.resultLabel(item);

                this.$emit('select', item);
            },
        },
    };
</script>

<style lang="scss">
    .searchable-input {
        width: 100%;

        &__body {
            max-height: 300px;
        }

        & .v-input__inner {
            padding-bottom: 0;
        }
    }
</style>
