<template>
    <div class="v-input"
         :class="classes">
        <div v-if="$slots.leftAddon"
             class="v-input__addon is-left">
            <slot name="leftAddon"></slot>
        </div>

        <div class="v-input__inner">
            <input ref="input"
                   v-model="lazyValue"
                   v-bind="$attrs"
                   class="v-input__native"
                   :type="type"
                   :name="name"
                   :disabled="disabled"
                   :readonly="readonly"
                   :required="required"
                   :max-length="maxLength"
                   @keydown.enter="$refs.input.blur()"
                   @click="$emit('click')"
                   @input="onInput"
                   @change="onChange"
                   @focus="onFocus"
                   @blur="onBlur">

            <div v-if="label"
                 class="v-input__label">
                {{ label }}
            </div>

            <div v-if="placeholder"
                 class="v-input__placeholder">
                {{ placeholder }}
            </div>
        </div>

        <div v-if="$slots.rightAddon"
             class="v-input__addon is-right">
            <slot name="rightAddon"></slot>
        </div>
    </div>
</template>

<script>
    import {
        addMask,
        splitThousands,
        getNextCursorPosition,
        setSelection,
    } from '~/assets/js/utils/maskUtils';

    export default {
        name: 'VInput',

        props: {
            name: {
                type: String,
                default: '',
            },

            value: {
                type: [String, Number],
                default: '',
            },

            placeholder: {
                type: String,
                default: '',
            },

            label: {
                type: String,
                default: '',
            },

            type: {
                type: String,
                default: 'text',
            },

            color: {
                type: String,
                default: 'default',
            },

            mask: {
                type: String,
                default: '',
            },

            error: {
                type: String,
                default: '',
            },

            maxLength: {
                type: Number,
                default: 30,
            },

            disabled: Boolean,
            readonly: Boolean,
            numbers: Boolean,
            required: Boolean,
        },

        data() {
            return {
                lazyValue: '',
                isFocused: false,
            };
        },

        computed: {
            classes() {
                return [
                    `v-input--${this.color}`,
                    {
                        'is-active': this.lazyValue,
                        'is-error': this.error,
                        'is-focused': this.isFocused,
                        'is-disabled': this.disabled,
                        'has-placeholder': this.placeholder,
                        'has-label': this.label,
                    },
                ];
            },

            currentMask() {
                if (this.mask === 'phone') {
                    return '+7 (###) ###-##-##';
                } else if (this.mask === 'date') {
                    return '##/##/####';
                } else if (this.mask === 'time') {
                    return '##:##';
                }
                return this.mask;
            },
        },

        watch: {
            value(val) {
                if (val !== this.lazyValue) {
                    let newValue = val;

                    if (this.mask) {
                        newValue = addMask(newValue, this.currentMask);
                    }
                    if (this.numbers) {
                        newValue = splitThousands(newValue);
                    }
                    this.lazyValue = newValue;
                    this.$emit('input', newValue);
                }
            },
        },

        created() {
            if (this.mask && this.value) {
                this.lazyValue = addMask(this.value, this.currentMask);
            }
            if (this.numbers && this.value) {
                this.lazyValue = splitThousands(this.value);
            }
        },

        methods: {
            onFocus(e) {
                this.isFocused = true;
                this.$emit('focus', e);
            },

            onBlur(e) {
                this.isFocused = false;
                this.$emit('blur', e);
            },

            onChange(e) {
                if (this.numbers) {
                    if (
                        (this.lazyValue.length > 1 && this.lazyValue[0] === '0') ||
                        (this.lazyValue.length === 1 && this.lazyValue[0] === '-')
                    ) {
                        const cleanValue = !this.lazyValue.length || this.lazyValue === '-'
                            ? ''
                            : Number(this.lazyValue.split(' ').join(''));
                        this.lazyValue = splitThousands(cleanValue.toString().replace(/^(-)?0+(?=\d)/, '$1'));
                    }
                }

                this.$emit('change', e);
            },

            onInput(e) {
                if (this.mask) {
                    let endPos = e.target.selectionEnd;
                    const oldValue = this.lazyValue;
                    const newValue = addMask(this.lazyValue, this.currentMask);

                    endPos = getNextCursorPosition(endPos, oldValue, newValue, ' ');
                    this.lazyValue = newValue;
                    this.$nextTick(() => {
                        setSelection(e.target, endPos);
                    });
                } else if (this.numbers) {
                    let endPos = e.target.selectionEnd;
                    const oldValue = this.lazyValue;
                    const newValue = splitThousands(this.lazyValue);

                    endPos = getNextCursorPosition(endPos, oldValue, newValue, ' ');
                    this.lazyValue = newValue;
                    this.$nextTick(() => {
                        setSelection(e.target, endPos);
                    });
                }

                this.$emit('input', this.lazyValue);
            },
        },
    };
</script>

<style lang="scss">
    .v-input {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        transition: border-color .2s ease;

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.16;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform .3s ease;
        }

        /* Colors */
        &--default {
            border-color: $base-100;
            color: $base-500;

            &:after {
                background-color: $vice;
            }

            .v-input__label {
                color: $base-300;
            }

            .v-input__placeholder {
                color: $base-200;
            }

            &.is-error {
                border-color: $redline;

                .v-input__label {
                    color: $redline;
                }
            }
        }

        /* End colors */

        /* Modificators */

        &.has-label {
            padding-top: 2.6rem;

            @include respond-to(xs) {
                padding-top: 16px;
            }
        }

        &.has-label.has-placeholder {
            .v-input__label {
                transform: translateY(-3.2rem) scale(.76);

                @include respond-to(xs) {
                    transform: translateY(-16px) scale(.76);
                }
            }

            &.is-active {
                .v-input__placeholder {
                    opacity: 0;
                }
            }
        }

        &.is-active {
            .v-input__label {
                transform: translateY(-3.2rem) scale(.76);

                @include respond-to(xs) {
                    transform: translateY(-16px) scale(.76);
                }
            }

            .v-input__placeholder {
                opacity: 0;
            }
        }

        &.is-focused {
            .v-input__label {
                transform: translateY(-3.2rem) scale(.76);

                @include respond-to(xs) {
                    transform: translateY(-24px) scale(.76);
                }
            }

            &:after {
                transform: scaleX(1);
            }
        }

        &.is-disabled {
            opacity: .3;
        }

        /* End Modificators */

        &__inner {
            position: relative;
            width: 100%;
            padding-bottom: .6rem;

            @include respond-to(xs) {
                padding-bottom: 8px;
            }
        }

        &__native {
            width: 100%;
            height: 4rem;
            padding: 0;
            font-family: $font-family;
            font-size: inherit;
            font-weight: 500;
            color: inherit;
            border: none;
            background-color: transparent;
            outline: none;

            @include respond-to(xs) {
                height: 32px;
            }
        }

        &__label,
        &__placeholder {
            position: absolute;
            bottom: 1.4rem;
            left: 0;
            pointer-events: none;
        }

        &__label {
            line-height: 1.46;
            transform-origin: left center;
            transition: transform .3s ease, color .2s ease;

            @include respond-to(xs) {
                line-height: 1.32;
            }
        }

        &__addon {
            display: flex;
            flex-shrink: 0;

            &.is-left {
                margin-right: 8px;
            }

            &.is-right {
                margin-left: 8px;
            }
        }
    }
</style>
