<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm3.801-11.578l-.844.845.844.846.846-.845a4.183 4.183 0 00-5.914-5.915l-.846.845.846.845.844-.846a2.987 2.987 0 114.224 4.225zm-1.69 3.38zm-.844.845l.845-.844-.845-.845-.845.845a2.986 2.986 0 11-4.224-4.225l.845-.845-.845-.846-.845.845a4.183 4.183 0 005.914 5.915zm1.267-6.337l-.845-.845-4.224 4.225.845.844 4.224-4.224z"
              fill="#012345" />
    </svg>
</template>

<script>
    export default {
        name: 'IconCopyColored',
    };
</script>
