<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm2.636-10.207c-.505.321-1.194.528-2.066.62l.482.482 1.745 1.745a.617.617 0 01.161.69c-.092.275-.26.443-.505.505-.23.076-.46.03-.69-.138l-1.768-1.768-1.745 1.745c-.199.199-.436.253-.712.16a.759.759 0 01-.505-.505c-.061-.23 0-.459.184-.689l1.745-1.768.482-.46c-.903-.091-1.6-.298-2.09-.62-.413-.275-.68-.497-.803-.665-.123-.184-.115-.414.023-.69a.617.617 0 01.436-.367c.214-.061.482.015.804.23.061.046.153.107.275.184.123.076.368.176.735.298.383.123.773.184 1.171.184.399 0 .781-.054 1.149-.16.367-.108.627-.223.78-.345l.253-.161c.322-.215.582-.291.781-.23a.691.691 0 01.482.368c.046.168.077.298.092.39.015.092-.023.2-.115.322-.091.122-.191.23-.298.321-.107.077-.268.184-.482.322zM9.01 9.108c0-.827.29-1.531.873-2.113a2.878 2.878 0 012.113-.873 2.85 2.85 0 011.492.413c.46.26.82.62 1.08 1.08.275.444.413.941.413 1.493 0 .811-.29 1.508-.873 2.09a2.878 2.878 0 01-2.113.872c-.826 0-1.53-.29-2.112-.873a2.851 2.851 0 01-.873-2.09zm1.516 0c0 .398.145.742.436 1.033.29.276.635.414 1.034.414.398 0 .742-.138 1.033-.414.29-.29.436-.635.436-1.033 0-.414-.145-.758-.436-1.034a1.412 1.412 0 00-1.034-.436c-.26 0-.505.069-.734.207-.23.122-.414.298-.552.528-.122.214-.183.46-.183.735z"
              fill="#F59331"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconOkColored',
    };
</script>
