<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path clip-rule="evenodd"
              d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm-1.191-6.136v-5.132H9.068V10.61h1.741V8.992c0-1.84 1.023-2.856 2.589-2.856.75 0 1.534.143 1.534.143v1.807h-.864c-.852 0-1.117.566-1.117 1.146v1.378h1.9l-.303 2.122h-1.597v5.132z"
              fill="#237bf0"
              fill-rule="evenodd" />
    </svg>
</template>

<script>
    export default {
        name: 'IconFbColored',
    };
</script>
