<template>
    <svg mlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path d="M12.5 15.833h15V17.5h-15v-1.667zm0 6.667h15v1.667h-15V22.5z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconMenu',
    };
</script>
