<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm-.296-18.503l-5.36 3.214a.29.29 0 00-.14.248v7.372a.58.58 0 00.58.58h10.433a.58.58 0 00.58-.58V8.96a.29.29 0 00-.142-.25l-5.354-3.214a.58.58 0 00-.597 0zm.331 7.172l3.643-3.152.758.877-4.394 3.802-4.474-3.8.75-.883 3.717 3.156z"
              fill="#677B8F" />
    </svg>
</template>

<script>
    export default {
        name: 'IconMailColored',
    };
</script>
