<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm4.71-13.632c.304-.511.479-.88.522-1.105.087-.33-.043-.496-.392-.496h-1.285c-.261 0-.443.128-.544.383l-.196.429c-.131.3-.327.676-.588 1.127-.262.452-.53.835-.806 1.15-.262.271-.465.407-.61.407-.13 0-.196-.128-.196-.384V9.263c0-.33-.116-.496-.349-.496h-2.025a.376.376 0 00-.175.045.397.397 0 00-.108.113.285.285 0 00-.044.158c0 .06.022.127.065.203l.175.225c.058.06.116.166.174.316.058.15.094.33.109.541v1.962c0 .196-.022.331-.066.406-.029.06-.087.09-.174.09-.232 0-.573-.36-1.024-1.082a12.177 12.177 0 01-1.11-2.458c-.058-.196-.131-.331-.218-.406-.073-.075-.189-.113-.349-.113H6.211c-.29 0-.435.128-.435.383 0 .15.05.406.152.767s.312.887.632 1.579c.334.676.748 1.36 1.241 2.052.523.782 1.133 1.383 1.83 1.804.697.421 1.386.632 2.069.632.392 0 .646-.038.762-.113.117-.09.175-.225.175-.406 0-.15-.008-.346-.022-.586 0-.496.014-.797.043-.902.03-.106.131-.158.305-.158.276 0 .705.285 1.285.857a13.501 13.501 0 01.763.857c.072.09.152.173.24.248a.922.922 0 00.239.158c.072.03.16.045.261.045h1.285c.392 0 .537-.188.436-.564a2.385 2.385 0 00-.24-.451 3.066 3.066 0 00-.37-.519c-.13-.18-.276-.36-.436-.541-.16-.18-.305-.338-.435-.474l-.349-.36-.13-.158c-.088-.15-.131-.256-.131-.316s.043-.158.13-.293c.015-.015.146-.21.393-.587.247-.39.515-.842.805-1.353z"
              fill="#3F83EA" />
    </svg>
</template>

<script>
    export default {
        name: 'IconVkColored',
    };
</script>
