<template>
    <div :class="$style.FavoritesPdf">
        <PdfPage
            v-if="list"
            :list="list"
        />
    </div>
</template>

<script>
    /* components */
    import PdfPage from '@/components/pages/pdf/PdfPage';

    /* queries */
    import allGlobalFlats from '@/queries/pdf/allGlobalFlats.graphql';

    export default {
        name: 'FavoritesPdf',

        components: {
            PdfPage
        },

        layout: 'pdf',

        async asyncData({$axios, query, error}) {
            try {
                const favoritesFlats = query.lots;

                let allGlobalFlatsRes = [];

                if (favoritesFlats.length) {
                    allGlobalFlatsRes = await $axios.$post('/graphql/', {
                        query: allGlobalFlats.loc.source.body,
                        variables: {id: favoritesFlats},
                    });
                }

                return {
                    list: allGlobalFlatsRes.data?.allGlobalFlats?.edges?.length
                        ? allGlobalFlatsRes.data.allGlobalFlats.edges.map(item => item.node)
                        : [],
                };
            } catch (e) {
                console.log('[PdfPage/ asyncData]:', e);
                return error({statusCode: 404, message: 'Лот не найден'});
            }
        },

        data() {
            return {
                list: null
            };
        }
    };
</script>

<style lang="scss" module>
    .FavoritesPdf {
        //
    }
</style>
