<template>
    <footer :class="$style.TheFooter">
        <div :class="$style.container"
             class="container">
            <!--copyright-->
            <div :class="[$style.column, $style._copyright]">
                <n-link to="/">
                    <DeveloperLogo
                        :class="$style.developer"
                        gray
                        small
                    />
                </n-link>

                <!--copyright-->
                <p :class="$style.copyright">
                    <span v-html="copyright"></span>
                    <span>«Страна Девелопмент»</span>
                </p>

                <!--social-->
                <ul :class="$style.social">
                    <li v-for="item in social"
                        :key="item.id"
                        :class="$style.socialLink">
                        <a :class="$style.socialIcon"
                           :href="item.link"
                           target="_blank"
                           v-html="item.iconContent">
                        </a>
                    </li>
                </ul>
                <div :class="$style.break"></div>

                <p :class="$style.text">
                    Любая информация, представленная на&nbsp;данном сайте, носит исключительно
                    информационный характер, не&nbsp;является публичной офертой, определяемой
                    положениями
                    статьи 437 ГК РФ.
                </p>
                <div v-if="appStoreLink || googlePlayLink"
                     :class="$style.apps">
                    <span :class="$style.appLabel"
                          class="p4">
                        Приложение
                    </span>
                    <div :class="$style.appsWrap">
                        <a v-if="appStoreLink"
                           :href="appStoreLink"
                           target="_blank">
                            <IconAppstore :class="$style.appIcon" />
                        </a>
                        <a v-if="googlePlayLink"
                           :href="googlePlayLink"
                           target="_blank">
                            <IconGoogleplay />
                        </a>
                    </div>
                </div>

                <div :class="$style.bottomBlock">
                    <div :class="$style.ida">
                        <LogoIda />
                        <span>построили сайт</span>
                    </div>

                    <VCircleButton :class="$style.btn"
                                   color="milk"
                                   inverse
                                   @click="handleClick">
                        <IconArrowRightLong
                            :class="$style.arrow"
                            class="frame-icon"
                        />
                    </VCircleButton>
                </div>
            </div>

            <!--apps mobile-->
            <div v-if="appStoreLink || googlePlayLink"
                 :class="[$style.column, $style._apps]">
                <span :class="$style.appLabel"
                      class="p4">
                    Приложение
                </span>
                <div :class="$style.appsWrap">
                    <a v-if="appStoreLink"
                       :href="appStoreLink"
                       target="_blank">
                        <IconAppstore :class="$style.appIcon" />
                    </a>
                    <a v-if="googlePlayLink"
                       :href="googlePlayLink"
                       target="_blank">
                        <IconGoogleplay />
                    </a>
                </div>
            </div>

            <!--menu-->
            <div :class="[$style.column, $style._menu]">
                <ul :class="$style.menuWrap">
                    <!--about-->
                    <li :class="$style.linkWrapper">
                        <n-link to="/about/"
                                :class="$style.link">
                            <span :class="$style.currentValue">
                                КОМПАНИЯ
                            </span>
                            <span :class="$style.hoverValue">
                                КОМПАНИЯ
                            </span>
                        </n-link>
                    </li>
                    <!--action-->
                    <li :class="$style.linkWrapper">
                        <n-link to="/mass-media/?type=action"
                                :class="$style.link">
                            <span :class="$style.currentValue">
                                АКЦИИ
                            </span>
                            <span :class="$style.hoverValue">
                                АКЦИИ
                            </span>
                        </n-link>
                    </li>

                    <!--mortgage-->
                    <li :class="$style.linkWrapper">
                        <n-link to="/purchase/mortgage/"
                                :class="$style.link">
                            <span :class="$style.currentValue">
                                ИПОТЕКА
                            </span>
                            <span :class="$style.hoverValue">
                                ИПОТЕКА
                            </span>
                        </n-link>
                    </li>
                </ul>
                <ul :class="$style.menuWrap">
                    <!--contacts-->
                    <li :class="$style.linkWrapper">
                        <n-link to="/contacts/"
                                :class="$style.link">
                            <span :class="$style.currentValue">
                                КОНТАКТЫ
                            </span>
                            <span :class="$style.hoverValue">
                                КОНТАКТЫ
                            </span>
                        </n-link>
                    </li>
                    <!--commercial-->
                    <li :class="$style.linkWrapper">
                        <n-link to="/commercial/"
                                :class="$style.link">
                            <span :class="$style.currentValue">
                                КОММЕРЦИЯ
                            </span>
                            <span :class="$style.hoverValue">
                                КОММЕРЦИЯ
                            </span>
                        </n-link>
                    </li>
                    <!--documents-->
                    <li :class="$style.linkWrapper">
                        <n-link to="/documents/"
                                :class="$style.link">
                            <span :class="$style.currentValue">
                                Документы
                            </span>
                            <span :class="$style.hoverValue">
                                Документы
                            </span>
                        </n-link>
                    </li>
                </ul>
            </div>

            <!--projects-->
            <div :class="[$style.column, $style._projects]">
                <div :class="$style.linkWrapper">
                    <n-link to="/projects/"
                            :class="[$style.link, $style._small]">
                        <span :class="$style.currentValue">
                            ПРОЕКТЫ
                        </span>
                        <span :class="$style.hoverValue">
                            ПРОЕКТЫ
                        </span>
                    </n-link>
                </div>
                <div v-for="project in preparedProjects"
                     :key="project.id"
                     :class="$style.linkWrapper">
                    <n-link :to="`/projects/${project.slug}`"
                            :class="$style.sublink">
                        <span v-if="$mq === 'sm'">
                            <span :class="$style.currentValue">
                                {{ project.tabletName }}
                            </span>
                            <span :class="$style.hoverValue">
                                {{ project.tabletName }}
                            </span>
                        </span>
                        <span v-else>
                            <span :class="$style.currentValue">
                                {{ project.name }}
                            </span>
                            <span :class="$style.hoverValue">
                                {{ project.name }}
                            </span>
                        </span>
                    </n-link>
                </div>
            </div>

            <!--flats-->
            <ul :class="[$style.column, $style._flats]">
                <!--title-->
                <li :class="$style.linkWrapper">
                    <n-link to="/flats/"
                            :class="[$style.link, $style._small]">
                        <span :class="$style.currentValue">
                            КВАРТИРЫ
                        </span>
                        <span :class="$style.hoverValue">
                            КВАРТИРЫ
                        </span>
                    </n-link>
                </li>
                <!--Студии-->
                <li :class="$style.linkWrapper">
                    <n-link v-if="activeCity && activeCity.flats0MinPrice"
                            to="/flats/?rooms=0"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            Студии
                        </span>
                        <span :class="$style.hoverValue">
                            Студии
                        </span>
                    </n-link>
                </li>
                <!--1-->
                <li :class="$style.linkWrapper">
                    <n-link v-if="activeCity && activeCity.flats1MinPrice"
                            to="/flats/?rooms=1"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            1-комнатные
                        </span>
                        <span :class="$style.hoverValue">
                            1-комнатные
                        </span>
                    </n-link>
                </li>

                <!--2-->
                <li :class="$style.linkWrapper">
                    <n-link v-if="activeCity && activeCity.flats2MinPrice"
                            to="/flats/?rooms=2"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            2-комнатные
                        </span>
                        <span :class="$style.hoverValue">
                            2-комнатные
                        </span>
                    </n-link>
                </li>

                <!--3-->
                <li :class="$style.linkWrapper">
                    <n-link v-if="activeCity && activeCity.flats3MinPrice"
                            to="/flats/?rooms=3"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            3-комнатные
                        </span>
                        <span :class="$style.hoverValue">
                            3-комнатные
                        </span>
                    </n-link>
                </li>

                <!--4-->
                <li :class="$style.linkWrapper">
                    <n-link v-if="activeCity && activeCity.flats4MinPrice"
                            to="/flats/?rooms=4"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            4 и более
                        </span>
                        <span :class="$style.hoverValue">
                            4 и более
                        </span>
                    </n-link>
                </li>
            </ul>

            <!--purchase-->
            <ul :class="[$style.column, $style._purchases]">
                <!--title-->
                <li :class="$style.linkWrapper">
                    <n-link to="/purchase/mortgage/"
                            :class="[$style.link, $style._small]">
                        <span :class="$style.currentValue">
                            Способы покупки
                        </span>
                        <span :class="$style.hoverValue">
                            Способы покупки
                        </span>
                    </n-link>
                </li>
                <!--mortgage-->
                <li :class="$style.linkWrapper">
                    <n-link to="/purchase/mortgage/"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            Ипотека {{ minMortgage }}
                        </span>
                        <span :class="$style.hoverValue">
                            Ипотека {{ minMortgage }}
                        </span>
                    </n-link>
                </li>

                <!--capital-->
                <li :class="$style.linkWrapper">
                    <n-link to="/purchase/capital/"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            Материнский капитал
                        </span>
                        <span :class="$style.hoverValue">
                            Материнский капитал
                        </span>
                    </n-link>
                </li>
                <!--<li :class="$style.linkWrapper">-->
                <!--<n-link to="#"-->
                <!--:class="$style.sublink">-->
                <!--<span :class="$style.currentValue">-->
                <!--Военная ипотека-->
                <!--</span>-->
                <!--<span :class="$style.hoverValue">-->
                <!--Военная ипотека-->
                <!--</span>-->
                <!--</n-link>-->
                <!--</li>-->
                <!--<li :class="$style.linkWrapper">-->
                <!--<n-link to="#"-->
                <!--:class="$style.sublink">-->
                <!--<span :class="$style.currentValue">-->
                <!--Сертификаты-->
                <!--</span>-->
                <!--<span :class="$style.hoverValue">-->
                <!--Сертификаты-->
                <!--</span>-->
                <!--</n-link>-->
                <!--</li>-->
                <!--<li :class="$style.linkWrapper">-->
                <!--<n-link to="#"-->
                <!--:class="$style.sublink">-->
                <!--<span :class="$style.currentValue">-->
                <!--Рассрочка-->
                <!--</span>-->
                <!--<span :class="$style.hoverValue">-->
                <!--Рассрочка-->
                <!--</span>-->
                <!--</n-link>-->
                <!--</li>-->
                <!--<li :class="$style.linkWrapper">-->
                <!--<n-link to="#"-->
                <!--:class="$style.sublink">-->
                <!--<span :class="$style.currentValue">-->
                <!--Trade-In-->
                <!--</span>-->
                <!--<span :class="$style.hoverValue">-->
                <!--Trade-In-->
                <!--</span>-->
                <!--</n-link>-->
                <!--</li>-->
            </ul>

            <!--cities-->
            <ul :class="[$style.column, $style._cities]">
                <li :class="$style.linkWrapper">
                    <n-link to="/commercial/filter/"
                            :class="[$style.link, $style._small]">
                        <span :class="$style.currentValue">
                            Помещения
                        </span>
                        <span :class="$style.hoverValue">
                            Помещения
                        </span>
                    </n-link>
                </li>
                <li v-for="city in commercialCities"
                    :key="city.id"
                    :class="$style.linkWrapper">
                    <n-link :to="`/commercial/?city=${city.id}`"
                            :class="$style.sublink">
                        <span :class="$style.currentValue">
                            {{ city.name }}
                        </span>
                        <span :class="$style.hoverValue">
                            {{ city.name }}
                        </span>
                    </n-link>
                </li>
            </ul>

            <!--contacts-->
            <div :class="[$style.column, $style._contacts]">
                <div :class="$style.developerMobile">
                    <DeveloperLogo
                        gray
                        small
                    />
                </div>
                <a :class="[$style.link, $style._small, $style._phone]"
                   class="button2"
                   :href="`tel: ${phone}`">
                    <span :class="$style.currentValue">
                        {{ phone|prettyPhone }}
                    </span>
                    <span :class="$style.hoverValue">
                        {{ phone|prettyPhone }}
                    </span>
                </a>

                <address :class="$style.address">
                    <span>Россия, {{ cityName }}<br> {{ address }} </span>
                    <span>Ежедневно: {{ workingTime }} </span>
                </address>
                <!--<ul :class="$style.sublinkBlock">-->
                <!--<li :class="$style.linkWrapper">-->
                <!--<n-link to="#"-->
                <!--:class="$style.sublink"-->
                <!--class="p3">-->
                <!--<span :class="$style.currentValue">-->
                <!--Политика конфид.-->
                <!--</span>-->
                <!--<span :class="$style.hoverValue">-->
                <!--Политика конфид.-->
                <!--</span>-->
                <!--</n-link>-->
                <!--</li>-->
                <!--<li :class="$style.linkWrapper">-->
                <!--<n-link to="#"-->
                <!--:class="$style.sublink"-->
                <!--class="p3">-->
                <!--<span :class="$style.currentValue">-->
                <!--Юр. информация-->
                <!--</span>-->
                <!--<span :class="$style.hoverValue">-->
                <!--Юр. информация-->
                <!--</span>-->
                <!--</n-link>-->
                <!--</li>-->
                <!--<li :class="$style.linkWrapper">-->
                <!--<n-link to="#"-->
                <!--:class="$style.sublink"-->
                <!--class="p3">-->
                <!--<span :class="$style.currentValue">-->
                <!--Тендеры-->
                <!--</span>-->
                <!--<span :class="$style.hoverValue">-->
                <!--Тендеры-->
                <!--</span>-->
                <!--</n-link>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </footer>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';
    import {scrollTo} from '../../assets/js/utils/commonUtils';

    // components
    import LogoIda from '../common/LogoIda';
    import DeveloperLogo from '../common/DeveloperLogo';
    import IconAppstore from '../icons/IconAppstore';
    import IconGoogleplay from '../icons/IconGoogleplay';
    import VCircleButton from '../ui/button/VCircleButton';
    import IconArrowRightLong from '../icons/IconArrowRightLong';

    export default {
        components: {
            IconArrowRightLong,
            VCircleButton,
            IconGoogleplay,
            IconAppstore,
            DeveloperLogo,
            LogoIda,
        },

        computed: {
            ...mapState({
                activeCity: state => state.active_city,
                cities: state => state.cities,
                social: state => state.social,
            }),

            ...mapGetters({
                getCityProjects: 'getCityProjects',
            }),

            copyright() {
                const date = new Date();
                return `&copy; 2008 - ${date.getFullYear()}.&#8194;`;
            },

            commercialCities() {
                return this.cities.filter(item => item.hasActiveProjects && item.isCommercial);
            },

            cityProjects() {
                return this.activeCity?.id ? this.getCityProjects(this.activeCity.id).filter(project => project.isResidential) : [];
            },

            preparedProjects() {
                return this.cityProjects.map(item => {
                    const re = /квартал/gi;
                    const tabletName = item.name;
                    if (tabletName.toLowerCase().includes('квартал')) {
                        return {...item, ...{tabletName: tabletName.replace(re, 'кв-л')}};
                    }

                    return {...item, ...{tabletName: tabletName}};
                });
            },

            phone() {
                return this.activeCity?.phone ? this.activeCity.phone : '';
            },

            cityName() {
                return this.activeCity?.name ? this.activeCity.name : '';
            },

            address() {
                return this.activeCity?.address ? this.activeCity.address : '';
            },

            workingTime() {
                return this.activeCity?.workingTime ? this.activeCity.workingTime : '';
            },

            appStoreLink() {
                return this.activeCity?.appStoreLink ? this.activeCity.appStoreLink : '';
            },

            googlePlayLink() {
                return this.activeCity?.googlePlayLink ? this.activeCity.googlePlayLink : '';
            },

            minMortgage() {
                return this.activeCity?.minMortgageResidential ? `от ${this.activeCity.minMortgageResidential.toLocaleString()} %` : '';
            },
        },

        methods: {
            handleClick() {
                scrollTo();
            },
        },
    };
</script>

<style lang="scss" module>
    .TheFooter {
        height: $footer-h;
        background-color: $base-700;

        @include respond-to(sm) {
            height: auto;
            min-height: $footer-tablet-h;
        }

        @include respond-to(xs) {
            min-height: auto;
        }
    }

    .container {
        position: relative;
        display: flex;
        height: 100%;
        padding-top: 8rem;

        @include respond-to(sm) {
            flex-wrap: wrap;
            padding-top: 64px;
        }

        @include respond-to(xs) {
            padding-top: 32px;
        }
    }

    .column {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        &._copyright {
            padding-top: .5rem;
            width: 30.4rem;

            @include respond-to(sm) {
                position: relative;
                order: 1;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 22px;
                padding-top: 40px;
            }

            @include respond-to(xs) {
                order: 2;
                margin-top: 18px;
                padding-top: 26px;
                border-top: 1px solid rgba($milk, .16);
            }
        }

        &._apps {
            display: none;

            @include respond-to(xs) {
                display: flex;
                width: 100%;
                padding-top: 24px;
                border-top: 1px solid rgba($milk, .16);
            }
        }

        &._menu {
            width: 28.1rem;

            @include respond-to(sm) {
                width: 25%;
            }

            @include respond-to(xs) {
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 32px;
                margin-bottom: 24px;
                padding-bottom: 16px;
                border-bottom: 1px solid rgba($milk, .16);
            }
        }

        &._projects {
            width: 25rem;

            @include respond-to(sm) {
                width: 25%;
            }

            @include respond-to(xs) {
                order: 1;
                width: 50%;
            }
        }

        &._flats {
            width: 19.6rem;

            @include respond-to(lg) {
                width: 21.8rem;
            }

            @include respond-to(sm) {
                width: 25%;
            }

            @include respond-to(xs) {
                width: 50%;
            }
        }

        &._cities {
            width: 24.6rem;

            @include respond-to(lg) {
                display: none;
            }
        }

        &._purchases {
            width: 25.6rem;

            @include respond-to(lg) {
                display: none;
            }
        }

        &._contacts {
            @include respond-to(sm) {
                width: 25%;
            }

            @include respond-to(xs) {
                order: -1;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 18px;
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        margin-top: 1.7rem;
        color: $base-300;
        font-size: 1.2rem;
        line-height: 1.32;

        @include respond-to(sm) {
            order: 3;
            margin-top: auto;
            margin-right: 65px;
            font-size: 10px;
        }

        @include respond-to(xs) {
            order: 1;
            flex-direction: row;
            width: 100%;
            margin-top: 0;
            margin-right: 0;
            font-size: 12px;
        }
    }

    .social {
        display: flex;
        margin: 1.4rem -.8rem 0;

        @include respond-to(sm) {
            order: 2;
            margin: -5px 0 0 auto;
            padding-right: 32px;
        }

        @include respond-to(xs) {
            order: 3;
            margin: 12px -8px 0;
        }
    }

    .socialLink {
        padding: 0 .1rem;

        @include respond-to(sm) {
            padding: 0;
        }

        @include respond-to(xs) {
            margin: -4px 0;
            padding: 0;
        }
    }

    .socialIcon {
        display: block;
        width: 3rem;
        height: 3rem;
        color: $base-300;
        transition: color .6s $text-bezier;

        @include hover {
            &:hover {
                color: $milk;
            }
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: currentColor;
        }

        @include respond-to(xs) {
            width: 46px;
            height: 46px;
            background-color: transparent;
            color: $base-300;
        }
    }

    .text {
        width: 16.8rem;
        margin-top: 2.1rem;
        font-size: 1rem;
        line-height: 1.32;

        @include respond-to(sm) {
            order: 4;
            width: 242px;
            margin-top: 20px;
            font-size: 10px;
            line-height: 1.32;
        }

        @include respond-to(xs) {
            order: 2;
            width: 90%;
            margin-top: 8px;
            font-size: 10px;
        }
    }

    .apps {
        margin-top: 5.2rem;

        @include respond-to(sm) {
            order: 1;
            margin-top: 0;
            margin-left: 56px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .appLabel {
        display: block;
        color: $base-100;
        margin-bottom: 1.2rem;

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(xs) {
            display: block;
            margin-bottom: 13px;
            color: $milk;
            font-weight: 500;
        }
    }

    .appsWrap {
        display: flex;
        align-items: center;

        a {
            display: inline-flex;

            @include respond-to(xs) {
                width: 50%;
            }
        }
    }

    .appIcon {
        margin-right: .8rem;

        @include respond-to(sm) {
            margin-right: 4px;
        }

        @include respond-to(xs) {
            margin-right: 16px;
        }
    }

    .bottomBlock {
        position: absolute;
        bottom: 8rem;
        right: 0;

        @include respond-to(sm) {
            order: 5;
            position: relative;
            bottom: auto;
            margin-top: auto;
            margin-left: auto;
        }

        @include respond-to(xs) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            padding-top: 24px;
            padding-bottom: 24px;
            margin-top: 22px;
            border-top: 1px solid rgba($milk, .16);
        }
    }

    .ida {
        position: absolute;
        right: 7.7rem;
        top: .6rem;
        transform: translateX(-100%);

        @include respond-to(sm) {
            right: 30px;
        }

        @include respond-to(xs) {
            position: relative;
            right: auto;
            top: auto;
            transform: none;
        }

        span {
            display: block;
            padding-top: .2rem;
            margin-left: -1px;
            font-size: 1.4rem;
            line-height: 1.46;
            white-space: nowrap;
            cursor: default;

            @include respond-to(sm) {
                right: 30px;
                font-size: 10px;
                line-height: 1.32;
            }

            @include respond-to(xs) {
                font-size: 12px;
            }
        }
    }

    .btn {
        @include respond-to(xs) {
            width: 48px;
            height: 48px;
        }
    }

    .arrow {
        transform: rotate(-90deg);
    }

    .linkWrapper {
        display: inline-flex;
    }

    .link {
        position: relative;
        display: inline-block;
        margin-bottom: 2.4rem;
        font-size: 2.4rem;
        line-height: 1.34;
        font-weight: 500;
        text-transform: uppercase;
        transition: opacity $default-transition;
        overflow: hidden;

        .currentValue {
            color: $milk;
        }

        .hoverValue {
            color: $base-300;
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }

        @include respond-to(sm) {
            margin-bottom: 19px;
            font-size: 14px;
            line-height: 1.16;
        }

        @include respond-to(xs) {
            margin-bottom: 8px;
            font-size: 18px;
            line-height: 1.56;

            &._phone {
                width: 50%;
            }
        }

        &._small {
            margin-bottom: 1.6rem;
            margin-top: .4rem;
            font-size: 1.4rem;
            line-height: 1.16;

            @include respond-to(sm) {
                margin-top: 0;
            }

            @include respond-to(xs) {
                margin-bottom: 20px;
                font-size: 12px;
                line-height: 1.04;
                white-space: nowrap;
            }
        }
    }

    .menuWrap {
        display: flex;
        flex-direction: column;

        @include respond-to(xs) {
            width: 50%;
        }
    }

    .developer {
        @include respond-to(xs) {
            display: none;
        }
    }

    .developerMobile {
        display: none;

        @include respond-to(xs) {
            display: block;
            width: 50%;
        }
    }

    .sublinkBlock {
        display: flex;
        flex-direction: column;

        @include respond-to(xs) {
            width: 50%;
        }
    }

    .sublink {
        position: relative;
        display: inline-block;
        margin-bottom: .8rem;
        font-size: 1.4rem;
        line-height: 1.46;
        white-space: nowrap;
        transition: opacity $default-transition;
        overflow: hidden;

        .currentValue {
            color: $base-300;
        }

        .hoverValue {
            color: $milk;
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }

        @include respond-to(xs) {
            font-size: 12px;
            line-height: 1.32;
        }
    }

    .currentValue {
        display: inline-block;
        transform: translateY(0) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .hoverValue {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        transform: translateY(100%) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .address {
        display: flex;
        flex-direction: column;
        width: 23.4rem;
        margin-bottom: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.46;

        br:first-child {
            @include respond-to(sm) {
                display: none;
            }

            @include respond-to(xs) {
                display: flex;
            }
        }

        @include respond-to(sm) {
            width: 95%;
            margin-bottom: 36px;
            font-size: 1.2rem;
            line-height: 1.32;
        }

        @include respond-to(xs) {
            order: 1;
            width: 142px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .break {
        @include respond-to(sm) {
            flex-basis: 100%;
            height: 0;
            order: 2;
        }
    }
</style>
