<template>
    <header :class="[$style.TheHeader, classes]">
        <div :class="[$style.container, {'container' : !half}]">
            <n-link to="/"
                    :class="$style.logo">
                <img :class="$style.logoImage"
                     :src="logoImage"
                     alt="логотип">
            </n-link>

            <!--nav-->
            <nav :class="$style.nav">
                <ul :class="$style.list">
                    <li :class="$style.item">
                        <n-link to="/projects/"
                                :class="$style.link"
                                class="button2">
                            <span :class="$style.currentValue">
                                Проекты
                            </span>
                            <span :class="$style.hoverValue">
                                Проекты
                            </span>
                        </n-link>
                    </li>
                    <li :class="$style.item">
                        <n-link to="/flats/"
                                :class="$style.link"
                                class="button2">
                            <span :class="$style.currentValue">
                                Квартиры
                            </span>
                            <span :class="$style.hoverValue">
                                Квартиры
                            </span>
                        </n-link>
                    </li>
                    <li :class="$style.item">
                        <n-link to="/purchase/mortgage/"
                                :class="$style.link"
                                class="button2">
                            <span :class="$style.currentValue">
                                Ипотека
                            </span>
                            <span :class="$style.hoverValue">
                                Ипотека
                            </span>
                        </n-link>
                    </li>
                    <li v-if="activeCity.hasCommercialPage"
                        :class="[$style.item, {[$style._hidden]: half}]">
                        <n-link to="/commercial/"
                                :class="$style.link"
                                class="button2">
                            <span :class="$style.currentValue">
                                Коммерция
                            </span>
                            <span :class="$style.hoverValue">
                                Коммерция
                            </span>
                        </n-link>
                    </li>
                    <li :class="[$style.item, {[$style._hidden]: half}]">
                        <n-link to="/about/"
                                :class="$style.link"
                                class="button2">
                            <span :class="$style.currentValue">
                                О компании
                            </span>
                            <span :class="$style.hoverValue">
                                О компании
                            </span>
                        </n-link>
                    </li>
                </ul>
            </nav>

            <div :class="[$style.select, {[$style._visible]: isBurgerMenuVisible}]">
                <VSelect :value="activeCityId"
                         :options="cities"
                         label-name="name"
                         value-name="id"
                         size="small"
                         :color="cityClass()"
                         marked-option
                         variable-width
                         @input="onCityChange">
                    <IconPinBig class="frame-icon is-small" />
                </VSelect>
            </div>

            <a :class="$style.phone"
               class="button2 c-base"
               :href="`tel: ${phone}`">
                <span :class="$style.currentValue">
                    {{ phone|prettyPhone }}
                </span>
                <span :class="$style.hoverValue">
                    {{ phone|prettyPhone }}
                </span>
                <IconPhone class="frame-icon" />
            </a>

            <!--controls-->
            <div :class="$style.controls">
                <n-link to="/favorites/"
                        :class="[$style.btn, $style.heart, {[$style._active]: hasFavourites}]"
                        class="btn-reset">
                    <IconFavoriteMobile
                        v-if="$mq === 'xs'"
                        class="frame-icon"
                    />

                    <IconFavorite
                        v-else
                        class="frame-icon"
                    />
                </n-link>
                <a v-if="$mq !== 'xs'"
                   href="https://lk.strana.com/"
                   :class="$style.btn"
                   class="btn-reset">
                    <IconUser class="frame-icon" />
                </a>
            </div>

            <TheHeaderBurger />
        </div>
        <transition name="fade"
                    appear>
            <a v-if="isDisplayBanner"
               href="https://2020.strana.com"
               :class="$style.banner">
                <span v-if="$mq === 'xs'">
                    Наполняем новый сайт. Вернуться на старый
                </span>
                <span v-else>
                    Мы наполняем новую версию сайта. Вернуться на старую версию
                </span>
            </a>
        </transition>
    </header>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';

    /* components */
    import IconFavorite from '../icons/IconFavorite';
    import IconUser from '../icons/IconUser';
    import TheHeaderBurger from './header/TheHeaderBurger';
    import IconPhone from '../icons/IconPhone';
    import VSelect from '../ui/select/VSelect';
    import IconPinBig from '../icons/IconPinBig';
    import IconFavoriteMobile from '../icons/IconFavoriteMobile';

    export default {
        components: {
            IconFavoriteMobile,
            IconPinBig,
            VSelect,
            IconPhone,
            TheHeaderBurger,
            IconUser,
            IconFavorite,
        },

        props: {
            half: Boolean,
            small: Boolean,
            fixed: Boolean,
            main: Boolean,
            hasBanner: Boolean,
        },

        data() {
            return {
                logoImage: '/assets/developer-logo.svg',
                isVisible: false,
                headerHeight: 0,
            };
        },

        computed: {
            ...mapState('favorites', [
                'favorites',
            ]),

            ...mapState({
                isDisplay: state => state.header.is_display_small_header,
                isHidden: state => state.header.is_hidden,
                headerColor: state => state.header.header_color,
                isBurgerMenuVisible: state => state.header.is_burger_menu_visible,
                activeCity: state => state.active_city,
            }),

            ...mapGetters({
                activeCityId: 'getActiveCityId',
                cityClass: 'getCityClass',
                cities: 'getActiveCities',
            }),

            classes() {
                return [
                    [this.isBurgerMenuVisible ? [this.$style._gray] : [this.$style[`_${this.headerColor}`]]],
                    {
                        [this.$style._half]: this.half,
                        [this.$style._visible]: this.isVisible && this.fixed && this.isDisplay,
                        [this.$style._hidden]: this.isHidden,
                        [this.$style._fixed]: this.fixed,
                        [this.$style._small]: this.small,
                        [this.$style._main]: this.main,
                        [this.$style['has-banner']]: this.hasBanner,
                    },
                ];
            },

            hasFavourites() {
                return Boolean(this.favorites.length);
            },

            phone() {
                return this.activeCity?.phone ? this.activeCity.phone : '';
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            isDisplayBanner() {
                return this.hasBanner;
            },
        },

        watch: {
            $route() {
                if (this.isVisible) {
                    this.isVisible = false;
                }
            },
        },

        mounted() {
            if (this.fixed) {
                const header = document.getElementById('scroll-header');
                this.headerHeight = header?.offsetHeight;
                document.addEventListener('scroll', this.handleScroll);
            }
        },

        beforeDestroy() {
            if (this.fixed) {
                document.removeEventListener('scroll', this.handleScroll);
            }
        },

        methods: {
            handleModalOpen() {
                //
            },

            onCityChange(id) {
                const city = this.cities.find(item => item.id === id);
                window.location.href = `http://${city.site.domain}`;
            },

            handleScroll() {
                if (!this.isDisplay) {
                    return;
                }

                if (window.pageYOffset > window.innerHeight - this.headerHeight) {
                    if (!this.isVisible) {
                        this.isVisible = true;
                    }
                } else if (this.isVisible) {
                    this.isVisible = false;
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .TheHeader {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        will-change: transform, background-color;
        transition: transform $default-transition, background-color $default-transition;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $base-100;
        }

        /* Modifiers */
        &._fixed {
            position: fixed;
            z-index: 15;
            transform: translateY(-100%) translateZ(0);

            &._visible {
                transform: translateY(0) translateZ(0);
            }
        }

        &._hidden._main {
            transform: translateY(-100%) translateZ(0);
        }

        &._half {
            z-index: 2;
            width: calc(100% - 32rem);
            padding: 0 5.6rem;

            @include respond-to(sm) {
                width: 100%;
                padding: 0 $side-padding-tablet;
            }

            @include respond-to(xs) {
                padding: 0 $side-padding-mobile;
            }
        }

        &._small {
            .container {
                height: $header-h-small;

                @include respond-to(sm) {
                    height: $header-h-tablet;
                }

                @include respond-to(xs) {
                    height: $header-h-mobile;
                }
            }
        }

        &.has-banner {
            &:after {
                content: none;
            }
        }

        &._main {
            .banner {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
            }
        }

        /* End Modifiers */

        /* Colors */
        &._gray {
            background-color: $base-50;
        }

        &._milk {
            background-color: $milk;
        }

        &._night {
            background-color: $base-500;
        }

        /* End Cоlors */
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.2rem;
        background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        color: $milk;
        font-size: 1.6rem;
        line-height: 1.32;
        font-weight: 500;

        @include respond-to(xs) {
            font-size: 12px;
        }
    }

    .container {
        display: flex;
        align-items: center;
        height: $header-h;

        @include respond-to(sm) {
            height: $header-h-tablet;
        }

        @include respond-to(xs) {
            height: $header-h-mobile;
        }
    }

    .logo {
        position: relative;
        padding-right: 5.6rem;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 2.4rem;
            background-color: $base-100;
            transform: translateY(-50%);

            @include respond-to(sm) {
                content: none;
            }
        }

        @include respond-to(sm) {
            padding-right: 0;
        }
    }

    .logoImage {
        display: block;
        width: 16.8rem;
        height: auto;

        @include respond-to(sm) {
            width: 172px;
        }

        @include respond-to(xs) {
            width: 120px;
        }
    }

    .nav {
        padding-left: 5.6rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .list {
        display: flex;
        margin: 0 -1.6rem;
    }

    .item {
        display: inline-flex;
        padding: 0 1.6rem;

        @include respond-to(lg) {
            &._hidden {
                display: none;
            }
        }
    }

    .link {
        position: relative;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.16;
        transition: opacity $default-transition, color $default-transition;
        overflow: hidden;

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }
    }

    .currentValue {
        display: inline-block;
        color: $base-500;
        transform: translateY(0) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .hoverValue {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: $base-200;
        transform: translateY(100%) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .select {
        display: none;
        margin-left: 3.2rem;
        margin-top: .5rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity $default-transition;

        :global .v-select__icon {
            transform: translateY(-55%);
        }

        &._visible {
            opacity: 1;
            pointer-events: all;
        }

        @include respond-to(sm) {
            display: block;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .phone {
        position: relative;
        display: inline-block;
        flex-shrink: 0;
        margin-left: auto;
        margin-right: 5.7rem;
        overflow: hidden;

        svg {
            display: none;
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }

        @include respond-to(sm) {
            margin-right: 32px;
        }

        @include respond-to(xs) {
            margin-right: 8px;

            span {
                display: none;
            }

            svg {
                display: block;
            }
        }
    }

    .controls {
        display: flex;
        align-items: center;
    }

    .btn {
        position: relative;
        margin-right: .8rem;
        margin-top: .4rem;
        color: $base-500;
        transition: all $default-transition;

        & > svg {
            transition: all $default-transition;
        }
    }

    .heart {
        &:after {
            content: "";
            position: absolute;
            top: 1.2rem;
            right: 1rem;
            width: .6rem;
            height: .6rem;
            box-shadow: 0 0 0 .2rem $milk;
            border-radius: 50%;
            background-color: $redline;
            opacity: 0;
            transform: scale(0);
            transition: opacity .3s linear, transform .3s linear;

            @include respond-to(xs) {
                top: .8rem;
                right: .7rem;
                width: .5rem;
                height: .5rem;
            }
        }

        &._active {
            &:after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
</style>
