<template>
    <div class="info">
        <div class="info__row info__row--big">
            <div class="info__label">
                Стоимость
            </div>
            <div class="info__value info__value--big">
                <div class="info__price">
                    {{ lot.price|splitThousands }} <span class="rub">&#8381;</span>
                </div>

                <div v-if="saleValue"
                     class="info__oldPrice">
                    <s class="p4 c-base-200">
                        {{ lot.originalPrice|splitThousands }} &#8381;
                    </s>
                    <span class="info__saleValue">
                        - {{ saleValue|splitThousands }} &#8381;
                    </span>
                </div>
            </div>
        </div>

        <div :class="{'info__row--big': $device.isMobile}"
             class="info__row">
            <div class="info__label">
                Проект
            </div>
            <div class="info__value">
                <n-link
                    :to="`/projects/${lot.project.id}`"
                    target="_blank"
                    class="c-vice"
                    v-html="projectName"
                />
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Срок сдачи
            </div>
            <div class="info__value"
                 v-html="completion">
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Готовность дома
            </div>
            <div class="info__progress">
                <div class="info__value">
                    {{ lot.building.currentLevel }}%
                </div>
                <ProgressBar
                    class="info__bar"
                    :percent="lot.building.currentLevel"
                />
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Отделка
            </div>
            <div v-if="furnish"
                 class="info__value info__value">
                {{ furnish }}
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Ипотека от
            </div>
            <div v-if="lot.minMortgage"
                 class="info__value">
                {{ lot.minMortgage|splitThousands }} ₽/мес
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                -
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Первый взнос от
            </div>
            <div v-if="lot.firstPayment"
                 class="info__value">
                {{ lot.firstPayment|splitThousands }} ₽/мес
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                -
            </div>
        </div>
    </div>
</template>

<script>
    import {prettyCompletion} from 'frontend/assets/js/utils/commonUtils';

    import ProgressBar from '@/components/common/ProgressBar';

    export default {
        name: 'InfoMain',

        components: {
            ProgressBar,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },
        },

        computed: {
            saleValue() {
                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },

            projectName() {
                return this.lot.project?.name ? this.lot.project.name : '';
            },

            completion() {
                return this.lot.building?.readyQuarter && this.lot.building?.builtYear ? prettyCompletion(this.lot.building.readyQuarter, this.lot.building.builtYear) : '';
            },

            furnish() {
                return this.lot.furnishSet?.length ? this.lot.furnishSet[0].name : '';
            },
        },
    };
</script>
