<template>
    <div :class="[$style.InfoArea, classes]"
         class="info">
        <div class="info__row">
            <div class="info__label">
                Общая
            </div>
            <div class="info__value"
                 v-html="getArea(lot.area)">
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Спальня
            </div>
            <div class="info__value"
                 v-html="getArea(lot.livingArea)">
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Кухня
            </div>
            <div class="info__value"
                 v-html="getArea(lot.kitchenArea)">
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Санузел
            </div>
            <div class="info__value"
                 v-html="getArea(lot.bathroomArea)">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'InfoArea',

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            isCurrentCard: Boolean,
        },

        computed: {
            classes() {
                return [
                    {
                        'is-current': this.isCurrentCard,
                    }
                ];
            },
        },

        methods: {
            getArea(area) {
                return area ? area.toLocaleString() + ' м<sup>2</sup>' : '-';
            },
        },
    };
</script>

<style lang="scss" module>
    .InfoLocation {
        //
    }

    .promo {
        color: $vice;
    }

    .wrap {
        margin-top: 1.2rem;
    }

    .security {
        margin-top: .4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.56;
        color: $base-500;
    }
</style>
