<template>
    <div :class="[$style.InfoFeatures, classes]"
         class="info">
        <div class="info__row">
            <div class="info__label">
                Акция
            </div>
            <div v-if="lot.action"
                 :class="$style.promo"
                 class="info__value">
                <n-link
                    to="#"
                    target="_blank">
                    {{ lot.action }}
                </n-link>
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Кухня-гостинная
            </div>
            <div v-if="lot.kitchenLiving"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Фасады
            </div>
            <div v-if="lot.facade"
                 class="info__value">
                {{ lot.facade }}
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Дворы
            </div>
            <div v-if="lot.yards"
                 class="info__value">
                {{ lot.yards }}
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                -
            </div>
        </div>

        <div class="info__row info__row--big">
            <div class="info__label">
                Безопасность
            </div>

            <div v-if="lot.security"
                 :class="$style.wrap">
                <div :class="$style.security">
                    {{ lot.security }}
                </div>
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                -
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Паркинг
            </div>
            <div v-if="lot.hasParking"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Терасса
            </div>
            <div v-if="lot.hasTerrace"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Видовая
            </div>
            <div v-if="lot.hasView"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Панорамное остекление
            </div>
            <div v-if="lot.hasPanoramicWindows"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Двухуровневая
            </div>
            <div v-if="lot.isDuplex"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Лаунж-балкон
            </div>
            <div v-if="lot.loungeBalcony"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Балкон/Лоджия
            </div>
            <div v-if="hasBalkon"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Кладовая
            </div>
            <div v-if="lot.storage"
                 class="info__value">
                {{ lot.storage }}
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Высокий потолок
            </div>
            <div v-if="lot.hasHighCeiling"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Гардероб
            </div>
            <div v-if="lot.wardrobesCount > 0"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>

        <div :class="{'info__row--big': $device.isMobile}"
             class="info__row">
            <div class="info__label">
                Квартира на 2 стороны
            </div>
            <div v-if="lot.hasTwoSidesWindows"
                 class="info__value">
                Да
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                Нет
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'InfoFeatures',

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            isCurrentCard: Boolean,
        },

        computed: {
            classes() {
                return [
                    {
                        'is-current': this.isCurrentCard,
                    }
                ];
            },

            city() {
                return this.lot.project?.city?.name ? this.lot.project.city.name : '';
            },

            studio() {
                return true;
            },

            hasBalkon() {
                return this.lot.balconiesCount > 0;
            },
        },
    };
</script>

<style lang="scss" module>
    .InfoLocation {
        //
    }

    .promo {
        color: $vice;
    }

    .wrap {
        margin-top: 1.2rem;
    }

    .security {
        margin-top: .4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.56;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 12px;
            line-height: 1.46;
        }
    }
</style>
