<template>
    <div :class="[$style.InfoLocation, classes]"
         class="info">
        <div class="info__row">
            <div class="info__label">
                Город
            </div>
            <div class="info__value">
                {{ city }}
            </div>
        </div>

        <div :class="{'info__row--big': $device.isMobile}"
             class="info__row">
            <div class="info__label">
                <template v-if="$device.isDesktopOrTablet">
                    Транспортная
                </template>
                доступность
            </div>
            <div :class="$style.transport"
                 class="info__value">
                <span :class="$style.metro">{{ metro }}</span>
                <template v-if="transportTime">
                    <span :class="$style.icon"
                          v-html="transportIcon">
                    </span>
                    <span :class="$style.time">{{ transportTime }} мин.</span>
                </template>
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Дом
            </div>
            <div class="info__value">
                {{ buildingName }}
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Этаж
            </div>
            <div v-if="floorNumber"
                 class="info__value">
                {{ floorNumber }} / {{ totalFloors }}
            </div>

            <div v-else
                 class="info__value info__value--disabled">
                -
            </div>
        </div>

        <div class="info__row">
            <div class="info__label">
                Номер
            </div>
            <div class="info__value">
                {{ lot.number }}
            </div>
        </div>

        <div class="info__row info__row--big">
            <div class="info__label">
                Инфраструктура
            </div>

            <div v-if="lot.infra"
                 :class="$style.wrap">
                <div :class="$style.infra">
                    {{ lot.infra }}
                </div>
            </div>
            <div v-else
                 class="info__value info__value--disabled">
                -
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'InfoLocation',

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            isCurrentCard: Boolean,
        },

        computed: {
            classes() {
                return [
                    {
                        'is-current': this.isCurrentCard,
                    }
                ];
            },

            city() {
                return this.lot.project?.city?.name ? this.lot.project.city.name : '';
            },

            transportIcon() {
                return this.lot.project?.transport?.iconContent ? this.lot.project.transport.iconContent : '';
            },

            transportTime() {
                return this.lot.project?.transportTime ? this.lot.project.transportTime : '';
            },

            metro() {
                return this.lot.project?.metro?.name ? this.lot.project.metro.name : '';
            },

            floorNumber() {
                return this.lot.floor?.number ? this.lot.floor.number.toString() : '';
            },

            totalFloors() {
                return this.lot.section?.totalFloor
                    ? this.lot.section.totalFloor
                    : this.lot.buildingTotalFloor
                        ? this.lot.buildingTotalFloor
                        : '';
            },

            buildingName() {
                return this.lot.building?.nameDisplay ? this.lot.building.nameDisplay : '';
            },

            infra() {
                return this.lot.infraSet?.edges?.length ? this.lot.infraSet?.edges.map(item => item.node) : [];
            },
        },
    };
</script>

<style lang="scss" module>
    .InfoLocation {
        //
    }

    .transport {
        display: flex;

        @include respond-to(xs) {
            flex-wrap: wrap;
        }
    }

    .icon {
        padding-left: .4rem;
        padding-right: .4rem;
        color: $base-200;

        @include respond-to(xs) {
            padding-left: 0;
        }
    }

    .time {
        font-weight: normal;
        color: $base-300;
    }

    .wrap {
        margin-top: 1.2rem;
    }

    .metro {
        @include respond-to(xs) {
            width: 100%;
        }
    }

    .infra {
        margin-top: .4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.56;
        color: $base-500;

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.46;
        }
    }
</style>
