<template>
    <section ref="page"
             :class="$style.MediaPage"
             class="page-top">
        <div :class="$style.header"
             class="container">
            <div :class="$style.wrapper">
                <h1 :class="$style.title"
                    class="h3 c-base">
                    <transition name="fade"
                                mode="out-in">
                        <span :key="activeTab.label">
                            {{ activeTab.label }}
                        </span>
                    </transition>
                    Страны
                </h1>
                <VSelect :value="values.projectsCity"
                         :options="[{id: '', name: 'во всех городаx'}, ...cities]"
                         value-name="id"
                         label-name="name"
                         size="large"
                         color="vice"
                         gradient-hover
                         @input="onValuesChange({projectsCity: $event})">
                    <IconBuilding
                        class="frame-icon"
                        :class="{'is-small': $mq === 'xs'}"
                    />
                </VSelect>
            </div>

            <div :class="$style.social">
                <span :class="$style.label">
                    {{ label }}
                </span>

                <ul :class="$style.list">
                    <li v-for="item in social"
                        :key="item.id"
                        :class="$style.item">
                        <SocialLink
                            :class="$style.link"
                            :href="item.link"
                            :icon="item.iconContent"
                            color="gray"
                        />
                    </li>
                </ul>
            </div>

            <VTabs :class="$style.tabs">
                <VTab v-for="tab in tabs"
                      :key="tab.value"
                      :active="values.type === tab.value"
                      @click="onValuesChange({type: tab.value})">
                    {{ tab.label }}
                </VTab>
            </VTabs>

        </div>

        <MediaContent
            :class="[$style.content, {[$style._reloading]: flags.isReloading}]"
            :active-tab="values.type"
            :list="list"
            :city="values.projectsCity"
        />

        <Callback />
    </section>
</template>

<script>
    /* utils */
    import {mapGetters, mapState} from 'vuex';

    /* queries */
    import allNews from '../../queries/allNews.graphql';

    /* components */
    import VSelect from '../../components/ui/select/VSelect';
    import IconBuilding from '../../components/icons/IconBuilding';
    import Callback from '../../components/common/callback/Callback';
    import VTabs from '../../components/ui/tabs/VTabs';
    import VTab from '../../components/ui/tabs/VTab';
    import SocialLink from '../../components/common/social/SocialLink';
    import MediaContent from '../../components/pages/mass-media/MediaContent';

    const defaultValues = {
        type: 'news',
        projectsCity: '',
    };

    export default {
        name: 'MediaPage',

        components: {
            MediaContent,
            SocialLink,
            VTab,
            VTabs,
            Callback,
            IconBuilding,
            VSelect,
        },

        async asyncData({$axios, store, query}) {
            try {
                let values = {
                    type: 'news',
                };
                const city = query.projectsCity || store.getters['getActiveCityId'];

                if (query.projectsCity) {
                    values.projectsCity = query.projectsCity;
                } else if (city) {
                    values.projectsCity = city;
                }

                if (query.type) {
                    values = {...values, ...{type: query.type}};
                }

                const allNewsRes = await $axios.$post('/graphql/', {
                    query: allNews.loc.source.body,
                    variables: {
                        type: values.type,
                        first: 16,
                        order: '-date',
                        projectsCity: city ? city : '',
                    },
                });
                return {
                    values,
                    pageInfo: {
                        after: allNewsRes?.data?.allNews?.pageInfo.endCursor,
                        hasNext: allNewsRes?.data?.allNews?.pageInfo.hasNextPage
                    },
                    list: allNewsRes?.data?.allNews?.edges.map(item => item.node),
                };
            } catch (e) {
                console.log('[MassMediaPage/ asyncData]:', e);
            }
        },

        data() {
            return {
                values: {...defaultValues},

                pageInfo: {
                    first: 16,
                    after: null,
                    hasNext: false,
                },

                flags: {
                    isLoading: false,
                    isReloading: false,
                    isTicking: false,
                },

                tabs: [
                    {
                        value: 'action',
                        label: 'Акции',
                    },
                    {
                        value: 'news',
                        label: 'Новости',
                    },
                    {
                        value: 'progress',
                        label: 'Ход строительства',
                    },
                    {
                        value: 'video',
                        label: 'Видео',
                    },
                ],

                list: [],
            };
        },

        head() {
            return {
                title: `${this.metaTitle}`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `${this.metaDescription}`,
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                social: state => state.social,
            }),

            ...mapGetters({
                activeCityId: 'getActiveCityId',
                activeCityName: 'getActiveCityName',
                cities: 'getActiveCities',
            }),

            metaTitle() {
                if (!this.$route.query && !this.$route.query.type) {
                    return `Новости застройщика «Страна Девелопмент» в г.${this.city}`;
                }

                switch (this.$route.query.type) {
                    case 'action':
                        return `Акции застройщика «Страна Девелопмент» в г.${this.city}`;
                    case 'progress':
                        return `Ход строительства проектов застройщика «Страна Девелопмент» в г.${this.city}`;
                    case 'video':
                        return 'Видео — «Страна Девелопмент»';
                    default:
                        return `Новости застройщика «Страна Девелопмент» в г.${this.city}`;
                }
            },

            metaDescription() {
                if (!this.$route.query && !this.$route.query.type) {
                    return 'Самые свежие новости в блоге о наших проектах. Подпишись на рассылку, чтобы получать новые записи на e-mail.';
                }

                switch (this.$route.query.type) {
                    case 'action':
                        return 'Выгодные акции в блоге о наших проектах. Подпишись на рассылку, чтобы получать новые записи на e-mail.';
                    case 'progress':
                        return `Фото и видеодневник динамики строительства проектов застройщика «Страна Девелопмент» в г.${this.city}`;
                    case 'video':
                        return 'Тематические видео от застройщика «Страна Девелопмент» ';
                    default:
                        return 'Самые свежие новости в блоге о наших проектах. Подпишись на рассылку, чтобы получать новые записи на e-mail.';
                }
            },

            label() {
                return this.$device.isDesktop ? ' Мы в соцсетях' : 'в соцсетях';
            },

            activeTab() {
                return this.tabs.find(tab => tab.value === this.values.type) || {};
            },

            vars() {
                const vars = {};

                Object.keys(this.values).forEach(key => {
                    if (Array.isArray(this.values[key])) {
                        if (this.values[key].length) {
                            vars[key] = this.values[key];
                        }
                    } else if (this.values[key] !== '' && this.values[key] !== null) {
                        vars[key] = this.values[key];
                    }
                });

                return vars;
            },

            city() {
                return this.values.projectsCity ? this.cities.find(city => city.id === this.values.projectsCity)?.name : this.activeCityName;
            }
        },

        mounted() {
            document.addEventListener('scroll', this.handleScroll);
        },

        beforeDestroy() {
            document.removeEventListener('scroll', this.handleScroll);
        },


        methods: {
            fetchNews() {
                return this.$axios.$post('/graphql/', {
                    query: allNews.loc.source.body,
                    variables: {
                        ...this.values,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                        order: '-date',
                    },
                }, {
                    progress: false,
                });
            },

            async updateNews() {
                this.flags.isReloading = true;
                const start = Date.now();
                const {data} = await this.fetchNews();
                const stop = Date.now();
                if (stop - start < 400) {
                    setTimeout(() => {
                        this.list = data.allNews.edges.map(item => item.node);
                        this.pageInfo.after = data.allNews.pageInfo.endCursor;
                        this.pageInfo.hasNext = data.allNews.pageInfo.hasNextPage;

                        this.$nextTick(() => {
                            this.flags.isReloading = false;
                        });
                    }, 400 - (stop - start));
                } else {
                    this.list = data.allNews.edges.map(item => item.node);
                    this.pageInfo.after = data.allNews.pageInfo.endCursor;
                    this.pageInfo.hasNext = data.allNews.pageInfo.hasNextPage;

                    this.$nextTick(() => {
                        this.flags.isReloading = false;
                    });
                }
            },

            resetPageInfo() {
                this.pageInfo.hasNext = true;
                this.pageInfo.after = '';
            },

            updateQuery() {
                this.$router.replace({
                    query: this.vars,
                }).catch(err => {
                    console.log(err);
                });
            },

            async appendNews() {
                this.flags.isLoading = true;

                const {data} = await this.fetchNews();
                const cleanedList = data.allNews.edges.map(item => item.node);
                this.list = this.list.concat(cleanedList);
                this.pageInfo.after = data.allNews.pageInfo.endCursor;
                this.pageInfo.hasNext = data.allNews.pageInfo.hasNextPage;

                this.$nextTick(() => {
                    this.flags.isLoading = false;
                });
            },

            handleScroll() {
                if (!this.pageInfo.hasNext || this.flags.isLoading || this.flags.isReloading || this.flags.isTicking) {
                    return;
                }

                this.flags.isTicking = true;
                requestAnimationFrame(() => {
                    if (window.pageYOffset > this.$refs.page.offsetHeight - (window.innerHeight * 2.5)) {
                        this.appendNews();
                    }
                    this.flags.isTicking = false;
                });
            },


            onValuesChange(val) {
                if (this.flags.isReloading) {
                    return;
                }
                this.values = {...this.values, ...val};
                this.resetPageInfo();
                this.updateNews();
                this.updateQuery();
            },
        },
    };
</script>

<style lang="scss" module>
    .MediaPage {
        overflow: hidden;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 8rem;
        padding-bottom: 8rem;

        @include respond-to(sm) {
            display: block;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 16px;
            padding-bottom: 0;
        }
    }

    .wrapper {
        display: flex;
        width: 100%;
        margin-bottom: 3.2rem;

        @include respond-to(sm) {
            margin-bottom: 24px;
        }

        @include respond-to(xs) {
            flex-wrap: wrap;
            margin-bottom: 24px;
        }
    }

    .title {
        margin-right: .4rem;

        @include respond-to(xs) {
            width: 100%;
        }
    }

    .tabs {
        @include respond-to(sm) {
            margin-top: 24px;
        }

        @include respond-to(xs) {
            margin: 25px -16px 0;
        }
    }

    .social {
        order: 1;
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond-to(xs) {
            margin-left: 0;
        }
    }

    .label {
        flex-shrink: 0;
        margin-right: 3.2rem;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        color: $base-200;

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(xs) {
            display: inline-flex;
            margin-right: 30px;
            font-size: 12px;
            line-height: 1.04;
        }
    }

    .list {
        display: flex;
        margin: 0 -.4rem;
    }

    .item {
        padding: 0 .4rem;
    }

    .content {
        transition: opacity $default-transition, transform $default-transition;

        &._reloading {
            opacity: 0;
            transform: translateY(64px);
            pointer-events: none;
        }
    }
</style>
