<template>
    <div ref="container"
         :class="$style.FlatsSelection">
        <div :class="$style.wrapper">
            <img ref="image"
                 :src="floor.plan"
                 :class="[$style.origin, {[$style._loaded] : isLoaded}]"
                 alt="Генплан"
                 @load="handleImageLoad">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 :class="$style.svg"
                 :viewBox="genplanViewbox">

                <!-- Градиент -->
                <linearGradient id="linear-gradient"
                                gradient-units="objectBoundingBox">
                    <stop offset="0%"
                          stop-color="#92278f"
                          stop-opacity="0.72" />
                    <stop offset="58%"
                          stop-color="#c6168d"
                          stop-opacity="0.72" />
                    <stop offset="100%"
                          stop-color="#ed1c24"
                          stop-opacity="0.72" />
                </linearGradient>

                <n-link v-for="item in filteredFlats"
                        :key="item.id"
                        target="_blank"
                        :to="`/flats/${item.id}`">
                    <VisualHover
                        :id="item.id"
                        :item="item"
                        :color="roomsColor[item.rooms]"
                        @hover-polygon-enter="onHoverEnter"
                        @hover-polygon-move="onHoverMove"
                        @hover-polygon-leave="onHoverLeave"
                    />
                </n-link>
            </svg>

            <VisualHoverPin
                v-for="item in filteredFlats"
                :key="item.id + 1000"
                :item="item"
            />
        </div>

        <transition name="fade"
                    appear>
            <VisualTooltip v-if="activeItem"
                           :top="top"
                           :left="left"
                           :container-data="containerData">
                <FlatsTooltip :lot="activeItem" />
            </VisualTooltip>
        </transition>
    </div>
</template>

<script>
    import VisualHover from '../VisualHover';
    import VisualHoverPin from '../VisualHoverPin';
    import FlatsTooltip from './FlatsTooltip';
    import VisualTooltip from '../VisualTooltip';

    export default {
        name: 'FlatSelection',

        components: {
            VisualTooltip,
            FlatsTooltip,
            VisualHoverPin,
            VisualHover,
        },

        props: {
            floor: {
                type: Object,
                default: () => ({}),
            },

            flats: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                imgEl: null,
                isLoaded: false,
                containerData: {},
                activeItem: null,
                top: 0,
                left: 0,

                roomsColor: {
                    0: 'elysium',
                    1: 'vice',
                    2: 'moxxy',
                    3: 'redline',
                    4: 'kain',
                },
            };
        },

        computed: {
            genplanViewbox() {
                return `0 0 ${this.floor.planWidth} ${this.floor.planHeight}`;
            },

            filteredFlats() {
                return this.flats.filter(f => !f.status);
            }
        },

        mounted() {
            this.imgEl = new Image();
            this.imgEl.addEventListener('load', this.handleImageLoad);
            this.imgEl.src = this.floor.plan;
        },

        beforeDestroy() {
            this.imgEl.removeEventListener('load', this.handleImageLoad);
        },

        methods: {
            onHoverEnter(item, e) {
                this.activeItem = item;
                this.top = e.pageY;
                this.left = e.pageX;
            },

            onHoverMove({top, left}) {
                this.top = top;
                this.left = left;
            },

            onHoverLeave() {
                this.activeItem = null;
            },

            handleImageLoad() {
                this.$nextTick(() => {
                    this.containerData = {
                        ...this.containerData,
                        ...{
                            visualOffsetY: this.$parent.$parent.$refs.container.offsetTop,
                            visualOffsetX: this.$parent.$refs.parent.offsetLeft,
                            visualHeight: this.$parent.$refs.parent.offsetHeight,
                            visualWidth: this.$parent.$refs.parent.offsetWidth,
                        },
                    };

                    this.isLoaded = true;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsSelection {
        padding-bottom: 8rem;
        margin-top: 8.6rem;
    }

    .wrapper {
        position: relative;
        height: 47.4rem;
        overflow: hidden;
    }

    .origin {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .26s linear;

        &._loaded {
            opacity: 1;
        }
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
