<template>
    <div :class="$style.FlatsTooltip">
        <div :class="$style.header">
            <span class="label"
                  :class="$style.id">
                id: {{ lot.article }}
            </span>
            <h3 :class="$style.title"
                class="subtitle1 c-base">
                <span v-html="flatTitle">
                </span>
                <span v-if="labelIcon"
                      :class="$style.saleIcon">
                    <component
                        :is="labelIcon"
                        class="frame-icon is-default"
                    />
                </span>
            </h3>

            <div :class="$style.price"
                 class="c-base">
                <div v-if="saleValue"
                     :class="$style.oldPrice">
                    <s :class="$style.oldPriceValue"
                       class="p4 c-base-200">
                        {{ lot.originalPrice|splitThousands }} &#8381;
                    </s>
                    <span :class="$style.saleValue">
                        - {{ saleValue|splitThousands }} &#8381;
                    </span>
                </div>

                <div :class="$style.row">
                    {{ lot.price|splitThousands }} <span class="rub">&#8381;</span>
                </div>
            </div>
        </div>
        <CardTags
            v-if="tags.length"
            :class="$style.tags"
            :tags="tags"
            outline
        />
    </div>
</template>

<script>
    import CardTags from '../../../../common/CardTags';
    import IconSale from '../../../../icons/IconSale';
    import IconCar from '../../../../icons/IconCar';
    import IconFacing from '../../../../icons/IconFacing';

    export default {
        name: 'FlatsTooltip',

        components: {
            CardTags,
            IconSale,
            IconCar,
            IconFacing,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            labelIcon() {
                if (this.saleValue) {
                    return 'IconSale';
                }
                if (this.lot.hasParking) {
                    return 'IconCar';
                }

                if (this.lot.facing) {
                    return 'IconFacing';
                }

                return false;
            },

            flatTitle() {
                let title = this.lot.rooms === 0 ? 'Студия' : this.lot.euro ? `${this.lot.rooms}-евро` : `${this.lot.rooms}-ком.`;
                title += ` ${this.lot.area ? this.lot.area.toLocaleString() : ''} м<sup>2</sup>`;
                return title;
            },

            saleValue() {
                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },

            tags() {
                const tags = [];
                if (this.lot.hasParking) {
                    tags.push({
                        name: 'Паркинг в подарок',
                        color: 'gradient',
                    });
                }
                if (this.lot.hasView) {
                    tags.push('Видовая');
                }
                if (this.lot.hasTerrace) {
                    tags.push('С террасой');
                }
                if (this.lot.hasHighCeiling) {
                    tags.push('Высокие потолки');
                }
                if (this.lot.isDuplex) {
                    tags.push('Двухуровневая');
                }
                if (this.lot.facing) {
                    tags.push('С отделкой');
                }
                if (this.lot.hasPanoramicWindows) {
                    tags.push('Панорамные окна');
                }
                if (this.lot.promoEnd) {
                    //
                }
                return tags;
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsTooltip {
        width: 42.2rem;
        padding: 2.4rem;
        background-color: $milk;
        border-radius: 1.6rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .04), 0 0 2px rgba(0, 0, 0, .06), 0 0 1px rgba(0, 0, 0, .04);
    }

    .id {
        width: 100%;
        margin-bottom: 1rem;
        color: $base-200;
    }

    .header {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 2.7rem;
    }

    .title {
        position: relative;
        margin-right: 3.8rem;

        sup {
            top: -.6em;
            font-size: 60%;
        }
    }

    .saleIcon {
        position: absolute;
        bottom: calc(100% - .4rem);
        left: calc(100% - .4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        background: linear-gradient(0deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        color: $milk;

        svg {
            width: 2rem;
            height: 2rem;
        }

        &:before {
            content: '';
            position: absolute;
            top: -.5rem;
            right: -.5rem;
            z-index: -1;
            width: 7.2rem;
            height: 3.6rem;
            box-sizing: border-box;
            border-radius: 4rem;
            transform: rotate(-30deg);
            transform-origin: 77% 50%;
            background: linear-gradient(-90deg, rgba($base-100, .64) 0%, rgba($base-100, 0) 100%);
        }
    }

    .price {
        position: relative;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        white-space: nowrap;
    }

    .oldPrice {
        position: relative;
        display: flex;
        align-items: baseline;
        margin-bottom: .4rem;
        font-weight: normal;

        @include respond-to(sm) {
            s {
                display: none;
            }
        }
    }

    .oldPriceValue {
        position: relative;
        padding-top: .2rem;
        font-size: 1.2rem;
        line-height: 1;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: translate3d(0, -50%, 0);
        }
    }

    .saleValue {
        position: relative;
        padding: .2rem 0 0 .4rem;
        margin-left: .8rem;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
        background-color: rgba($primary-100, .56);
        color: $redline;
        font-size: 1.2rem;
        line-height: 1.6rem;

        @include respond-to(xs) {
            margin-left: 0;
        }

        &:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: rgba($primary-100, .56);
            border-radius: .4rem;
            transform: translate(-50%, -50%) rotate(135deg);
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }

    .tags {
        margin-top: .8rem;
        padding-top: 2.4rem;
        border-top: 1px solid $base-100;
    }

</style>
