<template>
    <div :class="$style.FlatsSectionSwitcher">
        <span :class="$style.number">
            {{ sectionNumber }}
        </span>
        <span :class="$style.label">
            секция
        </span>
        <div :class="$style.miniplan"
             :style="{backgroundImage: `url(${miniplan})`}">
            <svg :class="$style.svg"
                 :viewBox="viewBox">
                <!-- Градиент -->
                <linearGradient id="linear-gradient"
                                gradient-units="objectBoundingBox">
                    <stop offset="0%"
                          stop-color="#92278f"
                          stop-opacity="0.72" />
                    <stop offset="58%"
                          stop-color="#c6168d"
                          stop-opacity="0.72" />
                    <stop offset="100%"
                          stop-color="#ed1c24"
                          stop-opacity="0.72" />
                </linearGradient>

                <g v-for="section in sections"
                   :key="section.id"
                   :class="[$style.hover, {[$style._active]: currentSection.id === section.id}]"
                   @click="handleSectionClick(section)"
                   v-html="section.miniPlanHover"
                />
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FlatsSectionSwitcher',

        props: {
            miniplan: {
                type: String,
                default: '',
            },

            miniplanWidth: {
                type: Number,
                default: 0,
            },

            miniplanHeight: {
                type: Number,
                default: 0,
            },

            activeSection: {
                type: Object,
                default: () => ({}),
            },

            sections: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                currentSection: this.activeSection,
            };
        },

        computed: {
            viewBox() {
                return `0 0 ${this.miniplanWidth} ${this.miniplanHeight}`;
            },

            sectionNumber() {
                return this.currentSection?.number ? this.currentSection.number : '';
            },
        },

        methods: {
            handleSectionClick(section) {
                this.currentSection = section;
                this.$emit('section-change', section);
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsSectionSwitcher {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        height: 18rem;
        border-radius: 50%;
        background-color: $milk;
    }

    .number {
        position: absolute;
        top: 0;
        left: 50%;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: $milk;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: $base-300;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .04), 0 2px 6px rgba(0, 0, 0, .04), 0 0 1px rgba(0, 0, 0, .04);
        transform: translate(-50%, -50%);
    }

    .label {
        position: absolute;
        top: 2rem;
        left: 50%;
        font-size: 1rem;
        line-height: 1.46;
        letter-spacing: .1rem;
        color: $base-200;
        text-transform: uppercase;
        transform: translateX(-50%);
    }

    .miniplan {
        position: relative;
        width: 10rem;
        height: 10rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .svg {
        width: 100%;
        height: 100%;
    }

    .hover {
        fill: url(#linear-gradient);
        opacity: 0;
        cursor: pointer;
        transition: opacity .3s linear;

        &:hover {
            opacity: .72;
        }

        &._active {
            opacity: 1;
        }
    }
</style>
