<template>
    <div :class="$style.FlatsFloorSwitcher">
        <VCircleButton ref="prev"
                       :class="[$style.btn, $style._prev]"
                       color="milk"
                       size="small">
            <IconArrowRight class="frame-icon" />
        </VCircleButton>

        <div ref="slider"
             :class="$style.container"
             class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="floor in floors"
                     :key="floor.number"
                     :class="[$style.floor, {_disabled: !floor.flatsCount}]"
                     class="swiper-slide">
                    <div :class="$style.floorNumber"
                         @click="handleClick(floor)">
                        <span :class="$style.text">
                            {{ floor.number }}
                        </span>
                        <IconPlus
                            :class="$style.icon"
                            class="frame-icon c-vice"
                        />
                    </div>

                    <p :class="$style.info">
                        <span v-if="floor.flatsCount">
                            {{ floor.flatsCount }} квартир{{ floor.flatsCount|plural(['а', 'ы', '']) }} <br> в
                            продаже
                        </span>
                        <span v-else>
                            нет квартир <br> в продаже
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <VCircleButton ref="next"
                       :class="[$style.btn, $style._next]"
                       color="milk"
                       size="small">
            <IconArrowRight class="frame-icon" />
        </VCircleButton>
    </div>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import VCircleButton from '../../../../ui/button/VCircleButton';
    import IconArrowRight from '../../../../icons/IconArrowRight';
    import IconPlus from '../../../../icons/IconPlus';

    /* components */

    export default {
        name: 'FlatsFloorSwitcher',

        components: {
            IconPlus,
            IconArrowRight,
            VCircleButton,
        },

        props: {
            floors: {
                type: Array,
                default: () => [],
            },

            renameFlatToPlan: Boolean,

            defaultIndex: {
                type: Number,
                default: 0,
            },
        },

        data() {
            return {
                slider: undefined,
                activeIndex: this.defaultIndex,
            };
        },

        mounted() {
            this.$nextTick(() => {
                this.initSwiper();
            });
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    direction: 'vertical',
                    slidesPerView: 'auto',
                    centeredSlides: true,
                    allowTouchMove: false,

                    navigation: {
                        prevEl: this.$refs?.prev?.$el || this.$refs?.prev || false,
                        nextEl: this.$refs?.next?.$el || this.$refs?.next || false,
                        disabledClass: 'is-disabled',
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);
                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.activeIndex;
                    this.$emit('floor-change', this.floors[this.slider.activeIndex]);
                });

                this.slider.slideTo(this.defaultIndex);
            },

            handleClick(floor) {
                this.activeIndex = this.floors.findIndex(item => item.id === floor.id);
                this.slider.slideTo(this.activeIndex);
                this.$emit('floor-change', floor);
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsFloorSwitcher {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 15rem;
    }

    .container {
        height: 42.4rem;
        margin: 2.4rem 0;
        padding-top: .5rem;
    }

    .floor {
        height: 4rem;
        margin-bottom: .8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:global(._disabled) {
            pointer-events: none;
        }

        &:global(.swiper-slide-active) {
            .floorNumber {
                background: linear-gradient(0deg, $vice 0%, $moxxy 57.99%, $redline 100%);
                color: $milk;
                pointer-events: none;
            }

            .info {
                opacity: 1;
            }
        }
    }

    .info {
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.16;
        color: $base-400;
        margin-left: 2.4rem;
        opacity: 0;
        will-change: opacity;
        transition: opacity .3s linear;
        user-select: none;
    }

    .floorNumber {
        position: relative;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 4rem;
        font-weight: 500;
        color: $base-400;
        border-radius: 50%;
        background-color: rgba($base-100, .4);
        transition: background $default-transition, color $default-transition;
        will-change: background;
        cursor: pointer;
        user-select: none;

        @include hover {
            &:hover {
                .text {
                    opacity: 0;
                }

                .icon {
                    opacity: 1;
                }

                & ~ .info {
                    opacity: .8;
                }
            }
        }
    }

    .text {
        transition: opacity $default-transition;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity $default-transition;
    }

    .btn {
        &._prev {
            transform: rotate(90deg);
        }

        &._next {
            transform: rotate(-90deg);
        }
    }
</style>
