<template>
    <div ref="container"
         class="genplan"
         :class="$style.VisualFlats">
        <div :class="$style.container"
             class="container">
            <div :class="$style.aside">
                <div :class="$style.back">
                    <VCircleButton :class="$style.btn"
                                   absolute
                                   @click="$emit('back', 'section')">
                        <IconArrowRightLong class="frame-icon" />
                    </VCircleButton>

                    <p :class="$style.title"
                       class="h3">
                        <span :class="$style.name">
                            {{ currentFloorNumber }} этаж
                        </span>
                        <span>
                            {{ buildingName }}
                        </span>
                        <span>Квартиры</span>
                    </p>
                </div>

                <FlatsFloorSwitcher
                    v-if="activeFloor && activeFloor.section"
                    :key="activeFloor.section.id"
                    :floors="floors"
                    :default-index="defaultIndex"
                    @floor-change="onFloorChange"
                />
            </div>
            <div ref="parent"
                 :class="$style.body">
                <VButton v-if="building.id && activeFloor.id"
                         :class="$style.link"
                         :link="`/flats/?building=${building.id}&floorMin=${activeFloor.number}&floorMax=${activeFloor.number}`">
                    Подобрать по параметрам
                </VButton>

                <FlatsSectionSwitcher
                    :miniplan="building.miniPlan"
                    :miniplan-height="building.miniPlanHeight"
                    :miniplan-width="building.miniPlanWidth"
                    :sections="building.sectionSet"
                    :active-section="activeFloor.section"
                    @section-change="$emit('section-change', $event)"
                />

                <transition name="fade"
                            mode="out-in">
                    <FlatsSelection
                        :key="currentFloor.id"
                        :floor="currentFloor"
                        :flats="flats"
                    />
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import VCircleButton from '../../../../ui/button/VCircleButton';
    import IconArrowRightLong from '../../../../icons/IconArrowRightLong';
    import VButton from '../../../../ui/button/VButton';
    import FlatsFloorSwitcher from './FlatsFloorSwitcher';
    import FlatsSectionSwitcher from './FlatsSectionSwitcher';
    import FlatsSelection from './FlatsSelection';

    export default {
        name: 'VisualFlats',

        components: {
            FlatsSelection,
            FlatsSectionSwitcher,
            FlatsFloorSwitcher,
            VButton,
            IconArrowRightLong,
            VCircleButton,
        },

        props: {
            building: {
                type: Object,
                default: () => ({}),
            },

            floors: {
                type: Array,
                default: () => [],
            },

            activeFloor: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                currentFloor: {},
            };
        },

        computed: {
            defaultIndex() {
                return this.floors.findIndex(floor => floor.id === this.activeFloor.id);
            },

            currentFloorNumber() {
                return this.currentFloor?.number ? this.currentFloor.number : '';
            },

            flats() {
                return this.currentFloor?.flatSet ? this.currentFloor.flatSet : [];
            },

            buildingName() {
                return this.building?.nameDisplay ? this.building.nameDisplay : '';
            },
        },

        watch: {
            activeFloor: {
                handler: function(val) {
                    this.currentFloor = {...val};
                },
            },
        },

        mounted() {
            this.currentFloor = this.floors.find(floor => floor.id === this.activeFloor.id);
        },

        methods: {
            onFloorChange(floor) {
                this.currentFloor = floor;
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualFlats {
        background-color: $base-50;
        height: auto;
    }

    .container {
        display: flex;
        height: 100%;
    }

    .body {
        position: relative;
        flex-grow: 1;
        padding-top: 8rem;
        padding-left: 6rem;
    }

    .aside {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 42.4rem;
        padding-top: 8rem;
        padding-bottom: 8.6rem;
        border-right: 1px solid $base-100;
    }

    .back {
        position: relative;
        padding-left: 6.4rem;
        margin-bottom: 8.6rem;
    }

    .btn {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(180deg);
    }

    .title {
        display: flex;
        flex-direction: column;
        color: rgba($base-500, .32);

        & :first-child {
            color: $base-500;
        }
    }

    .link {
        position: absolute;
        right: 0;
        top: 7.6rem;
        z-index: 2;
    }
</style>
