<template>
    <li class="v-tab"
        :class="classList">
        <component :is="component"
                   v-bind="linkProperties"
                   class="btn-reset v-tab__btn"
                   :type="!link && !href ? 'button' : null"
                   @click.stop.prevent="$emit('click')">
            <span class="v-tab__content">
                <slot></slot>
            </span>
        </component>
    </li>
</template>

<script>
    export default {
        name: 'VTab',

        props: {
            active: {
                type: Boolean,
                default: false,
            },

            activeColor: {
                type: String,
                default: '',
            },

            disabled: {
                type: Boolean,
                default: false,
            },

            href: {
                type: String,
                default: '',
            },
            link: {
                type: [String, Object],
                default: '',
            },
            blank: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            classList() {
                return [
                    `v-tab--${this.$parent.color}`,
                    {
                        'is-active': this.active,
                        [`_${this.activeColor}`]: this.activeColor,
                        'is-disabled': this.disabled,
                        'is-rounded': this.$parent.rounded,
                    },
                ];
            },

            component() {
                if (this.href) {
                    return 'a';
                } else if (this.link) {
                    return 'n-link';
                }
                return 'button';
            },

            linkProperties() {
                const linkProperties = {};
                if (this.link) {
                    linkProperties.to = this.link;
                } else if (this.href) {
                    linkProperties.href = this.href;
                }

                if (this.blank) {
                    linkProperties.target = '_blank';
                }
                return linkProperties;
            },
        },
    };
</script>

<style lang="scss">
    $transition: .3s $bezier-second;

    .v-tab {
        border-left: 1px solid;
        border-right: 1px solid;

        @include hover {
            &:hover,
            &:focus {
                .v-tab__btn {
                    &:before {
                        transform: translateZ(0) scaleY(1);
                    }
                }
            }
        }

        &.is-active {
            pointer-events: none;

            .v-tab__btn {
                pointer-events: none;

                &:before {
                    transform: translateZ(0) scaleY(1);
                }
            }
        }

        &.is-disabled {
            opacity: .5;
            pointer-events: none;
        }

        /* colors */
        &--default {
            border-color: $base-100;
            background-color: $milk;

            .v-tab__btn {
                color: $base-500;
                border-top: 1px solid $base-100;
                border-bottom: 1px solid $base-100;

                &:before {
                    background-color: $base-500;
                }
            }

            @include hover {
                &:hover,
                &:focus {
                    .v-tab__btn {
                        color: $milk;
                    }
                }
            }

            &._redline {
                .v-tab__btn:before {
                    background-color: $redline;
                }
            }

            &._moxxy {
                .v-tab__btn:before {
                    background-color: $moxxy;
                }
            }

            &._vice {
                .v-tab__btn:before {
                    background-color: $vice;
                }
            }

            &.is-active {
                pointer-events: none;

                .v-tab__btn {
                    color: $milk;
                }
            }
        }

        &--milk {
            border-left: 1px solid rgba($milk, .16);
            border-right: 1px solid rgba($milk, .16);
            background-color: $base-800;

            .v-tab__btn {
                color: $milk;
                border-top: 1px solid rgba($milk, .16);
                border-bottom: 1px solid rgba($milk, .16);

                &:before {
                    background-color: $milk;
                }
            }

            @include hover {
                &:hover,
                &:focus {
                    .v-tab__btn {
                        color: $base-500;
                    }
                }
            }

            &.is-active {
                pointer-events: none;

                .v-tab__btn {
                    color: $base-500;
                }
            }
        }

        /* end colors */

        &.is-rounded {
            width: 100%;
        }

        &__btn {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 4.8rem;
            padding: 0 3.2rem;
            font-size: 1.2rem;
            line-height: 4.8rem;
            font-weight: 500;
            white-space: nowrap;
            pointer-events: auto;
            transition: border-color $transition;

            &:before {
                content: "";
                position: absolute;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                bottom: -1px;
                left: -1px;
                will-change: transform;
                transform: translateZ(0) scaleY(0);
                transform-origin: 100% 100%;
                transition: transform $transition;
            }

            @include respond-to(xs) {
                height: 40px;
                padding: 0 11vw;
                line-height: 40px;
            }
        }

        &__content {
            position: relative;
            z-index: 1;
        }
    }
</style>
