<template>
    <div class="v-tabs"
         :class="classes">
        <ul class="v-tabs__wrapper">
            <slot></slot>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'VTabs',

        props: {
            color: {
                type: String,
                default: 'default',
            },

            rounded: Boolean,
        },

        computed: {
            classes() {
                return {
                    'is-rounded': this.rounded,
                };
            },
        },
    };
</script>

<style lang="scss">
    .v-tabs {
        pointer-events: none;

        @include respond-to(sm) {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            pointer-events: all;
        }

        &.is-rounded {
            overflow-x: hidden;

            .v-tabs__wrapper {
                width: 100%;
            }
        }

        &__wrapper {
            display: flex;
            pointer-events: all;

            & > :not(:first-child) {
                border-left: none;
            }
        }
    }
</style>
