<template>
    <div :class="$style.InfraMap">
        <div ref="aside"
             :class="$style.aside"
             @mouseenter="handleMouseEnter"
             @mouseleave="handleMouseLeave">
            <div :class="$style.link">
                <a :class="[$style.btn, $style._yandex]"
                   :href="yandexLink"
                   target="_blank">
                    <span :class="[$style.icon, $style._yandex]">
                        <IconYandex class="frame-icon" />
                    </span>
                    <span :class="[$style.yandexLabel, $style.label]"
                          class="category-label">
                        <span v-if="$mq === 'xs'">
                            На Я.Карте
                        </span>
                        <span v-else>
                            Открыть Я.Карты
                        </span>
                    </span>
                </a>
            </div>

            <button type="button"
                    class="btn-reset"
                    :class="[$style.btn, $style._environment]"
                    @click="handleCategoriesToggle">
                <span :class="[$style.environmentLabel, $style.label]"
                      class="category-label">
                    <span>Выберите</span> окружение
                </span>
                <span :class="[$style.icon, $style._environment]">
                    <IconEnvironment class="frame-icon" />
                </span>
            </button>

            <InfraMapCategories
                v-if="!isMobile"
                :class="$style.categories"
                :categories="infra"
                :is-opened="isHoveredAside"
                :active-categories="activeCategories"
                @change="onCategoryChange"
            />
        </div>

        <div :class="$style.content">
            <div ref="map"
                 :class="$style.map">
            </div>

            <ZoomButtons
                :class="$style.zoom"
                @zoom-in="zoomIn"
                @zoom-out="zoomOut"
            />
        </div>

        <MapPopup v-if="isOpenCategories"
                  @click="handleCategoriesToggle">
            <template #title>
                <h2 :class="$style.title">
                    Окружение
                </h2>
            </template>
            <InfraMapCategories
                :categories="infra"
                :active-categories="activeCategories"
                @change="onCategoryChange"
                @group-change="onGroupChange"
            />
        </MapPopup>

        <InfraMapPopup
            v-if="activePin"
            :item="activePin"
            :color-class="cityColorClass"
            @close="onClosePinModal"
        />
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {prettyDate} from '../../../../assets/js/utils/commonUtils';
    import {
        initMap,
        getTileLayer,
        genHtmlMarker,
        // boundsWithCenter,
    } from '../../../../assets/js/utils/mapUtils';

    /* components */
    import IconYandex from '../../../icons/IconYandex';
    import ZoomButtons from '../../../common/map/ZoomButtons';
    import InfraMapCategories from './InfraMapCategories';
    import IconEnvironment from '../../../icons/IconEnvironment';
    import MapPopup from '../../../common/projects-map/MapPopup';
    import InfraMapPopup from './InfraMapPopup';

    let L;
    if (process.browser) {
        L = require('leaflet');
        require('leaflet.markercluster');
    }

    export default {
        name: 'InfraMap',

        components: {
            InfraMapPopup,
            MapPopup,
            IconEnvironment,
            InfraMapCategories,
            ZoomButtons,
            IconYandex,
        },

        props: {
            project: {
                type: Object,
                default: () => ({}),
            },

            infra: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                map: undefined,
                isOpenCategories: false,
                activeCategories: [],
                layerGroup: [],
                featureGroup: {},
                infraCluster: false,
                activePin: null,
                isHoveredAside: false,
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            cityColorClass() {
                return this.project?.city?.color ? this.cityClass(this.project.city.color) : 'vice';
            },

            yandexLink() {
                return `https://yandex.ru/maps/?rtext=~${this.project.latitude}%2C${this.project.longitude}`;
            },

            filteredInfraObjects() {
                if (this.activeCategories.length) {
                    return this.infra.filter(item => this.activeCategories.includes(item.id));
                }
                return this.infra;
            },
        },

        mounted() {
            this.$nextTick(() => {
                this.initMap();
            });
        },

        methods: {
            handleCategoriesToggle() {
                this.isOpenCategories = !this.isOpenCategories;
            },

            handleMouseEnter() {
                if (this.isMobile) {
                    return;
                }

                this.isHoveredAside = true;
            },

            handleMouseLeave() {
                if (this.isMobile) {
                    return;
                }

                this.isHoveredAside = false;
            },

            zoomIn() {
                this.map.zoomIn();
            },

            zoomOut() {
                this.map.zoomOut();
            },

            async initMap() {
                if (!this.$refs.map) {
                    return;
                }
                const projectCenter = [this.project.latitude, this.project.longitude];

                this.map = initMap(this.$refs.map, {center: projectCenter});
                const tile = getTileLayer();
                tile.addTo(this.map);

                const html = `
                <a href="${this.link}"
                    target="_blank"
                    class="project-marker project-marker--small _${this.cityColorClass} not-hovered">
                    <span class="project-marker__image"
                          style="background-image: url(${this.project.imageDisplay})">
                    </span>
                </a>`;

                genHtmlMarker(projectCenter, html)
                    .addTo(this.map);

                if (this.project.tenMinutesCircle) {
                    const circle = L.circle(projectCenter, {
                        radius: 1000,
                        fill: false,
                        stroke: false,
                    }).addTo(this.map);
                    L.imageOverlay(this.project.tenMinutesCircle, circle.getBounds()).addTo(this.map);
                }

                this.infraCluster = L.markerClusterGroup({
                    animateAddingMarkers: true,
                    animate: true,
                    showCoverageOnHover: false,
                    spiderfyOnMaxZoom: false,
                    disableClusteringAtZoom: 17,
                    iconCreateFunction: function(cluster) {
                        return L.divIcon({html: `<div class="infra-cluster"><span>${cluster.getChildCount()}</span></div>`});
                    },
                });

                await this.addInfraPins();

                this.flyTo();
            },

            addInfraPins() {
                this.filteredInfraObjects.forEach(item => {
                    item.infraSet.edges.forEach(pin => {
                        if (pin.node.latitude && pin.node.longitude) {
                            this.infraCluster.addLayer(this.createInfraPin(item.iconContent, pin.node));
                        }
                    });
                });

                this.map.addLayer(this.infraCluster);
            },

            createInfraPin(icon, infraObj) {
                let pinHtml;

                if (infraObj.isMain) {
                    let infoString = '';
                    if (infraObj.exploitation) {
                        infoString += `
                                <li class="infra-pin__info-item">
                                    <span class="c-base-400">Срок сдачи</span>
                                    <span class="c-base fw-500">${new Date(infraObj.exploitation) < new Date() ? 'сдан' : prettyDate(infraObj.exploitation)}</span>
                                </li>`;
                    }
                    infraObj.infracontentSet.forEach(item => {
                        infoString += `
                                <li class="infra-pin__info-item">
                                    <span class="c-base-400">${item.name}</span>
                                    <span class="c-base">${item.value}</span>
                                </li>`;
                    });

                    let tag = '';

                    if (infraObj.type.name) {
                        tag = `<span class="infra-pin__tag description">
                                   ${infraObj.type.name}
                               </span>`;
                    }
                    pinHtml = `
                    <div class="infra-pin _${this.cityColorClass}">
                        <div class="infra-pin__icon">
                            ${icon}
                        </div>
                        <div class="infra-pin__body is-main">
                            <div class="infra-pin__content">
                               <div class="infra-pin__box">
                                   ${tag}
                                    <p class="infra-pin__name">
                                        ${infraObj.name}
                                    </p>
                                    <address class="infra-pin__address">
                                        ${infraObj.address}
                                    </address>
                                    <ul class="infra-pin__info">
                                        ${infoString}
                                    </ul>
                               </div>
                            </div>
                        </div>
                    </div>`;
                } else {
                    pinHtml = `
                    <div class="infra-pin _${this.cityColorClass}">
                        <div class="infra-pin__icon">
                            ${icon}
                        </div>
                        <div class="infra-pin__body">
                            <div class="infra-pin__content">
                               <div class="infra-pin__box">
                                   <span class="infra-pin__text c-base">
                                            ${infraObj.name}${infraObj.type?.name ? ',' : ''}
                                   </span>
                                   <span class="infra-pin__text c-base-300">
                                       ${infraObj.type?.name ? `${infraObj.type.name}` : ''}
                                   </span>
                               </div>
                            </div>
                        </div>
                    </div>`;
                }

                const pinIcon = L.divIcon({
                    html: pinHtml,
                });

                return L.marker([infraObj.latitude, infraObj.longitude], {
                    icon: pinIcon,
                    riseOnHover: true,
                }).on('click', () => {
                    if (this.$mq !== 'xs') {
                        return;
                    }
                    this.handlePinModalOpen(infraObj);
                });
            },

            handlePinModalOpen(item) {
                this.activePin = item;
            },

            onClosePinModal() {
                this.activePin = null;
            },

            onCategoryChange(id) {
                if (!id) {
                    this.activeCategories = [];
                } else if (!this.activeCategories.includes(id)) {
                    this.activeCategories = [...this.activeCategories, id];
                } else {
                    this.activeCategories = [...this.activeCategories.filter(item => item !== id)];
                }
                this.addMarkers();
            },

            onGroupChange(group) {
                if (!group) {
                    this.activeCategories = [];
                } else {
                    this.activeCategories = [...group];
                }
                this.isOpenCategories = false;

                this.addMarkers();
            },

            async addMarkers() {
                this.infraCluster.clearLayers();

                if (this.infra && this.infra.length) {
                    await this.addInfraPins();

                    this.flyTo();
                }
            },

            flyTo() {
                this.map.flyToBounds(this.infraCluster.getBounds(), {
                    maxZoom: 16,
                    padding: [50, 50],
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .InfraMap {
        position: relative;
        width: 100%;
        height: calc(100vh - #{$sub-header-h});
        min-height: calc(900px - #{$sub-header-h});
        z-index: 2;
        padding-left: 16rem;

        @include respond-to(sm) {
            position: static;
            height: 100%;
            min-height: auto;
            padding-left: 0;
        }
    }

    .aside {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 16.1rem;
        height: 100%;
        overflow: hidden;
        padding: 5.2rem 5.6rem;
        background-color: #fff;
        border-right: 1px solid $base-100;
        will-change: width;
        transition: width $default-transition;

        @include hover {
            &:hover {
                width: 36rem;

                :global .category-label {
                    opacity: 1;
                    transition-delay: .3s;
                }
            }
        }

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 40px;
            background-color: $base-100;
            transform: translate(-50%, -50%);

            @include respond-to(sm) {
                content: '';
            }

            @include respond-to(xs) {
                height: 16px;
            }
        }

        @include respond-to(sm) {
            flex-direction: row;
            justify-content: space-between;
            top: auto;
            bottom: 0;
            width: 100%;
            height: 104px;
            padding: 0 28px 0 $side-padding-tablet;
            border-right: none;
            border-top: 1px solid $base-100;
        }

        @include respond-to(xs) {
            height: 70px;
            padding: 0 $side-padding-mobile;
        }
    }

    .link {
        @include respond-to(sm) {
            display: flex;
        }
    }

    .btn {
        position: relative;
        display: inline-flex;
        align-items: center;

        &._yandex {
            color: $redline;
        }

        &._environment {
            display: none;
            color: $base-500;

            @include respond-to(sm) {
                display: flex;
            }

            .icon {
                svg {
                    color: $milk;
                }
            }
        }
    }

    .categories {
        flex-shrink: 1;
        flex-grow: 0;
        height: 100%;
        max-height: 85%;
        margin-top: 5.6rem;

        @include respond-to(sm) {
            margin-top: 0;
            max-height: none;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        background-color: currentColor;

        &._yandex {
            @include respond-to(sm) {
                margin-right: 16px;
            }

            @include respond-to(xs) {
                margin-right: 12px;
            }
        }

        @include respond-to(xs) {
            height: 40px;
            width: 40px;
        }
    }

    .environmentLabel {
        margin-right: 1.6rem;
        color: $base-500;

        @include respond-to(xs) {
            margin-right: 12px;
            text-transform: capitalize;

            span {
                display: none;
            }
        }
    }

    .label {
        position: absolute;
        top: 50%;
        left: 100%;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        transform: translateY(-50%);
        opacity: 0;
        white-space: nowrap;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            position: static;
            transform: none;
            opacity: 1;
        }

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .yandexLabel {
        left: calc(100% + 2rem);
    }

    .title {
        display: none;

        @include respond-to(xs) {
            position: absolute;
            top: 24px;
            left: 50%;
            display: block;
            font-size: 16px;
            line-height: 1.52;
            font-weight: 500;
            color: $base-300;
            transform: translateX(-50%);
        }
    }

    .content {
        width: 100%;
        height: 100%;
    }

    .map {
        z-index: 1;
        height: 100%;
    }

    .zoom {
        position: absolute;
        right: 5.6rem;
        bottom: 5.2rem;
        z-index: 2;

        @include respond-to(sm) {
            right: 40px;
            bottom: 50%;
            transform: translateY(50%);
        }

        @include respond-to(xs) {
            right: 16px;
        }
    }
</style>
