<template>
    <div ref="container"
         :class="$style.InfraMapCategories">
        <h2 :class="$style.title">
            Выберите окружение
        </h2>
        <component :is="isMobile ? 'div' : 'VScrollBox'"
                   v-bind="properties"
                   :class="$style.body">
            <div :class="$style.wrapper">
                <button v-for="category in displayedCategories"
                        ref="category"
                        :key="category.id"
                        type="button"
                        class="btn-reset"
                        :class="[$style.category, {[$style._active]: isMobile ? activeTypes.includes(category.id) : activeCategories.includes(category.id)}]"
                        @click="handleCategoryClick(category.id)">
                    <span :class="$style.icon"
                          v-html="category.iconContent">
                    </span>
                    <span :class="$style.label"
                          class="category-label">
                        {{ category.name }}
                    </span>
                </button>

                <button v-if="lastCategories.length && !isShowOtherCategories"
                        :key="'number'"
                        type="button"
                        class="btn-reset"
                        disabled
                        :class="$style.category">
                    <span :class="[$style.icon, $style._number]">
                        +{{ lastCategories.length }}
                    </span>
                </button>
            </div>
        </component>

        <VButton v-if="isMobile"
                 :class="$style.resetBtn"
                 rounded
                 :disabled="!activeTypes.length"
                 color="vice"
                 @click="onResetClick">
            Сбросить
        </VButton>
        <VButton v-if="isMobile"
                 :class="$style.applyBtn"
                 rounded
                 :disabled="isDisabledApply"
                 @click="onApplyClick">
            Применить
        </VButton>
    </div>
</template>

<script>
    import {union} from 'lodash';
    import {resizeMixin} from '../../../../mixins/resizeMixin';

    /* components */
    import VButton from '../../../ui/button/VButton';
    import VScrollBox from '../../../ui/scrollbox/VScrollBox';

    export default {
        name: 'InfraMapCategories',

        components: {
            VScrollBox,
            VButton,
        },

        mixins: [
            resizeMixin,
        ],

        props: {
            categories: {
                type: Array,
                default: () => [],
            },

            activeCategories: {
                type: Array,
                default: () => [],
            },

            isOpened: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                activeTypes: this.activeCategories,
                throttleResize: null,
                isShowOtherCategories: true,
                count: 0,
                containerHeight: null,
            };
        },

        computed: {
            firstCategories() {
                return this.count ? this.categories.slice(0, this.count) : this.categories;
            },

            lastCategories() {
                return this.count ? this.categories.slice(this.count) : '';
            },

            displayedCategories() {
                return this.isShowOtherCategories ? this.categories : this.firstCategories;
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            isDisabledApply() {
                return !union(this.activeCategories, this.activeTypes).length;
            },

            properties() {
                if (this.isMobile) {
                    return {};
                }
                return {
                    yRailPosition: 'left',
                    resizable: true,
                    railColor: 'gray',
                    styles: this.styles,
                };
            },

            styles() {
                return this.isMobile ? '' : {maxHeight: `${this.containerHeight}px`};
            },
        },

        watch: {
            isOpened(val) {
                this.isShowOtherCategories = val;
            },
        },

        mounted() {
            if (this.isMobile) {
                return;
            }

            this.$nextTick(() => {
                if (this.categories.length > 1) {
                    this.checkOffset();
                }
            });
        },
        methods: {
            handleCategoryClick(id) {
                if (this.isMobile) {
                    this.activeTypes = !this.activeTypes.includes(id) ? [...this.activeTypes, id] : [...this.activeTypes.filter(item => item !== id)];
                } else {
                    this.$emit('change', id);
                }
            },

            onResetClick() {
                this.activeTypes = [];
                this.$emit('change');
            },

            onApplyClick() {
                this.$emit('group-change', this.activeTypes);
            },

            handleResize() {
                if (this.isMobile) {
                    return;
                }
                if (this.categories.length > 1) {
                    this.checkOffset();
                }
            },

            checkOffset() {
                if (!this.$refs.container) {
                    return;
                }

                this.isShowOtherCategories = true;
                this.$nextTick(() => {
                    const category = Array.from(this.$refs.category);
                    if (!category.length) {
                        return;
                    }
                    let count = 0;
                    const containerHeight = this.$refs.container?.offsetHeight;
                    for (let i = 0; i < category.length; i++) {
                        const height = category[i].offsetHeight;
                        const top = category[i].offsetTop;
                        if (top + (height * 2) + (height / 3) > containerHeight) {
                            count = i;
                            this.containerHeight = top + height;
                            break;
                        }
                    }
                    this.count = count;

                    this.isShowOtherCategories = false;
                    this.isTicking = false;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .InfraMapCategories {
        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            width: 384px;
            height: 100%;
            padding: 5.2rem $side-padding-tablet;
            background-color: $milk;
        }

        @include respond-to(xs) {
            padding: 24px $side-padding-mobile 16px;
            width: 100%;
        }
    }

    .title {
        display: none;
        font-size: 24px;
        line-height: 1.32;
        font-weight: 500;
        color: $base-500;

        @include respond-to(sm) {
            display: block;
            margin-bottom: 32px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .body {
        margin-left: -1.6rem;
        height: 100%;

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            padding-bottom: 16px;
            overflow-y: scroll;
        }
    }

    .wrapper {
        padding-left: 1.6rem;
        height: 100%;

        @include respond-to(sm) {
            height: auto;
            padding-left: 0;
        }
    }

    .category {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $base-300;
        transition: opacity $default-transition;

        @include hover {
            &:hover {
                opacity: .8;
            }
        }

        &._active {
            color: $base-500;

            .icon {
                background-color: $base-500;
                color: $milk;
            }
        }

        &:not(:first-child) {
            margin-top: 1.6rem;
        }
    }

    .label {
        position: absolute;
        top: 50%;
        left: calc(100% + 2rem);
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 500;
        transform: translateY(-50%);
        opacity: 0;
        white-space: nowrap;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            position: static;
            margin-left: 2rem;
            transform: none;
            opacity: 1;
        }

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        background-color: rgba($base-100, .4);
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 700;
        color: $base-400;
        transition: background-color $default-transition;

        &._number {
            padding-top: .2rem;
        }

        svg {
            transform: translateZ(0);
            fill: currentColor;
            transition: fill $default-transition;
        }
    }

    .resetBtn {
        margin-top: auto;
    }

    .applyBtn {
        margin-top: 16px;
    }
</style>
