<template>
    <transition name="fade"
                appear
                @enter="visible = true"
                @before-leave="visible = false">
        <div :class="$style.InfraMapPopup">
            <transition name="scale-appear">
                <div v-if="visible"
                     :class="$style.body">
                    <VCircleButton :class="$style.close"
                                   color="milk"
                                   size="small"
                                   bordered
                                   @click="$emit('close')">
                        <IconClose class="frame-icon is-default" />
                    </VCircleButton>
                    <div :class="$style.content">
                        <VTag v-if="infraType"
                              :class="$style.tag"
                              :color="colorClass"
                              outline>
                            {{ infraType }}
                        </VTag>
                        <div :class="$style.name"
                             class="subtitle3">
                            {{ item.name }}
                        </div>
                        <address v-if="item.address"
                                 :class="$style.address">
                            {{ item.address }}
                        </address>

                        <ul v-if="(item.infracontentSet && item.infracontentSet.length) || completion"
                            :class="$style.info">
                            <li v-if="completion"
                                :class="$style.item">
                                <span class="c-base-400">
                                    Срок сдачи
                                </span>
                                <span class="c-base">
                                    {{ completion }}
                                </span>
                            </li>
                            <li v-for="(content, index) in item.infracontentSet"
                                :key="index"
                                :class="$style.item">
                                <span class="c-base-400">
                                    {{ content.name }}
                                </span>
                                <span class="c-base">
                                    {{ content.value }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script>
    import {prettyDate} from '../../../../assets/js/utils/commonUtils';

    /* components */
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconClose from '../../../icons/IconClose';
    import VTag from '../../../ui/tag/VTag';

    export default {
        name: 'InfraMapPopup',

        components: {
            VTag,
            IconClose,
            VCircleButton,
        },

        props: {
            item: {
                type: Object,
                default: () => ({}),
            },

            colorClass: {
                type: String,
                default: 'vice',
            },
        },

        data() {
            return {
                visible: false,
            };
        },

        computed: {
            infraType() {
                return this.item.type?.name ? this.item.type.name : '';
            },

            completion() {
                return this.item.exploitation ? new Date(this.item.exploitation) < new Date() ? 'сдан' : prettyDate(this.item.exploitation) : '';
            },
        },
    };
</script>

<style lang="scss" module>
    .InfraMapPopup {
        position: fixed;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba($base-500, .8);
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:global(.scale-appear-enter-active),
        &:global(.scale-appear-leave-active) {
            transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        }

        &:global(.scale-appear-enter),
        &:global(.scale-appear-leave-active) {
            opacity: 0;
            transform: scale(.8);
        }
    }

    .close {
        position: relative;
        z-index: 2;
        margin-bottom: -16px;
    }

    .content {
        width: 257px;
        padding: 28px 24px 20px;
        border-radius: 16px;
        background-color: $milk;
        box-shadow: $box-shadow;
    }

    .tag {
        margin-bottom: 8px;
    }

    .name {
        margin-bottom: 4px;
        color: $base-500;
    }

    .address {
        font-size: 14px;
        line-height: 1.16;
        color: $base-300;
    }

    .info {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid $base-100;
    }
</style>
