<template>
    <section :class="$style.ProjectInfra"
             data-anhor="location">

        <h3 :class="$style.title"
            class="h3 container subtitle3">
            Расположение и инфраструктура
        </h3>

        <div id="location"
             :class="$style.anchor"
             class="anchor-project">
        </div>

        <div v-if="isMobile"
             class="container">
            <div :class="$style.bodyTablet"
                 :style="{backgroundImage: `url(${mapImage})`}">
                <div :class="[$style.pin, classes]">
                    <span :class="$style.icon"
                          :style="{backgroundImage: `url(${project.imageDisplay})`}">
                    </span>
                </div>
                <VButton :class="$style.btn"
                         color="vice"
                         @click="onOpenMap">
                    Открыть карту
                </VButton>
            </div>
        </div>

        <InfraMap
            v-else-if="infra && infra.length"
            :project="project"
            :infra="infra"
        />
    </section>
</template>

<script>
    import {mapGetters} from 'vuex';

    /* queries */
    import allInfraCategories from '../../../../queries/project-slug/allInfraCategories.graphql';

    /* components */
    import VButton from '../../../ui/button/VButton';
    import InfraMap from './InfraMap';
    import InfraModal from '../../../layout/modals/InfraModal';

    export default {
        name: 'ProjectInfra',

        components: {
            InfraMap,
            VButton,
        },

        props: {
            project: {
                type: Object,
                default: () => ({}),
            },
        },

        async fetch() {
            try {
                const {data} = await this.$axios.$post('/graphql/', {
                    query: allInfraCategories.loc.source.body,
                    variables: {project: this.project.id},
                });

                this.infra = data?.allInfraCategories?.edges ? data.allInfraCategories.edges.map(item => item.node) : [];
            } catch (e) {
                console.log('fetch ProjectInfra', e);
            }
        },

        data() {
            return {
                mapImage: '/images/project/map-mobile.jpg',
                infra: [],
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            classes() {
                return this.project?.city?.color ? [this.$style[`_${this.cityClass(this.project.city.color)}`]] : '';
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        methods: {
            onOpenMap() {
                this.$modal.open(InfraModal, {
                    project: this.project,
                    infra: this.infra,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectInfra {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $base-50;

        @include respond-to(sm) {
            padding-bottom: 4rem;
        }
    }

    .anchor {
        position: relative;
    }

    .title {
        width: 100%;
        padding-top: 5.6rem;
        padding-bottom: 4.8rem;
        color: $base-300;
        border-top: 1px solid $base-100;

        @include respond-to(sm) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        @include respond-to(xs) {
            padding-bottom: 24px;
            border-top: none;
            line-height: 1.25;
        }
    }

    .bodyTablet {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 13.5rem 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include respond-to(sm) {
            display: flex;
        }

        @include respond-to(xs) {
            padding: 4rem 1.6rem 2.4rem;
        }
    }

    .pin {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
        border: 5px solid;

        @include respond-to(xs) {
            width: 48px;
            height: 48px;
            border: 4px solid;
        }

        &._vice {
            border-color: $vice;
        }

        &._redline {
            border-color: $redline;
        }

        &._moxxy {
            border-color: $moxxy;
        }
    }

    .icon {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .btn {
        margin-top: 3.2rem;

        @include respond-to(xs) {
            width: 100%;
            margin-top: 28px;
        }
    }
</style>
