<template>
    <section :class="[$style.MortgageTools, classes]">
        <div class="container">
            <div :class="$style.header">
                <div :class="$style.title">
                    Ипотечные инструменты
                </div>

                <!--controls-->
                <div v-if="!$device.isTablet"
                     v-show="isControlsVisible"
                     :class="$style.controls">
                    <GalleryFraction
                        :class="$style.fraction"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                    />

                    <div :class="$style.pagination">
                        <div ref="pagination"
                             class="swiper-pagination swiper-pagination-progressbar">
                        </div>
                    </div>

                    <div :class="$style.buttons">
                        <VCircleButton ref="prev"
                                       :class="[$style.controlBtn, $style._prev]"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                        <VCircleButton ref="next"
                                       :class="[$style.controlBtn, $style._next]"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>
                </div>
            </div>

            <div ref="slider"
                 :class="$style.slider"
                 class="swiper-container">
                <div class="swiper-wrapper">
                    <div v-for="(card, idx) of slides"
                         :key="idx"
                         class="swiper-slide"
                         :class="$style.slide">
                        <FeatureCard
                            :class="$style.card"
                            :index="idx"
                            :card="card"
                            color="milk"
                            text-field-name="description"
                        />
                    </div>
                </div>
            </div>

            <div v-if="$device.isTablet"
                 :class="$style.controls">
                <GalleryFraction
                    :class="$style.fraction"
                    :current="fractionCurrent"
                    :total="fractionTotal"
                />

                <div :class="$style.pagination">
                    <div ref="pagination"
                         class="swiper-pagination swiper-pagination-progressbar">
                    </div>
                </div>

                <div :class="$style.buttons">
                    <VCircleButton ref="prev"
                                   :class="[$style.controlBtn, $style._prev]"
                                   color="milk">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                    <VCircleButton ref="next"
                                   :class="[$style.controlBtn, $style._next]"
                                   color="milk">
                        <IconArrowRight class="frame-icon" />
                    </VCircleButton>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import VCircleButton from '@/components/ui/button/VCircleButton';
    import IconArrowRight from '@/components/icons/IconArrowRight';
    import GalleryFraction from '@/components/common/gallery/GalleryFraction';
    import FeatureCard from '../../common/features/FeatureCard';

    export default {
        name: 'MortgageTools',

        components: {
            FeatureCard,
            GalleryFraction,
            IconArrowRight,
            VCircleButton,
        },

        props: {
            slides: {
                type: Array,
                default: () => [],
            },

            loading: Boolean,
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
            };
        },

        computed: {
            classes() {
                return {
                    [this.$style['is-loading']]: this.loading
                };
            },

            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },

            isControlsVisible() {
                switch (this.$mq) {
                    case 'xs':
                        return this.slides.length > 1;
                    case 'sm':
                        return this.slides.length > 2;
                    case 'md':
                        return this.slides.length > 3;
                    case 'lg':
                    default:
                        return this.slides.length > 4;
                }
            }
        },

        watch: {
            slides(val) {
                if (this.slider) {
                    this.slider.destroy();
                    this.$nextTick(() => {
                        if (val.length > 1) {
                            this.initSwiper();
                        }
                    });
                    this.activeIndex = 0;
                } else if (val.length > 1) {
                    this.initSwiper();
                }
            }
        },

        mounted() {
            this.$nextTick(() => {
                if (this.slides.length) {
                    this.initSwiper();
                }
            });
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 'auto',
                    loop: true,
                    loopFillGroupWithBlank: true,
                    watchSlidesProgress: true,
                    watchSlidesVisibility: true,
                    lazy: true,
                    spaceBetween: 24,
                    breakpoints: {
                        1920: {
                            slidesPerView: 4,
                            slidesPerGroup: 4,
                            spaceBetween: 48,
                        },

                        992: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 40,
                        },

                        768: {
                            slidesPerView: 2,
                            slidesPerGroup: 2,
                            spaceBetween: 24,
                        },
                    },

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                    },
                };

                this.$nextTick(() => {
                    this.slider = new Swiper(this.$refs.slider, options);

                    this.slider.on('slideChange', () => {
                        this.activeIndex = this.slider.realIndex;
                    });
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageTools {
        padding: 4.6rem 0 5.6rem;
        background-color: $base-50;
        transition: opacity .3s linear;

        &.is-loading {
            opacity: .5;
        }

        @include respond-to(sm) {
            padding: 40px 0;
        }

        @include respond-to(xs) {
            position: relative;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.36;
        color: $base-300;

        @include respond-to(xs) {
            font-size: 16px;
            line-height: 1.25;
        }
    }

    .controls {
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 0;
        }
    }

    .fraction {
        margin-right: 1.6rem;

        @include respond-to(xs) {
            position: absolute;
            z-index: 10;
            top: 112px;
            left: 40px;
            margin-right: 0;
        }
    }

    .pagination {
        width: 66.2rem;
        margin-right: 2.4rem;

        @include respond-to(sm) {
            width: 500px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .buttons {
        @include respond-to(sm) {
            display: flex;
        }

        :global(.v-circle-button--medium) {
            @include respond-to(sm) {
                width: 40px;
                height: 40px;
            }

            @include respond-to(xs) {
                width: 32px;
                height: 32px;
            }
        }
    }

    .slider {
        margin-top: 4rem;

        @include respond-to(xs) {
            margin-top: 20px;
        }
    }

    .slide {
        display: flex;
        width: 42rem;
        min-height: 50.2rem;
        height: auto;

        @include respond-to(sm) {
            width: 288px;
            min-height: 406px;
        }
    }

    .card {
        height: 100%;
    }

    .controlBtn {
        &._next {
            margin-left: 1.6rem;
            transform: rotate(180deg);

            @include respond-to(xs) {
                margin-left: 8px;
            }
        }
    }
</style>
