<template>
    <section :class="[$style.MortgageHero, classes]">
        <div class="container">
            <div :class="$style.content">
                <div :class="$style.detail">
                    <div :class="$style.wrap"
                         :style="{height: `${wrapHeight}px`}">
                        <div ref="texts"
                             :class="$style.texts">
                            <div :class="$style.titleWrap">
                                <div :class="[$style.title, {[$style._mortgage]: mortgageButton}]"
                                     v-html="title">
                                </div>
                            </div>

                            <div :class="$style.descWrap">
                                <div v-if="desc"
                                     :class="$style.desc"
                                     v-html="desc">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="!isMobile"
                         :class="$style.actions">
                        <VButton :class="$style.btn"
                                 color="inverse"
                                 @click="onCallbackClick">
                            Оставить заявку
                        </VButton>
                        <VButton v-show="mortgageButton"
                                 :class="$style.btn"
                                 color="trans"
                                 @click="onMortgageClick">
                            Рассчитать ипотеку
                        </VButton>
                    </div>
                    <div v-if="notes.length && $device.isDesktop"
                         :class="$style.notes">
                        <div v-for="(note, idx) in notes"
                             :key="idx"
                             :class="$style.note"
                             v-html="note">
                        </div>
                    </div>
                </div>
                <div :class="$style.list">
                    <div v-for="(item, idx) in list"
                         :key="idx"
                         :class="$style.item">
                        <div :class="$style.text"
                             v-html="item.title">
                        </div>
                        <div v-if="item.iconContent"
                             :class="$style.icon"
                             v-html="item.iconContent">
                        </div>
                        <div v-else
                             :class="$style.count">
                            {{ idx|getCount }}
                        </div>
                    </div>
                </div>
                <template v-if="isMobile">
                    <div :class="$style.actions">
                        <VButton :class="$style.btn"
                                 color="inverse"
                                 @click="onCallbackClick">
                            Оставить заявку
                        </VButton>
                        <VButton v-show="mortgageButton"
                                 :class="$style.btn"
                                 color="trans"
                                 @click="onMortgageClick">
                            Рассчитать ипотеку
                        </VButton>
                    </div>

                    <div v-if="notes.length && isCapital"
                         :class="$style.notes">
                        <div v-for="(note, idx) in notes"
                             :key="idx"
                             :class="$style.note"
                             v-html="note">
                        </div>
                    </div>
                </template>
            </div>

            <Callback
                v-if="form.id"
                :class="$style.order"
                :forms="mortgageForms"
                :city="city"
                no-header
            />
        </div>
    </section>
</template>

<script>
    import {scrollTo} from '../../../assets/js/utils/commonUtils';

    /* components */
    import VButton from '@/components/ui/button/VButton';
    import Callback from '@/components/common/callback/Callback';
    import MortgageRequestForm from '@/components/common/forms/MortgageRequestForm';
    import RequestFormModal from '@/components/layout/modals/RequestFormModal';

    export default {
        name: 'MortgageHero',

        components: {
            Callback,
            VButton,
        },

        filters: {
            getCount(idx) {
                return idx + 1 < 10 ? `0${idx + 1}` : `${idx + 1}`;
            },
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            desc: {
                type: String,
                default: '',
            },

            notes: {
                type: Array,
                default: () => [],
            },

            list: {
                type: Array,
                default: () => [],
            },

            form: {
                type: Object,
                default: () => ({}),
            },

            mortgageButton: {
                type: Boolean,
                default: false,
            },

            isCapital: {
                type: Boolean,
                default: false,
            },

            city: {
                type: String,
                default: '',
            },

            yandexMetrikaEventName: {
                type: String,
                default: '',
            },

            loading: Boolean,
        },

        data() {
            return {
                wrapHeight: null,
            };
        },

        computed: {
            classes() {
                return [
                    {
                        [this.$style['is-capital']]: this.isCapital,
                        [this.$style['is-loading']]: this.loading,
                    },
                ];
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            mortgageForms() {
                return [{...this.form, id: 'mortgage'}];
            },
        },

        watch: {
            title() {
                this.updateTextHeight();
            },

            desc() {
                this.updateTextHeight();
            },
        },

        destroyed() {
            console.log('is-dest');
        },

        methods: {
            onCallbackClick() {
                let title;

                if (this.$route.path === '/purchase/mortgage/') {
                    title = 'Заявка на ипотеку';
                } else if (this.$route.path === '/purchase/installment/') {
                    title = 'Заявка на рассрочку';
                } else {
                    title = 'Обратный звонок';
                }

                let params = {
                    title: title,
                    subtitle: 'Проконсультируем в течение часа',
                    form: MortgageRequestForm,
                };

                if (this.yandexMetrikaEventName) {
                    params = {...params, ...{yandexMetrika: this.yandexMetrikaEventName}};
                }
                this.$modal.open(RequestFormModal, params);
            },

            onMortgageClick() {
                scrollTo('calculator');
            },

            updateTextHeight() {
                this.$nextTick(() => {
                    this.wrapHeight = this.$refs.texts.offsetHeight;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgageHero {
        background-color: $base-500;
        padding: 8rem 0 5.6rem;
        color: $body-bg;

        @include respond-to(sm) {
            padding: 64px 0 64px;
        }

        @include respond-to(xs) {
            padding: 40px 0;
        }

        &.is-loading {
            .title {
                transform: translateY(100%);
            }

            .list {
                transform: translateY(1rem);
                opacity: 0;
            }

            .desc {
                transform: translateY(1rem);
                opacity: 0;
            }
        }

        &.is-capital {
            @include respond-to(sm) {
                padding: 40px 0 40px;
            }

            .actions {
                padding-top: 7rem;
                padding-bottom: 24rem;

                @include respond-to(sm) {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            .order {
                @include respond-to(sm) {
                    margin-top: 40px;
                }
            }

            .text {
                @include respond-to(xs) {
                    max-width: 208px;
                }
            }

            .btn {
                &:first-of-type {
                    @include respond-to(xs) {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        justify-content: space-between;

        @include respond-to(sm) {
            display: block;
        }
    }

    .detail {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 30rem;

        @include respond-to(sm) {
            max-width: none;
        }
    }

    .wrap {
        overflow: hidden;
        width: 32rem;
        transition: height .2s linear;

        @include respond-to(sm) {
            width: auto;
        }
    }

    .titleWrap {
        overflow: hidden;
    }

    .title {
        font-size: 3.2rem;
        line-height: 1.24;
        transition: transform .3s ease-in-out;

        @include respond-to(sm) {
            font-size: 28px;
            line-height: 1.28;
        }

        @include respond-to(xs) {
            font-size: 20px;
            line-height: 1.4;
        }

        & > span {
            display: inline-block;
            color: $redline;
        }

        &._mortgage {
            max-width: 30.4rem;

            @include respond-to(sm) {
                max-width: none;
            }
        }
    }

    .descWrap {
        overflow: hidden;
        max-width: 30rem;

        @include respond-to(sm) {
            max-width: none;
        }
    }

    .desc {
        margin-top: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.46;
        color: $base-200;
        transition: opacity .3s linear, transform .3s linear;

        @include respond-to(xs) {
            margin-top: 8px;
        }
    }

    .actions {
        position: sticky;
        top: 0;
        z-index: 2;
        padding-top: 12.8rem;

        @include respond-to(sm) {
            display: flex;
            position: static;
            margin-top: 40px;
            padding-top: 0;
        }

        @include respond-to(xs) {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 24px;
        }
    }

    .btn {
        width: 100%;
        margin-top: 1.2rem;

        @include respond-to(sm) {
            margin-top: 0;
            margin-left: 24px;
        }

        @include respond-to(xs) {
            margin-left: 0;
        }

        &:first-child {
            margin-top: 0;
            margin-left: 0;

            @include respond-to(xs) {
                margin-top: 16px;
            }
        }
    }

    .notes {
        margin-top: auto;

        @include respond-to(sm) {
            margin-top: 32px;
        }

        @include respond-to(xs) {
            margin-top: 20px;
        }
    }

    .note {
        margin-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 1.46;
        color: rgba($base-200, .5);

        &:first-of-type {
            margin-top: 0;
        }

        & > span {
            color: rgba($redline, .5);
        }
    }

    .list {
        flex-grow: 1;
        margin-left: 24.4rem;
        transition: opacity .3s linear, transform .3s linear;

        @include respond-to(lg) {
            margin-left: 12.4rem;
        }

        @include respond-to(sm) {
            margin-top: 40px;
            margin-left: 0;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 11.2rem;
        padding: 0 4rem;
        background-color: rgba($base-400, .16);
        font-size: 2.4rem;
        line-height: 1.32;
        margin-top: 2.4rem;

        @include respond-to(sm) {
            height: 76px;
            margin-top: 16px;
            font-size: 22px;
        }

        @include respond-to(xs) {
            height: 72px;
            margin-top: 8px;
            padding: 0 16px;
            font-size: 16px;
            line-height: 1.25;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    .text {
        @include respond-to(xs) {
            max-width: 130px;
        }

        span {
            color: $redline;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;

        @include respond-to(sm) {
            width: 28px;
            height: 28px;
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
        }

        & > svg {
            width: 100%;
            height: 100%;
            fill: $base-300;
        }
    }

    .count {
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 1.24;
        letter-spacing: -1px;
        color: $base-300;

        @include respond-to(sm) {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.28;
        }
    }

    .order {
        margin-top: 8rem;

        @include respond-to(sm) {
            margin-top: 64px;
        }

        @include respond-to(xs) {
            margin-top: 40px;
        }
    }

    :global(.change-mortgage-enter) {
        transform: translateY(100%);
    }

    :global(.change-mortgage-enter-to) {
        transform: translateY(0%);
    }

    :global(.change-mortgage-leave) {
        transform: translateY(0%);
    }

    :global(.change-mortgage-leave-to) {
        transform: translateY(-100%);
    }

    :global(.change-mortgage-enter-active),
    :global(.change-mortgage-leave-active) {
        transition: transform .3s ease-in-out;
    }
</style>
