<template>
    <div :class="$style.ParkingFilter"
         class="container">
        <div :class="$style.container">

            <FilterHead
                v-if="$mq === 'xs'"
                title="Паркинг"
                type="filter"
                :value="values.city"
                :specs="specs.city"
                label-field-name="label"
                value-field-name="value"
                @city-change="$emit('change', $event)"
                @close="$emit('close')"
            />

            <!--projects-->
            <FilterContainer :class="$style.cell"
                             label="Проект">
                <SelectFilter
                    :value="values.project"
                    :facet="facets.project"
                    :spec="specs.project && specs.project.length ? [{value: '', label: 'Любой'}, ...specs.project] : [{value: '', label: 'Любой'}]"
                    multiple
                    @change="$emit('change', {project: $event})"
                />
            </FilterContainer>

            <!--completion-->
            <FilterContainer :class="$style.cell"
                             label="Срок сдачи">
                <SelectFilter
                    :value="values.completionDate"
                    :facet="facets.completion_date"
                    :spec="specs.completion_date && specs.completion_date.length ? [{value: '', label: 'Любой'}, ...specs.completion_date] : [{value: '', label: 'Любой'}]"
                    @change="$emit('change',{completionDate: $event})"
                />
            </FilterContainer>

            <!--area-->
            <FilterContainer :class="[$style.cell, $style._range]"
                             label="Площадь, м<sup>2</sup>">
                <RangeFilter
                    :facet="facets.area"
                    :spec="specs.area"
                    :value-min="values.areaMin"
                    :value-max="values.areaMax"
                    @change="$emit('change',{areaMin: $event[0],areaMax: $event[1]})"
                />
            </FilterContainer>

            <!--price-->
            <FilterContainer :class="[$style.cell, $style._range]"
                             label="Стоимость, &#8381;">
                <RangeFilter
                    :facet="facets.price"
                    :spec="specs.price"
                    :value-min="values.priceMin"
                    :value-max="values.priceMax"
                    @change="$emit('change', {priceMin: $event[0], priceMax: $event[1]})"
                />
            </FilterContainer>

            <div :class="[$style.checkbox, $style._mobile]">
                <VCheckbox :value="values.action"
                           :disabled="facets.action && !facets.action.includes('true')"
                           @input="$emit('change', {action: $event})">
                    Акция
                </VCheckbox>
            </div>
        </div>

        <div :class="$style.controls">
            <div :class="[$style.checkbox, $style._desktop]">
                <VCheckbox :value="values.action"
                           :disabled="facets.action && !facets.action.includes('true')"
                           @input="$emit('change', {action: $event})">
                    Акция
                </VCheckbox>
            </div>

            <button v-if="count"
                    type="button"
                    :class="$style.count"
                    class="button1 btn-reset"
                    @click="handleScrollClick">
                {{ count }} мест{{ count|plural(['о', 'а', '']) }}
            </button>
            <span v-else
                  :class="$style.count"
                  class="button1">
                нет мест
            </span>

            <div :class="[$style.resetBtn, {[$style._active]: isResetActive}]">
                <span :class="$style.label"
                      class="button1 c-base">
                    Сбросить
                </span>
                <VCircleButton :disabled="!isResetActive"
                               @click="$emit('reset')">
                    <span :class="$style.resetIcon">
                        <IconPlus class="frame-icon" />
                    </span>
                </VCircleButton>
            </div>
        </div>

        <div :class="$style.actions">
            <VButton v-if="$mq === 'xs'"
                     :class="$style.resetBtn"
                     :disabled="!isResetActive"
                     color="vice"
                     rounded
                     @click="$emit('reset')">
                Сбросить фильтр
            </VButton>
            <VButton v-if="$mq === 'xs'"
                     :class="$style.showBtn"
                     rounded
                     @click="$emit('close')">
                <span v-if="count">
                    Показать {{ count }} квартир{{ count|plural(['а', 'ы', '']) }}
                </span>
                <span v-else>
                    нет квартир
                </span>
            </VButton>
        </div>
    </div>
</template>

<script>
    import {scrollTo} from '../../../assets/js/utils/commonUtils';

    /* components */
    import FilterContainer from '../../filters/FilterContainer';
    import SelectFilter from '../../filters/SelectFilter';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconPlus from '../../icons/IconPlus';
    import RangeFilter from '../../filters/RangeFilter';
    import VCheckbox from '../../ui/checkbox/VCheckbox';
    import VButton from '../../ui/button/VButton';
    import FilterHead from '../../common/filter/FilterHead';

    export default {
        name: 'ParkingFilter',

        components: {
            FilterHead,
            VButton,
            VCheckbox,
            RangeFilter,
            IconPlus,
            VCircleButton,
            SelectFilter,
            FilterContainer,
        },

        props: {
            specs: {
                type: Object,
                default: () => ({}),
            },

            facets: {
                type: Object,
                default: () => ({}),
            },

            values: {
                type: Object,
                default: () => ({}),
            },

            count: {
                type: Number,
                default: 0,
            },

            isResetActive: Boolean,
        },

        methods: {
            handleScrollClick() {
                scrollTo('results');
            },
        },
    };
</script>

<style lang="scss" module>
    .ParkingFilter {
        @include respond-to(xs) {
            padding-top: 26px;
            padding-bottom: 32px;
        }
    }

    .container {
        display: flex;
        padding-top: 3.6rem;
        margin: 0 -2.4rem;

        @include respond-to(lg) {
            margin: 0 -2rem;
        }

        @include respond-to(sm) {
            flex-wrap: wrap;
            padding-top: 20px;
        }

        @include respond-to(xs) {
            flex-direction: column;
            margin: 0;
            padding-top: 0;
        }
    }

    .close {
        top: 0;
        right: 0;

        svg {
            transform: rotate(45deg);
        }
    }

    .wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 18px;
        padding-right: 32px;
    }

    .title {
        margin-right: .4rem;
    }

    .cell {
        width: 25%;
        padding: 0 2.4rem;

        @include respond-to(lg) {
            padding: 0 2rem;
        }

        @include respond-to(sm) {
            width: 50%;
            padding: 20px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 12px 0;
        }

        &._range {
            :global {
                .v-slider {
                    @include respond-to(xs) {
                        padding: 0 12px;
                    }
                }
            }
        }
    }

    .checkbox {
        &._mobile {
            display: none;

            @include respond-to(sm) {
                display: inline-block;
                padding: 28px 20px 20px;
            }

            @include respond-to(xs) {
                padding: 12px 0;
            }
        }

        &._desktop {
            @include respond-to(sm) {
                display: none;
            }
        }
    }

    .controls {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3.5rem 0 8rem;

        @include respond-to(sm) {
            margin-bottom: 40px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .resetBtn {
        position: relative;

        @include respond-to(xs) {
            margin-bottom: 16px;
        }

        &._active {
            .resetIcon {
                transform: rotate(360deg);
            }
        }

        .label {
            right: calc(100% + 2rem);
        }
    }

    .resetIcon {
        width: 4rem;
        height: 4rem;
        transition: transform .3s $apple-cubic;

        svg {
            transform: rotate(45deg);
        }
    }

    .label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .count {
        position: absolute;
        left: 50%;
        top: 50%;
        color: $vice;
        transform: translate(-50%, -50%);

        @include respond-to(sm) {
            position: static;
            transform: none;
        }
    }

    .actions {
        position: sticky;
        z-index: 10;
        bottom: 0;
        margin-top: 24px;
    }
</style>
