<template>
    <div :class="$style.MediaContent">
        <article v-for="item in firstCards"
                 :key="item.id"
                 :class="$style.card">
            <component
                :is="component"
                :card="item"
                :type="currentTab"
                :is-link="currentTab === 'action' || currentTab === 'news'"
                :is-blank="false"
                @card-click="onCardClick"
            />
        </article>

        <article :class="$style.card">
            <FormCard
                :city="city"
                type="subscribe"
            />
        </article>

        <article v-for="item in lastCards"
                 :key="item.id"
                 :class="$style.card">
            <component
                :is="component"
                :card="item"
                :type="item.type === currentTab ? currentTab : item.type"
                :is-link="currentTab === 'action' || currentTab === 'news'"
                :is-blank="false"
                @card-click="onCardClick"
            />
        </article>
    </div>
</template>

<script>
    /* queries */
    import newsletterSubscription from '../../../queries/requests/newsletterSubscription.graphql';

    /* components */
    import PromoCard from '../../common/promo/PromoCard';
    import FormCard from '../../common/form/FormCard';
    import MediaCard from '../../common/MediaCard';
    import GalleryModal from '../../layout/modals/GalleryModal';
    import IframeModal from '../../layout/modals/IframeModal';

    export default {
        name: 'MediaContent',

        components: {
            GalleryModal,
            MediaCard,
            FormCard,
            PromoCard,
        },

        props: {
            city: {
                type: String,
                default: '',
            },

            list: {
                type: Array,
                default: () => [],
            },

            activeTab: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                currentTab: this.activeTab,
            };
        },

        computed: {
            component() {
                return this.currentTab === 'action' ? PromoCard : MediaCard;
            },

            firstCards() {
                return this.list.slice(0, 4);
            },

            lastCards() {
                return this.list.slice(4);
            },
        },

        watch: {
            activeTab(val) {
                setTimeout(() => {
                    this.currentTab = val;
                }, 300);
            },
        },

        methods: {
            onCardClick(card, type) {
                if (type === 'video' || (type === 'progress' && card.videoUrl)) {
                    this.$modal.open(IframeModal, {
                        link: card.videoUrl,
                    });
                } else if (type === 'progress') {
                    const images = [...card.imageSlideSet, ...card.videoSlideSet];
                    const date = card.date;
                    if (!images.length) {
                        return;
                    }

                    let order = 1;

                    const obj = images.reduce((reducer, item) => {
                        const buildingId = item.building?.id ? item.building.id : '0';
                        const buildingName = item.building?.nameDisplay ? item.building.nameDisplay : 'Общие';
                        if (!reducer[buildingId]) {
                            order += 1;
                            reducer[buildingId] = {
                                id: buildingId,
                                name: buildingName,
                                date: date,
                                imageSlideSet: [],
                                order: buildingId === '0' ? 0 : order
                            };
                        }

                        reducer[buildingId].imageSlideSet.push(item);

                        return reducer;
                    }, {});

                    const albums = Object.keys(obj).map(key => obj[key]);

                    this.$modal.open(GalleryModal, {
                        album: albums.sort((a, b) => a.order - b.order),
                        noTabs: albums.length === 1 && albums[0].id === '0',
                    });
                }
            },

            async handleFormSubmit(data) {
                try {
                    const res = await this.$axios.$post('/graphql/', {
                        query: newsletterSubscription.loc.source.body,
                        variables: {
                            input: data,
                        },
                    });

                    if (res.data?.newsletterSubscription?.ok) {
                        // TODO: поведение на успех
                    } else {
                        console.warn('CallbackModal/handleSubmit: Запрос успешен, но не удалось отправить запрос обратного звонка');
                    }
                } catch (e) {
                    console.warn('MediaContent/handleFormSubmit: Не удалось подписаться на рассылку', e);
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .MediaContent {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1px;
    }

    .card {
        display: flex;
        width: 25%;
        height: 56rem;
        border-right: 1px solid $base-100;
        border-bottom: 1px solid $base-100;

        @include respond-to(lg) {
            width: 33.333333%;
        }

        @include respond-to(sm) {
            width: 50%;
            height: 490px;
        }

        @include respond-to(xs) {
            width: 100%;
            height: 436px;
            border-right: none;
        }
    }
</style>
