/* Text */
.title {
    font-size: 6.4rem;
    line-height: 1.12;
    font-weight: 500;

    @include respond-to(sm) {
        font-size: 56px;
        line-height: 1.14;
    }

    @include respond-to(xs) {
        font-size: 32px;
        line-height: 1.24;
    }
}

.h1 {
    font-size: 5.6rem;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: -.1rem;

    @include respond-to(sm) {
        font-size: 46px;
        line-height: 1.16;
    }

    @include respond-to(xs) {
        font-size: 28px;
        line-height: 1.28;
    }
}

.h2 {
    font-size: 4.8rem;
    line-height: 1.16;
    font-weight: 500;

    @include respond-to(sm) {
        font-size: 40px;
        line-height: 1.2;
    }

    @include respond-to(xs) {
        font-size: 24px;
        line-height: 1.32;
    }
}

.h3 {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.1rem;

    @include respond-to(sm) {
        font-size: 32px;
        line-height: 1.24;
    }

    @include respond-to(xs) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.h4 {
    font-size: 3.2rem;
    line-height: 1.24;
    font-weight: 500;
    letter-spacing: -.1rem;

    @include respond-to(sm) {
        font-size: 28px;
        line-height: 1.28;
    }

    @include respond-to(xs) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.h5 {
    font-size: 2.4rem;
    line-height: 1.32;
    font-weight: 500;

    @include respond-to(xs) {
        font-size: 18px;
        line-height: 1.56;
    }
}

.subtitle1 {
    font-size: 2.4rem;
    line-height: 1.32;
    font-weight: 500;

    @include respond-to(xs) {
        font-size: 18px;
        line-height: 1.56;
    }
}

.subtitle2 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 500;

    @include respond-to(xs) {
        font-size: 16px;
        line-height: 1.52;
    }
}

.subtitle3 {
    font-size: 1.8rem;
    line-height: 1.36;
    font-weight: 500;

    @include respond-to(xs) {
        font-size: 16px;
        line-height: 1.52;
    }
}

.p1 {
    font-size: 1.8rem;
    line-height: 1.56;

    @include respond-to(xs) {
        font-size: 16px;
        line-height: 1.52;
    }
}

.p2 {
    font-size: 1.6rem;
    line-height: 1.52;
}

.p3 {
    font-size: 1.4rem;
    line-height: 1.46;
}

.p4 {
    font-size: 1.2rem;
    line-height: 1.32;
}

.button1 {
    font-size: 1.6rem;
    line-height: 1.52;
    font-weight: 500;
}

.button2 {
    font-size: 1.4rem;
    line-height: 1.16;
    font-weight: 500;
}

.button3 {
    font-size: 1.4rem;
    line-height: 1.04;
    font-weight: 500;
}

.caption {
    font-size: 1.2rem;
    line-height: 1.32;
    font-weight: 600;
}

.description {
    font-size: 1rem;
    line-height: 1.46;
    font-weight: 500;
}

.label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.text {
    font-size: 1.6rem;
    line-height: 1.52;
}

.rub {
    font-weight: normal;
}

/* Colors */
.c-milk {
    color: $milk;
}

.c-milk-opacity {
    color: rgba($milk, .24);
}

.c-base {
    color: $base-500;
}

.c-base-200 {
    color: $base-200;
}

.c-base-300 {
    color: $base-300;
}

.c-base-400 {
    color: $base-400;
}

.c-vice {
    color: $vice;
}

.c-moxxy {
    color: $moxxy;
}

.c-redline {
    color: $redline;
}

.c-kain {
    color: $kain;
}

.c-elysium {
    color: $elysium;
}

/* Weight */

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-normal {
    font-weight: normal;
}
