<template>
    <AccordionItem :class="[$style.AdvantagesMobileItem, classes]"
                   button-position="center"
                   :header-active-color="cityColorClass"
                   icon-size="big"
                   icon-type="plus"
                   @toggle="onToggle">
        <template #header>
            <h3 :class="$style.header"
                v-html="title">
            </h3>
        </template>

        <template #content>
            <div :class="$style.wrapper"
                 class="container">
                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <div class="swiper-wrapper">
                        <div v-for="item of slides"
                             :key="item.id"
                             class="swiper-slide"
                             :class="$style.slide">
                            <ImageLazy
                                :image="item.imageDisplay"
                                :preview="item.imagePreview"
                                absolute
                            />
                        </div>
                    </div>
                </div>

                <div v-if="slides.length"
                     :class="$style.controls">
                    <div v-show="slides.length > 1"
                         :class="$style.buttons">
                        <VCircleButton ref="prev"
                                       color="milk"
                                       :class="[$style.controlBtn, $style._prev]">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>

                        <VCircleButton ref="next"
                                       color="milk"
                                       :class="[$style.controlBtn, $style._next]">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>

                    <GalleryFraction
                        v-show="slides.length > 1"
                        ref="pagination"
                        :class="$style.fraction"
                    />

                    <VCircleButton :class="$style.scaleBtn"
                                   color="milk"
                                   @click="onOpenGallery">
                        <IconScale class="frame-icon" />
                    </VCircleButton>
                </div>

                <div :class="$style.description"
                     class="text"
                     v-html="description">
                </div>
            </div>
        </template>
    </AccordionItem>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {formatFraction, renderFraction} from '../../../../assets/js/utils/swiperUtils';

    /* components */
    import AccordionItem from '../../../common/AccordionItem';
    import ImageLazy from '../../../common/ImageLazy';
    import GalleryFraction from '../../../common/gallery/GalleryFraction';
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconArrowRight from '../../../icons/IconArrowRight';
    import IconScale from '../../../icons/IconScale';
    import GalleryModal from '../../../layout/modals/GalleryModal';

    export default {
        name: 'AdvantagesMobileItem',

        components: {
            IconScale,
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
            ImageLazy,
            AccordionItem,
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            description: {
                type: String,
                default: '',
            },

            slides: {
                type: Array,
                default: () => [],
            },

            cityColorClass: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                slider: null,
                isOpen: false,
            };
        },

        computed: {
            classes() {
                return {
                    [this.$style['is-open']]: this.isOpen,
                };
            },
        },

        beforeDestroy() {
            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[AdvantagesMobileItem] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 1000,
                    slidesPerView: 1,
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },

                    pagination: {
                        el: this.$refs.pagination?.$el || false,
                        type: 'fraction',
                        formatFractionCurrent: formatFraction,

                        formatFractionTotal: formatFraction,

                        renderFraction: renderFraction,
                    },
                };

                this.slider = new Swiper(this.$refs.slider, options);
            },

            onToggle(val) {
                this.isOpen = val;
                if (!this.slider && this.slides.length > 1) {
                    this.initSwiper();
                }
            },

            onOpenGallery() {
                this.$modal.open(GalleryModal, {
                    album: {
                        slideSet: this.slides,
                    },
                    skipTabs: true,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .AdvantagesMobileItem {
        position: relative;

        &:not(:last-child) {
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: calc(100% - 3.2rem);
                transform: translateX(-50%);
                border-bottom: 1px solid $base-100;
                transition: border-color $default-transition;
            }

            &.is-open {
                &:after {
                    border-color: transparent;
                }
            }
        }
    }

    .item {
        position: relative;

        & :global .switcher {
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .header {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    }

    .wrapper {
        padding-bottom: 24px;
    }

    .slider {
        margin: 0 -16px;
    }

    .slide {
        @include aspect-ratio(320, 240);
    }

    .controls {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
        margin-top: -16px;
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        width: 72px;
    }

    .controlBtn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    .scaleBtn {
        margin-left: auto;
    }

    .fraction {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    .description {
        margin-top: 26px;
        color: $base-400;
    }
</style>
