<template>
    <button ref="tab"
            type="button"
            :class="[$style.AdvantagesAsideTab, {[$style._activeMobile]: active, [$style._active]: flags.isActiveLabel}, colorClass]"
            @click.prevent="$emit('click')">
        <span ref="dot"
              :class="[$style.dot, colorClass, {[$style._active]: flags.isActiveDot}]">
        </span>
        <span ref="label"
              v-html="label">
        </span>
    </button>
</template>

<script>
    export default {
        name: 'AdvantagesAsideTab',

        props: {
            progress: {
                type: Number,
                default: 0,
            },

            active: {
                type: Boolean,
                default: false,
            },

            label: {
                type: String,
                default: '',
            },

            cityColorClass: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                flags: {
                    isActiveLabel: false,
                    isActiveDot: false,
                },
                tabOffsetTop: 0,
            };
        },

        computed: {
            colorClass() {
                return this.cityColorClass ? this.$style[`_${this.cityColorClass}`] : '';
            },
        },

        watch: {
            progress(val) {
                this.updateFlags(val);
            },
        },

        mounted() {
            window.addEventListener('resize', this.handleResize);
            if (window.innerWidth < 992) {
                return;
            }
            this.setOffsetParams();
            this.updateFlags(this.progress);
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize);
        },

        methods: {
            updateFlags(val) {
                this.flags.isActiveLabel = this.tabOffsetTop <= val;
                this.flags.isActiveDot = this.tabOffsetTop <= val;
            },

            setOffsetParams() {
                this.tabOffsetTop = this.$refs.tab.offsetTop;
            },

            handleResize() {
                if (window.innerWidth < 992) {
                    return;
                }
                this.setOffsetParams();
            },
        },
    };
</script>

<style lang="scss" module>
    .AdvantagesAsideTab {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 7.2rem;
        padding-top: 1.6rem;
        padding-left: 2.8rem;
        font-size: 1.6rem;
        line-height: 1.25;
        font-weight: 500;
        color: $base-300;
        text-align: left;
        cursor: pointer;
        transition: color $default-transition;
        will-change: color;
        transform: translateZ(0);

        @include respond-to(sm) {
            flex-shrink: 0;
            display: inline-block;
            height: auto;
            padding: 0 32px 22px 0;
            font-size: 12px;
            line-height: 1.33;
        }

        &:after {
            position: absolute;
            left: 0;
            bottom: -1px;
            width: calc(100% - 32px);
            height: 2px;
            transform: scaleX(0);
            transform-origin: 50% 50%;
            transition: transform $default-transition;

            @include respond-to(sm) {
                content: '';
            }
        }

        &._active {
            color: $base-500;
        }

        @include respond-to(sm) {
            &._activeMobile {
                &:after {
                    background-color: currentColor;
                    transform: scaleX(1);
                }

                &._vice {
                    color: $vice;
                }

                &._redline {
                    color: $redline;
                }

                &._moxxy {
                    color: $moxxy;
                }

                &._elysium {
                    color: $elysium;
                }
            }
        }
    }

    .dot {
        position: absolute;
        left: 0;
        top: 2rem;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translateX(-42%);
        background-color: $base-100;
        transition: background-color $default-transition;

        @include respond-to(sm) {
            display: none;
        }

        &._active {
            &._vice {
                background-color: $vice;
            }

            &._redline {
                background-color: $redline;
            }

            &._moxxy {
                background-color: $moxxy;
            }

            &._elysium {
                background-color: $elysium;
            }
        }
    }
</style>
