<template>
    <div :class="$style.AdvantagesAside">
        <div ref="container"
             :class="$style.tabs">
            <div :class="[$style.rail, colorClass]">
                <div :class="$style.trackWrapper">
                    <div :class="$style.track"
                         :style="{height: `${progress}px`}">
                    </div>
                </div>
            </div>
            <AdvantagesAsideTab
                v-for="(tab, idx) in tabs"
                :key="tab.id"
                :active="idx === activeTabIndex"
                :label="tab.title"
                :progress="progress"
                :city-color-class="cityColorClass"
                @click.native="handleClick(idx, tab)"
            />
        </div>

        <div :class="$style.next">
            <VCircleButton :class="$style.btn"
                           @click="onScrollNext">
                <IconArrowRightLong class="frame-icon" />
            </VCircleButton>
            <span :class="$style.label">
                Листайте ниже
            </span>
        </div>
    </div>
</template>

<script>
    import {scrollTo} from '../../../../assets/js/utils/commonUtils';

    /* components */
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconArrowRightLong from '../../../icons/IconArrowRightLong';
    import AdvantagesAsideTab from './AdvantagesAsideTab';

    export default {
        name: 'AdvantagesAside',

        components: {
            AdvantagesAsideTab,
            IconArrowRightLong,
            VCircleButton,
        },

        props: {
            percent: {
                type: [Number, String],
                default: 0
            },

            tabs: {
                type: Array,
                default: () => [],
            },

            cityColorClass: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                activeTabIndex: 0,
                containerHeight: 0,
                isTicking: false,
            };
        },

        computed: {
            colorClass() {
                return this.cityColorClass ? this.$style[`_${this.cityColorClass}`] : '';
            },

            progress() {
                if (this.containerHeight) {
                    return this.containerHeight * this.percent;
                }

                return 0;
            }
        },

        mounted() {
            window.addEventListener('resize', this.handleResize);
            this.$nextTick(() => {
                this.containerHeight = this.$refs.container?.offsetHeight;
                // this.progress = this.containerHeight / this.tabs.length;
            });
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize);
        },

        methods: {
            onScrollNext() {
                scrollTo('location');
            },

            handleClick(index) {
                this.activeTabIndex = index;

                this.$emit('tab-change', index);
            },

            handleResize() {
                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateProgress);
                }
            },

            updateProgress() {
                if (!this.$refs.container?.offsetHeight) {
                    return;
                }
                this.containerHeight = this.$refs.container.offsetHeight;
                // this.progress = this.containerHeight / this.tabs.length;
                this.isTicking = false;
            },
        },
    };
</script>

<style lang="scss" module>
    .AdvantagesAside {
        position: relative;
        padding-left: calc((100% - #{$container-width-desktop-xl}) / 2);
        margin-right: 12.2rem;

        @include respond-to(lg) {
            padding-left: calc((100% - #{$container-width-desktop}) / 2);
        }

        @include respond-to(sm) {
            padding: 0;
            margin-right: 0;
        }
    }

    .tabs {
        position: relative;
        width: 18rem;
        margin-top: -1.6rem;

        @include respond-to(sm) {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            margin-top: 0;
            padding-top: 26px;
            padding-left: 40px;
            padding-bottom: 1px;
        }

        &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $base-100;

            @include respond-to(sm) {
                content: '';
            }
        }
    }

    .rail {
        position: absolute;
        left: 0;
        top: 2.2rem;
        height: calc(100% - 7.2rem);
        width: 1px;
        background-color: $base-100;
        overflow: hidden;

        &._vice {
            .track {
                background-color: $vice;
            }
        }

        &._redline {
            .track {
                background-color: $redline;
            }
        }

        &._moxxy {
            .track {
                background-color: $moxxy;
            }
        }

        &._elysium {
            .track {
                background-color: $elysium;
            }
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    .trackWrapper {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .track {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $base-500;
        transition: height .2s linear;
    }

    .next {
        position: absolute;
        bottom: 5.6rem;
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            display: none;
        }
    }

    .btn {
        margin-right: 2.4rem;
        transform: rotate(90deg);
    }

    .label {
        font-size: 1.4rem;
        line-height: 1.16;
        color: $base-200;
    }
</style>
