<template>
    <div ref="wrapper"
         :class="$style.ProjectAdvantages"
         data-anhor="advantages">
        <div ref="content"
             :class="[$style.content, contentClass]">
            <div id="advantages"
                 class="anchor-project">
            </div>

            <AdvantagesAside
                :class="$style.aside"
                :tabs="advantages"
                :city-color-class="cityColorClass"
                :percent="progress"
                @tab-change="onTabChange($event, true)"
            />

            <div :class="$style.info">
                <div :class="$style.scrollBtn">
                    <VCircleButton size="medium-small"
                                   @click="onScrollClick">
                        <IconArrowDownLong class="frame-icon is-default" />
                    </VCircleButton>

                    <span>Пропустить</span>
                </div>

                <transition name="fade-fast"
                            mode="out-in">
                    <div v-if="activeAdvantage"
                         :key="activeAdvantage.id"
                         :class="$style.wrapper">
                        <p :class="$style.label"
                           class="label"
                           v-html="subtitle">
                        </p>
                        <h3 :class="$style.title"
                            class="h3"
                            v-html="title">
                        </h3>
                    </div>
                </transition>

                <transition name="fade-fast"
                            mode="out-in">
                    <div v-if="activeAdvantage"
                         :key="activeAdvantage.id"
                         :class="$style.desc"
                         v-html="text">
                    </div>
                </transition>

                <div :class="[$style.controls, {[$style._hidden]: slides.length < 2}]">
                    <div :class="$style.buttons">
                        <VCircleButton ref="prev"
                                       :class="[$style.controlBtn, $style._prev]">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>

                        <VCircleButton ref="next"
                                       :class="[$style.controlBtn, $style._next]">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>

                    <GalleryFraction ref="pagination" />
                </div>
            </div>

            <div ref="slider"
                 :class="[$style.slider, {[$style._reloading]: isReloading}]"
                 class="swiper-container">
                <div class="swiper-wrapper">
                    <div v-for="(item, idx) of slides"
                         :key="idx"
                         class="swiper-slide"
                         :class="$style.slide">
                        <transition name="fade-fast"
                                    mode="out-in">
                            <ImageLazy
                                :key="activeAdvantage.id"
                                :image="item.imageDisplay"
                                :preview="item.imagePreview"
                                relative
                            />
                        </transition>
                    </div>
                </div>

                <div v-if="slides && slides.length > 1"
                     :class="$style.mobileControls"
                     class="container">
                    <GalleryFraction
                        ref="paginationTablet"
                        color="inverse"
                    />

                    <div :class="$style.buttons">
                        <VCircleButton ref="prevTablet"
                                       :class="[$style.controlBtn, $style._prev]"
                                       size="medium-small"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>

                        <VCircleButton ref="nextTablet"
                                       :class="[$style.controlBtn, $style._next]"
                                       size="medium-small"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>

                </div>
            </div>
        </div>

        <div :class="[$style.block, $style._full]"></div>

        <div v-for="(adv, idx) in advantages"
             :key="idx"
             :class="$style.block">
            <span :id="`advantage-${idx}`"
                  :class="$style.anchor">
            </span>
        </div>
    </div>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {renderFraction, formatFraction} from '../../../../assets/js/utils/swiperUtils';
    import {scrollTo} from '../../../../assets/js/utils/commonUtils';
    import {addResizeListener, dispatchResizeEvent} from '../../../../assets/js/utils/resizeUtils';

    /* components */
    import AdvantagesAside from './AdvantagesAside';
    import ImageLazy from '../../../common/ImageLazy';
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconArrowRight from '../../../icons/IconArrowRight';
    import GalleryFraction from '../../../common/gallery/GalleryFraction';
    import IconArrowDownLong from '../../../icons/IconArrowDownLong';

    export default {
        name: 'ProjectAdvantages',

        components: {
            IconArrowDownLong,
            GalleryFraction,
            IconArrowRight,
            VCircleButton,
            ImageLazy,
            AdvantagesAside,
        },

        props: {
            advantages: {
                type: Array,
                default: () => [],
            },

            cityColorClass: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                slider: null,
                activeAdvantage: null,
                activeIndex: 0,
                lastScroll: 0,
                progress: 0,
                positionState: 'start',
                isReloading: false,
                isTicking: false,
                isPortrait: false,
            };
        },

        computed: {
            scrollHeight() {
                return this.$refs?.wrapper?.offsetHeight || 0;
            },

            contentClass() {
                return {
                    [this.$style._start]: this.positionState === 'start',
                    [this.$style._fixed]: this.positionState === 'fixed',
                    [this.$style._end]: this.positionState === 'end',
                };
            },

            progressPart() {
                return parseFloat(1 / this.advantages.length);
            },

            slides() {
                return this.activeAdvantage?.advantageSlides ? this.activeAdvantage.advantageSlides : [];
            },

            title() {
                return this.activeAdvantage?.title ? this.activeAdvantage.title : '';
            },

            subtitle() {
                return this.activeAdvantage?.subtitle ? this.activeAdvantage.subtitle : '';
            },

            text() {
                return this.activeAdvantage?.text ? this.activeAdvantage.text : '';
            },
        },

        mounted() {
            if (this.$mq !== 'xs' && this.$mq !== 'sm') {
                this.isPortrait = window.matchMedia('(orientation: portrait)').matches;
                addResizeListener(this.$refs.wrapper, this.onResize);
                window.addEventListener('scroll', this.onScroll, false);
                this.onScroll();

                if (this.isPortrait) {
                    this.progress = this.progressPart / 2;
                }

                setTimeout(() => {
                    dispatchResizeEvent();
                }, 200);
            }

            this.$nextTick(() => {
                if (this.advantages.length) {
                    this.activeAdvantage = this.advantages[0];
                    this.initSwiper();
                }
            });
        },

        beforeDestroy() {
            if (this.$mq !== 'xs' && this.$mq !== 'sm') {
                window.removeEventListener('scroll', this.onScroll);
            }

            try {
                if (this.slider) {
                    this.slider.destroy();
                }
            } catch (e) {
                console.log('[ProjectAdvantages] Destroy slider ', e);
            }
        },

        methods: {
            initSwiper() {
                let options = {
                    speed: 1000,
                    slidesPerView: 1,
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },

                    pagination: {
                        el: this.$refs.pagination?.$el || false,
                        type: 'fraction',
                        formatFractionCurrent: formatFraction,

                        formatFractionTotal: formatFraction,

                        renderFraction: renderFraction,
                    },
                };

                const tabletOptions = {
                    navigation: {
                        prevEl: this.$refs.prevTablet?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.nextTablet?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },

                    pagination: {
                        el: this.$refs.paginationTablet?.$el || false,
                        type: 'fraction',
                        formatFractionCurrent: formatFraction,

                        formatFractionTotal: formatFraction,

                        renderFraction: renderFraction,
                    },
                };

                if (window.innerWidth < 992) {
                    options = {...options, ...tabletOptions};
                }

                this.slider = new Swiper(this.$refs.slider, options);
            },

            onResize() {
                if (this.$mq !== 'xs' && this.$mq !== 'sm') {
                    this.onScroll();
                }

                this.isPortrait = window.matchMedia('(orientation: portrait)').matches;
            },

            onScroll() {
                this.lastScroll = window.scrollY || window.pageYOffset;

                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateScroll);
                }
            },

            updateScroll() {
                if (!this.$refs.wrapper || this.isPortrait) {
                    this.isTicking = false;
                    return;
                }

                const y = this.$refs.wrapper.getBoundingClientRect().top.toFixed(1);
                const h = window.innerHeight - this.$refs.content.offsetHeight;

                if (y > h) {
                    if (this.positionState !== 'start') {
                        this.positionState = 'start';
                    }
                } else if ((this.scrollHeight - (-y + window.innerHeight)) <= 0) {
                    if (this.positionState !== 'end') {
                        this.positionState = 'end';
                    }
                } else {
                    this.positionState = 'fixed';
                    this.updateProgress(-y);
                }

                this.isTicking = false;
            },

            updateProgress(y) {
                const progress = (y / (this.$refs.wrapper.offsetHeight - this.$refs.content.offsetHeight)).toFixed(2);

                if (progress < 0) {
                    this.progress = 0;
                } else if (progress > 1) {
                    this.progress = 1;
                } else {
                    this.progress = parseFloat(progress);
                    const progressIndex = Math.floor(this.progress / this.progressPart);

                    if (this.activeIndex !== progressIndex) {
                        this.onTabChange(progressIndex, false);
                    }
                }
            },

            onTabChange(index, scroll) {
                const tab = this.advantages[index];
                if (!tab) {
                    return;
                }

                if (tab.id === this.activeAdvantage?.id) {
                    return;
                }

                this.activeIndex = index;
                this.isReloading = true;

                if (scroll) {
                    scrollTo(`advantage-${index}`, true);
                }

                if (this.isPortrait) {
                    this.progress = (this.progressPart * index) + (this.progressPart / 2);
                }

                this.activeAdvantage = tab;

                setTimeout(() => {
                    this.$nextTick(() => {
                        if (this.slider) {
                            this.slider.update();
                        }

                        this.isReloading = false;
                    });
                }, 300);
            },

            onScrollClick() {
                scrollTo('location');
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectAdvantages {
        position: relative;
        background-color: $base-50;

        @include respond-to(sm) {
            background-color: $milk;
        }
    }

    .content {
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100vh - #{$sub-header-h});
        min-height: calc(700px - #{$sub-header-h});
        padding: 5.5rem 0;
        z-index: 1;

        @include portrait {
            height: 50vh;
            min-height: auto;
        }

        @include respond-to(sm) {
            height: calc(100vh - #{$sub-header-h-tablet});
            min-height: auto;
            padding: 0;
            flex-direction: column;
        }

        &._start {
            position: absolute;
            top: 0;
        }

        &._fixed {
            position: fixed;
            bottom: 0;
        }

        &._end {
            position: absolute;
            bottom: 0;
        }

        &._start,
        &._fixed,
        &._end {
            @include portrait {
                position: static;
            }
        }
    }

    .block {
        position: relative;
        height: calc(50vh - #{$sub-header-h});

        &._full {
            height: calc(100vh - #{$sub-header-h});
            min-height: calc(700px - #{$sub-header-h});
        }

        @include portrait {
            display: none;
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    .anchor {
        position: absolute;
        top: calc(-75vh + #{$sub-header-h / 2});
    }

    .aside {
        flex-shrink: 0;
        min-width: 30rem;

        @include respond-to(sm) {
            width: 100%;
        }
    }

    .info {
        position: relative;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        width: 48rem;
        padding: 6.1rem 8rem 5.6rem 5.6rem;
        background-color: $milk;

        &._reloading {
            // .label,
            // .desc,
            // .title {
            //     opacity: 0;
            // }
        }

        @include respond-to(sm) {
            flex-direction: row;
            width: 100%;
            min-height: 320px;
            padding: 40px;
        }
    }

    .wrapper {
        @include respond-to(sm) {
            padding-bottom: 32px;
        }
    }

    .scrollBtn {
        display: none;

        @include respond-to(sm) {
            position: absolute;
            bottom: 40px;
            left: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        & > span {
            margin-left: 16px;
            font-size: 14px;
            line-height: 1.16;
            color: $base-200;
        }
    }

    .title {
        margin-top: 1.6rem;
        color: $base-500;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            width: 200px;
            margin-top: 12px;
        }
    }

    .label {
        transition: opacity $default-transition;
    }

    .desc {
        margin-top: auto;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-400;

        @include respond-to(sm) {
            width: 344px;
            margin-top: 0;
            margin-left: auto;
        }
    }

    .slider {
        width: 100%;
        height: 100%;
        background-color: $milk;
        transition: opacity $default-transition;

        &._reloading {
            // opacity: 0;
        }

        @include respond-to(sm) {
            order: -1;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        margin-top: 5.6rem;
        transition: opacity $default-transition, visibility .3s ease;

        &._hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    .mobileControls {
        display: none;

        @include respond-to(sm) {
            position: absolute;
            bottom: 24px;
            left: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        margin-right: 2.4rem;

        @include respond-to(sm) {
            margin-left: 32px;
        }

        @include respond-to(xs) {
            width: 72px;
            margin-left: 0;
        }
    }

    .controlBtn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }

        &._prev {
            margin-right: 1.6rem;

            @include respond-to(sm) {
                margin-right: 12px;
            }
        }
    }
</style>
