<template>
    <div :class="$style.ProjectAdvantagesMobile">
        <div id="advantages"
             class="anchor-project">
        </div>
        <AdvantagesMobileItem
            v-for="advantage in advantages"
            :key="advantage.id"
            :class="$style.item"
            :title="advantage.title"
            :description="advantage.text"
            :slides="advantage.advantageSlides"
            :city-color-class="cityColorClass"
        />
    </div>
</template>

<script>

    import AdvantagesMobileItem from './AdvantagesMobileItem';

    export default {
        name: 'ProjectAdvantagesMobile',

        components: {
            AdvantagesMobileItem,
        },

        props: {
            advantages: {
                type: Array,
                default: () => [],
            },

            cityColorClass: {
                type: String,
                default: '',
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectAdvantagesMobile {
        position: relative;
    }

    .item {
        position: relative;

        &:not(:last-child) {
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: calc(100% - 3.2rem);
                transform: translateX(-50%);
                border-bottom: 1px solid $base-100;
            }
        }
    }
</style>
