<template>
    <div :class="$style.ButtonFilter">
        <button v-for="item in spec"
                :key="item.value"
                type="button"
                class="btn-reset"
                :class="[$style.btn,
                         {
                             [$style['is-active']]: Array.isArray(value) ? value.includes(item.value) : value === item.value,
                             [$style['is-disabled']]: facet && !facet.includes(item.value)
                         }
                ]"
                @click="onClick(item.value)">
            <span>
                {{ item.label }}
            </span>
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            spec: {
                type: Array,
                default: () => [],
            },
            facet: {
                type: Array,
                default: () => [],
            },
            value: {
                type: [String, Number, Array],
                required: true,
            },
        },

        methods: {
            onClick(val) {
                if (Array.isArray(this.value)) {
                    if (this.value.includes(val)) {
                        const newVal = [...this.value];
                        newVal.splice(this.value.indexOf(val), 1);
                        this.$emit('change', newVal);
                    } else {
                        this.$emit('change', [...this.value, val]);
                    }
                } else {
                    this.value === val
                        ? this.$emit('change', '')
                        : this.$emit('change', val);
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .ButtonFilter {
        position: relative;
        display: flex;
        width: 100%;
    }

    .btn {
        position: relative;
        flex-grow: 1;
        padding: 0 .55rem 1.6rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-500;
        transition: color .3s ease;
        will-change: color;
        text-align: center;
        user-select: none;
        cursor: pointer;

        @include respond-to(xs) {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14px;
            line-height: 1.16;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $base-100;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: calc(100% + 2px);
            height: 2px;
            background-color: $vice;
            transform: scaleX(0);
            opacity: 0;
            will-change: opacity, transform;
            transition: opacity .2s ease, transform .2s ease;
        }

        &:first-child {
            flex-grow: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: left;

            @include respond-to(xs) {
                padding-right: 20px;
            }
        }

        @include hover {
            &:hover {
                color: $vice;
            }
        }

        &.is-active {
            color: $vice;

            &:after {
                opacity: 1;
                transform: scaleX(1);
                transition: opacity .3s ease, transform .3s ease;
            }
        }

        &.is-disabled {
            color: rgba($base-500, .2);
            pointer-events: none;
        }
    }

    .hint {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
</style>
