<template>
    <div :class="$style.FilterContainer">
        <div v-if="label || (postfix && !row)"
             :class="$style.title">
            <span v-if="label"
                  v-html="label">
            </span>

            <span v-if="postfix && !row"
                  :class="$style.postfix"
                  v-html="postfix">
            </span>
        </div>

        <div :class="$style.body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FilterContainer',

        props: {
            label: {
                type: String,
                default: '',
            },
            postfix: {
                type: String,
                default: '',
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterContainer {
        //
    }

    .title {
        display: flex;
        margin-bottom: 1.2rem;
        color: $base-300;
        font-size: 1.4rem;
        line-height: 1.46;

        @include respond-to(xs) {
            margin-bottom: 8px;
            font-size: 12px;
            line-height: 1.32;
        }
    }

    .postfix {
        margin-left: auto;
    }

    .body {
        position: relative;
        display: flex;
    }
</style>
