<template>
    <div :class="[$style.RangeFilter, classes]">
        <div :class="$style.inputs">
            <InputThousands
                :value="value[0]"
                :class="[$style.input, $style._first]"
                :positive-only="positiveOnly"
                @change="onInputChange($event, 'first')"
            />

            <InputThousands
                :value="value[1]"
                :class="[$style.input, $style._second]"
                @change="onInputChange($event, 'second')"
            />
        </div>

        <VSlider
            v-model="value"
            :min="spec.min"
            :max="spec.max"
            :step="step"
            :no-transition="noTransition"
            range
            @change="emitChange"
        />
    </div>
</template>

<script>
    import VSlider from '../ui/slider/VSlider';
    import InputThousands from '../ui/input/InputThousands';

    export default {
        name: 'RangeFilter',

        components: {
            InputThousands,
            VSlider,
        },

        props: {
            spec: {
                type: Object,
                required: true,
                default: () => ({min: 1, max: 100}),
            },
            facet: {
                type: Object,
                required: true,
                default: () => ({}),
            },
            valueMin: {
                type: [String, Number],
                default: '',
            },
            valueMax: {
                type: [String, Number],
                default: '',
            },
            positiveOnly: {
                type: Boolean,
                default: true,
            },
            step: {
                type: Number,
                default: 1,
            },
        },

        data() {
            return {
                noTransition: false,
                value: [this.valueMin ? this.valueMin : this.spec.min, this.valueMax ? this.valueMax : this.spec.max],
            };
        },

        computed: {
            classes() {
                return {
                    [this.$style._changed]: this.valueMin !== '' || this.valueMax !== '',
                };
            },
        },

        watch: {
            facet() {
                if (!this.valueMin && !this.valueMax) {
                    this.applyFacet();
                }
            },

            spec() {
                if (!this.valueMin && !this.valueMax) {
                    this.value = [this.spec.min, this.spec.max];
                }
            },

            valueMin(val) {
                if (val !== this.value[0]) {
                    if (val === '' && this.value[0] === this.spec.min) {
                        return;
                    }
                    this.value = [val === '' ? this.spec.min : val, this.value[1]];
                }
            },

            valueMax(val) {
                if (val !== this.value[1]) {
                    if (val === '' && this.value[1] === this.spec.max) {
                        return;
                    }

                    this.value = [this.value[0], val === '' ? this.spec.max : val];
                }
            },
        },

        created() {
            if (this.facet?.min && this.facet?.max) {
                this.value = [this.valueMin ? this.valueMin : this.facet.min, this.valueMax ? this.valueMax : this.facet.max];
            }
        },

        methods: {
            applyFacet() {
                if ((this.facet.min && this.facet.max) && (!this.valueMin && !this.valueMax)) {
                    this.value = [this.facet.min, this.facet.max];
                } else {
                    console.warn('Something wrong with range facets');
                }
            },

            emitChange() {
                let minValue = this.value[0];
                let maxValue = this.value[1];

                if (minValue <= this.spec.min) {
                    minValue = '';
                }
                if (maxValue >= this.spec.max) {
                    maxValue = '';
                }

                this.$emit('change', [minValue, maxValue]);
            },

            onInputChange(val, handler) {
                if (handler === 'first') {
                    if (val !== this.value[0]) {
                        val > this.value[1]
                            ? this.value = [this.value[1], val]
                            : this.value = [val, this.value[1]];

                        this.$nextTick(() => {
                            this.emitChange();
                        });
                    }
                }
                if (handler === 'second') {
                    if (val !== this.value[1]) {
                        val < this.value[0]
                            ? this.value = [val, this.value[0]]
                            : this.value = [this.value[0], val];
                        this.$nextTick(() => {
                            this.emitChange();
                        });
                    }
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .RangeFilter {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.52;
        font-weight: 500;
        color: $base-500;
        user-select: none;

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.16;
        }

        &._changed {
            // color: $vice;
        }
    }

    .inputs {
        position: relative;
        display: flex;
        padding-bottom: 1.6rem;

        @include respond-to(xs) {
            padding-bottom: 12px;
        }
    }

    .input {
        width: 50%;

        &._second {
            :global(.c-input__native) {
                text-align: right;
            }
        }
    }
</style>
