<template>
    <div :class="[$style.SelectFilter, classes]">
        <VSelect
            :class="$style.select"
            :value="lazyValue"
            bordered
            :multiple="multiple"
            :options="options"
            :color="color"
            :hide-disabled="hideDisabled"
            :label-name="labelName"
            :value-name="valueName"
            multiple-group
            @input="emitChange"
        />
    </div>
</template>

<script>
    import VSelect from '../ui/select/VSelect';

    export default {
        name: 'SelectFilter',

        components: {
            VSelect,
        },

        props: {
            spec: {
                type: Array,
                default: () => [],
            },

            facet: {
                type: Array,
                default: () => [],
            },

            value: {
                type: [String, Number, Array],
                required: true,
            },

            color: {
                type: String,
                default: 'default',
            },

            multiple: Boolean,

            hideDisabled: Boolean,

            applyFacets: {
                type: Boolean,
                default: true,
            },

            preselectFacet: {
                type: Boolean,
                default: false,
            },

            labelName: {
                type: String,
                default: 'label',
            },

            valueName: {
                type: String,
                default: 'value',
            },
        },

        data() {
            return {
                lazyValue: this.multiple ? Array.isArray(this.value) ? [...this.value] : [this.value] : this.value,
            };
        },

        computed: {
            classes() {
                return [
                    [this.$style[`_${this.color}`]],
                    {
                        [this.$style._changed]: this.isChanged,
                        [this.$style._disabled]: this.spec.length < 2 || this.facet.length < 2,
                    },
                ];
            },

            options() {
                return this.spec.map(opt => ({
                    ...opt,
                    disabled: opt[this.valueName] !== '' ? !this.facet.includes(opt[this.valueName]) && this.applyFacets : false,
                }));
            },

            isChanged() {
                return Array.isArray(this.lazyValue)
                    ? this.lazyValue.length
                    : this.lazyValue;
            },
        },

        watch: {
            value() {
                this.lazyValue = this.value;
            },

            facet() {
                if (this.applyFacets && this.preselectFacet) {
                    if (this.facet && this.facet.length < 2) {
                        this.lazyValue = this.facet[0];
                    } else if (this.lazyValue !== this.value) {
                        this.lazyValue = this.value;
                    }
                }
            },
        },

        created() {
            if (this.applyFacets && this.preselectFacet && this.facet && this.facet.length < 2 && !this.value) {
                this.lazyValue = this.facet[0];
            }
        },

        methods: {
            emitChange(value) {
                this.$emit('change', value);
            },
        },
    };
</script>

<style lang="scss" module>
    .SelectFilter {
        width: 100%;

        &._changed {
            :global {
                .v-select__value-add {
                    color: $vice;
                }

                .v-select__field:after {
                    transform: scaleX(1);
                }
            }
        }

        &._disabled {
            opacity: .5;
            pointer-events: none;
        }
    }

    .select {
        width: 100%;
    }
</style>
