<template>
    <label :class="[$style.TrueFalseFilter, classList]">
        <input v-model="computedValue"
               type="checkbox"
               class="visuallyhidden"
               :value="trueValue"
               :true-value="trueValue"
               :false-value="falseValue"
               :disabled="disabled"
               @focus="onFocus"
               @blur="onBlur">
        <span :class="$style.label">
            <slot></slot>
        </span>
        <span v-if="hintText"
              :class="$style.hintIcon">
            <IconHint class="frame-icon is-small" />
        </span>
        <span v-if="hintText"
              :class="$style.hint"
              v-html="hintText">
        </span>
    </label>
</template>

<script>
    import IconHint from '../icons/IconHint';

    export default {
        name: 'TrueFalseFilter',

        components: {
            IconHint,
        },

        props: {
            hintText: {
                type: String,
                default: '',
            },

            trueValue: {
                type: [String, Number, Boolean],
                default: 'true',
            },

            falseValue: {
                type: [String, Number, Boolean],
                default: '',
            },

            disabled: Boolean,
        },

        computed: {
            classList() {
                return [
                    {
                        [this.$style._disabled]: this.disabled,
                        [this.$style._checked]: this.isChecked,
                        [this.$style._focused]: this.isFocused,
                        [this.$style['has-hint']]: this.hintText,
                    },
                ];
            },

            computedValue: {
                get() {
                    return this.value;
                },

                set(value) {
                    this.$emit('input', value);
                },
            },

            isChecked() {
                if (Array.isArray(this.value)) {
                    return this.value.indexOf(this.trueValue) > -1;
                }
                return this.value === this.trueValue;
            },
        },

        methods: {
            onFocus() {
                this.isFocused = true;
            },

            onBlur() {
                this.isFocused = false;
            },
        },
    };
</script>

<style lang="scss" module>
    .TrueFalseFilter {
        position: relative;
        display: flex;
        padding: 0 .8rem 1.6rem;
        border-bottom: 1px solid $base-100;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-500;
        transition: color .3s ease;
        will-change: color;
        text-align: center;
        user-select: none;
        cursor: pointer;

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.16;
            padding-left: 0;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: calc(100% + 2px);
            height: 1px;
            background-color: $vice;
            transform: scaleX(0);
            opacity: 0;
            will-change: opacity, transform;
            transition: opacity .2s ease, transform .2s ease;
        }

        &.is-active {
            color: $vice;

            &:after {
                opacity: 1;
                transform: scaleX(1);
                transition: opacity .3s ease, transform .3s ease;
            }
        }

        &.is-disabled {
            color: rgba($base-500, .2);
            pointer-events: none;
        }
    }

    .hintIcon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin-left: 1.6rem;
        margin-right: -.8rem;
        border-radius: 50%;
        background-color: rgba($base-100, .4);
        color: $base-500;

        @include respond-to(xs) {
            margin-top: -2px;
        }

        &:hover ~ .hint {
            opacity: 1;
            visibility: visible;
            transition: opacity $default-transition, visibility $default-transition;
        }
    }

    .hint {
        position: absolute;
        top: -1rem;
        right: 0;
        display: inline-block;
        width: 21rem;
        padding: 1.2rem;
        border-radius: 8px;
        background-color: rgba($base-500, .85);
        font-size: 1.2rem;
        line-height: 1.33;
        color: $milk;
        opacity: 0;
        visibility: hidden;
        transform: translate(50%, -100%);
        transition: opacity $default-transition, visibility $default-transition .3s;

        @include respond-to(sm) {
            transform: translate(0, -100%);
        }

        @include respond-to(xs) {
            padding: 10px;
            transform: translateY(-100%);
        }
    }
</style>
