<template>
    <div :class="$style.MortgagePage">
        <MortgageHero
            :class="$style.hero"
            :list="page.advantages"
            :title="page.title"
            :loading="flags.isLoading"
            :form="page.form"
            :city="city"
            yandex-metrika-event-name="lead-ipoteka"
            mortgage-button
        />

        <MortgageTools
            v-if="page.instruments"
            :slides="page.instruments"
            :loading="flags.isLoading"
        />

        <Mortgage
            v-if="isMortgageVisible"
            id="calculator"
            :specs="mortgageSpecs"
            :facets="mortgageFacets"
            :initial-values="mortgageValues"
            :initial-count="offersCount"
            :init-offers="offers"
            :is-loading="flags.isLoading"
            background-color="night"
            hide-more
            show-price
            is-sticky-buttons
            @change="updateFacets"
        />

        <Purchase simple />

        <Layouts
            v-if="cleanedLots.length"
            :tabs="layoutTabs"
            :lots="cleanedLots"
            :active-tab="activeLayoutsTab"
            :load-layouts="onLoadLayouts"
            title="Квартиры с выгодной ставкой"
        />

        <Callback />
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import {convertToObject} from 'frontend/assets/js/utils/commonUtils';

    /* queries */
    import mortgageOffersSpecs from '../../../../queries/mortgage/allOffersSpecs.graphql';
    import mortgageOffersFacets from '../../../../queries/mortgage/allOffersFacets.graphql';
    import allBanks from '../../../../queries/mortgage/allBanks.graphql';
    import mortgagePage from '../../../../queries/mortgage/mortgagePage.graphql';
    import allGlobalFlatsFacets from '../../../../queries/flats/allGlobalFlatsFacets.graphql';
    import allGlobalFlatsSpecs from '../../../../queries/flats/allGlobalFlatsSpecs.graphql';
    import allGlobalFlats from '../../../../queries/flats/allGlobalFlats.graphql';

    /* components */
    import MortgageHero from '../../../../components/pages/mortgage/MortgageHero';
    import Callback from '../../../../components/common/callback/Callback';
    import MortgageTools from '../../../../components/pages/mortgage/MortgageTools';
    import Mortgage from '../../../../components/common/mortgage/Mortgage';
    import Purchase from '../../../../components/common/purchase/Purchase';
    import Layouts from '../../../../components/pages/project-slug/Layouts';

    export default {
        name: 'PagesPurchaseType',

        components: {
            Layouts,
            Purchase,
            Mortgage,
            MortgageTools,
            Callback,
            MortgageHero,
        },

        props: {
            city: {
                type: String,
                default: '',
            },
        },

        async asyncData({$axios, store, error, query}) {
            const activeCityId = query.city || store.getters.getActiveCityId;
            try {
                const [mortgageSpecsRes, flatsSpecRes, flatFacetRes, pageRes] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: mortgageOffersSpecs.loc.source.body,
                        variables: {
                            type: 'residential',
                            city: activeCityId,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allGlobalFlatsSpecs.loc.source.body,
                    }),

                    $axios.$post('/graphql/', {
                        query: allGlobalFlatsFacets.loc.source.body,
                        variables: {
                            favorableRate: true,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: mortgagePage.loc.source.body,
                        variables: {
                            city: activeCityId,
                        },
                    }),
                ]);

                if (!pageRes.data?.mortgagePage) {
                    return error({statusCode: 404, message: 'Страница не найдена'});
                }

                const mortgageSpecs = {...convertToObject(mortgageSpecsRes.data.allOffersSpecs)};
                const initialProgram = mortgageSpecs.program?.length ? mortgageSpecs.program[0].value : '';

                const mortgageFacetsRes = await $axios.$post('/graphql/', {
                    query: mortgageOffersFacets.loc.source.body,
                    variables: {
                        type: 'residential',
                        city: activeCityId,
                        program: initialProgram,
                    },
                });

                const mortgageFacets = {...convertToObject(mortgageFacetsRes.data.allOffersFacets?.facets)};
                const values = {
                    // type: 'residential',
                    price: mortgageFacets.price.min,
                    term: mortgageFacets.term.max,
                    deposit: mortgageFacets.deposit.min,
                    city: activeCityId,
                    program: initialProgram,
                };

                const offersRes = await $axios.$post('/graphql/', {
                    query: allBanks.loc.source.body,
                    variables: {...values},
                });

                const {rooms: specRooms} = {...convertToObject(flatsSpecRes.data.allGlobalFlatsSpecs)};
                const {rooms: facetRooms} = {...convertToObject(flatFacetRes.data.allGlobalFlatsFacets.facets)};

                let tabs = [];
                let activeLayoutsTab = '';
                let layouts = [];

                if (facetRooms.length) {
                    tabs = specRooms
                        .filter(item => facetRooms.includes(item.value))
                        .map(item => ({
                            ...item,
                            ...{
                                label: item.value !== '0' ? `${item.label} ком.` : item.label,
                            },
                        }));
                    activeLayoutsTab = tabs[0].value;

                    const layoutRes = await $axios.$post('/graphql/', {
                        query: allGlobalFlats.loc.source.body,
                        variables: {
                            favorableRate: true,
                            rooms: activeLayoutsTab,
                            first: 7,
                        },
                    });

                    layouts = layoutRes.data?.allGlobalFlats?.edges?.length ? layoutRes.data.allGlobalFlats.edges : [];
                }

                return {
                    layoutTabs: tabs,
                    layouts: layouts,
                    activeLayoutsTab: activeLayoutsTab,
                    mortgageSpecs: mortgageSpecs,
                    mortgageFacets: mortgageFacets,
                    offersCount: offersRes.data?.allBanks.totalCount,
                    offers: offersRes.data?.allBanks?.edges?.length ? offersRes.data.allBanks.edges.map(offer => offer.node) : [],
                    mortgageValues: {...values},
                    page: pageRes.data?.mortgagePage ? pageRes.data.mortgagePage : {},
                };
            } catch (e) {
                console.log('[MortgagePage/ asyncData]:', e);
            }
        },

        data() {
            return {
                flags: {
                    isLoading: false,
                },
                page: {},
                specs: {},
                mortgageValues: {},
                mortgageSpecs: {},
                mortgageFacets: {},
                offersCount: 0,
                offers: [],
                activeLayoutsTab: '',
                layoutTabs: [],
                layouts: [],
                first: 7,
            };
        },

        head() {
            return {
                title: `Условия и ипотечные программы в г.${this.cityName} от застройщика Страна Девелопмент`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `Ипотека от застройщика от ${this.activeCityMinMortgage}, ипотечные предложения, продажа квартир в новостройках от застрощика Страна Девелопмент`,
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                activeCity: state => state.active_city,
                cities: state => state.cities,
            }),

            cityName() {
                return this.mortgageValues.city ? this.cities.find(city => city.id === this.mortgageValues.city)?.name : this.activeCityName;
            },

            cleanedLots() {
                return this.layouts.length ? this.layouts.map(item => item.node) : [];
            },

            isMortgageVisible() {
                return this.mortgageFacets?.price?.min;
            },

            activeCityName() {
                return this.activeCity?.name ? this.activeCity.name : '';
            },

            activeCityMinMortgage() {
                return this.activeCity?.minMortgageResidential ? this.activeCity.minMortgageResidential : '';
            },
        },

        watch: {
            '$route.query'(val) {
                this.$nextTick(async () => {
                    await this.updateData(val.city);
                });
            },
        },

        methods: {
            fetchLayouts() {
                return this.$axios.$post('/graphql/', {
                    query: allGlobalFlats.loc.source.body,
                    variables: {
                        rooms: this.activeTab,
                        first: this.first,
                        favorableRate: true,
                    },
                }, {
                    progress: false,
                });
            },

            async updateData(city) {
                if (!city) {
                    return;
                }

                this.flags.isLoading = true;

                const start = Date.now();
                const [
                    pageRes,
                    mortgageSpecRes,
                ] = await Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: mortgagePage.loc.source.body,
                        variables: {
                            city: city,
                        },
                    }),

                    this.$axios.$post('/graphql/', {
                        query: mortgageOffersSpecs.loc.source.body,
                        variables: {
                            type: 'residential',
                            city: city,
                        },
                    }),
                ]);
                const mortgageSpecs = {...convertToObject(mortgageSpecRes.data.allOffersSpecs)};
                const initialProgram = mortgageSpecs.program?.length ? mortgageSpecs.program[0].value : '';

                const mortgageFacetsRes = await this.$axios.$post('/graphql/', {
                    query: mortgageOffersFacets.loc.source.body,
                    variables: {
                        type: 'residential',
                        city: city,
                        program: initialProgram,
                    },
                });

                const mortgageFacets = {...convertToObject(mortgageFacetsRes.data.allOffersFacets?.facets)};
                const values = {
                    // type: 'residential',
                    price: mortgageFacets.price.min,
                    term: mortgageFacets.term.max,
                    deposit: mortgageFacets.deposit.min,
                    city: city,
                    program: initialProgram,
                };

                const offersRes = await this.$axios.$post('/graphql/', {
                    query: allBanks.loc.source.body,
                    variables: {...values},
                });

                const stop = Date.now();

                if (stop - start < 400) {
                    setTimeout(() => {
                        this.page = pageRes.data?.mortgagePage ? pageRes.data.mortgagePage : {};
                        this.mortgageSpecs = mortgageSpecs;
                        this.mortgageFacets = mortgageFacets;
                        this.offersCount = offersRes.data?.allBanks.totalCount;
                        this.offers = offersRes.data?.allBanks?.edges?.length ? offersRes.data.allBanks.edges.map(offer => offer.node) : [];
                        this.mortgageValues = {...values};

                        this.$nextTick(() => {
                            this.flags.isLoading = false;
                        });
                    }, 400 - (stop - start));
                } else {
                    this.page = pageRes.data?.mortgagePage ? pageRes.data.mortgagePage : {};
                    this.mortgageSpecs = mortgageSpecs;
                    this.mortgageFacets = mortgageFacets;
                    this.offersCount = offersRes.data?.allBanks.totalCount;
                    this.offers = offersRes.data?.allBanks?.edges?.length ? offersRes.data.allBanks.edges.map(offer => offer.node) : [];
                    this.mortgageValues = {...values};

                    this.$nextTick(() => {
                        this.flags.isLoading = false;
                    });
                }
            },

            async onLoadLayouts(tab) {
                this.activeLayoutsTab = tab;
                const {data} = await this.fetchLayouts();
                this.layouts = data.allGlobalFlats.edges;
            },

            async updateFacets(values) {
                const mortgageFacetsRes = await this.$axios.$post('/graphql/', {
                    query: mortgageOffersFacets.loc.source.body,
                    variables: {...values},
                });

                this.facets = {...convertToObject(mortgageFacetsRes.data.allOffersFacets?.facets)};
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgagePage {
        //
    }

    .hero {
        margin-top: 8rem;

        @include respond-to(sm) {
            margin-top: 40px;
        }

        @include respond-to(xs) {
            margin-top: 0;
        }
    }

</style>
