<template>
    <div :class="$style.CommercialPage"
         class="page-top">
        <CommercialMenu
            :class="[$style.subheader, {[$style._visible]: flags.isVisibleSubheader}]"
            is-display-select
            fixed
            :city="activeCity"
            @open-excursion="onOpenExcursionModal"
            @city-change="onSelectCity"
        />

        <CommercialHero
            ref="hero"
            :slides="slides"
            :city="activeCity"
            :loading="flags.isLoading"
            @city-change="onSelectCity"
        />

        <CommercialMenu
            ref="menu"
            :class="[$style.menu, {[$style._loading]: flags.isLoading}]"
            :loading="flags.isLoading"
            :options="menuOptions"
            :more-options="moreMenuOptions"
            @open-excursion="onOpenExcursionModal"
        />

        <div :class="[$style.content, {[$style._loading]: flags.isLoading}]">
            <CommercialDescription
                :first-title="descriptionBlock.firstTitle"
                :second-title="descriptionBlock.secondTitle"
                :first-list="descriptionBlock.firstList"
                :second-list="descriptionBlock.secondList"
            />

            <PartnersGallery id="partners"
                             :partners="partners">
                <template #title>
                    Наши крупные арендаторы
                </template>
            </PartnersGallery>

            <WatchVideoBlock
                v-if="video.text"
                :image="video.image"
                :lead="video.lead"
                :text="video.text"
                :video="video.link"
            />

            <Features
                v-if="advantages.length"
                id="advantages"
                title="Преимущества"
                :list="advantages"
                :image-field-name="'fileDisplay'"
                :preview-field-name="'filePreview'"
            />

            <template v-if="spacesCount">
                <CommercialFilter
                    v-if="!$device.isMobile"
                    id="filter"
                    :active-city="activeCity"
                />

                <CommercialMap
                    v-if="!$device.isMobile"
                    id="location"
                    :city="city"
                    :projects="commercialProjects"
                />

                <div v-else
                     :class="$style.choice">
                    <h2 class="h3 c-base">
                        Выбрать коммерческое помещение
                    </h2>

                    <!--                    <VButton :class="$style.btn"-->
                    <!--                             color="vice"-->
                    <!--                             rounded-->
                    <!--                             @click="onMapOpen">-->
                    <!--                        Проекты на карте-->
                    <!--                    </VButton>-->

                    <VButton :class="$style.btn"
                             rounded
                             link="/commercial/filter/">
                        Подобрать по параметрам
                    </VButton>
                </div>
            </template>


            <template v-if="isDecorationAvailable">
                <DecorationMobile
                    v-if="$device.isMobile"
                    :items="furnish"
                    title="Отделка помещений"
                />

                <Decoration
                    v-else
                    :items="furnish"
                />
            </template>

            <Layouts
                v-if="spaces.length"
                title="Спецпредложение"
                button-link="/commercial/filter/"
                realty-type="commercial"
                :lots="spaces"
                :with-tabs="false"
            />

            <Mortgage
                v-if="offers.length"
                :specs="mortgageSpecs"
                :initial-values="mortgageValues"
                :initial-count="offersCount"
                :init-offers="offers"
                :is-loading="flags.isLoading"
                title="Коммерческая ипотека"
                type="commercial"
                background-color="night"
                show-price
            />

            <CommercialSimilar
                v-if="commercialCities.length"
                id="other-cities"
                :active-city="activeCity"
                :cities="commercialCities"
            />

            <ActionBlock
                link-text="Подпишитесь на&nbsp;рассылку"
                text="акций, новостей&nbsp;и&nbsp;много другого"
                :on-click="onOpenModal"
            />

            <span id="contacts"></span>

            <ContactItem
                v-for="contact in contacts"
                :key="contact.id"
                :class="$style.contact"
                :item="contact"
            />
        </div>

        <Callback />
    </div>
</template>

<script>
    import {mapActions, mapState, mapGetters} from 'vuex';
    import {convertToObject} from 'frontend/assets/js/utils/commonUtils';

    /* query */
    import commercialPropertyPage from '../../queries/commercial/commercialPropertyPage.graphql';
    import allTenants from '../../queries/allTenants.graphql';
    import allOffices from '../../queries/contacts/allOffices.graphql';
    import allGlobalCommercialSpaces
        from '../../queries/commercial/allGlobalCommercialSpaces.graphql';
    import mortgageOffersSpecs from '../../queries/mortgage/allOffersSpecs.graphql';
    import allBanks from '../../queries/mortgage/allBanks.graphql';

    /* components */
    import CommercialHero from '../../components/pages/commercial/CommercialHero';
    import CommercialMenu from '../../components/pages/commercial/CommercialMenu';
    import Callback from '../../components/common/callback/Callback';
    import ContactItem from '../../components/pages/contacts/ContactItem';
    import ActionBlock from '../../components/common/ActionBlock';
    import PartnersGallery from '../../components/common/PartnersGallery';
    import WatchVideoBlock from '../../components/common/WatchVideoBlock';
    import Features from '../../components/common/features/Features';
    import Decoration from '../../components/common/decoration/Decoration';
    import DecorationMobile from '../../components/common/decoration/DecorationMobile';
    import CommercialDescription from '../../components/pages/commercial/CommercialDescription';
    import CommercialFilter from '../../components/pages/commercial/CommercialFilter';
    import Layouts from '../../components/pages/project-slug/Layouts';
    import CommercialSimilar from '../../components/pages/commercial/CommercialSimilar';
    import CommercialMap from '../../components/pages/commercial/CommercialMap';
    import VButton from '../../components/ui/button/VButton';
    import MapModal from '../../components/layout/modals/MapModal';
    import Mortgage from '../../components/common/mortgage/Mortgage';
    import RequestFormModal from '../../components/layout/modals/RequestFormModal';
    import SubscribeForm from '../../components/common/forms/SubscribeForm';
    import ExcursionForm from '../../components/common/forms/ExcursionForm';
    import mortgageOffersFacets from '@/queries/mortgage/allOffersFacets.graphql';

    export default {
        name: 'CommercialPage',

        components: {
            Mortgage,
            VButton,
            CommercialMap,
            CommercialSimilar,
            Layouts,
            CommercialFilter,
            CommercialDescription,
            DecorationMobile,
            Decoration,
            Features,
            WatchVideoBlock,
            PartnersGallery,
            ActionBlock,
            ContactItem,
            Callback,
            CommercialMenu,
            CommercialHero,
        },

        async asyncData({$axios, query, store}) {
            const activeCity = query.city || store.getters.getActiveCityId;

            const [commercialPropertyPageRes, allTenantsRes, allOfficesRes, allSpacesRes] = await Promise.all([
                $axios.$post('/graphql/', {
                    query: commercialPropertyPage.loc.source.body,
                    variables: {
                        city: activeCity,
                    },
                }),

                $axios.$post('/graphql/', {
                    query: allTenants.loc.source.body,
                }),

                $axios.$post('/graphql/', {
                    query: allOffices.loc.source.body,
                    variables: {
                        city: activeCity,
                    },
                }),

                $axios.$post('/graphql/', {
                    query: allGlobalCommercialSpaces.loc.source.body,
                    variables: {
                        city: activeCity,
                        first: 16,
                    },
                }),
            ]);

            const page = commercialPropertyPageRes.data?.commercialPropertyPage
                ? commercialPropertyPageRes.data.commercialPropertyPage
                : {};

            const mortgageSpecsRes = await $axios.$post('/graphql/', {
                query: mortgageOffersSpecs.loc.source.body,
                variables: {
                    type: 'commercial',
                    city: activeCity,
                },
            });

            const mortgageSpecs = {...convertToObject(mortgageSpecsRes.data?.allOffersSpecs)};
            const initialProgram = mortgageSpecs.program?.length ? mortgageSpecs.program[0].value : '';

            const mortgageFacetsRes = await $axios.$post('/graphql/', {
                query: mortgageOffersFacets.loc.source.body,
                variables: {
                    type: 'commercial',
                    city: activeCity,
                    program: initialProgram,
                },
            });
            const mortgageFacets = {...convertToObject(mortgageFacetsRes.data.allOffersFacets?.facets)};

            const values = {
                type: 'commercial',
                price: mortgageFacets.price.min,
                term: mortgageFacets.term?.max ? mortgageFacets.term.max : null,
                deposit: mortgageFacets.deposit?.min ? mortgageFacets.deposit.min : null,
                city: activeCity,
                program: initialProgram,
            };

            const offersRes = await $axios.$post('/graphql/', {
                query: allBanks.loc.source.body,
                variables: {...values},
            });

            return {
                descriptionBlock: {
                    firstTitle: page.block1Title,
                    secondTitle: page.block2Title,
                    firstList: [
                        {
                            title: page.block1Item1Title,
                            text: page.block1Item1Text,
                            image: page.blockOneImageOneDisplay,
                            preview: page.blockOneImageOnePreview,
                        },
                        {
                            title: page.block1Item2Title,
                            text: page.block1Item2Text,
                            image: page.blockOneImageTwoDisplay,
                            preview: page.blockOneImageTwoPreview,
                        },
                        {
                            title: page.block1Item3Title,
                            text: page.block1Item3Text,
                            image: page.blockOneImageThreeDisplay,
                            preview: page.blockOneImageThreePreview,
                        },
                        {
                            title: page.block1Item4Title,
                            text: page.block1Item4Text,
                            image: page.blockOneImageFourDisplay,
                            preview: page.blockOneImageFourPreview,
                        },
                    ],
                    secondList: [
                        {
                            title: page.block2Item1Title,
                            text: page.block2Item1Text,
                            image: page.blockTwoImageOneDisplay,
                            preview: page.blockTwoImageOnePreview,
                        },
                        {
                            title: page.block2Item2Title,
                            text: page.block2Item2Text,
                            image: page.blockTwoImageTwoDisplay,
                            preview: page.blockTwoImageTwoPreview,
                        },
                        {
                            title: page.block2Item3Title,
                            text: page.block2Item3Text,
                            image: page.blockTwoImageThreeDisplay,
                            preview: page.blockTwoImageThreePreview,
                        },
                        {
                            title: page.block2Item4Title,
                            text: page.block2Item4Text,
                            image: page.blockTwoImageFourDisplay,
                            preview: page.blockTwoImageFourPreview,
                        },
                    ],
                },

                slides: page.slideSet?.length ? page.slideSet : [],
                partners: allTenantsRes?.data?.allTenants?.length
                    ? allTenantsRes.data.allTenants
                    : [],
                video: {
                    image: page.videoPreviewDisplay,
                    preview: page.videoPreviewPreview,
                    link: page.video,
                    text: page.videoDescription,
                    lead: page.videoTitle,
                },
                advantages: page.advantageSet?.length ? page.advantageSet : [],
                furnish: page.furnishSet?.length ? page.furnishSet : [],
                contacts: allOfficesRes?.data?.allOffices?.edges?.length
                    ? allOfficesRes.data.allOffices.edges.map(item => item.node)
                    : [],
                spaces: allSpacesRes?.data?.allGlobalCommercialSpaces?.edges?.length
                    ? allSpacesRes.data.allGlobalCommercialSpaces.edges.map(item => item.node)
                    : [],
                mortgageSpecs: mortgageSpecs,
                offersCount: offersRes.data?.allBanks.totalCount,
                offers: offersRes.data?.allBanks?.edges?.length ? offersRes.data.allBanks.edges.map(offer => offer.node) : [],
                mortgageValues: {...values},
                city: store.state.cities.find(city => city.id === activeCity),
                spacesCount: commercialPropertyPageRes.data?.allGlobalCommercialSpacesFacets?.count,
                activeCity: activeCity,
            };
        },

        data() {
            return {
                flags: {
                    isLoading: false,
                    isVisibleSubheader: false,
                    isTicking: false,
                },
                spacesCount: 0,
                descriptionBlock: {},
                slides: [],
                partners: [],
                video: {},
                advantages: [],
                furnish: [],
                contacts: [],
                spaces: [],
                activeCity: null,
                mortgageValues: {},
                mortgageSpecs: {},
                offersCount: 0,
                offers: [],
                projects: [],
                city: {},
                defaultMenuOptions: [
                    {
                        value: 'advantages',
                        label: 'Преимущества',
                    },
                    {
                        value: 'partners',
                        label: 'Арендаторы',
                    },
                    {
                        value: 'filter',
                        label: 'Подбор по параметрам',
                    },
                    {
                        value: 'location',
                        label: 'Расположение',
                    },
                    {
                        value: 'other-cities',
                        label: 'Другие города',
                    },
                    {
                        value: 'contacts',
                        label: 'Контакты',
                    },
                ],
            };
        },

        head() {
            return {
                title: this.metaTitle,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: 'Продажа коммерческой недвижимости напрямую от застройщика «Страна Девелопмент». Выбирайте строящиеся помещения, готовые помещения для бизнеса или помещения с арендаторами',
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            ...mapGetters({
                activeCityName: 'getActiveCityName',
            }),

            metaTitle() {
                const city = this.activeCity ? this.cities.find(city => city.id === this.activeCity)?.name : this.activeCityName;
                return `Продажа коммерческой недвижимости в г.${city}  — «Страна Девелопмент»`;
            },

            commercialCities() {
                return this.cities.filter(city => city.minCommercialPrice);
            },

            commercialProjects() {
                return this.city.projectSet.filter(project => project?.isCommercial);
            },

            isDecorationAvailable() {
                return Boolean(this.furnish.filter(item => item?.imageSet?.length).length);
            },

            menuOptions() {
                return this.defaultMenuOptions.filter(option => {
                    switch (option.value) {
                        case 'advantages':
                            return this.advantages.length;
                        case 'partners':
                            return this.partners.length;
                        case 'filter':
                            return false;
                    }

                    return null;
                });
            },

            moreMenuOptions() {
                return this.defaultMenuOptions.filter(option => {
                    switch (option.value) {
                        case 'location':
                            return true;
                        case 'other-cities':
                            return this.commercialCities.length;
                        case 'contacts':
                            return this.contacts.length;
                    }

                    return null;
                });
            },
        },

        async mounted() {
            await this.setHeaderColor('gray');
            this.setSmallHeaderDisplay(false);
            window.addEventListener('scroll', this.handleScroll);
        },

        beforeDestroy() {
            this.setHeaderColor('milk');
            this.setSmallHeaderDisplay(true);
        },

        methods: {
            ...mapActions('header', [
                'setHeaderColor',
                'setSmallHeaderDisplay',
            ]),

            handleScroll() {
                this.flags.isTicking = true;
                requestAnimationFrame(() => {
                    if (!this.$refs.hero && !this.$refs.menu && this.flags.isTicking) {
                        return;
                    }
                    const scrollContentHeight = this.$mq === 'xs' || this.$mq === 'sm'
                        ? this.$refs.hero.$el.offsetHeight - this.$refs.menu.$el.offsetHeight
                        : this.$refs.hero.$el.offsetHeight + this.$refs.menu.$el.offsetHeight;
                    if (window.pageYOffset > scrollContentHeight) {
                        this.flags.isVisibleSubheader = true;
                    } else {
                        this.flags.isVisibleSubheader = false;
                    }


                    this.flags.isTicking = false;
                });
            },

            onMapOpen() {
                this.$modal.open(MapModal, {component: CommercialMap});
            },

            onOpenModal() {
                this.$modal.open(RequestFormModal, {
                    title: 'Подписка на рассылку',
                    subtitle: 'Акции, новости и многое другое',
                    form: SubscribeForm,
                });
            },

            onOpenExcursionModal() {
                this.$modal.open(RequestFormModal, {
                    title: 'Записаться на показ',
                    subtitle: 'Экскурсия по объектам',
                    form: ExcursionForm,
                    yandexMetrika: 'lead-showcomm'
                });
            },

            async onSelectCity({city}) {
                this.activeCity = city;
                await this.$router.push({
                    query: {
                        city: city,
                    },
                });

                await this.updateData();
            },

            async updateData() {
                this.flags.isLoading = true;
                const start = Date.now();
                const [commercialPropertyPageRes, allOfficesRes, allSpacesRes] = await Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: commercialPropertyPage.loc.source.body,
                        variables: {
                            city: this.activeCity,
                        },
                    }),

                    this.$axios.$post('/graphql/', {
                        query: allOffices.loc.source.body,
                        variables: {
                            city: this.activeCity,
                        },
                    }),

                    this.$axios.$post('/graphql/', {
                        query: allGlobalCommercialSpaces.loc.source.body,
                        variables: {
                            city: this.activeCity,
                            action: true,
                            first: 16,
                        },
                    }),
                ]);

                const page = commercialPropertyPageRes.data?.commercialPropertyPage
                    ? commercialPropertyPageRes.data.commercialPropertyPage
                    : {};

                const stop = Date.now();

                if (stop - start < 400) {
                    setTimeout(() => {
                        this.descriptionBlock = {
                            firstTitle: page.block1Title,
                            secondTitle: page.block2Title,
                            firstList: [
                                {
                                    title: page.block1Item1Title,
                                    text: page.block1Item1Text,
                                    image: page.blockOneImageOneDisplay,
                                    preview: page.blockOneImageOnePreview,
                                },
                                {
                                    title: page.block1Item2Title,
                                    text: page.block1Item2Text,
                                    image: page.blockOneImageTwoDisplay,
                                    preview: page.blockOneImageTwoPreview,
                                },
                                {
                                    title: page.block1Item3Title,
                                    text: page.block1Item3Text,
                                    image: page.blockOneImageThreeDisplay,
                                    preview: page.blockOneImageThreePreview,
                                },
                                {
                                    title: page.block1Item4Title,
                                    text: page.block1Item4Text,
                                    image: page.blockOneImageFourDisplay,
                                    preview: page.blockOneImageFourPreview,
                                },
                            ],
                            secondList: [
                                {
                                    title: page.block2Item1Title,
                                    text: page.block2Item1Text,
                                    image: page.blockTwoImageOneDisplay,
                                    preview: page.blockTwoImageOnePreview,
                                },
                                {
                                    title: page.block2Item2Title,
                                    text: page.block2Item2Text,
                                    image: page.blockTwoImageTwoDisplay,
                                    preview: page.blockTwoImageTwoPreview,
                                },
                                {
                                    title: page.block2Item3Title,
                                    text: page.block2Item3Text,
                                    image: page.blockTwoImageThreeDisplay,
                                    preview: page.blockTwoImageThreePreview,
                                },
                                {
                                    title: page.block2Item4Title,
                                    text: page.block2Item4Text,
                                    image: page.blockTwoImageFourDisplay,
                                    preview: page.blockTwoImageFourPreview,
                                },
                            ],
                        };
                        this.slides = page.slideSet?.length ? page.slideSet : [];
                        this.video = {
                            image: page.videoPreviewDisplay,
                            preview: page.videoPreviewPreview,
                            link: page.video,
                            text: page.videoDescription,
                            lead: page.videoTitle,
                        };
                        this.contacts = allOfficesRes?.data?.allOffices?.edges?.length
                            ? allOfficesRes.data.allOffices.edges.map(item => item.node)
                            : [];
                        this.advantages = page.advantageSet?.length ? page.advantageSet : [];
                        this.furnish = page.furnishSet?.length ? page.furnishSet : [];
                        this.spaces = allSpacesRes?.data?.allGlobalCommercialSpaces?.edges?.length
                            ? allSpacesRes.data.allGlobalCommercialSpaces.edges.map(item => item.node)
                            : [];
                        this.city = this.$store.state.cities.find(city => city.id === this.activeCity);

                        this.$nextTick(() => {
                            this.flags.isLoading = false;
                        });
                    }, 400 - (stop - start));
                } else {
                    this.descriptionBlock = {
                        firstTitle: page.block1Title,
                        secondTitle: page.block2Title,
                        firstList: [
                            {
                                title: page.block1Item1Title,
                                text: page.block1Item1Text,
                                image: page.blockOneImageOneDisplay,
                                preview: page.blockOneImageOnePreview,
                            },
                            {
                                title: page.block1Item2Title,
                                text: page.block1Item2Text,
                                image: page.blockOneImageTwoDisplay,
                                preview: page.blockOneImageTwoPreview,
                            },
                            {
                                title: page.block1Item3Title,
                                text: page.block1Item3Text,
                                image: page.blockOneImageThreeDisplay,
                                preview: page.blockOneImageThreePreview,
                            },
                            {
                                title: page.block1Item4Title,
                                text: page.block1Item4Text,
                                image: page.blockOneImageFourDisplay,
                                preview: page.blockOneImageFourPreview,
                            },
                        ],
                        secondList: [
                            {
                                title: page.block2Item1Title,
                                text: page.block2Item1Text,
                                image: page.blockTwoImageOneDisplay,
                                preview: page.blockTwoImageOnePreview,
                            },
                            {
                                title: page.block2Item2Title,
                                text: page.block2Item2Text,
                                image: page.blockTwoImageTwoDisplay,
                                preview: page.blockTwoImageTwoPreview,
                            },
                            {
                                title: page.block2Item3Title,
                                text: page.block2Item3Text,
                                image: page.blockTwoImageThreeDisplay,
                                preview: page.blockTwoImageThreePreview,
                            },
                            {
                                title: page.block2Item4Title,
                                text: page.block2Item4Text,
                                image: page.blockTwoImageFourDisplay,
                                preview: page.blockTwoImageFourPreview,
                            },
                        ],
                    };
                    this.slides = page.slideSet?.length ? page.slideSet : [];
                    this.video = {
                        image: page.videoPreviewDisplay,
                        preview: page.videoPreviewPreview,
                        link: page.video,
                        text: page.videoDescription,
                        lead: page.videoTitle,
                    };
                    this.contacts = allOfficesRes?.data?.allOffices?.edges?.length
                        ? allOfficesRes.data.allOffices.edges.map(item => item.node)
                        : [];
                    this.advantages = page.advantageSet?.length ? page.advantageSet : [];
                    this.furnish = page.furnishSet?.length ? page.furnishSet : [];
                    this.spaces = allSpacesRes?.data?.allGlobalCommercialSpaces?.edges?.length
                        ? allSpacesRes.data.allGlobalCommercialSpaces.edges.map(item => item.node)
                        : [];
                    this.city = this.$store.state.cities.find(city => city.id === this.activeCity);

                    this.$nextTick(() => {
                        this.flags.isLoading = false;
                    });
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialPage {
        overflow: hidden;
    }

    .content {
        transition: opacity $default-transition;

        &._loading {
            opacity: .4;
            pointer-events: none;
        }
    }

    .subheader {
        top: 0;
        transform: translateY(-100%);
        transition: transform $default-transition;

        &._visible {
            transform: translateY(0);
        }
    }

    .menu {
        @include respond-to(sm) {
            position: absolute;
            top: $header-h-tablet;
            left: 0;
        }

        @include respond-to(xs) {
            top: $header-h-mobile;
        }
    }

    .choice {
        padding: 40px $side-padding-mobile;
    }

    .btn {
        margin-top: 16px;
    }

    .contact {
        border-bottom: 1px solid $base-100;
    }
</style>
