<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path
            d="M9 15h6v3H9v-3zm7.2 1.8v-3H7.8v3H6.6a.6.6 0 01-.6-.6v-6a.6.6 0 01.6-.6h10.8a.6.6 0 01.6.6v6a.6.6 0 01-.6.6h-1.2zm-8.4-6V12h1.8v-1.2H7.8zM9 6h6a.6.6 0 01.6.6v1.8H8.4V6.6A.6.6 0 019 6z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPrint',
    };
</script>
