<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.224 5.553a.5.5 0 10-.448.894c.61.305 1.552.962 2.337 1.92.782.954 1.387 2.179 1.387 3.633 0 1.454-.605 2.679-1.387 3.633-.785.958-1.728 1.615-2.337 1.92a.5.5 0 10.448.894c.724-.362 1.781-1.105 2.663-2.18.884-1.08 1.613-2.521 1.613-4.267 0-1.746-.729-3.188-1.613-4.267-.882-1.075-1.939-1.818-2.663-2.18zm-3.5.5a.5.5 0 00-.524.047L8.333 9H6.5A1.5 1.5 0 005 10.5v3A1.5 1.5 0 006.5 15h1.833l3.867 2.9a.5.5 0 00.8-.4v-11a.5.5 0 00-.276-.447zm2.752 2.572a.5.5 0 10-.663.75 3.499 3.499 0 010 5.25.5.5 0 00.663.75 4.498 4.498 0 000-6.75z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconSoundFull',
    };
</script>
