<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <slot />
        <path
            d="M28.589 15.186C29 16.745 29 20 29 20s0 3.255-.411 4.814a2.492 2.492 0 01-1.744 1.77C25.305 27 20 27 20 27s-5.304 0-6.845-.416a2.492 2.492 0 01-1.744-1.77C11 23.255 11 20 11 20s0-3.255.411-4.814a2.492 2.492 0 011.745-1.77C14.695 13 20 13 20 13s5.306 0 6.845.416c.85.233 1.518.91 1.744 1.77zM18.2 23.063L23.6 20l-5.4-3.063v6.125z"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconYoutube',
    };
</script>
