<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 16 16">
        <path
            d="M5.333 2.667H14V4H5.333V2.667zM2 2.333h2v2H2v-2zM2 7h2v2H2V7zm0 4.667h2v2H2v-2zm3.333-4.334H14v1.334H5.333V7.333zm0 4.667H14v1.333H5.333V12z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconList',
    };
</script>
