<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <slot />
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.91 11A4.91 4.91 0 0011 15.91v8.18A4.91 4.91 0 0015.91 29h8.18A4.91 4.91 0 0029 24.09v-8.18A4.91 4.91 0 0024.09 11h-8.18zm4.57 10.827c.738-.077 1.319-.252 1.745-.523.181-.116.317-.207.407-.271.09-.078.175-.169.252-.272.078-.103.11-.194.097-.271a3.615 3.615 0 00-.077-.33.583.583 0 00-.407-.31c-.168-.052-.388.013-.66.194l-.212.136c-.13.103-.35.2-.66.29-.31.09-.633.136-.969.136-.336 0-.665-.052-.988-.155-.31-.103-.517-.187-.62-.252a3.526 3.526 0 01-.233-.155c-.272-.181-.498-.246-.679-.194a.52.52 0 00-.368.31c-.116.233-.123.427-.02.582.104.142.33.33.68.562.413.271 1 .446 1.763.523l-.407.388-1.473 1.492c-.155.194-.207.388-.155.582a.64.64 0 00.426.426.546.546 0 00.601-.135l1.473-1.473 1.493 1.492c.194.142.387.181.581.116.207-.051.35-.193.427-.426a.521.521 0 00-.136-.582l-1.473-1.473-.407-.407zm-2.267-6.26a2.429 2.429 0 00-.737 1.782c0 .685.246 1.273.737 1.764a2.43 2.43 0 001.783.737 2.43 2.43 0 001.784-.737c.49-.49.736-1.079.736-1.764a2.34 2.34 0 00-.349-1.26 2.374 2.374 0 00-.91-.91 2.405 2.405 0 00-1.26-.35 2.43 2.43 0 00-1.784.737zm.911 2.655a1.192 1.192 0 01-.368-.873c0-.232.051-.439.155-.62.116-.194.271-.342.465-.446.194-.116.4-.174.62-.174.336 0 .627.123.873.368.245.233.368.524.368.872a1.225 1.225 0 01-1.24 1.221c-.337 0-.628-.116-.873-.348z"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconOk',
    };
</script>
