<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M21 15h-2v4h-4v2h4v4h2v-4h4v-2h-4v-4z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPlus',
    };
</script>
