<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path
            d="M7.853 7.124h8.421a.526.526 0 01.527.527v2.631a.526.526 0 01-.526.527H7.852a.526.526 0 01-.526-.527V7.651a.526.526 0 01.526-.527zm1.053 4.737h3.158a.527.527 0 01.526.526v1.58h.527v3.157H11.01v-3.158h.527v-1.052H8.38a.526.526 0 01-.527-.527v-1.052h1.053v.526zm6.175.912l.93-.93.93.93a1.316 1.316 0 11-1.86 0z" />
    </svg>
</template>

<script>
    export default {
        name: 'IconFacing',
    };
</script>
