<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.001 13.172l-1.828-1.83-1.415 1.415L12 17l4.243-4.243-1.415-1.414L13 13.17V8h-2v5.172z" />
    </svg>
</template>

<script>
    export default {
        name: 'IconArrowDownLong',
    };
</script>
