<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 21 21">
        <path
            d="M13.383 15.124a1.944 1.944 0 110-3.889 1.944 1.944 0 010 3.89zm-6.111-6.11a1.945 1.945 0 110-3.89 1.945 1.945 0 010 3.89zm6.983-3.603l.786.785-8.642 8.642-.785-.785 8.642-8.643z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconSale',
    };
</script>
