<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 160 160">
        <path
            d="M7.871 80c6.267-34.133 36.18-60 72.127-60 35.946 0 65.853 25.867 72.126 60-6.266 34.133-36.18 60-72.126 60-35.947 0-65.854-25.867-72.127-60zm72.127 33.333a33.334 33.334 0 100-66.668 33.334 33.334 0 000 66.668zm0-13.333a20 20 0 110-40 20 20 0 010 40z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconEyeLarge',
    };
</script>
