<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 20 20">
        <path d="M14.167 9.167v1.666H5.833V9.167h8.334z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconMinus',
    };
</script>
