<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <g fill="currentColor">
            <circle cx="15"
                    cy="20"
                    r="1.5" />
            <circle cx="20"
                    cy="20"
                    r="1.5" />
            <circle cx="25"
                    cy="20"
                    r="1.5" />
        </g>
    </svg>
</template>

<script>
    export default {
        name: 'IconKebab',
    };
</script>
