<template>
    <span :class="[$style.IconSort, classes]">
        <span :class="[$style.icon, $style.top]"></span>
        <span :class="[$style.icon, $style.center]"></span>
        <span :class="[$style.icon, $style.bottom]"></span>
    </span>
</template>

<script>
    export default {
        name: 'IconSort',

        props: {
            type: {
                type: String,
                default: '',
            },
        },

        computed: {
            classes() {
                return [this.$style[`_${this.type}`]];
            },
        },
    };
</script>

<style lang="scss" module>
    .IconSort {
        position: relative;
        width: 1.4rem;
        min-width: 14px;
        height: 1rem;
        min-height: 10px;

        &._asc {
            .top {
                width: .6rem;
                min-width: 6px;
            }

            .center {
                width: 1rem;
                min-width: 10px;
            }

            .bottom {
                width: 1.4rem;
                min-width: 14px;
            }
        }

        &._desc {
            .top {
                width: 1.4rem;
                min-width: 14px;
            }

            .center {
                width: 1rem;
                min-width: 10px;
            }

            .bottom {
                width: .6rem;
                min-width: 6px;
            }
        }
    }

    .icon {
        position: absolute;
        left: 0;
        display: block;
        width: 1.4rem;
        min-width: 14px;
        height: 2px;
        transition: width .3s ease;
        background-color: currentColor;
    }

    .top {
        top: 0;
    }

    .center {
        top: 50%;
        transform: translateY(-50%);
    }

    .bottom {
        bottom: 0;
    }
</style>
