<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20.999 18.828l1.828 1.83 1.415-1.415L20 15l-4.243 4.243 1.415 1.414L19 18.83V24h2v-5.172z"
              fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconArrowTopLong',
    };
</script>
