<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path
            d="M8.666 7.833v3.334L3.666 7l5-4.167v3.334h4.167a6.667 6.667 0 110 13.333h-7.5v-1.667h7.5a5 5 0 000-10H8.666z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconArrowBack',
    };
</script>
