<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.455 6.002A.5.5 0 0113 6.5v11a.5.5 0 01-.8.4L8.333 15H6.5A1.5 1.5 0 015 13.5v-3A1.5 1.5 0 016.5 9h1.833L12.2 6.1a.5.5 0 01.255-.098zm6.899 4.352a.5.5 0 10-.707-.708L17 11.293l-1.646-1.647a.5.5 0 00-.708.708L16.293 12l-1.646 1.646a.5.5 0 00.707.708L17 12.707l1.646 1.647a.5.5 0 00.708-.707L17.707 12l1.647-1.646z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconMuted',
    };
</script>
