<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 160 160">
        <path
            d="M116.667 140a23.333 23.333 0 11-.002-46.667 23.333 23.333 0 01.002 46.667zM43.333 66.667a23.333 23.333 0 110-46.667 23.333 23.333 0 010 46.667zm83.807-43.234l9.427 9.427-103.7 103.707-9.427-9.427L127.133 23.433h.007z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconSaleLarge',
    };
</script>
