<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 25">
        <path
            d="M10.652 14.284v3.686H9.008v-10h4.55c.979 0 1.796.3 2.452.9.665.6.998 1.352.998 2.257s-.333 1.657-.998 2.257c-.656.6-1.473.9-2.452.9h-2.906zm2.906-4.829h-2.906v3.343h2.906c.49 0 .9-.157 1.233-.471.333-.324.5-.724.5-1.2s-.167-.872-.5-1.186a1.699 1.699 0 00-1.233-.486z"
            fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconParking',
    };
</script>
