<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 32 32">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.744 7.808a1.788 1.788 0 012.084 1.004l1.393 3.137a1.789 1.789 0 01-.517 2.122l-1.007.806a12.14 12.14 0 003.425 3.426l.806-1.008.586.469-.585-.47a1.79 1.79 0 012.12-.515l3.138 1.393a1.79 1.79 0 011.005 2.084l-.688 2.651a1.796 1.796 0 01-1.982 1.326h-.002A16.157 16.157 0 017.767 10.479v-.002A1.796 1.796 0 019.09 8.495h.002l2.651-.687zm7.354 10.426l-1.22 1.526a.75.75 0 01-.966.178 13.64 13.64 0 01-4.85-4.85.75.75 0 01.177-.966l1.528-1.222a.288.288 0 00.083-.342l-1.393-3.137a.288.288 0 00-.335-.161l-2.651.686a.298.298 0 00-.218.326 14.657 14.657 0 0012.475 12.475.294.294 0 00.324-.217l.688-2.65a.289.289 0 00-.162-.337m0 0l-3.136-1.392a.29.29 0 00-.344.083"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPhone',
    };
</script>
