<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.414 9L9 16.414 7.586 15 15 7.586 16.414 9z"
              fill="currentColor"
        />
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9 7.586L16.414 15 15 16.414 7.586 9 9 7.586z"
              fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconClose',
    };
</script>
