<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path d="M20.172 20l-2.83-2.828 1.415-1.415L23 20l-4.243 4.243-1.414-1.415L20.172 20z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconArrowLeft',
    };
</script>
