<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.455 6.002A.5.5 0 0114 6.5v11a.5.5 0 01-.8.4L9.333 15H7.5A1.5 1.5 0 016 13.5v-3A1.5 1.5 0 017.5 9h1.833L13.2 6.1a.5.5 0 01.255-.098zm2.66 2.498a.5.5 0 01.362.125 4.498 4.498 0 010 6.75.5.5 0 11-.664-.75 3.5 3.5 0 000-5.25.5.5 0 01.301-.875z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconSound',
    };
</script>
