<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 19 20"
         fill="none">
        <path d="M12.828 5.75689L7.17204 11.4139C7.07653 11.5061 7.00035 11.6165 6.94794 11.7385C6.89553 11.8605 6.86795 11.9917 6.86679 12.1245C6.86564 12.2573 6.89094 12.3889 6.94122 12.5118C6.9915 12.6347 7.06576 12.7464 7.15965 12.8403C7.25354 12.9342 7.36519 13.0084 7.48809 13.0587C7.61098 13.109 7.74267 13.1343 7.87544 13.1331C8.00822 13.132 8.13944 13.1044 8.26145 13.052C8.38345 12.9996 8.4938 12.9234 8.58604 12.8279L14.243 7.17189C14.8057 6.60923 15.1218 5.8461 15.1218 5.05039C15.1218 4.25467 14.8057 3.49154 14.243 2.92889C13.6804 2.36623 12.9173 2.05013 12.1215 2.05013C11.3258 2.05013 10.5627 2.36623 10 2.92889L4.34304 8.58589C3.86912 9.04802 3.49167 9.59965 3.2326 10.2088C2.97353 10.8179 2.83799 11.4724 2.83384 12.1344C2.82969 12.7963 2.95702 13.4525 3.20844 14.0648C3.45986 14.6771 3.83036 15.2334 4.29846 15.7015C4.76655 16.1695 5.32293 16.5399 5.9353 16.7913C6.54767 17.0426 7.20385 17.1698 7.86578 17.1656C8.52771 17.1614 9.1822 17.0257 9.7913 16.7666C10.4004 16.5074 10.952 16.1299 11.414 15.6559L17.071 9.99989L18.485 11.4139L12.828 17.0709C12.178 17.7209 11.4063 18.2366 10.557 18.5884C9.70764 18.9402 8.79734 19.1212 7.87804 19.1212C6.95874 19.1212 6.04844 18.9402 5.19912 18.5884C4.3498 18.2366 3.57809 17.7209 2.92804 17.0709C2.278 16.4208 1.76236 15.6491 1.41056 14.7998C1.05875 13.9505 0.877686 13.0402 0.877686 12.1209C0.877686 11.2016 1.05875 10.2913 1.41056 9.44197C1.76236 8.59264 2.278 7.82093 2.92804 7.17089L8.58604 1.51489C9.52905 0.604097 10.7921 0.100125 12.103 0.111517C13.414 0.122909 14.6681 0.648754 15.5951 1.57579C16.5222 2.50284 17.048 3.7569 17.0594 5.06788C17.0708 6.37887 16.5668 7.64188 15.656 8.58489L10 14.2439C9.72138 14.5225 9.39057 14.7435 9.0265 14.8942C8.66243 15.045 8.27223 15.1225 7.87819 15.1225C7.48414 15.1224 7.09397 15.0448 6.72993 14.894C6.3659 14.7431 6.03514 14.5221 5.75654 14.2434C5.47794 13.9647 5.25696 13.6339 5.10621 13.2698C4.95546 12.9058 4.87789 12.5156 4.87794 12.1215C4.87798 11.7275 4.95564 11.3373 5.10648 10.9733C5.25732 10.6092 5.47838 10.2785 5.75704 9.99989L11.414 4.34289L12.828 5.75689Z"
              fill="#677B8F" />
    </svg>
</template>

<script>
    export default {
        name: 'IconClip',
    };
</script>
