<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path
            d="M23.536 22.485L20 26l-3.536-3.515a4.944 4.944 0 01-1.084-5.417 4.977 4.977 0 011.842-2.23 5.02 5.02 0 015.556 0 4.976 4.976 0 011.841 2.23 4.943 4.943 0 01-1.083 5.417zM20 20.075c.295 0 .577-.116.786-.323A1.102 1.102 0 0020 17.866c-.295 0-.577.116-.786.323a1.101 1.101 0 000 1.563c.209.207.491.323.786.323z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPin',
    };
</script>
