<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 160 160">
        <path
            d="M121.72 115.409L80 157l-41.72-41.591a58.763 58.763 0 01-16.146-30.116 58.65 58.65 0 013.357-33.984 58.858 58.858 0 0121.73-26.396A59.13 59.13 0 0180 15c11.67 0 23.076 3.45 32.779 9.913a58.863 58.863 0 0121.73 26.396 58.65 58.65 0 013.357 33.984 58.76 58.76 0 01-16.146 30.116zM80 86.889c3.477 0 6.812-1.377 9.271-3.829a13.05 13.05 0 003.84-9.242 13.05 13.05 0 00-3.84-9.243A13.132 13.132 0 0080 60.747a13.132 13.132 0 00-9.27 3.828 13.05 13.05 0 00-3.841 9.243 13.05 13.05 0 003.84 9.242A13.131 13.131 0 0080 86.888z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPinLarge',
    };
</script>
