<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.33 22.46V13.4h5.7v9.06h-5.7zm-1.5 0V13.4H12.5v9.06h3.33zM11.9 11.9h16.2a.9.9 0 01.9.9v11.16H11V12.8a.9.9 0 01.9-.9zm12.63 10.56V13.4h2.97v9.06h-2.97zm4.207 5.377a.9.9 0 01-.637.263H11.9a.9.9 0 01-.9-.9v-1.44h18v1.44a.9.9 0 01-.263.637z"
              fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconWindow',
    };
</script>
