<template>
    <svg viewBox="0 0 16 16"
         xmlns="http://www.w3.org/2000/svg">
        <path
            d="M2 8.31579H4.66667V14H2V8.31579ZM11.3333 5.78947H14V14H11.3333V5.78947ZM6.66667 2H9.33333V14H6.66667V2Z" />
    </svg>
</template>

<script>
    export default {
        name: 'IconCompare',
    };
</script>
