<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 32 32">
        <path d="M22 9.25h1.5v4.5H22v-3h-3v-1.5h3zm-12 0h3v1.5h-3v3H8.5v-4.5H10zm12 12v-3h1.5v4.5H19v-1.5h3zm-12 0h3v1.5H8.5v-4.5H10v3z" />
    </svg>
</template>

<script>
    export default {
        name: 'IconScale',
    };
</script>
