<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11 6l-5 5V6h5zm7 0v5l-5-5h5zm0 12v-5l-5 5h5zm-7 0H6v-5l5 5z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconVideoFullScreen',
    };
</script>
