<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M25 10h2v3h3v2h-3v3h-2v-3h-3v-2h3v-3zm-9.678 3.334H20V15h-5l-1.3 3.904A.833.833 0 0014.49 20H30v.183a.833.833 0 01-.63.809l-1.037.258v6.25a.834.834 0 01-.833.834h-.833a.833.833 0 01-.834-.834v-.833H14.167v.833a.833.833 0 01-.834.834H12.5a.833.833 0 01-.833-.834v-6.25l-1.036-.258a.833.833 0 01-.631-.809v-.6a.417.417 0 01.417-.416h1.562l1.782-4.752a1.667 1.667 0 011.56-1.081zM13.333 22.5v1.667a.833.833 0 00.834.833h2.704a.418.418 0 00.367-.613c-.671-1.259-1.973-1.887-3.905-1.887zm13.334 0c-1.931 0-3.233.63-3.905 1.887a.416.416 0 00.367.613h2.704a.833.833 0 00.834-.833V22.5z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconCar',
    };
</script>
