<template>
    <svg viewBox="0 0 40 40"
         xmlns="http://www.w3.org/2000/svg">
        <path
            d="M25.6 16.5V26.3C25.6 26.4857 25.5263 26.6637 25.395 26.795C25.2637 26.9263 25.0857 27 24.9 27H15.1C14.9143 27 14.7363 26.9263 14.605 26.795C14.4737 26.6637 14.4 26.4857 14.4 26.3V16.5H13V15.1H27V16.5H25.6ZM19.3 18.6V23.5H20.7V18.6H19.3ZM16.5 13H23.5V14.4H16.5V13Z" />
    </svg>
</template>

<script>
    export default {
        name: 'IconDelete',
    };
</script>
