<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 16 16">
        <path d="M8 10a2 2 0 100-4 2 2 0 000 4zM2 10a2 2 0 100-4 2 2 0 000 4zM14 10a2 2 0 100-4 2 2 0 000 4z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconKebabSmall',
    };
</script>
