<template>
    <svg :class="$style.IconGoogleplay"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 62 20">
        <rect width="62"
              height="20"
              rx="4"
              fill="#FCFCFC" />
        <path
            d="M31.373 10.792c-1.11 0-1.987.833-1.987 1.991 0 1.112.878 1.992 1.987 1.992 1.108 0 1.986-.834 1.986-1.992-.046-1.158-.924-1.991-1.986-1.991zm0 3.195c-.601 0-1.11-.51-1.11-1.204 0-.695.509-1.204 1.11-1.204.6 0 1.108.463 1.108 1.204 0 .695-.554 1.204-1.108 1.204zm-4.344-3.195c-1.108 0-1.986.833-1.986 1.991 0 1.112.878 1.992 1.986 1.992 1.11 0 1.987-.834 1.987-1.992s-.878-1.991-1.987-1.991zm0 3.195c-.6 0-1.108-.51-1.108-1.204 0-.695.508-1.204 1.108-1.204.601 0 1.11.463 1.11 1.204 0 .695-.509 1.204-1.11 1.204zm-5.082-2.593v.833h1.987c-.047.463-.231.834-.462 1.066-.278.277-.74.602-1.525.602-1.248 0-2.172-.973-2.172-2.223s.97-2.224 2.172-2.224c.647 0 1.155.278 1.525.602l.6-.602c-.508-.463-1.155-.833-2.079-.833-1.663 0-3.095 1.39-3.095 3.057s1.432 3.056 3.095 3.056c.924 0 1.571-.277 2.126-.88.554-.555.739-1.343.739-1.945 0-.185 0-.37-.046-.51h-2.865zm20.93.648c-.184-.463-.647-1.25-1.663-1.25s-1.848.787-1.848 1.991c0 1.112.832 1.992 1.94 1.992.878 0 1.433-.556 1.618-.88l-.647-.463c-.231.324-.508.555-.97.555-.416 0-.74-.185-.97-.602l2.633-1.111-.093-.232zm-2.68.695c0-.741.601-1.158 1.017-1.158.324 0 .647.185.74.417l-1.756.74zm-2.171 1.899h.878v-5.79h-.878v5.79zm-1.386-3.381c-.231-.232-.6-.463-1.063-.463-.97 0-1.894.88-1.894 1.991 0 1.112.878 1.945 1.894 1.945.462 0 .832-.231 1.017-.463h.046v.278c0 .741-.416 1.158-1.063 1.158-.508 0-.878-.37-.97-.695l-.74.325c.232.509.786 1.157 1.756 1.157 1.017 0 1.849-.602 1.849-2.037v-3.52h-.832v.324zm-1.017 2.732c-.6 0-1.108-.51-1.108-1.204 0-.695.508-1.204 1.108-1.204.601 0 1.063.51 1.063 1.204 0 .695-.462 1.204-1.063 1.204zm11.274-5.14h-2.079v5.789h.878v-2.177h1.201c.97 0 1.895-.695 1.895-1.806 0-1.112-.925-1.807-1.895-1.807zm.046 2.778h-1.247V9.634h1.247c.647 0 1.017.556 1.017.972 0 .463-.37 1.02-1.017 1.02zm5.314-.833c-.6 0-1.294.277-1.525.88l.786.324c.184-.324.462-.417.785-.417.462 0 .878.278.924.741v.046c-.138-.092-.508-.231-.878-.231-.831 0-1.663.463-1.663 1.297 0 .787.693 1.296 1.432 1.296.6 0 .878-.277 1.11-.555h.045v.463h.832v-2.223c-.092-1.066-.878-1.621-1.848-1.621zm-.093 3.195c-.277 0-.693-.139-.693-.51 0-.462.509-.601.925-.601.37 0 .554.092.785.185-.046.51-.508.926-1.017.926zm4.898-3.056l-.97 2.5h-.046l-1.017-2.5h-.924l1.525 3.52-.878 1.945h.878l2.356-5.466h-.924zM49.3 14.636h.878v-5.79H49.3v5.79z"
            fill="#4F616B" />
        <path
            d="M4.712 4.215c-.138.139-.23.37-.23.648V15.1c0 .278.092.51.23.649l.047.046 5.729-5.743v-.093L4.712 4.215z"
            fill="#01BCE4" />
        <path
            d="M12.336 11.996l-1.894-1.899v-.093l1.894-1.899.046.047 2.264 1.297c.647.37.647.972 0 1.343l-2.31 1.204z"
            fill="#FFBD00" />
        <path d="M12.383 11.95l-1.94-1.946-5.73 5.743c.231.232.555.232.97.046l6.7-3.844z"
              fill="#FF3A44" />
        <path d="M12.383 8.058L5.637 4.214c-.416-.232-.739-.185-.97.046l5.776 5.79 1.94-1.992z"
              fill="#06E775" />
        <path opacity=".2"
              d="M12.337 11.903l-6.7 3.844c-.37.232-.693.185-.924 0l.047.046c.23.186.554.232.924 0l6.653-3.89z"
              fill="#000" />
        <path opacity=".12"
              d="M4.713 15.7c-.139-.138-.232-.37-.232-.648v.047c0 .277.093.509.232.648v-.046zM14.647 10.606l-2.31 1.297.046.046 2.264-1.297c.323-.185.462-.416.462-.648 0 .232-.139.417-.462.602z"
              fill="#000" />
        <path
            d="M5.637 4.261l9.01 5.141c.277.186.461.37.461.603 0-.232-.138-.464-.462-.649l-9.01-5.141c-.646-.37-1.155-.046-1.155.695v.046c0-.741.509-1.065 1.156-.695z"
            fill="#fff" />
        <path
            d="M19.313 7.826h-.323V6.9h.277c.231-.185.37-.556.37-1.065v-1.39h1.848V6.9h.323v.926h-.323v-.602h-2.126l-.046.602zm.647-2.038c0 .417-.092.788-.277 1.066h1.386V4.77h-1.155v1.018h.046zM24.534 6.855c-.277.278-.6.416-1.016.416-.416 0-.74-.138-1.017-.416a1.364 1.364 0 01-.416-1.02c0-.416.14-.74.416-1.018.277-.278.6-.417 1.017-.417.416 0 .739.139 1.016.417.277.278.416.602.416 1.019 0 .417-.139.74-.416 1.019zm-1.755-.232c.184.185.462.324.739.324.277 0 .554-.092.739-.324.185-.185.323-.463.323-.787 0-.325-.092-.602-.323-.788a1.089 1.089 0 00-.74-.324c-.276 0-.554.093-.738.324a1.119 1.119 0 000 1.575zM26.752 7.271c-.416 0-.74-.138-1.016-.416a1.363 1.363 0 01-.416-1.02c0-.416.138-.74.416-1.018.277-.278.6-.417 1.016-.417.416 0 .74.139 1.017.463l-.231.232a.986.986 0 00-.786-.37c-.323 0-.554.092-.785.323-.231.186-.324.463-.324.788 0 .324.093.602.324.787.184.185.462.324.785.324.324 0 .6-.139.832-.417l.23.232c-.138.139-.276.278-.461.37-.185.093-.37.14-.6.14zM29.293 7.224h-.37V4.77h-.785v-.325h1.894v.325h-.785v2.454h.046zM32.528 4.445l-1.063 2.362c-.139.325-.37.51-.647.51-.092 0-.184 0-.277-.046l.093-.325c.046.047.138.047.184.047.093 0 .139 0 .185-.047.046-.046.093-.092.139-.185l.092-.231-.924-2.038h.416l.693 1.528.647-1.575h.462zM32.897 7.224V4.445h1.987v2.78h-.37V4.77h-1.247v2.454h-.37v0zM35.577 7.224V4.445h.37V5.65h1.386V4.445h.37v2.78h-.37V5.973h-1.386v1.25h-.37v0zM40.567 6.855c-.277.278-.6.416-1.017.416-.415 0-.739-.138-1.016-.416a1.364 1.364 0 01-.416-1.02c0-.416.139-.74.416-1.018.277-.278.6-.417 1.017-.417.415 0 .739.139 1.016.417.277.278.416.602.416 1.019 0 .417-.139.74-.416 1.019zm-1.802-.232c.185.185.462.324.74.324.276 0 .554-.092.739-.324.184-.185.323-.463.323-.787 0-.325-.092-.602-.323-.788a1.09 1.09 0 00-.74-.324c-.277 0-.554.093-.739.324a1.119 1.119 0 000 1.575zM42.415 7.224V4.445h1.017c.23 0 .415.093.554.232a.768.768 0 01.231.556c0 .139-.046.231-.092.37a.474.474 0 01-.278.232c.139.046.231.139.324.231.092.093.138.232.138.417a.768.768 0 01-.23.556c-.185.139-.37.232-.601.232 0-.047-1.063-.047-1.063-.047zm.37-1.574h.647a.42.42 0 00.323-.14c.092-.092.139-.185.139-.277 0-.093-.047-.186-.139-.278a.42.42 0 00-.324-.14h-.646v.835zm0 1.204h.739a.419.419 0 00.323-.14.421.421 0 00.139-.323.421.421 0 00-.139-.325.419.419 0 00-.323-.139h-.693v.927h-.046z"
            fill="#4F616B"
            stroke="#4F616B"
            stroke-width=".196"
            stroke-miterlimit="10" />
    </svg>
</template>

<script>
    export default {
        name: 'IconGoogleplay',
    };
</script>

<style lang="scss" module>
    .IconGoogleplay {
        width: 6.2rem;
        height: 2rem;

        @include respond-to(xs) {
            width: 128px;
            height: 41px;
        }
    }
</style>
