<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.417 7h2.5c.23 0 .416.187.416.417v9.166c0 .23-.186.417-.416.417h-2.5A.417.417 0 017 16.583V7.417c0-.23.187-.417.417-.417zm6.668 0h2.5c.23 0 .416.187.416.417v9.166c0 .23-.186.417-.416.417h-2.5a.417.417 0 01-.417-.417V7.417c0-.23.187-.417.417-.417z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPause',
    };
</script>
