<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path d="M28.485 27.506L20 36l-8.485-8.494a12.016 12.016 0 01-2.602-13.09 12.01 12.01 0 014.42-5.392 11.991 11.991 0 0117.754 5.391 12.023 12.023 0 01-2.602 13.091zM20 21.681a2.665 2.665 0 002.667-2.669A2.67 2.67 0 0020 16.342a2.665 2.665 0 00-2.667 2.67A2.67 2.67 0 0020 21.682z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPinBig',
    };
</script>
