<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M33.335 20.333H6.668v12a1.333 1.333 0 001.333 1.334h24a1.333 1.333 0 001.334-1.334v-12zM32 9.667h-5.333V7h-2.667v2.667h-8V7h-2.666v2.667H8A1.333 1.333 0 006.668 11v6.667h26.667V11A1.333 1.333 0 0032 9.667zM16.001 27h-5v3h5v-3zm8 0h5v3h-5v-3zm-1.5 0h-5v3h5v-3z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconCalendar',
    };
</script>
