<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 20 20">
        <path d="M9 5h2v2H9V5zm0 4h2v6H9V9z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconHint',
    };
</script>
