<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 16 16">
        <path d="M14 8.666v4.667a.706.706 0 01-.176.472.571.571 0 01-.424.195H8.6V8.666H14zm-6.6 0V14H2.6a.571.571 0 01-.424-.195.706.706 0 01-.176-.472V8.666h5.4zM7.4 2v5.333H2V2.667c0-.177.063-.347.176-.472A.571.571 0 012.6 2h4.8zm6 0c.16 0 .312.07.424.195a.706.706 0 01.176.472v4.666H8.6V2h4.8z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconTile',
    };
</script>
