<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28 10H12v2h7v1h2v-1h7v-2zm0 18v-2H12v2h16zm-4.844-11.494c.126-.49.15-1.004.072-1.506h-6.456a3.738 3.738 0 00.072 1.506c.126.49.35.946.657 1.335.308.388.69.7 1.122.914.431.214.901.325 1.377.325s.946-.11 1.377-.325a3.307 3.307 0 001.122-.914c.307-.389.531-.844.657-1.335zm-3.701 3.744V22h1.09v-1.75h-1.09zm4.402.283l.771-.825-1.157-1.237-.771.825 1.157 1.237zm-8.485-.825l.772.825 1.157-1.237-.772-.825-1.157 1.237zM14 15v1.167h1.636V15H14zm10.364 0v1.167H26V15h-1.636z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconHighCeiling',
    };
</script>
