<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 18 18">
        <path d="M7.5 4.5V6H3.75v8.25H12V10.5h1.5V15a.75.75 0 01-.75.75H3a.75.75 0 01-.75-.75V5.25A.75.75 0 013 4.5h4.5zm8.25-2.25V9l-2.845-2.845-4.5 4.5-1.06-1.06 4.499-4.5L9 2.25h6.75z"
              fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconAway',
    };
</script>
