<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24">
        <path
            d="M13.5 13.625h-1.7a7.487 7.487 0 00-3.956 1.133 7.785 7.785 0 00-2.817 3.076A9.127 9.127 0 015 17.125c0-4.833 3.805-8.75 8.5-8.75V4l8.5 7-8.5 7v-4.375z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconShare',
    };
</script>
