<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path
            d="M31.454 31.4H34V34H6v-2.6h2.545V9.3c0-.345.135-.675.373-.92a1.26 1.26 0 01.9-.38h20.364c.337 0 .661.137.9.38.238.245.372.575.372.92v22.1zM14.91 19.7v2.6h3.818v-2.6H14.91zm0-5.2v2.6h3.818v-2.6H14.91zm0 10.4v2.6h3.818v-2.6H14.91zm6.364 0v2.6h3.818v-2.6h-3.818zm0-5.2v2.6h3.818v-2.6h-3.818zm0-5.2v2.6h3.818v-2.6h-3.818z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconBuilding',
    };
</script>
