<template>
    <svg viewBox="0 0 32 32"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.25581 16.6544L16.0001 23.3987L22.7294 16.6501L22.7342 16.6444C23.525 15.7226 23.9381 14.536 23.8909 13.3224C23.8437 12.1088 23.3396 10.9578 22.4796 10.1002C21.6196 9.2426 20.4673 8.74164 19.2536 8.69773C18.0684 8.65485 16.9102 9.05088 16 9.80813C15.0889 9.05089 13.9296 8.65543 12.7438 8.69944C11.5294 8.7445 10.3769 9.2471 9.51764 10.1064C7.72563 11.8991 7.64124 14.7525 9.25581 16.6544ZM22.2418 13.3859C22.2729 14.1834 22.0015 14.9632 21.482 15.5691L21.4019 15.6618L16 21.0644L10.5981 15.6618L10.518 15.569C9.99851 14.9632 9.72713 14.1834 9.75824 13.3859C9.78934 12.5885 10.1207 11.8322 10.6858 11.2687C11.2509 10.7051 12.0081 10.376 12.8057 10.3471C13.6033 10.3183 14.3823 10.5919 14.9866 11.1131L16 11.9877L17.0134 11.1131C17.6178 10.5919 18.3968 10.3183 19.1944 10.3471C19.9919 10.376 20.7491 10.7051 21.3143 11.2687C21.8794 11.8322 22.2107 12.5885 22.2418 13.3859Z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconFavoriteMobile'
    };
</script>
