<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <slot />
        <path
            d="M20 11c-4.97 0-9 4.054-9 9.055 0 4.519 3.291 8.265 7.594 8.945v-6.328h-2.286v-2.617h2.286V18.06c0-2.27 1.343-3.522 3.4-3.522.984 0 2.014.176 2.014.176v2.228h-1.134c-1.119 0-1.467.698-1.467 1.414v1.699h2.495l-.398 2.617h-2.097V29C25.709 28.32 29 24.573 29 20.055 29 15.054 24.97 11 20 11z"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconFacebook',
    };
</script>
