<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 32 32">
        <path
            d="M10.6045 16.5235L15.9999 21.919L21.3833 16.5201L21.3872 16.5155C22.0198 15.778 22.3503 14.8287 22.3125 13.8579C22.2747 12.887 21.8715 11.9663 21.1835 11.2802C20.4955 10.5941 19.5737 10.1933 18.6027 10.1582C17.6545 10.1239 16.7279 10.4407 15.9998 11.0465C15.2709 10.4407 14.3435 10.1243 13.3948 10.1595C12.4233 10.1956 11.5014 10.5977 10.8139 11.2851C9.38031 12.7193 9.3128 15.002 10.6045 16.5235Z"
            fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconFavoriteFill',
    };
</script>
