<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 160 160">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M53.197 143a1 1 0 01-1-1V33.25a4 4 0 013.084-3.894l47.606-11.2a4 4 0 014.916 3.894V142a1 1 0 01-1 1H93.81a1 1 0 01-1-1v-19.35a1 1 0 00-1-1H68.19a1 1 0 00-1 1V142a1 1 0 01-1 1H53.197zM85.27 44.789a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H85.27zm0 17.08a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H85.27zm0 17.08a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H85.27zm0 17.08a1 1 0 00-1 1v6.541a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H85.27zM63.56 44.79a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H63.56zm0 17.08a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H63.56zm0 17.08a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H63.56zm0 17.08a1 1 0 00-1 1v6.541a1 1 0 001 1h11.17a1 1 0 001-1v-6.54a1 1 0 00-1-1H63.56zm66.778-48.474h18.536a4 4 0 014 4V142a1 1 0 01-1 1h-34.532a1 1 0 01-1-1V51.555a4 4 0 014-4h9.996zm9.855 74.095a1 1 0 001-1v-6.54a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17zm0-17.08a1 1 0 001-1v-6.54a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17zm0-17.08a1 1 0 001-1v-6.54a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17zm0-17.08a1 1 0 001-1v-6.54a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17zM21.121 47.554h18.536a4 4 0 014 4V142a1 1 0 01-1 1H8.125a1 1 0 01-1-1V51.555a4 4 0 014-4h9.996zm9.855 74.095a1 1 0 001-1v-6.54a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17zm0-17.08a1 1 0 001-1v-6.54a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17zm0-17.08a1 1 0 001-1v-6.54a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17zm1-24.62a1 1 0 00-1-1h-11.17a1 1 0 00-1 1v6.54a1 1 0 001 1h11.17a1 1 0 001-1v-6.54zm43.755 68.32a1 1 0 011-1h6.54a1 1 0 011 1V142a1 1 0 01-1 1h-6.54a1 1 0 01-1-1v-10.81z"
              fill="currentColor"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconCommercial',
    };
</script>
