<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 18 18">
        <path
            d="M15 5.25v10.5a.75.75 0 01-.75.75H3.75a.75.75 0 01-.75-.75V5.25H1.5v-1.5h15v1.5H15zM8.25 7.5v5.25h1.5V7.5h-1.5zm-3-6h7.5V3h-7.5V1.5z" />
    </svg>
</template>

<script>
    export default {
        name: 'IconTrash',
    };
</script>
