<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.255 20.654L20 27.398l6.729-6.748.005-.006a4.815 4.815 0 00-6.735-6.836 4.815 4.815 0 00-6.482.298 4.84 4.84 0 00-.262 6.548zm12.986-3.268a3.164 3.164 0 01-.76 2.183l-.08.093L20 25.064l-5.402-5.402-.08-.093a3.164 3.164 0 014.468-4.456l1.014.875 1.013-.875a3.164 3.164 0 015.228 2.273z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconFavorite',
    };
</script>
