<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <slot />
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20 29a9 9 0 100-18 9 9 0 000 18zm4.34-10.381c.276-.464.434-.798.473-1.003.08-.3-.04-.45-.355-.45h-1.166c-.237 0-.402.116-.494.348l-.177.389c-.119.272-.297.613-.534 1.022-.237.41-.48.757-.73 1.043-.238.246-.422.369-.554.369-.118 0-.178-.116-.178-.348v-2.373c0-.3-.105-.45-.316-.45h-1.837a.34.34 0 00-.158.041.36.36 0 00-.099.102.259.259 0 00-.04.144c0 .054.02.116.06.184l.158.204c.053.055.105.15.158.287.053.136.086.3.099.49v1.78c0 .177-.02.3-.06.368-.026.055-.078.082-.157.082-.211 0-.52-.327-.929-.982a11.048 11.048 0 01-1.007-2.23c-.053-.177-.119-.3-.198-.367-.066-.069-.171-.103-.316-.103h-1.165c-.264 0-.395.116-.395.348 0 .136.046.368.138.695.092.328.283.805.573 1.432a13.5 13.5 0 001.126 1.862c.474.709 1.027 1.254 1.659 1.636.632.382 1.258.573 1.877.573.355 0 .586-.034.691-.102.105-.082.158-.205.158-.369 0-.136-.006-.313-.02-.532 0-.45.014-.722.04-.818.026-.095.118-.143.276-.143.25 0 .64.26 1.166.777a12.24 12.24 0 01.691.778c.066.081.139.156.218.225a.837.837 0 00.217.143c.066.027.145.04.237.04h1.165c.356 0 .488-.17.395-.51a2.168 2.168 0 00-.217-.41 2.784 2.784 0 00-.336-.47 6.46 6.46 0 00-.395-.491 13.692 13.692 0 00-.395-.43l-.316-.327-.118-.143c-.08-.136-.119-.232-.119-.287 0-.054.04-.143.119-.265.013-.014.131-.191.355-.532.224-.355.468-.764.731-1.227z"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconVk',
    };
</script>
