<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <slot />
        <path
            d="M20 12c2.174 0 2.445.008 3.298.048.852.04 1.432.174 1.942.372a3.9 3.9 0 011.418.922c.406.4.721.884.922 1.418.198.51.332 1.09.372 1.942.038.853.048 1.124.048 3.298s-.008 2.445-.048 3.298c-.04.852-.174 1.432-.372 1.942a3.907 3.907 0 01-.922 1.418c-.4.406-.884.721-1.418.922-.51.198-1.09.332-1.942.372-.853.038-1.124.048-3.298.048s-2.445-.008-3.298-.048c-.852-.04-1.432-.174-1.942-.372a3.911 3.911 0 01-1.418-.922 3.922 3.922 0 01-.922-1.418c-.198-.51-.332-1.09-.372-1.942C12.01 22.445 12 22.174 12 20s.008-2.445.048-3.298c.04-.852.174-1.432.372-1.942.2-.534.515-1.018.922-1.418.4-.407.884-.721 1.418-.922.51-.198 1.09-.332 1.942-.372C17.555 12.01 17.826 12 20 12zm0 4a4 4 0 100 8 4 4 0 000-8zm5.2-.2a1 1 0 10-2 0 1 1 0 002 0zM20 17.6a2.4 2.4 0 110 4.801 2.4 2.4 0 010-4.801z"
        />
    </svg>
</template>

<script>
    export default {
        name: 'IconInstagram',
    };
</script>
