<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.268 16.848a4.267 4.267 0 11-8.535 0 4.267 4.267 0 018.535 0zm-1.602 0a2.665 2.665 0 11-5.33 0 2.665 2.665 0 015.33 0zm1.417 10.572v-1.494a1.991 1.991 0 00-1.991-1.992h-4.183a1.991 1.991 0 00-1.991 1.992v1.494h-1.595v-1.494a3.586 3.586 0 013.586-3.586h4.183a3.586 3.586 0 013.585 3.586v1.494h-1.594z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconUser',
    };
</script>
