<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path d="M19.828 20l2.829-2.828-1.414-1.415L17 20l4.243 4.243 1.414-1.415L19.828 20z" />
    </svg>
</template>

<script>
    export default {
        name: 'IconArrowRight',
    };
</script>
