<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path d="M23.8465 20.2749L16.5359 24.9447C16.484 24.9778 16.4237 24.9968 16.3613 24.9996C16.299 25.0025 16.2371 24.9891 16.1821 24.9609C16.1271 24.9327 16.0811 24.8907 16.049 24.8394C16.017 24.7881 16 24.7295 16 24.6697L16 15.3303C16 15.2705 16.017 15.2119 16.049 15.1606C16.0811 15.1093 16.1271 15.0673 16.1821 15.0391C16.2371 15.0109 16.299 14.9975 16.3613 15.0004C16.4237 15.0032 16.484 15.0222 16.5359 15.0553L23.8465 19.7251C23.8937 19.7553 23.9324 19.7961 23.9592 19.8441C23.986 19.8921 24 19.9456 24 20C24 20.0544 23.986 20.1079 23.9592 20.1559C23.9324 20.2039 23.8937 20.2447 23.8465 20.2749V20.2749Z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconPlay',
    };
</script>
