<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path d="M14.62 20.8a5.348 5.348 0 01.12-2.324c.21-.757.584-1.46 1.096-2.059a5.45 5.45 0 011.869-1.41 5.5 5.5 0 014.59 0 5.45 5.45 0 011.87 1.41c.511.6.885 1.302 1.095 2.059.21.757.25 1.55.12 2.324H14.62zm-3.71 1.8H20v1.8h-9.09v-1.8zm10.908 0h7.273v1.8h-7.273v-1.8zm1.818 3.6h3.637V28h-3.637v-1.8zm-10.909 0h9.091V28h-9.09v-1.8zM19.091 10h1.818v2.7h-1.818V10zm-6.805 3.536l1.286-1.272 1.928 1.908-1.286 1.273-1.928-1.908zm14.141-1.272l1.286 1.272-1.928 1.909-1.286-1.273 1.928-1.909zM30 19v1.8h-2.727V19H30zm-17.273 0v1.8H10V19h2.727z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconSun',
    };
</script>
