<template>
    <svg width="83"
         height="72"
         viewBox="0 0 83 72"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <rect width="40"
              height="72"
              rx="20"
              transform="matrix(0.5 0.866026 0.866026 -0.5 0.0166016 36.3931)"
              fill="url(#paint0)" />
        <rect x="70.449"
              y="11.8564"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 70.449 11.8564)"
              fill="url(#paint1)" />
        <path d="M52 31.172L61.192 21.979L62.607 23.393L52 34L45.636 27.636L47.05 26.222L52 31.172Z"
              fill="#FCFCFC" />
        <defs>
            <linearGradient id="paint0"
                            x1="20"
                            y1="0"
                            x2="20"
                            y2="72"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#CCD3DA"
                      stop-opacity="0" />
                <stop offset="1"
                      stop-color="#CCD3DA"
                      stop-opacity="0.64" />
            </linearGradient>
            <linearGradient id="paint1"
                            x1="70.449"
                            y1="27.8565"
                            x2="102.449"
                            y2="27.8565"
                            gradientUnits="userSpaceOnUse">
                <stop stop-color="#92278F" />
                <stop offset="0.579898"
                      stop-color="#C6168D" />
                <stop offset="1"
                      stop-color="#ED1C24" />
            </linearGradient>
        </defs>
    </svg>

</template>

<script>
    export default {
        name: 'IconSuccess',
    };
</script>
