<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path
            d="M13 20c.608-3.413 3.511-6 7-6s6.391 2.587 7 6c-.608 3.413-3.511 6-7 6s-6.391-2.587-7-6zm7 3.333c.858 0 1.68-.35 2.288-.976A3.385 3.385 0 0023.235 20c0-.884-.34-1.732-.947-2.357A3.187 3.187 0 0020 16.667c-.858 0-1.68.35-2.288.976A3.385 3.385 0 0016.765 20c0 .884.34 1.732.947 2.357.607.625 1.43.976 2.288.976zM20 22c-.515 0-1.009-.21-1.372-.586A2.031 2.031 0 0118.059 20c0-.53.204-1.04.569-1.414A1.912 1.912 0 0120 18c.515 0 1.009.21 1.372.586.364.375.569.884.569 1.414 0 .53-.204 1.04-.569 1.414A1.912 1.912 0 0120 22z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconEye',
    };
</script>
