<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20.1721 19.2432L18.3432 17.415L19.7572 16L24.0002 20.243L19.7572 24.486L18.3432 23.071L20.1716 21.2433L15 21.2433L15.0007 19.2429L20.1721 19.2432Z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconArrowRightLong',
    };
</script>
