<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 20 20">
        <path
            d="M6.722 7.712l2.33-1.521c.262-.172.58-.26.905-.251.395.009.777.128 1.094.341.316.213.55.51.67.848.136.38.26.638.372.772.338.406.777.735 1.282.961A3.97 3.97 0 0015 9.206v1.307a5.565 5.565 0 01-2.172-.436 5.045 5.045 0 01-1.756-1.228l-.507 2.584 1.498 1.13 1.617 3.99-1.367.447-1.484-3.661-2.465-1.859a1.322 1.322 0 01-.448-.558 1.182 1.182 0 01-.07-.686l.37-1.884-.493.321-1.546 1.913L5 9.818l1.71-2.114.012.008zM11 5.613c-.386 0-.755-.138-1.028-.383a1.243 1.243 0 01-.426-.923c0-.347.153-.68.426-.924A1.542 1.542 0 0111 3c.386 0 .756.138 1.029.383.273.245.426.577.426.924 0 .346-.153.678-.426.923A1.542 1.542 0 0111 5.613zM8.84 14.224l-2.337 2.502-1.114-.84 2.164-2.316.542-1.424 1.303.98-.558 1.098z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconWalk',
    };
</script>
