<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 32 32">
        <path d="M22.001 20v2h-1.333v-2h-1.333v-2h4v2H22zm-10.666 0v2H10v-2H8.668v-2h4v2h-1.333zm4-8v-2h1.333v2h1.333v2h-4v-2h1.334zm0 3.333h1.333V22h-1.333v-6.667zM10 16.667V10h1.334v6.667H10zm10.667 0V10h1.333v6.667h-1.333z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconFilter',
    };
</script>
