<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 48 48">
        <path d="M6.75 10.312a34.339 34.339 0 0118-5.062c6.201 0 12.176 1.68 17.204 4.543"
              stroke="#fff"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round" />
        <path
            d="M39.77 2.834l2.183 6.96-7.074 2.179M13.762 25.821l-2.219 3.915M24.886 47.25l6.476-8.203a4.5 4.5 0 00-.65-6.243l-9.513-7.94 5.177-9.134a3 3 0 10-5.22-2.959l-5.471 9.655-1.924 3.395-2.61-1.479a3 3 0 00-4.09 1.13l-2.14 3.78a9 9 0 00-1.057 5.863l1.022 6.366"
            stroke="#fff"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
</template>

<script>
    export default {
        name: 'IconFinger',
    };
</script>
