<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path d="M18.5 22.684L14 15.58V14h12v1.58l-4.5 7.104v4.737l-3 1.58v-6.317z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconEnvironment',
    };
</script>
