<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 48 48">
        <circle cx="24"
                cy="24"
                r="24"
                fill="#FCFCFC" />
        <circle cx="24"
                cy="24"
                r="24"
                fill="#ED1C24" />
        <path
            d="M26.185 26.698h-2.068l-3.946 8.865H17.28l4.337-9.488c-2.038-1.034-3.404-2.911-3.404-6.375 0-4.86 3.073-7.28 6.738-7.28h3.724v23.143h-2.49v-8.865zm0-2.068v-10.1H24.86c-2.008 0-3.946 1.325-3.946 5.18 0 3.725 1.777 4.92 3.946 4.92h1.325z"
            fill="#fff" />
    </svg>
</template>

<script>
    export default {
        name: 'IconYandex',
    };
</script>
