<template>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 40 40">
        <path
            d="M25 16h-3v-2h5v5h-2v-3zM15 16h3l.001-2h-5v5h2v-3zM25 24h-3v2h5v-5h-2v3zM15 24h3l.001 2h-5v-5h2v3z"
            fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconFullScreen',
    };
</script>
