<template>
    <svg fill="none"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 20 20">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M14.905 6.345a.75.75 0 010 1.06L9.28 13.03a.75.75 0 01-1.06 0L5.095 9.905a.75.75 0 011.06-1.06l2.595 2.594 5.095-5.094a.75.75 0 011.06 0z"
              fill="currentColor" />
    </svg>
</template>

<script>
    export default {
        name: 'IconCheck',
    };
</script>
