<template>
    <div :class="$style.DocumentsAccordion">
        <AccordionItem>
            <template #header>
                <VTag :class="$style.tag"
                      outline>
                    {{ subtitle }}
                </VTag>
                <div class="h4"
                     :class="$style.title">
                    {{ title }}
                </div>
            </template>
            <template #content>
                <div :class="$style.list">
                    <DocumentsCard
                        v-for="item in documents"
                        :key="item.id"
                        :class="$style.item"
                        :document="item"
                        :project="subtitle"
                    />
                </div>
            </template>
        </AccordionItem>
    </div>
</template>

<script>
    import AccordionItem from '~/components/common/AccordionItem';
    import VTag from '~/components/ui/tag/VTag';
    import DocumentsCard from '~/components/pages/documents/DocumentsCard';

    export default {
        name: 'DocumentsAccordion',

        components: {
            DocumentsCard,
            VTag,
            AccordionItem,
        },

        props: {
            title: {
                type: String,
                default: '',
            },
            subtitle: {
                type: String,
                default: '',
            },
            documents: {
                type: Array,
                default: () => [],
            },
        },
    };
</script>

<style lang="scss" module>
    .DocumentsAccordion {
        border-top: 1px solid $base-100;
    }

    .title {
        margin-top: 1.6rem;

        @include respond-to(sm) {
            margin-top: 14px;
        }

        @include respond-to(xs) {
            margin-top: 4px;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin-bottom: -1px;
        border-top: 1px solid $base-100;

        @include respond-to(xs) {
            border-top: none;
        }
    }

    .item {
        width: calc(100% / 3);
        border-bottom: 1px solid $base-100;
        border-right: 1px solid $base-100;

        @include respond-to(sm) {
            width: 50%;
        }

        @include respond-to(xs) {
            width: 100%;
            border-right: none;
        }

        &:nth-child(3n) {
            border-right: none;

            @include respond-to(sm) {
                border-right: 1px solid $base-100;
            }

            @include respond-to(xs) {
                border-right: none;
            }
        }

        &:nth-child(2n) {
            @include respond-to(sm) {
                border-right: none;
            }
        }

        &:first-child {
            @include respond-to(xs) {
                padding-top: 0;
            }
        }
    }
</style>
