<template>
    <a :href="document.file"
       target="_blank"
       :class="$style.DocumentsCard">
        <div :class="$style.content">
            <VTag :class="$style.tag"
                  outline>
                {{ project }}
            </VTag>
            <h2 :class="$style.title"
                class="c-base"
                v-html="document.title">
            </h2>
            <div :class="[$style.footer, {[$style._print]: document.print}]">
                {{ date }}
                <template v-if="document.author">/ {{ document.author }}</template>
            </div>
            <div :class="$style.print">
                <VCircleButton size="small"
                               @click.native.prevent="onPrintClick">
                    <IconPrint :class="$style.icon" />
                </VCircleButton>
            </div>
        </div>
    </a>
</template>

<script>
    import {monthByNumber} from 'frontend/assets/js/utils/commonUtils';

    import VTag from '~/components/ui/tag/VTag';
    import VCircleButton from '~/components/ui/button/VCircleButton';
    import IconPrint from '~/components/icons/IconPrint';

    let printJS;

    if (process.browser) {
        printJS = require('print-js');
    }

    export default {
        name: 'DocumentsCard',

        components: {
            IconPrint,
            VCircleButton,
            VTag,
        },

        props: {
            project: {
                type: String,
                default: '',
            },
            document: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            date() {
                const date = new Date(this.document.date);
                return `${date.getDate()} ${monthByNumber(date.getMonth(), 'case')} ${date.getFullYear()}`;
            },
        },

        methods: {
            onPrintClick() {
                if (this.$device.isMobileOrTablet) {
                    window.open(this.document.file, '_blank');
                    return;
                }

                printJS(this.document.file);
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .4s $bezier-second;

    .DocumentsCard {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $milk;
            transform: scaleY(0);
            transform-origin: 100% 100%;
            transition: transform $transition;
        }

        @include hover {
            &:hover {
                &:before {
                    transform: scaleY(1);
                }

                .print {
                    opacity: 1;
                }
            }
        }
    }

    .content {
        position: relative;
        height: 26.2rem;
        padding: 5.2rem 5.6rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @include respond-to(sm) {
            height: 226px;
            padding: 40px;
        }

        @include respond-to(xs) {
            height: auto;
            padding: $side-padding-mobile 66px $side-padding-mobile $side-padding-mobile;
        }
    }

    .title {
        /* stylelint-disable */
        display: -webkit-box;
        /* stylelint-enable */
        overflow: hidden;
        margin-top: 3.2rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.36;
        text-overflow: ellipsis;
        /* stylelint-disable */
        -webkit-line-clamp: 3;
        /* stylelint-enable */
        -webkit-box-orient: vertical;

        @include respond-to(sm) {
            margin-top: 16px;
        }

        @include respond-to(xs) {
            font-size: 16px;
            line-height: 1.52;
            margin-top: 8px;
        }
    }

    .footer {
        margin-top: auto;
        font-size: 1.4rem;
        line-height: 1.46;

        @include respond-to(xs) {
            margin-top: 8px;
        }

        &._print {
            @include respond-to(xs) {
                padding-bottom: 18px;
            }
        }
    }

    .print {
        position: absolute;
        top: 4.4rem;
        right: 5.6rem;
        color: $base-400;
        opacity: 0;
        transition: opacity $transition;

        @include respond-to(md) {
            opacity: 1;
        }

        @include respond-to(sm) {
            top: auto;
            bottom: 30px;
            right: 40px;
        }

        @include respond-to(xs) {
            bottom: 24px;
            right: 16px;
        }
    }

    .icon {
        width: 2.4rem;
        height: 2.4rem;
        color: $base-400;
    }
</style>
