<template>
    <div :class="$style.AboutParentPage"
         class="page-top">
        <AboutHead
            title="О компании"
            :active-tab="$route.name"
        />

        <n-child :key="$route.name" />
    </div>
</template>

<script>
    /* components */
    import AboutHead from '../../components/pages/about/AboutHead';

    export default {
        name: 'AboutParentPage',

        components: {
            AboutHead,
        },
    };
</script>

<style lang="scss" module>
    .AboutParentPage {
        //
    }
</style>
