<template>
    <div :class="$style.FlatsFilter"
         class="container">
        <div :class="$style.container">
            <FilterHead
                v-if="$mq === 'xs'"
                title="Квартиры"
                type="filter"
                :value="values.city"
                :specs="specs.city"
                label-field-name="label"
                value-field-name="value"
                @city-change="$emit('change', $event)"
                @close="$emit('close')"
            />

            <!--projects-->
            <FilterContainer :class="$style.cell"
                             label="Проект">
                <SelectFilter
                    :value="values.project"
                    :facet="facets.project"
                    :spec="specs.project && specs.project.length ? [{value: '', label: 'Любой'}, ...specs.project] : [{value: '', label: 'Любой'}]"
                    multiple
                    @change="$emit('change', {project: $event})"
                />
            </FilterContainer>

            <!--rooms-->
            <FilterContainer :class="$style.cell"
                             label="Комнат">
                <ButtonFilter
                    :spec="specs.rooms"
                    :facet="facets.rooms"
                    :value="values.rooms"
                    @change="$emit('change', {rooms: $event})"
                />
            </FilterContainer>

            <!--area-->
            <FilterContainer :class="[$style.cell, $style._range]"
                             label="Площадь, м<sup>2</sup>">
                <RangeFilter
                    :facet="facets.area"
                    :spec="specs.area"
                    :value-min="values.areaMin"
                    :value-max="values.areaMax"
                    @change="$emit('change', {areaMin: $event[0], areaMax: $event[1]})"
                />
            </FilterContainer>

            <!--price-->
            <FilterContainer :class="[$style.cell, $style._range]"
                             label="Стоимость, &#8381;">
                <RangeFilter
                    :facet="facets.price"
                    :spec="specs.price"
                    :value-min="values.priceMin"
                    :value-max="values.priceMax"
                    @change="$emit('change', {priceMin: $event[0], priceMax: $event[1]})"
                />
            </FilterContainer>

        </div>

        <FilterExtended :extended="isExtended">
            <div :class="$style.container">
                <!--building-->
                <FilterContainer :class="$style.cell"
                                 label="Дом">
                    <SelectFilter
                        :value="values.building"
                        :facet="facets.building"
                        :spec="specs.building && specs.building.length ? [{value: '', label: 'Любой'}, ...specs.building] : [{value: '', label: 'Любой'}]"
                        multiple
                        @change="$emit('change', {building: $event})"
                    />
                </FilterContainer>

                <!--floors-->
                <FilterContainer :class="[$style.cell, $style._range]"
                                 label="Этаж">
                    <RangeFilter
                        :facet="facets.floor"
                        :spec="specs.floor"
                        :value-min="values.floorMin"
                        :value-max="values.floorMax"
                        @change="$emit('change',{floorMin: $event[0],floorMax: $event[1]})"
                    />
                </FilterContainer>

                <!--completion-->
                <FilterContainer :class="[$style.cell, $style._big]"
                                 label="Срок сдачи">
                    <SelectFilter
                        :value="values.completionDate"
                        :facet="facets.completion_date"
                        :spec="specs.completion_date && specs.completion_date.length ? [{value: '', label: 'Любой'}, ...specs.completion_date] : [{value: '', label: 'Любой'}]"
                        @change="$emit('change', {completionDate: $event})"
                    />
                </FilterContainer>
            </div>
            <div :class="$style.checkboxes">

                <VCheckbox :class="$style.checkbox"
                           :value="values.action"
                           :disabled="facets.action && !facets.action.includes('true')"
                           color="vice"
                           size="long"
                           @input="$emit('change', {action: $event})">
                    Акция
                </VCheckbox>

                <VCheckbox v-if="values.isDone"
                           :class="$style.checkbox"
                           :value="values.isDone"
                           :disabled="facets.isDone && !facets.isDone.includes('true')"
                           size="long"
                           hint-text="Дом сдан"
                           @input="$emit('change', {isDone: $event})">
                    Готовые
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasTerrace"
                           :disabled="facets.hasTerrace && !facets.hasTerrace.includes('true')"
                           size="long"
                           @input="$emit('change', {hasTerrace: $event})">
                    Террасы
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasParking"
                           :disabled="facets.hasParking && !facets.hasParking.includes('true')"
                           size="long"
                           hint-text="Включено в стоимость"
                           @input="$emit('change', {hasParking: $event})">
                    Паркинг
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.facing"
                           :disabled="facets.facing && !facets.facing.includes('true')"
                           size="long"
                           @input="$emit('change', {facing: $event})">
                    Отделка
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasView"
                           :disabled="facets.hasView && !facets.hasView.includes('true')"
                           size="long"
                           hint-text="Включено в стоимость"
                           @input="$emit('change', {hasView: $event})">
                    Видовые
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasPanoramicWindows"
                           :disabled="facets.hasPanoramicWindows && !facets.hasPanoramicWindows.includes('true')"
                           size="long"
                           @input="$emit('change', {hasPanoramicWindows: $event})">
                    Панорамное остекление
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.isDuplex"
                           :disabled="facets.isDuplex && !facets.isDuplex.includes('true')"
                           size="long"
                           @input="$emit('change', {isDuplex: $event})">
                    Двухуровневая
                </VCheckbox>

                <VCheckbox v-if="values.louge"
                           :class="$style.checkbox"
                           :value="values.louge"
                           :disabled="facets.louge && !facets.louge.includes('true')"
                           size="long"
                           hint-text="Включено в стоимость"
                           @input="$emit('change', {louge: $event})">
                    Лаунж балкон
                </VCheckbox>

                <VCheckbox v-if="values.balcony"
                           :class="$style.checkbox"
                           :value="values.balcony"
                           :disabled="facets.balcony && !facets.balcony.includes('true')"
                           size="long"
                           @input="$emit('change', {balcony: $event})">
                    Балкон/лоджия
                </VCheckbox>

                <VCheckbox v-if="values.pantry"
                           :class="$style.checkbox"
                           :value="values.pantry"
                           :disabled="facets.pantry && !facets.pantry.includes('true')"
                           size="long"
                           @input="$emit('change', {pantry: $event})">
                    Кладовые
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasHighCeiling"
                           :disabled="facets.hasHighCeiling && !facets.hasHighCeiling.includes('true')"
                           size="long"
                           @input="$emit('change', {hasHighCeiling: $event})">
                    Высокий потолок
                </VCheckbox>

                <VCheckbox v-if="values.cloakroom"
                           :class="$style.checkbox"
                           :value="values.cloakroom"
                           :disabled="facets.cloakroom && !facets.cloakroom.includes('true')"
                           size="long"
                           @input="$emit('change', {cloakroom: $event})">
                    Гардероб
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasTwoSidesWindows"
                           :disabled="facets.hasTwoSidesWindows && !facets.hasTwoSidesWindows.includes('true')"
                           size="long"
                           @input="$emit('change', {hasTwoSidesWindows: $event})">
                    Квартира на 2 стороны
                </VCheckbox>
            </div>
        </FilterExtended>

        <div :class="$style.controls">
            <div :class="[$style.extendedBtn, {[$style._active]: isExtended}]">
                <VCircleButton @click="onExtend">
                    <span :class="$style.extendedIcon">
                    </span>
                </VCircleButton>
                <transition name="fade">
                    <span v-if="isExtended"
                          :key="'exended'"
                          :class="$style.label"
                          class="button1 c-base">
                        Скрыть
                    </span>
                    <span v-else
                          :key="'extend'"
                          :class="$style.label"
                          class="button1 c-base">
                        Еще параметры
                    </span>
                </transition>
            </div>
            <button v-if="count"
                    type="button"
                    :class="$style.count"
                    class="button1 btn-reset"
                    @click.prevent="handleScrollClick">
                {{ count }} квартир{{ count|plural(['а', 'ы', '']) }}
            </button>
            <span v-else
                  :class="$style.count"
                  class="button1">
                нет квартир
            </span>
            <div :class="[$style.resetBtn, {[$style._active]: isResetActive}]">
                <span :class="$style.label"
                      class="button1 c-base">
                    Сбросить
                </span>
                <VCircleButton :disabled="!isResetActive"
                               @click="$emit('reset')">
                    <span :class="$style.resetIcon">
                        <IconPlus class="frame-icon" />
                    </span>
                </VCircleButton>
            </div>
        </div>

        <div :class="$style.actions">
            <VButton :class="$style.resetBtn"
                     :disabled="!isResetActive"
                     color="vice"
                     rounded
                     @click="$emit('reset')">
                Сбросить фильтр
            </VButton>
            <VButton :class="$style.showBtn"
                     rounded
                     @click="$emit('close')">
                <span v-if="count">
                    Показать {{ count }} квартир{{ count|plural(['у', 'ы', '']) }}
                </span>
                <span v-else>
                    нет квартир
                </span>
            </VButton>
        </div>
    </div>
</template>

<script>
    import {scrollTo} from '../../../assets/js/utils/commonUtils';

    /* components */
    import FilterExtended from '../../common/filter/FilterExtended';
    import FilterContainer from '../../filters/FilterContainer';
    import SelectFilter from '../../filters/SelectFilter';
    import ButtonFilter from '../../filters/ButtonFilter';
    import RangeFilter from '../../filters/RangeFilter';
    import VCheckbox from '../../ui/checkbox/VCheckbox';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconPlus from '../../icons/IconPlus';
    import VButton from '../../ui/button/VButton';
    import FilterHead from '../../common/filter/FilterHead';

    export default {
        name: 'FlatsFilter',

        components: {
            FilterHead,
            VButton,
            IconPlus,
            VCircleButton,
            VCheckbox,
            RangeFilter,
            ButtonFilter,
            SelectFilter,
            FilterContainer,
            FilterExtended,
        },

        props: {
            specs: {
                type: Object,
                default: () => ({}),
            },

            facets: {
                type: Object,
                default: () => ({}),
            },

            values: {
                type: Object,
                default: () => ({}),
            },

            count: {
                type: Number,
                default: 0,
            },

            isResetActive: Boolean,
        },

        data() {
            return {
                isExtended: false,
            };
        },

        watch: {
            facets(newVal, oldVal) {
                if (JSON.stringify(newVal.rooms) !== JSON.stringify(oldVal.rooms)) {
                    const rooms = this.values.rooms.filter(item => this.facets.rooms.includes(item));
                    this.$emit('change', {rooms: rooms});
                }
            },
        },

        methods: {
            onExtend() {
                this.isExtended = !this.isExtended;
            },

            handleScrollClick() {
                scrollTo('results');
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsFilter {
        user-select: none;

        @include respond-to(xs) {
            padding-top: 26px;
            padding-bottom: 32px;
        }
    }

    .container {
        display: flex;
        padding-top: 3.6rem;
        margin: 0 -2.4rem;

        @include respond-to(lg) {
            margin: 0 -2rem;
        }

        @include respond-to(sm) {
            flex-wrap: wrap;
            padding-top: 20px;
        }

        @include respond-to(xs) {
            flex-direction: column;
            margin: 0;
            padding-top: 0;
        }
    }

    .title {
        margin-right: .4rem;
    }

    .cell {
        width: 25%;
        padding: 0 2.4rem;

        @include respond-to(lg) {
            padding: 0 2rem;
        }

        &._big {
            width: 50%;

            @include respond-to(sm) {
                width: 100%;
            }
        }

        &._range {
            :global {
                .v-slider {
                    @include respond-to(xs) {
                        padding: 0 12px;
                    }
                }
            }
        }

        @include respond-to(sm) {
            width: 50%;
            padding: 20px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 12px 0;
        }
    }

    .checkboxes {
        display: flex;
        flex-wrap: wrap;
        margin: 3rem -1.6rem -1.6rem;

        @include respond-to(sm) {
            margin: 40px 0 -12px;
        }

        @include respond-to(xs) {
            margin-top: 4px;
        }
    }

    .checkbox {
        padding: 1.6rem;

        @include respond-to(sm) {
            padding: 12px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 12px 0;
        }
    }

    /* controls */
    .controls {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4.6rem 0 5.6rem;

        @include respond-to(sm) {
            margin-bottom: 40px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .extendedBtn {
        position: relative;

        &._active {
            .extendedIcon:before {
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }

        .label {
            left: calc(100% + 2rem);
            width: 13rem;
        }
    }

    .extendedIcon {
        position: relative;
        width: 4rem;
        height: 4rem;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1rem;
            height: 2px;
            background-color: currentColor;
            will-change: transform;
            transition: transform .3s linear;
        }

        &:after {
            transform: translate(-50%, -50%);
        }

        &:before {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    .actions {
        display: none;

        @include respond-to(xs) {
            position: sticky;
            z-index: 10;
            bottom: 0;
            display: block;
            margin-top: 36px;
        }
    }

    .resetBtn {
        position: relative;

        @include respond-to(xs) {
            margin-bottom: 16px;
        }

        &._active {
            .resetIcon {
                transform: rotate(360deg);
            }
        }

        .label {
            right: calc(100% + 2rem);
        }
    }

    .resetIcon {
        width: 4rem;
        height: 4rem;
        transition: transform .3s $apple-cubic;

        svg {
            transform: rotate(45deg);
        }
    }

    .label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .count {
        position: absolute;
        left: 50%;
        top: 50%;
        color: $vice;
        transform: translate(-50%, -50%);
    }
</style>
