<template>
    <div ref="page"
         :class="$style.ProjectPage"
         class="page-top">
        <ProjectMenu
            :class="[$style.subheader, {[$style._visible]: flags.isVisibleSubheader}]"
            :project-name="projectName"
            :project-id="projectId"
            :active-link="activeLink"
            fixed
            :menu-links="menuLinks"
        />

        <ProjectHero
            v-if="project && Object.keys(project).length"
            ref="hero"
            :project="project"
        />

        <ProjectMenu
            ref="menu"
            :class="$style.menu"
            :project-name="$mq === 'xs' || $mq === 'sm' ? projectName : ''"
            :project-id="projectId"
            :menu-links="menuLinks"
        />

        <ProjectAbout
            v-if="project && Object.keys(project).length"
            :project="project"
            @toggle-video="onToggleVideo"
        />

        <div v-if="advantages && advantages.length"
             data-anhor="advantages">
            <ProjectAdvantagesMobile
                v-if="$mq === 'xs'"
                :advantages="advantages"
                :city-color-class="cityClass(cityColor)"
            />

            <ProjectAdvantages
                v-else
                :advantages="advantages"
                :city-color-class="cityClass(cityColor)"
            />
        </div>

        <ProjectInfra
            v-if="project && project.longitude && project.latitude"
            :project="project"
        />

        <ProjectVisual
            v-if="project && Object.keys(project).length && project.planDisplay"
            :project="project"
        />

        <ProjectProgress
            v-if="progressSpecs.length"
            :specs="progressSpecs"
            :project-id="projectId"
            :city-color-class="cityClass(cityColor)"
        />

        <ProjectPanorama
            v-if="project && project.panoramaLink"
            :project="project"
        />

        <div v-if="furnishSet && furnishSet.length"
             :class="$style.block"
             data-anhor="decoration">
            <div id="decoraion"
                 class="anchor-project">
            </div>
            <DecorationMobile
                v-if="$mq === 'xs'"
                title="Отделка в квартире"
                :items="furnishSet"
            />

            <Decoration
                v-else
                page="project"
                :items="furnishSet"
            />
        </div>
        <div v-if="cleanedLayouts && cleanedLayouts.length"
             :class="$style.block"
             data-anhor="layouts">
            <div id="layouts"
                 class="anchor-project">
            </div>

            <Layouts
                :tabs="layoutTabs"
                :active-tab="activeLayoutsTab"
                :lots="cleanedLayouts"
                :more-link="moreLayoutsLink"
                :load-layouts="onLoadLayouts"
                @more-click="onMoreLayoutsClick"
            />
        </div>

        <div v-if="news && news.length"
             :class="$style.block"
             data-anhor="promo">
            <div id="promo"
                 class="anchor-project">
            </div>
            <Promo
                :slides="promo"
                :image="project.newsImage"
                :link="`/mass-media/?project=${project.id}`"
                :title="project.newsTitle"
            />
        </div>

        <Purchase />

        <Advantages
            :first-image="ideology.videoPreview1"
            :second-image="ideology.videoPreview2"
            :first-link="ideology.videoLink1"
            :second-link="ideology.videoLink2"
            :lead="ideology.text1"
            :text="ideology.text2"
            :button-text="ideology.buttonText"
            :button-link="ideology.buttonLink"
            :list="ideology.ideologyCards"
            card-image-field-name="fileDisplay"
            card-preview-image-field-name="filePreview"
        />

        <Social
            v-if="instagramPost.length"
            :title="socialsTitle"
            :posts="instagramPost"
            @click-button="onClickActionButton"
        />

        <div :class="$style.block"
             data-anhor="contacts">
            <div id="contacts"
                 class="anchor-project">
            </div>
            <ContactItem
                v-for="contact in contacts"
                :key="contact.id"
                :class="$style.contact"
                :item="contact"
            />
        </div>

        <ProjectSimilar
            v-if="projectSimilar.length"
            :projects="projectSimilar"
            :promo="promo"
            :city-id="cityId"
        />

        <div :class="$style.block">
            <div id="callback"
                 class="anchor-project">
            </div>
            <Callback />
        </div>
    </div>
</template>

<script>
    import {mapActions, mapState, mapGetters} from 'vuex';
    import {convertToObject, plural} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import detailLivingProject from '../../../queries/project-slug/detailLivingProject.graphql';
    import projectSimilar from '../../../queries/project-slug/projectSimilar.graphql';
    import allUniquePlansSpecs from '../../../queries/project-slug/allUniquePlansSpecs.graphql';
    import allUniquePlansFacets from '../../../queries/project-slug/allUniquePlansFacets.graphql';
    import allUniquePlans from '../../../queries/project-slug/allUniquePlans.graphql';
    import allNews from '../../../queries/allNews.graphql';
    import allInstagramPost from '../../../queries/allInstagramPost.graphql';
    import allProgressFacets from '../../../queries/project-slug/allProgressFacets.graphql';
    import allProgressSpecs from '../../../queries/project-slug/allProgressSpecs.graphql';


    /* components */
    import ProjectMenu from '../../../components/pages/project-slug/ProjectMenu';
    import ProjectHero from '../../../components/pages/project-slug/ProjectHero';
    import ProjectAbout from '../../../components/pages/project-slug/about/ProjectAbout';
    import ProjectAdvantages
        from '../../../components/pages/project-slug/advantages/ProjectAdvantages';
    import ProjectAdvantagesMobile
        from '../../../components/pages/project-slug/advantages/ProjectAdvantagesMobile';
    import ProjectInfra from '../../../components/pages/project-slug/infra/ProjectInfra';
    import ProjectVisual from '../../../components/pages/project-slug/ProjectVisual';
    import ProjectProgress from '../../../components/pages/project-slug/ProjectProgress';
    import ProjectPanorama from '../../../components/pages/project-slug/ProjectPanorama';
    import DecorationMobile from '../../../components/common/decoration/DecorationMobile';
    import Decoration from '../../../components/common/decoration/Decoration';
    import Callback from '../../../components/common/callback/Callback';
    import Promo from '../../../components/common/promo/Promo';
    import Purchase from '../../../components/common/purchase/Purchase';
    import Advantages from '../../../components/common/advantages/Advantages';
    import Layouts from '../../../components/pages/project-slug/Layouts';
    import ProjectSimilar from '../../../components/pages/project-slug/ProjectSimilar';
    import ContactItem from '../../../components/pages/contacts/ContactItem';
    import Social from '../../../components/common/social/Social';
    import RequestFormModal from '../../../components/layout/modals/RequestFormModal';
    import SubscribeForm from '../../../components/common/forms/SubscribeForm';

    export default {
        name: 'ProjectPage',

        components: {
            ProjectMenu,
            ProjectHero,
            ProjectAbout,
            ProjectAdvantages,
            ProjectAdvantagesMobile,
            ProjectInfra,
            ProjectVisual,
            ProjectProgress,
            ProjectPanorama,
            Decoration,
            DecorationMobile,
            Advantages,
            Social,
            ContactItem,
            ProjectSimilar,
            Layouts,
            Purchase,
            Promo,
            Callback,
        },

        async asyncData({$axios, params, redirect, error}) {
            // TODO: allNews получать только акции и новости

            if (!params.slug) {
                return error({statusCode: 404, message: 'Проект не найден'});
            }

            try {
                const [
                    projectRes,
                    similarRes,
                    plansSpecsRes,
                ] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: detailLivingProject.loc.source.body,
                        variables: {
                            slug: params.slug,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: projectSimilar.loc.source.body,
                        variables: {
                            exclude: params.slug,
                            first: 4,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allUniquePlansSpecs.loc.source.body,
                    }),
                ]);

                if (!projectRes.data.project) {
                    redirect('/error');
                }

                const projectData = projectRes.data.project;

                if (!projectData.id) {
                    redirect('/error');
                }

                const [
                    plansFacetsRes,
                    newsRes,
                    instagramRes,
                    progressSpecsRes,
                    progressFacetsRes,
                ] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: allUniquePlansFacets.loc.source.body,
                        variables: {
                            project: projectData.id,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allNews.loc.source.body,
                        variables: {
                            first: 10,
                            type: ['action', 'news'],
                            project: projectData.id,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allInstagramPost.loc.source.body,
                        variables: {
                            first: 6,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allProgressSpecs.loc.source.body,
                    }),

                    $axios.$post('/graphql/', {
                        query: allProgressFacets.loc.source.body,
                        variables: {
                            project: projectData.id,
                        },
                    }),
                ]);

                const {rooms: layoutsSpecs} = {...convertToObject(plansSpecsRes.data.allUniquePlansSpecs)};
                const {rooms: layoutsFacets} = {...convertToObject(plansFacetsRes.data.allUniquePlansFacets.facets)};

                const {date: progressSpecs} = {...convertToObject(progressSpecsRes.data.allProgressSpecs)};
                const {date: progressFacets} = {...convertToObject(progressFacetsRes.data.allProgressFacets.facets)};

                const tabs = layoutsSpecs.filter(item => layoutsFacets.includes(item.value));
                let activeLayoutsTab = '';
                let layouts = [];
                if (tabs.length) {
                    activeLayoutsTab = tabs[0].value;

                    const {data} = await $axios.$post('/graphql/', {
                        query: allUniquePlans.loc.source.body,
                        variables: {
                            project: projectData.id,
                            rooms: activeLayoutsTab,
                            first: 7,
                        },
                    });

                    layouts = data?.allUniquePlans?.edges?.length ? data.allUniquePlans.edges : [];
                }

                return {
                    project: projectData,
                    projectSimilar: similarRes.data?.allProjects?.edges?.length ? similarRes.data.allProjects?.edges.map(item => item.node) : [],
                    layoutTabs: tabs,
                    layouts: layouts,
                    activeLayoutsTab: activeLayoutsTab,
                    progressSpecs: progressSpecs.filter(item => progressFacets.includes(item.value)),
                    promo: newsRes.data?.allNews?.edges?.length ? newsRes.data.allNews.edges.map(item => item.node) : [],
                    instagramPost: instagramRes.data?.allInstagramPost?.edges?.length ? instagramRes.data.allInstagramPost.edges.map(item => item.node) : [],
                };
            } catch (e) {
                console.log('[ProjectPage/ asyncData]:', e);
            }
        },

        data() {
            return {
                flags: {
                    isVisibleSubheader: false,
                    isTicking: false,
                },

                activeLink: '',

                project: {},
                projectSimilar: [],
                layouts: [],
                layoutTabs: [],
                activeLayoutsTab: '',
                layoutsLimit: 7,
                progressSpecs: [],
                promo: [],
                collectionEl: [],
                instagramPost: [],

                scrollContentHeight: 0,
                defaultMenuLinks: [
                    {
                        name: 'О проекте',
                        hash: 'about',
                        link: null,
                    },
                    {
                        name: 'Преимущества',
                        hash: 'advantages',
                        link: null,
                    },
                    {
                        name: 'Расположение',
                        hash: 'location',
                        link: null,
                    },
                    {
                        name: 'Генплан',
                        hash: 'visual',
                        link: null,
                    },
                    {
                        name: 'Ход строительства',
                        hash: 'progress',
                        link: null,
                    },
                    {
                        name: '3D панорама',
                        hash: 'panorama',
                        link: null,
                    },
                    {
                        name: 'Отделка',
                        hash: 'decoration',
                        link: null,
                    },
                    {
                        name: 'Примеры планировок',
                        hash: 'layouts',
                        link: null,
                    },
                    {
                        name: 'Новости',
                        hash: 'promo',
                        link: null,
                    },
                    {
                        name: 'О компании',
                        hash: null,
                        link: '/about/',
                    },
                ],
            };
        },

        head() {
            const flatsCountLabel = plural(this.project.flatsCount, ['квартира', 'квартиры', 'квартир']);

            return {
                title: `Квартиры в жилом квартале «${this.project.name}» в ${this.project.city.name} — цены и планировки на официальном сайте.`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `Планировки и цены на квартиры в проекте «${this.project.name}» в г.${this.project.city.name}. Купить квартиры в новостройке от «Страна Девелопмент». Осталось ${this.project.flatsCount} ${flatsCountLabel} по цене от ${this.project.minFlatPrice} руб.`,
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                isHeaderHidden: state => state.header.is_hidden,
            }),

            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            menuLinks() {
                return this.defaultMenuLinks.filter(item => {
                    switch (item.hash) {
                        case 'advantages':
                            return this.advantages && this.advantages.length;
                        case 'location':
                            return this.project && this.project.longitude && this.project.latitude;
                        case 'contacts':
                            return this.contacts && this.contacts.length;
                        case 'visual':
                            return this.project && this.project.planDisplay;
                        case 'panorama':
                            return this.project && this.project.panoramaLink;
                        case 'decoration':
                            return this.furnishSet && this.furnishSet.length;
                        case 'layouts':
                            return this.cleanedLayouts && this.cleanedLayouts.length;
                        case 'promo':
                            return this.news && this.news.length;
                        case 'progress':
                            return this.progressSpecs.length;
                        default:
                            return true;
                    }
                });
            },

            projectName() {
                return this.project?.name ? this.project.name : '';
            },

            projectId() {
                return this.project?.id ? this.project.id : '';
            },

            ideology() {
                return this.project?.ideology ? this.project.ideology : {};
            },

            news() {
                return this.project?.newsSet?.edges ? this.project.newsSet.edges.map(item => item.node) : [];
            },

            advantages() {
                return this.project?.advantages && this.project?.advantages.length ? this.project.advantages : [];
            },

            cityColor() {
                return this.project?.city?.color ? this.project.city.color : '';
            },

            cityId() {
                return this.project?.city?.id ? this.project.city.id : '';
            },

            cleanedLayouts() {
                return this.layouts.length ? this.layouts.map(item => item.node) : [];
            },

            socialsTitle() {
                return this.project?.socialsTitle ? this.project.socialsTitle : 'Жизнь в Стране';
            },

            moreLayoutsLink() {
                return `/flats/?project=${this.projectId}&rooms=`;
            },

            contacts() {
                return this.project?.officeSet?.edges?.length ? this.project.officeSet.edges.map(item => item.node) : [];
            },

            furnishSet() {
                return this.project.furnishSet?.length ? this.project.furnishSet.filter(item => item.imageSet && item.imageSet.length) : [];
            },
        },

        async mounted() {
            await this.setHeaderColor('gray');
            this.setSmallHeaderDisplay(false);
            window.addEventListener('scroll', this.handleScroll);
            this.$nextTick(() => {
                this.collectionEl = Array.from(this.$refs.page.children).filter(item => item.dataset.anhor);
            });
        },

        beforeDestroy() {
            this.setHeaderColor('milk');
            this.setSmallHeaderDisplay(true);
            window.removeEventListener('scroll', this.handleScroll);
        },

        methods: {
            ...mapActions('header', [
                'setHeaderColor',
                'setSmallHeaderDisplay',
            ]),

            onMoreLayoutsClick() {
                this.$yandexMetrika.reachGoal('show-all');
            },

            handleScroll() {
                if (this.flags.isTicking) {
                    return;
                }
                this.flags.isTicking = true;
                requestAnimationFrame(() => {
                    this.checkDisplaySubheader();
                    this.checkActiveLink();
                    this.flags.isTicking = false;
                });
            },

            checkDisplaySubheader() {
                if (!this.$refs.hero?.$el && !this.$refs.menu?.$el) {
                    return;
                }
                this.scrollContentHeight = this.$mq === 'xs' || this.$mq === 'sm'
                    ? this.$refs.hero.$el.offsetHeight - this.$refs.menu.$el.offsetHeight
                    : this.$refs.hero.$el.offsetHeight + this.$refs.menu.$el.offsetHeight;
                this.flags.isVisibleSubheader = window.pageYOffset > this.scrollContentHeight;
            },

            onToggleVideo(val) {
                if (window.pageYOffset > this.scrollContentHeight) {
                    return;
                }

                this.flags.isVisibleSubheader = val;
            },

            checkActiveLink() {
                if (this.$mq === 'xs' || this.$mq === 'sm' || !this.$refs.menu?.$el) {
                    return;
                }

                let activeLink = '';
                this.collectionEl.forEach(item => {
                    const {top, bottom} = item.getBoundingClientRect();
                    const isInViewport = top - this.$refs.menu.$el.offsetHeight <= 0 && bottom >= 0;
                    if (isInViewport) {
                        activeLink = item.dataset.anhor;
                    }
                });

                this.activeLink = activeLink;
            },

            fetchLayouts() {
                return this.$axios.$post('/graphql/', {
                    query: allUniquePlans.loc.source.body,
                    variables: {
                        project: this.projectId,
                        rooms: this.activeLayoutsTab,
                        first: this.layoutsLimit,
                    },
                }, {
                    progress: false,
                });
            },

            async onLoadLayouts(tab) {
                this.activeLayoutsTab = tab;
                const start = Date.now();
                const {data} = await this.fetchLayouts();
                const stop = Date.now();

                if (stop - start < 200) {
                    setTimeout(() => {
                        this.layouts = data.allUniquePlans.edges;
                    }, 200 - (stop - start));
                } else {
                    this.layouts = data.allUniquePlans.edges;
                }
            },

            onClickActionButton() {
                this.$modal.open(RequestFormModal, {
                    title: 'Подписка на рассылку',
                    subtitle: 'Акции, новости и многое другое',
                    form: SubscribeForm,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectPage {
        overflow: hidden;
    }

    .subheader {
        top: 0;
        transform: translateY(-100%);
        transition: transform $default-transition;

        &._visible {
            transform: translateY(0);
        }
    }

    .menu {
        @include respond-to(sm) {
            position: absolute;
            top: $header-h-tablet;
            left: 0;
        }

        @include respond-to(xs) {
            top: $header-h-mobile;
        }
    }

    .block {
        position: relative;
    }

    .contact {
        border-bottom: 1px solid $base-100;
    }
</style>
