<template>
    <div :class="[$style.AdvantageCard, classes]">
        <span :class="$style.index">
            0{{ index + 1 }}
        </span>
        <div :class="$style.box">
            <div :class="$style.wrapper">
                <div :class="$style.imageBox">
                    <div :class="$style.image">
                        <ImageLazy
                            :image="card[imageFieldName]"
                            :preview="card[previewImageFieldName]"
                            :is-swiper-slider="isSwiperSlider"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div :class="$style.body">
            <h3 :class="$style.title"
                class="subtitle3"
                v-html="card.title">
            </h3>
            <div :class="$style.description"
                 class="p3"
                 v-html="card.text">
            </div>
        </div>
    </div>
</template>

<script>
    import ImageLazy from '../ImageLazy';

    export default {
        name: 'AdvantageCard',

        components: {
            ImageLazy,
        },

        props: {
            imageFieldName: {
                type: String,
                default: 'ImageDisplay'
            },

            previewImageFieldName: {
                type: String,
                default: 'ImagePreview'
            },

            card: {
                type: Object,
                default: () => ({}),
            },

            index: {
                type: Number,
                default: 1,
            },

            isSwiperSlider: Boolean,

            color: {
                type: String,
                default: 'default',
            },

            size: {
                type: String,
                default: 'medium',
            },
        },

        computed: {

            classes() {
                return [
                    this.$style[`_${this.color}`],
                    this.$style[`_${this.size}`],
                ];
            },
        },
    };
</script>

<style lang="scss" module>
    .AdvantageCard {
        width: 100%;
        padding: 5.2rem 5.6rem;

        @include respond-to(sm) {
            display: flex;
            padding: $side-padding-tablet;
        }

        @include respond-to(xs) {
            flex-direction: column;
            align-items: center;
            padding: 24px;
        }

        /* Colors */

        &._default {
            background-color: rgba($base-400, .14);

            @include respond-to(xs) {
                background-color: transparent;
            }

            .index {
                color: $base-200;
            }

            .title {
                color: $milk;
            }

            .wrapper {
                &:before {
                    background: linear-gradient(-90deg, rgba($milk, 0) 0%, rgba($milk, .08) 100%);
                }

                &:after {
                    background: linear-gradient(90deg, rgba($milk, 0) 0%, rgba($milk, .08) 100%);
                }
            }

            .description {
                color: $base-200;

                @include respond-to(sm) {
                    color: $base-300;
                }
            }
        }

        &._milk {
            background-color: $milk;

            .index {
                color: $base-300;
            }

            .title {
                color: $base-500;
            }

            .wrapper {
                &:before {
                    background: linear-gradient(-90deg, rgba($base-500, 0) 0%, rgba($base-500, .08) 100%);
                }

                &:after {
                    background: linear-gradient(90deg, rgba($base-500, 0) 0%, rgba($base-500, .08) 100%);
                }
            }

            .description {
                color: $base-300;
            }
        }
    }

    .index {
        font-size: 1.4rem;
        line-height: 1.46;

        @include respond-to(xs) {
            display: none;
        }
    }

    .box {
        width: 100%;
        height: 30.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to(lg) {
            height: 26.4rem;
        }

        @include respond-to(sm) {
            width: auto;
            height: 146px;
        }

        @include respond-to(xs) {
            width: 100%;
            height: 176px;
        }
    }

    .wrapper {
        position: relative;
        width: 30.2rem;
        height: 15.1rem;
        transform: rotate(-30deg);

        @include respond-to(lg) {
            width: 26.6rem;
            height: 13.3rem;
        }

        @include respond-to(sm) {
            flex-shrink: 0;
            width: 166px;
            height: 82px;
            margin-left: -5px;
        }

        @include respond-to(xs) {
            width: 210px;
            height: 104px;
            margin-top: 70px;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 32rem;
            backface-visibility: hidden;
            transform: translateZ(0);
        }

        &:before {
            top: 1.6rem;
            left: -1rem;
        }

        &:after {
            bottom: 1.6rem;
            right: -1rem;
        }
    }

    .imageBox {
        position: relative;
        z-index: 2;
        height: 100%;
        overflow: hidden;
        border-radius: 32rem;
        backface-visibility: hidden;
    }

    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30rem;
        height: 30rem;
        transform: translate(-50%, -50%) translateZ(0) rotate(30deg);

        @include respond-to(sm) {
            width: 182px;
            height: 144px;
        }

        @include respond-to(xs) {
            width: 236px;
            height: 196px;
        }
    }

    .body {
        margin-top: 4.2rem;

        @include respond-to(sm) {
            margin-top: 0;
            margin-left: 70px;
        }

        @include respond-to(xs) {
            margin-top: 72px;
            margin-left: 0;
        }
    }

    .description {
        margin-top: .8rem;

        @include respond-to(sm) {
            margin-top: 16px;
        }

        @include respond-to(xs) {
            margin-top: 12px;
        }
    }
</style>
