<template>
    <section :class="$style.Advantages">
        <div :class="[$style.imageBox, {[$style._hovered]: hoveredItem === 'redline'}]">
            <ImageLazy
                :class="$style.image"
                :image="firstImage"
                :preview="firstImagePreview"
                relative
            />
        </div>
        <div :class="[$style.imageBox, {[$style._hovered]: hoveredItem === 'vice'}]">
            <ImageLazy
                :class="$style.image"
                :image="secondImage"
                :preview="secondImagePreview"
                relative
            />
        </div>

        <div :class="$style.container"
             class="container">
            <h2 :class="$style.title"
                class="subtitle3">
                Наша идеология
            </h2>

            <div :class="$style.block">
                <div :class="$style.blockWrapper">
                    <VBeanButton
                        v-if="firstLink"
                        :class="[$style.hoverBtn, $style._redline]"
                        color="redline"
                        absolute
                        blank
                        @mouseenter="onHoverEnter('redline')"
                        @mouseleave="onHoverLeave"
                        @click="onOpenModal(firstLink)"
                    />

                    <VBeanButton
                        v-if="secondLink"
                        :class="[$style.hoverBtn, $style._vice]"
                        color="vice"
                        absolute
                        blank
                        @mouseenter="onHoverEnter('vice')"
                        @mouseleave="onHoverLeave"
                        @click="onOpenModal(secondLink)"
                    />

                    <div :class="$style.lead"
                         v-html="lead">
                    </div>
                </div>
            </div>

            <div :class="$style.box">
                <div :class="$style.description"
                     v-html="text">
                </div>

                <VButton v-if="buttonLink"
                         :class="$style.link"
                         color="milk"
                         :link="buttonLink">
                    {{ buttonText }}
                </VButton>
            </div>

            <div :class="[$style.advantages, classList]">
                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <GalleryFraction
                        :class="$style.fraction"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                        color="inverse"
                        size="small"
                    />

                    <ul :class="$style.list"
                        class="swiper-wrapper">
                        <li v-for="(card, index) in list"
                            :key="card.id"
                            :class="$style.item"
                            class="swiper-slide">
                            <AdvantageCard
                                :image-field-name="cardImageFieldName"
                                :preview-image-field-name="cardPreviewImageFieldName"
                                :index="index"
                                :card="card"
                                :is-swiper-slider="$mq === 'xs'"
                            />
                        </li>
                    </ul>
                </div>

                <div :class="$style.effectWrap"></div>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import VButton from '../../ui/button/VButton';
    import AdvantageCard from './AdvantageCard';
    import GalleryFraction from '../gallery/GalleryFraction';
    import ImageLazy from '../ImageLazy';
    import VBeanButton from '../../ui/button/VBeanButton';
    import IframeModal from '../../layout/modals/IframeModal';

    export default {
        name: 'Advantages',

        components: {
            VBeanButton,
            ImageLazy,
            GalleryFraction,
            AdvantageCard,
            VButton,
        },

        props: {
            cardImageFieldName: {
                type: String,
                default: 'ImageDisplay',
            },

            cardPreviewImageFieldName: {
                type: String,
                default: 'ImagePreview',
            },

            firstImage: {
                type: String,
                default: '',
            },

            secondImage: {
                type: String,
                default: '',
            },

            firstImagePreview: {
                type: String,
                default: '',
            },

            secondImagePreview: {
                type: String,
                default: '',
            },

            firstLink: {
                type: String,
                default: '',
            },

            secondLink: {
                type: String,
                default: '',
            },

            lead: {
                type: String,
                default: '',
            },

            text: {
                type: String,
                default: '',
            },

            buttonText: {
                type: String,
                default: 'Подробнее',
            },

            buttonLink: {
                type: String,
                default: '',
            },

            list: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                slider: null,
                isInitSlider: false,
                activeIndex: 0,
                hoveredItem: null,
                flags: {
                    prevAnimation: false,
                    nextAnimation: false,
                },
            };
        },

        computed: {
            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.list.length < 10 ? `0${this.list.length}` : `${this.list.length}`;
            },

            classList() {
                return {
                    [this.$style._effect]: this.list.length > 1,
                    [this.$style._nextAnim]: this.flags.nextAnimation,
                    [this.$style._prevAnim]: this.flags.prevAnimation,
                };
            },
        },

        watch: {
            $mq: function(val) {
                if (val === 'xs') {
                    if (!this.isInitSlider) {
                        this.initSwiper();
                    }
                } else if (this.isInitSlider) {
                    this.slider.destroy();
                }
            },
        },

        mounted() {
            if (window.innerWidth < 768) {
                this.$nextTick(() => {
                    this.initSwiper();
                });
            }
        },

        beforeDestroy() {
            if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                if (this.isInitSlider) {
                    return;
                }
                const options = {
                    speed: 700,
                    slidesPerView: 1,
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },
                    lazy: true,
                    loop: true,
                };

                this.slider = new Swiper(this.$refs.slider, options);
                this.isInitSlider = true;

                this.slider.on('transitionStart', () => {
                    if (this.activeIndex < this.slider.realIndex || (this.slider.realIndex === 0 && this.activeIndex === this.list.length - 1)) {
                        if (this.activeIndex === 0 && this.slider.realIndex === this.list.length - 1) {
                            this.flags.prevAnimation = true;
                        } else {
                            this.flags.nextAnimation = true;
                        }
                    } else {
                        this.flags.prevAnimation = true;
                    }
                });

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });

                this.slider.on('transitionEnd', () => {
                    this.flags.nextAnimation = false;
                    this.flags.prevAnimation = false;
                });
            },

            onHoverEnter(val) {
                if (window.innerWidth < 768) {
                    return;
                }
                this.hoveredItem = val;
            },

            onHoverLeave() {
                if (window.innerWidth < 768) {
                    return;
                }
                this.hoveredItem = null;
            },

            onOpenModal(link) {
                this.$modal.open(IframeModal, {link: link});
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .4s linear;

    .Advantages {
        position: relative;
        background-color: $base-500;
        overflow: hidden;

        @include respond-to(xs) {
            padding-bottom: 56px;
        }
    }

    .imageBox {
        position: absolute;
        width: 100%;
        height: 87.7rem;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 2;
            height: 20rem;
        }

        &:before {
            top: 0;
            background: linear-gradient(180deg, $base-500 0%, rgba($base-500, 0) 100%);
        }

        &:after {
            bottom: 0;
            background: linear-gradient(0deg, $base-500 0%, rgba($base-500, 0) 100%);
        }

        &._hovered {
            .image {
                opacity: .2;
            }
        }
    }

    .image {
        z-index: 1;
        height: 100%;
        opacity: 0;
        transition: opacity $transition;
    }

    .container {
        position: relative;
        z-index: 2;
        padding-top: 8rem;

        @include respond-to(sm) {
            padding-top: 64px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
        }
    }

    .block {
        padding: 15.6rem 24rem 0;

        @include respond-to(lg) {
            padding: 6.4rem 0 0;
        }

        @include respond-to(sm) {
            padding-top: 36px;
        }

        @include respond-to(xs) {
            padding-top: 8px;
        }
    }

    .blockWrapper {
        position: relative;
    }

    .hoverBtn {
        &._redline {
            top: -5.2rem;
            left: 32.4rem;

            @include respond-to(sm) {
                top: -44px;
                left: 280px;
            }

            @include respond-to(xs) {
                top: -26px;
                left: 135px;
            }
        }

        &._vice {
            top: 2.6rem;
            right: 35rem;

            @include respond-to(sm) {
                top: 90px;
                right: auto;
                left: 414px;
            }

            @include respond-to(xs) {
                top: 44px;
                left: 196px;
            }
        }
    }

    .lead {
        position: relative;
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 1.12;
        color: $milk;
        pointer-events: none;

        @include respond-to-min(md) {
            display: flex;
            flex-direction: column;

            & :nth-child(2) {
                padding-left: 33.6rem;
            }

            & :nth-child(3) {
                align-self: flex-end;
                padding-right: 20rem;
            }

            & :last-child {
                align-self: flex-end;
            }
        }

        @include respond-to(sm) {
            font-size: 56px;
            line-height: 1.3;

            & > * {
                display: inline-block;

                &:first-child {
                    width: 60%;

                    @include respond-to(xs) {
                        width: 200px;
                    }
                }
            }
        }

        @include respond-to(xs) {
            width: 288px;
            font-size: 28px;
            letter-spacing: -1px;
        }
    }

    .box {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        margin-top: 10.5rem;
        margin-bottom: 5.6rem;

        @include respond-to(lg) {
            margin-top: 3.6rem;
        }

        @include respond-to(sm) {
            flex-direction: row;
            margin-top: 40px;
            margin-bottom: 64px;
        }

        @include respond-to(xs) {
            flex-direction: column;
            margin-top: 16px;
            margin-bottom: 32px;
        }
    }

    .description {
        width: 27rem;
        margin-left: auto;
        padding-right: 3.2rem;
        box-sizing: content-box;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $milk;

        @include respond-to(sm) {
            margin-left: 0;
            margin-right: 42px;
        }

        @include respond-to(xs) {
            box-sizing: border-box;
            margin-right: auto;
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .link {
        width: 29.4rem;

        @include respond-to(lg) {
            width: 17.2rem;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-top: 24px;
        }
    }

    .advantages {
        position: relative;
        padding: 5.6rem 0;
        border-top: 1px solid rgba($milk, .16);
        border-bottom: 1px solid rgba($milk, .16);

        @include respond-to(sm) {
            padding: 64px 0;
        }

        @include respond-to(xs) {
            padding: 32px 0 0;
            border-bottom: none;
        }

        &._effect {
            &:before {
                content: none;
                position: absolute;
                top: 32px;
                left: 0;
                z-index: 1;
                width: 100%;
                height: calc(100% - 32px);
                background-color: $base-450;
                overflow: hidden;

                @include respond-to(xs) {
                    content: '';
                }
            }

            .effectWrap {
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    opacity: .04;
                    will-change: transform;
                    transition: transform .4s ease;
                    z-index: -1;
                }

                &:before {
                    transform: scaleX(.945) translate(0, .8rem);
                }

                &:after {
                    transform: scaleX(.917) translate(0, 1.6rem);
                }
            }
        }

        &._nextAnim {
            .effectWrap {
                &:before {
                    animation: animFirst .5s ease-out;
                }

                &:after {
                    animation: animSecond .5s ease-out;
                }
            }
        }

        &._prevAnim {
            .effectWrap {
                &:before {
                    animation: animFirst .5s ease-out reverse;
                }

                &:after {
                    animation: animSecond .5s ease-out reverse;
                }
            }
        }
    }

    .effectWrap {
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 0;
        display: none;
        width: 100%;
        height: calc(100% - 32px);

        @include respond-to(xs) {
            display: block;
        }
    }

    .fraction {
        &:global(.fraction) {
            display: none;

            @include respond-to(xs) {
                position: absolute;
                left: 24px;
                top: 24px;
                display: inline-flex;
            }
        }
    }

    .list {
        display: flex;
        width: auto;
        margin: 0 -2rem;

        @include respond-to(sm) {
            flex-direction: column;
            margin: -10px 0;
        }

        @include respond-to(xs) {
            flex-direction: row;
            width: 100%;
            margin: 0;
        }
    }

    .item {
        display: flex;
        width: 33.33333%;
        padding: 0 2rem;

        @include respond-to(sm) {
            width: 100%;
            padding: 10px 0;
        }

        @include respond-to(xs) {
            padding: 0;
        }
    }

    @keyframes animFirst {
        0% {
            transform: scaleX(.945) translate(0, .8rem);
        }

        50% {
            transform: scaleX(1) translate(0, 0);
        }

        51% {
            transform: scaleX(1) translate(0, 0);
        }

        52% {
            transform: scaleX(.945) translate(0, .8rem);
        }

        53% {
            transform: scaleX(.945) translate(0, .8rem);
        }

        100% {
            transform: scaleX(.945) translate(0, .8rem);
        }
    }

    @keyframes animSecond {
        0% {
            transform: scaleX(.917) translate(0, 1.6rem);
        }

        52% {
            transform: scaleX(.945) translate(0, .8rem);
        }

        53% {
            transform: scaleX(.945) translate(0, .8rem);
        }

        54% {
            transform: scaleX(.917) translate(0, 1.6rem);
        }

        100% {
            transform: scaleX(.917) translate(0, 1.6rem);
        }
    }
</style>
