<template>
    <section v-intersect.once="{handler: showBlock}"
             :class="[$style.VacancyAbout, {[$style._visible]: isVisible}]">
        <div :class="$style.container"
             class="container">
            <div :class="$style.wrapper">
                <b :class="$style.caption">
                    <span v-html="page.advantagesTitle1">
                    </span>
                    <span class="c-redline"
                          v-html="page.advantagesTitle2">
                    </span>
                </b>

                <ul :class="$style.info">
                    <li v-for="item in page.vacancypageadvantageSet"
                        :key="item.id"
                        :class="$style.row">
                        <h2 :class="$style.title"
                            v-html="item.title">
                        </h2>
                        <div :class="$style.icon"
                             :style="{backgroundImage: `url(${item.icon})`}">
                        </div>
                    </li>
                </ul>

                <div :class="$style.buttons">
                    <VButton :class="$style.btn"
                             color="inverse"
                             @click="onOpenModal">
                        {{ page.advantagesButtonText1 }}
                    </VButton>
                    <VButton :class="$style.btn"
                             color="trans"
                             @click="onScroll">
                        {{ page.advantagesButtonText2 }}
                    </VButton>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {scrollTo} from '../../../../assets/js/utils/commonUtils';
    import {blockAimate} from '../../../../assets/js/mixins/blockAnimate';

    /* components */
    import VButton from '../../../ui/button/VButton';
    import ResumeModal from '@/components/layout/modals/ResumeModal';

    export default {
        name: 'VacancyAbout',

        components: {
            VButton,
        },

        mixins: [
            blockAimate,
        ],

        props: {
            page: {
                type: Object,
                default: () => ({}),
            },
        },

        methods: {
            onScroll() {
                scrollTo('list');
            },

            onOpenModal() {
                this.$modal.open(ResumeModal, {
                    classList: 'is-article',
                });
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .9s $text-transition;

    .VacancyAbout {
        padding-top: 8rem;
        background-color: $base-500;

        &._visible {
            .row {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }

            .caption {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        @include respond-to(sm) {
            padding-top: 64px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
        }
    }

    .container {
        padding-bottom: 8rem;
        border-bottom: 1px solid rgba($milk, .16);

        @include respond-to(sm) {
            padding-bottom: 64px;
            border: none;
        }

        @include respond-to(xs) {
            padding-bottom: 40px;
        }
    }

    .wrapper {
        position: relative;
        display: flex;
        overflow: hidden;

        @include respond-to(sm) {
            flex-direction: column;
        }
    }

    .caption {
        width: 30.4rem;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 1.33;
        letter-spacing: -.1rem;
        color: #fff;
        transform: translate3d(-100%, 0, 0);
        will-change: opacity, transform;
        transition: opacity $text-transition, transform $text-transition;

        @include respond-to(sm) {
            width: 80%;
            margin-bottom: 40px;
            font-size: 28px;
            line-height: 1.28;
        }

        @include respond-to(xs) {
            width: 75%;
            margin-bottom: 24px;
            font-size: 20px;
            line-height: 1.4;
        }

        a {
            transition: color .3s $bezier-second;

            @include hover {
                &:hover {
                    color: $primary-200;
                }
            }
        }
    }

    .info {
        width: 126.4rem;
        margin-left: auto;

        @include respond-to(lg) {
            width: 90.4rem;
        }

        @include respond-to(sm) {
            width: 100%;
            margin-left: 0;
        }
    }

    .row {
        display: flex;
        align-items: center;
        padding: 3.6rem;
        background-color: rgba($base-400, .16);
        opacity: 0;
        transform: translate3d(0, 5rem, 0);
        will-change: opacity, transform;
        transition: opacity $text-transition, transform .6s $text-transition;

        @include respond-to(sm) {
            padding: 24px 40px;
        }

        @include respond-to(xs) {
            padding: 20px 16px;
        }

        &:not(:last-child) {
            margin-bottom: 2.4rem;

            @include respond-to(sm) {
                margin-bottom: 16px;
            }

            @include respond-to(xs) {
                margin-bottom: 8px;
            }
        }

        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                transition-delay: .15s * $i;
            }
        }
    }

    .title {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 1.32;
        color: $milk;

        @include respond-to(sm) {
            font-size: 20px;
            line-height: 1.4;
        }

        @include respond-to(xs) {
            font-size: 16px;
            line-height: 1.25;
            font-weight: normal;
        }

        br {
            display: none;

            @include respond-to(xs) {
                display: inline;
            }
        }
    }

    .buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;

        @include respond-to(sm) {
            position: static;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 40px;
        }

        @include respond-to(xs) {
            flex-direction: column-reverse;
            margin-top: 24px;
        }
    }

    .btn {
        width: 30rem;

        @include respond-to(sm) {
            width: 332px;
        }

        @include respond-to(xs) {
            width: 100%;
        }

        &:last-child {
            margin-top: 1.2rem;

            @include respond-to(sm) {
                margin-top: 0;
            }

            @include respond-to(xs) {
                margin-bottom: 16px;
            }
        }
    }

    .icon {
        width: 4rem;
        height: 4rem;
        margin-left: auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include respond-to(sm) {
            width: 28px;
            height: 28px;
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
        }
    }
</style>
