<template>
    <div :class="$style.VacancyForm">

        <div :class="$style.input">
            <VInput
                v-model="values.name"
                label="Имя"
                :error="errors.name"
                @input="errors.name = ''"
            />
            <FormHint v-if="errors.name"
                      :class="$style.error">
                {{ errors.name }}
            </FormHint>
        </div>

        <div :class="$style.input">
            <VInput
                v-model="values.phone"
                mask="phone"
                label="Телефон"
                :error="errors.phone"
                @input="errors.phone = ''"
            />
            <FormHint v-if="errors.phone"
                      :class="$style.error">
                {{ errors.phone }}
            </FormHint>
        </div>

        <div :class="$style.input">
            <InputFile
                ref="file"
                :max-size="3000000"
                :formats="['pdf', 'doc', 'docx', 'rar', 'jpg', 'jpeg', 'png', 'xls', 'xlsx', 'txt', 'tiff']"
                :error="errors.resume"
                label="Прикрепите резюме"
                @change="setFile"
                @on-error="onError"
            />
            <FormHint v-if="errors.resume"
                      :class="$style.error">
                {{ errors.resume }}
            </FormHint>
        </div>

        <div :class="$style.input">
            <VInput
                v-model="values.message"
                label="Сопроводительное письмо"
                :error="errors.message"
                @input="errors.message = ''"
            />
            <FormHint v-if="errors.message"
                      :class="$style.error">
                {{ errors.message }}
            </FormHint>
        </div>

    </div>
</template>

<script>
    /* utils */
    import {cleanPhone} from 'frontend/assets/js/utils/commonUtils';

    /* queries */
    import vacancyRequest from '@/queries/vacancies/vacancyRequest.graphql';

    /* components */
    import VInput from '@/components/ui/input/VInput';
    import InputFile from '@/components/ui/input/InputFile';
    import FormHint from '@/components/common/form/FormHint';


    export default {
        name: 'VacancyForm',

        components: {
            VInput,
            InputFile,
            FormHint,
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                values: {
                    name: '',
                    phone: '',
                    resume: '',
                    fileName: '',
                    message: '',
                },
                errors: {
                    name: '',
                    phone: '',
                    resume: '',
                    message: '',
                },
            };
        },

        methods: {
            setFile(file) {
                this.values.resume = file[0];
            },

            onError(error) {
                this.errors.resume = error;
            },

            async handleFormSubmit() {
                try {
                    if (!this.validate()) {
                        return;
                    }

                    const inputObj = {
                        input: {
                            vacancy: this.data.id,
                            name: this.values.name,
                            phone: cleanPhone(this.values.phone),
                            message: this.values.message,
                        }
                    };

                    const body = new FormData();
                    body.append('query', vacancyRequest.loc.source.body);
                    body.append('variables', JSON.stringify(inputObj));
                    body.append('resume', this.values.resume);

                    const res = await this.$axios.$post('/graphql/', body);

                    if (res.data.vacancyRequest.errors) {
                        res.data.vacancyRequest.errors.forEach(er => {
                            this.errors[er.field] = er.messages[0];
                        });
                    } else {
                        this.$emit('on-submit', 'success');
                    }
                } catch (e) {
                    this.$emit('on-submit', 'error');
                }
            },

            validate() {
                let isValidated = true;
                const cleanedPhone = cleanPhone(this.values.phone);

                Object.entries(this.values).forEach(([key, value]) => {
                    switch (key) {
                        case 'name':
                            if (!value) {
                                this.errors.name = 'Поле имени не может быть пустым';
                                isValidated = false;
                            }

                            break;

                        case 'phone':
                            if (!cleanedPhone) {
                                this.errors.phone = 'Поле телефона не может быть пустым';
                                isValidated = false;
                            } else if (cleanedPhone.length < 12) {
                                this.errors.phone = 'Телефон введён неверно';
                                isValidated = false;
                            }

                            break;

                        case 'resume':
                            if (!this.$refs.file.validate()) {
                                isValidated = false;
                            } else if (!value) {
                                this.errors.resume = 'Необходимо прикрепить файл';
                                isValidated = false;
                            }

                            break;
                    }
                });

                return isValidated;
            },
        }
    };
</script>

<style lang="scss" module>
    .VacancyForm {
        margin-top: 3.6rem;

        @include respond-to(sm) {
            margin-top: 2rem;
        }
    }

    .input {
        position: relative;
        margin-bottom: 4rem;

        @include respond-to(sm) {
            margin-bottom: 2rem;
        }
    }

    .error {
        font-weight: 500;
        font-size: 1.2rem;
    }
</style>
