<template>
    <section :class="$style.VacancyList">
        <div :class="$style.header"
             class="container">
            <MainSelect
                :class="$style.wrapper"
                title="Вакансии"
                title-tag="h2"
                :value="values.city"
                :options="[{value: '', label: 'во всех городаx'}, ...specs.city]"
                @change="$emit('on-values-change', {city: $event})"
            />

            <div :class="$style.filter">
                <FilterContainer :class="$style.cell"
                                 label="Направление">
                    <SelectFilter
                        :value="values.category"
                        :spec="[{value: '', label: 'Любое'}, ...specs.category]"
                        :facet="facets.category"
                        @change="$emit('on-values-change', {category: $event})"
                    />
                </FilterContainer>
                <FilterContainer :class="$style.cell"
                                 label="Профессия">
                    <VInput
                        :class="$style.input"
                        :value="values.text"
                        placeholder="Введите наименование профессии"
                        @input="$emit('on-values-change', {text: $event})"
                    />
                </FilterContainer>
            </div>
        </div>

        <div :class="[$style.results, {[$style._loading]: loading}]">
            <div v-if="vacancies.length"
                 :class="$style.body">
                <AccordionItem v-for="group in vacancies"
                               :key="group.id"
                               :opened="!!values.category || !!values.text"
                               :class="$style.accordion">
                    <template #header>
                        <h2 class="h4"
                            v-html="group.direction">
                        </h2>
                    </template>
                    <template #content>
                        <ul :class="$style.list">
                            <li v-for="card in group.list"
                                :key="card.id"
                                :class="$style.item">
                                <VacancyListCard :card="card" />
                            </li>
                        </ul>
                    </template>
                </AccordionItem>
            </div>
            <div v-else
                 :class="$style.empty">
                <div class="h3">
                    Вакансии не найдены
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    /* components */
    import FilterContainer from '../../../filters/FilterContainer';
    import SelectFilter from '../../../filters/SelectFilter';
    import AccordionItem from '../../../common/AccordionItem';
    import VacancyListCard from './VacancyListCard';
    import VInput from '@/components/ui/input/VInput';
    import MainSelect from '../../../common/MainSelect';

    export default {
        name: 'VacancyList',

        components: {
            MainSelect,
            VInput,
            VacancyListCard,
            AccordionItem,
            SelectFilter,
            FilterContainer,
        },

        props: {
            vacancies: {
                type: Array,
                default: () => [],
            },
            specs: {
                type: Object,
                default: () => ({}),
            },
            facets: {
                type: Object,
                default: () => ({}),
            },
            values: {
                type: Object,
                default: () => ({}),
            },
            loading: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                isSearching: false,
            };
        },
    };
</script>

<style lang="scss" module>
    .VacancyList {
        //
    }

    .header {
        padding-top: 8rem;
        padding-bottom: 5.2rem;

        @include respond-to(sm) {
            padding-top: 64px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
            padding-bottom: 24px;
        }
    }

    .wrapper {
        margin-bottom: 4.8rem;

        @include respond-to(sm) {
            margin-bottom: 40px;
        }

        @include respond-to(xs) {
            margin-bottom: 24px;
        }
    }

    .filter {
        display: flex;
        align-items: center;

        @include respond-to(xs) {
            flex-direction: column;
        }
    }

    .cell {
        &:first-child {
            width: 41.6rem;
            padding-right: 4.8rem;

            @include respond-to(lg) {
                width: 30.2rem;
                padding-right: 4rem;
            }

            @include respond-to(sm) {
                width: 50%;
                padding-right: 20px;
            }

            @include respond-to(xs) {
                width: 100%;
                padding: 0;
            }
        }

        &:last-child {
            width: 80rem;

            @include respond-to(lg) {
                width: 68.2rem;
            }

            @include respond-to(sm) {
                width: 50%;
                padding-left: 20px;
            }

            @include respond-to(xs) {
                width: 100%;
                margin-top: 36px;
                padding: 0;
            }
        }
    }

    .input {
        height: 4rem;

        :global {
            .v-input__inner {
                @include respond-to(sm) {
                    padding-bottom: 0;
                }
            }

            .v-input__native {
                @include respond-to(xs) {
                    height: 40px;
                }
            }
        }
    }

    .results {
        min-height: 15.3rem;
        border-top: 1px solid $base-100;
        transition: opacity $default-transition;

        &._loading {
            opacity: 0;
        }
    }

    .accordion:not(:last-child) {
        border-bottom: 1px solid $base-100;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1px -1px;
        background-color: $base-50;
        border-top: 1px solid $base-100;
    }

    .item {
        width: 25%;
        height: 26.2rem;
        border-bottom: 1px solid $base-100;
        border-right: 1px solid $base-100;

        @include respond-to(lg) {
            width: 33.3333%;
        }

        @include respond-to(sm) {
            width: 50%;
            height: 226px;
        }

        @include respond-to(xs) {
            width: 100%;
            height: auto;
        }
    }

    .empty {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8rem 0;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            padding: 40px 0;
        }

        &._hide {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }
</style>
