<template>
    <div :class="$style.VacancyDescription">

        <VTag :class="$style.city"
              outline>
            {{ data.city }}
        </VTag>

        <h2 :class="$style.title">
            {{ data.title }}
        </h2>

        <p :class="$style.subtitle">
            {{ data.date }}{{ data.format }}
        </p>

        <div :class="$style.content">
            <h3 :class="$style.listTitle">
                Обязанности
            </h3>

            <div :class="$style.list"
                 v-html="data.requirements">
            </div>

            <h3 :class="$style.listTitle">
                Требования
            </h3>

            <div :class="$style.list"
                 v-html="data.duties">
            </div>
        </div>

    </div>
</template>

<script>
    import VTag from '@/components/ui/tag/VTag';

    export default {
        name: 'VacancyDescription',

        components: {
            VTag,
        },

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },
        },
    };
</script>

<style lang="scss" module>
    .title {
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 124%;
        color: $base-500;
        letter-spacing: -1px;

        @include respond-to(sm) {
            font-size: 2.8rem;
        }

        @include respond-to(xs) {
            font-size: 2rem;
        }
    }

    .subtitle {
        font-size: 1.8rem;
        line-height: 156%;
        color: $base-300;
        margin-top: 8px;

        @include respond-to(xs) {
            font-size: 1.6rem;
        }
    }

    .city {
        margin-bottom: 1.6rem;
    }

    .list {
        background: $milk;
    }

    .listTitle {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 152%;
        color: $secondary-500;
        margin-top: 3.2rem;

        @include respond-to(xs) {
            margin-top: 2.4rem;
        }
    }

    .list li {
        position: relative;
        font-size: 1.6rem;
        line-height: 152%;
        color: $base-300;
        padding-left: 2.2rem;
        margin-top: 1.6rem;

        @include respond-to(xs) {
            margin-top: 1.2rem;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 7px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $secondary-500;
        }
    }

    .list p {
        font-size: 1.6rem;
        line-height: 152%;
        color: $base-300;
        margin-top: 1.6rem;

        @include respond-to(xs) {
            margin-top: 1.2rem;
        }
    }
</style>
