<template>
    <div :class="$style.VacancyListCard"
         @click="handleModalOpen">
        <div :class="$style.content">
            <ul :class="$style.tags">
                <li :class="$style.tag">
                    <VTag outline>
                        {{ card.city.name }}
                    </VTag>
                </li>
            </ul>
            <h3 :class="$style.title"
                class="subtitle3 c-base"
                v-html="card.jobTitle">
            </h3>

            <div :class="$style.footer"
                 class="p3 c-base-300">
                {{ date }}{{ workFormat }}
            </div>

            <div v-if="card.print"
                 :class="$style.print">
                <VCircleButton size="small">
                    <IconPrint class="frame-icon is-default" />
                </VCircleButton>
            </div>
        </div>
    </div>
</template>

<script>
    import {monthByNumber} from 'frontend/assets/js/utils/commonUtils';

    /* components */
    import VTag from '../../../ui/tag/VTag';
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconPrint from '../../../icons/IconPrint';
    import VacancyModal from '../../../layout/modals/VacancyModal';

    export default {
        name: 'VacancyListCard',

        components: {
            IconPrint,
            VCircleButton,
            VTag,
        },

        props: {
            card: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                workFormats: {
                    office: 'Работа из офиса',
                    remotely: 'Удаленно',
                },
            };
        },

        computed: {
            date() {
                const date = new Date(this.card.date);
                return `${date.getDate()} ${monthByNumber(date.getMonth(), 'case')} ${date.getFullYear()}`;
            },

            workFormat() {
                return this.workFormats[this.card.workFormat] ? ` / ${this.workFormats[this.card.workFormat]}` : '';
            },
        },

        methods: {
            handleModalOpen() {
                this.$modal.open(VacancyModal, {
                    id: this.card.id,
                    title: this.card.jobTitle,
                    city: this.card.city.name,
                    date: this.date,
                    format: this.workFormat,
                    requirements: this.card.requirements,
                    duties: this.card.duties,
                    classList: 'is-article',
                });
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .4s $bezier-second;

    .VacancyListCard {
        position: relative;
        height: 100%;
        background-color: $base-50;
        cursor: pointer;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $milk;
            transform: scaleY(0);
            transform-origin: 100% 100%;
            transition: transform $transition;
        }

        @include hover {
            &:hover {
                &:before {
                    transform: scaleY(1);
                }

                .print {
                    opacity: 1;
                }
            }
        }
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5.2rem 5.6rem;

        @include respond-to(sm) {
            padding: $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding: 24px $side-padding-mobile;
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: -.4rem -.4rem 1.2rem;

        @include respond-to(xs) {
            margin-bottom: 8px;
        }
    }

    .tag {
        padding: .4rem;
    }

    .footer {
        margin-top: auto;

        @include respond-to(xs) {
            position: relative;
            margin-top: 8px;
        }
    }

    .print {
        position: absolute;
        top: 4.4rem;
        right: 5.5rem;
        opacity: 0;
        transition: opacity $default-transition;

        @include respond-to(sm) {
            top: auto;
            bottom: 30px;
            right: 40px;
            opacity: 1;
        }

        @include respond-to(xs) {
            position: static;
            margin-top: 16px;
        }
    }
</style>
