<template>
    <button :class="[$style.TheHeaderBurger, {[$style['is-active']] : isActive}]"
            class="btn-reset"
            @click="handleClick">
        <span :class="$style.wrapper">
            <IconMenu
                class="frame-icon"
                :class="$style.menu"
            />
            <IconClose
                class="frame-icon is-default"
                :class="$style.close"
            />
        </span>
    </button>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import IconClose from '../../icons/IconClose';
    import IconMenu from '../../icons/share/IconMenu';

    export default {
        name: 'TheHeaderBurger',

        components: {
            IconMenu,
            IconClose,
        },

        computed: {
            ...mapState('header', {
                isActive: 'is_burger_menu_visible',
            }),
        },

        methods: {
            ...mapActions('header', {
                closeMenu: 'closeBurgerMenu',
                openMenu: 'openBurgerMenu',
            }),

            handleClick() {
                this.$yandexMetrika.reachGoal('using-menu');
                this.isActive ? this.closeMenu() : this.openMenu();
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .4s linear;

    .TheHeaderBurger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        color: $milk;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background-color: $base-500;
            transform: translate(-50%, -50%) translateZ(0);
            box-sizing: border-box;
            transition: transform .4s $bezier;
        }

        @include hover {
            &:hover,
            &:focus {
                &:before {
                    transform: translate(-50%, -50%) translateZ(0) scale(1.16);
                }
            }
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
        }

        &.is-active {
            .menu {
                opacity: 0;
                transform: translateZ(0) scale(0);
            }

            .close {
                opacity: 1;
                transform: translate3d(-50%, -50%, 0) scale(1);
            }
        }
    }

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .menu {
        position: relative;
        transform: translateZ(0);
        will-change: transform;
        transition: opacity $transition, transform $transition;
    }

    .close {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(0);
        transition: opacity $transition, transform $transition;
    }
</style>
