<template>
    <div :class="[$style.MenuCityDropdown, {[$style._opened]: isOpen}]">
        <div :class="$style.header"
             class="container"
             @click="handleToggle">
            <div :class="[$style.wrapper, classes]">
                <div :class="$style.label"
                     class="menu-select__title">
                    <IconPinBig
                        :class="$style.pin"
                        class="frame-icon is-small"
                    />
                    <div :class="$style.title"
                         class="button2">
                        {{ activeCityName }}
                    </div>
                </div>

                <span :class="$style.arrow">
                    <IconArrowRight
                        :class="$style.arrowIcon"
                        class="frame-icon"
                    />
                </span>
            </div>
        </div>
        <div ref="container"
             :class="$style.container"
             class="container"
             :style="style">
            <div :class="$style.content">
                <a v-for="city in fileredCities"
                   :key="city.id"
                   :class="$style.link"
                   :href="'//' + city.site.domain">
                    <span :class="$style.marker"
                          :style="{backgroundColor: `${city.color}`}">
                    </span>
                    <span class="button2">
                        {{ city.name }}
                    </span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import IconPinBig from '../../icons/IconPinBig';
    import IconArrowRight from '../../icons/IconArrowRight';

    export default {
        name: 'MenuCityDropdown',

        components: {
            IconArrowRight, IconPinBig,
        },

        data() {
            return {
                isOpen: false,
                contentHeight: null,
                maxHeight: 0,
            };
        },

        computed: {
            ...mapGetters({
                activeCityName: 'getActiveCityName',
                cityClass: 'getCityClass',
                cities: 'getActiveCities',
            }),

            style() {
                return {maxHeight: `${this.maxHeight}px`};
            },

            classes() {
                return [[this.$style[`_${this.cityClass()}`]]];
            },

            fileredCities() {
                return this.cities.filter(item => item.name !== this.activeCityName);
            },
        },

        mounted() {
            this.contentHeight = this.$refs.container.scrollHeight;
        },

        methods: {
            handleToggle() {
                this.isOpen = !this.isOpen;
                if (this.isOpen) {
                    this.maxHeight = this.contentHeight;
                } else {
                    this.maxHeight = 0;
                }

                this.$emit('toggle', this.isOpen);
            },
        },
    };
</script>

<style lang="scss" module>
    .MenuCityDropdown {
        background-color: $base-50;
        transition: background-color $default-transition;

        &._opened {
            background-color: $milk;

            .arrowIcon {
                transform: rotate(90deg);
            }
        }
    }

    .header {
        border-bottom: 1px solid $base-100;
    }

    .wrapper {
        position: relative;
        display: flex;
        padding: 16px 0;
        overflow: hidden;

        &._moxxy {
            color: $moxxy;

            .arrow {
                background-color: rgba($tertiary-100, .4);
            }
        }

        &._vice {
            color: $vice;

            .arrow {
                background-color: rgba($secondary-100, .4);
            }
        }

        &._redline {
            color: $redline;

            .arrow {
                background-color: rgba($primary-100, .4);
            }
        }

        &._elysium {
            color: $elysium;

            .arrow {
                background-color: rgba($elysium, .4);
            }
        }
    }

    .label {
        position: relative;
        padding-left: 24px;
        opacity: 0;
        transform: translateY(100%) translateZ(0);
        will-change: transform, opacity;
        transition: opacity .6s $popup-in-bezier, transform .6s $popup-in-bezier;
    }

    .pin {
        position: absolute;
        left: -4px;
        top: 35%;
        transform: translateY(-50%);
    }

    .title {
        margin-right: auto;
    }

    .container {
        overflow: hidden;
        max-height: 0;
        transition: max-height .3s ease-in-out;
    }

    .arrow {
        position: absolute;
        right: 0;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .arrowIcon {
        flex-shrink: 0;
        transform: rotate(-90deg);
        transition: transform $default-transition;
    }

    .content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .link {
        display: flex;
        align-items: center;
        color: $base-500;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .marker {
        width: 6px;
        height: 6px;
        margin-right: 16px;
        border-radius: 50%;
    }
</style>
