<template>
    <div :class="$style.MenuLinkAccount">
        <a :class="$style.link"
           href="https://lk.strana.com/">
            <IconUser
                :class="$style.user"
                class="frame-icon"
            />

            <span :class="$style.linkLabel">
                <span :class="$style.animationWrapper">
                    Личный кабинет
                </span>
            </span>

            <IconArrowLeft
                :class="$style.arrow"
                class="frame-icon"
            />
        </a>
    </div>
</template>

<script>
    import IconUser from '../../icons/IconUser';
    import IconArrowLeft from '../../icons/IconArrowLeft';

    export default {
        name: 'MenuLinkAccount',

        components: {
            IconUser,
            IconArrowLeft
        }
    };
</script>

<style lang="scss" module>
    .MenuLinkAccount {
        padding: 14px 16px;
        border-bottom: 1px solid $base-100;
    }

    .link {
        position: relative;
        display: inline-flex;
        width: 100%;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.45;
        color: $base-200;

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    color: $vice;

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: calc((1.2rem + 1px) * -1);
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform $default-transition, color $default-transition;
        }

        & .user {
            position: absolute;
            top: -10px;
            left: -14px;
            width: 40px;
            height: 40px;
            color: $base-500;
        }

        & .arrow {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translate(40%, -50%);
            transition: fill $default-transition;
        }
    }

    .linkLabel {
        display: inline-block;
        color: $base-500;
        overflow: hidden;
        padding-left: 24px;
        font-size: 14px;
    }
</style>
