<template>
    <div :class="[$style.MenuItem, {[$style._opened]: isOpen}]">
        <div :class="$style.header"
             @click="handleToggle">
            <slot name="header"></slot>
            <span :class="$style.arrow">
                <IconArrowRight
                    :class="$style.arrowIcon"
                    class="frame-icon"
                />
            </span>
        </div>

        <div ref="container"
             :class="$style.submenu"
             :style="style">
            <div :class="$style.wrapper">
                <slot name="content"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    import IconArrowRight from '../../icons/IconArrowRight';

    export default {
        name: 'MenuItem',

        components: {
            IconArrowRight,
        },

        data() {
            return {
                isOpen: false,
                contentHeight: null,
                maxHeight: 0,
            };
        },

        computed: {
            style() {
                return this.$mq === 'xs' ? {maxHeight: `${this.maxHeight}px`} : '';
            },
        },

        mounted() {
            this.contentHeight = this.$refs.container.scrollHeight;
        },

        methods: {
            handleToggle() {
                if (this.$mq !== 'xs') {
                    return;
                }
                this.isOpen = !this.isOpen;
                if (this.isOpen) {
                    this.maxHeight = this.contentHeight;
                } else {
                    this.maxHeight = 0;
                }

                this.$emit('toggle', this.isOpen);
            },
        },
    };
</script>

<style lang="scss" module>
    .MenuItem {
        padding: 0 5.6rem;
        transition: background-color $default-transition;

        &:hover {
            .submenu {
                opacity: 1;
                visibility: visible;
                transition: opacity .3s linear, visibility .26s step-start, max-height .3s ease-in-out;
            }
        }

        @include respond-to(sm) {
            padding: 0 $side-padding-tablet;
        }

        @include respond-to(xs) {
            background-color: $base-50;
            padding: 0 $side-padding-mobile;

            &._opened {
                background-color: $milk;

                .arrowIcon {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .header {
        @include respond-to(xs) {
            position: relative;
            padding: 12px 0;
            border-bottom: 1px solid $base-100;
        }
    }

    .submenu {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        min-height: 79rem;
        padding-top: 12rem;
        padding-bottom: 13.6rem;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s linear, visibility .26s step-end;

        @include respond-to(md) {
            min-height: 628px;
        }

        @include respond-to(sm) {
            min-height: auto;
            padding-top: 0;
        }

        @include respond-to(xs) {
            position: static;
            height: auto;
            max-height: 0;
            overflow: hidden;
            padding-bottom: 0;
            opacity: 1;
            visibility: visible;
            transition: max-height .3s ease-in-out;
        }
    }

    .wrapper {
        height: 100%;
        padding: 5.4rem 5.6rem 0;
        pointer-events: all;

        @include respond-to(sm) {
            padding: 40px $side-padding-tablet 0;
        }

        @include respond-to(xs) {
            padding: 20px 0;
        }
    }

    .arrow {
        position: absolute;
        right: 0;
        top: 50%;
        display: none;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: $base-500;
        background-color: rgba($base-100, .4);
        transform: translateY(-50%);

        @include respond-to(xs) {
            display: flex;
        }
    }

    .arrowIcon {
        flex-shrink: 0;
        transform: rotate(-90deg);
        transition: transform $default-transition;
    }
</style>
