<template>
    <transition appear
                name="menu"
                :duration="1000"
                @enter="isOpen = true"
                @before-leave="isOpen = false">
        <div :class="[$style.TheBurgerMenu, classes]"
             @click.self="handleClickOutside">
            <div :class="$style.overlay"></div>

            <div :class="$style.body">
                <div :class="$style.wrapper">
                    <div :class="$style.content">
                        <div :class="$style.header">
                            <VSelect :class="$style.select"
                                     :value="activeCityId"
                                     :options="cities"
                                     label-name="name"
                                     value-name="id"
                                     size="small"
                                     :color="cityClass()"
                                     marked-option
                                     variable-width
                                     gradient-hover
                                     @input="onCityChange">
                                <IconPinBig class="frame-icon is-small" />
                            </VSelect>
                        </div>

                        <MenuCityDropdown
                            v-if="$mq === 'xs'"
                            :class="$style.mobileDropdown"
                        />

                        <!--login-->
                        <MenuLinkAccount
                            v-if="$mq === 'xs'"
                            :class="$style.cell"
                        />

                        <!--projects-->
                        <MenuItem :class="$style.cell"
                                  @mouseenter.native="handleMouseEnter('projects')"
                                  @mouseleave.native="handleMouseLeave">
                            <template #header>
                                <component :is="isMobile ? 'div' : 'n-link'"
                                           :to="isMobile ? null : '/projects/'"
                                           :class="[$style.mainLink, {[$style._blured]: hoveredLink && hoveredLink !== 'projects'}]">
                                    <span :class="$style.animationWrapper">
                                        Проекты
                                    </span>
                                </component>
                            </template>
                            <template #content>
                                <n-link :class="[$style.sublink, $style._all]"
                                        to="/projects/">
                                    Смотреть все
                                </n-link>
                                <n-link v-for="project in projects"
                                        :key="project.id"
                                        :class="$style.sublink"
                                        :to="`/projects/${project.slug}/`">
                                    <span>
                                        {{ project.name }}
                                    </span>
                                    <span :class="$style.label"
                                          class="label c-vice">
                                        {{ project.title }}
                                    </span>
                                    <div v-if="project.cardImage"
                                         :class="[$style.imageWrap, $style._vice]">
                                        <img :class="$style.image"
                                             :src="project.cardImage">
                                    </div>
                                </n-link>
                            </template>
                        </MenuItem>

                        <!--flats-->
                        <MenuItem :class="$style.cell"
                                  @mouseenter.native="handleMouseEnter('flats')"
                                  @mouseleave.native="handleMouseLeave">
                            <template #header>
                                <component :is="isMobile ? 'div' : 'n-link'"
                                           :to="isMobile ? null : '/flats/'"
                                           :class="[$style.mainLink, {[$style._blured]: hoveredLink && hoveredLink !== 'flats'}]">
                                    <span :class="$style.animationWrapper"
                                          :style="{transitionDelay: '.05s'}">
                                        Квартиры
                                    </span>
                                </component>
                            </template>
                            <template #content>
                                <n-link :class="[$style.sublink, $style._all]"
                                        to="/flats/">
                                    Смотреть все
                                </n-link>
                                <!--студии-->
                                <n-link v-if="activeCity.flats0MinPrice"
                                        :class="$style.sublink"
                                        to="/flats/?rooms=0">
                                    <span>
                                        Студии
                                    </span>
                                    <span :class="$style.label"
                                          class="label c-moxxy">
                                        от {{ +activeCity.flats0MinPrice|roundToMillions }} млн.
                                        <span class="rub">&#8381;</span>
                                    </span>
                                    <div v-if="flatRoomsMenu.rooms0Image"
                                         :class="[$style.imageWrap, $style._moxxy]">
                                        <img :class="$style.image"
                                             :src="flatRoomsMenu.rooms0Image">
                                        <span :class="$style.imageLabel"
                                              class="caption c-base"
                                              v-html="flatRoomsMenu.rooms0Text">
                                        </span>
                                    </div>
                                </n-link>

                                <!--1-->
                                <n-link v-if="activeCity.flats1MinPrice"
                                        :class="$style.sublink"
                                        to="/flats/?rooms=1">
                                    <span>
                                        1-комнатные
                                    </span>
                                    <span :class="$style.label"
                                          class="label c-moxxy">
                                        от {{ +activeCity.flats1MinPrice|roundToMillions }} млн.
                                        <span class="rub">&#8381;</span>
                                    </span>
                                    <div v-if="flatRoomsMenu.rooms1Image"
                                         :class="[$style.imageWrap, $style._moxxy]">
                                        <img :class="$style.image"
                                             :src="flatRoomsMenu.rooms1Image">
                                        <span :class="$style.imageLabel"
                                              class="caption c-base"
                                              v-html="flatRoomsMenu.rooms1Text">
                                        </span>
                                    </div>
                                </n-link>

                                <!--2-->
                                <n-link v-if="activeCity.flats2MinPrice"
                                        :class="$style.sublink"
                                        to="/flats/?rooms=2">
                                    <span>
                                        2-комнатные
                                    </span>
                                    <span :class="$style.label"
                                          class="label c-moxxy">
                                        от {{ +activeCity.flats2MinPrice|roundToMillions }} млн.
                                        <span class="rub">&#8381;</span>
                                    </span>
                                    <div v-if="flatRoomsMenu.rooms2Image"
                                         :class="[$style.imageWrap, $style._moxxy]">
                                        <img :class="$style.image"
                                             :src="flatRoomsMenu.rooms2Image">
                                        <span :class="$style.imageLabel"
                                              class="caption c-base"
                                              v-html="flatRoomsMenu.rooms2Text">
                                        </span>
                                    </div>
                                </n-link>

                                <!--3-->
                                <n-link v-if="activeCity.flats3MinPrice"
                                        :class="$style.sublink"
                                        to="/flats/?rooms=3">
                                    <span>
                                        3-комнатные
                                    </span>
                                    <span :class="$style.label"
                                          class="label c-moxxy">
                                        от {{ +activeCity.flats3MinPrice|roundToMillions }} млн.
                                        <span class="rub">&#8381;</span>
                                    </span>
                                    <div v-if="flatRoomsMenu.rooms3Image"
                                         :class="[$style.imageWrap, $style._moxxy]">
                                        <img :class="$style.image"
                                             :src="flatRoomsMenu.rooms3Image">
                                        <span :class="$style.imageLabel"
                                              class="caption c-base"
                                              v-html="flatRoomsMenu.rooms3Text">
                                        </span>
                                    </div>
                                </n-link>

                                <!--4-->
                                <n-link v-if="activeCity.flats4MinPrice"
                                        :class="$style.sublink"
                                        to="/flats/?rooms=4">
                                    <span>
                                        4-комнатные
                                    </span>
                                    <span :class="$style.label"
                                          class="label c-moxxy">
                                        от {{ +activeCity.flats4MinPrice|roundToMillions }} млн.
                                        <span class="rub">&#8381;</span>
                                    </span>
                                    <div v-if="flatRoomsMenu.rooms4Image"
                                         :class="[$style.imageWrap, $style._moxxy]">
                                        <img :class="$style.image"
                                             :src="flatRoomsMenu.rooms4Image">
                                        <span :class="$style.imageLabel"
                                              class="caption c-base"
                                              v-html="flatRoomsMenu.rooms4Text">
                                        </span>
                                    </div>
                                </n-link>
                            </template>
                        </MenuItem>

                        <!--commercial-->
                        <MenuItem :class="$style.cell"
                                  @mouseenter.native="handleMouseEnter('commercial')"
                                  @mouseleave.native="handleMouseLeave">
                            <template #header>
                                <component :is="isMobile ? 'div' : 'n-link'"
                                           :to="isMobile ? null : '/commercial/'"
                                           :class="[$style.mainLink, {[$style._blured]: hoveredLink && hoveredLink !== 'commercial'}]">
                                    <span :class="$style.animationWrapper">
                                        Коммерция
                                    </span>
                                </component>
                            </template>
                            <template #content>
                                <n-link v-for="item in commercial"
                                        :key="item.id"
                                        :class="[$style.sublink, {[$style._disabled]: !item.minCommercialPrice}]"
                                        :to="`/commercial/?city=${item.id}`">
                                    <span>
                                        в {{ item.declination }}
                                        <span v-if="!item.minCommercialPrice">/ скоро</span>
                                    </span>
                                    <span v-if="item.minCommercialPrice"
                                          :class="$style.label"
                                          class="label c-moxxy">
                                        от {{ +item.minCommercialPrice|roundToMillions }} млн.
                                        <span class="rub">&#8381;</span>
                                    </span>
                                </n-link>
                            </template>
                        </MenuItem>

                        <ul :class="$style.list">
                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/purchase/mortgage/">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Ипотека
                                            <span v-if="mortgagePercent"
                                                  class="c-vice">
                                                от {{ mortgagePercent }} %
                                            </span>
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>

                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/mass-media/?type=action">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Акции
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>

                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/mass-media/?type=news">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Новости
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>

                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/mass-media/?type=progress">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Ход строительства
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>

                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/about/">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Компания
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>

                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/documents/">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Документы
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>

                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/about/partners/">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Партнерам
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>

                            <li :class="$style.row">
                                <n-link :class="$style.link"
                                        to="/contacts/">
                                    <span :class="$style.linkLabel">
                                        <span :class="$style.animationWrapper">
                                            Контакты
                                        </span>
                                    </span>
                                    <IconArrowLeft class="frame-icon" />
                                </n-link>
                            </li>
                        </ul>
                    </div>

                    <div :class="$style.content">
                        <div :class="$style.header">
                            <a v-if="activeCity.phone"
                               :class="$style.phone"
                               class="button2 c-base"
                               :href="`tel: ${activeCity.phone}`">
                                <span :class="$style.currentValue">
                                    {{ activeCity.phone|prettyPhone }}
                                </span>
                                <span :class="$style.hoverValue">
                                    {{ activeCity.phone|prettyPhone }}
                                </span>
                            </a>

                            <n-link to="/favorites/"
                                    :class="[$style.btn, $style._favorite]"
                                    class="btn-reset">
                                <IconFavorite class="frame-icon" />
                            </n-link>
                            <a href="https://lk.strana.com/"
                               :class="$style.btn"
                               class="btn-reset">
                                <IconUser class="frame-icon" />
                            </a>

                            <TheHeaderBurger />
                        </div>

                        <div :class="$style.adds">
                            <div v-if="sideBlocks.sideBlockLink1"
                                 :class="$style.addContainer">
                                <div :class="$style.addWrapper">
                                    <a :class="[$style.box, $style._vice]"
                                       :href="sideBlocks.sideBlockLink1"
                                       target="_blank">
                                        <span v-if="sideBlocks.sideBlockTitle1"
                                              class="text c-milk fw-500"
                                              v-html="sideBlocks.sideBlockTitle1">
                                        </span>

                                        <div v-if="sideBlocks.sideBlockImage1"
                                             :class="$style.boxImage"
                                             :style="{backgroundImage: `url(${sideBlocks.sideBlockImage1})`}">
                                        </div>
                                        <div v-else-if="sideBlocks.sideBlockHoverText1"
                                             :class="$style.boxLabel"
                                             v-html="sideBlocks.sideBlockHoverText1">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div v-if="sideBlocks.sideBlockLink2"
                                 :class="$style.addContainer">
                                <div :class="$style.addWrapper">
                                    <n-link :class="[$style.box, $style._moxxy]"
                                            to="/mortgage/">
                                        <span v-if="sideBlocks.sideBlockTitle2"
                                              class="text c-milk fw-500"
                                              v-html="sideBlocks.sideBlockTitle2">
                                        </span>
                                        <div v-if="sideBlocks.sideBlockImage2"
                                             :class="$style.boxImage"
                                             :style="{backgroundImage: `url(${sideBlocks.sideBlockImage2})`}">
                                        </div>
                                        <div v-else-if="sideBlocks.sideBlockHoverText2"
                                             :class="$style.boxLabel"
                                             v-html="sideBlocks.sideBlockHoverText2">
                                        </div>
                                    </n-link>
                                </div>
                            </div>
                        </div>

                        <div :class="$style.social">
                            <span :class="$style.subtitle">
                                <span :class="$style.animationWrapper">
                                    Сoцсети
                                </span>
                            </span>
                            <div :class="$style.socialListWrapper">
                                <div :class="$style.socialList">
                                    <a v-for="item in social"
                                       :key="item.id"
                                       :class="$style.SocialLink"
                                       :href="item.link"
                                       target="_blank">
                                        <span :class="$style.socialIcon"
                                              v-html="item.iconContent">
                                        </span>
                                        <span :class="$style.socialIconHover">
                                            <svg viewBox="0 0 40 40"
                                                 fill="url(#gradient)">
                                                <SvgGradient />
                                                <g v-html="item.iconContent" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import {cityIn} from 'lvovich';
    import {mapState, mapGetters, mapActions} from 'vuex';
    import {lockBody, unlockBody} from '../../../assets/js/utils/commonUtils';

    /* components */
    import TheHeaderBurger from '../header/TheHeaderBurger';
    import IconFavorite from '../../icons/IconFavorite';
    import IconUser from '../../icons/IconUser';
    import VSelect from '../../ui/select/VSelect';
    import IconPinBig from '../../icons/IconPinBig';
    import SvgGradient from '../../common/SvgGradient';
    import IconArrowLeft from '../../icons/IconArrowLeft';
    import MenuCityDropdown from './MenuCityDropdown';
    import MenuItem from './MenuItem';
    import MenuLinkAccount from './MenuLinkAccount';

    export default {
        name: 'TheBurgerMenu',

        components: {
            MenuItem,
            MenuCityDropdown,
            MenuLinkAccount,
            IconArrowLeft,
            SvgGradient,
            IconPinBig,
            VSelect,
            IconUser,
            IconFavorite,
            TheHeaderBurger,
        },

        props: {
            hasBanner: Boolean,
        },

        data() {
            return {
                hoveredLink: '',
                isOpen: false,
                isVisibleContent: false,
            };
        },

        computed: {
            ...mapState({
                activeCity: 'active_city',
                social: 'social',
                sideBlocks: 'side_blocks',
            }),

            ...mapGetters({
                activeCityId: 'getActiveCityId',
                activeCityColor: 'getActiveCityColor',
                cityClass: 'getCityClass',
                getCityProjects: 'getCityProjects',
                cities: 'getActiveCities',
            }),

            classes() {
                return {
                    [this.$style._opened]: this.isOpen,
                    [this.$style['has-banner']]: this.hasBanner,
                };
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            projects() {
                return this.getCityProjects(this.activeCityId).filter(project => project.isResidential);
            },

            commercial() {
                const filteredCities = this.cities.filter(item => item.isCommercial);
                return filteredCities.map(city => ({
                    ...city,
                    ...{declination: cityIn(city.name)},
                }));
            },

            mortgagePercent() {
                return this.activeCity?.minMortgageResidential ? this.activeCity.minMortgageResidential.toLocaleString() : null;
            },

            flatRoomsMenu() {
                return this.activeCity?.flatRoomsMenu ? this.activeCity.flatRoomsMenu : {};
            },
        },

        mounted() {
            lockBody();
        },

        destroyed() {
            unlockBody();
        },

        methods: {
            ...mapActions('header', {
                closeMenu: 'closeBurgerMenu',
            }),

            handleMouseEnter(val) {
                if (this.$mq === 'xs') {
                    return;
                }

                this.hoveredLink = val;
            },

            handleMouseLeave() {
                this.hoveredLink = '';
            },

            handleModalOpen() {
                //
            },

            onCityChange(id) {
                const city = this.cities.find(item => item.id === id);
                window.location.href = `http://${city.site.domain}`;
            },

            handleClickOutside() {
                this.closeMenu();
            },
        },
    };
</script>

<style lang="scss" module>
    .TheBurgerMenu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100vw;
        height: 100%;
        overflow: hidden;

        @include respond-to(sm) {
            z-index: 14;
            padding-top: $header-h-tablet;
        }

        @include respond-to(xs) {
            padding-top: $header-h-mobile;
        }

        &.has-banner {
            @include respond-to(sm) {
                padding-top: calc(#{$header-h-tablet} + 32px);
            }

            @include respond-to(xs) {
                padding-top: calc(#{$header-h-mobile} + 32px);
            }
        }

        &._opened {
            .overlay {
                opacity: 1;
                transition: opacity 1s $popup-in-bezier;
            }

            .body {
                transform: translate3d(0, 0, 0);
                transition: transform 1s $popup-in-bezier;
            }

            :global(.menu-select__title) {
                opacity: 1;
                transform: translateY(0) translateZ(0);
            }

            .animationWrapper,
            .currentValue,
            .socialList {
                opacity: 1;
                transform: translateY(0) translateZ(0);
            }
        }

        &:global(.menu-leave-active) {
            .overlay {
                opacity: 0;
                transition: opacity .3s $popup-out-bezier;
            }

            .body {
                transform: translate3d(100%, 0, 0);
                transition: transform .3s ease;
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($base-500, .88);
        opacity: 0;
        will-change: opacity;
        pointer-events: none;
    }

    .body {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 84rem;
        height: 100%;
        background-color: $milk;
        transform: translate3d(100%, 0, 0);
        overflow-y: scroll;

        @include respond-to(sm) {
            position: static;
            width: 100%;
        }

        @include respond-to(xs) {
            background-color: $base-50;
        }
    }

    .wrapper {
        display: flex;
        height: 100%;
        min-height: 79rem;

        @include respond-to(md) {
            min-height: 628px;
        }

        @include respond-to(sm) {
            min-height: auto;
        }

        @include respond-to(xs) {
            flex-direction: column;
        }
    }

    .content {
        position: relative;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        width: 50%;

        @include respond-to(sm) {
            padding-top: 40px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding-top: 0;
        }

        &:last-child {
            border-left: 1px solid $base-100;
            background-color: $base-50;

            @include respond-to(xs) {
                border-left: none;
            }
        }
    }

    .header {
        display: flex;
        align-items: center;
        height: 12rem;
        margin-bottom: 5.6rem;
        padding: 0 5.6rem;
        border-bottom: 1px solid $base-100;

        @include respond-to(sm) {
            display: none;
        }
    }

    .select {
        :global .v-select__icon {
            top: -.5rem;
        }
    }

    .cell {
        margin-bottom: 3.2rem;

        @include respond-to(xs) {
            margin-bottom: 0;
        }
    }

    .mainLink {
        font-size: 4rem;
        line-height: 1.2;
        color: $base-500;
        font-weight: 500;
        letter-spacing: -.1rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: color $default-transition;
        overflow: hidden;

        &._blured {
            color: $base-200;
        }

        @include respond-to(sm) {
            font-size: 32px;
            line-height: 1.24;
        }

        @include respond-to(xs) {
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .animationWrapper {
        display: inline-block;
        position: relative;
        opacity: 0;
        transform: translateY(100%) translateZ(0);
        will-change: transform, opacity;
        transition: opacity .6s $popup-in-bezier, transform .6s $popup-in-bezier;
    }

    .sublink {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.4rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.4;
        color: $base-500;

        @include respond-to(sm) {
            margin-bottom: 28px;
        }

        @include respond-to(xs) {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.16;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        &._disabled {
            color: $base-200;
            pointer-events: none;

            .label {
                color: $base-200;
            }
        }

        &._all {
            display: none;

            @include respond-to(sm) {
                display: block;
            }
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .label {
                        max-height: 2.2rem;
                    }

                    .imageWrap {
                        opacity: 1;
                        visibility: visible;
                        transition: opacity .3s linear, visibility .26s step-start;
                    }
                }
            }
        }
    }

    .label {
        max-height: 0;
        height: 2.2rem;
        overflow: hidden;
        vertical-align: bottom;
        will-change: max-height;
        transition: max-height .3s linear;

        @include respond-to(sm) {
            max-height: none;
            height: auto;
            margin-top: 4px;
            color: $base-300;
        }

        @include respond-to(xs) {
            color: $base-200;
        }
    }

    .imageWrap {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        min-height: 38rem;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s linear, visibility .26s step-end;

        &._vice {
            color: $vice;
        }

        &._moxxy {
            color: $moxxy;

            &:after {
                transform: translate(24%, 2%) translateZ(0);
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            width: 31.4rem;
            height: 31.4rem;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(13%, 26%) translateZ(0);

            @include respond-to(sm) {
                width: 290px;
                height: 290px;
                transform: translate(20%, 30%) translateZ(0);
            }
        }
    }

    .image {
        position: relative;
        z-index: 2;
        flex-shrink: 0;
        width: 100%;
        height: auto;
        margin-top: auto;
        background-color: $base-50;
    }

    .imageLabel {
        position: absolute;
        right: 2.8rem;
        bottom: 2.8rem;
        z-index: 3;
    }

    .list {
        padding: 0 5.6rem 4.4rem;
        margin-top: auto;

        @include respond-to(sm) {
            padding: 0 $side-padding-tablet 36px;
        }

        @include respond-to(xs) {
            padding: 0 $side-padding-mobile;
        }
    }

    .row {
        margin-bottom: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid $base-100;

        @include respond-to(xs) {
            margin-bottom: 0;
            padding: 14px 0;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;

            .link:after {
                content: none;
            }
        }
    }

    .link {
        position: relative;
        display: inline-flex;
        width: 100%;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.45;
        color: $base-200;

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    color: $vice;

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: calc((1.2rem + 1px) * -1);
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform $default-transition, color $default-transition;
        }

        svg {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(40%, -50%);
            transition: fill $default-transition;

            @include respond-to(sm) {
                right: -10px;
            }

            @include respond-to(xs) {
                right: 8px;
            }
        }
    }

    .linkLabel {
        display: inline-block;
        color: $base-500;
        overflow: hidden;
    }

    .phone {
        display: inline-block;
        position: relative;
        margin-right: auto;
        overflow: hidden;

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }
    }

    .currentValue {
        display: inline-block;
        transform: translateY(100%) translateZ(0);
        opacity: 0;
        will-change: transform, opacity;
        color: $base-500;
        transition: opacity .6s $text-bezier, transform .6s $text-bezier;
    }

    .hoverValue {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: $base-200;
        transform: translateY(100%) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .btn {
        margin-right: .8rem;
        margin-top: .4rem;
        color: $base-500;

        &._favorite {
            margin-left: auto;
        }
    }

    .adds {
        display: none;

        @include respond-to(xs) {
            display: flex;
            margin-top: 16px;
            padding: 0 12px;
        }
    }

    .addContainer {
        width: 50%;
        padding: 0 4px;
    }

    .addWrapper {
        position: relative;

        @include aspect-ratio(140, 138);
    }

    .box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 16px 16px 8px;
        backface-visibility: hidden;
        border-radius: 8px;

        &._vice {
            background-color: $vice;
        }

        &._moxxy {
            background-color: $moxxy;
        }

        & span {
            &:first-child {
                width: 65px;
                line-height: 1.2;
            }
        }
    }

    .boxImage {
        width: 90px;
        height: 100px;
        margin: auto -24px -40px auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .boxLabel {
        margin-top: auto;
        font-size: 32px;
        line-height: 1.24;
        font-weight: 500;
        letter-spacing: -1px;
        color: $milk;
        text-align: right;
    }

    .social {
        margin-top: auto;
        padding: 0 4.6rem 5.4rem;

        @include respond-to(sm) {
            padding: 0 $side-padding-tablet 52px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
            padding: 0 $side-padding-mobile 24px;
        }
    }

    .subtitle {
        display: block;
        margin-bottom: .8rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.4;
        color: $base-500;
        overflow: hidden;

        @include respond-to(sm) {
            margin-bottom: 16px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .socialListWrapper {
        overflow: hidden;
    }

    .socialList {
        display: flex;
        margin-left: -1rem;
        opacity: 0;
        transform: translateY(100%) translateZ(0);
        will-change: transform, opacity;
        transition: opacity .6s $popup-in-bezier, transform .6s $popup-in-bezier;

        @include respond-to(sm) {
            margin-left: 0;
        }

        @include respond-to(xs) {
            margin-left: -6px;
        }
    }

    .SocialLink {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        color: $base-200;

        svg {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .socialIconHover {
                        opacity: 1;
                    }
                }
            }
        }

        @include respond-to(sm) {
            margin-right: 12px;
            border-radius: 50%;
            background-color: $base-200;
            color: $milk;
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
            margin-right: 14px;
            background-color: transparent;
            color: $base-300;

            svg {
                width: 50px;
                height: 50px;
            }
        }
    }

    .socialIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        svg {
            fill: currentColor;
        }
    }

    .socialIconHover {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity $default-transition;
    }

</style>
