<template>
    <div :class="[$style.CommercialMenu, classes]">
        <div :class="$style.container"
             class="container">
            <div :class="$style.title">
                <h1 class="subtitle3 c-base">
                    <span v-if="$mq === 'sm'">
                        Ком. недвижимость
                    </span>
                    <span v-else>
                        Коммерческая недвижимость
                    </span>
                </h1>
                <VSelect :class="$style.select"
                         :value="city"
                         :options="cities"
                         label-name="name"
                         value-name="id"
                         size="big"
                         color="vice"
                         variable-width
                         @input="$emit('city-change', {city: $event})">
                    <IconPinBig
                        class="frame-icon is-small"
                    />
                </VSelect>
            </div>
            <div :class="$style.nav">
                <a v-for="(link, index) in options"
                   :key="index"
                   :class="$style.link"
                   class="button2 c-base"
                   :href="`#${link.value}`"
                   @click.prevent="handleLinkClick(link.value)">
                    <span :class="$style.currentValue">
                        {{ link.label }}
                    </span>
                    <span :class="$style.hoverValue">
                        {{ link.label }}
                    </span>
                </a>

                <SubmenuPopover v-if="!isMobile">
                    <template #header>
                        <div :class="$style.more">
                            <span class="button2 c-base">
                                Еще
                            </span>
                            <button :class="$style.kebab"
                                    class="btn-reset">
                                <IconKebab
                                    :class="$style.kebabIcon"
                                    class="frame-icon is-medium"
                                />
                            </button>
                        </div>
                    </template>
                    <template #body>
                        <div :class="$style.submenu">
                            <a v-for="(link, index) in moreOptions"
                               :key="index"
                               :class="$style.sublink"
                               class="button2 c-base"
                               :href="`#${link.value}`"
                               @click.prevent="handleLinkClick(link.value)">
                                {{ link.label }}
                            </a>
                        </div>
                    </template>
                </SubmenuPopover>
            </div>

            <div :class="$style.mobileNav">
                <span class="button2 c-base-400">
                    Навигация
                </span>
                <button :class="$style.kebab"
                        class="btn-reset"
                        @click="onOpenNav">
                    <IconKebab class="frame-icon" />
                </button>
            </div>

            <div :class="$style.btn">
                <VButton size="small"
                         color="vice"
                         @click="$emit('open-excursion')">
                    Записаться на показ
                </VButton>
            </div>

            <VButton v-if="$mq !== 'xs'"
                     :class="$style.filterLink"
                     size="small"
                     link="/commercial/filter/"
                     @click="onLinkClick">
                Выбрать помещение
            </VButton>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import {scrollTo} from '../../../assets/js/utils/commonUtils';

    /* components */
    import IconKebab from '../../icons/IconKebab';
    import VButton from '../../ui/button/VButton';
    import VSelect from '../../ui/select/VSelect';
    import IconPinBig from '../../icons/IconPinBig';
    import Navigation from '../../common/Navigation';
    import SubmenuPopover from '../../ui/popover/SubmenuPopover';

    export default {
        name: 'CommercialMenu',

        components: {
            SubmenuPopover,
            IconPinBig,
            VSelect,
            VButton,
            IconKebab,
        },

        props: {
            projectName: {
                type: String,
                default: '',
            },

            options: {
                type: Array,
                default: () => [],
            },

            moreOptions: {
                type: Array,
                default: () => [],
            },

            city: {
                type: String,
                default: '',
            },

            fixed: Boolean,
            isDisplaySelect: Boolean,
            loading: Boolean,
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            classes() {
                return {
                    [this.$style['_with-select']]: this.isDisplaySelect,
                    [this.$style._fixed]: this.fixed,
                    [this.$style._loading]: this.loading,
                };
            },

            mobileLinks() {
                return [...this.options, ...this.moreOptions].map(option => ({
                    name: option.label,
                    hash: option.value,
                    link: null,
                }));
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },
        },

        methods: {
            handleLinkClick(id) {
                scrollTo(id);
            },

            onLinkClick() {
                this.$yandexMetrika.reachGoal('choice-comm-header');
            },

            onOpenNav() {
                this.$modal.open(Navigation, {
                    buttonText: 'Выбрать помещение',
                    // buttonLink: '/commercial/filter/',
                    links: this.mobileLinks,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialMenu {
        width: 100%;
        height: 6.4rem;
        background-color: $base-50;
        border-bottom: 1px solid $base-100;

        @include respond-to(sm) {
            height: 80px;
        }

        @include respond-to(xs) {
            height: 66px;
        }

        &._fixed {
            position: fixed;
            z-index: 15;
        }

        &._with-select {
            .title {
                display: flex;
            }

            .nav {
                display: none;
            }
        }

        &._loading {
            .container {
                opacity: 0;
                transform: translate3d(0, -1rem, 0);
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        transition: opacity $default-transition, transform $default-transition;

        @include respond-to(sm) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @include respond-to(xs) {
            padding-top: 17px;
            padding-bottom: 17px;
        }
    }

    .title {
        display: none;

        @include respond-to(sm) {
            display: flex;
        }
    }

    .select {
        margin-left: .2rem;

        @include respond-to(xs) {
            display: none;
        }

        :global .v-select__icon {
            top: 45%;
            transform: translateY(-50%);
        }
    }

    .nav {
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            display: none;
        }
    }

    .more {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        @include respond-to(sm) {
            display: none;
        }

        &:hover {
            .submenu {
                opacity: 1;
                visibility: visible;
                transition: opacity $default-transition, visibility .26s ease-in-out;
            }
        }
    }

    .submenu {
        padding: 2.4rem;
    }

    .link {
        position: relative;
        margin-right: 3.2rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.16;
        transition: color $default-transition;
        overflow: hidden;
        cursor: pointer;

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    .currentValue {
                        transform: translateY(-100%) translateZ(0);
                    }

                    .hoverValue {
                        transform: translateY(0) translateZ(0);
                    }
                }
            }
        }
    }

    .currentValue {
        display: inline-block;
        color: $base-500;
        transform: translateY(0) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .hoverValue {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        color: $base-200;
        transform: translateY(100%) translateZ(0);
        will-change: transform;
        transition: transform .6s $text-bezier;
    }

    .sublink {
        position: relative;
        display: block;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.16;
        color: $base-500;
        white-space: nowrap;
        transition: color $default-transition;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }

        @include hover {
            &:hover {
                color: $secondary-400;
            }
        }
    }

    .kebab {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        margin-left: .8rem;
        border-radius: 50%;
        background-color: rgba($base-100, .4);
        color: $base-500;

        svg {
            flex-shrink: 0;
        }

        @include respond-to(sm) {
            width: 40px;
            height: 40px;
            margin-left: 16px;
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .kebabIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn {
        margin-left: auto;
        margin-right: 1.6rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .filterLink {
        width: 17.8rem;

        @include respond-to(sm) {
            margin-left: 24px;
        }
    }

    .mobileNav {
        display: none;

        @include respond-to(sm) {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        @include respond-to(xs) {
            span {
                display: none;
            }
        }
    }
</style>
