<template>
    <section :class="$style.CommercialMap">
        <h2 :class="$style.title"
            class="c-base container">
            Проекты на карте
        </h2>

        <div ref="map"
             :class="$style.map">
        </div>
        <ZoomButtons
            :class="[$style.zoom, {[$style._moved]: hoveredProject && !isMobile}]"
            @zoom-in="zoomIn"
            @zoom-out="zoomOut"
        />

        <MapPopup v-if="hoveredProject"
                  @click="onProjectClose">
            <template #header>
                <VCircleButton v-if="$mq === 'sm'"
                               :class="$style.close"
                               absolute
                               color="milk"
                               @click="onProjectClose">
                    <IconClose class="frame-icon is-default" />
                </VCircleButton>
            </template>
            <component
                :is="projectKind === 'commercial' ? 'MapCommercialProjectCard' : 'MapResidentialProjectCard'"
                :not-leave="notLeave"
                :project="hoveredProject"
            />
        </MapPopup>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {initMap, getTileLayer, genHtmlMarker} from '../../../assets/js/utils/mapUtils';

    /* components */
    import ZoomButtons from '../../common/map/ZoomButtons';
    import MapPopup from '../../common/projects-map/MapPopup';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconClose from '../../icons/IconClose';
    import MapResidentialProjectCard from '../../common/projects-map/MapResidentialProjectCard';
    import MapCommercialProjectCard from './CommercialMapCard';


    let L;
    if (process.browser) {
        L = require('leaflet');
    }

    export default {
        name: 'CommercialMap',

        components: {
            IconClose,
            VCircleButton,
            MapResidentialProjectCard,
            MapCommercialProjectCard,
            MapPopup,
            ZoomButtons,
        },

        props: {
            notLeave: Boolean,

            projectKind: {
                type: String,
                default: 'commercial',
            },

            city: {
                type: Object,
                default: () => ({}),
            },

            projects: {
                type: Array,
                default: () => [],
            }
        },

        data() {
            return {
                map: undefined,
                markers: [],
                featureGroup: {},
                hoveredProject: null,
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
                activeCity: 'getActiveCityName',
            }),

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            filteredProjects() {
                return this.projects.length
                    ? this.projects.map(project => ({
                        ...project,
                        coords: [
                            project.latitude,
                            project.longitude,
                        ],
                    })).filter(project => project.coords[0] !== null && project.coords[1] !== null)
                    : [];
            }
        },

        watch: {
            projects() {
                this.markers.forEach(marker => this.map.removeLayer(marker));
                this.markers = [];
                this.addProjectPins();
            }
        },

        mounted() {
            this.initMap();
        },

        methods: {
            initMap() {
                const center = [this.city.latitude, this.city.longitude];

                this.map = initMap(this.$refs.map, {center: center});
                const tile = getTileLayer();
                tile.addTo(this.map);
                this.addProjectPins();
            },

            addProjectPins() {
                if (this.filteredProjects.length) {
                    this.filteredProjects.forEach(project => {
                        const html = `
                        <n-link to="${project.slug}"
                            target="_blank"
                            class="project-marker _${this.cityClass(this.activeCity.color)} project-marker--small">
                            <span class="project-marker__image"
                                  style="background-image: url(${project.image})">
                            </span>
                            <div class="project-marker__info">
                                <span class="project-marker__label">
                                    ${project.name}
                                </span>
                                <span class="project-marker__hover-label">
                                    Показать помещения
                                </span>
                             </div>
                        </n-link>`;

                        this.markers.push(genHtmlMarker(project.coords, html)
                            .on('mouseover', () => {
                                this.handleProjectOpen(project);
                            })
                            .on('mouseout', () => {
                                this.onProjectClose();
                            })
                            .on('click', () => {
                                this.handleProjectClick(project);
                            }));
                    });

                    this.featureGroup = L.featureGroup(this.markers).addTo(this.map);
                    this.map.fitBounds(this.featureGroup.getBounds(), {
                        maxZoom: 16,
                        padding: [40, 40],
                    });
                }
            },

            handleProjectClick(project) {
                if (this.isMobile) {
                    this.handleProjectOpen(project);
                } else {
                    this.$router.push({name: 'commercial-filter', query: ''});
                }
            },

            handleProjectOpen(project) {
                this.hoveredProject = project;
                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return;
                }
                this.$emit('open-project');
            },

            onProjectClose() {
                this.hoveredProject = null;
                if (this.$mq === 'xs' || this.$mq === 'sm') {
                    return;
                }
                this.$emit('close-project');
            },

            zoomIn() {
                this.map.zoomIn();
            },

            zoomOut() {
                this.map.zoomOut();
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialMap {
        position: relative;
        height: calc(100vh - #{$sub-header-h});
        overflow: hidden;
        border-top: 1px solid $base-100;

        @include respond-to(sm) {
            height: calc(100vh - #{$sub-header-h-tablet});
        }

        @include respond-to(xs) {
            height: 100%;
        }
    }

    .title {
        position: absolute;
        top: 5.2rem;
        left: 0;
        right: 0;
        z-index: 2;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 1.24;
        letter-spacing: -.1rem;

        @include respond-to(sm) {
            top: 40px;
            font-size: 28px;
            line-height: 1.28;
        }

        @include respond-to(xs) {
            top: 24px;
            font-size: 20px;
            line-height: 1.2;
        }
    }

    .map {
        height: 100%;
        z-index: 0;
    }

    .zoom {
        position: absolute;
        right: 5.6rem;
        bottom: 5.2rem;
        z-index: 2;
        transition: transform $default-transition;

        &._moved {
            transform: translateX(-44.7rem);
        }

        @include respond-to(sm) {
            right: 40px;
            bottom: 40px;
        }

        @include respond-to(xs) {
            right: 16px;
            bottom: 16px;
        }
    }

    .close {
        position: absolute;
        z-index: 2;
        top: 40px;
        right: 40px;
    }
</style>
