<template>
    <section :class="$style.CommercialDescription">
        <div :class="$style.container">
            <div :class="$style.block">
                <h2 :class="$style.title"
                    class="h3">
                    {{ firstTitle }}
                </h2>

                <ul :class="$style.list">
                    <li v-for="(item, idx) in firstList"
                        :key="idx + 100"
                        :class="$style.card"
                        @mouseenter="handleMouseEnter(idx + 100)"
                        @mouseleave="handleMouseLeave">
                        <span class="p3 c-base-200">
                            0{{ idx + 1 }}
                        </span>
                        <div :class="$style.description"
                             class="subtitle3">
                            <span class="c-milk"
                                  v-html="item.title">
                            </span>
                            <span class="base-200"
                                  v-html="item.text">
                            </span>
                        </div>
                    </li>
                </ul>

                <div v-for="(item, idx) in firstList"
                     :key="idx + 100"
                     :class="[$style.image, {[$style._visible]: hoveredIdx === idx}]">
                    <ImageLazy
                        relative
                        :image="item.image"
                        :preview="item.preview"
                    />

                    <VCircleButton :class="[$style.icon, $style._left]"
                                   color="milk"
                                   absolute>
                        <IconPlus class="frame-icon" />
                    </VCircleButton>
                </div>
            </div>
            <div :class="$style.block">
                <h2 :class="$style.title"
                    class="h3">
                    {{ secondTitle }}
                </h2>

                <ul :class="$style.list">
                    <li v-for="(item, idx) in secondList"
                        :key="idx"
                        :class="$style.card"
                        @mouseenter="handleMouseEnter(idx)"
                        @mouseleave="handleMouseLeave">
                        <span class="p3 c-base-200">
                            0{{ idx + 1 }}
                        </span>
                        <div :class="$style.description"
                             class="subtitle3">
                            <span class="c-milk"
                                  v-html="item.title">
                            </span>
                            <span class="base-200"
                                  v-html="item.text">
                            </span>
                        </div>
                    </li>
                </ul>

                <div v-for="(item, idx) in secondList"
                     :key="idx + 100"
                     :class="[$style.image, {[$style._visible]: hoveredIdx === idx + 100}]">
                    <ImageLazy
                        relative
                        :image="item.image"
                        :preview="item.preview"
                    />

                    <VCircleButton :class="[$style.icon, $style._right]"
                                   color="milk"
                                   absolute>
                        <IconPlus class="frame-icon" />
                    </VCircleButton>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import ImageLazy from '../../common/ImageLazy';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconPlus from '../../icons/IconPlus';

    export default {
        name: 'CommercialDescription',

        components: {
            IconPlus,
            VCircleButton,
            ImageLazy,
        },

        props: {
            firstTitle: {
                type: String,
                default: ''
            },

            secondTitle: {
                type: String,
                default: ''
            },

            firstList: {
                type: Array,
                default: () => [],
            },

            secondList: {
                type: Array,
                default: () => [],
            }
        },

        data() {
            return {
                hoveredIdx: null,
            };
        },

        methods: {
            handleMouseEnter(idx) {
                if (!this.$device.isDesktop) {
                    return;
                }
                this.hoveredIdx = idx;
            },

            handleMouseLeave() {
                this.hoveredIdx = null;
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialDescription {
        background-color: $base-500;
    }

    .container {
        position: relative;
        display: flex;
        max-width: 192rem;
        margin-left: auto;
        margin-right: auto;

        @include respond-to-min(xl) {
            border-left: 1px solid rgba($milk, .16);
            border-right: 1px solid rgba($milk, .16);
        }

        @include respond-to(lg) {
            max-width: 144rem;
        }

        @include respond-to(sm) {
            display: block;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: rgba($milk, .16);
            transform: translateX(-50%);

            @include respond-to(sm) {
                content: none;
            }
        }
    }

    .block {
        position: relative;
        width: 50%;

        @include respond-to(sm) {
            width: 100%;

            &:last-child {
                border-top: 1px solid rgba(#fff, .16);
            }
        }
    }

    .title {
        position: relative;
        z-index: 2;
        padding: 5.2rem 5.6rem;
        color: $milk;
        border-bottom: 1px solid rgba(#fff, .16);

        @include respond-to(sm) {
            padding: 40px $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding: 24px $side-padding-mobile;
        }
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        background-color: $base-500;
        transition: opacity $default-transition;

        &._visible {
            opacity: 1;
        }
    }

    .icon {
        bottom: 5.2rem;

        &._left {
            right: 5.6rem;
        }

        &._right {
            left: 5.6rem;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        position: relative;
        width: 50%;
        padding: 5.2rem 5.6rem;
        cursor: pointer;

        @include respond-to(sm) {
            padding: 40px $side-padding-tablet;
        }

        @include respond-to(xs) {
            padding: 24px $side-padding-mobile;
        }

        &:nth-child(odd) {
            border-right: 1px solid rgba($milk, .16);
        }

        &:nth-child(n+3) {
            border-top: 1px solid rgba($milk, .16);
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        margin-top: 11.2rem;

        @include respond-to(sm) {
            margin-top: 64px;
        }

        @include respond-to(xs) {
            margin-top: 16px;
            white-space: nowrap;
        }
    }
</style>
