<template>
    <section :class="[$style.CommercialHero, classes]">
        <div :class="$style.sliderWrapper">
            <div v-if="slides"
                 ref="slider"
                 :class="$style.slider"
                 class="swiper-container">
                <div class="swiper-wrapper">
                    <template v-if="slides.length > 1">
                        <div v-for="item of slides"
                             :key="item.id"
                             class="swiper-slide"
                             :class="$style.slide">
                            <ImageLazy
                                :image="item.imageDisplay"
                                :preview="item.imagePreview"
                                is-swiper-slider
                            />
                        </div>
                    </template>
                    <div v-else-if="slides && slides.length && slides[0].imageDisplay"
                         class="swiper-slide"
                         :class="$style.slide">
                        <ImageLazy
                            :image="slides[0].imageDisplay"
                            :preview="slides[0].imagePreview"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div :class="[$style.footer, {[$style._hovered]: isHovered}]">
            <div :class="$style.container"
                 class="container">
                <div :class="$style.select">
                    <MainSelect
                        title="Коммерческая недвижимость"
                        value-field="id"
                        label-field="name"
                        :value="city"
                        :options="cities"
                        commercial
                        @change="$emit('city-change', {city: $event})"
                    />
                </div>

                <!--controls-->
                <transition name="fade">
                    <div v-if="slides && slides.length > 1"
                         :class="$style.controls">
                        <div :class="$style.pagination">
                            <div ref="pagination"
                                 class="swiper-pagination swiper-pagination-progressbar"
                                 :class="isHovered ? 'is-inverse' : ''">
                            </div>
                        </div>
                        <GalleryFraction
                            size="normal"
                            :class="$style.fraction"
                            :color="isHovered ? 'inverse' : 'default'"
                            :current="fractionCurrent"
                            :total="fractionTotal"
                        />

                        <div :class="$style.caption">
                            - Общий вид
                        </div>

                        <div :class="$style.buttons"
                             @mouseenter="handleControlsEnter"
                             @mouseleave="handleControlsLeave">
                            <VCircleButton ref="prev"
                                           :class="[$style.btn, $style._prev]"
                                           size="medium-small"
                                           color="milk">
                                <IconArrowRight class="frame-icon" />
                            </VCircleButton>
                            <VCircleButton ref="next"
                                           :class="[$style.btn, $style._next]"
                                           size="medium-small"
                                           color="milk">
                                <IconArrowRight class="frame-icon" />
                            </VCircleButton>
                        </div>

                        <VCircleButton v-if="$mq === 'xs'"
                                       color="milk"
                                       @click="handleOpenGallery">
                            <IconScale class="frame-icon" />
                        </VCircleButton>
                    </div>
                </transition>

            </div>

            <div :class="$style.slideInfo">
                <transition name="fade"
                            appear
                            @after-leave="isReloading = false">
                    <div v-if="!isReloading"
                         :class="$style.container"
                         class="container">
                        <span class="button2 c-milk">
                            {{ activeTitle }}
                        </span>
                        <span class="button2 c-milk-opacity">
                            {{ activeSubtitle }}
                        </span>
                    </div>
                </transition>
            </div>
        </div>
    </section>
</template>

<script>
    import {lockBody, unlockBody} from 'frontend/assets/js/utils/commonUtils';
    import {mapState} from 'vuex';
    import Swiper from 'swiper/swiper-bundle.min';

    /* components */
    import ImageLazy from '../../common/ImageLazy';
    import GalleryFraction from '../../common/gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRight from '../../icons/IconArrowRight';
    import IconScale from '../../icons/IconScale';
    import MainSelect from '../../common/MainSelect';
    import GalleryModal from '../../layout/modals/GalleryModal';

    export default {
        name: 'CommercialHero',

        components: {
            MainSelect,
            IconScale,
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
            ImageLazy,
        },

        props: {
            slides: {
                type: Array,
                default: () => [],
            },

            city: {
                type: String,
                default: '',
            },

            loading: Boolean,
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
                isHovered: false,
                isReloading: false,
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            classes() {
                return {
                    [this.$style['is-no-slides']]: !this.slides.length,
                    [this.$style['is-loading']]: this.loading,
                };
            },

            activeTitle() {
                return this.slides[this.activeIndex] ? this.slides[this.activeIndex].title : '';
            },

            activeSubtitle() {
                return this.slides[this.activeIndex] ? this.slides[this.activeIndex].subtitle : '';
            },

            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },
        },

        watch: {
            slides(val) {
                if (this.slider) {
                    this.slider.destroy();
                    this.$nextTick(() => {
                        if (val.length > 1) {
                            this.initSwiper();
                        }
                    });
                    this.activeIndex = 0;
                } else if (val.length > 1) {
                    this.initSwiper();
                }
            },
        },

        mounted() {
            this.$nextTick(() => {
                if (this.slides.length > 1) {
                    this.initSwiper();
                }
            });
        },

        methods: {
            initSwiper() {
                const options = {
                    speed: 700,
                    slidesPerView: 1,
                    loop: true,
                    allowTouchMove: true,
                    lazy: {
                        loadPrevNext: true,
                    },
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true,
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                    },

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    observer: true,
                };

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },

            handleControlsEnter() {
                if (this.$device.isMobileOrTablet) {
                    return;
                }
                this.isHovered = true;
                lockBody();
            },

            handleControlsLeave() {
                if (this.$device.isMobileOrTablet) {
                    return;
                }
                this.isHovered = false;
                unlockBody();
            },

            handleOpenGallery() {
                this.$modal.open(GalleryModal, {
                    album: this.slides,
                    skipTabs: true,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialHero {
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100vh - #{$sub-header-h} - #{$header-h});

        @include respond-to(sm) {
            height: auto;
            padding-top: $sub-header-h-tablet;
        }

        @include respond-to(xs) {
            padding-top: $sub-header-h-mobile;
        }

        &.is-loading {
            .sliderWrapper {
                opacity: 0;
                transform: translate(0, -4rem);
            }
        }
    }

    .sliderWrapper {
        position: relative;
        height: 100%;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;

        @include respond-to(sm) {
            height: auto;

            @include aspect-ratio(768, 539);
        }

        @include respond-to(xs) {
            @include aspect-ratio(320, 200);
        }
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .footer {
        padding: 3.4rem 0;
        border-bottom: 1px solid $base-100;
        background-color: $base-50;
        transition: background-color $default-transition, border-color $default-transition;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 0;
            width: 100%;
            height: 1px;
            background-color: $base-800;
            opacity: 0;
            transition: opacity $default-transition;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            width: 100%;
            height: $header-h;
            background-color: $base-800;
            transform: translateY(-100%);
            opacity: 0;
            pointer-events: none;
            transition: opacity $default-transition;

            @include respond-to(sm) {
                content: none;
            }
        }

        @include respond-to-min(sm) {
            &._hovered {
                background-color: $base-800;
                border-color: rgba($milk, .16);

                &:before,
                &:after,
                .pagination,
                .slideInfo {
                    opacity: 1;
                }

                .select h1 {
                    color: $milk;
                }
            }
        }

        @include respond-to(sm) {
            padding: 0;
        }

        @include respond-to(xs) {
            height: 64px;
        }
    }

    .slideInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 6.4rem;
        padding: 2.5rem 0 2.3rem;
        background-color: $base-800;
        pointer-events: none;
        transform: translateY(100%);
        opacity: 0;
        transition: background-color $default-transition, opacity $default-transition;

        .container {
            justify-content: space-between;
            flex-direction: row;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: -1px;
            z-index: 0;
            width: 100%;
            height: 5px;
            background-color: red;
            opacity: 0;
            transition: opacity $default-transition;
        }
    }

    .container {
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            display: block;
        }
    }

    .select {
        @include respond-to(sm) {
            display: none;
        }
    }

    .controls {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond-to(sm) {
            padding: 20px 0;
            border-bottom: 1px solid $base-100;
        }

        @include respond-to(xs) {
            padding: 16px 0 12px;
            margin: -32px 0 0;
            border-bottom: none;
        }
    }

    .pagination {
        width: 18.2rem;
        margin-right: 2.4rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .fraction {
        @include respond-to(xs) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .buttons {
        flex-shrink: 0;
        display: flex;
        margin-left: 1.4rem;

        @include respond-to(xs) {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .btn {
        &._next {
            svg {
                transform: rotate(180deg);
            }
        }

        &._prev {
            margin-right: 1.6rem;

            @include respond-to(sm) {
                margin-right: 12px;
            }

            @include respond-to(xs) {
                margin-right: 8px;
            }
        }
    }

    .caption {
        display: none;

        @include respond-to(sm) {
            display: inline-flex;
            margin-right: auto;
            font-size: 14px;
            line-height: 1.16;
            font-weight: 500;
            color: $base-500;
        }

        @include respond-to(xs) {
            display: none;
        }
    }
</style>
