<template>
    <section :class="$style.CommercialSimilar">
        <h2 :class="$style.title"
            class="h3 container c-base">
            Коммерческие помещения в&nbsp;других городах
        </h2>
        <div :class="$style.list">
            <article v-for="item in list"
                     :key="item.id"
                     :class="[$style.card, {[$style._more]: item.type === 'more'}]">
                <MoreCard v-if="item.type === 'more'"
                          :class="$style.more"
                          @click="onOpenMap">
                    <template #icon>
                        <IconPinLarge class="frame-icon is-large" />
                    </template>
                    <template #label>
                        Смотреть на карте
                    </template>
                </MoreCard>

                <PromoCard
                    v-else-if="item.type === 'promo'"
                    :card="item"
                />

                <CommercialSimilarCard
                    v-else
                    :city="item"
                />
            </article>
        </div>
    </section>
</template>

<script>
    /* queries */
    import allNews from '../../../queries/allNews.graphql';

    import CommercialSimilarCard from './CommercialCityCard';
    import MoreCard from '../../common/MoreCard';
    import IconPinLarge from '../../icons/IconPinLarge';
    import MapModal from '../../layout/modals/MapModal';
    import PromoCard from '../../common/promo/PromoCard';

    export default {
        name: 'CommercialSimilar',

        components: {
            IconPinLarge,
            MoreCard,
            CommercialSimilarCard,
            PromoCard,
        },

        props: {
            activeCity: {
                type: String,
                default: '',
            },

            cities: {
                type: Array,
                default: () => [],
            }
        },

        async fetch() {
            try {
                const [promoRes] = await Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: allNews.loc.source.body,
                        variables: {
                            type: ['action'],
                        },
                    }),
                ]);
                this.promo = promoRes?.data?.allNews?.edges.length ? promoRes.data.allNews.edges.map(item => item.node) : [];
                this.prepareContent();
            } catch (e) {
                console.log('[CommercialSimilar / fetch]', e);
            }
        },

        data() {
            return {
                list: [],
                promo: [],
            };
        },

        computed: {
            preparedPromo() {
                return this.promo.map(item => ({
                    ...item,
                    ...{type: 'promo'},
                }));
            },

            firstPromo() {
                return {...this.promo[0], ...{type: 'promo'}};
            },
        },

        watch: {
            $mq: function() {
                this.prepareContent();
            },
        },

        methods: {
            prepareContent() {
                this.list = this.cities.slice(0, 3).filter(city => city.id !== this.activeCity);

                switch (this.$mq) {
                    case 'xs':
                        break;
                    case 'sm':
                        if (this.list.length % 2 === 0) {
                            this.list.push(this.firstPromo);
                        }
                        break;
                    case 'xl':
                        if (this.list.length < 3) {
                            if (this.list.length % 2 === 0) {
                                this.addPromo(1);
                            } else {
                                this.addPromo(2);
                            }
                        }
                        break;
                    default:
                        if (this.list.length >= 3) {
                            this.list.pop();
                        } else if (this.list.length !== 2) {
                            this.list.length === 1
                                ? this.list.splice(1, 0, this.firstPromo)
                                : this.addPromo(1);
                        }
                        break;
                }

                this.list.push({type: 'more', id: 'more'});
            },

            addPromo(promoCount) {
                for (let i = 0; i < promoCount; i++) {
                    this.list.splice(Math.random() * 10, 0, this.preparedPromo[i]);
                }
            },

            onOpenMap() {
                this.$modal.open(MapModal, {cities: this.cities});
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialSimilar {
        background-color: $base-50;
    }

    .title {
        padding-top: 8rem;
        padding-bottom: 8rem;
        font-weight: 500;
        font-size: 4rem;
        line-height: 1.2;

        @include respond-to(sm) {
            padding-top: 64px;
            padding-bottom: 64px;
            font-size: 28px;
            line-height: 1.28;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 20px;
            line-height: 1.4;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 0 -1px;
        padding-top: 1px;
    }

    .card {
        position: relative;
        width: 25%;
        min-height: 56rem;

        @include respond-to(lg) {
            width: 33.3333%;
        }

        @include respond-to(sm) {
            width: 50%;
            min-height: 490px;
        }

        @include respond-to(xs) {
            width: 100%;
            min-height: auto;

            &._more {
                display: none;
            }
        }

        &:not(._more) {
            outline: 1px solid $base-100;
        }
    }
</style>
