<template>
    <section :class="$style.CommercialFilter"
             class="container">
        <h2 :class="$style.title"
            class="h3 c-base">
            Выбрать коммерческое помещение
        </h2>

        <!--project-->
        <div :class="$style.container">
            <FilterContainer :class="$style.cell"
                             label="Проект">
                <SelectFilter
                    :value="values.project"
                    :facet="facets.project"
                    :spec="specs.project && specs.project.length ? [{value: '', label: 'Любой'}, ...specs.project] : [{value: '', label: 'Любой'}]"
                    @change="onValuesChange({project: $event})"
                />
            </FilterContainer>

            <!--completion-->
            <FilterContainer :class="$style.cell"
                             label="Срок сдачи">
                <SelectFilter
                    :value="values.completionDate"
                    :facet="facets.completion_date"
                    :spec="specs.completion_date && specs.completion_date.length ? [{value: '', label: 'Любой'}, ...specs.completion_date] : [{value: '', label: 'Любой'}]"
                    @change="$emit('change', {completionDate: $event})"
                />
            </FilterContainer>

            <!--price-->
            <FilterContainer :class="$style.cell"
                             label="Стоимость, &#8381;">
                <RangeFilter
                    :facet="facets.price"
                    :spec="specs.price"
                    :value-min="values.priceMin"
                    :value-max="values.priceMax"
                    @change="onValuesChange({priceMin: $event[0], priceMax: $event[1]})"
                />
            </FilterContainer>

            <!--area-->
            <FilterContainer :class="$style.cell"
                             label="Площадь, м<sup>2</sup>">
                <RangeFilter
                    :facet="facets.area"
                    :spec="specs.area"
                    :value-min="values.areaMin"
                    :value-max="values.areaMax"
                    @change="onValuesChange({areaMin: $event[0], areaMax: $event[1]})"
                />
            </FilterContainer>
        </div>

        <div :class="$style.wrapper">
            <div :class="$style.checkboxes">
                <VCheckbox :class="$style.checkbox"
                           :value="values.action"
                           :disabled="facets.action && !facets.action.includes('true')"
                           @input="onValuesChange({action: $event})">
                    Акция
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.facing"
                           :disabled="facets.facing && !facets.facing.includes('true')"
                           @input="onValuesChange({facing: $event})">
                    С отделкой
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasParking"
                           :disabled="facets.hasParking && !facets.hasParking.includes('true')"
                           @input="onValuesChange({hasParking: $event})">
                    С машиноместом
                </VCheckbox>
            </div>
            <div :class="$style.mapBtn">
                <VButton :class="$style.btn"
                         color="vice"
                         @click="handleMapOpen">
                    Проекты на карте
                </VButton>
            </div>

            <VButton :class="$style.btn"
                     @click="handleFilterBtnClick">
                <template v-if=" $device.isMobile">
                    Подобрать по параметрам
                </template>
                <template v-else>
                    Показать {{ count }} {{ count|plural(['помещение','помещения','помещений']) }}
                </template>
            </VButton>
        </div>
    </section>
</template>

<script>
    import {convertToObject} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import allGlobalCommercialSpacesSpecs
        from '../../../queries/commercial/allGlobalCommercialSpacesSpecs.graphql';
    import allGlobalCommercialSpacesFacets
        from '../../../queries/commercial/allGlobalCommercialSpacesFacets.graphql';

    /* components */
    import FilterContainer from '../../filters/FilterContainer';
    import SelectFilter from '../../filters/SelectFilter';
    import RangeFilter from '../../filters/RangeFilter';
    import VButton from '../../ui/button/VButton';
    import VCheckbox from '../../ui/checkbox/VCheckbox';
    import MapModal from '../../layout/modals/MapModal';

    const defaultValues = {
        priceMin: '',
        priceMax: '',
        areaMin: '',
        areaMax: '',
        completionDate: '',
        project: [],
        facing: '',
        action: '',
        hasParking: '',
        city: '',
    };

    export default {
        name: 'CommercialFilter',

        components: {
            VCheckbox,
            VButton,
            RangeFilter,
            SelectFilter,
            FilterContainer,
        },

        props: {
            activeCity: {
                type: String,
                default: '',
            },
        },

        async fetch() {
            try {
                this.values = {...this.values, ...{city: this.activeCity}};
                const [specsRes, facetsRes] = await Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: allGlobalCommercialSpacesSpecs.loc.source.body,
                        variables: {city: this.activeCity},
                    }),
                    this.$axios.$post('/graphql/', {
                        query: allGlobalCommercialSpacesFacets.loc.source.body,
                        variables: {city: this.activeCity},
                    }),
                ]);

                this.specs = convertToObject(specsRes.data.allGlobalCommercialSpacesSpecs);
                this.facets = convertToObject(facetsRes.data.allGlobalCommercialSpacesFacets.facets);
                this.count = facetsRes.data?.allGlobalCommercialSpacesFacets?.count;
            } catch (e) {
                console.log('fetch commercialFilter', e);
            }
        },

        data() {
            return {
                facets: {},
                specs: {},

                values: {...defaultValues},

                count: 0,
            };
        },

        methods: {
            handleFilterBtnClick() {
                if (this.$device.isMobile) {
                    this.$router.push('/commercial/filter/');
                } else {
                    const query = {};
                    Object.keys(this.values).forEach(key => {
                        if (Array.isArray(this.values[key])) {
                            if (this.values[key].length) {
                                query[key] = this.values[key];
                            }
                        } else if (this.values[key] !== '' && this.values[key] !== null) {
                            query[key] = this.values[key];
                        }
                    });
                    this.$router.push({path: '/commercial/filter', query: query});
                }
            },

            handleMapOpen() {
                this.$modal.open(MapModal);
            },

            fetchFacets() {
                return this.$axios.$post('/graphql/', {
                    query: allGlobalCommercialSpacesFacets.loc.source.body,
                    variables: this.values,
                }, {
                    progress: false,
                });
            },

            async updateFacets() {
                const res = await this.fetchFacets();
                this.facets = convertToObject(res.data.allGlobalCommercialSpacesFacets.facets);
                this.count = res.data.allGlobalCommercialSpacesFacets.count;
            },

            onValuesChange(val) {
                this.values = {...this.values, ...val};
                this.updateFacets();
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialFilter {
        padding-top: 8rem;
        padding-bottom: 4.5rem;

        @include respond-to(sm) {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .container {
        display: flex;
        margin: 4.8rem -2rem 0;

        @include respond-to(sm) {
            flex-wrap: wrap;
            margin: 20px -20px 0;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .cell {
        width: 25%;
        padding: 0 2rem;

        @include respond-to(sm) {
            width: 50%;
            padding: 20px;
        }
    }

    .euro {
        margin-left: 1.6rem;
    }

    .wrapper {
        display: flex;
        align-items: center;
        margin-top: 2.7rem;

        @include respond-to(sm) {
            flex-wrap: wrap;
            margin-top: 28px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }

    .mapBtn {
        display: none;

        @include respond-to(xs) {
            display: inline-flex;
            width: 100%;
            margin-bottom: 16px;
        }
    }

    .btn {
        width: 30.2rem;
        margin-left: auto;

        @include respond-to(sm) {
            width: 100%;
            margin-left: 0;
        }
    }

    .checkboxes {
        margin: 0 -3.4rem;

        @include respond-to(sm) {
            display: flex;
            margin: 0 -9px 40px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .checkbox {
        padding: 0 3.2rem;

        @include respond-to(sm) {
            padding: 0 9px;
        }
    }
</style>
