<template>
    <n-link :to="`/commercial/?city=${city.id}`"
            target="_blank"
            :class="[$style.CommercialCityCard, classes]">
        <div :class="$style.content">
            <h3 :class="$style.title"
                class="subtitle1"
                v-html="city.name">
            </h3>
            <p :class="$style.subtitle"
               v-html="city.subtitle">
            </p>

            <ul v-if="minCommercialPrice"
                :class="$style.info">
                <!--price-->
                <li :class="$style.cell">
                    <span :class="$style.label">
                        Стоимость
                    </span>
                    <span :class="$style.value">
                        от {{ minCommercialPrice|roundToMillions }} млн.
                        <span class="rub">&#8381;</span>
                    </span>
                </li>

                <!--area-->
                <li v-if="area"
                    :class="$style.cell">
                    <span :class="$style.label">
                        Площадь
                    </span>
                    <span :class="$style.value"
                          v-html="area">
                    </span>
                </li>
            </ul>

            <div v-if="city.minMortgageCommercial"
                 :class="$style.tag">
                <span>
                    ипотека {{ city.minMortgageCommercial ? city.minMortgageCommercial.toLocaleString() : '' }}%
                </span>
            </div>
            <div :class="$style.imageWrap">
                <img :class="$style.image"
                     :src="city.commercialImage">
            </div>

            <VButton :class="$style.btn"
                     :color="buttonColor">
                Подробнее
            </VButton>
        </div>

    </n-link>
</template>

<script>
    import {mapGetters} from 'vuex';

    /* components */
    import VButton from '../../ui/button/VButton';

    export default {
        name: 'CommercialCityCard',

        components: {
            VButton,
        },

        props: {
            city: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            ...mapGetters({
                colorClass: 'getCityClass',
            }),

            classes() {
                return this.$style[`_${this.colorClassName}`];
            },

            colorClassName() {
                return this.city?.color ? this.colorClass(this.city.color) : 'vice';
            },

            buttonColor() {
                return `milk-${this.colorClassName}`;
            },

            minCommercialPrice() {
                return this.city.minCommercialPrice ? Number(this.city.minCommercialPrice.toLocaleString()) : '';
            },

            area() {
                if (this.city?.minCommercialArea && this.city?.maxCommercialArea) {
                    if (this.city.minCommercialArea === this.city.maxCommercialArea) {
                        return `${this.city.minCommercialArea} м<sup>2</sup>`;
                    }

                    return `${this.city.minCommercialArea} - ${this.city.maxCommercialArea} м<sup>2</sup>`;
                }

                if (this.city.minCommercialArea) {
                    return `от ${this.city.minCommercialArea} м<sup>2</sup>`;
                }

                if (this.city.maxCommercialArea) {
                    return `до ${this.city.maxCommercialArea} м<sup>2</sup>`;
                }

                return null;
            },
        },
    };
</script>

<style lang="scss" module>
    $transition: .3s linear;

    .CommercialCityCard {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 56rem;
        overflow: hidden;
        padding: 5.1rem 5.6rem 0;
        background-color: $base-50;

        @include respond-to(sm) {
            min-height: 490px;
            padding: 40px 40px 0;
        }

        @include respond-to(xs) {
            min-height: 438px;
            padding: 24px $side-padding-mobile 0;
        }

        &._vice {
            color: $vice;
        }

        &._redline {
            color: $redline;
        }

        &._moxxy {
            color: $moxxy;
        }

        &._elysium {
            color: $elysium;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 36.2rem;
            height: 36.2rem;
            border-radius: 50%;
            background-color: currentColor;
            transform: translate(13%, 26%) translateZ(0);
            transition: transform $transition;

            @include respond-to(sm) {
                width: 285px;
                height: 285px;
                transform: translate(20%, 20%) translateZ(0);
            }

            @include respond-to(xs) {
                width: 81vw;
                height: 81vw;
                transform: translate(38%, 25%) translateZ(0);
            }
        }

        @include hover {
            &:hover {
                .title,
                .value {
                    color: $milk;
                }

                .subtitle {
                    color: $base-50;
                }

                &:before {
                    transform: translate(13%, 26%) translateZ(0) scale(3.25);
                }

                .label {
                    color: rgba($milk, .8);
                }

                .tag {
                    background-color: $milk;

                    span {
                        color: currentColor;
                    }
                }

                .btn {
                    opacity: 1;
                }
            }
        }
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .title {
        color: $base-500;
        transition: color $transition;
    }

    .subtitle {
        margin-top: .8rem;
        margin-bottom: 3rem;
        font-size: 1rem;
        line-height: 1.46;
        font-weight: 500;
        letter-spacing: .1em;
        color: currentColor;
        text-transform: uppercase;
        will-change: color;
        transition: color $transition;

        @include respond-to(sm) {
            margin-bottom: 24px;
        }

        @include respond-to(xs) {
            margin-top: 4px;
            margin-bottom: 22px;
        }
    }

    .cell {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;

        @include respond-to(sm) {
            margin-bottom: 18px;
        }

        @include respond-to(xs) {
            margin-bottom: 14px;
        }
    }

    .label {
        width: 60%;
        font-size: 1.6rem;
        line-height: 1;
        color: $base-300;
        will-change: color;
        transition: color $transition;

        @include respond-to(sm) {
            width: 65%;
            white-space: nowrap;
        }

        @include respond-to(xs) {
            font-size: 14px;
        }
    }

    .value {
        flex-grow: 1;
        flex-shrink: 0;
        text-align: right;
        font-size: 1.6rem;
        line-height: 1;
        color: $base-500;
        font-weight: 600;
        will-change: color;
        transition: color $transition;

        @include respond-to(sm) {
            margin-left: auto;
        }

        @include respond-to(xs) {
            font-size: 14px;
        }
    }

    .tag {
        display: inline-flex;
        align-items: center;
        height: 2.2rem;
        max-width: 11rem;
        margin-top: 1.2rem;
        padding: 0 1.2rem;
        border-radius: 8px;
        background-color: currentColor;
        transition: background-color $transition;

        span {
            font-size: 1rem;
            line-height: 1;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $base-50;
            will-change: color;
            transition: color $transition;
        }
    }

    .imageWrap {
        position: relative;
        margin-left: -5.6rem;
        margin-right: -5.6rem;
        margin-top: auto;

        @include aspect-ratio(510, 280);

        @include respond-to(sm) {
            margin-left: -40px;
            margin-right: -40px;

            @include aspect-ratio(384, 230);
        }

        @include respond-to(xs) {
            margin-left: -16px;
            margin-right: -16px;
        }
    }

    .image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .btn {
        position: absolute;
        left: 0;
        bottom: 5.2rem;
        width: 17.6rem;
        opacity: 0;
        will-change: opacity;
        transition: opacity $transition;
    }
</style>
