<template>
    <section ref="page"
             :class="$style.FlatsPage"
             class="page-top">
        <div class="container">
            <FilterHead
                id="scroll-filter"
                title="Квартиры"
                :value="values.city"
                :specs="specs.city"
                label-field-name="label"
                value-field-name="value"
                @city-change="onValueChange"
                @open-filter="onToogleFilter"
            />
        </div>

        <FlatsFilter
            :class="[$style.filter, {[$style._visible]: flags.isFilterVisible}]"
            :specs="specs"
            :facets="facets"
            :values="values"
            :count="count"
            :is-reset-active="isResetActive"
            @change="onValueChange"
            @reset="onReset"
            @close="onToogleFilter"
        />

        <FilterResultControls
            id="filter-result-controls"
            :values="values"
            :view="view"
            default-sort-option="id"
            @sort-change="onSortChange"
            @view-change="onViewChange"
        />

        <FilterResults
            :class="[$style.list, {[$style._reloading]: flags.isReloading}]"
            :list="cleanedLots"
            :view="view"
            :property-cards="propertyCards"
        />

        <VCircleButton v-if="$mq === 'xs'"
                       :class="[$style.btn, {[$style._show]: isButtonVisible}]"
                       color="redline"
                       hover-color="night"
                       fixed
                       @click="handleClick">
            <IconFilter
                :class="$style.icon"
                class="frame-icon"
            />
        </VCircleButton>

    </section>
</template>

<script>
    import {applyQuery} from '../../assets/js/utils/queryUtils';
    import {convertToObject, scrollTo, getOffset} from '../../assets/js/utils/commonUtils';
    import {realtyFilter} from '../../mixins/realtyFilter';
    import {mapActions} from 'vuex';

    /* queries */
    import allGlobalFlatsSpecs from '../../queries/flats/allGlobalFlatsSpecs.graphql';
    import allGlobalFlatsFacets from '../../queries/flats/allGlobalFlatsFacets.graphql';
    import allGlobalFlats from '../../queries/flats/allGlobalFlats.graphql';
    import allPropertyCards from '../../queries/allPropertyCards.graphql';

    /* components */
    import FlatsFilter from '../../components/pages/flats/FlatsFilter';
    import FilterResultControls from '../../components/common/filter/FilterResultControls';
    import FilterResults from '../../components/common/filter/FilterResults';
    import FilterHead from '../../components/common/filter/FilterHead';
    import VCircleButton from '../../components/ui/button/VCircleButton';
    import IconFilter from '../../components/icons/IconFilter';

    const defaultValues = {
        priceMin: '',
        priceMax: '',
        areaMin: '',
        areaMax: '',
        floorMin: '',
        floorMax: '',
        completionDate: '',
        building: [],
        project: [],
        rooms: [],
        facing: '',
        action: '',
        hasView: '',
        hasHighCeiling: '',
        hasPanoramicWindows: '',
        hasTwoSidesWindows: '',
        isDuplex: '',
        hasTerrace: '',
        hasParking: '',
        city: '',
    };

    export default {
        name: 'FlatsPage',

        components: {
            FilterHead,
            FilterResults,
            FilterResultControls,
            FlatsFilter,
            VCircleButton,
            IconFilter,
        },

        mixins: [
            realtyFilter,
        ],

        async asyncData({$axios, query, store, error}) {
            try {
                const initialValues = applyQuery(defaultValues, query);
                const activeCityId = store.getters.getActiveCityId;
                let isResetActive = Boolean(Object.keys(query).length);
                if (query.city) {
                    isResetActive = query.city !== activeCityId;
                }

                const {data} = await $axios.$post('/graphql/', {
                    query: allGlobalFlatsSpecs.loc.source.body,
                });

                const specs = {...convertToObject(data.allGlobalFlatsSpecs)};

                if (!initialValues.city) {
                    initialValues.city = specs.city.map(item => item.value).includes(activeCityId) ? activeCityId : '';
                }

                const requestVars = {};
                for (const name in initialValues) {
                    if (String(initialValues[name]).length && initialValues[name] !== null) {
                        requestVars[name] = initialValues[name];
                    }
                }

                const [facetsRes, flatsRes, cardsRes] = await Promise.all([
                    $axios.$post('/graphql/', {
                        query: allGlobalFlatsFacets.loc.source.body,
                        variables: requestVars,
                    }),
                    $axios.$post('/graphql/', {
                        query: allGlobalFlats.loc.source.body,
                        variables: {
                            ...requestVars,
                            first: 16,
                        },
                    }),

                    $axios.$post('/graphql/', {
                        query: allPropertyCards.loc.source.body,
                    }),
                ]);

                return {
                    specs: specs,
                    facets: convertToObject(facetsRes.data.allGlobalFlatsFacets.facets),
                    values: initialValues,
                    count: facetsRes.data.allGlobalFlatsFacets.count,
                    lots: flatsRes.data.allGlobalFlats.edges,
                    isResetActive: isResetActive,
                    pageInfo: {
                        first: 16,
                        after: flatsRes.data.allGlobalFlats.pageInfo.endCursor,
                        hasNext: flatsRes.data.allGlobalFlats.pageInfo.hasNextPage,
                    },

                    propertyCards: cardsRes.data?.allPropertyCards.length ? cardsRes.data.allPropertyCards : [],
                };
            } catch (e) {
                console.log('[FlatsPage/ asyncData]:', e);
                return error({statusCode: 404, message: 'Страница не найдена'});
            }
        },

        data() {
            return {
                facetField: 'allGlobalFlatsFacets',
                lotField: 'allGlobalFlats',
                isResetActive: true,
                values: {...defaultValues},
                defaultValues: {...defaultValues},
                count: 0,
                propertyCards: [],
                scroll: 0,
                isButtonVisible: false,
                resultsOffset: 0,
            };
        },

        head() {
            return {
                title: `Подбор квартир по параметрам от застройщика «Страна Девелопмент»${this.currentCity ? ` в г.${this.currentCity.name}` : ''}`,
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: `Застройщик «Страна Девелопмент» предлагает квартиры-студии, 1-комнатные, 2-комнатные, 3-комнатные, 4-комнатные квартиры, а также квартиры с европланировкой. Площадь варьируется от ${this.specs.area.min} до  ${this.specs.area.max} м2, стоимость – от ${this.specs.price.min} до ${this.specs.price.max} руб`,
                    },
                ],
            };
        },

        computed: {
            currentCity() {
                return this.$store.state.active_city;
            },
        },

        mounted() {
            this.scroll = window.scrollY;
            const results = document.getElementById('filter-result-controls');
            this.resultsOffset = getOffset(results).top;
            this.$refs.page.addEventListener('scroll', this.handleScrollPage);
        },

        beforeDestroy() {
            this.$refs.page.removeEventListener('scroll', this.handleScrollPage);
        },

        methods: {
            ...mapActions('header', [
                'setSmallHeaderDisplay',
            ]),

            fetchFacets() {
                return this.$axios.$post('/graphql/', {
                    query: allGlobalFlatsFacets.loc.source.body,
                    variables: this.vars,
                }, {
                    progress: false,
                });
            },

            fetchLots() {
                return this.$axios.$post('/graphql/', {
                    query: allGlobalFlats.loc.source.body,
                    variables: {
                        ...this.vars,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                }, {
                    progress: false,
                });
            },

            handleClick() {
                scrollTo('scroll-filter');
            },

            handleScrollPage() {
                this.isButtonVisible = this.scroll > window.scrollY && window.pageYOffset > this.resultsOffset;
                this.setSmallHeaderDisplay(this.isButtonVisible);
                this.scroll = window.scrollY;
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsPage {
        //
    }

    .filter {
        margin-top: 1.2rem;

        @include respond-to(sm) {
            margin-top: 0;
        }

        @include respond-to(xs) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 40;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background-color: #fff;
            transform: translateY(100%);
            transition: transform $default-transition;
            -webkit-overflow-scrolling: touch;
            will-change: transform;

            &._visible {
                transform: translateY(0);
            }
        }
    }

    .list {
        transition: opacity $default-transition, transform $default-transition;

        &._reloading {
            opacity: 0;
            transform: translateY(64px);
            pointer-events: none;
        }
    }

    .btn {
        position: fixed;
        bottom: -5rem;
        left: calc(50% - 2.4rem);
        z-index: 5;
        transition: bottom $default-transition;

        &._show {
            bottom: 6rem;

            @include respond-to(sm) {
                bottom: 4rem;
            }

            @include respond-to(xs) {
                bottom: 3rem;
            }
        }
    }
</style>
