<template>
    <div :class="$style.AboutInfo">
        <div :class="$style.box">
            <ImageLazy
                :image="image"
                :preview="preview"
                absolute
            />
        </div>
        <div :class="$style.container"
             class="container">
            <ul :class="$style.list">
                <li v-for="item in info"
                    :key="item.id"
                    :class="$style.item">
                    <div :class="$style.header">
                        <span :class="$style.title"
                              v-html="item.value">
                        </span>
                        <span :class="$style.subtitle"
                              v-html="item.title">
                        </span>
                    </div>
                    <div :class="$style.text"
                         v-html="item.subtitle">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import ImageLazy from '../../common/ImageLazy';

    export default {
        name: 'AboutInfo',

        components: {
            ImageLazy,
        },

        props: {
            image: {
                type: String,
                default: '',
            },

            preview: {
                type: String,
                default: '',
            },

            info: {
                type: Array,
                default: () => [],
            },
        },
    };
</script>

<style lang="scss" module>
    .AboutInfo {
        background-color: $base-50;
    }

    .box {
        position: relative;

        @include aspect-ratio(1920, 810);

        @include respond-to(lg) {
            @include aspect-ratio(1440, 810);
        }

        @include respond-to(sm) {
            @include aspect-ratio(768, 432);
        }

        @include respond-to(xs) {
            @include aspect-ratio(320, 180);
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .list {
        display: flex;
        margin-top: -9rem;
        padding: 5.2rem 0;
        background-color: $base-500;

        @include respond-to(sm) {
            flex-wrap: wrap;
            margin-top: -64px;
            padding: 0;
        }

        @include respond-to(xs) {
            flex-direction: column;
            padding: 16px 0 16px $side-padding-mobile;
            margin: 0 -#{$side-padding-mobile};
        }
    }

    .item {
        width: 25%;
        padding-left: 5.6rem;

        @include respond-to-min(md) {
            &:not(:last-child) {
                border-right: 1px solid rgba($milk, .1);
            }
        }

        @include respond-to(sm) {
            width: 50%;
            padding: 40px;

            &:nth-child(n+3) {
                border-top: 1px solid rgba($milk, .1);
            }
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 24px 0;

            &:not(:first-child) {
                border-top: 1px solid rgba($milk, .1);
            }
        }

        &:nth-child(odd) {
            border-right: 1px solid rgba($milk, .1);

            @include respond-to(xs) {
                border-right: 0;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;

        @include respond-to(xs) {
            display: inline-block;
        }
    }

    .title {
        font-size: 6.4rem;
        line-height: 1.12;
        font-weight: 700;
        color: $milk;

        @include respond-to(sm) {
            font-size: 48px;
            line-height: 1.16;
            font-weight: 500;
        }

        @include respond-to(xs) {
            font-size: 28px;
            line-height: 1.28;
        }
    }

    .subtitle {
        margin-top: 7.2rem;
        font-size: 2rem;
        line-height: 1.4;
        color: $milk;

        @include respond-to(sm) {
            margin-top: 64px;
            font-size: 20px;
            line-height: 1.4;
        }

        @include respond-to(xs) {
            margin-top: 0;
            font-size: 28px;
            line-height: 1.28;
            font-weight: 500;
            text-transform: lowercase;
        }
    }

    .text {
        margin-top: .4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: rgba($milk, .64);

        @include respond-to(xs) {
            margin-top: 0;
            font-size: 14px;
            line-height: 1.46;
        }
    }
</style>
