<template>
    <section :class="$style.AboutCompany">
        <div v-if="!$device.isDesktop">
            <div :class="$style.container"
                 class="container">
                <h2 :class="$style.title"
                    class="subtitle3">
                    Подход компании
                </h2>

                <div :class="$style.tabletControls">
                    <GalleryFraction
                        :class="$style.fraction"
                        :current="fractionCurrent"
                        :total="fractionTotal"
                        size="normal"
                        color="inverse"
                        fill
                    />

                    <div :class="$style.buttons">
                        <VCircleButton ref="tabletPrev"
                                       :class="[$style.controlBtn, $style._prev]"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>

                        <VCircleButton ref="tabletNext"
                                       :class="[$style.controlBtn, $style._next]"
                                       color="milk">
                            <IconArrowRight class="frame-icon" />
                        </VCircleButton>
                    </div>
                </div>
            </div>
            <div :class="$style.body">
                <div ref="slider"
                     :class="$style.slider"
                     class="swiper-container">
                    <div class="swiper-wrapper">
                        <div v-for="item of slides"
                             :key="item.id"
                             class="swiper-slide">
                            <ImageLazy
                                :image="item.imageDisplay"
                                :preview="item.imagePreview"
                                is-swiper-slider
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div :class="$style.box"
                 class="container">
                <div :class="$style.info">
                    <div :class="[$style.description, {[$style._reloading]: isReloading}]"
                         v-html="activeDescripion">
                    </div>

                    <div :class="$style.controls">
                        <span :class="$style.label">
                            Листайте
                        </span>
                        <div :class="$style.pagination">
                            <div ref="pagination"
                                 class="swiper-pagination swiper-pagination-progressbar is-inverse">
                            </div>
                        </div>

                        <div :class="$style.fraction">
                            <GalleryFraction
                                :current="fractionCurrent"
                                :total="fractionTotal"
                                size="normal"
                                :color="$device.isMobile ? 'default' : 'inverse'"
                                fill
                            />
                        </div>

                        <div :class="$style.buttons">
                            <VCircleButton ref="prev"
                                           :class="[$style.controlBtn, $style._prev]"
                                           color="milk">
                                <IconArrowRight class="frame-icon" />
                            </VCircleButton>

                            <VCircleButton ref="next"
                                           :class="[$style.controlBtn, $style._next]"
                                           color="milk">
                                <IconArrowRight class="frame-icon" />
                            </VCircleButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-else
             ref="wrapper"
             :class="$style.wrapper"
             :style="wrapperHeight">
            <div :class="[$style.content, contentClass]">
                <div :class="$style.header"
                     class="container">
                    <h2 :class="$style.title"
                        class="subtitle3">
                        Подход компании
                    </h2>
                </div>
                <div ref="content"
                     :class="$style.scrollBox"
                     :style="contentOffset">
                    <div v-for="item in slides"
                         :key="item.id"
                         :class="$style.slide">
                        <ImageLazy
                            :image="item.imageDisplay"
                            :preview="item.imagePreview"
                            relative
                        />
                    </div>
                </div>

                <div :class="$style.infoWrapper"
                     class="container">
                    <div :class="$style.info">
                        <div :class="[$style.description, {[$style._reloading]: isReloading}]"
                             v-html="activeDescripion">
                        </div>

                        <div :class="$style.controls">
                            <span :class="$style.label">
                                Листайте
                            </span>
                            <div :class="$style.pagination"
                                 class="swiper-pagination-progressbar is-inverse">
                                <span :class="$style.progress"
                                      :style="{width: `${progress}%`}">
                                </span>
                            </div>

                            <div :class="$style.fraction">
                                <GalleryFraction
                                    :current="fractionCurrent"
                                    :total="fractionTotal"
                                    size="normal"
                                    :color="$device.isMobile ? 'default' : 'inverse'"
                                    fill
                                />
                            </div>

                            <div :class="$style.buttons">
                                <VCircleButton ref="prev"
                                               :class="[$style.controlBtn, $style._prev]"
                                               color="milk">
                                    <IconArrowRight class="frame-icon" />
                                </VCircleButton>

                                <VCircleButton ref="next"
                                               :class="[$style.controlBtn, $style._next]"
                                               color="milk">
                                    <IconArrowRight class="frame-icon" />
                                </VCircleButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper/swiper-bundle.min';
    import {
        addResizeListener,
        removeResizeListener,
        dispatchResizeEvent,
    } from '../../../assets/js/utils/resizeUtils';

    /* components */
    import ImageLazy from '../../common/ImageLazy';
    import GalleryFraction from '../../common/gallery/GalleryFraction';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRight from '../../icons/IconArrowRight';

    export default {
        name: 'AboutCompany',

        components: {
            IconArrowRight,
            VCircleButton,
            GalleryFraction,
            ImageLazy,
        },

        props: {
            slides: {
                type: Array,
                default: () => [],
            }
        },

        data() {
            return {
                slider: null,
                activeIndex: 0,
                isReloading: false,
                activeDescripion: '',

                xOffset: 0,

                // Ширина контента минус размер экрана
                maxOffset: 0,

                // Высота контейнера для горизонтального скролла
                scrollHeight: 0,
                lastScroll: 0,
                slideWidth: 0,
                prevOffset: 0,
                positionState: 'start',
                isTicking: false,
            };
        },

        computed: {
            fractionCurrent() {
                return this.activeIndex + 1 < 10 ? `0${this.activeIndex + 1}` : `${this.activeIndex + 1}`;
            },

            fractionTotal() {
                return this.slides.length < 10 ? `0${this.slides.length}` : `${this.slides.length}`;
            },

            wrapperHeight() {
                if (this.scrollHeight) {
                    return {height: `${this.scrollHeight}px`};
                }
                return '';
            },

            contentClass() {
                return {
                    [this.$style._start]: this.positionState === 'start',
                    [this.$style._fixed]: this.positionState === 'fixed',
                    [this.$style._end]: this.positionState === 'end',
                };
            },

            contentOffset() {
                return {
                    transform: `translate3d(-${this.xOffset}px, 0, 0)`,
                };
            },

            progress() {
                return Number((this.xOffset / this.maxOffset).toFixed(2) * 100);
            },
        },

        watch: {
            isReloading(val) {
                if (!val) {
                    this.activeDescripion = this.slides[this.activeIndex] ? this.slides[this.activeIndex].text : '';
                }
            },

            xOffset(val) {
                if (this.isReloading) {
                    return;
                }

                if (val > this.prevOffset && val >= (this.slideWidth / 2) + (this.slideWidth * this.activeIndex)) {
                    this.isReloading = true;
                    setTimeout(() => {
                        this.activeIndex += 1;
                        this.isReloading = false;
                    }, 300);
                } else if (val < this.prevOffset && val <= (this.slideWidth / 2) + (this.slideWidth * (this.activeIndex - 1))) {
                    this.isReloading = true;
                    setTimeout(() => {
                        this.activeIndex -= 1;
                        this.isReloading = false;
                    }, 300);
                }
            },
        },

        mounted() {
            if (this.$device.isDesktop) {
                addResizeListener(this.$refs.content, this.onResize);
                window.addEventListener('scroll', this.onScroll, false);
                setTimeout(() => {
                    dispatchResizeEvent();
                }, 200);
            } else if (this.slides.length) {
                this.$nextTick(() => {
                    this.initSwiper();
                });
            }
            this.activeDescripion = this.slides[this.activeIndex]?.text ? this.slides[this.activeIndex].text : '';
        },

        beforeDestroy() {
            if (this.$device.isDesktop) {
                removeResizeListener(this.$refs.content, this.onResize);
                window.removeEventListener('scroll', this.onScroll);
            } else if (this.slider) {
                this.slider.destroy();
            }
        },

        methods: {
            initSwiper() {
                let options = {
                    speed: 1000,
                    slidesPerView: 1,
                    lazy: true,

                    pagination: {
                        el: this.$refs.pagination || false,
                        type: 'progressbar',
                    },

                    navigation: {
                        prevEl: this.$refs.prev?.$el || this.$refs.prev || false,
                        nextEl: this.$refs.next?.$el || this.$refs.next || false,
                        disabledClass: 'is-disabled',
                    },
                };

                const tabletOptions = {
                    navigation: {
                        prevEl: this.$refs.tabletPrev?.$el || this.$refs.tabletPrev || false,
                        nextEl: this.$refs.tabletNext?.$el || this.$refs.tabletNext || false,
                        disabledClass: 'is-disabled',
                    },
                };

                if (window.innerWidth < 992 && window.innerWidth >= 768) {
                    options = {...options, ...tabletOptions};
                }

                this.slider = new Swiper(this.$refs.slider, options);

                this.slider.on('transitionStart', () => {
                    this.isReloading = true;
                });

                this.slider.on('transitionEnd', () => {
                    this.isReloading = false;
                });

                this.slider.on('slideChange', () => {
                    this.activeIndex = this.slider.realIndex;
                });
            },

            onScroll() {
                this.lastScroll = window.scrollY || window.pageYOffset;

                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateScroll);
                }
            },

            updateScroll() {
                const y = this.$refs.wrapper.getBoundingClientRect().top;

                if (y > 0) {
                    if (this.positionState !== 'start') {
                        this.positionState = 'start';
                        this.xOffset = 0;
                    }
                } else if ((this.scrollHeight - (-y + window.innerHeight)) <= 0) {
                    if (this.positionState !== 'end') {
                        this.positionState = 'end';
                        this.xOffset = this.maxOffset;
                    }
                } else {
                    if (this.positionState !== 'fixed') {
                        this.positionState = 'fixed';
                    }
                    this.calcXOffset();
                }
                this.isTicking = false;
            },

            calcXOffset() {
                const upperBound = Math.round(this.$refs.wrapper.getBoundingClientRect().top) + window.pageYOffset;
                this.prevOffset = this.xOffset;

                let x = this.lastScroll - upperBound;
                if (x < 0) {
                    x = 0;
                }
                if (x > this.maxOffset) {
                    x = this.maxOffset;
                }

                this.$emit('scroll', this.progress);
                this.xOffset = x;
            },

            onResize() {
                this.maxOffset = this.$refs.content.offsetWidth - this.$refs.wrapper.offsetWidth;
                this.scrollHeight = window.innerHeight + this.maxOffset;
                this.slideWidth = this.$refs.wrapper.offsetWidth;
            },
        },
    };
</script>

<style lang="scss" module>
    .AboutCompany {
        position: relative;
        background-color: $base-500;
    }

    .container {
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;

        @include respond-to(sm) {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .title {
        margin-right: auto;

        @include respond-to(xs) {
            width: 100%;
            padding: 24px 0;
            border-top: 1px solid rgba($milk, .16);
        }
    }

    .wrapper {
        position: relative;
        display: flex;
        overflow: hidden;
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;
    }

    .infoWrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .content {
        left: 0;
        display: flex;
        width: 100%;
        height: 100vh;
        padding-top: 13.6rem;

        &._start {
            position: absolute;
            top: 0;
        }

        &._fixed {
            position: fixed;
            top: 0;
        }

        &._end {
            position: absolute;
            bottom: 0;
        }
    }

    .scrollBox {
        display: flex;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        will-change: transform;
    }

    .slide {
        flex-shrink: 0;
        width: 100vw;
        height: 100%;
    }

    .progress {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $milk;
    }

    .body {
        position: relative;
        overflow: hidden;

        @include aspect-ratio(1440, 624);

        @include respond-to(sm) {
            @include aspect-ratio(768, 432);
        }

        @include respond-to(xs) {
            @include aspect-ratio(320, 180);
        }
    }

    .box {
        position: relative;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .info {
        position: absolute;
        bottom: 9.2rem;
        left: 4.2rem;
        z-index: 2;
        width: 62.2rem;
        height: 27.6rem;
        padding: 5.6rem 5.6rem 5.2rem;

        @include respond-to-max-height(700px) {
            width: 50rem;
            height: 20rem;
        }

        @include respond-to(sm) {
            left: 40px;
            bottom: 40px;
            width: 467px;
            height: 136px;
            padding: $side-padding-tablet;
        }

        @include respond-to(xs) {
            position: static;
            width: 100%;
            height: auto;
            padding: 40px 16px 40px 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $base-500;

            @supports ((-webkit-backdrop-filter: blur(64px)) or (backdrop-filter: blur(64px))) {
                background-color: rgba(#fff, .1);
                backdrop-filter: blur(64px);
            }

            @include respond-to(xs) {
                content: none;
            }
        }
    }

    .tabletControls {
        display: none;

        @include respond-to(sm) {
            display: flex;
            align-items: center;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .controls {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 3.2rem;

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(xs) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0 $side-padding-mobile;
            transform: translateY(-50%);
        }
    }

    .label {
        margin-right: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.16;
        color: $milk;

        @include respond-to(sm) {
            display: none;
        }
    }

    .pagination {
        width: 8rem;
        margin-right: auto;

        @include respond-to(sm) {
            display: none;
        }
    }

    .buttons {
        display: none;

        @include respond-to(sm) {
            display: flex;
            margin-left: 20px;
        }

        @include respond-to(xs) {
            margin-left: 0;
        }
    }

    .controlBtn {
        &._next {
            margin-left: 1.6rem;

            @include respond-to(xs) {
                margin-left: 8px;
            }

            svg {
                transform: rotate(180deg);
            }
        }
    }

    .description {
        position: relative;
        min-height: 12rem;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 1.24;
        letter-spacing: -.1rem;
        color: $milk;
        transition: opacity $default-transition;

        @include respond-to-max-height(700px) {
            min-height: 5.6rem;
            font-size: 2rem;
        }

        @include respond-to(sm) {
            min-height: 56px;
            font-size: 20px;
            line-height: 1.4;
        }

        @include respond-to(xs) {
            min-height: auto;
            font-size: 16px;
            line-height: 1.52;
        }

        &._reloading {
            opacity: 0;
        }
    }
</style>
