<template>
    <div v-intersect.once="{handler: showBlock}"
         :class="$style.AboutDescription"
         class="container">
        <div :class="$style.info">
            <BlockAnimationWrapper :class="$style.number"
                                   class="h1"
                                   :visible="isVisible"
                                   :delay=".2">
                <span :class="$style.accent"
                      v-html="accent">
                </span>
            </BlockAnimationWrapper>
            <BlockAnimationWrapper :class="$style.text"
                                   :visible="isVisible"
                                   :delay=".4">
                <div v-html="info">
                </div>
            </BlockAnimationWrapper>
        </div>

        <BlockAnimationWrapper :class="$style.description"
                               :visible="isVisible"
                               :delay=".3">
            <div :class="$style.accent"
                 v-html="descriptionAccent">
            </div>

            <div v-html="description"></div>
        </BlockAnimationWrapper>
    </div>
</template>

<script>
    import {blockAimate} from '../../../assets/js/mixins/blockAnimate';
    import BlockAnimationWrapper from '../../common/BlockAnimationWrapper';

    export default {
        name: 'AboutDescription',

        components: {
            BlockAnimationWrapper,
        },

        mixins: [
            blockAimate,
        ],

        props: {
            accent: {
                type: [String, Number],
                default: '',
            },

            info: {
                type: String,
                default: '',
            },

            descriptionAccent: {
                type: String,
                default: '',
            },

            description: {
                type: String,
                default: '',
            },
        },
    };
</script>

<style lang="scss" module>
    .AboutDescription {
        display: flex;
        padding-bottom: 8rem;

        @include respond-to(sm) {
            flex-direction: column-reverse;
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-bottom: 40px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;

        @include respond-to(sm) {
            flex-direction: row;
            margin-top: 40px;
        }
    }

    .accent {
        background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        -webkit-mask-image: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: $vice;

        * {
            display: inline-block;
            background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
            -webkit-mask-image: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .number {
        @include respond-to(sm) {
            flex-shrink: 0;
            width: 172px;
        }

        @include respond-to(xs) {
            width: 96px;
        }
    }

    .text {
        width: 25.6rem;
        margin-top: auto;
        font-size: 1.6rem;
        line-height: 1.52;
        color: $base-300;

        @include respond-to(sm) {
            width: 310px;
            margin-top: 0;
        }

        @include respond-to(xs) {
            width: auto;
            font-size: 12px;
            line-height: 1.32;
        }
    }

    .description {
        width: 50%;
        margin-left: auto;
        font-size: 3.2rem;
        line-height: 1.3;
        font-weight: 500;
        letter-spacing: -.1rem;
        color: $base-500;

        @include respond-to(sm) {
            width: 100%;
            margin-left: 0;
            font-size: 28px;
            line-height: 1.3;
        }

        @include respond-to(xs) {
            font-size: 20px;
            line-height: 1.4;
        }
    }
</style>
