<template>
    <section v-intersect.once="{handler: showBlock}"
             :class="$style.AboutHead"
             class="container">
        <BlockAnimationWrapper :visible="isVisible">
            <h1 class="h3 c-base"
                v-html="title">
            </h1>
        </BlockAnimationWrapper>

        <BlockAnimationWrapper :class="$style.tabs"
                               :visible="isVisible"
                               :delay=".2">
            <VTabs>
                <VTab link="/about/"
                      :active="activeTab === 'about-index'">
                    Описание
                </VTab>
                <VTab link="/about/vacancy/"
                      :active="activeTab === 'about-index-vacancy'">
                    Вакансии
                </VTab>
                <VTab link="/about/partners/"
                      :active="activeTab === 'about-index-partners'">
                    Партнерам
                </VTab>
            </VTabs>
        </BlockAnimationWrapper>
    </section>
</template>

<script>
    import {blockAimate} from '../../../assets/js/mixins/blockAnimate';

    /* components */
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import BlockAnimationWrapper from '../../common/BlockAnimationWrapper';

    export default {
        name: 'AboutHead',

        components: {
            BlockAnimationWrapper,
            VTab,
            VTabs,
        },

        mixins: [
            blockAimate,
        ],

        props: {
            title: {
                type: String,
                default: '',
            },

            activeTab: {
                type: String,
                default: '',
            },
        },
    };
</script>

<style lang="scss" module>
    .AboutHead {
        padding-top: 8rem;
        padding-bottom: 8rem;
        overflow: hidden;

        @include respond-to(sm) {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 40px;
        }
    }

    .tabs {
        margin-top: 3.2rem;

        @include respond-to(sm) {
            margin-top: 24px;
        }

        @include respond-to(xs) {
            margin-left: -16px;
            margin-right: -16px;
        }
    }
</style>
