<template>
    <div :class="$style.FormCard">
        <transition name="fade"
                    mode="out-in">
            <div v-if="!isResult"
                 :key="'body'"
                 :class="$style.body">
                <h2 :class="$style.label"
                    class="label"
                    v-html="data.title">
                </h2>
                <p :class="$style.subtitle"
                   class="subtitle1 c-base"
                   v-html="data.subtitle">
                </p>
                <p :class="$style.description"
                   class="p2"
                   v-html="data.description">
                </p>
                <form :class="$style.form"
                      novalidate
                      @submit.prevent="handleSubmit"
                >
                    <div :class="$style.input">
                        <VInput
                            v-model="email"
                            type="email"
                            label="Email"
                            :error="errors.email"
                        />
                        <FormHint v-if="errors.email">
                            {{ errors.email }}
                        </FormHint>
                    </div>
                    <p :class="$style.policy"
                       class="caption">
                        Нажимая на кнопку, вы принимаете
                        <a :href="docFile"
                           target="_blank">
                            политику конфиденциальности
                        </a>
                        и даете согласие на обработку персональных данных
                    </p>

                    <VButton :class="$style.btn"
                             type="submit">
                        {{ data.buttonText || 'Отправить' }}
                    </VButton>
                </form>
            </div>

            <div v-else
                 :key="'result'"
                 :class="$style.result">
                <div :class="$style.resultTitle"
                     class="title h4">
                    <span>
                        {{ state === 'error' ? 'Ошибка' : 'Успешно' }}
                    </span>

                    <IconError
                        v-if="state === 'error'"
                        :class="$style.icon"
                    />

                    <IconSuccess
                        v-else
                        :class="$style.icon"
                    />
                </div>

                <p :class="$style.text"
                   class="p1 text">
                    <template v-if="state === 'error'">
                        Произошла ошибка на стороне сервера, <br>
                        попробуйте еще раз.
                    </template>

                    <template v-else>
                        Вы будете получать письма <br>
                        об акциях и новостях Страны.
                    </template>
                </p>

                <VButton v-if="state === 'error'"
                         :class="$style.resultBtn"
                         @click.prevent="handleResultButtonClick">
                    Отправить еще раз
                </VButton>
            </div>
        </transition>
    </div>
</template>

<script>
    /* queries */
    import newsletterSubscription from '../../../queries/requests/newsletterSubscription.graphql';
    import allOffersDocument from '../../../queries/allOffersDocument.graphql';

    /* components */
    import VInput from '../../ui/input/VInput';
    import FormHint from './FormHint';
    import VButton from '../../ui/button/VButton';
    import IconSuccess from '../../icons/IconSuccess';
    import IconError from '../../icons/IconError';

    export default {
        name: 'FormCard',

        components: {
            VButton,
            FormHint,
            VInput,
            IconSuccess,
            IconError,
        },

        props: {
            city: {
                type: String,
                default: '',
            },

            type: {
                type: String,
                default: '',
            },
        },

        async fetch() {
            const res = await this.$axios.$post('/graphql/', {
                query: allOffersDocument.loc.source.body,
                variables: {
                    cities: this.city || this.activeCityId,
                },
            });

            this.docs = res.data?.allOffersDocument?.edges?.length
                ? res.data.allOffersDocument.edges.map(doc => doc.node)
                : [];
        },

        data() {
            return {
                isResult: false,
                state: 'success',
                email: '',
                errors: {
                    email: '',
                },
                docs: [],
            };
        },

        computed: {
            data() {
                switch (this.type) {
                    case 'subscribe':
                        return {
                            title: 'Рассылка',
                            subtitle: 'Подпишитесь<br>на расссылку блога',
                            description: 'Получайте ежемесячную информацию о акциях, видео и фото прямо на почту',
                            buttonText: 'Подписаться',
                        };
                    case 'help':
                        return {
                            title: 'Помощь менеджера',
                            subtitle: 'Не можете определиться?',
                            description: 'Наш менеджер поможет вам подобрать квартиру по оптимальным условиям',
                        };
                }

                return {};
            },

            docFile() {
                return this.docs?.length ? this.docs[0].file : '';
            },
        },

        watch: {
            city() {
                this.$fetch();
            },
        },

        methods: {
            async handleSubmit() {
                if (!this.validate()) {
                    return;
                }

                try {
                    const res = await this.$axios.$post('/graphql/', {
                        query: newsletterSubscription.loc.source.body,
                        variables: {
                            input: {
                                email: this.email,
                            },
                        },
                    });

                    if (res.data.newsletterSubscription?.errors?.length) {
                        res.data.newsletterSubscription.errors.forEach(er => {
                            this.errors[er.field] = er.messages[0];
                        });

                        return;
                    }

                    if (res.data?.newsletterSubscription?.ok) {
                        this.isResult = true;
                        this.state = 'success';
                    } else {
                        this.isResult = true;
                        this.state = 'error';
                        console.warn('FormCard/handleSubmit: Запрос успешен, но не удалось отправить запрос');
                    }
                } catch (e) {
                    this.isResult = true;
                    this.state = 'error';
                    console.warn('FormCard/handleSubmit: Не удалось отправить запрос', e);
                }
            },

            validate() {
                let isValidated = true;

                if (!this.email) {
                    this.errors.email = 'Поле эл. почты не может быть пустым';
                    isValidated = false;
                } else if (!/^\S+@\S+$/.test(this.email)) {
                    this.errors.email = 'Эл. почта введена неверно';
                    isValidated = false;
                }

                return isValidated;
            },

            handleResultButtonClick() {
                this.isResult = false;
            },
        },
    };
</script>

<style lang="scss" module>
    .FormCard {
        width: 100%;
        height: 100%;
        padding: 5.2rem 5.6rem;
        background-color: $milk;

        @include respond-to(sm) {
            padding: 40px;
        }

        @include respond-to(xs) {
            padding: 24px 16px;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .subtitle {
        margin-top: .8rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 1.6rem;

        @include respond-to(sm) {
            margin-top: 10px;
        }
    }

    .input {
        position: relative;
        margin-bottom: 2.4rem;
    }

    .policy,
    .label {
        color: $base-200;

        a {
            color: $secondary-300;
        }
    }

    .description {
        margin-top: 3.2rem;

        @include respond-to(sm) {
            margin-top: 24px;
        }
    }

    .btn {
        margin-top: auto;
    }

    .resultTitle {
        position: relative;
        display: flex;
        margin-bottom: 2.4rem;
        color: $base-500;
        text-align: center;

        @include respond-to(xs) {
            margin-bottom: 16px;
        }
    }

    .text {
        text-align: center;

        @include respond-to(xs) {
            font-size: 12px;
        }
    }

    .icon {
        position: absolute;
        top: -2.5rem;
        right: -5.2rem;
        width: 8.3rem;
        height: 7.2rem;

        @include respond-to(xs) {
            top: -32px;
            right: -48px;
        }
    }

    .resultBtn {
        margin-top: 4.8rem;

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }
</style>
