<template>
    <span :class="$style.FormHint">
        <slot></slot>
    </span>
</template>

<script>
    export default {
        name: 'FormHint',
    };
</script>

<style lang="scss" module>
    .FormHint {
        position: absolute;
        display: inline-block;
        padding-top: .5rem;
        font-size: 1rem;
        line-height: 1;
        color: $redline;
    }
</style>
