<template>
    <component :is="component"
               :target="card.link ? '_blank' : null"
               :href="card.linkUrl"
               :class="$style.PartnersCard"
               @click="handleCardClick">
        <h2 :class="$style.title">
            <span v-html="card.title">
            </span>
            <span v-if="card.subtitle"
                  :class="$style.subtitle"
                  v-html="card.subtitle">
            </span>
        </h2>

        <p :class="$style.link">
            <span v-html="card.linkText">
            </span>
            <IconAway
                v-if="card.linkUrl"
                :class="$style.icon"
            />
        </p>

        <span :class="$style.circle">
            <IconPlus
                class="frame-icon"
                :class="$style.iconPlus"
            />
            <IconArrowLeft
                class="frame-icon"
                :class="$style.iconArrow"
            />
        </span>
    </component>
</template>

<script>
    import IconAway from '../../../icons/IconAway';
    import IconPlus from '../../../icons/IconPlus';
    import IconArrowLeft from '../../../icons/IconArrowLeft';
    import PartnersModal from '@/components/layout/modals/PartnersModal';
    import RequestFormModal from '@/components/layout/modals/RequestFormModal';
    import AgentForm from '@/components/common/forms/AgentForm';
    import ContractorForm from '@/components/common/forms/ContractorForm';

    export default {
        name: 'PartnersCard',

        components: {
            IconArrowLeft,
            IconPlus,
            IconAway,
        },

        props: {
            card: {
                type: Object,
                default: () => ({}),
            },
        },

        computed: {
            component() {
                return this.card.linkUrl ? 'a' : 'div';
            },
        },

        methods: {
            handleCardClick() {
                if (this.component === 'div') {
                    switch (this.card.blockType) {
                        case 'AGENT':
                            this.$modal.open(RequestFormModal, {
                                title: 'Оставить заявку',
                                subtitle: 'Менеджер свяжется с вами в ближайшее время',
                                form: AgentForm,
                                yandexMetrika: 'agent-partners',
                            });
                            break;
                        case 'SALE_PLOT':
                            this.$modal.open(PartnersModal, {
                                classList: 'is-article',
                            });
                            break;
                        case 'CONTRACTOR':
                            this.$modal.open(RequestFormModal, {
                                title: 'Оставить заявку',
                                subtitle: 'Менеджер свяжется с вами в ближайшее время',
                                form: ContractorForm,
                                yandexMetrika: 'builder-partners',
                            });
                            break;
                    }
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .PartnersCard {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 32rem;
        padding: 5.2rem 5.6rem;
        background-color: $milk;
        cursor: pointer;
        transition: background-color $default-transition;

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    background-color: $base-500;

                    .title {
                        color: $milk;
                    }

                    .subtitle {
                        color: $base-200;
                    }

                    .circle:before {
                        background-color: $milk;
                    }
                }
            }
        }

        @include respond-to(sm) {
            height: 386px;
            padding: $side-padding-tablet;
        }

        @include respond-to(xs) {
            height: auto;
            padding: 24px 0;
            background-color: transparent;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        font-size: 2.4rem;
        line-height: 1.32;
        font-weight: 500;
        color: $base-500;

        span {
            transition: color $default-transition;
        }

        @include respond-to(sm) {
            display: block;
        }

        @include respond-to(xs) {
            padding-right: 32px;
            font-size: 16px;
            line-height: 1.52;
        }
    }

    .link {
        display: flex;
        align-items: center;
        margin-top: auto;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.36;
        color: $base-200;

        @include respond-to(sm) {
            margin-top: 16px;
            font-size: 16px;
            line-height: 1.52;
        }

        @include respond-to(xs) {
            margin-top: 8px;
            font-size: 14px;
            line-height: 1.46;
            font-weight: normal;
        }
    }

    .icon {
        margin-left: 1.2rem;
        margin-bottom: .3rem;
        width: 1.8rem;
        height: 1.8rem;
        fill: currentColor;

        @include respond-to(xs) {
            margin-left: 8px;
        }
    }

    .circle {
        position: absolute;
        bottom: 5.2rem;
        right: 5.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        color: $base-500;

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background-color: rgba($base-100, .4);
            transform: translate(-50%, -50%) translateZ(0);
            box-sizing: border-box;
            transition: transform .4s $bezier, background-color $default-transition;
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    &:before {
                        transform: translate(-50%, -50%) translateZ(0) scale(1.16);
                    }
                }
            }
        }

        @include respond-to(sm) {
            position: static;
            margin-top: auto;
        }

        @include respond-to(xs) {
            position: absolute;
            right: 0;
            bottom: auto;
            top: 24px;
            width: 20px;
            height: 20px;
        }
    }

    .iconPlus {
        position: relative;
        z-index: 2;

        @include respond-to(xs) {
            display: none;
        }
    }

    .iconArrow {
        display: none;

        @include respond-to(xs) {
            flex-shrink: 0;
            display: block;
        }
    }
</style>
