<template>
    <div :class="$style.AboutPage">
        <AboutDescription
            :accent="aboutPage.offices"
            :info="aboutPage.description"
            :description-accent="aboutPage.text1"
            :description="aboutPage.text2"
        />

        <AboutInfo
            :image="aboutPage.imageDisplay"
            :preview="aboutPage.imagePreview"
            :info="aboutPage.achievementSet"
        />

        <MapBlock
            :cities="mapCities"
            :map-texts="aboutPage.mapTexts"
        />

        <ActionBlock
            :class="$style.action"
            link-text="Оставить заявку"
            text="на продажу земельного участка"
            label="Заявка занимает около 5 минут."
            :on-click="onOpenPartnerModal"
        />

        <Advantages
            :first-image="aboutPage.ideologyImageOneDisplay"
            :first-image-preview="aboutPage.ideologyImageOnePreview"
            :second-image="aboutPage.ideologyImageTwoDisplay"
            :second-image-preview="aboutPage.ideologyImageTwoPreview"
            :first-link="aboutPage.ideologyVideoOne"
            :second-link="aboutPage.ideologyVideoTwo"
            :lead="aboutPage.ideologyText"
            :text="aboutPage.ideologyDescription"
            card-image-field-name="imageDisplay"
            card-preview-image-field-name="imagePreview"
            :list="aboutPage.ideologycardSet"
        />

        <AboutCompany
            v-if="aboutPage.ideologysliderSet.length"
            :slides="aboutPage.ideologysliderSet"
        />

        <PartnersGallery
            v-if="partners.length"
            :partners="partners"
        />

        <ActionBlock
            link-text="Напишите письмо директору,"
            text="нам важно ваше мнение"
            :on-click="onOpenDirectorModal"
        />

        <ContactItem
            v-for="contact in contacts"
            :key="contact.id"
            :class="$style.row"
            :item="contact"
        />

        <Callback />
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    /* queries */
    import aboutPage from '../../../queries/about/aboutPage.graphql';
    import allOffices from '../../../queries/contacts/allOffices.graphql';

    /* components */
    import AboutInfo from '../../../components/pages/about/AboutInfo';
    import MapBlock from '../../../components/common/MapBlock';
    import Advantages from '../../../components/common/advantages/Advantages';
    import ActionBlock from '../../../components/common/ActionBlock';
    import Callback from '../../../components/common/callback/Callback';
    import ContactItem from '../../../components/pages/contacts/ContactItem';
    import PartnersGallery from '../../../components/common/PartnersGallery';
    import AboutCompany from '../../../components/pages/about/AboutCompany';
    import AboutDescription from '../../../components/pages/about/AboutDescription';
    import RequestFormModal from '@/components/layout/modals/RequestFormModal';
    import DirectorForm from '@/components/common/forms/DirectorForm';
    import PartnersModal from '@/components/layout/modals/PartnersModal';

    export default {
        name: 'AboutPage',

        components: {
            AboutDescription,
            AboutCompany,
            PartnersGallery,
            ContactItem,
            Callback,
            ActionBlock,
            Advantages,
            MapBlock,
            AboutInfo,
        },

        async asyncData({$axios, store}) {
            const activeCityId = store.getters.getActiveCityId;

            const [aboutPageRes, allOfficesRes] = await Promise.all([
                $axios.$post('/graphql/', {
                    query: aboutPage.loc.source.body,
                }),

                $axios.$post('/graphql/', {
                    query: allOffices.loc.source.body,
                    variables: {
                        city: activeCityId,
                        isCentral: true
                    }
                }),
            ]);

            return {
                aboutPage: aboutPageRes?.data?.aboutPage || {},
                contacts: allOfficesRes?.data?.allOffices?.edges?.length
                    ? allOfficesRes.data.allOffices.edges.map(item => item.node)
                    : [],
                partners: aboutPageRes?.data?.aboutPage?.largetenantSet?.length ? aboutPageRes.data.aboutPage.largetenantSet : [],
            };
        },

        data() {
            return {
                aboutPage: {},
                mapTexts: [
                    {
                        text: 'В наших домах живут более',
                        redText: '100 000 людей',
                    },
                ],
                ideologyButtonText: 'Подробнее',
                ideologyButtonLink: '/',
                contacts: [],
                partners: [],
            };
        },

        head() {
            return {
                title: 'О «Страна Девелопмент»',
                meta: [
                    {
                        hid: 'description',
                        name: 'description',
                        content: '«Страна Девелопмент» — надежная, динамично развивающаяся девелоперская компания полного цикла, реализующая крупные проекты в сфере жилой и коммерческой недвижимости на территории России.',
                    },
                    {
                        hid: 'keywords',
                        name: 'keywords',
                        content: 'страна девелопмент, тюмень, екатеринбург, москва, санкт-петербург, история, проекты',
                    },
                ],
            };
        },

        computed: {
            ...mapState({
                mapCities: state => state.cities
            }),
        },

        methods: {
            onOpenPartnerModal() {
                this.$modal.open(PartnersModal, {
                    classList: 'is-article',
                });
            },

            onOpenDirectorModal() {
                this.$modal.open(RequestFormModal, {
                    title: 'Письмо директору',
                    subtitle: 'Нам важно ваше мнение',
                    form: DirectorForm,
                    yandexMetrika: 'lead-director'
                });
            }
        }
    };
</script>

<style lang="scss" module>
    .AboutPage {
        //
    }

    .action {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($milk, .16);

            @include respond-to(sm) {
                width: 68%;
            }

            @include respond-to(xs) {
                width: 100%;
            }
        }
    }

    .row {
        &:not(:last-child) {
            border-bottom: 1px solid $base-100;
        }
    }
</style>
