<template>
    <section :class="$style.HomeFilter"
             class="container">
        <MainSelect
            :title="$mq === 'xs' ? 'Проекты' : 'Квартиры'"
            title-tag="h2"
            :value="values.city"
            :options="[{value: '', label: 'во всех городах'}, ...selectSpecs]"
            @change="onValuesChange({city: $event})"
        />

        <div :class="$style.container">
            <FilterContainer :class="$style.cell"
                             label="Проект">
                <SelectFilter
                    :value="values.project"
                    :facet="facets.project"
                    :spec="specs.project && specs.project.length ? [{value: '', label: 'Любой'}, ...specs.project] : [{value: '', label: 'Любой'}]"
                    @change="onValuesChange({project: $event})"
                />
            </FilterContainer>

            <FilterContainer :class="$style.cell"
                             label="Комнат">
                <ButtonFilter
                    :spec="specs.rooms"
                    :facet="facets.rooms"
                    :value="values.rooms"
                    @change="onValuesChange({rooms: $event})"
                />
            </FilterContainer>

            <FilterContainer :class="$style.cell"
                             label="Стоимость, &#8381;">
                <RangeFilter
                    :facet="facets.price"
                    :spec="specs.price"
                    :value-min="values.priceMin"
                    :value-max="values.priceMax"
                    @change="onValuesChange({priceMin: $event[0], priceMax: $event[1]})"
                />
            </FilterContainer>

            <FilterContainer :class="$style.cell"
                             label="Площадь, м<sup>2</sup>">
                <RangeFilter
                    :facet="facets.area"
                    :spec="specs.area"
                    :value-min="values.areaMin"
                    :value-max="values.areaMax"
                    @change="onValuesChange({areaMin: $event[0], areaMax: $event[1]})"
                />
            </FilterContainer>
        </div>

        <div :class="$style.wrapper">
            <div :class="$style.checkboxes">
                <VCheckbox :class="$style.checkbox"
                           :value="values.action"
                           :disabled="facets.action && !facets.action.includes('true')"
                           @input="onValuesChange({action: $event})">
                    Акция
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.facing"
                           :disabled="facets.facing && !facets.facing.includes('true')"
                           @input="onValuesChange({facing: $event})">
                    С отделкой
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasParking"
                           :disabled="facets.hasParking && !facets.hasParking.includes('true')"
                           @input="onValuesChange({hasParking: $event})">
                    С машиноместом
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasView"
                           :disabled="facets.hasView && !facets.hasView.includes('true')"
                           @input="onValuesChange({hasView: $event})">
                    Видовая
                </VCheckbox>

                <VCheckbox :class="$style.checkbox"
                           :value="values.hasTerrace"
                           :disabled="facets.hasTerrace && !facets.hasTerrace.includes('true')"
                           @input="onValuesChange({hasTerrace: $event})">
                    С террасой
                </VCheckbox>
            </div>
            <div :class="$style.mapBtn">
                <VButton :class="$style.btn"
                         color="vice"
                         @click="handleMapOpen">
                    Смотреть на карте
                </VButton>
            </div>

            <VButton :class="$style.btn"
                     @click="handleFilterBtnClick">
                <span v-if=" $mq === 'xs'">
                    Выбрать квартиру
                </span>
                <span v-else-if="count">
                    Показать {{ count }} {{ count|plural(['квартиру', 'квартиры', 'квартир']) }}
                </span>
                <span v-else>
                    Нет квартир
                </span>
            </VButton>
        </div>
    </section>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    import {convertToObject} from '../../../assets/js/utils/commonUtils';

    /* queries */
    import allGlobalFlatsSpecs from '../../../queries/flats/allGlobalFlatsSpecs.graphql';
    import allGlobalFlatsFacets from '../../../queries/flats/allGlobalFlatsFacets.graphql';

    /* components */
    import FilterContainer from '../../filters/FilterContainer';
    import SelectFilter from '../../filters/SelectFilter';
    import ButtonFilter from '../../filters/ButtonFilter';
    import RangeFilter from '../../filters/RangeFilter';
    import VButton from '../../ui/button/VButton';
    import VCheckbox from '../../ui/checkbox/VCheckbox';
    import MapModal from '../../layout/modals/MapModal';
    import MainSelect from '../../common/MainSelect';

    const defaultValues = {
        priceMin: '',
        priceMax: '',
        areaMin: '',
        areaMax: '',
        building: [],
        project: [],
        rooms: [],
        facing: '',
        action: '',
        hasView: '',
        hasTerrace: '',
        hasParking: '',
        city: '',
    };

    export default {
        name: 'HomeFilter',

        components: {
            MainSelect,
            VCheckbox,
            VButton,
            RangeFilter,
            ButtonFilter,
            SelectFilter,
            FilterContainer,
        },

        async fetch() {
            try {
                const [specsRes, facetsRes] = await Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: allGlobalFlatsSpecs.loc.source.body,
                    }, {
                        progress: false,
                    }),
                    this.$axios.$post('/graphql/', {
                        query: allGlobalFlatsFacets.loc.source.body,
                        variables: {city: this.activeCityId},
                    }, {
                        progress: false,
                    }),
                ]);

                this.specs = await convertToObject(specsRes.data.allGlobalFlatsSpecs);

                let facets = convertToObject(facetsRes.data.allGlobalFlatsFacets.facets);
                let count = facetsRes.data?.allGlobalFlatsFacets?.count;

                let cityValue = this.activeCityId;

                if (facets.city && !facets.city.includes(cityValue)) {
                    cityValue = '';
                    const facetsRes = await this.$axios.$post('/graphql/', {
                        query: allGlobalFlatsFacets.loc.source.body,
                    }, {
                        progress: false,
                    });

                    facets = convertToObject(facetsRes.data.allGlobalFlatsFacets.facets);
                    count = facetsRes.data?.allGlobalFlatsFacets?.count;
                }

                this.values = {...this.values, ...{city: cityValue}};
                this.facets = facets;
                this.count = count;
            } catch (e) {
                console.log('fetch HomeFilter', e);
            }
        },

        data() {
            return {
                facets: {},
                specs: {},

                values: {...defaultValues},

                count: 0,
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),

            selectCities() {
                return this.cities.map(city => ({
                    ...city,
                    ...{
                        label: city.name,
                        value: city.id,
                    },
                }));
            },

            selectSpecs() {
                return this.$mq === 'xs'
                    ? this.selectCities
                    : this.specs.city ? this.specs.city : [];
            },
        },

        methods: {
            handleFilterBtnClick() {
                if (this.$mq === 'xs') {
                    this.$router.push('/flats/');
                } else {
                    const query = {};
                    Object.keys(this.values).forEach(key => {
                        if (Array.isArray(this.values[key])) {
                            if (this.values[key].length) {
                                query[key] = this.values[key];
                            }
                        } else if (this.values[key] !== '' && this.values[key] !== null) {
                            query[key] = this.values[key];
                        }
                    });
                    this.$router.push({path: 'flats', query: query});
                }
            },

            handleMapOpen() {
                this.$modal.open(MapModal, {
                    cities: this.cities,
                    filteredCity: this.values.city,
                });
            },

            fetchFacets() {
                return this.$axios.$post('/graphql/', {
                    query: allGlobalFlatsFacets.loc.source.body,
                    variables: this.values,
                }, {
                    progress: false,
                });
            },

            async updateFacets() {
                const res = await this.fetchFacets();
                this.facets = convertToObject(res.data.allGlobalFlatsFacets.facets);
                this.count = res.data.allGlobalFlatsFacets.count;
            },

            onValuesChange(val) {
                this.values = {...this.values, ...val};
                if (this.$mq === 'xs') {
                    return;
                }
                this.updateFacets();
            },
        },
    };
</script>

<style lang="scss" module>
    .HomeFilter {
        padding-top: 8rem;
        padding-bottom: 8rem;

        @include respond-to(sm) {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        @include respond-to(xs) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .container {
        display: flex;
        margin: 4.8rem -2rem 0;

        @include respond-to(sm) {
            flex-wrap: wrap;
            margin: 20px -20px 0;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .cell {
        width: 25%;
        padding: 0 2rem;

        @include respond-to(sm) {
            width: 50%;
            padding: 20px;
        }
    }

    .euro {
        margin-left: 1.6rem;
    }

    .wrapper {
        display: flex;
        align-items: center;
        margin-top: 2.7rem;

        @include respond-to(sm) {
            flex-wrap: wrap;
            margin-top: 28px;
        }

        @include respond-to(xs) {
            margin-top: 24px;
        }
    }

    .mapBtn {
        display: none;

        @include respond-to(sm) {
            display: inline-flex;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-bottom: 16px;
        }
    }

    .btn {
        width: 30.2rem;
        margin-left: auto;

        @include respond-to(sm) {
            width: 325px;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }

    .checkboxes {
        margin: 0 -3.4rem;

        @include respond-to(sm) {
            display: flex;
            margin: 0 -9px 40px;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .checkbox {
        padding: 0 3.2rem;

        @include respond-to(sm) {
            padding: 0 9px;
        }
    }
</style>
