<template>
    <div :class="$style.HomeProjects">
        <div v-if="projects.length"
             :class="$style.list">
            <div v-for="item in list"
                 :key="item.id"
                 :class="[$style.card, {[$style._more]: item.type === 'more'}]">
                <MoreCard v-if="item.type === 'more'"
                          :class="$style.more"
                          @click="onOpenMap">
                    <template #icon>
                        <IconPinLarge class="frame-icon is-large" />
                    </template>
                    <template #label>
                        Смотреть на карте
                    </template>
                </MoreCard>
                <PromoCard
                    v-else-if="item.type === 'promo'"
                    :card="item"
                />
                <ProjectCard
                    v-else
                    apply-project-class
                    :project="item"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';

    /* queries*/
    import allProjects from '../../../queries/allProjects.graphql';
    import allNews from '../../../queries/allNews.graphql';

    /* components */
    import ProjectCard from '../../common/ProjectCard';
    import MoreCard from '../../common/MoreCard';
    import IconPinLarge from '../../icons/IconPinLarge';
    import PromoCard from '../../common/promo/PromoCard';
    import MapModal from '../../layout/modals/MapModal';

    export default {
        name: 'HomeProjects',

        components: {
            PromoCard,
            IconPinLarge,
            MoreCard,
            ProjectCard,
        },

        async fetch() {
            try {
                const [projectsRes, promoRes] = await Promise.all([
                    this.$axios.$post('/graphql/', {
                        query: allProjects.loc.source.body,
                        variables: {
                            kind: 'residential',
                        },
                    }, {
                        progress: false,
                    }),
                    this.$axios.$post('/graphql/', {
                        query: allNews.loc.source.body,
                        variables: {
                            type: ['action'],
                            first: 3,
                            projectsCity: this.activeCityId ? this.activeCityId : '',
                        },
                    }, {
                        progress: false,
                    }),
                ]);

                this.projects = projectsRes?.data?.allProjects?.edges.length ? projectsRes.data.allProjects.edges.map(item => item.node) : [];
                this.promo = promoRes?.data?.allNews?.edges.length ? promoRes.data.allNews.edges.map(item => item.node) : [];

                this.prepareContent();
            } catch (e) {
                console.log('[ProjectProgress / fetch]', e);
            }
        },

        data() {
            return {
                projects: [],
                list: [],
                promo: [],
            };
        },

        computed: {
            ...mapState({
                cities: state => state.cities,
            }),

            ...mapGetters({
                activeCityId: 'getActiveCityId',
            }),

            preparedPromo() {
                return this.promo.map(item => ({
                    ...item,
                    ...{type: 'promo'},
                }));
            },

            firstPromo() {
                return {...this.promo[0], ...{type: 'promo'}};
            },
        },

        watch: {
            $mq: function() {
                this.prepareContent();
            },
        },

        methods: {
            prepareContent() {
                this.list = this.projects.slice();

                switch (this.$mq) {
                    case 'xs':
                        break;
                    case 'sm':
                        if (this.projects.length % 2 !== 0) {
                            this.list.push(this.firstPromo);
                        }
                        break;
                    case 'xl':
                        if (this.projects.length % 4 === 0) {
                            this.addPromo(3);
                        } else if (this.projects.length !== 3) {
                            if (this.projects.length % 2 === 0) {
                                this.addPromo(1);
                            } else {
                                this.addPromo(2);
                            }
                        }
                        break;
                    default:
                        if (this.projects.length === 1) {
                            this.list.push(this.firstPromo);
                            break;
                        }
                        if (this.projects.length % 3 === 0) {
                            this.addPromo(2);
                        } else if (this.projects.length !== 2 && (this.projects.length - 1) % 2 !== 0) {
                            this.addPromo(1);
                        }
                        break;
                }
                this.list.push({type: 'more', id: 'more'});
            },

            addPromo(promoCount) {
                for (let i = 0; i < promoCount; i++) {
                    if (this.preparedPromo[i]) {
                        this.list.splice(Math.random() * 10, 0, this.preparedPromo[i]);
                    }
                }
            },

            onOpenMap() {
                this.$modal.open(MapModal, {
                    cities: this.cities,
                    filteredCity: this.activeCityId,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .HomeProjects {
        overflow: hidden;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1px;
    }

    .card {
        position: relative;
        display: flex;
        width: 25%;
        min-height: 56rem;

        @include respond-to(lg) {
            width: 33.3333%;
        }

        @include respond-to(sm) {
            width: 50%;
            min-height: 490px;
        }

        @include respond-to(xs) {
            width: 100%;
            min-height: auto;
        }

        &:not(._more) {
            outline: 1px solid $base-100;
        }

        &._more {
            @include respond-to(sm) {
                display: none;
            }
        }
    }
</style>
