<template>
    <div :class="$style.BuildingTooltip">
        <template v-if="type === 'building'">
            <h3 :class="$style.name"
                class="subtitle3"
                v-html="object.nameDisplay">
            </h3>
        </template>
        <template v-else>
            <h3 :class="$style.name"
                class="subtitle3">
                <span>{{ object.number }} этаж,</span>
                <span>{{ object.section.number }} секция</span>
            </h3>
        </template>

        <p :class="$style.info">
            <span :class="$style.completion">
                {{ completion }}
            </span>
            <span v-if="progress"
                  :class="$style.progress">
                {{ progress }}%
            </span>
        </p>

        <p v-if="progress"
           :class="$style.progressWrap">
            <span :class="$style.progressLine"
                  :style="{width: `${progress}%`}">
            </span>
        </p>

        <p v-if="object.flatsCount"
           :class="$style.count">
            {{ object.flatsCount }} {{ object.flatsCount|plural(pluralFlatCountArr) }}
        </p>
        <p v-else-if="!object.flatsCount"
           :class="$style.count">
            {{ emptyLabel }}
        </p>

        <ul v-if="object.flatsCount"
            :class="$style.flats">
            <li v-if="object.flats0MinPrice && object.flats0MinPrice.length"
                :class="$style.item">
                <span :class="$style.label">
                    {{ object.flatsCount > 1 ? 'Студии' : 'Студия' }}
                </span>
                <span :class="$style.value">
                    {{ object.flats0MinPrice|splitThousands }} &#8381;
                </span>
            </li>

            <li v-if="object.flats1MinPrice && object.flats1MinPrice.length"
                :class="$style.item">
                <span :class="$style.label">
                    {{ object.flatsCount > 1 ? '1-комнатные' : '1-комнатная' }}
                </span>
                <span :class="$style.value">
                    {{ object.flats1MinPrice|splitThousands }} &#8381;
                </span>
            </li>

            <li v-if="object.flats2MinPrice && object.flats2MinPrice.length"
                :class="$style.item">
                <span :class="$style.label">
                    {{ object.flatsCount > 1 ? '2-комнатные' : '2-комнатная' }}
                </span>
                <span :class="$style.value">
                    {{ object.flats2MinPrice|splitThousands }} &#8381;
                </span>
            </li>

            <li v-if="object.flats3MinPrice && object.flats3MinPrice.length"
                :class="$style.item">
                <span :class="$style.label">
                    {{ object.flatsCount > 1 ? '3-комнатные' : '3-комнатная' }}
                </span>
                <span :class="$style.value">
                    {{ object.flats3MinPrice|splitThousands }} &#8381;
                </span>
            </li>

            <li v-if="object.flats4MinPrice && object.flats4MinPrice.length"
                :class="$style.item">
                <span :class="$style.label">
                    {{ object.flatsCount > 1 ? '4-комнатные' : '4-комнатная' }}
                </span>
                <span :class="$style.value">
                    {{ object.flats4MinPrice|splitThousands }} &#8381;
                </span>
            </li>
        </ul>
    </div>
</template>

<script>
    import {prettyCompletion} from '../../../../../assets/js/utils/commonUtils';

    export default {
        name: 'BuildingTooltip',

        props: {
            object: {
                type: Object,
                default: () => ({}),
            },

            type: {
                type: String,
                default: 'building',
            },
        },

        computed: {
            progress() {
                if (this.object?.building?.currentLevel) {
                    return this.object?.building?.currentLevel;
                } else if (this.object?.section?.building?.currentLevel) {
                    return this.object?.section?.building?.currentLevel;
                } else if (this.object?.currentLevel) {
                    return this.object?.currentLevel;
                }
                return null;
            },

            completion() {
                const year = this.object.section?.building?.builtYear ? this.object.section.building.builtYear : this.object.builtYear;
                const quarter = this.object.section?.building?.readyQuarter ? this.object.section.building.readyQuarter : this.object.readyQuarter;
                const label = this.object.kind === 'PARKING' ? 'Срок сдачи' : 'Ключи в';
                return prettyCompletion(quarter, year, label);
            },

            pluralFlatCountArr() {
                return this.object.kind === 'PARKING' ? ['машиноместо', 'машиноместа', 'машиномест'] : ['квартира', 'квартиры', 'квартир'];
            },

            emptyLabel() {
                return this.object.kind === 'PARKING' ? 'нет машиномест в продаже' : 'нет квартир в продаже';
            },
        },
    };
</script>

<style lang="scss" module>
    .BuildingTooltip {
        width: 25.6rem;
        padding: 2.4rem;
        background-color: $milk;
        border-radius: 1.6rem;
    }

    .subtitle {
        font-size: 1.2rem;
        line-height: 1.04;
        color: $base-200;
    }

    .name {
        margin-top: .2rem;
        color: $base-500;

        & :last-child {
            color: $base-300;
        }
    }

    .info {
        display: flex;
        align-items: center;
        margin-top: 1.6rem;
    }

    .completion {
        margin-right: auto;
        line-height: 1.16;
        font-weight: 500;
        color: $base-500;
    }

    .progress {
        font-size: 1.4rem;
        line-height: 1.16;
        color: $base-300;
    }

    .progressWrap {
        position: relative;
        width: 100%;
        height: 4px;
        margin-top: 1.6rem;
        border-radius: 4px;
        background-color: $base-100;
    }

    .progressLine {
        position: absolute;
        height: 100%;
        border-radius: 4px;
        background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
    }

    .count {
        padding-top: 2.4rem;
        margin-top: 2.4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.52;
        color: $base-500;
        border-top: 1px solid $base-100;
    }

    .flats {
        margin: 1rem 0 -1.6rem;
    }

    .item {
        display: flex;
        justify-content: space-between;
        padding: .6rem 0;
    }

    .label {
        font-size: 1.4rem;
        line-height: 1.46;
        font-weight: 500;
        color: $base-400;
    }

    .value {
        font-size: 1.4rem;
        line-height: 1.46;
        font-weight: 500;
        color: $base-500;
    }
</style>
