<template>
    <div :class="[$style.BuildingShield, classes]"
         :style="position">
        <IconParking
            v-if="kind === 'PARKING'"
            class="frame-icon is-default"
        />
        <IconPlus
            v-else
            class="frame-icon"
        />
    </div>
</template>

<script>
    import IconPlus from '../../../../icons/IconPlus';
    import IconParking from '../../../../icons/IconParking';

    export default {
        name: 'BuildingShield',

        components: {
            IconParking,
            IconPlus,
        },

        props: {
            point: {
                type: String,
                default: '',
            },

            kind: {
                type: String,
                default: '',
            },

            hovered: Boolean,
            hidden: Boolean,

            scaleValue: {
                type: Number,
                default: 1
            }
        },

        computed: {
            position() {
                const arr = this.point.split(',');
                return {top: `${arr[1]}%`, left: `${arr[0]}%`, transform: `scale(${this.scaleValue}) translate(-50%, -50%)`};
            },

            classes() {
                return {
                    [this.$style._parking]: this.kind === 'PARKING',
                    [this.$style._hovered]: this.hovered,
                    [this.$style._hidden]: this.hidden,
                };
            },
        },
    };
</script>

<style lang="scss" module>
    .BuildingShield {
        position: absolute;
        left: -1000px;
        top: -1000px;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        color: $vice;
        pointer-events: none;

        &._parking {
            color: $milk;

            &:before {
                background-color: $blue;
            }
        }

        &._hovered {
            &:before {
                transform: scale(1);
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transform: scale(.5);
            background-color: $milk;
            border-radius: 50%;
            transition: transform .3s linear;
        }

        svg {
            position: relative;
            z-index: 1;
            flex-shrink: 0;
        }
    }
</style>
