<template>
    <div ref="container"
         class="genplan"
         :class="$style.VisualBuildings">
        <div :class="$style.tabs">
            <div :class="$style.tab">
                <div :class="$style.btn"
                     @click="onRealtyTypeChange('RESIDENTIAL')">
                    <VCircleButton tag="span"
                                   color="milk"
                                   size-hover
                                   :outline="realtyType !== 'RESIDENTIAL'"
                                   :size="isMobile ? 'xsmall' : realtyType !== 'LIVING' ? 'tiny' : 'small'">
                        <IconArrowRightLong class="frame-icon" />
                    </VCircleButton>
                </div>
                <span :class="[$style.title, {[$style._active]: realtyType === 'RESIDENTIAL'}]"
                      class="h3">
                    Квартиры
                </span>
            </div>

            <!--<div v-if="hasParking"-->
            <!--:class="$style.tab"-->
            <!--@click="onRealtyTypeChange('PARKING')">-->
            <!--<div :class="$style.btn">-->
            <!--<VCircleButton tag="span"-->
            <!--color="milk"-->
            <!--size-hover-->
            <!--:outline="realtyType !== 'PARKING'"-->
            <!--:size="isMobile ? 'xsmall' : realtyType !== 'PARKING' ? 'tiny' : 'small'">-->
            <!--<IconArrowRightLong class="frame-icon" />-->
            <!--</VCircleButton>-->
            <!--</div>-->
            <!--<span :class="[$style.title, {[$style._active]: realtyType === 'PARKING'}]"-->
            <!--class="h3">-->
            <!--Машиноместа-->
            <!--</span>-->
            <!--</div>-->
        </div>

        <VButton :class="$style.link"
                 :link="`/flats/?project=${projectId}`"
                 @click="$yandexMetrika.reachGoal('selection-by-parameters')">
            Подобрать по параметрам
        </VButton>

        <div ref="parent"
             :class="$style.wrap">
            <div :class="$style.body"
                 :style="position">
                <div :class="$style.preview"
                     :style="{backgroundImage: `url(${genplanPreview})`}">
                    <div ref="wrapper"
                         :class="[$style.imgWrap, {[$style._loaded] : isLoaded}]">

                        <img ref="image"
                             :src="genplanOrigin"
                             :class="$style.origin"
                             alt="Генплан"
                             @load="handleImageLoad">

                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             :class="$style.svg"
                             :viewBox="genplanViewbox">

                            <!-- Градиент -->
                            <linearGradient id="linear-gradient"
                                            gradient-units="objectBoundingBox">
                                <stop offset="0%"
                                      stop-color="#92278f"
                                      stop-opacity="0.72" />
                                <stop offset="58%"
                                      stop-color="#c6168d"
                                      stop-opacity="0.72" />
                                <stop offset="100%"
                                      stop-color="#ed1c24"
                                      stop-opacity="0.72" />
                            </linearGradient>

                            <VisualHover
                                v-for="building in filteredBuildings"
                                :key="building.id"
                                :item="building"
                                :kind="building.kind"
                                :hidden="building.kind !== realtyType"
                                :color="colorClass"
                                @hover-polygon-enter="onHoverEnter"
                                @hover-polygon-move="onHoverMove"
                                @hover-polygon-leave="onHoverLeave"
                                @click.native="handleHoverClick(building)"
                            />
                        </svg>

                        <BuildingShield
                            v-for="building in filteredBuildings"
                            :key="building.id + 1000"
                            :class="[$style.shield]"
                            :kind="building.kind"
                            :point="building.point"
                            :scale-value="scaleValue"
                            :hovered="activeItem && activeItem.id === building.id"
                            :hidden="building.kind !== realtyType"
                        />

                        <VisualMainInfra
                            v-for="item in mainInfra"
                            :key="item.id"
                            :color-class="colorClass"
                            :scale-value="scaleValue"
                            :infra="item"
                        />

                        <VisualInfra
                            v-for="item in infra"
                            :key="item.id"
                            :scale-value="scaleValue"
                            :infra="item"
                        />
                    </div>
                </div>
            </div>
            <transition name="fade"
                        appear>
                <VisualTooltip v-if="activeItem && $device.isDesktop"
                               :top="top"
                               :left="left"
                               :container-data="containerData">
                    <BuildingTooltip :object="activeItem" />
                </VisualTooltip>
            </transition>
        </div>

        <div :class="$style.environment">
            <VisualEnvironment
                v-for="item in environment"
                :key="item.id"
                :item="item"
            />
        </div>

        <div v-if="isMobile"
             ref="overlay"
             :class="[$style.overlay, {[$style._visible]: isOverlayVisible}]"
             @click.stop="handleOverlayClick">
            <p :class="$style.desc">
                Используйте палец для перемещения по генплану
            </p>
            <IconFinger :class="$style.finger" />
        </div>
    </div>
</template>

<script>
    import VisualHover from '../VisualHover';
    import VCircleButton from '../../../../ui/button/VCircleButton';
    import IconArrowRightLong from '../../../../icons/IconArrowRightLong';
    import VButton from '../../../../ui/button/VButton';
    import BuildingShield from './BuildingShield';
    import VisualTooltip from '../VisualTooltip';
    import BuildingTooltip from './BuildingTooltip';
    import VisualEnvironment from '../VisualEnvironment';
    import VisualInfra from '../VisualInfra';
    import VisualModal from '../../../../layout/modals/VisualModal';
    import IconFinger from '../../../../icons/IconFinger';
    import VisualMainInfra from '../VisualMainInfra';

    export default {
        name: 'VisualBuildings',

        components: {
            VisualMainInfra,
            IconFinger,
            VisualInfra,
            VisualEnvironment,
            BuildingTooltip,
            VisualTooltip,
            BuildingShield,
            VButton,
            IconArrowRightLong,
            VCircleButton,
            VisualHover,
        },

        props: {
            genplanOrigin: {
                type: String,
                default: '',
            },

            genplanPreview: {
                type: String,
                default: '',
            },

            genplanWidth: {
                type: Number,
                default: 0,
            },

            genplanHeight: {
                type: Number,
                default: 0,
            },

            buildings: {
                type: Array,
                default: () => [],
            },

            mainInfra: {
                type: Array,
                default: () => [],
            },

            infra: {
                type: Array,
                default: () => [],
            },

            environment: {
                type: Array,
                default: () => [],
            },

            projectId: {
                type: String,
                default: '',
            },

            skipSections: Boolean,
            hasParking: Boolean,

            colorClass: {
                type: String,
                default: 'vice',
            },
        },

        data() {
            return {
                imgEl: null,
                isTicking: false,
                isLoaded: false,
                isOverlayVisible: true,
                containerData: {},

                realtyType: 'RESIDENTIAL',
                activeItem: null,
                top: 0,
                left: 0,
                iw: 0,
                ih: 0,
                ww: 0,
                wh: 0,

            };
        },

        computed: {
            genplanViewbox() {
                return `0 0 ${this.iw} ${this.ih}`;
            },

            imageRatio() {
                return this.iw / this.ih;
            },

            windowRatio() {
                return this.ww / this.wh;
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            position() {
                if (this.isMobile) {
                    return;
                }
                if (this.windowRatio > this.imageRatio) {
                    return {
                        width: this.iw + 'px',
                        height: this.ih + 'px',
                        transform: `scale(${this.ww / this.iw}) translate(0px, ${(this.wh - (this.ih * (this.ww / this.iw))) / 2}px)`,
                    };
                }
                return {
                    width: this.iw + 'px',
                    height: this.ih + 'px',
                    transform: `scale(${this.wh / this.ih}) translate(${(this.ww - (this.iw * this.wh / this.ih)) / 2}px, 0px)`,
                };
            },

            scaleValue() {
                if (this.isMobile) {
                    return 1;
                }
                return this.windowRatio > this.imageRatio ? this.iw / this.ww : this.ih / this.wh;
            },

            filteredBuildings() {
                const buildingHasFlats = b => Boolean(b.flats0MinPrice) ||
                    Boolean(b.flats1MinPrice) ||
                    Boolean(b.flats2MinPrice) ||
                    Boolean(b.flats3MinPrice) ||
                    Boolean(b.flats4MinPrice);

                const buildingHasPlan = b => Boolean(b.planDisplay);

                return this.buildings.filter(item => item.kind === 'RESIDENTIAL'
                    && buildingHasFlats(item)
                    && buildingHasPlan(item));
            },
        },

        watch: {
            isLoaded() {
                if (this.isMobile) {
                    this.centerGenplan();
                }
            },
        },

        mounted() {
            this.imgEl = new Image();
            this.imgEl.addEventListener('load', this.handleImageLoad);
            this.imgEl.src = this.genplanOrigin;

            if (!this.isMobile) {
                window.addEventListener('resize', this.handleResize);
            }

            if (this.$refs.overlay) {
                this.$refs.overlay.addEventListener('touchstart', this.handleOverlayClick, false);
            }
        },

        beforeDestroy() {
            this.imgEl.removeEventListener('load', this.handleImageLoad);

            if (!this.isMobile) {
                window.removeEventListener('resize', this.handleResize);
            }

            if (this.$refs.overlay) {
                this.$refs.overlay.removeEventListener('touchstart', this.handleOverlayClick, false);
            }
        },

        methods: {
            handleImageLoad() {
                const iw = this.$refs.image?.naturalWidth;
                const ih = this.$refs.image?.naturalHeight;
                const ww = this.$parent.$refs?.container?.offsetWidth;
                const wh = this.$parent.$refs?.container?.offsetHeight;

                this.iw = iw;
                this.ih = ih;
                this.ww = ww;
                this.wh = wh;

                this.$nextTick(() => {
                    this.containerData = {
                        ...this.containerData,
                        ...{
                            visualOffsetY: this.$parent?.$refs?.container?.offsetTop,
                            visualOffsetX: this.$parent?.$refs?.container?.offsetLeft,
                            visualHeight: this.$parent?.$refs?.container?.offsetHeight,
                            visualWidth: this.$parent?.$refs?.container?.offsetWidth,
                        },
                    };

                    this.isLoaded = true;
                });
            },

            handleOverlayClick() {
                this.isOverlayVisible = false;
            },

            handleResize() {
                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateWindowSize);
                }
            },

            updateWindowSize() {
                this.wh = this.$parent.$refs?.container.offsetHeight;
                this.ww = this.$parent.$refs?.container.offsetWidth;
                this.containerData = {
                    ...this.containerData,
                    ...{
                        visualOffsetY: this.$parent?.$refs?.container?.offsetTop,
                        visualOffsetX: this.$parent?.$refs?.container?.offsetLeft,
                        visualHeight: this.$parent?.$refs?.container?.offsetHeight,
                        visualWidth: this.$parent?.$refs?.container?.offsetWidth,
                    },
                };
                this.isTicking = false;
            },

            handleHoverClick(building) {
                if (building.kind === 'PARKING') {
                    this.$router.push({
                        name: 'parking',
                        query: {
                            project: this.projectId,
                        },
                    });
                    return;
                }

                if (this.skipSections) {
                    if (!building.flatsCount) {
                        return;
                    }

                    this.$router.push({
                        name: 'flats',
                        query: {
                            project: this.projectId,
                            building: building.id,
                        },
                    });
                } else if (this.$device.isMobileOrTablet) {
                    this.$modal.open(VisualModal, {
                        building: building,
                        buildings: this.filteredBuildings,
                    });
                } else {
                    this.$emit('view-change', building);
                }
            },

            onHoverEnter(item, e) {
                if (!this.$device.isDesktop) {
                    return;
                }

                this.activeItem = item;
                this.top = e.pageY;
                this.left = e.pageX;
            },

            onHoverMove({top, left}) {
                this.top = top;
                this.left = left;
            },

            onHoverLeave() {
                if (!this.$device.isDesktop) {
                    return;
                }

                this.activeItem = null;
            },

            centerGenplan() {
                const wrapperWidth = this.$refs.container.getBoundingClientRect().width;
                this.$refs.parent.scrollLeft = (wrapperWidth / 2) - (window.innerWidth / 2);
            },

            onRealtyTypeChange(type) {
                if (this.realtyType === type) {
                    return;
                }
                this.realtyType = type;
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualBuildings {
        position: relative;
        overflow: hidden;
        height: calc(100vh - #{$sub-header-h});
        min-height: 700px;

        @include portrait {
            height: 50vh;
            min-height: auto;
        }

        @include respond-to(sm) {
            height: auto;
            min-height: auto;
        }
    }

    .environment {
        @include respond-to(sm) {
            position: absolute;
            bottom: 4.8rem;
            padding: .8rem 4rem;
            display: flex;
            align-items: center;
            width: 100%;
            overflow-x: auto;
        }

        @include respond-to(xs) {
            display: none;
        }
    }

    .tabs {
        position: absolute;
        top: 8rem;
        left: 5.6rem;
        z-index: 2;

        @include respond-to(sm) {
            top: 6.4rem;
        }

        @include respond-to(xs) {
            top: 2.4rem;
            left: 1.6rem;
        }
    }

    .wrap {
        position: relative;

        @include respond-to(sm) {
            display: flex;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
    }

    .body {
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;

        @include respond-to(sm) {
            position: relative;
            width: auto;
            height: 100%;
        }
    }

    .preview {
        display: flex;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imgWrap {
        position: relative;
        display: flex;
        width: 100%;
        opacity: 0;
        transition: opacity .4s linear;

        &._loaded {
            opacity: 1;
        }

        @include respond-to(sm) {
            width: auto;
        }
    }

    .origin {
        display: block;

        @include respond-to(sm) {
            width: auto;
            height: 100%;
            max-height: 80vh;
        }
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .tab {
        position: relative;
        padding-left: 6.4rem;
        cursor: pointer;

        &:first-child {
            margin-bottom: 1rem;

            @include respond-to(xs) {
                margin-bottom: .4rem;
            }
        }

        @include respond-to(sm) {
            padding-left: 42px;
        }

        @include respond-to(xs) {
            padding-left: 36px;
        }
    }

    .btn {
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        transform: translateY(-50%);

        @include respond-to(sm) {
            width: 32px;
            height: 32px;
        }

        @include respond-to(xs) {
            width: 24px;
            height: 24px;
        }
    }

    .title {
        color: rgba($milk, .48);

        &._active {
            color: $milk;
        }
    }

    .link {
        position: absolute;
        right: 5.6rem;
        top: 7.6rem;
        z-index: 2;
        width: 28.2rem;

        @include respond-to(sm) {
            top: 6.4rem;
        }

        @include respond-to(xs) {
            width: calc(100% - 32px);
            top: auto;
            bottom: 16px;
            right: 16px;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba($base-500, .8);
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s linear;

        @include respond-to(sm) {
            display: block;
        }

        &._visible {
            opacity: 1;
            pointer-events: all;
        }
    }

    .desc {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 180px;
        color: $milk;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -1px;

        @include respond-to(xs) {
            left: 16px;
        }
    }

    .finger {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4.8rem;
        height: 4.8rem;
        transform: translate(-50%, -50%);
    }
</style>
