<template>
    <section :class="$style.Social">
        <h2 :class="$style.title"
            class="subtitle3 container"
            v-html="title">
        </h2>

        <div :class="$style.content">
            <a v-if="posts[0]"
               :href="posts[0].link"
               target="_blank"
               :class="$style.cell">
                <div v-if="posts[0].account && posts[0].account.username"
                     :class="$style.hover">
                    <span :class="$style.avatar"
                          :style="{backgroundImage: `url(${posts[0].account.profileImage})`}">
                    </span>
                    <div :class="$style.user">
                        <span class="button2">
                            @{{ posts[0].account.username }}
                        </span>
                        <span :class="$style.like"
                              class="p4">
                            <IconFavoriteFill class="frame-icon is-small" />
                            <span v-html="posts[0].likes">
                            </span>
                        </span>
                    </div>
                </div>
                <ImageLazy
                    v-if="posts[0].imageDisplay"
                    :image="posts[0].imageDisplay"
                    :preview="posts[0].imagePreview"
                    absolute
                />
            </a>
            <a v-if="posts[1]"
               :href="posts[1].link"
               target="_blank"
               :class="$style.cell">
                <div v-if="posts[1].account && posts[1].account.username"
                     :class="$style.hover">
                    <span :class="$style.avatar"
                          :style="{backgroundImage: `url(${posts[1].account.profileImage})`}">
                    </span>
                    <div :class="$style.user">
                        <span class="button2">
                            @{{ posts[1].account.username }}
                        </span>
                        <span :class="$style.like"
                              class="p4">
                            <IconFavoriteFill class="frame-icon is-small" />
                            <span v-html="posts[1].likes">
                            </span>
                        </span>
                    </div>
                </div>
                <ImageLazy
                    v-if="posts[1].imageDisplay"
                    :image="posts[1].imageDisplay"
                    :preview="posts[1].imagePreview"
                    absolute
                />
            </a>
            <a v-if="posts[2]"
               :href="posts[2].link"
               target="_blank"
               :class="$style.cell">
                <div v-if="posts[2].account && posts[2].account.username"
                     :class="$style.hover">
                    <span :class="$style.avatar"
                          :style="{backgroundImage: `url(${posts[2].account.profileImage})`}">
                    </span>
                    <div :class="$style.user">
                        <span class="button2">
                            @{{ posts[2].account.username }}
                        </span>
                        <span :class="$style.like"
                              class="p4">
                            <IconFavoriteFill class="frame-icon is-small" />
                            <span v-html="posts[2].likes">
                            </span>
                        </span>
                    </div>
                </div>

                <ImageLazy
                    v-if="posts[2].imageDisplay"
                    :image="posts[2].imageDisplay"
                    :preview="posts[2].imagePreview"
                    absolute
                />
            </a>

            <div :class="$style.socialBlock">
                <div :class="$style.header">
                    <h3 :class="$style.subtitle">
                        Соцсети
                    </h3>
                    <p :class="$style.hash">
                        #строит_страна
                    </p>
                </div>
                <div :class="$style.links">
                    <div :class="$style.top">
                        <SocialLink
                            v-for="item in socialTop"
                            :key="item.id"
                            :class="$style.link"
                            :href="item.link"
                            :icon="item.iconContent"
                            :icon-colored="item.coloredIconContent"
                        />
                    </div>
                    <div :class="$style.bottom">
                        <SocialLink
                            v-for="item in socialBottom"
                            :key="item.id"
                            :class="$style.link"
                            :href="item.link"
                            :icon="item.iconContent"
                            :icon-colored="item.coloredIconContent"
                        />
                    </div>
                </div>
            </div>

            <a v-if="posts[3]"
               :href="posts[3].link"
               target="_blank"
               :class="[$style.cell, $style._big]">
                <div v-if="posts[3].account && posts[3].account.username"
                     :class="$style.hover">
                    <span :class="$style.avatar"
                          :style="{backgroundImage: `url(${posts[3].account.profileImage})`}">
                    </span>
                    <div :class="$style.user">
                        <span class="button2">
                            @{{ posts[3].account.username }}
                        </span>
                        <span :class="$style.like"
                              class="p4">
                            <IconFavoriteFill class="frame-icon is-small" />
                            <span v-html="posts[3].likes">
                            </span>
                        </span>
                    </div>
                </div>

                <ImageLazy
                    v-if="posts[3].imageDisplay"
                    :image="posts[3].imageDisplay"
                    :preview="posts[3].imagePreview"
                    absolute
                />
            </a>

            <div :class="$style.column">
                <a v-if="posts[4]"
                   :href="posts[4].link"
                   target="_blank"
                   :class="$style.cell">
                    <div v-if="posts[4].account && posts[4].account.username"
                         :class="$style.hover">
                        <span :class="$style.avatar"
                              :style="{backgroundImage: `url(${posts[4].account.profileImage})`}">
                        </span>
                        <div :class="$style.user">
                            <span class="button2">
                                @{{ posts[4].account.username }}
                            </span>
                            <span :class="$style.like"
                                  class="p4">
                                <IconFavoriteFill class="frame-icon is-small" />
                                <span v-html="posts[4].likes">
                                </span>
                            </span>
                        </div>
                    </div>

                    <ImageLazy
                        v-if="posts[4].imageDisplay"
                        :image="posts[4].imageDisplay"
                        :preview="posts[4].imagePreview"
                        absolute
                    />
                </a>
                <a v-if="posts[5]"
                   :href="posts[5].link"
                   target="_blank"
                   :class="$style.cell">
                    <div v-if="posts[5].account && posts[5].account.username"
                         :class="$style.hover">
                        <span :class="$style.avatar"
                              :style="{backgroundImage: `url(${posts[5].account.profileImage})`}">
                        </span>
                        <div :class="$style.user">
                            <span class="button2">
                                @{{ posts[5].account.username }}
                            </span>
                            <span :class="$style.like"
                                  class="p4">
                                <IconFavoriteFill class="frame-icon is-small" />
                                <span v-html="posts[5].likes">
                                </span>
                            </span>
                        </div>
                    </div>

                    <ImageLazy
                        v-if="posts[5].imageDisplay"
                        :image="posts[5].imageDisplay"
                        :preview="posts[5].imagePreview"
                        absolute
                    />
                </a>
            </div>
        </div>

        <ActionBlock
            link-text="Подпишитесь на&nbsp;рассылку"
            text="акций, новостей&nbsp;и&nbsp;много другого"
            :on-click="onClick"
        />
    </section>
</template>

<script>
    import {mapState} from 'vuex';

    /* components */
    import ImageLazy from '../ImageLazy';
    import SocialLink from './SocialLink';
    import ActionBlock from '../ActionBlock';
    import IconFavoriteFill from '../../icons/IconFavoriteFill';

    export default {
        name: 'Social',

        components: {
            IconFavoriteFill,
            ActionBlock,
            SocialLink,
            ImageLazy,
        },

        props: {
            title: {
                type: String,
                default: '',
            },

            posts: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                isHovered: false,
            };
        },

        computed: {
            ...mapState({
                social: state => state.social,
            }),

            socialTop() {
                return this.social.slice(0, 2);
            },

            socialBottom() {
                return this.social.slice(2);
            },
        },

        methods: {
            onClick() {
                this.$emit('click-button');
            },
        },
    };
</script>

<style lang="scss" module>
    .Social {
        position: relative;
        padding-top: 5.6rem;
        background-color: $base-500;

        @include respond-to(sm) {
            padding: 0;
        }
    }

    .title {
        margin-bottom: 4.8rem;

        @include respond-to(sm) {
            display: none;
        }
    }

    .content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-right: 62.5%;

        @include respond-to(lg) {
            padding-right: 50%;
        }

        @include respond-to(sm) {
            position: static;
            padding-right: 0;
            padding-top: 156px;
            flex-wrap: nowrap;
            overflow-y: auto;
        }

        @include respond-to(xs) {
            padding-top: 158px;
        }
    }

    .cell {
        position: relative;
        display: block;
        width: 50%;
        cursor: pointer;

        @include hover {
            &:hover {
                .hover {
                    opacity: 1;
                }
            }
        }

        @include aspect-ratio(360, 360);

        @include respond-to(sm) {
            flex-shrink: 0;
            width: 287px;

            @include aspect-ratio(287, 484);
        }

        @include respond-to(xs) {
            width: 192px;

            @include aspect-ratio(192, 240);
        }

        @include respond-to-min(md) {
            &._big {
                position: absolute;
                right: 0;
                top: 0;

                & :global(.button2) {
                    font-size: 1.8rem;
                    line-height: 1.36;
                }

                & .like {
                    font-size: 1.4rem;
                    line-height: 1.46;
                }

                & .avatar {
                    width: 7.2rem;
                    height: 7.2rem;
                    margin-right: 2.4rem;
                }

                @include aspect-ratio(720, 720);
            }
        }

        @include respond-to-min(xl) {
            &._big {
                position: absolute;
                left: 37.5%;
                top: 0;
                width: 43.75%;

                @include aspect-ratio(840, 720);
            }
        }
    }

    .column {
        position: absolute;
        top: 0;
        right: 0;
        width: 18.75%;

        .cell {
            width: 100%;
        }

        @include respond-to(lg) {
            display: none;
        }
    }

    .hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        width: 100%;
        height: 17.6rem;
        padding: 5.2rem 5.6rem;
        opacity: 0;
        transition: opacity $default-transition;
        will-change: opacity;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, $base-500 0%, rgba($base-500, 0) 100%);
            opacity: .8;
        }
    }

    .avatar {
        position: relative;
        width: 4.8rem;
        height: 4.8rem;
        margin-right: 1.6rem;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backface-visibility: hidden;
    }

    .user {
        position: relative;
        display: flex;
        flex-direction: column;
        color: $milk;
    }

    .like {
        display: flex;
        align-items: center;
        margin-top: .8rem;
        margin-left: -.4rem;
        color: rgba($milk, .8);
    }

    .socialBlock {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 5.2rem 5.6rem;
        background: linear-gradient(135deg, $vice 0%, $moxxy 57.99%, $redline 100%);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, $vice 0%, $moxxy 57.99%, $redline 100%);
            opacity: 0;
            transition: opacity .4s linear;
        }

        @include respond-to-min(sm) {
            @include hover {
                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        @include respond-to(sm) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            flex-direction: row;
            padding: 64px $side-padding-tablet 40px;
            background: linear-gradient(90deg, $vice 0%, $moxxy 57.99%, $redline 100%);
        }

        @include respond-to(xs) {
            flex-direction: column;
            padding: 40px $side-padding-mobile 18px;
        }
    }

    .header {
        position: relative;
    }

    .subtitle {
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.4;
        color: $milk;

        @include respond-to(xs) {
            font-size: 18px;
            line-height: 1.56;
        }
    }

    .hash {
        margin-top: .4rem;
        font-size: 1.6rem;
        line-height: 1.52;
        color: rgba($milk, .48);

        @include respond-to(sm) {
            margin-top: 0;
        }

        @include respond-to(xs) {
            font-size: 14px;
            line-height: 1.46;
        }
    }

    .links {
        position: relative;
        margin-top: auto;

        @include respond-to(sm) {
            display: flex;
            margin-top: 0;
            margin-left: auto;
        }

        @include respond-to(xs) {
            margin-top: 16px;
            margin-left: 0;
        }
    }

    .top {
        margin-bottom: .8rem;

        @include respond-to(sm) {
            margin-bottom: 0;
            margin-right: 16px;
        }

        @include respond-to(xs) {
            margin-right: 8px;
        }
    }

    .link {
        &:not(:last-child) {
            margin-right: .8rem;

            @include respond-to(sm) {
                margin-right: 16px;
            }

            @include respond-to(xs) {
                margin-right: 4px;
            }
        }
    }
</style>
