<template>
    <a :class="[$style.SocialLink, classes]"
       :href="href"
       target="_blank">
        <span v-if="icon"
              :class="$style.icon"
              v-html="icon">
        </span>

        <span v-else
              :class="$style.icon">
            <slot></slot>
        </span>
        <span v-if="iconColored"
              :class="$style.iconColored"
              v-html="iconColored">
        </span>
    </a>
</template>

<script>
    export default {
        name: 'SocialLink',
        props: {
            href: {
                type: String,
                default: '',
            },

            icon: {
                type: String,
                default: '',
            },

            iconColored: {
                type: String,
                default: '',
            },

            color: {
                type: String,
                default: 'colored',
            },
        },

        computed: {
            classes() {
                return [this.$style[`_${this.color}`]];
            },
        },
    };
</script>

<style lang="scss" module>
    .SocialLink {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        cursor: pointer;
        user-select: none;
        outline: none;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            transition: transform .4s $bezier, background-color .8s $bezier, border-color .8s $bezier;
        }

        &:after {
            z-index: 1;
            transform: translate(-50%, -50%) scale(0);
        }

        @include hover {
            &:hover,
            &:focus {
                &:after {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }

        &._colored {
            color: $milk;

            &:before {
                background-color: rgba($base-500, .12);
            }

            &:after {
                background-color: $milk;
            }

            &:active {
                &:after {
                    background-color: $milk;
                }
            }

            @include respond-to-min(sm) {
                @include hover {
                    &:hover {
                        .iconColored {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &._gray {
            color: $base-400;

            &:before {
                background-color: rgba($base-100, .4);
            }

            &:after {
                background-color: rgba($base-100, .8);
            }

            &:active {
                &:after {
                    background-color: $base-100;
                }
            }
        }

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
        }
    }

    .icon {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        pointer-events: none;
        transform: translateZ(0);

        @include respond-to(xs) {
            width: 32px;
            height: 32px;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: currentColor;
            transition: fill .4s $bezier, opacity .4s $bezier;
        }
    }

    .iconColored {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        width: 4rem;
        height: 4rem;
        opacity: 0;
        transform: translate(-50%, -50%) translateZ(0);
        transition: opacity .4s $bezier;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
</style>
