<template>
    <section ref="body"
             :class="$style.ProjectAbout"
             data-anhor="about">
        <div id="about"
             class="anchor-project">
        </div>
        <div :class="$style.container"
             class="container">
            <h2 :class="$style.title"
                class="subtitle3">
                О проекте
            </h2>

            <div ref="container"
                 :class="$style.leadWrapper">
                <p ref="lead"
                   :class="$style.lead">
                    <span v-html="lead">
                    </span>
                    <span :class="leadColoredClass"
                          v-html="leadColored">
                    </span>
                </p>
            </div>

            <div :class="$style.description"
                 class="subtitle3"
                 v-html="description">
            </div>

            <div v-if="video"
                 :class="$style.control">
                <VCircleButton :class="$style.btn"
                               absolute
                               size="big"
                               :color="cityClass(cityColor)"
                               @click="onToggleVideo(true)">
                    <IconPlay class="frame-icon" />
                </VCircleButton>
                <p :class="$style.label"
                   class="button2 c-base">
                    <span>Видеоэкскурсия</span>
                    <span>Видеоэкскурсия по проекту</span>
                </p>
                <VTag v-if="videoDuration"
                      :class="$style.tag"
                      :color="cityClass(cityColor)"
                      outline>
                    {{ videoDuration }} мин
                </VTag>
            </div>

            <div v-if="image"
                 :class="$style.image">
                <ImageLazy
                    :class="$style.imageInner"
                    :image="image"
                    absolute
                    contain
                    bottom
                />
            </div>
        </div>

        <transition name="fade"
                    appear>
            <ProjectAboutVideo
                v-if="isOpenVideo && video"
                :video="video"
                @close="onToggleVideo"
            />
        </transition>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {lockBody, unlockBody, throttle} from '../../../../assets/js/utils/commonUtils';
    import {TweenMax} from 'gsap';

    /* components */
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconPlay from '../../../icons/IconPlay';
    import VTag from '../../../ui/tag/VTag';
    import ImageLazy from '../../../common/ImageLazy';
    import ProjectAboutVideo from './ProjectAboutVideo';

    export default {
        name: 'ProjectAbout',

        components: {
            ProjectAboutVideo,
            ImageLazy,
            VTag,
            IconPlay,
            VCircleButton,
        },

        props: {
            project: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {
                isOpenVideo: false,
                offset: 0,
                transformValue: 0,
                throttleResize: null,
                innerWidth: 0,
                containerWidth: 0,
                isTicking: false,
                target: null,
            };
        },

        computed: {
            ...mapGetters({
                cityClass: 'getCityClass',
            }),

            cityColor() {
                return this.project?.city?.color ? this.project.city.color : '';
            },

            isMobile() {
                return this.$mq === 'xs' || this.$mq === 'sm';
            },

            video() {
                return this.project?.video ? this.project.video : '';
            },

            videoDuration() {
                return this.project?.videoDuration ? this.project.videoDuration : '';
            },

            lead() {
                return this.project?.aboutText ? this.project.aboutText : '';
            },

            leadColored() {
                return this.project?.aboutTextColored ? this.project.aboutTextColored : '';
            },

            description() {
                return this.project?.description ? this.project.description : '';
            },

            image() {
                return this.project?.aboutImage ? this.project.aboutImage : '';
            },

            leadColoredClass() {
                return `c-${this.cityClass(this.cityColor)}`;
            },

            ratioValue() {
                return this.containerWidth > this.innerWidth ? this.containerWidth : this.innerWidth;
            },
        },

        mounted() {
            window.addEventListener('scroll', this.handleScroll);
            this.throttleResize = throttle(this.handleResize, 1000);
            window.addEventListener('resize', this.throttleResize);
            this.$nextTick(() => {
                this.innerWidth = this.$refs.lead.offsetWidth;
                this.containerWidth = this.$refs.container.offsetWidth;
                this.transformValue = this.containerWidth / 2;
                if (this.isMobile) {
                    return;
                }
                this.setTransform();
            });
        },

        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
            window.removeEventListener('resize', this.throttleResize);
        },

        methods: {
            onToggleVideo(val) {
                this.isOpenVideo = val;
                this.isOpenVideo ? lockBody() : unlockBody();
                this.$emit('toggle-video', this.isOpenVideo);
            },

            handleScroll() {
                if (this.isTicking || this.isMobile) {
                    return;
                }
                this.isTicking = true;
                requestAnimationFrame(() => {
                    this.updateTransformValue();
                });
            },

            updateTransformValue() {
                const {top, bottom} = this.$refs?.lead.getBoundingClientRect();
                if (top >= 0 && bottom <= (window.innerHeight || document.documentElement.clientHeight)) {
                    this.transformValue = !this.isMobile
                        ? (this.containerWidth / 2) - ((window.innerHeight - bottom) * (this.ratioValue / window.innerHeight))
                        : 0;
                    this.updateTransform();
                }
                this.isTicking = false;
            },

            setTransform() {
                if (!this.$refs.lead) {
                    return;
                }

                TweenMax.set(this.$refs.lead, {
                    x: this.transformValue,
                });
            },

            updateTransform() {
                if (!this.$refs.lead) {
                    return;
                }

                TweenMax.to(this.$refs.lead, .3, {
                    x: this.transformValue,
                });
            },

            handleResize() {
                this.innerWidth = this.$refs?.lead?.offsetWidth;
                this.containerWidth = this.$refs?.container?.offsetWidth;
                this.updateTransformValue();
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectAbout {
        position: relative;
        overflow: hidden;
        background-color: $base-50;
    }

    .container {
        position: relative;
        padding-top: 5.6rem;
        padding-bottom: 5.9rem;
        border-bottom: 1px solid $base-100;

        &:after {
            content: '';
            position: absolute;
            bottom: 12.6rem;
            right: 15rem;
            z-index: 1;
            width: 72.6rem;
            height: 36.4rem;
            border-radius: 45.3rem;
            opacity: .4;
            background: linear-gradient(-90deg, rgba($base-500, .24) 0%, rgba($base-500, .04) 100%);
            transform: rotate(-30deg);

            @include respond-to(sm) {
                z-index: 0;
                bottom: 178px;
                right: -210px;
                width: 684px;
                height: 342px;
            }

            @include respond-to(xs) {
                content: none;
            }
        }

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .title {
        //
    }

    .control {
        position: relative;
        padding-left: 6.4rem;
        margin-top: 7.6rem;

        @include respond-to(sm) {
            order: 1;
            margin-top: 82px;
            padding-left: 80px;
        }

        @include respond-to(xs) {
            order: 1;
            display: flex;
            margin: 0 -16px;
            padding: 28px $side-padding-mobile 0 72px;
            border-top: 1px solid $base-100;
        }
    }

    .tag {
        margin-top: .8rem;

        @include respond-to(xs) {
            flex-shrink: 0;
            margin-top: 0;
            margin-left: auto;
        }
    }

    .btn {
        top: 0;
        left: 0;

        @include respond-to(sm) {
            top: 50%;
            transform: translateY(-50%);
        }

        @include respond-to(xs) {
            top: 25px;
            left: 16px;
            transform: none;
        }
    }

    .label {
        & :last-child {
            display: none;

            @include respond-to(sm) {
                display: inline-block;
            }

            @include respond-to(xs) {
                width: 118px;
            }
        }

        & :first-child {
            @include respond-to(sm) {
                display: none;
            }
        }
    }

    .leadWrapper {
        position: relative;
        z-index: 2;
        display: flex;
        margin-top: 16.8rem;

        @include respond-to(sm) {
            margin-top: 24px;
        }

        @include respond-to(xs) {
            margin-top: 8px;
        }
    }

    .lead {
        font-size: 12.8rem;
        line-height: 1;
        color: $base-500;
        font-weight: 500;
        white-space: nowrap;
        will-change: transform;

        @include respond-to(sm) {
            font-size: 96px;
            line-height: 1.08;
            white-space: normal;
        }

        @include respond-to(xs) {
            max-width: 228px;
            font-size: 44px;
            line-height: 1.24;
        }
    }

    .description {
        position: relative;
        z-index: 2;
        width: 41.6rem;
        margin-top: 5.6rem;
        color: $base-400;

        @include respond-to(sm) {
            width: 284px;
            margin-top: 87px;
        }

        @include respond-to(xs) {
            order: 2;
            width: 100%;
            margin-top: 44px;
        }
    }

    .image {
        position: absolute;
        right: 12.8rem;
        bottom: 0;
        z-index: 2;
        width: 72.8rem;
        max-height: 100%;
        pointer-events: none;

        @include aspect-ratio(728, 700);

        @include respond-to(sm) {
            z-index: 1;
            right: -140px;
            width: 641px;

            @include aspect-ratio(641, 617);
        }

        @include respond-to(xs) {
            position: relative;
            right: auto;
            left: 20px;
            bottom: auto;
            width: 260px;
            margin-top: -14px;
            margin-left: auto;

            @include aspect-ratio(260, 250);

            &:after {
                content: '';
                position: absolute;
                bottom: 50px;
                right: 10px;
                z-index: 1;
                width: 262px;
                height: 116px;
                border-radius: 45.3rem;
                opacity: .4;
                background: linear-gradient(-90deg, rgba($base-500, .24) 0%, rgba($base-500, .04) 100%);
                transform: rotate(-30deg);
            }
        }
    }

    .imageInner {
        z-index: 2;
    }
</style>
