<template>
    <div :class="$style.ProjectAboutVideo">
        <VCircleButton :class="$style.close"
                       absolute
                       color="milk"
                       @click="$emit('close', false)">
            <IconClose class="frame-icon is-default" />
        </VCircleButton>

        <iframe :class="$style.video"
                :src="video"
                allow="autoplay; encrypted-media"
                allowfullscreen>
        </iframe>
    </div>
</template>

<script>
    import VCircleButton from '../../../ui/button/VCircleButton';
    import IconClose from '../../../icons/IconClose';

    export default {
        name: 'ProjectAboutVideo',

        components: {
            IconClose,
            VCircleButton,
        },

        props: {
            preview: {
                type: String,
                default: '/images/home/image1.jpg',
            },

            video: {
                type: String,
                default: '',
            },
        },
    };
</script>

<style lang="scss" module>
    .ProjectAboutVideo {
        position: fixed;
        z-index: 2;
        top: $sub-header-h;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100vh - #{$sub-header-h});
        background-color: $base-800;
    }

    .video {
        height: 100%;
        width: 100%;
        border: none;

        @include respond-to(sm) {
            height: 50%;
        }
    }

    .close {
        position: absolute;
        z-index: 2;
        top: 5.6rem;
        right: 5.6rem;

        @include respond-to(sm) {
            top: 40px;
            right: 40px;
        }

        @include respond-to(xs) {
            top: 16px;
            right: 16px;
        }
    }
</style>
