<template>
    <div :class="[$style.FilterHead, classes]">
        <div :class="$style.wrapper">
            <MainSelect
                :value="value"
                :title="title"
                :options="[{[valueFieldName]: '', [labelFieldName]: 'во всех городаx'}, ...options]"
                :label-field="labelFieldName"
                :value-field="valueFieldName"
                @change="$emit('city-change', {city: $event})"
            />

            <VCircleButton v-if="type === 'filter'"
                           :class="$style.close"
                           absolute
                           @click="$emit('close')">
                <IconPlus class="frame-icon" />
            </VCircleButton>
        </div>

        <VButton v-if="$mq === 'xs' && type === 'head'"
                 rounded
                 @click="$emit('open-filter')">
            Фильтры
        </VButton>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    /* components */
    import VButton from '../../ui/button/VButton';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconPlus from '../../icons/IconPlus';
    import MainSelect from '../MainSelect';

    export default {
        name: 'FilterHead',

        components: {
            MainSelect,
            IconPlus,
            VCircleButton,
            VButton,
        },

        props: {
            value: {
                type: [String, Number],
                default: '',
            },

            title: {
                type: String,
                default: 'Квартиры',
            },

            type: {
                type: String,
                default: 'head',
            },

            specs: {
                type: Array,
                default: () => []
            },

            labelFieldName: {
                type: String,
                default: 'name'
            },

            valueFieldName: {
                type: String,
                default: 'id'
            }
        },

        computed: {
            classes() {
                return [this.$style[`_${this.type}`]];
            },

            options() {
                return this.specs.length ? this.specs : this.cities;
            },

            ...mapGetters({
                activeCityId: 'getActiveCityId',
                cities: 'getActiveCities'
            }),
        },
    };
</script>

<style lang="scss" module>
    .FilterHead {
        &._head {
            padding-top: 8rem;

            @include respond-to(sm) {
                padding-top: 64px;
            }

            @include respond-to(xs) {
                padding-top: 4rem;
                padding-bottom: 2.4rem;
            }
        }

        &._filter {
            .wrapper {
                padding-right: 32px;
            }
        }
    }

    .wrapper {
        position: relative;

        @include respond-to(xs) {
            margin-bottom: 18px;
        }
    }

    .title {
        margin-right: .4rem;
    }

    .close {
        top: 0;
        right: 0;

        svg {
            transform: rotate(45deg);
        }
    }
</style>
