<template>
    <div :class="[$style.FilterExtended, {[$style._extended]: extended}]"
         :style="styles">
        <div ref="extended">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FilterExtended',

        props: {
            extended: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                contentHeight: null,
                maxHeight: 0,
                overflow: 'hidden',
            };
        },

        computed: {
            styles() {
                return this.$mq === 'xs'
                    ? ''
                    : {
                        maxHeight: `${this.maxHeight}px`,
                        overflow: this.overflow,
                    };
            },
        },

        watch: {
            extended(val) {
                if (val) {
                    this.maxHeight = this.contentHeight;
                    setTimeout(() => {
                        this.overflow = '';
                    }, 300);
                } else {
                    this.maxHeight = 0;
                    this.overflow = 'hidden';
                }
            },

            contentHeight() {
                if (this.extended) {
                    this.maxHeight = this.contentHeight;
                }
            },
        },

        mounted() {
            this.contentHeight = this.$refs.extended.scrollHeight;
            window.addEventListener('resize', this.handleResize);
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize);
        },

        methods: {
            handleResize() {
                if (this.$mq === 'xs') {
                    return;
                }
                this.contentHeight = this.$refs.extended.scrollHeight;
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterExtended {
        max-height: 0;
        transition: max-height .3s ease-in-out;
        will-change: max-height;

        @include respond-to(xs) {
            max-height: none;
            pointer-events: all;
        }

        &._extended {
            @include respond-to(xs) {
                display: block;
            }
        }
    }
</style>
