<template>
    <div :class="$style.FilterResultControls">
        <div :class="$style.container"
             class="container">
            <div :class="$style.sortFilter">
                <VCircleButton :class="$style.sortIcon">
                    <IconSort :type="sortIconType" />
                </VCircleButton>
                <span :class="$style.sortLabel"
                      class="c-base">
                    Сортировать:
                </span>
                <VSelect
                    :class="$style.select"
                    :options="sortOptions"
                    :value="values.orderBy"
                    color="vice"
                    size="xsmall"
                    variable-width
                    @input="$emit('sort-change', {orderBy: $event})"
                />
            </div>

            <div v-if="$mq === 'xs'"
                 :class="$style.mobileTabs">
                <VCircleButton :color="view === 'cards' ? 'night' : 'default'"
                               @click="$emit('view-change', 'cards')">
                    <IconTile class="frame-icon is-xsmall" />
                </VCircleButton>

                <VCircleButton :color="view === 'rows' ? 'night' : 'default'"
                               @click="$emit('view-change', 'rows')">
                    <IconList class="frame-icon is-xsmall" />
                </VCircleButton>
            </div>

            <VTabs v-else
                   :class="$style.tabs">
                <VTab :active="view === 'cards'"
                      @click="$emit('view-change', 'cards')">
                    Карточками
                </VTab>
                <VTab :active="view === 'rows'"
                      @click="$emit('view-change', 'rows')">
                    Списком
                </VTab>
            </VTabs>

            <div :class="$style.scrollBtn">
                <span :class="$style.btnLabel"
                      class="c-base">
                    Перейти к просмотру
                </span>
                <VCircleButton @click="onScrollClick">
                    <IconArrowRightLong class="frame-icon" />
                </VCircleButton>
            </div>
        </div>
    </div>
</template>

<script>
    import {scrollTo} from '../../../assets/js/utils/commonUtils';

    /* components */
    import VSelect from '../../ui/select/VSelect';
    import VCircleButton from '../../ui/button/VCircleButton';
    import IconArrowRightLong from '../../icons/IconArrowRightLong';
    import IconSort from '../../icons/IconSort';
    import VTabs from '../../ui/tabs/VTabs';
    import VTab from '../../ui/tabs/VTab';
    import IconTile from '../../icons/IconTile';
    import IconList from '../../icons/IconList';

    export default {
        name: 'FilterResultControls',

        components: {
            IconList,
            IconTile,
            VTab,
            VTabs,
            IconSort,
            IconArrowRightLong,
            VCircleButton,
            VSelect,
        },

        props: {
            view: {
                type: String,
                default: 'cards',
            },

            values: {
                type: Object,
                default: () => ({}),
            },

            defaultSortOption: {
                type: String,
                default: '',
            }
        },

        data() {
            return {
                sortOptions: [
                    {
                        value: this.defaultSortOption,
                        label: 'по умолчанию',
                        displayName: this.$device.isDesktopOrTablet ? 'по умолчанию' : 'Cортировать',
                    },
                    {
                        value: 'price',
                        label: 'по росту стоимости',
                        displayName: this.$device.isDesktopOrTablet ? 'по росту стоимости' : 'Cортировать',
                    },
                    {
                        value: '-price',
                        label: 'по убыванию стоимости',
                        displayName: this.$device.isDesktopOrTablet ? 'по убыванию стоимости' : 'Cортировать',
                    },
                    {
                        value: 'area',
                        label: 'по росту площади',
                        displayName: this.$device.isDesktopOrTablet ? 'по росту площади' : 'Cортировать',
                    },
                    {
                        value: '-area',
                        label: 'по убыванию площади',
                        displayName: this.$device.isDesktopOrTablet ? 'по убыванию площади' : 'Cортировать',
                    },
                ],
            };
        },

        computed: {
            sortIconType() {
                return !this.values.orderBy ? '' : /-/.test(this.values.orderBy) ? 'desc' : 'asc';
            },
        },

        methods: {
            onScrollClick() {
                scrollTo('results');
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterResultControls {
        background-color: $base-50;
    }

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;

        @include respond-to(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include respond-to(xs) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    .sortFilter {
        display: flex;
        align-items: center;
    }

    .sortIcon {
        pointer-events: none;

        @include respond-to(xs) {
            margin-right: 12px;
        }
    }

    .sortLabel {
        margin-right: .3rem;
        margin-left: 1.6rem;
        font-size: 1.2rem;
        line-height: 1.52;

        @include respond-to(xs) {
            display: none;
        }
    }

    .scrollBtn {
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            display: none;
        }

        svg {
            transform: rotate(90deg);
        }
    }

    .tabs {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-to(sm) {
            position: static;
            margin-left: auto;
            transform: none;
        }
    }

    .btnLabel {
        margin-right: 1.6rem;
        font-size: 1.2rem;
        line-height: 1.16;
    }

    .mobileTabs {
        display: flex;
        justify-content: space-between;
        width: 74px;
    }
</style>
