<template>
    <div :class="$style.FilterResults">
        <div id="results"
             class="anchor">
        </div>
        <div v-if="currentView === 'rows'"
             :class="$style.panel">
            <div :class="$style.container"
                 class="container">
                <span :class="[$style.cell, $style._plan]">
                    Планировка
                </span>
                <span :class="[$style.cell, $style._rooms]">
                    Комнат / Особенности
                </span>
                <span :class="[$style.cell, $style._project]">
                    Проект
                </span>
                <span :class="[$style.cell, $style._building]">
                    Дом
                </span>
                <span :class="[$style.cell, $style._floor]">
                    Этаж
                </span>
                <span :class="[$style.cell, $style._completion]">
                    Срок сдачи
                </span>
                <span :class="[$style.cell, $style._area]">
                    Площадь
                </span>
                <span :class="[$style.cell, $style._price]">
                    Стоимость
                </span>
                <span :class="[$style.cell, $style._favorite]">
                    Избранное
                </span>
            </div>
        </div>
        <div v-if="list.length"
             :class="[$style.list, classes]">
            <article v-for="item in mixedList"
                     :key="item.id"
                     :class="[$style.card, classes]">
                <FormCard
                    v-if="item.type && item.type === 'form'"
                    type="help"
                />

                <InfoCard
                    v-else-if="item.type && item.type === 'offer'"
                    :label="item.uptitle"
                    :title="item.title"
                    :description="item.text"
                    :image="item.image"
                    :link="item.link"
                />

                <component
                    :is="component"
                    v-else
                    :lot="item"
                    :realty-type="realtyType"
                    @click="onCardClick"
                />
            </article>
        </div>
        <div v-else
             class="h3"
             :class="$style.empty">
            Нет предложений
        </div>
    </div>
</template>

<script>
    import LotCard from '../LotCard';
    import LotRow from '../LotRow';
    import InfoCard from '../InfoCard';
    import FormCard from '../form/FormCard';
    import RequestFormModal from '../../layout/modals/RequestFormModal';
    import CallbackForm from '../forms/CallbackForm';

    export default {
        name: 'FilterResults',

        components: {
            FormCard,
            InfoCard,
            LotRow,
            LotCard,
        },

        props: {
            list: {
                type: Array,
                default: () => [],
            },

            view: {
                type: String,
                default: 'cards',
            },

            realtyType: {
                type: String,
                default: 'flat',
            },

            propertyCards: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                currentView: 'cards',
            };
        },

        computed: {
            classes() {
                return [this.$style[`_${this.currentView}`]];
            },

            component() {
                return this.currentView === 'cards' ? LotCard : LotRow;
            },

            mixedList() {
                // if (this.currentView === 'cards') {
                //     const mixedList = [];
                //     let diff = 0;
                //     switch (this.realtyType) {
                //         case 'flat':
                //             this.list.forEach((item, i) => {
                //                 mixedList.push(item);
                //                 if ((i + 1) % 21 === 0) {
                //                     mixedList.push({type: 'form'});
                //                     diff += 1;
                //                 } else if ((i + 1) % 7 === 0) {
                //                     const propertyIndex = ((i + 1) / 7) - 1 - diff;
                //                     if (this.propertyCards.length && this.propertyCards[propertyIndex]) {
                //                         mixedList.push({...this.propertyCards[propertyIndex], ...{type: 'offer'}});
                //                     }
                //                 }
                //             });
                //             return mixedList;
                //         case 'commercial':
                //             this.list.forEach((item, i) => {
                //                 mixedList.push(item);
                //                 if ((i + 1) % 7 === 0) {
                //                     const propertyIndex = ((i + 1) / 7) - 1;
                //                     if (this.propertyCards.length && this.propertyCards[propertyIndex]) {
                //                         mixedList.push({...this.propertyCards[propertyIndex], ...{type: 'offer'}});
                //                     }
                //                 }
                //             });
                //             return mixedList;
                //         default:
                //             return this.list;
                //     }
                // }
                return this.list;
            },
        },

        watch: {
            view(val) {
                setTimeout(() => {
                    this.currentView = val;
                }, 300);
            },
        },

        methods: {
            onCardClick(id) {
                this.$modal.open(RequestFormModal, {
                    title: 'Обратный звонок',
                    subtitle: 'Менеджер свяжется в ближайшее время',
                    form: CallbackForm,
                    id: id,
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterResults {
        position: relative;
        overflow: hidden;
        background-color: $base-50;
    }

    .panel {
        padding: 2.8rem 0 2.2rem;
        border-top: 1px solid $base-100;
        background-color: $base-50;

        @include respond-to(sm) {
            display: none;
        }
    }

    .container {
        display: flex;
        align-items: center;
    }

    .cell {
        flex-shrink: 0;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.04;
        color: $base-300;

        &._plan {
            width: 16rem;

            @include respond-to(lg) {
                width: 12rem;
            }
        }

        &._rooms {
            width: 30.8rem;

            @include respond-to(lg) {
                width: 23rem;
            }
        }

        &._project {
            width: 30.9rem;

            @include respond-to(lg) {
                width: 24.2rem;
            }
        }

        &._building {
            width: 22.6rem;

            @include respond-to(lg) {
                width: 18rem;
            }
        }

        &._floor {
            width: 16.8rem;

            @include respond-to(lg) {
                width: 11rem;
            }
        }

        &._completion {
            width: 19.5rem;

            @include respond-to(lg) {
                width: 13.5rem;
            }
        }

        &._area {
            width: 17rem;

            @include respond-to(lg) {
                width: 11.7rem;
            }
        }

        &._favorite {
            margin-left: auto;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 1px 0;
        margin: 0 -1px;

        &._rows {
            padding: 0;
        }
    }

    .card {
        position: relative;

        &._cards {
            width: 25%;
            outline: 1px solid $base-100;

            @include respond-to(lg) {
                width: 33.3333%;
            }

            @include respond-to(sm) {
                width: 50%;
            }

            @include respond-to(xs) {
                width: 100%;
            }
        }

        &._rows {
            width: 100%;
            border-bottom: 1px solid $base-100;

            &:first-child {
                border-top: 1px solid $base-100;
            }
        }
    }

    .empty {
        text-align: center;
        padding: 8rem 0;

        @include respond-to(sm) {
            padding: 40px 0;
        }
    }
</style>
