<template>
    <div :class="$style.LotBottom">
        <div :class="[$style.info, $style.grid]">
            <div :class="[$style.infoCell, $style.infoProject]">
                {{ projectName }}
            </div>
            <div :class="$style.infoCell">
                Дом &#171;{{ buildingName }}&#187;
            </div>
            <div :class="$style.infoCell">
                <span v-if="realtyType === 'flat'">
                    Ключи
                </span>
                <span v-else>
                    Сдача
                </span>
                в {{ completion }}
            </div>
            <div :class="$style.infoCell">
                {{ floorNumber }} {{ totalFloors }} этаж
            </div>
            <div :class="$style.infoCell">
                {{ lot.number }} номер
            </div>
        </div>

        <div :class="[$style.mortgage, $style.grid]">
            <div v-if="banksList.length"
                 :class="$style.mortgageIcons"
            >
                <img v-for="bank in banksList"
                     :key="bank"
                     :class="$style.mortgageIcon"
                     :src="bank"
                     alt="Банк"
                >
            </div>

            <div v-if="lot.minMortgage"
                 :class="$style.mortgagePrice"
            >
                В ипотеку
                <span>
                    {{ lot.minMortgage|splitThousands }}руб/мес
                </span>
            </div>
        </div>

        <div :class="[$style.price, $style.grid]">
            <s v-if="saleValue"
               :class="$style.oldPrice"
            >
                {{ lot.originalPrice|splitThousands }} руб
            </s>

            <span v-if="saleValue"
                  :class="$style.saleValue">
                - {{ saleValue|splitThousands }} руб
            </span>
            <div :class="$style.priceInner">
                <span :class="$style.priceValue">
                    {{ currentPrice|splitThousands }}
                    <span class="rub">руб</span>
                </span>
                <VSwitch v-if="lot.facing && lot.furnishPrice"
                         v-model="facing"
                         :reverse="$device.isMobile"
                         :class="$style.switch">
                    <template #trueLabel>
                        С отделкой
                    </template>
                </VSwitch>
            </div>
        </div>

        <div :class="[$style.qr, $style.grid]">
            <qrcode :value="`https://strana.com/flats/${lot.id}`"
                    :options="{ width: 65 }"
            />
            <div :class="$style.qr_info">
                <p :class="$style.qr_title">
                    Смотреть на сайте
                </p>
                <p :class="$style.qr_descr">
                    Отсканируйте QR-код и посмотрите эту квартиру на strana.com
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import {prettyCompletion} from 'frontend/assets/js/utils/commonUtils';

    import VSwitch from '@/components/ui/switch/VSwitch';

    export default {
        name: 'LotBottom',
        components: {
            VSwitch,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({})
            },
            realtyType: {
                type: String,
                default: 'flat'
            }
        },

        computed: {
            saleValue() {
                return this.lot.originalPrice !== this.lot.price ? Math.round(this.lot.originalPrice - this.lot.price) : null;
            },

            projectName() {
                return this.lot.project?.name ? this.lot.project.name : '';
            },

            buildingName() {
                return this.lot.building?.name ? this.lot.building.name : '';
            },

            completion() {
                return this.lot.building?.readyQuarter && this.lot.building?.builtYear
                    ? prettyCompletion(this.lot.building.readyQuarter, this.lot.building.builtYear)
                    : '';
            },

            floorNumber() {
                return this.lot.floor?.number ? this.lot.floor.number : '';
            },

            totalFloors() {
                return this.lot?.buildingTotalFloor ? `/ ${this.lot.buildingTotalFloor}` : '';
            },

            currentPrice() {
                return this.facing ? this.lot.furnishPrice : this.lot.price;
            },

            banksList() {
                const result = [];

                Object.keys(this.lot).forEach(e => e.includes('bankLogo')
                    ? this.lot[e] ? result.push(this.lot[e]) : ''
                    : '');
                // кол-во 3
                return result.splice(0, 3);
            }
        }
    };
</script>

<style lang="scss" module>
    .LotBottom {
        display: flex;
        flex-wrap: wrap;
        padding-top: 32px * $pdfSize;
    }

    .grid {
        width: 50%;
        padding-bottom: 16px * $pdfSize;

        &:nth-child(odd) {
            padding-right: 10px * $pdfSize;
        }

        &:nth-child(even) {
            padding-left: 10px * $pdfSize;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 90px * $pdfSize;
        font-size: 11px * $pdfSize;
        color: $base-500;
    }

    .infoCell {
        margin-bottom: 7px * $pdfSize;
        max-width: 50%;
        padding-right: 10px * $pdfSize;
    }

    .infoProject {
        color: $secondary-500;
    }

    .mortgage {
        display: flex;
        align-items: center;
    }

    .mortgageIcons {
        display: flex;
        position: relative;
        min-width: 5rem * $pdfSize;
        height: 4rem * $pdfSize;
        margin-right: 1.8rem * $pdfSize;
    }

    .mortgageIcon {
        position: absolute;
        width: 30px * $pdfSize;
        height: 30px * $pdfSize;
        border-radius: 50%;
        border: 1px solid white;

        $start-z-index: 3;
        $start-left: 0;

        @for $i from 1 through 3 {
            &:nth-child(n + #{$i}) {
                z-index: $start-z-index - $i;
                left: $i * 8px;
            }
        }
    }

    .mortgagePrice {
        margin-left: 40px * $pdfSize;
        font-weight: 500;
        font-size: 12px * $pdfSize;
        color: $base-500;

        & > span {
            color: $secondary-500;
        }
    }

    .oldPrice {
        position: relative;
        font-size: 12px * $pdfSize;
        color: $base-200;
    }

    .priceInner {
        margin-top: 10px * $pdfSize;
        font-size: 18px * $pdfSize;
        color: $base-500;
        font-weight: 500;
    }

    .saleValue {
        position: relative;
        padding: 2px * $pdfSize 3px * $pdfSize;
        margin-left: .8rem * $pdfSize;
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
        background-color: rgba($primary-100, .56);
        color: $redline;
        font-size: 1rem;

        &:after {
            content: "";
            position: absolute;
            left: 100%;
            top: 50%;
            width: 1.5rem * $pdfSize;
            height: 1.5rem * $pdfSize;
            background: rgba($primary-100, .56);
            border-radius: .4rem;
            transform: translate(-50%, -50%) rotate(135deg);
            -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }

    .qr {
        display: flex;
        align-items: center;

        &_info {
            margin-left: 16.5px * $pdfSize;
        }

        &_title {
            margin-bottom: 6px * $pdfSize;
            font-weight: 500;
            font-size: 12px * $pdfSize;
            color: $base-500;
        }

        &_descr {
            color: $base-300;
            font-size: 9px * $pdfSize;
            line-height: 12px * $pdfSize;
        }
    }
</style>
