<template>
    <div :class="$style.LotHeader">

        <div :class="$style.left">
            <p :class="$style.article">
                {{ lot.article }}
            </p>

            <h3 :class="$style.title">
                <span :class="$style.title_text"
                      v-html="lotTitle"></span>
                <span v-if="labelIcon"
                      :class="$style.titleIcon"
                >
                    <img :src="labelIcon"
                         alt="icon">
                </span>
            </h3>

            <div :class="$style.firstPayment_wrap">
                <VTag v-if="lot.firstPayment"
                      :class="$style.firstPayment"
                      outline
                      color="#677B8F">
                    <span
                        class="fw-700">
                        {{ lot.firstPayment|splitThousands }} руб
                    </span>
                    - Первый взнос по ипотеке
                </VTag>
            </div>

            <div :class="$style.tags">
                <div v-for="(tag, i) in tags"
                     :key="i"
                     :class="$style.tag"
                >
                    {{ tag.name ? tag.name : tag }}
                </div>
            </div>
        </div>

        <div :class="$style.right">
            <div :class="$style.compass"
                 :style="{transform: `rotate(${azimuth}deg)`}">
                <Compass :class="$style.compass_icon" />
            </div>
        </div>

        <div :class="$style.plan_wrap">
            <div :class="$style.layouts">
                <transition name="fade"
                            mode="out-in">
                    <div :key="'plan'"
                         :class="[$style.box, $style._flat]">
                        <!--                        <div :class="$style.plan"-->
                        <!--                             :style="{backgroundImage: `url(${lotDefaultPlan})`}">-->
                        <!--                        </div>-->
                        <img :src="lotDefaultPlan"
                             :class="$style.plan"
                             alt="План">
                    </div>
                </transition>
            </div>
        </div>

        <div v-if="features.length"
             :class="$style.features"
        >
            <div v-for="item in features"
                 :key="item.label"
                 :class="$style.feauturesItem"
            >
                <component
                    :is="item.icon"
                    :class="$style.feauturesIcon"
                    class="frame-icon"
                />
                <span :class="$style.feauturesLabel">
                    {{ item.label }}
                </span>
            </div>

        </div>

    </div>
</template>

<script>
    import VTag from '@/components/ui/tag/VTag';
    import Compass from '@/components/common/Compass';

    export default {
        name: 'LotHeader',
        components: {
            IconFacing: () => import('@/components/icons/IconFacing'),
            IconCar: () => import('@/components/icons/IconCar'),
            IconSale: () => import('@/components/icons/IconSale'),
            IconSun: () => import('@/components/icons/IconSun'),
            IconHighCeiling: () => import('@/components/icons/IconHighCeiling'),
            IconWindow: () => import('@/components/icons/IconWindow'),
            VTag,
            Compass,
        },

        props: {
            lot: {
                type: Object,
                default: () => ({})
            }
        },


        computed: {
            lotTitle() {
                let title;
                switch (this.realtyType) {
                    case 'flat':
                        title = this.lot.rooms === 0
                            ? 'Студия'
                            : this.lot.euro
                                ? `${this.lot.rooms}-евро`
                                : `${this.lot.rooms}-ком.`;
                        break;
                    case 'parking':
                        title = 'Паркинг';
                        break;
                    default:
                        title = 'Помещение';
                }
                title += ` ${this.lot.area ? this.lot.area.toLocaleString() : ''} м<sup>2</sup>`;

                return title;
            },

            labelIcon() {
                if (this.saleValue) {
                    return '/images/pdf/action.svg';
                }
                if (this.lot.hasParking) {
                    return '/images/pdf/car.svg';
                }

                if (this.lot.facing) {
                    return '/images/pdf/otdelka.svg';
                }

                return false;
            },

            features() {
                const tags = [];
                if (this.lot.hasParking) {
                    tags.push({
                        label: 'Паркинг в подарок',
                        icon: 'IconCar',
                    });
                }
                if (this.lot.isSunSide) {
                    tags.push({
                        label: 'Солнечная сторона',
                        icon: 'IconSun',
                    });
                }
                if (this.lot.hasHighCeiling) {
                    tags.push({
                        label: 'Высокие потолки',
                        icon: 'IconHighCeiling',
                    });
                }
                if (this.lot.hasPanoramicWindows) {
                    tags.push({
                        label: 'Панорамные окна',
                        icon: 'IconWindow',
                    });
                }
                return tags;
            },

            tags() {
                const tags = [];
                if (this.lot.hasParking) {
                    tags.push({
                        name: 'Паркинг в подарок',
                        color: 'gradient',
                    });
                }
                if (this.lot.hasView) {
                    tags.push('Видовая');
                }
                if (this.lot.hasTerrace) {
                    tags.push('С террасой');
                }
                if (this.lot.hasHighCeiling) {
                    tags.push('Высокие потолки');
                }
                if (this.lot.isDuplex) {
                    tags.push('Двухуровневая');
                }
                if (this.lot.facing) {
                    tags.push('С отделкой');
                }
                if (this.lot.hasPanoramicWindows) {
                    tags.push('Панорамные окна');
                }
                if (this.lot.promoEnd) {
                    //
                }
                return tags;
            },

            azimuth() {
                return this.lot.building?.compassAzimuth ? this.lot.building.compassAzimuth : 0;
            },

            lotDefaultPlan() {
                return this.lot.plan ? this.lot.plan : '/images/flat/flat-placeholder.svg';
            },
        }
    };
</script>

<style lang="scss" module>
    .LotHeader {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $base-100;
        padding-top: 30px * $pdfSize;
    }

    .left {
        display: flex;
        flex-direction: column;
    }

    .article {
        margin-bottom: 8px * $pdfSize;
        font-size: 8px * $pdfSize;
        color: $base-200;
    }

    .title {
        display: inline-block;
        position: relative;
        margin-right: auto;
        margin-bottom: 10px * $pdfSize;

        &_text {
            font-weight: 500;
            font-size: 24px * $pdfSize;
            color: $base-500;
        }

        sup {
            top: -.6em;
            font-size: 60%;
        }
    }

    .titleIcon {
        position: absolute;
        right: 0;
        bottom: -16px;
        transform: translateX(60%);
    }

    .tag {
        display: table;
        position: relative;
        padding: 4px * $pdfSize 8px * $pdfSize;
        margin-bottom: 4px * $pdfSize;
        white-space: nowrap;
        color: #fcfcfc;
        background: -webkit-gradient(linear, left top, right top, from(#92278f), color-stop(57.99%, #c6168d), to(#ed1c24));
        background: linear-gradient(90deg, #92278f 0%, #c6168d 57.99%, #ed1c24 100%);
        border-radius: 6px;
    }

    .right {
        width: 120px * $pdfSize;
        margin-left: auto;
    }

    .firstPayment {
        border-radius: 6px;
        border: 1px solid $base-100;

        &_wrap {
            margin-bottom: 4px * $pdfSize;
        }
    }

    .compass {
        position: absolute;

        &_icon {
            width: 54px * $pdfSize;
            height: 54px * $pdfSize;
        }
    }

    .box {
        height: 262px * $pdfSize;
    }

    .plan {
        display: block;
        height: 100%;
        margin: 0 auto;

        &_wrap {
            width: 100%;
            padding: 35px 0;
        }
    }

    .features {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 24px * $pdfSize;
    }

    .feauturesItem {
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
            margin-right: 27px * $pdfSize;
        }

        & > svg {
            width: 42px * $pdfSize;
            height: 42px * $pdfSize;
            flex-shrink: 0;
        }
    }

    .feauturesLabel {
        font-size: 10px * $pdfSize;
        color: $base-500;
    }

    .feauturesIcon {
        margin-right: 12px * $pdfSize;
        border-radius: 50%;
        border: 1px solid $base-100;
    }

</style>
